{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Tutor" %} : {% trans "Schedule" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/tutoring/tutor_schedule.css' %}" />
<link rel="stylesheet" href="{% static 'css/tutor/tutor_reservation.css' %}" />

<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
<!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
<script>

  $(function() {

//     $( "#from-date" ).datepicker();
//     $( "#to-date" ).datepicker();

  });
</script>

<div class="tutor-schedule-content" ng-app="tsApp" ng-controller="tsController" ng-init="schedule = {{ schedule }}; initSchedule(); setWeekday(); initDisplay({{display}})">
	<div class="tutor-schedule-main">
		<div class="col-xs-2">
			{% include 'tutoring/tutoring_menu.html' %}
		</div>
		<div class="col-xs-10" style="background-color: white;">
			<div class="tutor-schedule-tabs">
				<div class="tutor-schedule-tab" ng-class="scheduleView == 0 ? 'selected-tab' : ''" ng-click="showWeek()">{% trans "Standard Week" %}</div>
				<div class="tutor-schedule-tab" ng-class="scheduleView == 1 ? 'selected-tab' : ''" ng-click="showCalendar()">{% trans "Calendar" %}</div>
				<div class="tutor-schedule-tab" ng-class="scheduleView == 3 ? 'selected-tab' : ''" ng-click="showAvailability()">{% trans "Availability" %}</div>
<!-- 				<div class="tutor-schedule-tab" ng-class="scheduleView == 2 ? 'selected-tab' : ''" ng-click="showDateRange()">Delete<Br>Date Range</div> -->
			</div>
			<div class="ts-desc" ng-click="showData()" ng-if="scheduleView == 0">
				{% trans "Set your available time for your standard week. When you click 'Apply', the times you set as available will repeat every week on the Calendar view. If there is much variation in your schedule, you can set your schedule just on the Calendar view. Otherwise, you can apply the standard week first and edit specific days on the Calendar view." %}
			</div>
			<div class="tr-schedule-template" ng-if="scheduleView == 0">
			<div class="ts-mobile-desc" ng-click="showData()" ng-if="scheduleView == 0">
				{% trans "Set your available time for your standard week. When you click 'Apply', the times you set as available will repeat every week on the Calendar view." %}
			</div>
				<div id="schedule-template">
					<table id="tr-shchedule" class="schedule-table" ng-init="getTbodyHeight()">
						<thead>
							<tr>
								<th ng-style="{'width':'92px'}">GMT {{ request.session.utc_time }}</th>
								<th ng-style="{'width':tdWidth}" ng-repeat="day in schedule.week_schedule">[[ weekList[day.day_of_week -1] ]]</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-style="{'height':'14px'}" ng-repeat-start="t in [].constructor(24) track by $index">
								<td rowspan=2 ng-if="$index == 0" ng-style="{'width':'92px'}">12:00 AM</td>
								<td rowspan=2 ng-if="($index != 0) && ($index != 12) && $index < 12">[[ $index%12 ]]:00 AM</td>
								<td rowspan=2 ng-if="$index != 0 && $index != 12 && $index > 12">[[ $index%12 ]]:00 PM</td>
								<td rowspan=2 ng-if="$index == 12">12:00 PM</td>
								<td class="hoverarea" 
								ng-style="{'width':tdWidth}" 
								ng-repeat="weekDay in schedule.week_schedule" 
								ng-init="area[2*$parent.$index][$index].value = initAreaValue($index, 2*$parent.$index) ; area[2*$parent.$index][$index].state = initAreaState($index, 2*$parent.$index)" 
								ng-class="[area[2*$parent.$index][$index].state == 1 ? 'available-td' : '', area[2*$parent.$index][$index].selectedState == 1 ? 'selected-add-td' : area[2*$parent.$index][$index].selectedState == 2 ? 'selected-delete-td' : ''] " 
								ng-click="selectArea(2*$parent.$index, $index)" 
								ng-mouseover="checkArea(2*$parent.$index, $index)" 
								ng-mouseleave="resetIsHover(2*$parent.$index, weekDay)"></td>
							</tr>
							<tr ng-style="{'height':'14px'}" ng-repeat-end>
								<td class="hoverarea" ng-repeat="weekDay in schedule.week_schedule" ng-init="area[2*$parent.$index+1][$index].value = initAreaValue($index, 2*$parent.$index+1) ; area[2*$parent.$index+1][$index].state = initAreaState($index, 2*$parent.$index+1)" ng-class="[area[2*$parent.$index+1][$index].state == 1 ? 'available-td' : '', area[2*$parent.$index+1][$index].selectedState == 1 ? 'selected-add-td' : area[2*$parent.$index+1][$index].selectedState == 2 ? 'selected-delete-td' : '']" ng-click="selectArea(2*$parent.$index+1, $index)" ng-mouseover="checkArea(2*$parent.$index+1, $index)" ng-mouseleave="resetIsHover(2*$parent.$index+1, weekDay)"></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td ng-style="{'width':'92px'}">GMT {{ request.session.utc_time }}</td>
								<td ng-style="{'width':tdWidth}" ng-repeat="day in schedule.week_schedule">[[ weekList[day.day_of_week -1] ]]</td>
							</tr>
						</tfoot>
					</table>
					<div class="tr-desc" ng-if=" reservation.lesson.type == 0">{% trans "Are you sure to make an appointment at this time?" %}</div>
					<div class="tr-desc" ng-if=" reservation.lesson.type == 0">[[ dateString ]]</div>
				</div>
				
				
				<div style="padding: 10px;"></div>
				<div style="width:200px; margin: 0 auto;"> 
				<div class="tellpin-grey-flat-button apply-button bg-gray f13" ng-click="cancelSchedule()">{% trans "Cancel" %}</div> 
				<div class="tellpin-flat-button h24 bg-blue apply-button f13" ng-click="applySchedule()">{% trans "Apply" %}</div>
				<div ng-if="updateLoading"><img src="{% static 'img/ajax-loader.gif' %}"></div>
				</div>
				<div style="padding: 50px;"></div>
				
			</div>
			
	<!-- 		Calendar          -->
			<div id="schedule-calendar" ng-if="scheduleView == 1">
				<div class="calendar-date-info ">
					<div class="calendar-prev-btn" ng-click="goPreviousMonth()">
						<span>< {% trans "Previous Month" %}</span>
						<span> < {% trans "Prev" %} </span>
					</div>
					<div class="calendar-month-info" ng-click="showData()">[[ month | scheduleHeaderFiler]] [[ year ]]</div>
					<div class="calendar-next-btn" ng-click="goNextMonth()">
						<span>{% trans "Next Month" %} ></span>
						<span> {% trans "Next" %} > </span>
					</div>
				</div>
				<div class="tutor-schedule-week-days">
					<div class="tutor-schedule-day">{% trans "Sunday" %}</div><div class="tutor-schedule-day">{% trans "Monday" %}</div><div class="tutor-schedule-day">{% trans "Tuesday" %}</div>
					<div class="tutor-schedule-day">{% trans "Wednesday" %}</div><div class="tutor-schedule-day">{% trans "Thursday" %}</div><div class="tutor-schedule-day">{% trans "Friday" %}</div>
					<div class="tutor-schedule-day">{% trans "Saturday" %}</div>
				</div>
				<div class="calendar-month">
					<div class="calendar-week"  ng-repeat="week in monthInfo">
						<div class="calendar-day" ng-repeat="date in week track by $index" ng-mouseover="setHoverDay(date)" ng-mouseleave="setHoverDay(-1)">
							<div class="calendar-day-date" ng-if="date != 0">[[date]]</div>
							<div class="calendar-timelist" ng-if="date != 0">
								<div class="calendar-time" ng-repeat="t in [].constructor(48) track by $index" ng-init="timeRow[date][$index] = setTimeRow(date, $parent.$parent.$index, $index)" ng-show="timeRow[date][$index] == 1" ng-mouseover="setHoverTime($index)" ng-mouseleave="setHoverTime(-1)">
								[[ $index | getIndexToTime]] - [[ $index+1 | getIndexToTime]]<img style="width: 14px; height: 14px;" src="{% static 'img/tutor/button_wastebasket.png' %}" ng-if="hoverDay == date && hoverTime == $index" ng-click="deleteSchedule(date, $parent.$parent.$index, $index)"></div>
							</div>
							<div class="tutor-schedule-add" ng-show="hoverDay == date">
								<a ng-click="addTime($event,date, $index)"><img src="{% static 'img/tutor/button_add.png' %}">{% trans "Add" %}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tellpin-flat-button h24 bg-orange delete-date-range" ng-click="showDateRangePopup()">
					{% trans "Delete Date Range" %}
				</div>
				<div id="schedule-mobile-calendar" ng-init="setMobileCalendar()">
					<div class="mobile-calendar-header-row">
						<div class="mobile-date-info">
							{% trans "Date" %}
						</div>
						<div class="mobile-time-list">
							{% trans "Available Time" %}
						</div>
						<div class="mobile-time-btnset">
						</div>
					</div>
					<div class="mobile-calendar-scroll-area">
						<div class="mobile-calendar-row" ng-repeat="date in mobileMonthInfo track by $index" ng-if="date != 0">
							<div class="mobile-date-info">
								<div class="mobile-date">[[date]]</div>
								<div class="mobile-day">[[ $index%7 | getDay ]]</div>
							</div>
							<div class="mobile-time-list">
								<div class="mobile-time-am">
									<div class="mobile-time-row" ng-repeat="t in [].constructor(24) track by $index" ng-show="timeRow[date][$index] == 1">
										<div class="mobile-time-string">[[ $index | getIndexToTime]] - [[ $index+1 | getIndexToTime]]</div>
										<div class="mobile-time-cancel-btn">
											<img src="{% static 'img/tutor/button_cancel.png' %}" ng-show="deleteDate == date" ng-click="deleteSchedule(date, $parent.$parent.$index%7 , $index)">
										</div>
									</div>
								</div>
								<div class="mobile-time-pm">
									<div class="mobile-time-row" ng-repeat="t in [].constructor(24) track by $index" ng-show="timeRow[date][$index+24] == 1">
										<div class="mobile-time-string">[[ $index+24 | getIndexToTime]] - [[ $index+25 | getIndexToTime]]</div>
										<div class="mobile-time-cancel-btn">
											<img ng-src="{% static 'img/tutor/button_cancel.png' %}" ng-show="deleteDate == date" ng-click="deleteSchedule(date, $parent.$parent.$index%7, $index + 24)">
										</div>
									</div>
								</div>
							</div>
							<div class="mobile-time-btnset">
								<div class="mobile-time-add" ng-click="addMobileTime(date, $index%7)">
									<img ng-src="{% static 'img/tutor/button_plus.png' %}">
								</div>
								<div class="mobile-time-delete" ng-click="showDeleteButtons(date)">
									<img ng-src="{% static 'img/tutor/button_minus.png' %}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="scheduleView == 3">
				<div class="available">
					<div class="available-label">{% trans "Availability" %}</div>
					<div class="available-radio-row">
						<div class="available-radio-button" ng-click="clickAvailable( 'on' )">
							<div ng-class="is_available == 1 ? 'radio-checked' : ''"></div>
						</div>
						<div class="">{% blocktrans %}I'm looking for new students. <br>Include me in 'Tutors List'.{% endblocktrans %}</div>
					</div>
					<div class="available-radio-row">
						<div class="available-radio-button" ng-click="clickAvailable( 'off' )">
							<div ng-class="is_available == 0 ? 'radio-checked' : ''"></div>
						</div>
						<div class="">{% blocktrans %}I'm not looking for new students. <br>Hide me from 'Tutors List'.{% endblocktrans %}</div>
					</div>
					<div class="available-save-bt h24 bg-blue" ng-click="saveAvailability()">{% trans "Save" %}</div>
				</div>
				<div class="schedule-comment">
					<div class="schedule-comment-label">{% trans "Comment on Schedule" %}</div>
					<div class="schedule-comment-label-1"> {% trans "- This will show right below the 'View schedule' button on your tutor profile page." %}</div>
					<textarea class="schedule-comment-text" ng-model="$parent.schedule_comment" kr-input rows="4"  maxlength="100" ng-maxlength="100" placeholder="[[ strings.labels.schedule_comment ]]" ng-trim="false"></textarea>
					<div class="schedule-comment-wordcount">[[ schedule_comment ? schedule_comment.length : '0' ]]/100 &nbsp; </div>
					<div class="available-save-bt h24 bg-blue" ng-click="saveScheduleCommnet()">{% trans "Save" %}</div>
				</div>
			</div>
			<div id="mobile-date-range" ng-show="scheduleView == 2">
				<div class="date-range-title">{% trans "Delete Date Range" %}</div>
				<div class="date-range-desc">
					{% blocktrans %}If you want to delete all time availability slots for<br>
					a certain period of dates, submit the period.{% endblocktrans %}
				</div>
				<div class="mobile-date-range-content">
					{% blocktrans %}From <input type="date" id="mobile-from-date"> - To <input type="date" id="mobile-to-date">{% endblocktrans %}
				</div>
				<div class="date-range-btn">
					<div class="tellpin-red-button date-range-mobile-submit" ng-click="deleteDateRangeForMobile()">{% trans "Submit" %}</div>
				</div>
			</div>
			<div class="popup-backdrop" ng-show="dateRangePopup == 1" ng-click="dateRangePopup = 0"></div>
			<div id="date-range-popup" ng-show="dateRangePopup == 1" ng-init="dateRangeContent = 0">
				<div class="date-range-title">{% trans "Delete Date Range" %}</div>
				<div class="date-range-content" ng-show="dateRangeContent == 0">
<!-- 					<input type="text" id="from-date" readonly> - <input type="text" id="to-date" readonly> -->
					<div class="detail-row detail-row-date">
						<input type="text" id="from-date" placeholder="YYYY/MM/DD" class="account-date" readonly
							uib-datepicker-popup ng-model="start" is-open="startDate" popup-placement="bottom-left"
							datepicker-options="startDateOptions" /> <span
							class="hover-pointer"><img style="width: 18px; height: 20px;"
							src="{% static 'img/tutor/schedule.png' %}" alt=""
							ng-click="openCalendarStartDate()" /></span> <span style="margin-right: 5px;">~</span>
						<input type="text" id="to-date" placeholder="YYYY/MM/DD" class="account-date" readonly
							uib-datepicker-popup ng-model="end" is-open="endDate" popup-placement="bottom-left"
							datepicker-options="endDateOptions" /> <span
							class="hover-pointer"><img style="width: 18px; height: 20px;"
							src="{% static 'img/tutor/schedule.png' %}" alt=""
							ng-click="openCalendarEndDate()" /></span>
					</div>
				</div>
				<div class="date-range-content2" ng-show="dateRangeContent == 1">
					{% blocktrans %}<span>All your time availability slots from [[ fromDateToTime | displayDate ]] to [[ toDateToTime | displayDate ]] will be deleted</span><br>
					Are you sure?{% endblocktrans %}
				</div>
				<div class="date-range-content3" ng-show="dateRangeContent == 2">
					<uib-progressbar class="progress-striped active" max="100" value="dynamic" type="[[ type ]]"><span style="color:white; white-space:nowrap;" ng-show="dynamic == 100">{% trans "Success" %}</span></uib-progressbar>
				</div>
				<div class="date-range-btn text-center">
					<div class="tellpin-flat-button bg-gray date-range-cancel f13" ng-click="dateRangePopup = 0" ng-hide="dateRangeContent == 2">{% trans "Cancel" %}</div>
					<div class="tellpin-flat-button bg-blue date-range-submit f13" ng-click="deleteDateRange()" ng-show="dateRangeContent == 1">{% trans "Yes" %}</div>
					<div class="tellpin-flat-button bg-blue date-range-submit f13" ng-click="getDateRange()" ng-show="dateRangeContent == 0">{% trans "Submit" %}</div>
				</div>
			</div>
			<div id="tutor-add-popup" ng-init="addDate= -1" ng-show="addDate != -1 && isMobile == 0">
				<div class="tutor-add-popup-content">
					{% blocktrans %}<div class="add-popup-label">From</div>
					<select ng-model="fromTime">
					    <option ng-repeat="time in fromTimes" value="[[time]]">
							[[ time | getIndexToTime ]]
					    </option>
					</select>
					<div class="add-popup-label">To</div>
					<select ng-model="toTime">
					    <option ng-repeat="time in toTimes" value="[[time]]">
							[[ time | getIndexToTime ]]
					    </option>
					</select>{% endblocktrans %}
				</div>
				<div class="tutor-add-popup-btn">
					<div class="tr-btn-gray bg-gray add-pupup-cancle" ng-click="cancelTime()">{% trans "Cancel" %}</div><div class="tr-btn-green bg-blue add-pupup-add" ng-click="addCalendarSchedule()">{% trans "Add" %}</div>
				</div>
			</div>
			
			<div class="tutor-add-mobile-backdrop" ng-show="addDate != -1 && isMobile == 1" ng-click="addDate = -1"></div>
			<div id="tutor-add-mobile-popup" ng-init="addDate= -1" ng-show="addDate != -1 && isMobile == 1">
				<div class="mobile-popup-date">[[ month | scheduleHeaderFiler]] [[addDate]], [[ year ]]</div>			
				<div class="tutor-add-popup-content">
					{% blocktrans %}<div class="add-popup-label">From</div>
					<select ng-model="fromTime">
					    <option ng-repeat="time in fromTimes" value="[[time]]">
							[[ time | getIndexToTime ]]
					    </option>
					</select>
					<div class="add-popup-label">To</div>
					<select ng-model="toTime">
					    <option ng-repeat="time in toTimes" value="[[time]]">
							[[ time | getIndexToTime ]]
					    </option>
					</select>{% endblocktrans %}
				</div>
				<div class="tutor-add-popup-btn">
					<div class="tr-btn-gray add-pupup-cancle" ng-click="cancelTime()">{% trans "Cancel" %}</div><div class="tr-btn-green add-pupup-add" ng-click="addCalendarSchedule()">{% trans "Add" %}</div>
				</div>
			</div>
			<div id="mobile-loader" ng-show="mobileLoader == 1"><img ng-src="{% static 'img/ajax_loading.gif' %}"></div>
				
		</div>
	</div>
	
<!-- 	Mobile   -->
</div>

<script type="text/javascript" src="{% static 'js/tutoring/tutor_schedule.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angularjs/ui-bootstrap-tpls-1.2.1.min.js' %}"></script>
{% endblock %}