<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<div class="row">
	<div class="tutor-side">
		<div class="side-top">
			<ul ng-if="!myPage">
				<li style="margin-right: 3px;">
					{% if request.session.email %}
					<button class="h24 bg-blue" ng-click="openMessageModal()" ng-disabled="myPage" style="width: 131px !important;"> <img style="width: 19px; height: 19px;" alt="" src="{% static 'img/icon_message.png' %}">{% trans "Send Message" %}</button>
					{% else %}
					<button class="h24 bg-blue" ng-click="goUrlAfterLogin('/tutor/'+ [[tutor.user]])" ng-disabled="myPage" style="width: 131px !important;"> <img style="width: 19px; height: 19px;" alt="" src="{% static 'img/icon_message.png' %}">{% trans "Send Message" %}</button>
					{% endif %}
				</li>
				<li>
				{% if request.session.email %}
				<button id="followBtn" class="h24" style="width: 131px !important; padding: 1px 6px;" ng-class="{ 'bg-gray' : tutor.is_bookmark == 0, 'bg-orange' : tutor.is_bookmark == 1 }" type="button" ng-click="setBookmark( tutor.user )" ng-disabled="myPage"><img style="width: 20px; height: 19px;" ng-if="tutor.is_bookmark == 1" src="{% static 'img/tutor/icon_bookmark.png' %}">
					<span ng-if="tutor.is_bookmark == 0">{% trans "Bookmark" %}</span>
					<span ng-if="tutor.is_bookmark == 1">{% trans "Bookmarked" %}</span>
				</button>
				{% else %}
				<button id="followBtn" class="h24" style="width: 131px !important; padding: 1px 6px;" ng-class="{ 'bg-gray' : tutor.is_bookmark == 0, 'bg-orange' : tutor.is_bookmark == 1 }" type="button" ng-click="goUrlAfterLogin('/tutor/'+ [[tutor.user]])" ng-disabled="myPage"><img style="width: 20px; height: 19px;" ng-if="tutor.is_bookmark == 1" src="{% static 'img/tutor/icon_bookmark.png' %}">
				<span ng-if="tutor.is_bookmark == 0">{% trans "Bookmark" %}</span>
				<span ng-if="tutor.is_bookmark == 1">{% trans "Bookmarked" %}</span>
				</button>
				{% endif %}
					<button class="unfollow-btn" type="button" ng-mouseleave="removeBookmarkHover()" ng-click="removeBookmark( tutor.user )" ng-disabled="myPage">{% trans "Bookmark" %}</button>
				</li>
				<li class="etc-area">
				{% if request.session.email %}
					<div class="dropdown">
						<button class="report-btn" ng-click="openReportModal( 1 )"><img style="width: 15px; height: 15px;" src="{% static 'img/tutor/icon_warning_15x15.png' %}" alt="" tooltip title="report" /></button>
						<!-- <button class="etc dropdown-toggle" ng-disabled="myPage" type="button" id="dropdownMenu1" data-toggle="dropdown" ara-expanded="true"><span class="glyphicon glyphicon-option-vertical"></span></button>					
						<ul class="dropdown-menu" role="menu" aria-labelledy="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="openReportModal( 1 )">Report</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addHide( 1 )">Hide</a></li>
						</ul> -->
					</div>
				{% else %}
				    <div class="dropdown">
						<button class="report-btn" ng-click="openReportModal( 1 )"><img style="width: 15px; height: 15px;" src="{% static 'img/tutor/icon_warning_15x15.png' %}" alt="" tooltip title="report" /></button>
						<!-- <button class="etc dropdown-toggle" ng-disabled="myPage" type="button" id="dropdownMenu1" data-toggle="dropdown" ara-expanded="true"><span class="glyphicon glyphicon-option-vertical"></span></button>					
						<ul class="dropdown-menu" role="menu" aria-labelledy="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="openReportModal( 1 )">Report</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addHide( 1 )">Hide</a></li>
						</ul> -->
					</div>
				{% endif %}
				</li>
				<li class="divClearfix" style="float: none;"></li>
			</ul>
			<button class="follow-btn" ng-if="myPage" ng-click="clickEditProfile()" style="width: 100%; color: #585858; background-color: #fcfcfc;">{% trans "Edit Profile" %}</button>
		</div>
		<div class="side-how side-trial" ng-show="tutor.has_trial == 1">
			<div class="side-course" >
				<div class="course-left side-how-title">
					<span class="f-gray-33 f14">{% trans "Trial" %}</span>
				</div>
				<div class="course-right" ng-show="tutor.has_trial == 1">
					<p class="course-font f14 f-gray-33">[[ tutor.trial_price ]]TC / 30{% trans "min" %}</p>
					<div class="div-course-font f13 f-gray-64">≈ [[ tutor.trial_price * 100 | number ]] [[ tutor.currency ]]</div>
				</div>
				<div class="course-right" ng-show="tutor.has_trial == 0">
					<p class="course-font f14 f-gary-33">{% trans "Not available" %}</p>
				</div>
				<div class="divClearfix"></div>
				<div class="course-btn-area"><!-- check_balance(angular.element(this).scope().tutor.trial_price, angular.element(this).scope().tutor.trial_price); -->
					{% if request.session.email %}
					<form id="form_trial" action="/tutor/reservation/how/" method="post" >
						<input type="hidden" name="tid" ng-value="tutor.user" />
						<input type="hidden" name="accessType" ng-value="2" />					
						<button class="h26 bg-green" style="width: 100%;" ng-disabled="tutor.has_trial == 0 || myPage" ng-click="bookTrialLesson()" type="button">{% trans "Book your trial" %}</button>
					</form>
					{% else %}
					<button class="h26 bg-green" style="width: 100%;" ng-disabled="tutor.has_trial == 0 || myPage" ng-click="goUrlAfterLogin('/tutor/'+ [[tutor.user]])" type="button">{% trans "Book your trial" %}</button>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="side-how side-rate" ng-show="lessons.length != 0">
			<div class="side-course">
				<div class="course-left side-how-title">
					<span class="f-gray-33 f14">{% trans "Hourly Rate" %}</span>
				</div>
				<div class="course-right">
					<p class="course-font f14 f-gray-33" style="float: none;">[[ tutor.lesson_min_price ]]<span ng-if="tutor.lesson_min_price != tutor.lesson_max_price"> ~ [[ tutor.lesson_max_price ]]</span>TC</p>
					<div class="div-course-font f13 f-gray-64">≈ [[ tutor.lesson_min_price * 100 | number ]]<span ng-if="tutor.lesson_min_price != tutor.lesson_max_price"> ~ [[ tutor.lesson_max_price * 100 | number ]]</span> [[ tutor.currency ]]</div>
					<div class="clear"></div>
				</div>
				<div class="divClearfix"></div>
				<div class="course-btn-area">
					{% if request.session.email %}
					<form action="/tutor/reservation/which/" method="post">
						<input type="hidden" name="tid" ng-value="tutor.user" />
						<input type="hidden" name="accessType" ng-value="0" />
						<button class="h26 bg-green" style="width: 100%;" type="submit" ng-disabled="myPage">{% trans "Book a Lesson!" %}</button>					
					</form>
					{% else %}
					<button class="h26 bg-green" style="width: 100%;" type="button" ng-click="goUrlAfterLogin('/tutor/'+ [[tutor.user]])" ng-disabled="myPage">{% trans "Book a Lesson!" %}</button>		
					{% endif %}
				</div>
			</div>
		</div>
		<div class="side-how side-schedule" style="border-color: #f47f51;">
			<div class="side-how-title">
				<span class="f-gray-33 f14">{% trans "Schedule" %}</span>
			</div>
			<div class="schedule-content">
				<!-- schedule image -->
				{% if request.session.email %} 
				<button type="button" class="h26 bg-orange" style="margin-bottom: 5px; background-color: #f47f51; width: 100%;" ng-click="showSchedulePopup(tutor.user)">{% trans "View Schedule" %}</button>
				{% else %}
				<button type="button" class="h26 bg-orange" style="margin-bottom: 5px; background-color: #f47f51; width: 100%;" ng-click="goUrlAfterLogin('/tutor/'+ [[tutor.user]])">{% trans "View Schedule" %}</button>
				{% endif %}
			</div>
			<div class="side-how-comment">
				<div class="comment-title">
					<span style="color: #f47f51;">[[tutor.schedule_comment]]</span>
				</div>
				<div class="comment-content">
					<br />
				</div>
			</div>
		</div>
	</div>
		
</div>





