<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<div class="profile-resume" ng-if="ratingInfo.entries.length != 0">
	<div class="profile-resume-title">
		<p>{% trans "Feedback" %}</p>
	</div>
	<div class="profile-rating-user">
		<div class="user-comment" ng-repeat="rating in ratingList">
			<div class="user-comment-img left-elem">
				<a href="/user/[[ rating.user_id ]]"><img ng-src="[[ rating.profile_photo ]]" alt="유저사진" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' /></a>
			</div>
			<div class="user-comment-info left-elem">
				<div class="comment-info-top">
					<span class="info-top-name"> [[ rating.name ]] </span> 
					<span class="info-top-rating">
						<img style="width: 100px; height: 20px;" ng-if="rating.rating == 0" ng-src="{% static 'img/tutor/icon_star_001.png' %}" alt="평점" />
						<img style="width: 100px; height: 20px;" ng-if="rating.rating == 1" ng-src="{% static 'img/tutor/icon_star_003.png' %}" alt="평점" />
						<img style="width: 100px; height: 20px;" ng-if="rating.rating == 2" ng-src="{% static 'img/tutor/icon_star_005.png' %}" alt="평점" />
						<img style="width: 100px; height: 20px;" ng-if="rating.rating == 3" ng-src="{% static 'img/tutor/icon_star_007.png' %}" alt="평점" />
						<img style="width: 100px; height: 20px;" ng-if="rating.rating == 4" ng-src="{% static 'img/tutor/icon_star_009.png' %}" alt="평점" />
						<img style="width: 100px; height: 20px;" ng-if="rating.rating == 5" ng-src="{% static 'img/tutor/icon_star_011.png' %}" alt="평점" />
					</span>
					{% if request.session.email %}
					<span class="info-top-when"> [[ rating.created_date | date : 'yyyy-MM-dd' : 'UTC' ]] </span>
					{% else %}
					<span class="info-top-when"> [[ rating.created_date | date : 'yyyy-MM-dd' ]] </span>
					{% endif %}
				</div>
				<div class="comment-info-middle">
					<span>[[ rating.comment ]]</span>
				</div>
				<div class="comment-info-bottom">
					<span class="cursor-hover" ng-if="rating.rating_count > 1 && moreFlag[$index]" ng-click="moreFlagToggle( $index, rating.rtid, rating.user_id )">{% blocktrans %}+[[ rating.rating_count - 1 ]] more{% endblocktrans %}</span>
					<span class="cursor-hover"style="margin-bottom: 5px; display:inline-block;" ng-if="rating.rating_count > 1 && !moreFlag[$index]" ng-click="moreFlagToggle( $index )">{% trans "Close" %}</span>
					<br />
					<div ng-if="!moreFlag[$parent.$index]" class="more-comment" ng-repeat="more in rating.moreRating">
						<div class="user-comment-info" >
							<div class="comment-info-top">
								<span class="info-top-name"> [[ rating.name ]] </span> 
								<span class="info-top-rating"> 
									<img style="width: 100px; height: 20px;" ng-if="more.rating == 0" ng-src="{% static 'img/tutor/icon_star_001.png' %}" alt="평점" />
									<img style="width: 100px; height: 20px;" ng-if="more.rating == 1" ng-src="{% static 'img/tutor/icon_star_003.png' %}" alt="평점" />
									<img style="width: 100px; height: 20px;" ng-if="more.rating == 2" ng-src="{% static 'img/tutor/icon_star_005.png' %}" alt="평점" />
									<img style="width: 100px; height: 20px;" ng-if="more.rating == 3" ng-src="{% static 'img/tutor/icon_star_007.png' %}" alt="평점" />
									<img style="width: 100px; height: 20px;" ng-if="more.rating == 4" ng-src="{% static 'img/tutor/icon_star_009.png' %}" alt="평점" />
									<img style="width: 100px; height: 20px;" ng-if="more.rating == 5" ng-src="{% static 'img/tutor/icon_star_011.png' %}" alt="평점" />
								</span> 
								<span class="info-top-when"> [[ more.created_date | date : 'yyyy-MM-dd' : 'UTC' ]] </span>
							</div>
							<div class="comment-info-middle">
								<span style="color: #585858;">[[ more.comment ]]</span>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="divClearfix"></div>
		</div>
	</div>
	<div class="profile-rating-page" ng-show="ratingLastPage.length > 1">
		<nav>
		  <ul class="pagination pagination-sm">
		    <li ng-class="{ 'disabled' : ratingInfo.page == 1 }">
		      <a ng-if="ratingInfo.page != 1" ng-click="getMoreRating( ratingInfo.page - 1)" aria-label="Previous">
		        <img style="width: 9px; height: 15px;" src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="ratingInfo.page == 1" >
		      	<img style="width: 9px; height: 15px;" src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
		      </a>
		    </li>
		    <li ng-repeat="rating in ratingLastPage" ng-class="{ 'active' : ratingInfo.page == rating }">
		    	<a ng-click="getMoreRating( rating )">[[ rating ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : ratingInfo.page == ratingInfo.last_page }">
		      <a ng-if="ratingInfo.page != ratingInfo.last_page" ng-click="getMoreRating( ratingInfo.page + 1)" aria-label="Next">
		        <img style="width: 9px; height: 15px;" src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="ratingInfo.page == ratingInfo.last_page">
		        <img style="width: 9px; height: 15px;" src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
</div>