<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<div class="profile-resume" ng-show="all.length > 0">
	<div class="profile-resume-title">
		<p>{% trans "Community Activities" %}</p>
	</div>
	<div class="tutor-info-community-tabs">
		<div class="tutor-info-tabs-row">
		<div class="tutor-info-tab short-tab long-tab" ng-class="selectedCommunityTab == 0 ? 'selected-tab':'' " ng-click="selectedCommunityTab = 0">{% trans "All" %}</div>
		<div class="tutor-info-tab short-tab long-tab" ng-class="selectedCommunityTab == 1 ? 'selected-tab':'' " ng-click="selectedCommunityTab = 1">{% blocktrans %}Language Learning<br>Board{% endblocktrans %}</div>
		<div class="tutor-info-tab short-tab long-tab" ng-class="selectedCommunityTab == 2 ? 'selected-tab':'' " ng-click="selectedCommunityTab = 2">{% blocktrans %}Translation &<br>Proofreading{% endblocktrans %}</div>
		<div class="tutor-info-tab short-tab long-tab" ng-class="selectedCommunityTab == 3 ? 'selected-tab':'' " ng-click="selectedCommunityTab = 3">{% blocktrans %}Language<br>Questions{% endblocktrans %}</div>
	</div>
		<div class="tutor-info-tab-content">

			<div class="tutor-info-all-list" ng-show="selectedCommunityTab == 0">
				<div class="tutor-info-community-tab-row" ng-repeat="post in all" ng-click="goCommunityDetail(post.category, post.id)">
					<div class="tutor-info-community-writer-img">
						<div class="tutor-info-left-online" ng-show="post.is_login == 1"></div>
						<img class="tutor-info-suggest-le-photo" ng-src="[[ post.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
					</div>
					<div class="tutor-info-community-post-info">
						<div class="tutor-info-community-post-desc"><div ng-class="post.best_answer_id == null ? 'tutor-info-point f12' : 'tutor-info-point-adopt-best f12' " ng-show="post.category != 'Board'">[[ post.best_answer_credit ]]</div>{% blocktrans %}<span>[[ post.name ]]</span> posted on <span>[[ post.category ]]</span>{% endblocktrans %}: <span>[[ post.title ]]</span></div>
						<div class="tutor-info-community-post-content">[[ post.contents | getText ]]</div>
						<div class="tutor-info-community-post-count">
							<div class="tutor-info-post-answer-comment" ng-style="post.category == 'Board' ? {'width':'25%'}:''">
								<span ng-show="post.category != 'Board'">{% blocktrans %}[[ post.answer_count ]] answer<span ng-show="post.answer_count > 1">s</span>{% endblocktrans %} &nbsp;&nbsp;&nbsp;</span> {% blocktrans %}[[ post.comment_count ]] comment<span ng-show="post.comment_count > 1">s</span>{% endblocktrans %}
							</div>
							<div class="tutor-info-post-language-time" ng-style="post.category == 'Board' ? {'width':'75%'}:''">
								[[ post.written_lang_name ]]
								<span ng-show="post.type == 'T'">&nbsp;>&nbsp;[[ post.translated_lang_name ]]</span>
								<span ng-show="post.category == 'Board'">{% blocktrans %}[[ post.learning_lang_name ]]<span ng-show="(post.learning_lang_name) != (post.explained_lang_name)">&nbsp;explained in&nbsp;[[ post.explained_lang_name ]]</span>{% endblocktrans %}</span> |&nbsp;&nbsp; [[ post.updated_time | displayTime ]]
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tutor-info-all-list" ng-show="selectedCommunityTab == 1">
				<div class="tutor-info-community-tab-row" ng-repeat="lb in LBs" ng-click="goURL('/board/'+[[lb.id]])">
					<div class="tutor-info-community-writer-img">
						<div class="tutor-info-left-online" ng-show="lb.is_login == 1"></div>
						<img class="tutor-info-suggest-le-photo" ng-src="[[ lb.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
					</div>
					<div class="tutor-info-community-post-info">
						<div class="tutor-info-community-post-desc">{% blocktrans %}<span>[[ lb.name ]]</span> posted on <span>[[ lb.category ]]</span>{% endblocktrans %}: <span>[[ lb.title ]]</span></div>
						<div class="tutor-info-community-post-content">[[ lb.contents | getText ]]</div>
						<div class="tutor-info-community-post-count"><div class="tutor-info-post-answer-comment" ng-style="lb.category == 'Board' ? {'width':'25%'}:''">{% blocktrans %}[[ lb.comment_count ]] comment<span ng-show="lb.comment_count > 1">s</span>{% endblocktrans %}</div><div class="tutor-info-post-language-time" ng-style="lb.category == 'Board' ? {'width':'75%'}:''">{% blocktrans %}[[ lb.learning_lang_name ]]<span ng-show="(lb.learning_lang_name) != (lb.explained_lang_name)">&nbsp;explained in&nbsp;[[ lb.explained_lang_name ]]</span>{% endblocktrans %} |&nbsp;&nbsp; [[ lb.updated_time | displayTime ]]</div></div>
					</div>
				</div>
			</div>

			<div class="tutor-info-all-list" ng-show="selectedCommunityTab == 2">
				<div class="tutor-info-community-tab-row" ng-repeat="tp in TPs" ng-click="goURL('/trans/'+[[tp.id]])">
					<div class="tutor-info-community-writer-img">
						<div class="tutor-info-left-online" ng-show="tp.is_login == 1"></div>
						<img class="tutor-info-suggest-le-photo" ng-src="[[ tp.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
					</div>
					<div class="tutor-info-community-post-info">
						<div class="tutor-info-community-post-desc"><div ng-class="tp.best_answer_id == null ? 'tutor-info-point f12' : 'tutor-info-point-adopt-best f12' ">[[ tp.best_answer_credit ]]</div>{% blocktrans %}<span>[[ tp.name ]]</span> posted on <span>[[ tp.category ]]</span>{% endblocktrans %}: <span>[[ tp.title ]]</span></div>
						<div class="tutor-info-community-post-content">[[ tp.contents | getText ]]</div>
						<div class="tutor-info-community-post-count"><div class="tutor-info-post-answer-comment">{% blocktrans %}[[ tp.answer_count ]] answer<span ng-show="tp.answer_count > 1">s</span>{% endblocktrans %} &nbsp;&nbsp;&nbsp; {% blocktrans %}[[ tp.comment_count ]] comment<span ng-show="tp.comment_count > 1">s</span>{% endblocktrans %}</div><div class="tutor-info-post-language-time">[[ tp.written_lang_name ]]<span ng-show="tp.type == 'T'">&nbsp;>&nbsp;[[ tp.translated_lang_name ]]</span> |&nbsp;&nbsp; [[ tp.updated_time | displayTime ]]</div></div>
					</div>
				</div>
			</div>

				<div class="tutor-info-all-list" ng-show="selectedCommunityTab == 3">
				<div class="tutor-info-community-tab-row" ng-repeat="lq in LQs" ng-click="goURL('/questions/'+[[lq.id]])">
					<div class="tutor-info-community-writer-img">
						<div class="tutor-info-left-online" ng-show="lq.is_login == 1"></div>
						<img class="tutor-info-suggest-le-photo" ng-src="[[ lq.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
					</div>
					<div class="tutor-info-community-post-info">
						<div class="tutor-info-community-post-desc"><div ng-class="lq.best_answer_id == null ? 'tutor-info-point f12' : 'tutor-info-point-adopt-best f12' ">[[ lq.best_answer_credit ]]</div>{% blocktrans %}<span>[[ lq.name ]]</span> posted on <span>[[ lq.category ]]</span>{% endblocktrans %}: <span>[[ lq.title ]]</span></div>
						<div class="tutor-info-community-post-content">[[ lq.contents | getText ]]</div>
						<div class="tutor-info-community-post-count"><div class="tutor-info-post-answer-comment">{% blocktrans %}[[ lq.answer_count ]] answer<span ng-show="lq.answer_count > 1">s</span>{% endblocktrans %} &nbsp;&nbsp;&nbsp; {% blocktrans %}[[ lq.comment_count ]] comment<span ng-show="lq.comment_count > 1">s</span>{% endblocktrans %}</div><div class="tutor-info-post-language-time">[[ lq.written_lang_name ]] |&nbsp;&nbsp; [[ lq.updated_time | displayTime ]]</div></div>
					</div>
				</div>
			</div>

		<div class="tutor-info-more-button btn btn-default" ng-show="selectedCommunityTab == 0 && AllShowMore" ng-click="getMoreCommunity( allPage + 1, 'all')">{% trans "Show more" %}</div>
		<div class="tutor-info-more-button btn btn-default" ng-show="selectedCommunityTab == 1 && LBShowMore" ng-click="getMoreCommunity( lbPage + 1, 'LB')">{% trans "Show more" %}</div>
		<div class="tutor-info-more-button btn btn-default" ng-show="selectedCommunityTab == 2 && TPShowMore" ng-click="getMoreCommunity( tpPage + 1, 'TP')">{% trans "Show more" %}</div>
		<div class="tutor-info-more-button btn btn-default" ng-show="selectedCommunityTab == 3 && LQShowMore" ng-click="getMoreCommunity( lqPage + 1, 'LQ')">{% trans "Show more" %}</div>
		</div>
	</div>
</div>