<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}
<style>

.level-style img {
	width: 19px;
	height: 15px;
}
.icon-style img {
	width: 24px;
	height: 22px;
}
.rating-style img {
	width: 100px;
	height: 20px;
}

</style>

<div class="tutorinfo-profile">
	<div class="profile-image">
		<div class="div-left-online" ng-class="{ 'login' : tutor.is_login == 1, 'not-login' : tutor.is_login != 1 }"></div>
		<img ng-src="[[ tutor.photo_filename ]]" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' alt="유저사진" class="tutor-image-radius profile-border" />
	</div>
	<div class="profile-info">
		<div class="profile-name">
			<span style="font-size: 20px;">[[ tutor.name ]]
				<img id="nation_img" ng-src="[[ tutor.country_filename ]]" alt="국가이미지" class="nation-image nation-border" tooltip title="[[ tutor.from_city_id ? tutor.from_city_id + ', ' : '' ]] [[ tutor.from_country_id ]]"/>
    		</span>
		</div>
		<div class="profile-teach">
			<span class="sub-title f13">{% trans "Teaches" %}</span>
			<span class="content f-gray-33 f13" ng-repeat="teach in tutor.teaches track by $index">
				[[ teach.language ]]<span ng-hide="$last">, </span>
			</span>
			<button type="button" class="bg-lblue h24 f12 f-gray-33" ng-click="switchProfile()" style="margin-left: 0px;">{% trans "Switch to User Profile" %}</button>
		</div>
        <div class="profile-nation">
            <span class="sub-title f13">{% trans "From" context "nation+city" %}</span>
            <span class="content f-gray-33 f13"> [[ tutor.from_country ]] </span>
        </div>
        <div class="profile-nation">
            <span class="sub-title f13">{% trans "Living in" context "nation+city" %}</span>
            <span class="content f13 f-gray-33"><span ng-show="tutor.livingin_city">[[ tutor.livingin_city ]], </span>[[ tutor.livingin_country ]]</span>
        </div>
		<div class="profile-language mobile-none level-style">
			<span class="sub-title f13">{% trans "Speaks" %}</span>
			<span ng-repeat="speak in tutor.speaks track by $index" class="tutor-language f13 f-gray-33">
				[[ speak.language ]]
				<img data-toggle="tooltip" title="Begginer" ng-if="speak.level == 1" src="{% static 'img/tutor/gauge_000.png' %}" alt="레벨표시" tooltip />
				<img data-toggle="tooltip" title="Elementary" ng-if="speak.level == 2" src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" tooltip />
				<img data-toggle="tooltip" title="Pre-intermediate" ng-if="speak.level == 3" src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" tooltip />
				<img data-toggle="tooltip" title="Intermediate" ng-if="speak.level == 4" src="{% static 'img/tutor/gauge_003.png' %}" alt="레벨표시" tooltip />
				<img data-toggle="tooltip" title="Upper intermediate" ng-show="speak.level == 5"src="{% static 'img/tutor/gauge_004.png' %}" alt="레벨표시" tooltip />
				<img data-toggle="tooltip" title="Advanced" ng-if="speak.level == 6" src="{% static 'img/tutor/gauge_005.png' %}" alt="레벨표시" tooltip />
				<img data-toggle="tooltip" title="Native" ng-if="speak.level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" tooltip /><span ng-show="!$last">, </span>
			</span>
		</div>
		<div class="profile-language mobile-row">
			<span class="sub-title">{% trans "Speaks" %}</span>
			<!-- <span class="tutor-language">[[ tutor.teaches[0].name ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" /></span> -->
			<span class="tutor-language" style="color: rgb(69, 99, 144);">[[ tutor.speaks[0].language ]]</span>
			<img ng-if="tutor.speaks[0].level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" /> ,
			<span ng-repeat="speak in tutor.speaks track by $index" class="tutor-language" ng-show="!$first">
				[[ speak.language ]]
				<img ng-if="speak.level == 1" src="{% static 'img/tutor/gauge_000.png' %}" alt="레벨표시" />
				<img ng-if="speak.level == 2" src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" />
				<img ng-if="speak.level == 3" src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" />
				<img ng-if="speak.level == 4" src="{% static 'img/tutor/gauge_003.png' %}" alt="레벨표시" />
				<img ng-show="speak.level == 5"src="{% static 'img/tutor/gauge_004.png' %}" alt="레벨표시" />
				<img ng-if="speak.level == 6" src="{% static 'img/tutor/gauge_005.png' %}" alt="레벨표시" />
				<img ng-if="speak.level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" /><span ng-show="!$last">, </span>
			</span>		
		</div>
	</div>
	<div class="div-tool-icon icon-style">
	   <span class="span-tool-icon" style="border-right: 0; padding-right: 0px; border-top-right-radius: 0; border-bottom-right-radius: 0;">
			<!-- <span ng-if="tutor.tool_list[0].offline == 1"><img src="{% static 'img/tutor/icon_offline.png' %}"></span> -->
			<span ng-if="tutor.audio_only == 0"><img src="{% static 'img/tutor/video_available.png' %}" tooltip data-toggle="tooltip" title="Video available"></span>
			<span ng-if="tutor.audio_only == 1"><img src="{% static 'img/tutor/no_video.png' %}" tooltip data-toggle="tooltip" title="No Video"></span>
	    </span>
	    <span class="span-tool-icon" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
	    	<span ng-if="tutor.skype_id != null"><img src="{% static 'img/tutor/icon_skype.png' %}" alt="" tooltip data-toggle="tooltip" title="Skype" /></span>
			<span ng-if="tutor.hangout_id != null" ><img src="{% static 'img/tutor/icon_hangout.png' %}" alt="" tooltip data-toggle="tooltip" title="Google Hangouts" /></span>
			<span ng-if="tutor.facetime_id != null" ><img src="{% static 'img/tutor/icon_facetime.png' %}" alt="" tooltip data-toggle="tooltip" title="Facetime" /></span>
			<span ng-if="tutor.qq_id != null"><img src="{% static 'img/tutor/icon_QQ.png' %}" alt="" tooltip data-toggle="tooltip" title="QQ" /></span>
	    </span>
	</div>
	<div class="divClearfix"></div>
	<div class="profile-rate-info rating-style">
		<img src="{% static 'img/tutor/icon_star_001.png' %}" alt="평점" class="img-star" ng-if="tutor.ave_rating >= 0 && tutor.ave_rating < 0.5" />
		<img src="{% static 'img/tutor/icon_star_002.png' %}" alt="평점" class="img-star" ng-if="tutor.ave_rating >= 0.5 && tutor.ave_rating < 1.0" />
		<img src="{% static 'img/tutor/icon_star_003.png' %}" alt="평점" class="img-star" ng-if="tutor.ave_rating >= 1.0 && tutor.ave_rating < 1.5" />
		<img src="{% static 'img/tutor/icon_star_004.png' %}" alt="평점" class="img-star" ng-if="tutor.ave_rating >= 1.5 && tutor.ave_rating < 2.0" />
		<img src="{% static 'img/tutor/icon_star_005.png' %}" alt="평점" class="img-star" ng-if="tutor.ave_rating >= 2.0 && tutor.ave_rating < 2.5" />
		<img src="{% static 'img/tutor/icon_star_006.png' %}" alt="평점" class="img-star" ng-if="tutor.ave_rating >= 2.5 && tutor.ave_rating < 3.0" />
		<img src="{% static 'img/tutor/icon_star_007.png' %}" alt="평점" class="img-star" ng-if="tutor.ave_rating >= 3.0 && tutor.ave_rating < 3.5" />
		<img src="{% static 'img/tutor/icon_star_008.png' %}" alt="평점" class="img-star" ng-if="tutor.ave_rating >= 3.5 && tutor.ave_rating < 4.0" />
		<img src="{% static 'img/tutor/icon_star_009.png' %}" alt="평점" class="img-star" ng-if="tutor.ave_rating >= 4.0 && tutor.ave_rating < 4.5" />
		<img src="{% static 'img/tutor/icon_star_010.png' %}" alt="평점" class="img-star" ng-if="tutor.ave_rating >= 4.5 && tutor.ave_rating < 5.0" />
		<img src="{% static 'img/tutor/icon_star_011.png' %}" alt="평점" class="img-star" ng-if="tutor.ave_rating >= 5.0" />
		<span class="lesson-count f13 f-gray-33">{% blocktrans %}[[ tutor.lessons ]] Lessons{% endblocktrans %}</span>
		<span class="f-gray-33 f13">{% blocktrans %}[[ tutor.tutees ]] Tutees{% endblocktrans %}</span>
	</div>
<!-- 
	<div class="profile-tag">
		<div class="profile-tag-elem" ng-repeat="tag in tutor.tag_list track by $index" >[[ tag ]]</div>
		<div class="divClearfix"></div>
	</div>
 -->

	<div class="mobile-row">
		<ul>
			<li class="message-area">
				<button class="message-btn" ng-click="openMessage()">{% trans "Send Message" %}</button>
			</li>
			<li class="follow-area">
				<button ng-if="tutor.is_follower == 0" id="followBtn" class="follow-btn" type="button" ng-click="setBookmark( tutor.tid )" >[[ followBtntxt ]]</button>
				<!-- <button ng-if="followBtn" class="following-btn" type="button" ng-mouseleave="followunHover()" ng-click="setBookmark( tutor.tid )">Following</button> -->
				<button ng-if="tutor.is_follower == 1" class="following-btn" type="button" ng-click="removeBookmark( tutor.tid )"  >{% trans "Following" %}</button>
				<!-- <button class="unfollow-btn" type="button" ng-mouseleave="removeBookmarkHover()" ng-click="removeBookmark( tutor.tid )">Unfollow</button> -->
			</li>
			<li class="etc-area">
				<img src="{% static 'img/tutor/schedule.png' %}" alt="" ng-click="showSchedulePopup( tutor.tid )" />
			</li>
			<div class="divClearfix"></div>
		</ul>
	</div>
	<div class="profile-intro">
		<p ng-bind-html="tutor.description" style="word-break: break-word; word-wrap: break-word;" class="f-gray-33 f13"></p>
	</div>
	<div class="tutorinfo-video">
		<iframe class="tutor-intro" width="100%"
			ng-src="[[ trustSrc( tutor.video_intro ) ]]" frameborder="0"
			allowfullscreen></iframe>
	</div>
</div>