{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
{% block title %}{% blocktrans %}Tutor {{ title }}{% endblocktrans %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/tutoring/tutor_mylesson.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/wallet/buy_coin.css' %}" />

<style>
.displaynone {
 	display: none; 
}

</style>
<div class="container" ng-controller="infoCtrl" ng-init="init( {{ data }} )">
	<div class="tutor-info-wrap">
		<div class="col-lg-8" style="width: 70%;">
			<!-- <div class="row">
				<div class="tutorinfo-video">
					<iframe class="tutor-intro" width="100%"
						ng-src="[[ trustSrc( tutor.video_intro ) ]]" frameborder="0"
						allowfullscreen></iframe>
				</div>
			</div> -->
	
			<div class="row">
				{% include 'tutor/tutor_info/tutor_info_userprofile.html' %}
			</div>
			
			<div class="mobile-row">
				{% include 'tutor/tutor_info/tutor_info_side.html' %}
			</div>

			<div class="row">
				{% include 'tutor/tutor_info/tutor_info_resume.html' %}
			</div>
	
			<div class="row">
				{% include 'tutor/tutor_info/tutor_info_lessons.html' %}
			</div>
	
			<div class="row">
				{% include 'tutor/tutor_info/tutor_info_community.html' %}
			</div>
	
			<div class="row">
				{% include 'tutor/tutor_info/tutor_info_statistics.html' %}
			</div>
	
			<div class="row">
				{% include 'tutor/tutor_info/tutor_info_ratings.html' %}
			</div>
		</div>
		<div class="col-lg-4 mobile-none" style="margin-top: 16px; width: 29.5%;">
			{% include 'tutor/tutor_info/tutor_info_side.html' %}
		</div>
		<div class="divClearfix"></div>
		<div id="tutor-schedule-template-backdrop" class="tutor-schedule-backdrop displaynone" ng-if="schedulePopup" ng-click="hideSchedulePopup()"></div>
		<div id="tutor-schedule-template" class="displaynone" ng-if="schedulePopup">
		{% include "tutor/tutor_reservation/tutor_schedule_table.html" %}
		</div>
		<div class="mobile-row schedule-close" ng-if="schedulePopup">
			<button class="btn btn-default" ng-click="hideSchedulePopup()">
				<span class="glyphicon glyphicon-remove" style="line-height: 20px;"></span>
			</button>
		</div>
		
	<!-- Message Modal -->
	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm message-modal">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{% blocktrans %}Message to [[ tutor.display_name ]]{% endblocktrans %}</h4>
				</div>
				<div class="modal-body">
					<div class="message-container scroll">
						<div class="messageModal-row">
							<p>{% trans "What kind of language skills are you particularly interested in?" %}</p>
							<select name="" id="messageKind" ng-model="messageKind" ng-change="messageUpdate( 0 )">
								<option value="" ng-selected="messageSelect_kind" disabled="disabled" >{% trans "Select one" %}</option>
								<option value="Alphabet/Phonics">{% trans "Alphabet/Phonics" %}</option>
								<option value="Pronunciation Correction">{% trans "Pronunciation Correction" %}</option>
								<option value="Conversation/Debate">{% trans "Conversation/Debate" %}</option>
								<option value="Listening">{% trans "Listening" %}</option>
								<option value="Reading">{% trans "Reading" %}</option>
								<option value="Writing">{% trans "Writing" %}</option>
								<option value="Vocabulary">{% trans "Vocabulary" %}</option>
							</select>
						</div>
						<div class="messageModal-row">
							<p>{% trans "How often are you planning to take lessons?" %}</p>
							<select name="" id="messageOften" ng-model="messageOften" ng-change="messageUpdate( 1 )">
								<option value="" ng-selected="messageSelect_often" disabled="disabled">{% trans "Select one" %}</option>
								<option value="Biweekly">{% trans "Biweekly" %}</option>
								<option value="Weekly">{% trans "Weekly" %}</option>
								<option value="2 Lessons a week">{% trans "2 Lessons a week" %}</option>
								<option value="3+ Lessons a week">{% trans "3+ Lessons a week" %}</option>
								<option value="I don't know">{% trans "I don't know" %}</option>
							</select>
						</div>
						<div class="messageModal-row">
							<p>{% trans "Why are you planning to take a lesson?" %}</p>
							<select name="" id="messageWhy" ng-model="messageWhy" ng-change="messageUpdate( 2 )">
								<option value="" ng-selected="messageSelect_why" disabled="disabled">{% trans "Select one" %}</option>
								<option value="Work">{% trans "Business" %}</option>
								<option value="Test">{% trans "Test" %}</option>
								<option value="Academic/School">{% trans "Academic/School" %}</option>
								<option value="Hobby">{% trans "Hobby" %}</option>
								<option value="Travel">{% trans "Travel" %}</option>
								<option value="Other">{% trans "Other" %}</option>
							</select>
						</div>
						<div class="messageModal-row">
							<p>{% trans "Personal Message (ex. Self introduction, Specific Request)" %}</p>
							<textarea name="" id="messageModel" cols="30" rows="10" style="resize: none;" ng-model="messageModel"></textarea>
						</div>
						<div style="text-align: center; margin-top: 20px;">
							<button type="button" class="bg-blue h24" style="width: 60px;" ng-click="sendMessage()">{% trans "Send" %}</button>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- ReportModal -->
	<div class="modal fade" id="reportModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm report-modal" style="width: 740px; ">
			<div class="modal-content" >
				<div class="modal-header" style="border-bottom: none;">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title f-orange" id="myModalLabel">{% trans "Report a Violation" %}</h4>
				</div>
				<div class="modal-body">
					<div class="report-container">
						<div class="report-body">
                            <p>
                                {% trans "If you see something on Tellpin that you believe violates our Terms and Tellpin Community Guidelines,
                                please report it to us. We promise you to take appropriate measures immediately." %}
                            </p>
                            <p>
                                {% trans "Violations include" %} :
                            </p>
                            <ul>
                                <li>
                                   {% trans " 1) Privacy violation" %}
                                </li>
                                <li>
                                   {% trans " 2) Harassment" %}
                                </li>
                                <li>
                                   {% trans " 3) Impersonation" %}
                                </li>
                                <li>
                                   {% trans " 4) Spam" %}
                                </li>
                                <li>
                                   {% trans " 5) Malicious speech" %}
                                </li>
                                <li>
                                   {% trans " 6) Posting Sexually explicit content, Shocking or disgusting content" %}
                                </li>
                                <li>
                                   {% trans " 7) Unlawful uses or content (phishing, fraud, threats, copyright or trademark infringement, etc.)" %}
                                </li>
                                <li>
                                   {% trans " 8) Intellectual property violations and more." %}
                                </li>
                            </ul>
                        </div>
                        <div class="report-detail">
                            {% trans "Please describe in detail" %} :
                        </div>
						<textarea name="" id="reportText" cols="50" rows="5" class="report-txt" ng-model="reportTxt"></textarea>
						<div style="text-align: center; margin-top: 20px;">
							<button type="button" class="h26 bg-blue" ng-click="sendReport()">{% trans "Submit" %}</button>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- hideModal -->
	<div class="modal fade" id="hideModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm hide-modal">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{% trans "Hide User" %}</h4>
				</div>
				<div class="modal-body" style="text-align: center;">
					<div class="hide-container">
						<p>{% trans "Are you sure you want to hide this tutor forever?" %}</p>
						<br />
						<button type="button" class="h24 bg-gray" ng-click="addHide( 0 )" style="margin-right: 5px; width: 70px;">{% trans "Cancel" %}</button>
						<button type="button" class="h24 bg-blue" ng-click="sendHide()" style="width: 70px;">{% trans "Yes" %}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- kihyun -->
	<div class="modal fade" id="checkBalance" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm hide-modal pay-wrapper">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{% trans "Buy Tellpin Credits!" %}</h4>
				</div>
				<div class="modal-body pay-container">
					<div class="container ">
						<div class="wrapper">
							<div class="div-row">
								<div class="title-left div-box">{% trans "Current Balance" %} [[coin_history[0].available_balance]]C</div>
								<div class="divClearfix"></div>
							</div>
							<div class="div-row">
								<div class="title-left">{% trans "1) How Many Tellpin Credits do you want to buy?" %}</div><div class="divClearfix"></div>
							</div>
							<div class="div-row">
								<div class="title-left">
									<select id="id_coin" onchange="change_coin()">
										<option value="50" selected="selected"> 50C = 5USD</option>
										<option value="100"> 100C = 10USD</option>
										<option value="150"> 150C = 15USD</option>
										<option value="1000"> 1000C = 100USD</option>
									</select>
								</div>
								<div class="divClearfix"></div>
							</div>
							<div class="div-row div-multi-row">
								<div class="title-left">
									{% blocktrans %}<div class="div-content">I you buy a larger amount of Tellpin Credits at once, you can reduce the processing fee which will be</div> 
									<div class="div-content">deducted by payment partners (e.g., Credit/Debit card, Paypal) </div>
									<div class="div-content"><a>See processing fee</a></div>{% endblocktrans %}  
								</div>
								<div class="divClearfix"></div>
							</div>
							<div class="div-row">
								<div class="title-left">{% trans "2) How will you pay?" %}</div>
								<div class="divClearfix"></div>
							</div>
							<div class="div-row div-pay">
								<div class="title-left ">
									<div class="div-row">
										<div class="title">{% trans "Name on card" %}</div>
										<div class="div-input"><input type="text" class="input"></div>
									</div>
									<div class="div-row">
										<div class="title">{% trans "Credit card number" %}</div>
										<div class="div-input"><input type="text" class="input"></div>
									</div>
									<div class="div-row">
										<div class="title">
											<div class="col-xs-5">{% trans "Month" %}</div>
											<div class="col-xs-1"></div>
											<div class="col-xs-3">{% trans "Year" %}</div>
											<div class="col-xs-1"></div>
											<div class="col-xs-2">{% trans "CVC" %}</div>
											<div class="divClearfix"></div>
										</div>
										<div class="div-input">
											<div class="col-xs-5"><input type="text" style="width: 100%;"></div>
											<div class="col-xs-1"></div>
											<div class="col-xs-3"><input type="text" style="width: 100%;"></div>
											<div class="col-xs-1"></div>
											<div class="col-xs-2"><input type="text" style="width: 100%;"></div>
											<div class="divClearfix"></div>
										</div>
									</div>
									<div class="div-row div-checkout">
										<a class="btn btn-default btn-checkout">{% trans "Complete Secure Checkout" %}</a>
									</div>
									<div class="div-row div-checkout">
										<a class="btn btn-default col-xs-2">Visa</a>
										<a class="btn btn-default col-xs-2">card</a>
										<a class="btn btn-default col-xs-2">BC</a>
										<a class="btn btn-default col-xs-2">Card</a>
										<a class="btn btn-default col-xs-2">MS</a>
										<a class="btn btn-default col-xs-2">Card</a>
										<div class="divClearfix"></div>
									</div>
									<div class="div-row div-checkout">
										{% trans "or" %}
									</div>
									<div class="div-row div-checkout">
										<a class="btn btn-default btn-checkout">{% trans "Complete Secure Checkout" %}</a>
									</div>
								</div>
								<div class="divClearfix"></div>
							</div>
							<div class="div-row">
								<div class="title-left">{% trans "3) Confirm your order" %}</div>
								<div class="divClearfix"></div>
							</div>
							<div class="div-row div-confirm">
								<div class="title-left ">
									<div class="div-row">
										<div class="title">{% trans "Previous Balance" %}</div>
										<div class="content" id="prev_coin">[[coin_history[0].available_balance]]</div>
										<div class="divClearfix"></div>
									</div>
									<div class="div-row">
										<div class="title">{% trans "Purchasing Tellpin Credits" %}</div>
										<div class="content" id="buy_coin"></div>
										<div class="divClearfix"></div>
									</div>
									<div class="div-row">
										<div class="title">{% trans "Balance after purchase" %}</div>
										<div class="content" id="after_coin"></div>
										<div class="divClearfix"></div>
									</div>
									<div class="div-row">
										<div class="title"></div>
										<div class="content"></div>
										<div class="divClearfix"></div>
									</div>
									<div class="div-row">
										<div class="title">{% trans "Purchasing Amount" %}</div>
										<div class="content" id="purchase_amount"></div>
										<div class="divClearfix"></div>
									</div>
									<div class="div-row">
										<div class="title">{% trans "Processing Fee" %}</div>
										<div class="content" id="fee">0.34 USD</div>
										<div class="divClearfix"></div>
									</div>
									<div class="div-row">
										<div class="title">{% trans "Total Amount" %}</div>
										<div class="content" id="total_amount"></div>
										<div class="divClearfix"></div>
									</div>
									
									<div class="div-row">
										<div class="title">{% trans "Payment method" %}</div>
										<div class="content">{% trans "Credit Card / Paypal" %}</div>
										<div class="divClearfix"></div>
									</div>
								</div>
								<div class="divClearfix"></div>
							</div>
							<div class="div-row">
								<div class="title-left"><a class="btn btn-default btn-confirm" ng-click="openBuyCoinModal()">{% trans "Done" %}</a></div><div class="divClearfix"></div>
							</div>
						</div>
					</div>
					
					
					
				</div>
				<!--div class="modal-footer">
					<button type="button" class="btn btn-danger" ng-click="addHide( 0 )">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="sendHide()">Yes</button>
				</div-->
			</div>
		</div>
	</div>
</div>

</div>

<script type="text/javascript" src="{% static 'js/tutor/tutor_info.js' %}"></script>
<script src="{% static 'js/wallet/buy_coin.js' %}"></script>

{% endblock %}