<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<div class="profile-resume" ng-if="resumeList.education != '' || resumeList.certification != '' || resumeList.work_exp != '' ">
	<div class="profile-resume-title">
		<p>{% trans "Resume" %}</p>
	</div>
	<div class="profile-resume-content">
		<div class="resume-work-ex" ng-if="resumeList.work_exp != ''">
			<div class="resume-title">
				<p>{% trans "Work Experience" %}</p>
			</div>
			<div class="resume-content">
				<div ng-repeat="work in resumeList.work_exp track by $index" class="f13">
					<div class="period">[[work.start_year]] ~ [[work.end_year]]</div>
					<div class="position" style="font-weight: bold">[[work.position]]</div>
					<div class="organization">[[work.company]], [[work.city]], [[work.country]]</div>
					<div class="description">[[work.description]]</div>
					<div class="underline"></div>
				</div>
			</div>
		</div>
		<div class="resume-education" ng-if="resumeList.education != ''">
			<div class="resume-title">
				<p>{% trans "Education" %}</p>
			</div>
			<div class="resume-content">
				<div ng-repeat="education in resumeList.education track by $index" class="f13">
					<div class="period">[[education.start_year]], [[education.end_year]]</div>
					<div class="location" style="font-weight: bold">[[education.school]], [[education.location]]</div>
					<div class="degree">[[education.degree]] - [[education.major]]</div>
					<div class="description">[[education.description]]</div>
					<div class="underline"></div>
				</div>
			</div>
		</div>
		<div class="resume-certi" ng-if="resumeList.certification != ''">
			<div class="resume-title">
				<p>{% trans "Certifications, Language Tests" %}</p>
			</div>
			<div class="resume-content">
				<div ng-repeat="certification in resumeList.certification track by $index" class="f13">
					<div class="period">[[certification.year]]</div>
					<div class="name" style="font-weight: bold">[[certification.name]] - [[certification.organization]]</div>
					<div class="description">[[certification.description]]</div>
					<div class="underline"></div>
				</div>
			</div>
		</div>
	</div>
</div>
