<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<link rel="stylesheet" href="{% static 'css/tutoring/tutor_lesson_add.css' %}" />
<div class="profile-resume" ng-show="lessons.length != 0">
	<div class="profile-resume-title">
		<p>{% trans "Courses" %}</p>
	</div>
	<div class="lesson-area" style="width: 700px;">
		<div class="lesson-left"  ng-repeat="lesson in lessons" style="height: auto; color: #fff; min-height: 301px;">
			<div class="lesson-common hover-pointer" ng-click="clickLesson( lesson )">
				<div class="lesson-title">
					<p class="title-left">[[ lesson.course_name ]]</p>
					<div class="divClearfix"></div>
				</div>
				<div class="lesson-language" style="position: relative; z-index: 2;">
					<span>[[ lesson.language ]]</span>
				</div>
				<div class="lesson-range" style="position: relative; z-index: 2; width: 270px;">
					<span>{% blocktrans %}For [[ lesson.from_level ]]<span ng-if="lesson.from_level != lesson.to_level"> ~ [[ lesson.to_level ]]</span>{% endblocktrans %}</span>
				</div>
				<br />
				<div class="lesson-cost" style="position: relative; z-index: 2;">
					<p> [[ lesson.sg_60min_price ]]TC / 60min</p>
					<div class="lesson-bundle-percent">
					</div>
				</div>
				<div class="clear"></div>
				<img style="width: 324px; height: 180px;" ng-src="[[ lesson.filepath ]]" alt="" class="lesson-img" />
				<div class="filter"></div>
			</div>
			<div class="lesson-bundle" style="font-size: 13px !important; font-family: 'Noto Sans';" ng-show="lesson.course_has_30min == 1 || lesson.course_has_60min == 1 || lesson.course_has_90min == 1">
				<div style="float: left; color: #585858; margin-right: 3px; background-color: #00b5cb; color: #fff; padding: 3px 5px;'" class="package">{% trans "Package" %}</div>
				<div class="lesson-bundle-info">
					<p ng-if="lesson.course_has_30min == 1 && lesson.pkg_30min_price != 0"><span class="bundle-type">5 X 30 {% trans "mins" %} </span><span class="total-cost">{% trans "total" %} [[ lesson.pkg_30min_price * 5 | number ]]TC</span></p>
					<p ng-if="lesson.course_has_60min == 1 && lesson.pkg_60min_price != 0"><span class="bundle-type">5 X 60 {% trans "mins" %} </span><span class="total-cost">{% trans "total" %} [[ lesson.pkg_60min_price * 5 | number ]]TC</span></p>
					<p ng-if="lesson.course_has_90min == 1 && lesson.pkg_90min_price != 0"><span class="bundle-type">5 X 90 {% trans "mins" %} </span><span class="total-cost">{% trans "total" %} [[ lesson.pkg_90min_price * 5 | number ]]TC</span></p>
				</div>
				<div class="lesson-bundle-cost">
					<p ng-if="lesson.course_has_30min == 1 && lesson.pkg_30min_price != 0">{% trans "Save" %} [[ (lesson.sg_30min_price - lesson.pkg_30min_price) / lesson.sg_30min_price * 100 | number:2]] %</p>
					<p ng-if="lesson.course_has_60min == 1 && lesson.pkg_60min_price != 0">{% trans "Save" %} [[ (lesson.sg_60min_price - lesson.pkg_60min_price) / lesson.sg_60min_price * 100 | number:2]] %</p>
					<p ng-if="lesson.course_has_90min == 1 && lesson.pkg_90min_price != 0">{% trans "Save" %} [[ (lesson.sg_90min_price - lesson.pkg_90min_price) / lesson.sg_90min_price * 100 | number:2]] %</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="divClearfix"></div>
	</div>

</div>

<!-- lesson modal -->
<div class="modal fade coin-number" id="lessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm lesson-modal mobile-none">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">[[ detailLesson.course_name]]</h4>
			</div>
			<div class="modal-body">
				<div class="lesson-container">
					<div class="messageModal-row">
						<p class="modal-sub">{% trans "Teaching Language" %} : <span class="modal-con">[[ detailLesson.language ]]</span></p>
					</div>
					<div class="messageModal-row" style="margin-bottom: 0px;">
						<p class="modal-sub">{% trans "Description" %}</p>
						<p class="modal-con">[[ detailLesson.course_desc ]]</p>
					</div>
					<div class="messageModal-row">
						<p class="modal-sub">{% trans "Expected Tutee's language level" %} :</p>
						<p class="modal-con">[[ detailLesson.from_level ]]<span ng-if="detailLesson.from_level != detailLesson.to_level"> ~ [[ detailLesson.to_level ]]</span></p>
					</div>
					<div class="messageModal-row">
						<p class="modal-sub">{% trans "Price" %} :</p>
						<p class="modal-con">{% trans "Single Price" %}</p>
						<p class="modal-con" ng-if="detailLesson.course_has_30min == 1" >30 {% trans "minute lesson" %} - [[ detailLesson.sg_30min_price | number ]]TC</p>
						<p class="modal-con" ng-if="detailLesson.course_has_60min == 1" >60 {% trans "minute lesson" %} - [[ detailLesson.sg_60min_price | number ]]TC</p>
						<p class="modal-con" ng-if="detailLesson.course_has_90min == 1" >90 {% trans "minute lesson" %} - [[ detailLesson.sg_90min_price | number ]]TC</p>
					</div>
					<div class="messageModal-row" ng-show="detailLesson.isBundle" style="margin-bottom: 45px;">
						<p class="modal-con">{% trans "Package Price" %}</p>
						<p class="modal-con" ng-if="detailLesson.course_has_30min == 1 && detailLesson.pkg_30min_price != 0">5 x 30 {% trans "minute lesson" %} - [[ detailLesson.pkg_30min_price | number ]]TC <span class="modal-red">{% trans "Save" %} [[ (detailLesson.sg_30min_price - detailLesson.pkg_30min_price) / detailLesson.sg_30min_price * 100 | number:2]]%</span></p>
						<p class="modal-con" ng-if="detailLesson.course_has_60min == 1 && detailLesson.pkg_60min_price != 0">5 x 60 {% trans "minute lesson" %} - [[ detailLesson.pkg_60min_price | number ]]TC <span class="modal-red">{% trans "Save" %} [[ (detailLesson.sg_60min_price - detailLesson.pkg_60min_price) / detailLesson.sg_60min_price * 100 | number:2]]%</span></p>
						<p class="modal-con" ng-if="detailLesson.course_has_90min == 1 && detailLesson.pkg_90min_price != 0">5 x 90 {% trans "minute lesson" %} - [[ detailLesson.pkg_90min_price | number ]]TC <span class="modal-red">{% trans "Save" %} [[ (detailLesson.sg_90min_price - detailLesson.pkg_90min_price) / detailLesson.sg_90min_price * 100 | number:2]]%</span></p>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="text-align: right;">
				{% if request.session.email %}
				<form action="/tutor/reservation/dt/" method="post">
					<input type="hidden" name="selected_lid" ng-value="clickLessonLid" /> 
					<input type="hidden" name="tid" ng-value="tutor.user"/> 
					<input type="hidden" name="accessType" ng-value="1" />
					<button type="submit" class="btn" style="background-color: rgb(0, 181, 203); color: #fff;" ng-disabled="myPage">{% trans "Book a Lesson" %}</button>
				</form>
				{% else %}
				<button class="btn" style="background-color: rgb(0, 181, 203); color: #fff;" ng-disabled="myPage" ng-click="goUrlAfterLogin('/tutor/'+ [[tutor.user]])">{% trans "Book a Lesson" %}</button>
				{% endif %}
			</div>
		</div>
	</div>
	
	<!-- Mobile  -->
	<div class="modal-dialog modal-sm lesson-modal mobile-row" id="mobileLessonModal">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title" id="myModalLabel">[[ detailLesson.title ]]</h3>
			</div>
			<div class="modal-body">
				<div class="lesson-container">
					<div class="messageModal-row">
						<h4>{% trans "Description" %}</h4>
						<p class="lesson-description">[[ detailLesson.description ]]</p>
					</div>
					<div class="messageModal-row">
						<h4>{% trans "Teaching Language" %}</h4>
						<p>[[ detailLesson.language ]]</p>
					</div>
					<div class="messageModal-row">
						<h4>{% trans "Target level of tutees" %}</h4>
						<p>[[ detailLesson.from_level ]] ~ [[ detailLesson.to_level ]]</p>
					</div>
					<div class="messageModal-row">
						<h4>{% trans "Tuition Fee" %}</h4>
						<h5>{% trans "1) Online" %}</h5>
						<div class="lesson-modal-table-wrap">
							<div class="lesson-modal-table">
								<div class="table-row" ng-show="detailLesson.has_online == 1">
									<div class="left-elem tab-head tab-width tab-first-head">{% blocktrans %}Duration<br>(minutes){% endblocktrans %}</div>
									<div class="left-elem tab-head tab-width tab-etc-head">{% trans "Time(s)" %}</div>
									<div class="left-elem tab-head tab-width tab-etc-head">{% trans "Tellpin Credits" %}</div>
									<div class="left-elem tab-head tab-width tab-etc-head">{% trans "USD" %}</div>
									<div class="left-elem tab-head tab-width tab-etc-head">{% trans "Save" %}</div>
									<div class="clear"></div>
								</div>
								<div class="table-row" ng-show="detailLesson.online_30m == 1">
									<div class="left-elem outer-elem tab-width">
										<div class="inner-elem bottom-none add-padding">30</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.online_5times == 1 || detailLesson.online_10times == 1">&nbsp;</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.online_5times == 1 && detailLesson.online_10times == 1">&nbsp;</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem">1</div>
										<div class="inner-elem" ng-show="detailLesson.online_5times == 1">5</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.online_10times == 1">10</div>
									</div >
									<div class="left-elem tab-width coin-column">
										<div class="inner-elem">[[ detailLesson.online_30m_1times_cost ]]</div>
										<div class="inner-elem" ng-show="detailLesson.online_5times == 1">[[ detailLesson.online_30m_5times_cost ]]</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.online_10times == 1">[[ detailLesson.online_30m_10times_cost ]]</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem">[[ detailLesson.online_30m_1times_cost / 10 || 0 ]]</div>
										<div class="inner-elem" ng-show="detailLesson.online_5times == 1">[[ detailLesson.online_30m_5times_cost / 10 || 0]]</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.online_10times == 1">[[ detailLesson.online_30m_10times_cost / 10 || 0 ]]</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem right-none">-</div>
										<div class="inner-elem right-none text-red" ng-show="detailLesson.online_5times == 1">[[ (( detailLesson.online_30m_1times_cost * 5 - detailLesson.online_30m_5times_cost ) / ( detailLesson.online_30m_1times_cost * 5)) * 100 | number : 2 ]]%</div>
										<div class="inner-elem right-none bottom-none text-red" ng-show="detailLesson.online_10times == 1">[[ (( detailLesson.online_30m_1times_cost * 10 - detailLesson.online_30m_10times_cost ) / ( detailLesson.online_30m_1times_cost * 10)) * 100 | number : 2 ]]%</div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="table-row" ng-show="detailLesson.online_60m == 1">
									<div class="left-elem outer-elem tab-width">
										<div class="inner-elem bottom-none add-padding">60</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.online_5times == 1 || detailLesson.online_10times == 1">&nbsp;</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.online_5times == 1 && detailLesson.online_10times == 1">&nbsp;</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem">1</div>
										<div class="inner-elem" ng-show="detailLesson.online_5times == 1">5</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.online_10times == 1">10</div>
									</div >
									<div class="left-elem tab-width coin-column">
										<div class="inner-elem">[[ detailLesson.online_60m_1times_cost ]]</div>
										<div class="inner-elem" ng-show="detailLesson.online_5times == 1">[[ detailLesson.online_60m_5times_cost ]]</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.online_10times == 1">[[ detailLesson.online_60m_10times_cost ]]</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem">[[ detailLesson.online_60m_1times_cost / 10 || 0 ]]</div>
										<div class="inner-elem" ng-show="detailLesson.online_5times == 1">[[ detailLesson.online_60m_5times_cost / 10 || 0]]</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.online_10times == 1">[[ detailLesson.online_60m_10times_cost / 10 || 0 ]]</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem right-none">-</div>
										<div class="inner-elem right-none text-red" ng-show="detailLesson.online_5times == 1">[[ (( detailLesson.online_60m_1times_cost * 5 - detailLesson.online_60m_5times_cost ) / ( detailLesson.online_60m_1times_cost * 5)) * 100 | number : 2 ]]%</div>
										<div class="inner-elem right-none bottom-none text-red" ng-show="detailLesson.online_10times == 1">[[ (( detailLesson.online_60m_1times_cost * 10 - detailLesson.online_60m_10times_cost ) / ( detailLesson.online_60m_1times_cost * 10 )) * 100 | number : 2 ]]%</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<!-- <h5>2) Offline</h5>
						<div class="lesson-modal-table-wrap">
							<div class="lesson-modal-table">
								<div class="table-row">
									<div class="left-elem tab-head tab-width tab-first-head">Duration <br /> (minutes)</div>
									<div class="left-elem tab-head tab-width tab-etc-head">Time(s)</div>
									<div class="left-elem tab-head tab-width tab-etc-head">Coin</div>
									<div class="left-elem tab-head tab-width tab-etc-head">USD</div>
									<div class="left-elem tab-head tab-width tab-etc-head">Save</div>
									<div class="clear"></div>
								</div>
								<div class="table-row" ng-show="lesson.offline_60m == 1">
									<div class="left-elem outer-elem tab-width">
										<div class="inner-elem bottom-none add-padding">60</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.offline_5times == 1 || detailLesson.offline_10times == 1">&nbsp;</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.offline_5times == 1 && detailLesson.offline_10times == 1">&nbsp;</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem">1</div>
										<div class="inner-elem" ng-show="detailLesson.offline_5times == 1">5</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.offline_10times == 1">10</div>
									</div >
									<div class="left-elem tab-width coin-column">
										<div class="inner-elem">[[ detailLesson.offline_60m_1times_cost ]]</div>
										<div class="inner-elem" ng-show="detailLesson.offline_5times == 1">[[ detailLesson.offline_60m_5times_cost ]]</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.offline_10times == 1">[[ detailLesson.offline_60m_10times_cost ]]</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem">[[ detailLesson.offline_60m_1times_cost / 10 || 0 ]]</div>
										<div class="inner-elem" ng-show="detailLesson.offline_5times == 1">[[ detailLesson.offline_60m_5times_cost / 10 || 0 ]]</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.offline_10times == 1">[[ detailLesson.offline_60m_10times_cost / 10 || 0 ]]</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem right-none">-</div>
										<div class="inner-elem right-none text-red" ng-show="detailLesson.offline_5times == 1">[[ (( detailLesson.offline_60m_1times_cost * 5 - detailLesson.offline_60m_5times_cost ) / ( detailLesson.offline_60m_1times_cost * 5)) * 100 | number : 2 ]]%</div>
										<div class="inner-elem right-none bottom-none text-red" ng-show="detailLesson.offline_10times == 1">[[ (( detailLesson.offline_60m_1times_cost * 10 - detailLesson.offline_60m_10times_cost ) / ( detailLesson.offline_60m_1times_cost * 10)) * 100 | number : 2 ]]%</div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="table-row" ng-show="detailLesson.offline_90m == 1">
									<div class="left-elem outer-elem tab-width">
										<div class="inner-elem bottom-none add-padding">90</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.offline_5times == 1 || detailLesson.offline_10times == 1">&nbsp;</div>
										<div class="inner-elem" ng-show="detailLesson.offline_5times == 1 && detailLesson.offline_10times == 1">&nbsp;</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem">1</div>
										<div class="inner-elem" ng-show="detailLesson.offline_5times == 1">5</div>
										<div class="inner-elem" ng-show="detailLesson.offline_10times == 1">10</div>
									</div >
									<div class="left-elem tab-width coin-column">
										<div class="inner-elem">[[ detailLesson.offline_90m_1times_cost ]]</div>
										<div class="inner-elem" ng-show="detailLesson.offline_5times == 1">[[ detailLesson.offline_90m_5times_cost ]]</div>
										<div class="inner-elem" ng-show="detailLesson.offline_10times == 1">[[ detailLesson.offline_90m_10times_cost ]]</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem">[[ detailLesson.offline_90m_1times_cost / 10 || 0 ]]</div>
										<div class="inner-elem" ng-show="detailLesson.offline_5times == 1">[[ detailLesson.offline_90m_5times_cost / 10 || 0 ]]</div>
										<div class="inner-elem" ng-show="detailLesson.offline_10times == 1">[[ detailLesson.offline_90m_10times_cost / 10 || 0 ]]</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem right-none">-</div>
										<div class="inner-elem right-none text-red" ng-show="detailLesson.offline_5times == 1">[[ (( detailLesson.offline_90m_1times_cost * 5 - detailLesson.offline_90m_5times_cost ) / ( detailLesson.offline_90m_1times_cost * 5)) * 100 | number : 2 ]]%</div>
										<div class="inner-elem right-none text-red" ng-show="detailLesson.offline_10times == 1">[[ (( detailLesson.offline_90m_1times_cost * 10 - detailLesson.offline_90m_10times_cost ) / ( detailLesson.offline_90m_1times_cost * 10 )) * 100 | number : 2 ]]%</div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="table-row" ng-show="detailLesson.offline_120m == 1">
									<div class="left-elem outer-elem tab-width">
										<div class="inner-elem bottom-none add-padding" style="border-top: 1px solid #bebebe">120</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.offline_5times == 1 || detailLesson.offline_10times == 1">&nbsp;</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.offline_5times == 1 && detailLesson.offline_10times == 1">&nbsp;</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem">1</div>
										<div class="inner-elem" ng-show="detailLesson.offline_5times == 1 || detailLesson.offline_10times == 1">5</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.offline_10times == 1 && detailLesson.offline_5times == 1">10</div>
									</div >
									<div class="left-elem tab-width coin-column">
										<div class="inner-elem">[[ detailLesson.offline_120m_1times_cost ]]</div>
										<div class="inner-elem" ng-show="detailLesson.offline_5times == 1">[[ detailLesson.offline_120m_5times_cost ]]</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.offline_10times == 1">[[ detailLesson.offline_120m_10times_cost ]]</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem">[[ detailLesson.offline_120m_1times_cost / 10 || 0 ]]</div>
										<div class="inner-elem" ng-show="detailLesson.offline_5times == 1">[[ detailLesson.offline_120m_5times_cost / 10 || 0 ]]</div>
										<div class="inner-elem bottom-none" ng-show="detailLesson.offline_10times == 1">[[ detailLesson.offline_120m_10times_cost / 10 || 0 ]]</div>
									</div>
									<div class="left-elem tab-width">
										<div class="inner-elem right-none">-</div>
										<div class="inner-elem right-none text-red" ng-show="detailLesson.offline_5times == 1">[[ (( detailLesson.offline_120m_1times_cost * 5 - detailLesson.offline_120m_5times_cost ) / ( detailLesson.offline_120m_1times_cost * 5)) * 100 | number : 2 ]]%</div>
										<div class="inner-elem right-none bottom-none text-red" ng-show="detailLesson.offline_10times == 1">[[ (( detailLesson.offline_120m_1times_cost * 10 - detailLesson.offline_120m_10times_cost ) / ( detailLesson.offline_120m_1times_cost * 10 )) * 100 | number : 2 ]]%</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div> -->
					</div>
					<div class="lesson-modal-btn">
					<form action="/tutor/reservation/dt/" method="post">
						<input type="hidden" name="selected_lid" ng-value="clickLessonLid" /> 
						<input type="hidden" name="tid" ng-value="tutor.user"/> 
						<input type="hidden" name="accessType" ng-value="1" />
						<button type="submit" class="btn btn-danger" ng-disabled="myPage">{% trans "Book a Lesson!" %}</button>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
