<!DOCTYPE html>
<html class="">
<head>
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>{% trans "Home" %} | {% trans "Tellpin" %}</title>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}" />
<!-- link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bundle.css' %}" /-->
<link rel="stylesheet" type="text/css" href="{% static 'css/landingpage/landingpage2.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" id="medium-editor-theme"/>
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<!-- Magnific Popup core JS file -->
<!-- Magnific Popup core CSS file -->
<!--
<link rel="stylesheet" href="{% static 'css/landingpage/magnific-popup.css' %}">  
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
 -->
<style type="text/css">
.play-bt {
    color: white;
    font-size: 22px;
    margin-top: 30px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
	background-color: rgb(57, 57, 57) !important;
	border: none !important;
	box-shadow: none !important;
	cursor: pointer;
}

</style>

</head>

<body>
<div class="div-header-mobile">
	<div id="temp" class="right">
		<!-- img class="icon-search" src="{% static 'img/landingpage/mobile/menu.png' %}" -->
	</div>
</div>

<div class="footer-page-up" onclick="goTop2();">
	<img src="{%static 'img/community/icon_page_up2.png'%}">
</div>

<div class="tutor-schedule-backdrop introPopup" onclick="end_video()"></div>
<div id="video-tutor-schedule-template" class="introPopup">
<video id="i-player" width="100%" src="/static/img/landingpage/Landing_Page_2016_04_12.mp4" frameborder="" allowfullscreen></video>
</div>

<div class="tutor-schedule-backdrop2 work_video_popup" onclick="end_work_video()"></div>
<div id="work-video-template" class="work_video_popup">
	<video id="work-video" style="width: 650px;" src="/static/img/landingpage/final_0203.mp4" frameborder="" allowfullscreen></video>
</div>

<!-- <div class="tutor-schedule-backdrop introPopup2" onclick="end_pop()"></div> -->
<!-- <div id="tutor-schedule-template2" class="introPopup2"> -->
<!-- 	<img src="{% static 'img/landingpage/closed_beta.png' %}"> -->
<!-- 	<div> -->
<!-- 		<p> -->
<!-- 		Closed Beta Test Announcement -->
<!--  		</p> -->
<!--  		<p> -->
<!-- 		Hello<br>  -->
<!-- 		We are Tellpin Team.  -->
<!-- 		</p> -->
<!-- 		<p> -->
<!-- 		We'd like to announce the Closed Beta Test for Tellpin site. <br> -->
<!-- 		See you soon.  -->
<!-- 		</p> -->
<!-- 		<p> -->
<!-- 		Thank you.  -->
<!-- 		</p> -->
<!-- 	</div> -->
<!-- </div>  	 -->
	
	
<div id="">
	
	<div class="slide slide-1">
		<div class="landing-slide1-top">
		<div class="landing-slide1-top-center">
			<div class="landing-slide1-top-left">
				<div class="landing-slide1-top-logo"><img style="width: 93px; height: 33px;" src="{%static 'img/mainpage/logo_unichal_color.png'%}"></div>
				<!--div><a>TUTORS</a></div>
				<div><a>COMMUNITY</a></div>
				<div><a>TOOLS</a></div-->
			</div>
			<div class="landing-slide1-top-right">
				<div class="landing-top-btn" onclick="goURL('/user_auth/login_form/')">{% trans "Sign in" %}</div>
				<div class="landing-top-btn" onclick="goURL('/user_auth/signup_page/')">{% trans "Sign up" %}</div>
			</div>
		</div>
		</div>
		<div class="landing-slide1-body">
		<div class="landing-slide1-body-center">
			<div class="landing-slide1-body-title">{% blocktrans %}The best language<br> learning experience{% endblocktrans %}</div>
			<div class="landing-slide1-body-content">{% trans "It's interactive, time-saving, and fun." %}</div>
			<div class="landing-slide1-body-btn" onclick="goURL('/user_auth/signup_page/')">{% trans "Start learning" %}</div>
			<div class="play-bt" onclick="play_work_video()">
				<img alt="" src="{% static 'img/landingpage/icon_play.png' %}" style="margin:7px 10px 7px 0px;">{% trans "See how it works" %}
			</div>
		</div>
		</div>
		<!-- mobile -->
		<div class="landingpage-mobile">
			<div class="div-mobile-center">
				<div class="div-logo">
					<a href="#"><img src="{% static 'img/landingpage/mobile/logo_tellpin.png' %}"></a>
				</div>
			</div>
			<div class="div-mobile-bottom-text">
				{% blocktrans %}
				<div class="mobile-title">
					Foreign Language?
				</div>
				<div class="mobile-content">
					Learn from a Native speaker
				</div>
				<div class="mobile-content">
					any time and at any place.
				</div>{% endblocktrans %}
			</div>
			<div class="div-mobile-bottom">
				<div class="div-mobile-button">
						<a href="/user_auth/login_page/" class="btn mobile-start-now">{% trans "Start now" %}</a>
				</div>
			</div>
		</div>
	</div>
    <div class="slide slide-2">
    	<div class="landing-slide-top">
    		<!-- <img src="{% static 'img/landingpage/step_001.png' %}"> -->
    	</div>
    	<div class="landing-slide-title">
    		{% trans "Intensive 1-on-1 lesson from a native speaker" %}
    	</div>
    	<div class="landing-slide-content">
    		{% trans "Using video chats to take one-on-one lessons from a native speaker is an effective way to improve your speaking & listening skills in a short period of time." %}<br>
    		{% trans "Tellpin is a platform where tutors and tutees across the world meet each other for live online lessons." %}<br>
    		{% trans "You can reserve your lesson using our booking system and we'll hold the payment until you confirm that you are satisfied with it." %}
    	</div>
    	<div class="landing-slide-devide3-margin">
    		<div class="divide3-left">
    			<div class="divide3-img"><img style="width: 212px; height: 171px;" src="{%static 'img/landingpage/icon_Personalized_class.png'%}"></div>
    			<div class="divide3-text">{% blocktrans %}Personalized class<br> to suit your needs{% endblocktrans %}</div>
    		</div>
    		<div class="divide3-center">
    			<div class="divide3-img"><img style="width: 206px; height: 144px;" src="{%static 'img/landingpage/icon_Actively_Teaching.png'%}"></div>
    			<div class="divide3-text">{% blocktrans %}Actively Updated<br>Teaching-Learning<br>Materials for free{% endblocktrans %}</div>
    		</div>
    		<div class="divide3-right">
    			<div class="divide3-img"><img style="width: 162px; height: 160px;" src="{%static 'img/landingpage/icon_Chat_Messenger.png'%}"></div>
    			<div class="divide3-text">{% blocktrans %}Available 24/7,<br>video Chat Messenger<br>at your convenience{% endblocktrans %}</div>
    		</div>
    	</div>
    	<div class="landing-slide-devide3-full">
    		<div class="devide3-full-img"><img style="width: 380px; height: 307px;" src="{%static 'img/landingpage/pic_001.png'%}"></div>
    		<div class="devide3-full-img"><img style="width: 380px; height: 307px;" src="{%static 'img/landingpage/pic_002.png'%}"></div>
    		<div class="devide3-full-img"><img style="width: 380px; height: 307px;" src="{%static 'img/landingpage/pic_003.png'%}"></div>
    	</div>
    </div>
    
    <div class="slide slide-3">
    	
    	
    	<!--  -->
    	<div class="landing-slide-top slide-3-margin">
    		<!-- <img src="{% static 'img/landingpage/step_002.png' %}"> -->
    	</div>
    	<div class="landing-slide-title slide-3-margin slide-3-title">
    		{% blocktrans %}Embrace authentic language with <span>Tellpin Search</span>{% endblocktrans %}
    	</div>
    	<div class="landing-slide-content slide-3-margin">
    		{% blocktrans %}<p>Why grind away at a boring textbook when you can find ways to integrate language learning into everyday life?<br>You will learn a language much more effectively when you keep exploring foreign 
			cultures with their authentic materials :<br>film, TV show, music video, book, news, magazine, commercial, speech, interview, etc.
			</p>
    		<p>
    		Surrounded by countless learning resources, however, most people sacrifice the learning 
    		objective<br> for the sake of comprehending and enjoying the material.<br>
    		<span style="font-size: 15px;">Tellpin Search</span> and <span style="font-size: 15px;">Tellpin Player</span> are perfectly designed tools for making the most of 
    		Multimedia in language learning.<br>
    		You can enjoy the latest multimedia of your own interests while looking up any word/phrase with just one click!<br>
    		 So, don't compromise between learning and having fun; get both.
    		</p>{% endblocktrans %}
    	</div>
    	<div class="landing-slide-devide2-margin slide-3-margin" onclick="play_video()">
    		<div class="divide2-left">
    			<!--div class=""><img src="{%static 'img/landingpage/pic_tellpin_search.png'%}"
    			<video id="video_left" poster="#" class="slide3-video-left" src="{%static 'img/landingpage/tellpin_player.mp4' %}" onended="end_videio()"></video>-->
    		</div>
    		<div class="divide2-right">
    			<!--div class=""><img src="{%static 'img/landingpage/pic_tellpin_player.png'%}"
    			<video id="video_right" poster="#" class="slide3-video-right" src="{%static 'img/landingpage/tellpin_search.mp4' %}" ></video>-->
    		</div>
    	</div>
    </div>
    <div class="slide slide-4">
    	
    	<div class="landing-slide-top">
    		<!-- <img src="{% static 'img/landingpage/step_003.png' %}">  -->
    	</div>
    	
    	<div class="landing-slide-title">
    		{% trans "Join our community. Get help & help others." %}
    	</div>
    	<div class="slide-4-row1">
    		<div class="slide-4-img1"><img style="width: 160px; height: 180px;" src="{%static 'img/landingpage/icon_help_center_001.png'%}"></div>
    		<div class="slide-4-img1"><img style="width: 160px; height: 180px;" src="{%static 'img/landingpage/icon_help_center_002.png'%}"></div>
    		<div class="slide-4-text">{% blocktrans %}It is a give and take interaction where we help each other with practicing 
    		and learning your target language.{% endblocktrans %}</div>
    	</div>
    	<div class="slide-4-row2">
    		<div class="slide-4-img1"><img style="width: 160px; height: 180px;" src="{%static 'img/landingpage/icon_help_center_003.png'%}"></div>
    		<div class="slide-4-img1"><img style="width: 160px; height: 180px;" src="{%static 'img/landingpage/icon_help_center_004.png'%}"></div>
    		<div class="slide-4-text"><p>{% blocktrans %}Want to find a practice partner? Communicate with foreigners by sharing the common 
    		interests using the latest multimedia. Find language exchange partners who can help you learn 
    		their languages, and whom you can help to learn your language.{% endblocktrans %} 
    		</p></div>
    	</div>
    </div>
    <div class="slide slide-5">
    	<div style="min-height: 100%; margin:80px 0 0 0;">
    	<div class="landing-slide-title slide-5-margin slide-5-margin-top">
    		{% trans "Earn money teaching your native language online." %}
    	</div>
    	<div class="slide5-middle-row slide-5-margin">
    		<div class="divide-3-margin-left">
	    		<div class="divide-3-margin-title"><p>{% trans "1. Anyone can apply" %}</p></div>
	    		<div class="divide-3-margin-content"><p>{% trans "As long as you are a native speaker of the language you want to teach, just submit a 2~4 min. introduction video and a resume." %}</p></div>
	    		<div class="divide-3-margin-img"><img style="width: 100px; height: 100px;" src="{%static 'img/landingpage/icon_hands.png'%}" style="height:100%"></div>
	   		</div>
    		<div class="divide-3-margin-center">
	    		<div class="divide-3-margin-title"><p>{% trans "2. Set your schedule & course" %}</p></div>
	    		<div class="divide-3-margin-content"><p>{% blocktrans %}Tell your potential tutees when you<br> are available and what curriculum<br> you have in mind.{% endblocktrans %}</p></div>
	    		<div class="divide-3-margin-img"><img style="width: 151px; height: 96px;" src="{%static 'img/landingpage/icon_course.png'%}"></div>
	   		</div>
    		<div class="divide-3-margin-right">
	    		<div class="divide-3-margin-title"><p>{% trans "3. Grow your tutee base" %}</p></div>
	    		<div class="divide-3-margin-content"><p>{% trans "At Tellpin Community, you have various opportunities to make friends and communicate with language learners." %}<br>
	    		{% trans "Build strong friendships while widening your tutee base." %}</p></div>
	    		<div class="divide-3-margin-img"><img style="width: 159px; height: 72px;" src="{%static 'img/landingpage/icon_tutee.png'%}"></div>
	   		</div>
    	</div>
    	<div class="slide5-bottom-row">
    		<div class="slide5-div-btn">
    		<p>{% trans "Overcome language barriers and widen your horizon." %}
    		</p>
    		<div class="slide5-btn" onclick="goURL('/user_auth/signup_page/')">{% trans "Start learning today!" %}</div>
    		</div>
    		
    	</div>
    	</div>
    	<div class="slide5-bottom-tellpin-row">
    		<div class="slide5-div-row slide5-row2">
    			<div class="slide5-inner-row">{% trans "About" %}</div>
    			<div class="slide5-inner-row2"><a href="/help/">{% trans "Help" %}</a></div>
    			<div class="slide5-inner-row2">{% trans "Privacy" %}</div>
    			<div class="slide5-inner-row2">{% trans "Terms" %}</div>
    			<div class="slide5-inner-row2">{% trans "Contact" %}</div>
    		</div>
    		<div class="slide5-div-row slide5-row3">
    			<div class="slide5-inner-row slide5-inner-row3">{% trans "@ 2017 Tellpin" %}</div>
    			<div class="slide5-inner-row slide5-inner-row3">{% trans "All rights reserved" %}</div>
    		</div>
<!-- 
    		<div class="slide5-div-row slide5-row4">
	    		<img style="width: 23px; height: 22px;" src="{%static 'img/landingpage/logo_facebook_landing_page.png'%}">
	    		<img style="width: 23px; height: 22px;" src="{%static 'img/landingpage/logo_pinterest_landing_page.png'%}">
	    		<img style="width: 23px; height: 22px;" src="{%static 'img/landingpage/logo_google_plus_landing_page.png'%}">
    		</div>
 -->
    	</div>
    </div>
</div>
</body>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/landingpage/landingpage2.js' %}"></script>
</html>