{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}언어선택창{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user_auth/language_select.css' %}" />
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sanitize.js' %}"></script>
<script src="{% static 'js/bootstrap/3.3.5/bootstrap.min.js' %}"></script>
<script src="{% static 'js/user_auth/language_select.js' %}"></script>


<div class="wrap" ng-app="langApp">
	<div class="language-header">
		<p class="header-sub">{% trans "Languages" %}</p>
		<p class="header-con">{% trans "Edit your languages" %}</p>
	</div>
	
	<div class="language-content" ng-controller="langCtrl">
		<div class="language-row">
			<div class="left-content"><p class="left-text">{% trans "I'm learning*" %}</p></div>
			<div class="right-content"><p class="right-text">{% trans "Choose main one" %}</p></div>
			<div class="cleardiv"></div>
		</div>
		
		<div class="language-select elem-select">
			<ul class="chosen-choices" id="choices">
				<li class="search-choice" ng-repeat="sel in learnSelArr">
					<span class="select-language-elem"><span class="select-cancel" ng-click="learnDeleteLang($index)">x</span><span class="select-language-elem-text">[[ sel ]]</span></span></li>
				<li class="search-field"><input type="text" value="" id="searchTxt1" ng-model="learnModel" ng-keydown="learnKeyBackspace($event)" /></li>
				<div class="cleardiv"></div>
			</ul>
		</div>
		<div class="chosen-drop" ng-show="learnFocused">
			<ul class="chosen-results">
				<li class="group-result">{% trans "Popular" %}</li>
				<li ng-class="learnSelectClass(pop)" ng-repeat="pop in popArr" value="[[pop]]" ng-mousedown="learnSelectLang($event, 0, pop)">[[ pop ]]</li>
				<li class="group-result">{% trans "Others" %}</li>
				<li ng-class="learnSelectClass(oth)" ng-repeat="oth in othArr | filter: learnSelectItems" value="[[oth]]" ng-mousedown="learnSelectLang($event, 1, oth)">[[ oth ]]</li>
			</ul>
		</div>
	
	
	
		<div class="language-row">
			<div class="left-content"><p class="left-text">{% trans "I speak*" %}</p></div>
			<div class="right-content"><p class="right-text">{% trans "Choose main one" %}</p></div>
			<div class="cleardiv"></div>
		</div>
		<div class="language-select elem-select">
			<ul class="chosen-choices" id="choices">
				<li class="search-choice" ng-repeat="sel in speakSelArr">
					<span class="select-language-elem"><span class="select-cancel" ng-click="speakDeleteLang($index)">x</span><span class="select-language-elem-text">[[ sel ]]</span></span></li>
				<li class="search-field"><input type="text" value="" id="searchTxt2" ng-model="speakModel" ng-keydown="speakKeyBackspace($event)" /></li>
				<div class="cleardiv"></div>
			</ul>
		</div>
		<div class="chosen-drop" ng-show="speakFocused">
			<ul class="chosen-results">
				<li class="group-result">{% trans "Popular" %}</li>
				<li ng-class="speakSelectClass(pop)" ng-repeat="pop in popArr" value="[[pop]]" ng-mousedown="speakSelectLang($event, 0, pop)">[[ pop ]]</li>
				<li class="group-result">{% trans "Others" %}</li>
				<li ng-class="speakSelectClass(oth)" ng-repeat="oth in othArr | filter: speakSelectItems" value="[[oth]]" ng-mousedown="speakSelectLang($event, 1, oth)">[[ oth ]]</li>
			</ul>
		</div>
		

		<div class="language-row">
			<div class="left-content" style="text-align: left;"><p class="left-text">{% trans "I'm from*" %}</p></div>
			<div class="cleardiv"></div>
		</div>
		<div class="nation-select">
			<select class="select-l" name="" id="">
				<option value="">{% trans "Korea, Republic of." %}</option>
				<option value="">{% trans "USA" %}</option>
				<option value="">{% trans "Italy" %}</option>
				<option value="">{% trans "Japan" %}</option>
			</select>
		</div>
		
		<div class="language-bottom">
			<button class="language-btn">{% trans "Save" %}</button>
		</div>
	</div>
</div>
{% endblock %}