<!DOCTYPE html>
<html class="fsvs">
<head>
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>{% trans "Home" %} | {% trans "Tellpin" %}</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}" />
<!-- link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bundle.css' %}" /-->
<link rel="stylesheet" type="text/css" href="{% static 'css/landingpage/landingpage.css' %}" />
<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="{% static 'css/landingpage/magnific-popup.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" id="medium-editor-theme"/>
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

</head>
<body>
<div id="tutor-schedule-template">
		<img src="{% static 'img/ajax_loading.gif' %}">
</div>
<div class="div-header">
	<!--div class="left">
		<select id="left-select" class="left-select">
			{% for lang in languages %}
				<option value="{{lang.id}}" style='background:url("{% static 'img/landingpage/tap_language_open_login_view.png' %}");background-color:black;'>{{lang.language1}}{% if lang.language2 %} / {{lang.language2}} {% endif %} </option>
			{% endfor %}
		</select>
	</div->
	<div id="temp" class="right">
		<!--  img class="icon-search" src="{% static 'img/landingpage/icon_search.png' %}">
		<input class="input-search" type="text" placeholder="Tellpin 검색" >
		<ul id="ul-look-round" class="subnav"><li><a id="a-look-round" href="/main/" ><img class="img-round" src="{% static 'img/landingpage/tap_look_round_login_view.png' %}"><span class="round-all">전체 둘러보기</span></a></li></ul>
		<a onclick="click_test();" href="/main/" style="margin-right:10px;color:white;"><img onclick="click_test()" class="look-round" src="{% static 'img/landingpage/button_look_round_login_view.png' %}"><span onclick="click_test()" class="round-text">둘러보기</span></a-->
		<!-- <a href="/user_auth/signup_page/"><img onclick="click_test()" class="btn-search" src="{% static 'img/landingpage/button_join_login_view.png' %}"><span class="signup-text">가입</span></a> -->
	</div>
</div>
<div class="div-header-mobile">
	<div id="temp" class="right">
		<!-- img class="icon-search" src="{% static 'img/landingpage/mobile/menu.png' %}" -->
	</div>
</div>
<div id="fsvs-body">
	<div class="slide">
		<div class="landingpage">
				<!-- <div class="div-social-test">	
				{%if request.user.is_authenticated %}
				  <a>Hello, {{ user.get_full_name }}!</br></br></a>
				  <div>user: {{ details }}</div>
				  <div>user_name: {{ user.username }}</div>
				  <div>first_name: {{ user.first_name }}</div>
				  <div>last_name: {{ user.last_name }}</div>
				  <div>email1: {{ user.email }}</div>
				  <div>email2: {{ request.user.email }}</div>
				  <br>
				  <a style="color:white;" href="user_auth/logout">Logout</a>
				{% else %}
				  <a target="" href="{% url 'social:begin' 'twitter' %}?next='{{ request.path }}'">Login with Twitter</a> / 
				  <a target="_blank" href="{% url 'social:begin' 'facebook' %}?next='{{ request.path }}'">Login with Facebook</a> / 
				  <a target="_blank" href="{% url 'social:begin' 'google-oauth2' %}?next='{{ request.path }}'">Login with Google</a>
				  <a href="{% url 'social:begin' 'google' %}?next={{ request.path }}">Login with google</a>
				  <a href="{% url 'social:begin' 'twitter' %}?next='{{ request.path }}'">Login with Twitter</a> / 
				  <a href="{% url 'social:begin' 'facebook' %}?next='{{ request.path }}'">Login with Facebook</a> / 
				  <a href="{% url 'social:begin' 'google-oauth2' %}?next='{{ request.path }}'">Login with Google</a>
				{% endif %}
				</div>   -->
				
				<div class="div-center">
					<div class="div-logo">
						<a href="/"><img style="width: 194px; height: 68px;" src="{% static 'img/mainpage/logo_tellpin_sign_in.png' %}"></a>
					</div>
					<div style="border-top: 1px solid #00b5cb; width: 250px; margin: auto; margin-top:20px;">
					</div>
					<div class="div-icon">
						<!-- <a class='' href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><img src="{% static 'img/landingpage/icon_facebook.png' %}"></a> -->
						<a href="{% url 'social:begin' 'facebook' %}?next='{{ request.path }}'"><img style="width: 44px; height: 44px;" src="{% static 'img/landingpage/icon_facebook.png' %}"></a>
						<a href="{% url 'social:begin' 'twitter' %}?next='{{ request.path }}'"><img style="width: 44px; height: 44px;" src="{% static 'img/landingpage/icon_twitter.png' %}"></a>
						<a href="{% url 'social:begin' 'google-oauth2' %}?next='{{ request.path }}'"><img style="width: 44px; height: 44px;" src="{% static 'img/landingpage/icon_google_plus.png' %}"></a>
					</div>
					<div class="div-text">
						<!-- <span>또는 이메일을 통해</span> -->
						<span>or Via</span>
					</div>
					<div class="div-form">
					<form class="login" action="/user_auth/login/" method="post" onsubmit="return ajax_login();">{% csrf_token %}
						{{ form.email }}
						{{ form.pwd }}
						<div class="div-msg"><span id="error_msg">{{message}}</span></div>
						<button type="submit" class="btn-login">{% trans "Sign in" %}</button>
					</form>
					</div>
					<div style="text-align: right;width:300px;margin:auto;margin-top: 8px;"><a href="/user_auth/reset/"><span class="forget-pwd">Forgot?</span></a></div>
					<div class="div-left"><span class="forget-pwd">{% trans "Don't have an account yet?" %}</span></div>
					<div class="btn-signup"><a href="/user_auth/signup_page/" class="">{% trans "Sign up" %}</a></div>
					<div class="div-pwd">
					
					
					</div>
				</div>
				<!-- 
				<div class="div-footer">
					<div class="div-footer-left">
					</div>
					<div class="div-footer-right-1">
					<span class="span-text">올린 이 : </span><a href="#"><span class="span-text">Noah</span></a>
					</div>
					<div class="div-footer-right-2">
					<a href="/user_auth/retry_activation/"><img class="icon-noah" src="{% static 'img/landingpage/icon_noah_choi.png' %}"></a>
					</div>
				</div> 
				-->
		</div>
		<!-- mobile -->
		<div class="landingpage-mobile">
			<div class="div-mobile-center">
				<div class="div-logo">
					<a href="#"><img src="{% static 'img/landingpage/mobile/logo_tellpin.png' %}"></a>
				</div>
			</div>
			<div class="div-mobile-bottom-text">
				{% blocktrans %}
				<div class="mobile-title">
					Foreign Language?
				</div>
				<div class="mobile-content">
					Learn from a Native speaker
				</div>
				<div class="mobile-content">
					any time and at any place.
				</div>{% endblocktrans %}
			</div>
			<div class="div-mobile-bottom">
				<div class="div-mobile-button">
						<a href="/user_auth/login_page/" class="btn mobile-start-now">{% trans "Start now" %}</a>
				</div>
			</div>
		</div>
	</div>
    <div class="slide slide-1"></div>
    <div class="slide slide-2"></div>
    <div class="slide slide-3"></div>
	<div class="slide slide-4"></div>
	<div class="slide slide-5"></div>
</div>
</body>

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fsvs.js' %}"></script>
<!-- Magnific Popup core JS file -->
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<script lang="javascript">
/*
$(document).ready( function() {
	var slider = $.fn.fsvs({
		speed : 500, 
		autoPlay : false, 
		bodyID : 'fsvs-body', 
		selector : '> .slide', 
		mouseSwipeDisance : 40, 
		afterSlide : function(){}, 
		beforeSlide : function(){}, 
		endSlide : function(){}, 
		mouseWheelEvents : true, 
		mouseWheelDelay : false, 
		scrollabelArea : 'scrollable', 
		mouseDragEvents : true,
		touchEvents : true, 
		arrowKeyEvents : true, 
		pagination : true, 
		nthClasses : false, 
		detectHash : true 
	}); 
	
 });  
*/
 $(document).ready(function(){
		
		//var rand = Math.floor((Math.random() * 3) +1 );
		//$(".landingpage").attr('background-image', '../../static/img/landingpage/bg_00'+rand+'.png');
		$(".landingpage").css("background-image", "url('/static/img/landingpage/bg_sign_in.png')");
		
	    /* $(document).magnificPopup({
			  type: 'ajax',
			  closeOnContentClick: false,
			  closeOnBgClick: false,
			  showCloseBtn: true,
			  callbacks: {
				  open: function(){
					  console.log('open test');
					  console.log('123');
					  console.log('open test2');
				  },
				  close: function(){

					  console.log('close test');
				  }
			  }
		});  */
	    
		var name = "{{user}}";
	    
		console.log(name);
		
		if ( "{{user}}" != "AnonymousUser" ){
			console.log('exist');
			//window.location.replace("/user_auth/logout/");
			//console.log('exist');
			
		}else{
			
			//console.log('not exist');
		}
		
		$(".input-search").focus(function(){
			$(".subnav").css("visibility", "visible");
		});
		
		$("#fsvs-body").click(function(evt){	
			$(".subnav").css("visibility", "hidden");
		});
		$("#left-select").click(function(evt){	
			$(".subnav").css("visibility", "hidden");
		});
		var msg = "{{message}}";
		if( msg ){
			$(".div-msg").css("display", "block");
		}else{
			$(".div-msg").css("display", "none");
		}
		console.log(msg);
		
		$("#id_email").focus();
	});

//회원가입 팝업 - 삭제 (페이지 이동으로 대체)
function open_pop(){
	$.magnificPopup.open({
		  type: 'ajax',
		  items:{
			  src:'user_auth/signup_form/'  
		  },
		  closeOnContentClick: false,
		  closeOnBgClick: false,
		  showCloseBtn: false,
		  callbacks: {
			  open: function(){
				  //console.log('open test');
				  //console.log('123');
				  //console.log('open test2');
			  },
			  close: function(){
	
				  //console.log('close test');
			  }
		  }
	});
}
function ajax_login(){
	
	var email = $("#id_email").val();
	var pwd=$('#id_pwd').val();

	if(email.length < 1){
		alert('You entered an invalid email or password.');
		return false;
	}
	
	var url=location.href;
	var passurl= url.split("/", 3);
	passurl = passurl[0]+"//"+passurl[2] + "/user_auth/ajax_login/";
	var postData = {
			'email' : email,
			'pwd' : pwd,
			
	}

	$("#tutor-schedule-template").css("display", "block");
	var res = false;
	$.ajax({
		type : "POST",
		url : passurl,
		data : postData,
		async: false,
		success : function(response) {
			console.log(response);
			var result=JSON.parse(response);
			if(result.success){
				console.log('success');
				$("#error_msg").html("");
				$(".div-msg").css("display", "none");
				console.log(result.message)
				res = true;
			}else{
				console.log('fail');
				$("#error_msg").text(result.message);
				$(".div-msg").css("display", "block");
				console.log(result.message)
				res =  false;
				$("#tutor-schedule-template").css("display", "none");
			}
		},error:function(request,status,error){
			console.log('error');
			$("#error_msg").text(result.message);
			$(".div-msg").css("display", "block");
			console.log(request +', '+status+', '+error);
			res =  false;
		}
	});
	
	return res;
}

</script>
</html>