<!DOCTYPE html>
<html class="fsvs">
<head>
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title></title>
{% load staticfiles %}
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fsvs.js' %}"></script>
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}" />
<!-- link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bundle.css' %}" /-->
<link rel="stylesheet" type="text/css" href="{% static 'css/landingpage/landingpage.css' %}" />
<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="{% static 'css/landingpage/magnific-popup.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" id="medium-editor-theme"/>
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<!-- Magnific Popup core JS file -->
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<script lang="javascript">

	/*
 $(document).ready( function() {
	var slider = $.fn.fsvs({
		speed : 500, 
		autoPlay : false, 
		bodyID : 'fsvs-body', 
		selector : '> .slide', 
		mouseSwipeDisance : 40, 
		afterSlide : function(){}, 
		beforeSlide : function(){}, 
		endSlide : function(){}, 
		mouseWheelEvents : true, 
		mouseWheelDelay : false, 
		scrollabelArea : 'scrollable', 
		mouseDragEvents : false,
		touchEvents : false, 
		arrowKeyEvents : true, 
		pagination : true, 
		nthClasses : false, 
		detectHash : true 
	}); 
	
 });  */

 $(document).ready(function(){
		
		var rand = Math.floor((Math.random() * 3) +1 );
		//$(".landingpage").attr('background-image', '../../static/img/landingpage/bg_00'+rand+'.png');
		//$(".landingpage").css("background-image", "url('../../static/img/landingpage/bg_00"+rand+".png')");
		
	    /* $(document).magnificPopup({
			  type: 'ajax',
			  closeOnContentClick: false,
			  closeOnBgClick: false,
			  showCloseBtn: true,
			  callbacks: {
				  open: function(){
					  console.log('open test');
					  console.log('123');
					  console.log('open test2');
				  },
				  close: function(){

					  console.log('close test');
				  }
			  }
		});  */
	    
		var name = "{{user}}";
	    
		//console.log(name);
		
		if ( "{{user}}" != "AnonymousUser" ){
			//window.location.replace("/user_auth/logout/");
			//console.log('exist');
			
		}else{
			
			//console.log('not exist');
		}
		
		$(".input-search").focus(function(){
			$(".subnav").css("visibility", "visible");
		});
		
		/*
		$("#fsvs-body").click(function(evt){	
			$(".subnav").css("visibility", "hidden");
		});
		$("#left-select").click(function(evt){	
			$(".subnav").css("visibility", "hidden");
		});
		*/
		var msg = "{{message}}";
		
		if( msg ){
			$(".login-div-msg").css("display", "block");
		}else{
			$(".login-div-msg").css("display", "none");
		}
		console.log(msg);
		
	
	});

//회원가입 팝업 - 삭제 (페이지 이동으로 대체)
function open_pop(){
	$.magnificPopup.open({
		  type: 'ajax',
		  items:{
			  src:'user_auth/signup_form/'  
		  },
		  closeOnContentClick: false,
		  closeOnBgClick: false,
		  showCloseBtn: false,
		  callbacks: {
			  open: function(){
				  //console.log('open test');
				  //console.log('123');
				  //console.log('open test2');
			  },
			  close: function(){
	
				  //console.log('close test');
			  }
		  }
	});
}
function ajax_login(){
	console.log('tttetetetet1');
	var email = $("#id_email").val();
	
	if(email.length < 1){
		alert('이메일을 입력해 주세요.');
		return false;
	}
	else{
		document.getElementById('login-form').submit();
	}
}
function click_test(){
	console.log('test click');
}
function touch_test(){
	console.log('test touch');
}
$("body").on("tap",function(){
	console.log('tap testestesetset');
	console.log( event.target.nodeName );
	
});
$("body").click(function(){
	console.log('click testestesetset');
	console.log( event.target.nodeName );
	
});



</script>
</head>
<body>
<div class="div-header">
	<div class="left">
		<select id="left-select" class="left-select">
			{% for lang in languages %}
				<option value="{{lang.id}}" style='background:url("{% static 'img/landingpage/tap_language_open_login_view.png' %}");background-color:black;'>{{lang.language1}} / {{lang.language2}}</option>
			{% endfor %}
		</select>
	</div>
	<div id="temp" class="right">
		<img class="icon-search" src="{% static 'img/landingpage/icon_search.png' %}">
		<input class="input-search" type="text" placeholder="Tellpin 검색" >
		<ul id="ul-look-round" class="subnav"><li><a id="a-look-round" href="/main/" ><img class="img-round" src="{% static 'img/landingpage/tap_look_round_login_view.png' %}"><span class="round-all">{% trans "전체 둘러보기" %}</span></a></li></ul>
		<a onclick="click_test();return false;" id="aaa" href="/main/" style="margin-right:10px;color:white;"><img onclick="click_test()" class="look-round" src="{% static 'img/landingpage/button_look_round_login_view.png' %}"><span onclick="click_test()" class="round-text">{% trans "둘러보기" %}</span></a>
		<a href="user_auth/signup_page/"><img onclick="click_test()" ontouchend="touch_test()" class="btn-search" src="{% static 'img/landingpage/button_join_login_view.png' %}"><span class="signup-text">{% trans "가입" %}</span></a>
	</div>
</div>
<div class="loginpage-mobile">
	<div class="login-title">
	{% trans "Log In" %}
	</div>
	<div class="login-mobile-center">
		<div class="login-div-logo">
			<a href="{% url 'social:begin' 'facebook' %}?next='{{ request.path }}'"><img src="{% static 'img/landingpage/mobile/facebook.png' %}"></a>
		</div>
		<div class="login-div-logo">
			<a href="{% url 'social:begin' 'twitter' %}?next='{{ request.path }}'"><img src="{% static 'img/landingpage/mobile/twitter.png' %}"></a>
		</div>
		<div class="login-div-logo">
			<a href="{% url 'social:begin' 'google-oauth2' %}?next='{{ request.path }}'"><img src="{% static 'img/landingpage/mobile/google.png' %}"></a>
		</div>
	</div>
	<div class="login-mobile-center">
		<div class="login-div-text">
			{% trans "or" %}
		</div>
	</div>
	<div class="login-mobile-center">
		<form id="login-form" class="login" action="/user_auth/mobile_login/" method="post" onsubmit="return ajax_login();">{% csrf_token %}
			{{ form.email }}
			{{ form.pwd }}
			<div style="font-size: 10px;">　</div>
			<div class="login-div-msg"><span id="error_msg">{{message}}</span></div>
			<a href="/" onclick="ajax_login();return false;" class="btn mobile-login-btn" >{% trans "Log In" %}</a>
			<label class="login-remember"><input type="checkbox" class="check-remember"> {% trans "Remember me" %}</label>
		</form>
	</div>
</div>

</body>
</html>