{% extends "user_auth/mail_base.html" %}
{% load i18n %}
<meta charset="utf-8" />

{% block title %}
	{% if message == 'ok' %}
	{% trans "비밀번호 변경 이메일 전송" %}
	{% else %}
	{% trans "비밀번호 변경 실패" %}
	{% endif %}
{% endblock %}
{% load staticfiles %}

{% block head %}
	
{% endblock %}
{% block content %}
	{% if message == 'ok' %}<!-- 
	<span>비밀번호 변경을 위한 이메일을 전송했습니다.</span>
	<span>이메일을 확인해 주세요.</span> -->
	<span>{% blocktrans %}We'll send you a link to reset your password.<br><br>If you don't see the email,<br>check your junk or spam folder.<br>If you still need help, visit our <a href="/help/" style="color: white;">Help Center</a>{% endblocktrans %}</span>
	{% else %}
	{% blocktrans %}<span>입력하신 이메일이 존재 하지 않습니다.</span>
	<span>이메일을 확인해 주세요.</span>{% endblocktrans %}
	{% endif %}
	
{% endblock %}
{% block confirm %}
	<a href="/" class="btn-ok">OK</a>
{% endblock %}