<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
{% load i18n %}
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet"
	href="{% static 'css/landingpage/user_auth.css' %}" />
<title>{% block title %}{% endblock %}</title>
<style>
@font-face {
	font-family:'Montserrat-Light'; 
	src: url('/static/font/montserrat/Montserrat-Light.otf');
}
@font-face {
	font-family:'Montserrat-UltraLight'; 
	src: url('/static/font/montserrat/Montserrat-UltraLight.otf');
}
@font-face {
	font-family: 'Noto Sans';
	src: url('/static/font/NotoSans-hinted/NotoSans-Regular.ttf');
}
body{
	font-family: 'Noto Sans', sans-serif !important;
/* 	font-family: 'Montserrat-Light', sans-serif !important; */
}
</style>
<script>

function check_password(){
	  // 6 ~ 16자리 패스워드. 문자. 숫자 . 특수문자 조합 체크. 
	  //?=.*[] 최소한 한개.
	  //최소한 한개의 숫자, 문자(소,대문자 구분x), 특수문자.  
	  var paswd= /^(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,16}$/;  
	  var password = $("#id_password1").val();
	  
	  if(password.match(paswd)){   
		return true;  
	  }else{   
		alert('최소 6자리의 숫자, 문자, 특수문자 조합으로 입력해 주십시오.');
		return false;  
	  } 
}
</script>
</head>
<body class="body-mail-base">
<!-- <div id="header">
		<a href="/"><img id="LogoImg" src="{% static 'img/landingpage/logo.png' %}" onclick="home();"></a>
</div> -->
<div class="div-mail">
	
	
	<div class="div-logo">
		<img src="{% static 'img/mainpage/logo_tellpin_sign_in.png' %}">
	</div>
	<div class="div-content">
		{% block content %}{% endblock %}
	</div>
	<div class="div-confirm">
		{% block confirm %}{% endblock %}
	</div>
</div>

</body>
</html>