<!DOCTYPE html>
<html class="fsvs">
<head>
{% load i18n %}
<meta charset="UTF-8">
<title>{% trans "Home" %} | {% trans "Tellpin" %}</title>
{% load staticfiles %}
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fsvs.js' %}"></script>
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}" />
<!-- <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bundle.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/landingpage/landingpage.css' %}" />
<script lang="javascript">
/*
 $(document).ready( function() { 
	var slider = $.fn.fsvs({ 
		speed : 500, 
		autoPlay : false, 
		bodyID : 'fsvs-body', 
		selector : '> .slide', 
		mouseSwipeDisance : 40, 
		afterSlide : function(){}, 
		beforeSlide : function(){}, 
		endSlide : function(){}, 
		mouseWheelEvents : true, 
		mouseWheelDelay : false, 
		scrollabelArea : 'scrollable', 
		mouseDragEvents : false, 
		touchEvents : true, 
		arrowKeyEvents : true, 
		pagination : true, 
		nthClasses : false, 
		detectHash : true 
	}); 
}); 
*/
$(document).ready(function(){
	console.log("registration.html:ready");
	//console.log( {{user}} );
	var user = "{{user}}";
	var provider = "{{user.social_auth}}";
	var full_name = "{{user.get_full_name}}";
	var first_name = "{{user.first_name}}"
	var last_name = "{{user.last_name}}"
	var name = "{{user.get_username}}";
	var email = "{{user.email}}";
	var photo = "{{user.userprofile}}";
	var click_id = "";
	console.log("user = " + user);
	console.log("provider = " + provider);
	if( user != "AnonymousUser"){
		$("#id_email").val(email);
		$("#id_name").val(full_name);
	}
	
	var rand = Math.floor((Math.random() * 3) +1 );
	//$(".landingpage").attr('background-image', '../../static/img/landingpage/bg_00'+rand+'.png');
	$(".landingpage").css("background-image","url('/static/img/landingpage/bg_sign_in.png')");
	
	$(".input-search").focus(function(){
		$(".subnav").css("visibility", "visible");
	});
	$(".input-search").blur(function(){	
		$(".subnav").css("visibility", "hidden");
	});
	var msg = "{{message}}";
	
	
	if( msg ){
		$(".div-msg").css("display", "block");
	}else{
		//$(".div-msg").css("display", "none");
	}
	

	$("#id_email").blur(function(event){
		//console.log(event.relatedTarget.id);
		/* if(email_check() && pwd_check() && name_check()){
			$(".div-msg").css("display", "none");
			$("#error_msg").html("");
			if( click_id == 'btn_signup'){
				$("#signup_form").submit();
			}
		} */
		if(email_check()){
			$("#id_email").css("border-color", "#bdc3c7");
			$(".div-msg1").css("display", "none");
			$("#error_msg1").html("");
			if( click_id == 'btn_signup'){
				$("#signup_form").submit();
			}
		}
	});
	$("#id_pwd").blur(function(event){
		//console.log('pwd blur');
		//console.log(event.relatedTarget.id);
		/* if(email_check() && pwd_check() && name_check()){
			$(".div-msg").css("display", "none");
			$("#error_msg").html("");
			if(click_id == 'btn_signup'){
				$("#signup_form").submit();
			}
		} */
		if(pwd_check()){
			$("#id_pwd").css("border-color", "#bdc3c7");
			$(".div-msg2").css("display", "none");
			$("#error_msg2").html("");
			if(click_id == 'btn_signup'){
				$("#signup_form").submit();
			}
		}
	});
	$(document).mousedown(function(event){
		console.log('mouse down() ');
		console.log(event.target.id);
		click_id = event.target.id;
		console.log(click_id);
	});
	$("#id_name").blur(function(event){
		//console.log(event.relatedTarget.id);
		/* if(email_check() && pwd_check() && name_check()){

			$(".div-msg").css("display", "none");
			$("#error_msg").html("");
			
			if( click_id == 'btn_signup'){
				$("#signup_form").submit();
			}
			
		} */
		if(name_check()){
			$("#id_name").css("border-color", "#bdc3c7");
			$(".div-msg3").css("display", "none");
			$("#error_msg3").html("");
			
			if( click_id == 'btn_signup'){
				$("#signup_form").submit();
			}
			
		}
	});
});
function ajax_signup(){
	 console.log("registration.html : ajax_signup");
	$("#pop-profile-template").css("z-index", "1");
	$("#tutor-schedule-template").css("display", "block");
	var url=location.href;
	//var passurl=url.replace("signup_form/","ajax_signup/");
	var passurl= url.split("/", 3);
	console.log(passurl);
	passurl = passurl[0]+"//"+passurl[2] + "/user_auth/ajax_signup/";
	console.log(passurl);
	var email=$('#id_email').val();
	var pwd=$('#id_pwd').val();
	var name=$('#id_name').val();
	var postData = {
		'email' : email,
		'pwd' : pwd,
		'name' : name,
	}
	var res = false;
	$.ajax({
				type : "POST",
				url : passurl,
				data : postData,
				async: false,
				success : function(response) {
					
					// var result=JSON.parse(response);
                    var result = response;
					console.log( result.success );
					if(result.success){

						res = true;
						$("#error_msg").html("");
						console.log('true ' + result.message);
						$(".div-msg").css("display", "none");
						$("#id_email").css("border-color", "#bdc3c7");
						$("#id_pwd").css("border-color", "#bdc3c7");
						$("#id_name").css("border-color", "#bdc3c7");
					}
					else{
						res = false;
						console.log('false ' + result.message + result.email + result.password + result.name);
					
						if( result.email ){
							$("#error_msg1").text(result.message);
							$(".div-msg1").css("display", "block");
							$("#id_email").css("border-color", "red");
						}
						if( result.password ){
							//$("#error_msg").text(result.message);
							//$(".div-msg").css("display", "block");
						}
						if( result.name ){
							$("#error_msg3").text(result.message);
							$(".div-msg3").css("display", "block");
							$("#id_name").css("border-color", "red");
						}

						$("#tutor-schedule-template").css("display", "none");
					}
				},
				error:function(request,status,error){
			        //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			    	alert("회원가입에 실패하였습니다. 관리자에게 문의하여 주세요.");
					$("#tutor-schedule-template").css("display", "none");
				}
				
			})
	//$("#tutor-schedule-template").css("display", "none");
	console.log('ajax_signup');
	console.log(res);
	return res;
	
}
function email_check(){
	var regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
	var email = $("#id_email").val();
	
	if(!email.match(regExp)){
        console.log("The email format is incorrect.!");
        $("#error_msg1").text("Please provide a valid email address.");
		$(".div-msg1").css("display", "block");
		$("#id_email").css("border-color", "red");
		return false;
	}
	return true;
}
function pwd_check(){
	console.log("pwd_check");
	pwd = $("#id_pwd").val();
	uid = $("#id_email").val();
	if( pwd.length<8 || pwd.length>20){
		$("#id_pwd").css("border-color", "red");
        console.log("비밀번호는 문자, 숫자, 특수문자의 조합으로 8~20자리로 입력해주세요.");
        $("#error_msg2").text("8 to 20 characters, case-sensitive,\n"+
        		"Must contain at least one alpha character\n"+
        		"[a-z,A-Z] and one numeric character[0-9], \n"+
        		"Can contain following special characters: "+
				"!,@,#,$,%,^,&,*,?,_,~");
		$(".div-msg2").css("display", "block");
        return false;
    }
    if(pwd.search(/\s/) != -1){
		$("#id_pwd").css("border-color", "red");
    	console.log("비밀번호는 공백업이 입력해주세요.");
    	$("#error_msg2").text("8 to 20 characters, case-sensitive,\n"+
        		"Must contain at least one alpha character\n"+
        		"[a-z,A-Z] and one numeric character[0-9], \n"+
        		"Can contain following special characters: "+
				"!,@,#,$,%,^,&,*,?,_,~");
		$(".div-msg2").css("display", "block");
		return false;
    }
    //if(!pwd.match( /([a-zA-Z].*[!,@,#,$,%,^,&,*,?,_,~].*[0-9])|([a-zA-Z].*[0-9].*[!,@,#,$,%,^,&,*,?,_,~])|([0-9].*[a-zA-Z].*[!,@,#,$,%,^,&,*,?,_,~])|([0-9].*[!,@,#,$,%,^,&,*,?,_,~].*[a-zA-Z])|([!,@,#,$,%,^,&,*,?,_,~].*[0-9].*[a-zA-Z])|([!,@,#,$,%,^,&,*,?,_,~].*[a-zA-Z].*[0-9])/ )) 	    
    if(!pwd.match(/([0-9].*[a-zA-Z])|([a-zA-Z].*[0-9])/))
   	{
		$("#id_pwd").css("border-color", "red");
    	console.log("비밀번호는 문자, 숫자, 특수문자의 조합으로 8~20자리로 입력해주세요.");
    	$("#error_msg2").text("8 to 20 characters, case-sensitive,\n"+
        		"Must contain at least one alpha character\n"+
        		"[a-z,A-Z] and one numeric character[0-9], \n"+
        		"Can contain following special characters: "+
				"!,@,#,$,%,^,&,*,?,_,~");
		$(".div-msg2").css("display", "block");
        return false;
    }    
    /* if(/(\w)\1\1/.test(pwd)){
    	console.log('비밀번호에 같은 문자를 3번 이상 사용하실 수 없습니다.'); 
    	$("#error_msg").text("8 to 20 characters, case-sensitive,\n"+
        		"Must contain at least one alpha character\n"+
        		"[a-z,A-Z] and one numeric character[0-9]"); 
		$(".div-msg").css("display", "block");
        return false;
    } */
    /* if( pwd.search(uid)>-1){
    	console.log('ID가 포함된 비밀번호는 사용하실 수 없습니다.');
    	$("#error_msg").text('Must Be 8-20 characters in length.');
		$(".div-msg").css("display", "block");
        return false;
    } */
	return true;
}
function name_check(){
	console.log("name_check");
	var name = $("#id_name").val();
	if( name.length < 3 || name.match( /[~!@\#$%<>^&*\()\-=`+_\’\\\'\"]/gi) || name.length > 50){
		$("#id_name").css("border-color", "red");
    	console.log('이름을 입력해주세요.');
    	$("#error_msg3").text('Between 3 and 50 characters without special characters');
    	$(".div-msg3").css("display", "block");
		return false;
	}
	return true;
}
function logout( ){
	console.log("registration.html:logout");
	var url=location.href;
	//var passurl=url.replace("signup_form/","ajax_signup/");
	var passurl= url.split("/", 3);
	console.log(passurl);
	passurl = passurl[0]+"//"+passurl[2] + "/user_auth/ajax_logout/";
	console.log(passurl);
	
	var res = false;
	$.ajax({
				type : "POST",
				url : passurl,
				async: false,
				success : function(response) {
					var result=JSON.parse(response);
					console.log( result );
				}
	});

}
function check_validation(){
	if( email_check() && pwd_check() && name_check()){
		if( ajax_signup()){
			console.log('check_validation true');
			return true;
		}
	}
	console.log('check_validation false');
	return false;
}



</script>
</head>
<body>
<div id="tutor-schedule-template">
		<img src="{% static 'img/ajax_loading.gif' %}">
</div>
<div class="div-header">
	<div class="signup-right">
		<!--img class="icon-search" src="{% static 'img/landingpage/icon_search.png' %}">
		<input class="input-search" type="text" placeholder="Tellpin 검색" >
		<ul class="subnav"><li><a href="/main/"><img class="img-round" src="{% static 'img/landingpage/tap_look_round_login_view.png' %}"><span class="round-all">전체 둘러보기</span></a></li></ul-->
		<!--<a href="/"><img class="btn-search" src="{% static 'img/landingpage/button_login2.png' %}"></a>-->
		<a onclick="logout();" href="/user_auth/login_form/"><img style="width: 58px; height: 32px;" class="btn-login" src="{% static 'img/landingpage/button_join_login_view.png' %}"><span class="login-text">{% trans "Sign in" %}</span></a>
	</div>
</div>
<div id="fsvs-body">
	<div class="slide">
		<div class="landingpage">

				<div class="signup-div-center">
					<div class="div-logo">
						<a href="/"><img style="width: 194px; height: 68px;" src="{% static 'img/mainpage/logo_tellpin_sign_in.png' %}"></a>
					</div>
					<div style="border-top: 1px solid #00b5cb; width: 250px; margin: auto; margin-top:20px;">
					</div>
					<div class="div-title">
					{% trans "Sign up" %}
					</div>
					 
					<div class="div-icon2">
						<a onclick="logout()" href="{% url 'social:begin' 'facebook' %}?next='{{ request.path }}'"><img style="width: 296px; height: 49px;" src="{% static 'img/landingpage/mobile/facebook_signup.png' %}"></a>
						<a onclick="logout()" href="{% url 'social:begin' 'twitter' %}?next='{{ request.path }}'"><img style="width: 296px; height: 49px;" src="{% static 'img/landingpage/mobile/twitter_signup.png' %}"></a>
						<a onclick="logout()" href="{% url 'social:begin' 'google-oauth2' %}?next='{{ request.path }}'"><img style="width: 296px; height: 49px;" src="{% static 'img/landingpage/mobile/google_signup.png' %}"></a>
					</div>
					<!--
					<div class="div-icon">
						  
						<a onclick="logout()" href="{% url 'social:begin' 'facebook' %}?next='{{ request.path }}'"><img src="{% static 'img/landingpage/icon_facebook.png' %}"></a>
						<a onclick="logout()" href="{% url 'social:begin' 'twitter' %}?next='{{ request.path }}'"><img src="{% static 'img/landingpage/icon_twitter.png' %}"></a>
						<a onclick="logout()" href="{% url 'social:begin' 'google-oauth2' %}?next='{{ request.path }}'"><img src="{% static 'img/landingpage/icon_google_plus.png' %}"></a>
						
					</div>
					-->
					<div class="div-text">
						<!-- <span>또는 이메일을 통해</span> -->
						<span>{% trans "or Via" %}</span>
					</div>
					<div class="div-form"><!-- " -->
					<form id="signup_form" class="login" action="/user_auth/signup/" method="post" onsubmit="return check_validation();">{% csrf_token %}
						
						<div>{{ form.email }}</div>
						<div class="div-msg1"><span id="error_msg1">{{message}}</span></div>
						<div>{{ form.pwd }}</div>
						<div class="div-msg2"><span id="error_msg2">{{message}}</span></div>
						<div>{{ form.name }}</div>
						<div class="div-msg3"><span id="error_msg3">{{message}}</span></div>
						
						<div style="font-size: 10px;">　</div>
						<button id="btn_signup" class="btn-registration">{% trans "Sign up" %}</button>
					</form>
					</div>
					
				</div>
				<!--div class="div-footer">
					<div class="div-footer-right-1">
					<span class="span-text">올린 이 : </span><a href="#"><span class="span-text">Noah</span></a>
					</div>
					<div class="div-footer-right-2">
					<a href="#"><img class="icon-noah" src="{% static 'img/landingpage/icon_noah_choi.png' %}"></a>
					</div>
				</div-->
		</div>
	</div>
    <!--  <div class="slide" style="width:100%; height:100%; overflow:hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;  background-image:url('{{home}}static/img/landingpage/intro1.png'); "></div>
    <div class="slide" style="width:100%; height:100%; overflow:hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;  background-image:url('{{home}}static/img/landingpage/intro2.png'); "></div>
    <div class="slide" style="width:100%; height:100%; overflow:hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;  background-image:url('{{home}}static/img/landingpage/intro3.png'); "></div>
    <div class="slide" style="width:100%; height:100%; overflow:hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;  background-image:url('{{home}}static/img/landingpage/intro1.png'); "></div>
    <div class="slide" style="width:100%; height:100%; overflow:hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;  background-image:url('{{home}}static/img/landingpage/intro2.png'); "></div>-->
</div>
</body>
</html>