{% extends "user_auth/mail_base.html" %}
{% load i18n %}
<meta charset="utf-8" />
{% block title %}{% trans "비밀번호 변경 성공" %}{% endblock %}
{% load staticfiles %}

{% block head %}
	<span>{% trans "안녕하세요." %}</span>
{% endblock %}
{% block content %}
	<meta http-equiv="refresh" content="2;url=/" />
	{% blocktrans %}<span>비밀번호가 성공적으로 <br>변경되었습니다.</span>
	<span>잠시후 로그인 화면으로 이동합니다.</span>{% endblocktrans %}
	{% endblock %}
{% block confirm %}
<a href="/"><img alt="확인" src="{% static 'img/after_join/confirm.png' %}"></a>
{% endblock %}



