<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
{% load i18n %}
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet"
	href="{% static 'css/landingpage/password_reset.css' %}" />
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<title>{% block title %}{% endblock %}</title>

<script>
function check_password(){
	  
	
	pwd = $("#id_password1").val();
	uid = $("#email").val();
	console.log( 'check_password, ' + pwd + ', ' + uid);
	
	if( pwd.length<8 || pwd.length>20){
        console.log("비밀번호는 문자, 숫자, 특수문자의 조합으로 8~20자리로 입력해주세요.");
        $("#error_msg").text("8 to 20 characters, case-sensitive,\n"+
        		"Must contain at least one alpha character\n"+
        		"[a-z,A-Z] and one numeric character[0-9], \n"+
        		"Can contain following special characters: "+
				"!,@,#,$,%,^,&,*,?,_,~");
		$(".div-msg").css("display", "block");
        return false;
    }
    if(pwd.search(/\s/) != -1){
    	console.log("비밀번호는 공백업이 입력해주세요.");
    	$("#error_msg").text("8 to 20 characters, case-sensitive,\n"+
        		"Must contain at least one alpha character\n"+
        		"[a-z,A-Z] and one numeric character[0-9], \n"+
        		"Can contain following special characters: "+
				"!,@,#,$,%,^,&,*,?,_,~");
		$(".div-msg").css("display", "block");
		return false;
    }
    //if(!pwd.match( /([a-zA-Z].*[!,@,#,$,%,^,&,*,?,_,~].*[0-9])|([a-zA-Z].*[0-9].*[!,@,#,$,%,^,&,*,?,_,~])|([0-9].*[a-zA-Z].*[!,@,#,$,%,^,&,*,?,_,~])|([0-9].*[!,@,#,$,%,^,&,*,?,_,~].*[a-zA-Z])|([!,@,#,$,%,^,&,*,?,_,~].*[0-9].*[a-zA-Z])|([!,@,#,$,%,^,&,*,?,_,~].*[a-zA-Z].*[0-9])/ )) 	            
    if(!pwd.match(/([0-9].*[a-zA-Z])|([a-zA-Z].*[0-9])/))
    {
    	console.log("비밀번호는 문자, 숫자의 조합으로 8~20자리로 입력해주세요.");
    	$("#error_msg").text("8 to 20 characters, case-sensitive,\n"+
        		"Must contain at least one alpha character\n"+
        		"[a-z,A-Z] and one numeric character[0-9], \n"+
        		"Can contain following special characters: "+
				"!,@,#,$,%,^,&,*,?,_,~");
        return false;
    }    
    $("#error_msg").text("");
	if( $("#id_password2").val() != pwd ){
		$("#error_msg2").text("Passwords do not match");
		return false;
	}
	$("#error_msg2").text("");
    /*
    if(/(\w)\1\1/.test(pwd)){
    	console.log('비밀번호에 같은 문자를3번 이상 사용하실 수 없습니다.'); 
    	alert('비밀번호에 같은 문자를 3번 이상 사용하실 수 없습니다.'); 
        return false;
    }
    if( pwd.search(uid)>-1){
    	console.log('ID가 포함된 비밀번호는 사용하실 수 없습니다.');
    	alert('ID가 포함된 비밀번호는 사용하실 수 없습니다.');
        return false;
    }
    */
	return true;
}
</script>
<style>
@font-face {
	font-family:'Montserrat-Light'; 
	src: url('/static/font/montserrat/Montserrat-Light.otf');
}
@font-face {
	font-family:'Montserrat-UltraLight'; 
	src: url('/static/font/montserrat/Montserrat-UltraLight.otf');
}
@font-face {
	font-family: 'Noto Sans';
	src: url('/static/font/NotoSans-hinted/NotoSans-Regular.ttf');
}
body{
	font-family: 'Noto Sans', sans-serif !important;
/* 	font-family: 'Montserrat-Light', sans-serif !important; */
}
</style>
</head>
<body class="body-mail-base">
<!-- <div id="header">
		<a href="/"><img id="LogoImg" src="{% static 'img/landingpage/logo.png' %}" onclick="home();"></a>
</div> -->
<div class="div-mail">
	<div class="div-logo">
		<a href="/"><img style="width: 329px; height: 115px;" src="{% static 'img/mainpage/tellpin_header_logo_title_beta.png' %}"></a>
	</div>
	<form method="post" action="/user_auth/reset/success/" onsubmit="return check_password();" onkeyup="" onblur="">{% csrf_token %}
	<div class="div-content">
		<input id="email" style="padding:0 10px;border-bottom:thin solid #DEDEDE;" type="text" name="password1" value="{{request.session.email}}" readonly="readonly">
		<input id="id_password1" style="padding:0 10px;border-bottom:thin solid #DEDEDE;" type="password" name="password1" placeholder="New Password">
		<div class="div-msg"><span id="error_msg"></span></div>
		<input id="id_password2" style="padding:0 10px;" type="password" name="password2" placeholder="Confirm New Password">
		<div class="div-msg2"><span id="error_msg2"></span></div>
	</div>
	
	<div class="div-confirm">
		<button type="submit">{% trans "Reset Password" %}</button>
	</div>
	</form>
</div>

</body>
</html>
