<!DOCTYPE html>
<html class="fsvs">
<head>
    {% load i18n %}
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fsvs.js' %}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}" />
    <!-- link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bundle.css' %}" /-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/landingpage/landingpage.css' %}" />
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static 'css/landingpage/magnific-popup.css' %}" />
    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <!-- Magnific Popup core JS file -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

    <script>
    $(document).ready(function(){

		var rand = Math.floor((Math.random() * 3) +1 );
		//$(".landingpage").attr('background-image', '../../static/img/landingpage/bg_00'+rand+'.png');
		$(".landingpage").css("background-image", "url('../../static/img/landingpage/bg_landing_page.png')");

	    /* $(document).magnificPopup({
			  type: 'ajax',
			  closeOnContentClick: false,
			  closeOnBgClick: false,
			  showCloseBtn: true,
			  callbacks: {
				  open: function(){
					  console.log('open test');
					  console.log('123');
					  console.log('open test2');
				  },
				  close: function(){

					  console.log('close test');
				  }
			  }
		});  */

		var name = "{{user}}";

		//console.log(name);

		if ( "{{user}}" != "AnonymousUser" ){
			//window.location.replace("/user_auth/logout/");
			//console.log('exist');

		}else{

			//console.log('not exist');
		}

		$(".input-search").focus(function(){
			$(".subnav").css("visibility", "visible");
		});

		$("#fsvs-body").click(function(evt){
			$(".subnav").css("visibility", "hidden");
		});
		$("#left-select").click(function(evt){
			$(".subnav").css("visibility", "hidden");
		});
		$("#id_email").focus();
	});

//회원가입 팝업 - 삭제 (페이지 이동으로 대체)
function open_pop(){
	$.magnificPopup.open({
		  type: 'ajax',
		  items:{
			  src:'user_auth/signup_form/'
		  },
		  closeOnContentClick: false,
		  closeOnBgClick: false,
		  showCloseBtn: false,
		  callbacks: {
			  open: function(){
				  //console.log('open test');
				  //console.log('123');
				  //console.log('open test2');
			  },
			  close: function(){

				  //console.log('close test');
			  }
		  }
	});
}
function check_validation(){
	if(email_check()){
		if( ajax_login() ){

			console.log('true');
			return false;
		}
	}

	return false;
}
function email_check(){
	var regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
	var email = $("#id_email").val();

	if(!email.match(regExp)){
        console.log("The email format is incorrect.!!");
        $("#error_msg").text("Please provide a valid email address.");
		$(".div-msg").css("display", "block");
		return false;
	}
	return true;
}
    </script>
</head>
<body>
    <div class="div-header">

    </div>
    <div id="fsvs-body">

        <div class="slide">
            <div class="landingpage">
                {% comment %}
                <div class="div-social-test">
                    {% if request.user.is_authenticated %}
                    <a>Hello, {{ user.get_full_name }}!</br></br></a>
                    <div>user: {{ details }}</div>
                    <div>user_name: {{ user.username }}</div>
                    <div>first_name: {{ user.first_name }}</div>
                    <div>last_name: {{ user.last_name }}</div>
                    <div>email1: {{ user.email }}</div>
                    <div>email2: {{ request.user.email }}</div>
                    <br>
                    <a style="color:white;" href="user_auth/logout">{% trans "Logout" %}</a>
                    {% else %}
                    <a target="" href="{% url 'social:begin' 'twitter' %}?next='{{ request.path }}'">{% trans "Login with Twitter" %}</a> /
                    <a target="_blank" href="{% url 'social:begin' 'facebook' %}?next='{{ request.path }}'">{% trans "Login with Facebook" %}</a> /
                    <a target="_blank" href="{% url 'social:begin' 'google-oauth2' %}?next='{{ request.path }}'">{% trans "Login with Google" %}</a>
                    <a href="{% url 'social:begin' 'google' %}?next={{ request.path }}">L{% trans "Login with google" %}</a>
                    <a href="{% url 'social:begin' 'twitter' %}?next='{{ request.path }}'">{% trans "Login with Twitter" %}</a> /
                    <a href="{% url 'social:begin' 'facebook' %}?next='{{ request.path }}'">{% trans "Login with Facebook" %}</a> /
                    <a href="{% url 'social:begin' 'google-oauth2' %}?next='{{ request.path }}'">{% trans "Login with Google" %}</a>
                    {% endif %}
                </div>
                {% endcomment %}
                <div class="div-center">
                    <div class="div-logo">
                        <a href="/"><img style="width: 194px; height: 68px;" src="{% static 'img/mainpage/logo_tellpin_sign_in.png' %}"></a>
                    </div>
                    <div style="border-top: 1px solid #00b5cb; width: 250px; margin: auto; margin-top:20px;"></div>
                    <div class="div-icon">
                        <!-- <a class='' href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><img src="{% static 'img/landingpage/icon_facebook.png' %}"></a> -->
                        <!--  <a href="{% url 'social:begin' 'facebook' %}?next='{{ request.path }}'"><img src="{% static 'img/landingpage/icon_facebook.png' %}"></a>
                        <a href="{% url 'social:begin' 'twitter' %}?next='{{ request.path }}'"><img src="{% static 'img/landingpage/icon_twitter.png' %}"></a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next='{{ request.path }}'"><img src="{% static 'img/landingpage/icon_google_plus.png' %}"></a>-->
                    </div>
                    <div class="div-form" style="margin-top: 50px;">
                        <form class="login" action="/user_auth/reset_password/" method="post" onsubmit="return email_check();">
                            {% csrf_token %}
                            {{ form.email }}
                            <!-- <button type="submit" class="btn-password-reset"></button>
                            <a href="/"><img class="btn-cancel" src="{% static 'img/landingpage/button_cancel.png' %}"></a> -->
                            <div class="div-msg"><span id="error_msg">{{message}}</span></div>
                            <button type="submit" class="btn-reset">{% trans "Reset Password" %}</button>
                            <a href="/user_auth/login_form/" class="btn-cancel">{% trans "Cancel" %}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" style="width:100%; height:100%; overflow:hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;  background-image:url('../../static/img/landingpage/intro1.png'); "></div>
        <div class="slide" style="width:100%; height:100%; overflow:hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;  background-image:url('../../static/img/landingpage/intro2.png'); "></div>
        <div class="slide" style="width:100%; height:100%; overflow:hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;  background-image:url('../../static/img/landingpage/intro3.png'); "></div>
        <div class="slide" style="width:100%; height:100%; overflow:hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;  background-image:url('../../static/img/landingpage/intro1.png'); "></div>
        <div class="slide" style="width:100%; height:100%; overflow:hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;  background-image:url('../../static/img/landingpage/intro2.png'); "></div>
    </div>
</body>
</html>