<!DOCTYPE html>
<html class="fsvs">
<head>
{% load i18n %}
<meta charset="UTF-8">
<title></title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" href="{% static 'css/landingpage/magnific-popup.css' %}"> 
<!--link rel="stylesheet" href="{% static 'css/landingpage/signupform.css' %}"--> 
<link rel="stylesheet" href="{% static 'css/landingpage/signupform2.css' %}"> 
<script src="{% static 'js/utils.js' %}"></script> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script lang="javascript">
function signup_validation(){
	$('#id_name').blur(function(evt) {
	    evt.target.checkValidity();
	}).bind('valid', function(event) {
		$("#name-validation").text('??');
	});
	$('#id_name').keyup(function(evt) {
	    evt.target.checkValidity();
	}).bind('invalid', function(event) {
		//console.log(event);
		$("#name-validation").text('영문 숫자 조합으로 입력해 주세요!');
	});
}
function ajax_signup(){
	 
	//var url=location.href;
	signup_validation();
	var url = "{{ url }}";
	var passurl=url+'user_auth/ajax_social_signup/';
	var email=$('#id_email').val();
	var pwd=$('#id_pwd').val();
	var name=$('#id_name').val();
	var postData = {
		'email' : email,
		'pwd' : pwd,
		'name' : name,
	}
	var res = false;
	$.ajax({
				type : "POST",
				url : passurl,
				data : postData,
				async: false,
				success : function(response) {
					var result=JSON.parse(response);
					if(result.success){
						res = true;
						//$("#error_msg").text("");
						$("#name-validation").text("");
						$("#email-validation").text("");
						$("#pwd-validation").text("");
					}
					else{
						res = false;
						//$("#error_msg").text(result.message);
						$("#name-validation").text(result.name);
						$("#email-validation").text(result.email);
						$("#pwd-validation").text(result.pwd);
					}
				},
				error:function(request,status,error){
			        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			    	alert("회원가입에 실패하였습니다. 관리자에게 문의하여 주세요.");
				}
	
			})
	return res;
}

$(document).ready( function(){
	
	var user = "{{user}}";
	var provider = "{{user.social_auth}}";
	var full_name = "{{user.get_full_name}}";
	var first_name = "{{user.first_name}}"
	var last_name = "{{user.last_name}}"
	var name = "{{user.get_username}}";
	var email = "{{user.email}}";
	var photo = "{{user.userprofile}}";
	
	/*
	console.log(user);
	console.log(provider);
	console.log(full_name);
	console.log(first_name);
	console.log(last_name);
	console.log(name);
	console.log(email);
	console.log(photo);
	*/
	
	//앞,뒤,글자사이 공백세거
	full_name = $.trim(full_name).replace(/ /g, '');
	
	$("#id_name").val(full_name);
	$("#id_email").val(email);
	$("#id_pwd").val();
	
	ajax_signup();
	
	
	
	
});




</script>
</head>
<body>
<div class="head">
<div class="head-content">

<div class="head-search">
<img style="width: 17px; height: 19px;" src="{% static 'img/mainpage/icon_search_white.png' %}">
</div>

<a href="/"><img id="head-logo" src="{% static 'img/mainpage/logo.png' %}"></a>

<div class="head-my">
<div class="left-icon">
<a href="/mypage/"><img id="my-icon" src="{% static 'img/mainpage/icon_noah_choi.png' %}"><div id="my-name">{% trans "Noah" %}</div></a>
</div>
<div class="right-icon">
<img id="my-chat" src="{% static 'img/mainpage/icon_chat.png' %}">
<a href="/main/write/"><img id="my-write" src="{% static 'img/mainpage/icon_write.png' %}"></a>
</div>
</div>
</div>
</div>

<div class="div-form">
	<form class="form-popup" action="/user_auth/signup/" method="post" onsubmit="return check_validation();">{% csrf_token %}
		<div class="form-title">
			<span>{% trans "아이디를 만드세요" %}</span>
		</div>
		<div class="form-content">
			<span>{% trans "내가 좋아하는 모든 것, 함께 즐길 친구들. Tellpin 커뮤니티에 모두 있습니다." %}</span>
		</div>
		<div class="form-name">
			{{ form.name }}
			<div class="div-name-validation">
				<span id="name-validation"></span>
			</div>
		</div>
		
		<div class="form-email">
			{{ form.email }}
			<div class="div-email-validation">
				<span id="email-validation"></span>
			</div>
		</div>
		<div class="form-password">
			{{ form.pwd }}
			<div class="div-pwd-validation">
				<span id="pwd-validation"></span>
			</div>
		</div>
		<div style="font-size: 10px;">　</div>
		<div class="div-msg"><span id="error_msg"></span></div>
		<div class="form-signup">
			<button type="submit"></button>
		</div>
	</form>
</div>
</body>
</html>
