{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{%trans "Find friends for a language exchange" %} | {%trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/exchange/exchange_user_find.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}" />


<style>
.container {
	min-width: 1024px;
	width: 1024px;
	min-height: 1080px;
	padding: 15px 0px 0px 0px;
}

.chosen-container-single .chosen-single span {
	color: #333333;
}

.chosen-container{
	height: 30px;
	float: left;
}
.chosen-drop{
	margin-top: 5px !important;
	border-top: 1px solid #aaa !important;
	border-radius: 4px !important;
	width: 300px !important;
}
.chosen-drop > input{
}
.chosen-single{
	padding-top: 3px !important;
	height: 30px !important;
	background: none !important;
	box-shadow: none !important;
	border-radius: 5px;
	border: none !important;
	border-bottom-right-radius: 5px !important;
}
.chosen-single > div > b{
	padding-top: 5px !important;
	background: url("/static/img/tutor/select_arrow.png") no-repeat 99% 50% !important;
	
}

.tutor-main-select {
	width: 30%;
	height: 30px;
	margin-left: 5%;
	border-radius: 5px;
	/*border: 1px solid #bfdfff;*/
	border: 1px solid #c9c9c9;
	padding-left: 10px;
	float: left;
}
.tutor-main-select-div {
	width: 30%;
	height: 30px;
	margin-left: 5%;
	border-radius: 5px;
	/*border: 1px solid #bfdfff;
	border: 1px solid #c9c9c9;*/
	float: left;
}
.tutor-sub-select {
	width: 13%;
	height: 30px;
	margin-left: 3%;
	border-radius: 5px;
	border: 1px solid #c9c9c9;
	padding-left: 10px;
}
.tutor-sub-select-div{
	width: 12%;
	height: 30px;
	margin-left: 4%;
	/*border-radius: 5px;
	border: 1px solid #c9c9c9;
	*/
	float: left;
}

/*drop down button*/
.dropdown-ul{
	padding: 10px;
	width: 100%;
}
.dropdown-ul input{
	margin-left: 10px;
	margin-top: 10px;
}
.dropdown-ul input[type=checkbox], .dropdown-ul input[type=radio]{
	height: 18px;
	width: 18px;
	vertical-align: bottom;
}
.dropdown-avail input{
}

.dropdown-btn{
	width: 100%;
	height: 30px;
	overflow: hidden;
	text-align: left;
	padding-right: 7px;
}
.caret{
	float:right;
	margin-top: 5px;
	border-top: 6px dashed;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
}
.open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-default:focus, .btn-default:focus, .btn-default:hover{
	background-color: white;
}
/*end*/


.tutor-left{
	margin-left: 0;
}
.tutor-right{
	float:right;
	background: rgb(0, 181, 203);
	margin: 1px 10px 0px 0px;
	height: 30px;
	width: 140px;
/*	background-image: url("/static/img/tutor/icon_search_white.png");*/
	background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: none;
    border-radius: 5px;
}

.sub-left{
	margin-left: 5%;
}
.sub-right{
	margin-left: 4%;
}
.sub-left2{
	margin-left: 8px;
}
.sub-right2{
	margin-left: 18px;
}

.mobile-tutor-right{
	padding-top: 7px;
	margin-left: 1%;
	background: #F06061;
	margin-top:5px;
	border: none;
	height: 40px;
	width: 40px;
	background-image: url("/static/img/tutor/icon_search_white.png");
	background-repeat: no-repeat;
    background-position: center;
    float:right;
}
.mobile-tutor-right2{
	padding-top: 7px;
	margin-left: 1%;
	background: #F06061;
	height: 40px;
	width: 40px;
	background-image: url("/static/img/tutor/icon_search_white.png");
	background-repeat: no-repeat;
    background-position: center;
    float:right;
    border: none;
}
.div-row{
	height: 40px;
	margin-top: 10px;
	vertical-align: middle;
}
.div-ex-sub-row{
	margin-top: 0;
}
.div-title{
	text-align: left;
	margin-bottom: 10px;
	color: #f25b22;
	font-size:20px;
}
.div-apply{
	left:calc(50% + 530px);
	text-align: center;
	position:fixed;
	top: 200px;
	border:1px solid #F06061;
	background:white;
	padding:10px;
	width:220px;
}
.div-apply .div-right{
}
.tutor-label{
	margin-left: 30px;
}
.tutor-check{
	overflow: visible;
	width: 18px;
	height: 18px;
	margin-left: 10px !important;
	vertical-align: middle;
	margin-top: 0px !important;
}
.tutor-search{
	border-radius: 5px;
	border: 1px solid #c9c9c9;
	margin: auto;
	width: 100%;
	height: 30px;
	background: white;
}
.tutor-search-mobile{
	border-radius: 5px;
	border: 1px solid #c9c9c9;
	margin: auto;
	width: 100%;
	height: 30px;
	background: white;
	padding: 0 10px;
}
.tutor-search-img{
	right: 0;
	position: absolute;
	margin-right: 25px;
	margin-top: 37px;
}
.tutor-search-mobile-img{
	right: 0;
	top:  124px;
	position: absolute;
	margin-right: 20px;
}
.addTutor:HOVER {
	cursor: pointer;
}
.user-box{
    width: 120px;
    height: 120px;
    border: 1px solid #DBEFF1 !important;
    border-radius: 30% !important;
}

.border-none {
    border: none;
}

.footer-page-up{
	position: fixed;
	bottom: 50px;
	right:50px;
	width:46px !important;
	height:46px !important;
	padding: 10px 13px 15px 13px;
	z-index: 1000;
	cursor: pointer;
	border-radius: 8px;
	cursor: pointer;
	background: #00b5cb;
	vertical-align: middle;
	
}
</style>

<div class="container" ng-controller="exchangeFindController" ng-init="data={{data}};search_data=data.search_data;tutor_list=data.tutor_list;loading()">
	<!-- <div style="overflow:hidden;">
	<div class="tell-btn" style="float:right; margin-right: 150px;" onclick="registTutor();">강사 등록</div>
	</div> -->
	
	<!-- top button -->
	<div class="footer-page-up" onclick="goTop2();">
		<img src="{%static 'img/community/icon_page_up2.png'%}">
	</div>
	<!-- schedule -->
	<div id="blanket" style="display:none;" onclick="popup('add-pop')"></div>	  
	<div id="add-pop" style="display:none;" class="add-pop" >
		<div class="contents">
		</div>
	</div>		
	<!-- self introduction -->
	<div id="blanket2" style="display:none;" onclick="popup('add-pop2')"></div>	  
	<div id="add-pop2" style="display:none;" class="add-pop">
		<div class="contents">
		<!--iframe id="self_intro" width="100%" height="500px"
					src="https://www.youtube.com/embed/dnW1CfH2_IA" frameborder="0"
					allowfullscreen></iframe-->
		<!--img src="{% static 'img/s2.png' %}" style="width:100%" onclick="popup('add-pop2');"-->
		</div>
	</div>		
	<!-- filter -->
	<div class="tutor-screen">
	<div class="tutor-top" >
		<div class="div-row div-title">
			<span style="margin-top: 5px;display:inline; font-weight: 600;">{% trans "Find a Language Exchange" %}</span>
			<div style="float: right; width: 250px;margin-top:6px;">
				<div class="input-group">
			      <input type="text" id="search_name" class="form-control" placeholder="Username" style="border-right-width: 2px;">
			      <span class="input-group-btn glyphicon glyphicon-search" ng-click="search_name();">
			        <!--  button class="btn btn-default" type="button">1</button -->
			        <span class="btn btn-default glyphicon glyphicon-search" style="top:-1px; border-left-style: none; height: 34px;"> </span>
			      </span>
			    </div><!-- /input-group -->
			</div>
		</div>
		<div class="div-row div-ex-row div-ex-sub-row">
			<select name="" id="speaks" class="tutor-main-select tutor-left" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="Partner to practice" onchange="unchecked();">
				<option value="all" selected="selected">{% trans "Partner to practice" %}</option>
				<option ng-repeat="language in search_data.language_list" value="[[language.id]]">[[language.lang_english]]</option>
			</select>
			<label class="native-only f13 f-gray-64"><input type="checkbox" class="tutor-check" id="native_only" ng-click="clickNativeOnly()" style="margin-left: 0 !important; margin-right: 5px;">{% trans "Native Only" %}</label>
		</div>
		<div class="div-row div-ex-row">	
			<span style="font-size: 20px;">
			{% trans "Who is" %}
			</span>
			<select name="" id="learning" class="tutor-sub-select tutor-left ex-left-1  f13 f-gray-64" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="Learning">
				<option value="all" selected="selected">{% trans "Learning" %}</option>
				<option ng-repeat="language in search_data.language_list" value="[[language.id]]">[[language.lang_english]]</option>
			</select>
			<select name="" id="gender" class="tutor-sub-select tutor-left border-none f13 f-gray-64" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="Gender">
				<option value="all" selected="selected">{% trans "Gender" %}</option>
				<option value="1"> {% trans "male" %} </option>
				<option value="2"> {% trans "female" %} </option>
			</select>
			<select name="" id="age" class="tutor-sub-select tutor-left border-none f13 f-gray-64" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="Age">
				<option value="all" selected="selected">{% trans "Age" %}</option>
				<option value="1"> {% trans "Under 20" %} </option>
				<option value="20"> {% trans "20s" %} </option>
				<option value="30"> {% trans "30s" %} </option>
				<option value="40"> {% trans "40s" %} </option>
				<option value="50"> {% trans "Over 50" %} </option>
			</select>
		</div>
		<div class="div-row div-ex-row">	
			<select name="" id="from" class="tutor-sub-select tutor-left ex-left-2 chzn-select f13 f-gray-64 chzn-width" onchange="angular.element(this).scope().getCityInfo( 'from' )" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="From">
				<option value="all" selected="selected">{% trans "From" context "nation" %}</option>
				<option ng-repeat="nation in search_data.country_list" value="[[nation.id]]">[[nation.country]]</option>
			</select>
			<select name="" id="fromcity" class="tutor-sub-select tutor-left chzn-select f13 f-gray-64 chzn-width" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="From City">
				<option value="all" selected="selected">{% trans "From City" %}</option>
			</select>
			<select name="" id="livein" class="tutor-sub-select tutor-left chzn-select f13 f-gray-64 chzn-width" onchange="angular.element(this).scope().getCityInfo( 'livein' )" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="Live in">
				<option value="all" selected="selected">{% trans "Living in" context "nation" %}</option>
				<option ng-repeat="nation in search_data.country_list" value="[[nation.id]]">[[nation.country]]</option>
			</select>
			<select name="" id="liveincity" class="tutor-sub-select tutor-left chzn-select f13 f-gray-64 chzn-width" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="Live in City">
				<option value="all" selected="selected">{% trans "Living in City" %}</option>
			</select>
			<label class="tutor-label ex-left-2 f13 f-gray-64"><input type="checkbox" class="tutor-check " id="online_only" style="margin-left: 0 !important; margin-right: 5px;">{% trans "Logged in now" %}</label>
			
			<button class="tutor-right btn-ex f15" ng-click="search_filter()">{% trans "Search" %}</button>
			
		</div>
	</div>
	
	<hr style="height:1px; background-color:#ccc; color:#ccc; border:none; margin: 0;">

	<!-- tutor list -->
	<div class="tutor-mid" ng-repeat="tutor in tutor_list">
		<div class="row" style="background-color: white; margin-left: 0 !important; margin-right: 0 !important;">
			<div class="col-md-12" style="cursor: pointer;" ng-click="go_tutor_info([[tutor.user]])">
				<!-- 좌측 tutor profile 영역 -->
				<!--div class="tutorinfo-profile"-->
				<div class="tutor-list">
					<!-- image 영역 -->
					<div class="ex-div-left" style="">
					<!--div class="profile-image"-->
					<div class="div-image">
						<div ng-if="tutor.is_login == 1" class="div-left-online"></div>
						<div ng-if="tutor.is_login != 1" class="div-left-offline"></div>
						<a href="user/[[tutor.user]]"><img onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' ng-src="[[tutor.photo_filename]]" alt="유저사진" class="tutor-image-radius user-box"></a>
					</div>
					</div>
					
					<!-- image 우측 상세 영역 -->
					<div class="ex-div-right" style="color: #585858;">
						<div style="position: absolute; right: 0; margin-right: 5px;" ng-show="me != tutor.user">
							<ul>
								<li class="left" style="margin-right: 5px;" ng-show="!tutor.is_friend">
									<button style="border: 0; background-color: transparent;" ng-click="openFriendModal( tutor )">
										<img style="width: 17px; height: 15px;" src="{% static 'img/dashboard/add_friend.png' %}" alt="" />
									</button>
								</li>
								<li class="left">
									<button style="border: 0; background-color: transparent;" ng-click="openMessageModal( 'detail', tutor.user )">
										<img style="width: 19px; height: 19px;" src="{% static 'img/tutor/icon_chat.png' %}" alt="" />
									</button>
								</li>
								<div class="clear"></div>
							</ul>
						</div>
					<!--div class="profile-info"-->
					<div class="div-profile">
						<!--div class="profile-name"-->
						<div class="find-profile-name">
							<span class=""> <a href="user/[[tutor.user]]" class="f-bblue f15">[[ tutor.name ]]</a>
							<img ng-if="tutor.country_filename != null" ng-src="[[tutor.country_filename]]" alt="국가이미지" class="nation-image nation-border" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" data-placement="top" title="[[ tutor.from_city ? tutor.from_city + ', ' : '' ]] [[ tutor.from_country ]]">
							</span>
						</div>
						<!--div class="profile-nation"-->
						<!--div class="profile-teach"-->
						<div class="find-profile-teach">
							<span class="sub-title f13 f-blue" id="teaches_title" ng-if="tutor.is_tutor==1">{% trans "Teaches" %}</span> 
							
							<span class="f13 f-gray-33" ng-repeat="teach in tutor.teaches" ><span ng-if="$index!=0">, </span>
							[[ teach.language ]]
								<!-- <img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Begginer" ng-if="teach.level == 1" src="{% static 'img/tutor/gauge_000.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Elementary" ng-if="teach.level == 2" src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Pre-intermediate" ng-if="teach.level == 3" src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Intermediate" ng-if="teach.level == 4" src="{% static 'img/tutor/gauge_003.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Upper intermediate" ng-show="teach.level == 5"src="{% static 'img/tutor/gauge_004.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Advanced" ng-if="teach.level == 6" src="{% static 'img/tutor/gauge_005.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Native" ng-if="teach.level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" tooltip /> -->
							</span>
						</div>
						<div class="profile-nation">
							<!--div class="nation-img-area">
								<img src="{% static 'img/tutor/icon_live_in.png' %}" alt="레벨표시" />
							</div-->
						<!-- <img src="{% static 'img/tutor/icon_live_in.png' %}" alt="레벨표시"/> -->
							<span class="sub-title f13 f-blue"  style="margin-right: 29px;">{% trans "From" context "nation+city" %}</span> 
							<span class="f13 f-gray-33">[[ tutor.from_country ]]</span>
						</div>
						<!--div class="profile-nation"-->
						<div class="profile-nation">
							<!--div class="nation-img-area">
								<img src="{% static 'img/tutor/icon_live_in.png' %}" alt="레벨표시" />
							</div-->
						<!-- <img src="{% static 'img/tutor/icon_live_in.png' %}" alt="레벨표시"/> -->
							<span class="sub-title f13 f-blue">{% trans "Living in" context "nation+city" %}</span> 
							<span class="f13 f-gray-33"><span ng-show="tutor.livingin_city" class="f13 f-gray-33">[[ tutor.livingin_city ]], </span>[[ tutor.livingin_country ]]</span>
						</div>
						<!--div class="profile-language"-->
						<div class="find-profile-language">
							<span class="sub-title f13 f-blue" style="margin-right: 18px;">{% trans "Speaks" %}</span>
							<!-- <span ng-repeat="speak in tutor.speaks" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" data-placement="top" title="[[ speak.is_native == 1 ? 'native' : speak.level_name ]]" ng-class="speak.is_native == 1 ? 'is-native' : '' "><span ng-if="$index!=0">, </span>
							 -->
							 <span ng-repeat="speak in tutor.speaks" class="f13 f-gray-33" ng-class="speak.is_native == 1 ? 'is-native' : '' "><span ng-if="$index!=0">, </span>
								[[ speak.language ]] 
								<img style="width: 19px; height: 15px;" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Begginer" ng-if="speak.level == 1" src="{% static 'img/tutor/gauge_000.png' %}" alt="레벨표시" tooltip />
								<img style="width: 19px; height: 15px;" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Elementary" ng-if="speak.level == 2" src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" tooltip />
								<img style="width: 19px; height: 15px;" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Pre-intermediate" ng-if="speak.level == 3" src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" tooltip />
								<img style="width: 19px; height: 15px;" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Intermediate" ng-if="speak.level == 4" src="{% static 'img/tutor/gauge_003.png' %}" alt="레벨표시" tooltip />
								<img style="width: 19px; height: 15px;" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Upper intermediate" ng-show="speak.level == 5"src="{% static 'img/tutor/gauge_004.png' %}" alt="레벨표시" tooltip />
								<img style="width: 19px; height: 15px;" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Advanced" ng-if="speak.level == 6" src="{% static 'img/tutor/gauge_005.png' %}" alt="레벨표시" tooltip />
								<img style="width: 19px; height: 15px;" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Native" ng-if="speak.level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" tooltip />
							</span>
						</div>
						<!--div class="profile-language"-->
 
						<div class="find-profile-language">
							<span class="sub-title f13 f-blue">{% trans "Learning" %}</span>
							<span ng-repeat="learning in tutor.learnings" class="f13 f-gray-33" ng-class="learning.is_native == 1 ? 'is-native' : '' "><span ng-if="$index!=0">, </span>
							[[ learning.name ]]
<!-- 								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Begginer" ng-if="learning.level == 1" src="{% static 'img/tutor/gauge_000.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Elementary" ng-if="learning.level == 2" src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Pre-intermediate" ng-if="learning.level == 3" src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Intermediate" ng-if="learning.level == 4" src="{% static 'img/tutor/gauge_003.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Upper intermediate" ng-show="learning.level == 5"src="{% static 'img/tutor/gauge_004.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Advanced" ng-if="learning.level == 6" src="{% static 'img/tutor/gauge_005.png' %}" alt="레벨표시" tooltip />
								<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Native" ng-if="learning.level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" tooltip />
  -->
							</span>
						</div>
					</div>
					<div class="divClearfix"></div>
					<!--div class="profile-intro"-->
					<div class="find-intro">
						<a href="user/[[tutor.user]]" style="" class="f13 f-gray-33"><p style="word-break: break-word; word-wrap: break-word;">[[ tutor.short_intro ]]</p></a>
					</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<hr style="height:1px; background-color:#ccc; color:#ccc; border:none; margin:0;">
	</div>
	
	<div ng-if="page_info.has_next != 0" class="row" style="text-align:center;margin-top:20px; margin-left: 0; margin-right: 0;">
		<a id="btn_more" class="btn btn-default" style="width: 100%;margin-top:20px;margin-bottom:20px;" ng-click="getmoreList()">{% trans "Show more" %}</a>
	</div>
		<div class="tutor-schedule-backdrop" ng-if="schedulePopup" ng-click="hideSchedulePopup()"></div>
		<div id="tutor-schedule-template" ng-if="schedulePopup">
		{% include "tutor/tutor_reservation/tutor_schedule_table.html" %}
		</div>
		
		<div class="tutor-schedule-backdrop" ng-if="introPopup" ng-click="hideIntroPopup()"></div>
		<div id="video-tutor-schedule-template" ng-if="introPopup">
		<iframe width="100%" height="500px" ng-src="[[ trustSrc( introSrc ) ]]" frameborder="0" allowfullscreen></iframe>
		</div>
		
		<div class="tutor-schedule-backdrop loading" ng-if="loading"></div>
		<div id="tutor-schedule-template2" ng-if="loading">
			<img src="{% static 'img/ajax_loading.gif' %}">
		</div>
	</div>
	
	

	<div class="mobile-container">
		<div class="modal fade" id="messageModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm message-modal">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">{% trans "Find a Language Exchange" %}</h4>
					</div>
					<div style="width: 100%; min-height: 380px;">
					<div class="col-xs-1"></div>
					<div class="modal-body col-xs-10">
						<div class="messageModal-row">
							<select name="" id="mobile_speaks" class="tutor-main-select-mobile" onchange="mobile_unchecked();">
								<option value="all" selected="selected">{% trans "Partner to practice" %}</option>
								<option ng-repeat="language in search_data[0].language_list" value="[[language.id]]">[[language.language]]</option>
							</select>
						</div>
						<div class="messageModal-row">
							<select name="" id="mobile_learning" class="tutor-main-select-mobile">
								<option value="all" selected="selected">{% trans "Learning" %}</option>
								<option ng-repeat="language in search_data[0].language_list" value="[[language.id]]">[[language.language]]</option>
							</select>
						</div>
						<div class="messageModal-row">
							<select name="" id="mobile_from" class="tutor-main-select-mobile">
								<option value="all" selected="selected">{% trans "From" context "nation+city" %}</option>
								<option ng-repeat="nation in search_data.country_list" value="[[nation.nation_id]]">[[nation.country]]</option>
							</select>
						</div>
						<div class="messageModal-row">
							<select name="" id="mobile_livein" class="tutor-main-select-mobile" onchange="angular.element(this).scope().getCityInfo( 'livein' )">
								<option value="all" selected="selected">{% trans "Living in" context "nation" %}</option>
								<option ng-repeat="nation in search_data.country_list" value="[[nation.nation_id]]">[[nation.country]]</option>
							</select>
						</div>
						<div class="messageModal-row">
							<select name="" id="mobile_liveincity" class="tutor-main-select-mobile" >
								<option value="all" selected="selected">{% trans "Living in City" %}</option>
							</select>
						</div>
						<!--div class="messageModal-row">
							<p></p>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    How we meet
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu dropdown-ul dropdown-meet" aria-labelledby="dropdownMenu1">
							    <li><label><input type="checkbox" value="1" id="check_online" ng-click="online_check()"> Online</label></li>
							    <li>
							    	<ul>
							    		<li><label><input type="radio" name="online_type" value="3" id="check_audio" disabled="disabled"> Audio</label></li>
							    		<li><label><input type="radio" name="online_type" value="4" id="check_video" disabled="disabled"> Video</label></li>
							    	</ul>
							    </li>
							    <li role="separator" class="divider"></li>
							    <li><label><input type="checkbox" value="2" id="check_offline"> Offline</label></li>
							  </ul>
							</div>
						</div-->
						<!--div class="messageModal-row">
							<p></p>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Speciality Tags
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu dropdown-ul dropdown-tag" aria-labelledby="dropdownMenu1">
							    <li ng-repeat="tag in search_data[0].tag_list"><label><input type="checkbox" value="[[tag.stid]]" id="sptag-[[tag.stid]]"> [[tag.stname]]</label></li>
							  </ul>
							</div>
						</div-->
						<div class="messageModal-row mobile-check-row1">
							<label class="">{% trans "Logged in now" %}<input type="checkbox" class="tutor-check" id="mobile_online_only"></label>
							<label class="" style="line-height: 40px;">{% trans "Native in teaching language" %}<input type="checkbox" class="tutor-check" id="mobile_native_only" ng-click="clickMobileNativeOnly()"></label>
							<button class="mobile-tutor-right" ng-click="mobile_search_filter();toggle();"></button>
						</div>
						<div style="border:1px solid #e5e5e5; margin-top: 15px;">
						</div>	
						<div style="margin-top: 30px;padding: 0;">
							<div class="input-group">
						      <input id="mobile_search_name" type="text" class="form-control" placeholder="Username" style="height: 40px;">
						      <span class="input-group-btn glyphicon glyphicon-search" style="top:-1px;">
						        <!--  button class="btn btn-default" type="button">1</button -->
						        <button class="mobile-tutor-right2" ng-click="mobile_search_name(); toggle();"> </button>
						      </span>
						    </div><!-- /input-group -->
						</div>
					</div>
					<div class="col-xs-1"></div>
					</div>
					
			    	
					<div style="width:100%;min-height:100px;">
						
					</div>
					<!--div class="col-xs-2">
						<button class="mobile-tutor-right" ng-click="mobile_search_filter();toggle();"></button>
					</div-->
				</div>
				
			</div>
		</div>
		<!--div class="modal fade" id="pop_filter" tabindex="-1" role="dialog" aria-hideen="true" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="title">
						Find your Tutor
						<img src>
					</div>
					<div class="">
						<select name="" id="teaches" class="tutor-main-select-mobile">
							<option value="all" selected="selected">Teaches language</option>
							<option ng-repeat="language in search_data[0].language_list" value="[[language.id]]">[[language.language]]</option>
						</select>
					</div>
					<div>
						<div class="dropdown ">
						  <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Availability
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu dropdown-ul dropdown-avail" aria-labelledby="dropdownMenu1">
						    <li class="title">Time of Day</li>
						    <li>
						    	<ul>
						    		<li><label><input type="checkbox" id="time_0"> 00:00~05:59</label></li>
						    		<li><label><input type="checkbox" id="time_6"> 06:00~11:59</label></li>
						    		<li><label><input type="checkbox" id="time_12"> 12:00~17:59</label></li>
						    		<li><label><input type="checkbox" id="time_18"> 18:00~23:59</label></li>
						    	</ul>
						    </li>
						    <li role="separator" class="divider"></li>
						    <li class="title">Days of the week</li>
						    <li>
						    	<ul>
						    		<li><label><input type="checkbox" value="" id="day_mon"> Mon</label><label><input type="checkbox" value="" id="day_tue"> Tue</label><label><input type="checkbox" value="" id="day_wed"> Wed</label></li>
						    		<li><label><input type="checkbox" value="" id="day_thu"> Thu</label><label><input type="checkbox" value="" id="day_fri"> Fri</label><label><input type="checkbox" value="" id="day_sat"> Sat</label><label><input type="checkbox" value="" id="day_sun"> Sun</label></li>
						    	</ul>
						    </li>
						  </ul>
						</div>
					</div>
					<div>
						<select name="" id="hourlyrate" class="tutor-main-select-mobile">
							<option value="all" selected="selected">Hourly Rate</option>
							<option value="0">0 ~ 100C</option>
							<option value="100">100 ~ 150C</option>
							<option value="150">150 ~ 200C</option>
							<option value="200">200 ~ 250C</option>
							<option value="250">250C ~</option>
						</select>
					</div>
					<div>
						<select name="" id="speaks" class="tutor-sub-select-mobile">
							<option value="all" selected="selected">Speaks</option>
							<option ng-repeat="language in search_data[0].language_list" value="[[language.id]]">[[language.language]]</option>
						</select>
					</div>
					<div>
						<select name="" id="from" class="tutor-sub-select-mobile">
							<option value="all" selected="selected">From</option>
							<option ng-repeat="nation in search_data.natcountry_listalue="[[nation.nation_id]]">[[nation.country]]</option>
						</select>
					</div>
					<div>
						<select name="" id="livein" class="tutor-sub-select-mobile" onchange="change_livein(angular.element(this).scope().search_data.natcountry_list
							<option value="all" selected="selected">Live in</option>
							<option ng-repeat="nation in search_data.natcountry_listalue="[[nation.nation_id]]">[[nation.country]]</option>
						</select>
					</div>
					<div>
						<select name="" id="liveincity" class="tutor-sub-select-mobile" >
							<option value="all" selected="selected">Live in City</option>
						</select>
					</div>
					<div>
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    How we meet
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu dropdown-ul dropdown-meet" aria-labelledby="dropdownMenu1">
						    <li><label><input type="checkbox" value="1" id="check_online" ng-click="online_check()"> Online</label></li>
						    <li>
						    	<ul>
						    		<li><label><input type="radio" name="online_type" value="3" id="check_audio" disabled="disabled"> Audio</label></li>
						    		<li><label><input type="radio" name="online_type" value="4" id="check_video" disabled="disabled"> Video</label></li>
						    	</ul>
						    </li>
						    <li role="separator" class="divider"></li>
						    <li><label><input type="checkbox" value="2" id="check_offline"> Offline</label></li>
						  </ul>
			</div>
					</div>
					<div>
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Speciality Tags
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu dropdown-ul dropdown-tag" aria-labelledby="dropdownMenu1">
						    <li ng-repeat="tag in search_data[0].tag_list"><label><input type="checkbox" value="[[tag.stid]]" id="sptag-[[tag.stid]]"> [[tag.stname]]</label></li>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div-->
		<div class="tutor-top" >
			<div class="div-title div-mobile">
				<h3 style="margin-top: 15px;display:inline;">{% trans "Find a Language Exchange" %}</h3>
			</div>
			<div class="div-mobile" ng-click="open_filter_pop()">
				<div class="input-group">
			      <input type="text" disabled="disabled" style="background: white;" class="form-control" placeholder="I'm learning">
			      <span class="input-group-btn glyphicon glyphicon-search">
			        <!--  button class="btn btn-default" type="button">1</button -->
			        <span class="btn btn-default glyphicon glyphicon-search" style="top:-1px; border-left-style: none;"> </span>
			      </span>
			    </div><!-- /input-group -->
			</div>
			<!-- 
			<div class="div-row">
				<label class="">Native in teaching language only<input type="checkbox" class="tutor-check" id="native_only" ng-click="clickNativeOnly()"></label>
				<label class="tutor-label">Online only<input type="checkbox" class="tutor-check" id="online_only"></label>
			</div>
			 -->
		</div>
		<!-- mobile tutor list -->
		<div class="tutor-mid" ng-repeat="tutor in tutor_list">
			
			<div class="row">
				<!-- 좌측 tutor profile 영역 -->
				<!--div class="tutorinfo-profile"-->
				<div class="tutor-mobile-list" ng-click="go_tutor_info(tutor.user)">
					<!-- image 영역 -->
					<div class="col-xs-4 mobile-left-div">
						<!--div class="profile-image"-->
						<div class="div-image">
							<div ng-if="tutor.is_login == 1" class="div-left-online"></div>
							<a href="tutor/[[tutor.user]]"><img onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' ng-src="[[tutor.profile_photo]]" alt="유저사진" class="tutor-image-radius"></a>
						</div>
						<div class="find-profile-mobile-name">
							<a href="tutor/[[tutor.user]]">[[ tutor.name ]]</a>
						</div>
						<div class="find-profile-mobile-name">
							<img ng-src="[[tutor.nation_flag]]" alt="국가이미지" class="nation-image" >
						</div>
					</div>
					
					<!-- image 우측 상세 영역 -->
					<div class="col-xs-8">
					<!--div class="profile-info"-->
					<div class="div-mobile-profile">
						<!--div class="profile-name"-->
						
						
						<!--div class="profile-language"-->
						<div class="find-profile-mobile-language">
							<span class="sub-title">{% trans "Speaks" %}</span>
							<span ng-repeat="speak in tutor.speaks"> [[ speak.name ]] </span>
								<!--img src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" /--> 
							
								<!--img src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" /-->
						</div>
						<!--div class="profile-language"-->
						<div class="find-profile-mobile-language">
							<span class="sub-title">{% trans "Learning" %}</span>
							<span ng-repeat="learn in tutor.learnings"> [[ learn.name ]] </span>
								<!--img src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" /--> 
							
								<!--img src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" /-->
						</div>
						<!--div class="profile-teach"-->
						<div class="find-profile-mobile-teach">
							<span class="sub-title">{% trans "Teaches" %}</span> 
							<span ng-repeat="teach in tutor.teaches"> [[ teach.language ]] </span>
						</div>
						<!--div class="profile-nation"-->
						<div class="profile-mobile-nation">
							<!--div class="nation-img-area">
								<img src="{% static 'img/tutor/icon_live_in.png' %}" alt="레벨표시" />
							</div-->
							<img src="{% static 'img/tutor/icon_live_in.png' %}" alt="레벨표시" />
							<span>[[ tutor.livingin_country ]], [[ tutor.livingin_city ]]</span>
						</div>
					</div>
					<div class="divClearfix"></div>
					
					</div>
				</div>
			</div>
		</div>
		<div ng-if="page_info.has_next != 0" class="row mobile-show-more" style="text-align:center;background:#ececec;">
		<a id="btn_more" class="btn btn-default" style="width: 100%;" ng-click="getmoreList()">{% trans "Show more" %}</a>
		</div>
		<div class="tutor-schedule-backdrop loading" ng-if="loading"></div>
		<div id="tutor-schedule-template-mobile" ng-if="loading">
			<img src="{% static 'img/ajax_loading.gif' %}">
		</div>
		
		</div>
	<!-- Friend Modal -->
	<div class="modal fade" id="exFriendModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm message-modal" style="top: 100px; width: 500px; height: 323px; margin-top: 30px; margin-bottom: 30px;">
			<div class="modal-content" style="width: 500px; height: 323px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{% trans "Add as Friend" %}</h4>
				</div>
				<div class="modal-body" style="padding: 15px;">
					<div class="message-container scroll">
						<div class="messageModal-row">
							<p>{% trans "Message" %}</p>
							<textarea name="" id="friendMessage" cols="30" rows="7" style="resize: none;" ng-model="friendMessage"></textarea>
						</div>
						<div style="text-align: center; margin-top: 20px;">
							<button type="button" class="h26 bg-blue" style="width: 60px;" ng-click="sendFriendMessage()">{%trans "Send"%}</button>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/exchange/exchange_user_find.js' %}"></script>
<script src="{% static 'js/chosen.jquery.js' %}"></script>

<script>
$(".chzn-select").chosen();

function goTop2(){
	window.scrollTo(0,0);
}
</script>

{% endblock %}