<meta charset="UTF-8">

{% load staticfiles %}

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script src="{% static 'js/angularjs/angular-route.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sanitize.js' %}"></script>
<script src="{% static 'js/bootstrap/3.3.2/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ZeroClipboard.min.js' %}"></script>


<h3>{{data}}</h3>

<!-- CSS -->
<style>
.language-select {
/* 	float: left; */
	width: 200px;
	height: 25px;
	padding: 0px;
	color: #949599;
	margin-right: 10px;
	margin-top: 1px;
}
</style>

<!-- HTML -->
<select class="language-select">
	<option value="0">Select language</option>
{% for lang in languageZ %}
	<option value="{{lang.id}}">{{lang.language1}}{% if lang.language2 %} / {{lang.language2}} {% endif %}</option>
{% endfor %}
</select>

<select class="language-select">
{% for lang in languageZ %}
	<option value="{{lang.id}}">{{lang.language1}}{% if lang.language2 %} / {{lang.language2}} {% endif %}</option>
{% endfor %}
</select>



<ul>
{% for lang in languageZ %}
	<li>{{lang.id}} {{lang.language1}}{% if lang.language2 %} / {{lang.language2}} {% endif %}</li>
{% endfor %}
</ul>

