<meta charset="UTF-8">

{% load staticfiles %}

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script src="{% static 'js/angularjs/angular-route.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sanitize.js' %}"></script>
<script src="{% static 'js/bootstrap/3.3.2/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ZeroClipboard.min.js' %}"></script>

<h3>Session</h3>
<ul>
{% for k,v in request.session.items %}
	<li>{{k}} = {{v}}</li>
{% endfor %}

</ul>

<h3>Sample</h3>
<ol>
	<li><a href="/sample/language">언어선택(Select) - Language</a></li>
	<li><a href="/sample/timezone">Timezone</a></li>
	<li><a href="/sample/video">Video</a></li>
	<li><a href="/sample/sendmail">Sendmail</a></li>
	<li><a href="/sample/language">언어정보</a></li>
	<li><a href="/sample/landingpage2">landingpage2</a></li>
	<li><a href="/sample/language">언어정보</a></li>
	<li><a href="/sample/language">언어정보</a></li>
</ol>

<h3>login_users</h3>
<div>{{data}}</div>


