<meta charset="UTF-8">

{% load staticfiles %}

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script src="{% static 'js/angularjs/angular-route.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sanitize.js' %}"></script>
<script src="{% static 'js/bootstrap/3.3.2/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ZeroClipboard.min.js' %}"></script>


<h3>{{data}}</h3>

<!-- CSS -->
<style>
</style>

<!-- HTML -->

<br>


