<meta charset="UTF-8">

{% load staticfiles %}

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script src="{% static 'js/angularjs/angular-route.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sanitize.js' %}"></script>
<script src="{% static 'js/bootstrap/3.3.2/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ZeroClipboard.min.js' %}"></script>


<h3>{{data}}</h3>

<!-- CSS -->
<style>
.timezone-select {
/* 	float: left; */
	width: 300px;
	height: 25px;
	padding: 0px;
	color: #949599;
	margin-right: 10px;
	margin-top: 1px;
}
</style>

<!-- HTML -->
<select class="timezone-select">
	<option value="0" data-timezone="0">Select Timezone</option>
{% for tz in timezoneZ %}
	<option value="{{tz.id}}" data-timezone="{{tz.utc_time}}">{{tz.utc_location}}</option>
{% endfor %}
</select>


<ul>
{% for tz in timezoneZ %}
	<li>{{tz.id}} {{tz.utc_location}} {{tz.utc_time}}</li>
{% endfor %}
</ul>

