{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "SNS 연동" %}{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="wrap">
<div class="content" ng-app="mainApp" ng-controller="friendsController">
	<div ng-repeat="friend in friends">
		<p>[[friend.facebook.name]]</p>
		<p>[[friend.facebook.exp]]</p>
	</div>
</div>
</div>

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular.js' %}"></script>

{% endblock %}