<meta charset="UTF-8">
{% load staticfiles %}
{% load i18n %}
{% load custom_filter %}
<script src="{% static 'js/chosen.jquery.js' %}"></script>

<script>  
var native_list=[];
var learning_list=[];
$(document).ready(function(){
	$(".chzn-select").chosen({max_selected_options: 3});
	$("#selected_native").change(function(){
		var _native = $("#selected_native").chosen().val();
		
		if( _native == null ){
			$(".warning-native").text('Please select at least one language');
		}else{
			$(".warning-native").text('');
		}
	})
	$("#selected_learning").change(function(){
		var _learning = $("#selected_learning").chosen().val();
		
		if( _learning == null ){
			$(".warning-learning").text('Please select at least one language');
		}else{
			$(".warning-learning").text('');
		}
	})
});

$("#change_email").keypress(function(event){
	  console.log(event.keyCode);
	  if(event.keyCode == 13){
	    //angular.element.scope().search_name();
	    //console.log('123');
	    if( email_check() ){
		    angular.element($("#tab3")).scope().change_email();
	    }
	  }
});
function email_check(){
	var regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
	var email = $("#change_email").val();
	
	if(!email.match(regExp)){
		$(".btn-email").attr("disabled", "disabled");
		$(".btn-email").css("background", "");
        console.log("The email format is incorrect.");
        //alert("The email format is incorrect.");
        //$("#error_msg").text("Please provide a valid email address.");
		//$(".div-msg").css("display", "block");
		
		return false;
	}
	$(".btn-email").css("background", "#037485");
	$(".btn-email").removeAttr("disabled");
	return true;
}




$(document).on('click', '.chosen-results', function() {
	var nat = $("#selected_native").val();
	var learn = $("#selected_learning").val();
	
	
	//console.log('test 11111');
	//var unselected = $("#selected_learning").nextUntil('.chosen-drop').not('.search-field');
	var unselected = $("#selected_learning_chosen .search-choice");
    //console.log( unselected.length );
    //console.log( unselected.attr('id') );
    //console.log( unselected.attr('class') );
    //console.log( 'test 22222');
    
    
    //unselected.trigger('mousedown');
    /*
    if(unselected.length) {
        // Select all items in this group
        unselected.trigger('mousedown');
    } else {
        $(this).nextUntil('.group-result').each(function() {
            // Deselect all items in this group
            $('a.search-choice-close[data-option-array-index="' + $(this).data('option-array-index') + '"]').trigger('click');
        });
    }
    */
});


$("#tab1 #selected_native").change(function(){
	console.log("selected_native");
	var nat = $("#selected_native").val();
	var learn = $("#selected_learning").val();
	native_list = nat;
	learning_list = learn;
	$("#selected_learning option").attr("disabled", false);

	if( nat != null ){
		for(var i=0; i<nat.length ; i ++){
			
			if( learn != null){
				for(var j=0; j<learn.length; j++){
					if( nat[i] == learn[j]){
						$("#selected_learning_chosen .search-choice .search-choice-close").attr('data-option-array-index', nat[i]-1).trigger('click');
					}
				}
			}
			$("#selected_learning option[value='"+nat[i]+"']").attr("disabled","disabled");
		}
	}
	$("#selected_learning").trigger('chosen:updated');

	
	learn = $("#selected_learning").val();
	console.log(nat + ' /// ' + learn);
	
});
$("#tab1 #selected_learning").change(function(){
	console.log("selected_learning");
	var nat = $("#selected_native").val();
	var learn = $("#selected_learning").val();
	native_list = nat;
	learning_list = learn;
	$("#selected_native option").attr("disabled", false);

	if( learn != null ){
		for(var i=0; i<learn.length ; i ++){
			
			if( nat != null){
				for(var j=0; j<nat.length; j++){
					if( learn[i] == nat[j]){
						$("#selected_native_chosen .search-choice .search-choice-close").attr('data-option-array-index', learn[i]-1).trigger('click');
					}
				}
			}
			$("#selected_native option[value='"+learn[i]+"']").attr("disabled","disabled");
		}
	}
	$("#selected_native").trigger('chosen:updated');

	
	nat = $("#selected_native").val();
	console.log(nat + ' /// ' + learn);
});

$("#tab2 input[type=checkbox]").click(function(){
	 console.log( $("#chk-teaching").is(":checked") );
	 console.log( $("#chk-learning").is(":checked") );
	 //console.log( $("#chk-finding").is(":checked") );
	 
	 if( !$("#chk-teaching").is(":checked") && !$("#chk-learning").is(":checked") ){
		 $(".btn-done").attr("disabled", "disabled");
		 $(".btn-done").css("background", "#B9B9B9");
	 }else{
		 $(".btn-done").removeAttr("disabled");
		 $(".btn-done").css("background", "#037485");
	 }
 });

</script>
<!-- <script>
$(function(){
	//.data("placeholder", "Add a language")
	$(".chzn-select").chosen();
});
</script> -->
<style>
#tutor-schedule-template {
		width: 100% !important;
		height: 100% !important;
		z-index: 500;
		position: absolute;
		top: 100px !important;
		left: 0px !important;
		overflow-y: auto;
		display: none;
	}
</style>


<div class="profile">
	<!-- tab1  -->
	<div id="tab1" ng-class="{{request.session.level}}==0? 'selected_tab':'unselected_tab'">
		<div class="div-title">{% trans "Welcome" %} {{ request.session.name }}!</div>
		<div class="div-step">
			<div class="div-step-1 div-selected">{% trans "Languages" %}</div>
			<div class="div-step-2">{% trans "Interests" %}</div>
		</div>
		<div class="clear-both"></div>
		<div class="div-left">
			<div class="div-title-native">{% trans "I'm a native ... speaker" %}</div>
			<div class="div-content-native">
				<select data-placeholder="Add a language" class="chzn-select" id="selected_native" multiple="multiple" style="width:100%;" tabindex="2">
					<option value="[[lang.id]]" ng-repeat="lang in language">[[lang.lang_english]] [[ lang.lang_local ?  ' / '+lang.lang_local: '' ]] </option>
				</select>
			</div>
		</div>
		<div class="warning-native"></div>
		<div class="div-left">
		<div class="div-title-learning">{% trans "I'm learning ..." %}</div>
		<div class="div-content-learning">
			<select data-placeholder="Add a language" class="chzn-select" id="selected_learning" multiple="multiple" style="width:100%;" tabindex="3">
				<option value="[[lang.id]]" ng-repeat="lang in language">[[lang.lang_english]] [[ lang.lang_local ?  ' / '+lang.lang_local : '' ]]</option>
			</select>
		</div>
		</div>
		<div class="warning-learning"></div>
		<div class="clear-both"></div>
		<div class="div-next">
			<button class="btn-next" ng-click="get_lang()">{% trans "Next" %}</button>
		</div>
	</div>

	<!-- tab 2 -->
	<div id="tab2" class="unselected_tab">
	<div class="div-title">{% trans "Almost Done!" %}</div>
	<div class="div-step">
		<div class="div-step-1 ">{% trans "Languages" %}</div>
		<div class="div-step-2 div-selected">{% trans "Interests" %}</div>
	</div>
	<div class="clear-both"></div>
	<div style="height: 160px;">
		<div class="div-title-native">{% trans "I’m interested in" %}</div>
		<div class="div-teaching">
			<input type="checkbox" id="chk-teaching" checked="checked"> {% trans "Teaching a language" %}
		</div>
		<div class="div-learning">
			<input type="checkbox" id="chk-learning" checked="checked"> {% trans "Learning a language" %}
		</div>
		<!-- <div class="div-finding">
			<input type="checkbox" id="chk-finding" checked="checked"> Finding a language exchange
		</div> -->
	</div>
	<div class="div-next">
		<button class="btn-next btn-done" ng-click="done()">{% trans "Done" %}</button>
	</div>
	</div>

	<!-- tab 3 -->
	<div id="tab3" ng-class="{{request.session.level}}==2? 'selected_tab':'unselected_tab'">
		<div id="tutor-schedule-template">
			<img src="{% static 'img/ajax_loading.gif' %}">
		</div>
		<div class="div-title">{% trans "Verify your email address" %}</div>
		<div class="clear-both"></div>
		<div>
			<div class="div-title-native tab3-title">{% trans "A verification link was emailed to you" %}</div>
			<div class="div-content-native tab3-email" id="user_email"> {{ request.session.email }} </div>
			
			<div class="div-title-native">{% trans "Please click the link to activate your account." %}</div>
			
			<div class="div-change-email"><span ng-click="resend_email()"> {% trans "Resend verification email" %} </span></div>
	<!-- 
			<div class="div-change-email"><span ng-click="show_change()"> {% trans "Want to change your email-address?" %} </span></div>
	 -->
			<div class="div-submit-email">
				<div><input class="input-email" onkeyup="email_check()" id="change_email" type="text"></div>
				<div><button class="btn-email" ng-click="change_email()">{% trans "Submit" %}</button></div>
			</div>
			<div class="clear-both"></div>
			<div class="div-didnt-receive" style="max-width: 310px;">
				<p><span class="span-didnt-receive" ng-click="click_didnt();"> {% trans "Didn't receive?" %} </span></p>
				<span class="span-success-receive">
				{% trans "Check your email inbox again and look for an email from no-reply@tellpin.com on the date that you signed up. Also check your spam folder." %} 
				</span>
				<span class="span-success-receive">
				{% trans "If you are still not getting a verification email, Send an email to join@tellpin.com from the email address you used to sign up 
				and we will manually verify your account." %}
				</span>
			</div>
		</div>
		<div class="div-next">
			<button class="btn-next btn-complete" ng-click="confirm_email()">{% trans "Complete" %}</button>
		</div>
	</div>

</div>
