{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "My Friends" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/people/my_tutor.css' %}" />
<link rel="stylesheet" href="{% static 'css/people/my_friend.css' %}" />


<div class="tp-container" ng-controller="peopleFriendCtrl" ng-init="init( {{ data }} )">
	<div class="tp-content">
		<div class="ptutor-left left">
			<ul class="side">
				<li class="side-menu-title">{% trans "My People" %}</li>
				<div class="side-menu-underline"></div>
				<li class="side-menu pointer"><a href="/people/tutor/">{% trans "My Tutors" %}</a></li>
				<li class="side-menu side-active pointer">{% trans "My Friends" %}</li>
				{% if request.session.is_tutor == 1 %}
				<li class="side-menu pointer"><a href="/people/tutee/">{% trans "My Tutees" %}</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="ptutor-right left">
            
			<div class="request">
				<div class="request-head">
					<div class="request-tab left" ng-class="{'request-active' : tab == 'receiveRequest' }" ng-click="getReceiveFriends()">{% trans "Friend Requests" %}</div>
					<div class="request-tab left" ng-class="{'request-active' : tab == 'sendRequest' }" ng-click="getRequestFriends()">{% trans "View Requests sent" %}</div>
					<div class="request-tab request-last" >
						<ul class="right-top" ng-if="tab == 'receiveRequest' && requestFriends.length != 0">
							<li class="left right-top-elem f13" ng-click="acceptFriend( 0, 'all' )">{% trans "Accept all" %}</li>
							<li class="left right-top-elem f13" ng-click="ignoreAllRequest( 'denyAllModal' )">{% trans "Ignore all" %}</li>
							<li class="left link-elem f13"><a href="/exchange/">{% trans "Find Friends!" %}</a></li>
							<div class="clear"></div>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="receive-content" ng-if="tab == 'receiveRequest'">
					<div class="f20 f-gray-64 no-request" ng-if="requestFriends.length == 0">
						0 {% trans "Friend Request" %}
					</div>
					<div class="ptutor-row" ng-repeat="i in requestFriends" ng-class="{ 'last-content' : $last }">
						<div class="ptutor-content-area">
							<div class="img-area left">
								<div ng-class="{'display-online' : [[i.is_login]]==1, 'display-offline' : [[i.is_login]]==0}"></div>
								<img ng-src="[[ i.photo_filename ]]" alt="user" class="user-img profile-border" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' />
							</div>
							<div class="user-content left">
								<div class="people-header">
									<span class="name">[[ i.name ]]</span>
									<img ng-src="[[ i.country_filename ]]" alt="nation" class="nation-img" ng-if="i.from_country_id" />
								</div>
								<div class="people-content">
									<div class="content-row" ng-if="i.native1">
										<div class="title left">
											<span class="f13">{% trans "Speaks" %}</span>
										</div>
										<div class="content left f13">
											<ul class="language-list gauge-style">
												<li class="left language-item" ng-if="i.native1">[[ i.native1 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /><span ng-if="i.native2" style="margin-left: 3px;">, </span></li>
												<li class="left language-item" ng-if="i.native2">[[ i.native2 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /><span ng-if="i.native3" style="margin-left: 3px;">, </span></li>
												<li class="left language-item" ng-if="i.native3">[[ i.native3 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /></li>
												<li class="left language-item"><span ng-if="i.lang1">, </span></li>
												<li class="left language-item" ng-if="i.lang1">
													[[ i.lang1 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang1_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang1_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang1_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang1_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang1_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang1_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang1_level == 7" /><span ng-if="i.lang2" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang2">
													[[ i.lang2 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang2_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang2_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang2_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang2_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang2_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang2_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang2_level == 7" /><span ng-if="i.lang3" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang3">
													[[ i.lang3 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang3_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang3_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang3_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang3_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang3_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang3_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang3_level == 7" /><span ng-if="i.lang4" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang4">
													[[ i.lang4 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang4_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang4_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang4_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang4_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang4_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang4_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang4_level == 7" /><span ng-if="i.lang5" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang5">
													[[ i.lang5 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang5_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang5_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang5_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang5_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang5_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang5_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang5_level == 7" /><span ng-if="i.lang6" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang6">
													[[ i.lang6 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang6_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang6_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang6_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang6_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang6_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang6_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang6_level == 7" />
												</li>
												<div class="clear"></div>
											</ul>
										</div>
										<div class="clear"></div>
									</div>
									<div class="content-row f13" ng-if="i.from_country">
										<div class="title left">
											<span>{% trans "From" context "nation+city" %}</span>
										</div>
										<div class="content left">
											<ul class="language-list">
												<li class="left language-item" ng-if="i.from_city">[[ i.from_city ]]<span>, </span></li>
												<li class="left language-item" ng-if="i.from_country">[[ i.from_country ]]</li>
												<div class="clear"></div>
											</ul>
										</div>
										<div class="clear"></div>
									</div>
									
									
<!-- 									<div class="content-row"> -->
<!-- 										<button class="red-btn people-btn" type="button" ng-click="openMessageModal( 'detail', i.user )"><span class="glyphicon glyphicon-envelope"></span> Message</button> -->
<!-- 									</div> -->
									
								</div>
							</div>
							
							<div class="adding left">
								<div class="adding-btn">
		<!-- 							<button class="red-btn people-btn" type="button" ng-click="openMessageModal( 'detail', i.user )"><span class="glyphicon glyphicon-envelope"></span> Message</button> -->
									<img style="width:19px; height:19px; cursor:pointer;float:right;" alt="" src="/static/img/tutor/icon_chat.png" ng-click="openMessageModal( 'detail', i.user )">
								</div>
								
							</div>
							
							
							<div class="request-msg left">
								<div class="msg-area f13">
									[[ i.message ]]
								</div>
								<div class="msg-btn-area">
									<button type="button" ng-click="acceptFriend( i.user, 'one' )" class="blue-btn h24 f13" style="width: 49%; height: 28px;">{% trans "Accept" %}</button>
									<button type="button" ng-click="openModal( 'declineModal', i.user )" class="gray-btn h24 bg-gray f13" style="width: 49%; height: 28px;">{% trans "Ignore" %}</button>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				
				<div class="request-content" ng-if="tab == 'sendRequest'">
					<div class="f20 f-gray-64 no-request" ng-if="requestFriends.length == 0">
						0 {% trans "Request Sent" %}
					</div>
					<div class="ptutor-row" ng-repeat="i in requestFriends | filter : search">
						<div class="ptutor-content-area">
							<a href="/user/[[i.user]]">
							<div class="img-area left">
								<div ng-class="{'display-online' : [[i.is_login]]==1, 'display-offline' : [[i.is_login]]==0}"></div>
								<img ng-src="[[ i.photo_filename ]]" alt="user" class="user-img profile-border" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' />
							</div>
							</a>
							<a href="/user/[[i.user]]">
							<div class="user-content left">
								<div class="people-header">
									<span class="name">[[ i.name ]]</span>
									<img ng-src="[[ i.country_filename ]]" alt="nation" class="nation-img" ng-if="i.from_city_id" />
								</div>
								<div class="people-content">
									<div class="content-row f13" ng-if="i.native1">
										<div class="title left">
											<span>{% trans "Speaks" %}</span>
										</div>
										<div class="content left gauge-style">
											<ul class="language-list" style="width: auto;">
												<li class="left language-item" ng-if="i.native1">[[ i.native1 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /><span ng-if="i.native2" style="margin-left: 3px;">, </span></li>
												<li class="left language-item" ng-if="i.native2">[[ i.native2 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /><span ng-if="i.native3" style="margin-left: 3px;">, </span></li>
												<li class="left language-item" ng-if="i.native3">[[ i.native3 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /></li>
												<li class="left language-item"><span ng-if="i.lang1">, </span></li>
												<li class="left language-item" ng-if="i.lang1">
													[[ i.lang1 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang1_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang1_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang1_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang1_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang1_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang1_level == 6" /><span ng-if="i.lang2" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang2">
													[[ i.lang2 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang2_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang2_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang2_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang2_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang2_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang2_level == 6" /><span ng-if="i.lang3" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang3">
													[[ i.lang3 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang3_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang3_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang3_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang3_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang3_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang3_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang3_level == 7" /><span ng-if="i.lang4" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang4">
													[[ i.lang4 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang4_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang4_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang4_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang4_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang4_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang4_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang4_level == 7" /><span ng-if="i.lang5" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang5">
													[[ i.lang5 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang5_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang5_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang5_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang5_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang5_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang5_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang5_level == 7" /><span ng-if="i.lang6" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang6">
													[[ i.lang6 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang6_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang6_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang6_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang6_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang6_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang6_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang6_level == 7" />
												</li>
												<div class="clear"></div>
											</ul>
										</div>
										<div class="clear"></div>
									</div>
									<div class="content-row" ng-if="i.from_country">
										<div class="title left">
											<span>{% trans "From" context "nation+city" %}</span>
										</div>
										<div class="content left">
											<ul class="language-list">
												<li class="left language-item" ng-if="i.from_city">[[ i.from_city ]]<span>, </span></li>
												<li class="left language-item" ng-if="i.from_country">[[ i.from_country ]]</li>
												<div class="clear"></div>
											</ul>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
							</a>
							
							<div class="adding right">
							<div class="adding-btn right" style="margin-right: 15px;">
	<!-- 							<button class="red-btn people-btn" type="button" ng-click="openMessageModal( 'detail', i.user )"><span class="glyphicon glyphicon-envelope"></span> Message</button> -->
								<img style="width:19px; height:19px; cursor:pointer;float:right;" alt="" src="/static/img/tutor/icon_chat.png" ng-click="openMessageModal( 'detail', i.user )">
							</div>
							<div class="adding-btn" style="margin-top: 99px; margin-bottom: 0;">
								<a class="people-btn f-bblue f15" type="submit" ng-click="openModal( 'cancelModal', i.user )" style="margin-right: 10px;">{% trans "Cancel" %}</a>
							</div>
						</div>
							
							
							<div class="clear"></div>
						</div>
						
						<div class="clear"></div>
						
<!-- 						<div class="adding"> -->
<!-- 							<div class="adding-btn"> -->
<!-- 								<button class="red-btn people-btn" type="button" ng-click="openMessageModal( 'detail', i.user )"><span class="glyphicon glyphicon-envelope"></span> Message</button> -->
<!-- 								<button class="gray-btn people-btn" type="submit" ng-click="openModal( 'cancelModal', i.user )" style="margin-left: 10px;">Cancel</button> -->
<!-- 							</div> -->
<!-- 						</div> -->
						
					</div>
				</div>
			</div>
			
			<div class="friend">
				<div class="friend-header left">
					<p class="f20">{% trans "My Friends" %}</p>
				</div>
                <div class="filter">
                    <input type="text" placeholder="Search by Name" ng-model="search.name" />
                </div>
                <div class="clear"></div>
				<div class="request-content" ng-show="friends.length == 0">
					<p class="f14 f-gary-33" style="padding-left: 5px;">
						{% trans "Not Available" %}
					</p>
				</div>
				<div class="request-content" ng-show="friends.length > 0">
					<div class="ptutor-row" ng-repeat="i in friends | filter : search">
						<a href="/user/[[i.user]]">
						<div class="img-area left">
							<div ng-class="{'display-online' : [[i.is_login]]==1, 'display-offline' : [[i.is_login]]==0}"></div>
							<img ng-src="[[ i.photo_filename ]]" alt="user" class="user-img profile-border" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' />
						</div>
						</a>
						<a href="/user/[[i.user]]">
						<div class="user-content left">
							<div class="people-header">
								<span class="name">[[ i.name ]]</span>
								<img ng-src="[[ i.country_filename ]]" alt="nation" class="nation-img" ng-if="i.from_city_id" />
							</div>
							<div class="people-content">
								<div class="content-row f13" ng-if="i.native1">
									<div class="title left">
										<span>{% trans "Speaks" %}</span>
									</div>
									<div class="content left">
										<ul class="language-list gauge-style">
											<li class="left language-item" ng-if="i.native1">[[ i.native1 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /><span ng-if="i.native2" style="margin-left: 3px;">, </span></li>
											<li class="left language-item" ng-if="i.native2">[[ i.native2 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /><span ng-if="i.native3" style="margin-left: 3px;">, </span></li>
											<li class="left language-item" ng-if="i.native3">[[ i.native3 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /></li>
											<li class="left language-item"><span ng-if="i.lang1">, </span></li>
											<li class="left language-item" ng-if="i.lang1">
												[[ i.lang1 ]]
												<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang1_level == 1" /> 
												<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang1_level == 2" />
												<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang1_level == 3" />
												<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang1_level == 4" />
												<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang1_level == 5" />
												<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang1_level == 6" />
												<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang1_level == 7" /><span ng-if="i.lang2" style="margin-left: 3px;">, </span>
											</li>
											<li class="left language-item" ng-if="i.lang2">
												[[ i.lang2 ]]
												<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang2_level == 1" /> 
												<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang2_level == 2" />
												<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang2_level == 3" />
												<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang2_level == 4" />
												<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang2_level == 5" />
												<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang2_level == 6" />
												<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang2_level == 7" /><span ng-if="i.lang3" style="margin-left: 3px;">, </span>
											</li>
												<li class="left language-item" ng-if="i.lang3">
													[[ i.lang3 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang3_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang3_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang3_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang3_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang3_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang3_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang3_level == 7" /><span ng-if="i.lang4" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang4">
													[[ i.lang4 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang4_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang4_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang4_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang4_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang4_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang4_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang4_level == 7" /><span ng-if="i.lang5" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang5">
													[[ i.lang5 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang5_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang5_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang5_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang5_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang5_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang5_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang5_level == 7" /><span ng-if="i.lang6" style="margin-left: 3px;">, </span>
												</li>
												<li class="left language-item" ng-if="i.lang6">
													[[ i.lang6 ]]
													<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang6_level == 1" /> 
													<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang6_level == 2" />
													<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang6_level == 3" />
													<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang6_level == 4" />
													<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang6_level == 5" />
													<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang6_level == 6" />
													<img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" ng-if="i.lang6_level == 7" />
												</li>
											<div class="clear"></div>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
								<div class="content-row f13" ng-if="i.from_country">
									<div class="title left">
										<span>{% trans "From" context "nation+city" %}</span>
									</div>
									<div class="content left">
										<ul class="language-list">
											<li class="left language-item" ng-if="i.from_city">[[ i.from_city ]]<span>, </span></li>
											<li class="left language-item" ng-if="i.from_country">[[ i.from_country ]]</li>
											<div class="clear"></div>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
								
								<div ng-if="i.is_tutor" class="content-row f13">
									<div class="title left">
										<span>{% trans "Teaches" %}</span>
									</div>
									<div class="content left">
										<ul class="language-list">
											<li class="left language-item" ng-if="i.teaching1">[[ i.teaching1 ]]<span ng-if="i.teaching2" style="margin-left: 3px;">, </span></li>
											<li class="left language-item" ng-if="i.teaching2">[[ i.teaching2 ]]<span ng-if="i.teaching3" style="margin-left: 3px;">, </span></li>
											<li class="left language-item" ng-if="i.teaching3">[[ i.teaching3 ]]</li>
											<div class="clear"></div>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
								
							</div>
							<div class="short-intro f13">
							[[i.short_intro]]
							</div>
							
						</div>
						</a>
						
						<div class="adding right">
							<div ng-if="i.is_tutor" class="adding-btn left" style="margin-right: 5px;">
								<form action="[['/tutor/' + i.user]]" method="get" >
<!-- 									<input type="hidden" name="tid" ng-value="i.user" /> -->
<!-- 									<input type="hidden" name="accessType" ng-value="0" /> -->
									<button class="green-btn people-btn h24 bg-green f13" type="submit"> {% trans "View Tutor Profile" %} </button>							
								</form>
							</div>
							
							<div class="adding-btn right" style="margin-right: 15px;">
	<!-- 							<button class="red-btn people-btn" type="button" ng-click="openMessageModal( 'detail', i.user )"><span class="glyphicon glyphicon-envelope"></span> Message</button> -->
								<img style="width:19px; height:19px; cursor:pointer;float:right;" alt="" src="/static/img/tutor/icon_chat.png" ng-click="openMessageModal( 'detail', i.user )">
							</div>
							
						</div>
						
						<div class="clear"></div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	<!-- hideModal -->
	<div class="modal fade" id="hideModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm hide-modal">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center;">
					<div class="hide-container">
						<p>{% trans "Are you sure you want to remove the friend from the list?" %}</p>
						<br />
						<button type="button" class="btn btn-danger" ng-click="hideModal( 'hideModal' )" style="margin-right: 7px;">{% trans "Cancel" %}</button>
						<button type="button" class="btn btn-primary" ng-click="deleteFriend( 'hideModal' )">{% trans "Yes" %}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- declineModal  -->
	<div class="modal fade" id="declineModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm hide-modal">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center;">
					<div class="hide-container">
						<p>{% trans "Are you sure you want to ignore the friend request?" %}</p>
						<br />
						<button type="button" class="bg-gray h24" ng-click="hideModal( 'declineModal' )" style="width: 70px;">{% trans "No" %}</button>
						<button type="button" class="bg-blue h24" ng-click="declineFriend( 'declineModal', 'one' )" style="width: 70px;">{% trans "Yes" %}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- denyAllModal  -->
	<div class="modal fade" id="denyAllModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm hide-modal">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center;">
					<div class="hide-container">
						<p>{% trans "Are you sure you want to ignore all the requests?" %}</p>
						<br />
						<button type="button" class="bg-gray h24" ng-click="hideModal( 'denyAllModal' )" style="width: 70px;">{% trans "Cancel" %}</button>
						<button type="button" class="bg-blue h24" ng-click="declineFriend( 'denyAllModal', 'all' )" style="width: 70px;">{% trans "Yes" %}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- cancelModal -->
	<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm hide-modal">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center;">
					<div class="hide-container">
						<p>{% trans "Are you sure you want to cancel the friend request?" %}</p>
						<br />
						<button type="button" class="bg-gray h24" ng-click="hideModal( 'cancelModal' )" style="width: 70px;">{% trans "No" %}</button>
						<button type="button" class="bg-blue h24" ng-click="cancelRequestFriend( 'cancelModal' )" style="width: 70px;">{% trans "Yes" %}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/people/my_friend.js' %}"></script>

{% endblock %}