{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "My Tutors" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/people/my_tutor.css' %}" />
<!-- 
<link rel="stylesheet" href="{% static 'css/tutor/tutor_info.css' %}" />
 -->

<div class="tp-container" ng-controller="peopleTutorCtrl" ng-init="init( {{ data }} )">
	<div class="tp-content">
		<div class="ptutor-left left">
			<ul class="side">
				<li class="side-menu-title">{% trans "My People" %}</li>
				<div class="side-menu-underline"></div>
				<li class="side-menu side-active pointer">{% trans "My Tutors" %}</li>
				<li class="side-menu pointer"><a href="/people/friend/">{% trans "My Friends" %}</a></li>
				{% if request.session.is_tutor == 1 %}
				<li class="side-menu pointer"><a href="/people/tutee/">{% trans "My Tutees" %}</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="ptutor-right left">
			<div class="filter">
				<select name="" id="" ng-model="search.type">
					<option value="">{% trans "All" %}</option>
					<option value="1">{% trans "Bookmarked" %}</option>
					<option value="2">{% trans "Tutored" %}</option>
					<option value="3">{% trans "Contacted" %}</option>
				</select>
				<input type="text" placeholder="Search by Name" ng-model="search.name" />
			</div>
			<div class="ptutor-list">
				<div class="ptutor-row" ng-repeat="i in tutor | filter : search">
					
					<a href="/tutor/[[i.user]]">
					<div class="img-area left">
						<div ng-class="{'display-online' : [[i.is_login]]==1, 'display-offline' : [[i.is_login]]==0}"></div>
						<img ng-src="[[ i.photo_filename ]]" alt="user" class="user-img profile-border" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' />
					</div>
					</a>
					
					<a href="/tutor/[[i.user]]">
					<div class="user-content left" style="width: 60%;">
						<div class="people-header rating-style">
							<span class="name">[[ i.name ]]</span>
							<img ng-src="[[ i.country_filename ]]" alt="nation" class="nation-img" ng-if="i.from_country_id" />
							<img ng-if="i.rate && i.rate < 0.5 && i.rate > 0" src="{% static 'img/tutor/icon_star_001.png' %}" alt="rate" class="rating-img" />
							<img ng-if="i.rate && i.rate < 1.0 && i.rate >= 0.5" src="{% static 'img/tutor/icon_star_002.png' %}" alt="rating" class="rating-img" />
							<img ng-if="i.rate && i.rate < 1.5 && i.rate >= 1.0" src="{% static 'img/tutor/icon_star_003.png' %}" alt="rating" class="rating-img" />
							<img ng-if="i.rate && i.rate < 2.0 && i.rate >= 1.5" src="{% static 'img/tutor/icon_star_004.png' %}" alt="rating" class="rating-img" />
							<img ng-if="i.rate && i.rate < 2.5 && i.rate >= 2.0" src="{% static 'img/tutor/icon_star_005.png' %}" alt="rating" class="rating-img" />
							<img ng-if="i.rate && i.rate < 3.0 && i.rate >= 2.5" src="{% static 'img/tutor/icon_star_006.png' %}" alt="rating" class="rating-img" />
							<img ng-if="i.rate && i.rate < 3.5 && i.rate >= 3.0" src="{% static 'img/tutor/icon_star_007.png' %}" alt="rating" class="rating-img" />
							<img ng-if="i.rate && i.rate < 4.0 && i.rate >= 3.5" src="{% static 'img/tutor/icon_star_008.png' %}" alt="rating" class="rating-img" />
							<img ng-if="i.rate && i.rate < 4.5 && i.rate >= 4.0" src="{% static 'img/tutor/icon_star_009.png' %}" alt="rating" class="rating-img" />
							<img ng-if="i.rate && i.rate < 5.0 && i.rate >= 4.5" src="{% static 'img/tutor/icon_star_010.png' %}" alt="rating" class="rating-img" />
							<img ng-if="i.rate && i.rate >= 5.0" src="{% static 'img/tutor/icon_star_011.png' %}" alt="rating" class="rating-img" />
						</div>
						<div class="people-content">
							<div class="content-row">
								<div class="title left">
									<span>{% trans "Speaks" %}</span>
								</div>
								<div class="language-row left">
									<ul class="language-list gauge-style-tutor">
										<li class="left language-item" ng-if="i.native1">[[ i.native1 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /><span ng-if="i.native2" style="margin-left: 3px;">, </span></li>
										<li class="left language-item" ng-if="i.native2">[[ i.native2 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /><span ng-if="i.native3" style="margin-left: 3px;">, </span></li>
										<li class="left language-item" ng-if="i.native3">[[ i.native3 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /></li>
										<li class="left language-item"><span ng-if="i.oth1">, </span></li>
										<li class="left language-item" ng-if="i.lang1">
											[[ i.lang1 ]]
											<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang1_level == 1" /> 
											<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang1_level == 2" />
											<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang1_level == 3" />
											<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang1_level == 4" />
											<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang1_level == 5" />
											<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang1_level == 6" /><span ng-if="i.lang2" style="margin-left: 3px;">, </span>
										</li>
										<li class="left language-item" ng-if="i.lang2">
											[[ i.lang2 ]]
											<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang1_level == 1" /> 
											<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang1_level == 2" />
											<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang1_level == 3" />
											<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang1_level == 4" />
											<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang1_level == 5" />
											<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang1_level == 6" /><span ng-if="i.lang3" style="margin-left: 3px;">, </span>
										</li>
										<li class="left language-item" ng-if="i.lang3">
											[[ i.lang3 ]]
											<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang3_level == 1" /> 
											<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang3_level == 2" />
											<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang3_level == 3" />
											<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang3_level == 4" />
											<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang3_level == 5" />
											<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang3_level == 6" /><span ng-if="i.lang4" style="margin-left: 3px;">, </span>
										</li>
										<li class="left language-item" ng-if="i.lang4">
											[[ i.lang4 ]]
											<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang4_level == 1" /> 
											<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang4_level == 2" />
											<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang4_level == 3" />
											<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang4_level == 4" />
											<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang4_level == 5" />
											<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang4_level == 6" /><span ng-if="i.lang5" style="margin-left: 3px;">, </span>
										</li>
										<li class="left language-item" ng-if="i.lang5">
											[[ i.lang5 ]]
											<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang5_level == 1" /> 
											<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang5_level == 2" />
											<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang5_level == 3" />
											<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang5_level == 4" />
											<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang5_level == 5" />
											<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang5_level == 6" /><span ng-if="i.lang6" style="margin-left: 3px;">, </span>
										</li>
										<li class="left language-item" ng-if="i.lang6">
											[[ i.lang6 ]]
											<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang6_level == 1" /> 
											<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang6_level == 2" />
											<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang6_level == 3" />
											<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang6_level == 4" />
											<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang6_level == 5" />
											<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang6_level == 6" />
										</li>
										<div class="clear"></div>
									</ul>
								</div>
								<div class="clear"></div>
							</div>
							<div class="content-row">
								<div class="title left">
									<span>{% trans "Teaches" %}</span>
								</div>
								<div class="left">
									<ul class="language-list">
										<li class="left language-item" ng-if="i.teaching1">[[ i.teaching1 ]]<span ng-if="i.teaching2" style="margin-left: 3px;">, </span></li>
										<li class="left language-item" ng-if="i.teaching2">[[ i.teaching2 ]]<span ng-if="i.teaching3" style="margin-left: 3px;">, </span></li>
										<li class="left language-item" ng-if="i.teaching3">[[ i.teaching3 ]]</li>
										<div class="clear"></div>
									</ul>
								</div>
								<div class="clear"></div>
							</div>
							<div class="content-row">
								<div class="title left">
									<span>{% trans "From" context "nation+city" %}</span>
								</div>
								<div class="left">
									<ul class="language-list">
										<li class="left language-item" ng-if="i.from_city">[[ i.from_city ]]<span>, </span></li>
										<li class="left language-item" ng-if="i.from_country">[[ i.from_country ]]</li>
										<div class="clear"></div>
									</ul>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					</a>
					
					
					<div class="adding left">
						<div class="adding-btn">
							<form action="/tutor/reservation/which/" method="post">
								<input type="hidden" name="tid" ng-value="i.user" />
								<input type="hidden" name="accessType" ng-value="0" />
								<button class="green-btn people-btn h24 bg-green" type="submit"><span class="glyphicon glyphicon-time"></span> {% trans "Book a lesson" %}</button>							
							</form>
						</div>
					
						<div class="adding-btn">
<!-- 							<button class="red-btn people-btn" type="button" ng-click="openMessageModal( 'detail', i.user )"><span class="glyphicon glyphicon-envelope"></span> Message</button> -->
							
							<img style="width:19px; height:19px; cursor:pointer;float:right;" alt="" src="/static/img/tutor/icon_chat.png" ng-click="openMessageModal( 'detail', i.user )">
						</div>
						
					</div>
					<div class="clear"></div>
					
					
					<div class="img-area left">
					<div class="adding-btn">
							<div class="adding-row pos-bookmarker">
								<ul>
									<li class="tutor-type bookmarked left" ng-if="i.type == 1">
										<span class="glyphicon glyphicon-bookmark"></span>{% trans "Bookmarked" %}
									</li>
									<li class="tutor-type tutored left" ng-if="i.type == 2">
										<span class="glyphicon glyphicon-book"></span>{% trans "Tutored" %}
									</li>
									<li class="tutor-type contacted left" ng-if="i.type == 3">
										<span class="glyphicon glyphicon-comment"></span>{% trans "Contacted" %}
									</li>
									<!-- <li class="more left">
										<div class="dropdown">
											<button type="button" class="gray-btn more-btn dropdown-toggle" id="bookBtn" data-toggle="dropdown" aria-expanded="true"><span class="glyphicon glyphicon-menu-down"></span></button>
											<ul class="dropdown-menu" role="menu" aria-labelledy="bookBtn">
												<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="openHideModal( i )">Remove</a></li>
											</ul>
										</div>
									</li> -->
									<div class="clear"></div>
								</ul>
							</div>
						</div>
					</div>
					<div class="user-content left">
					<div class="short-intro">[[i.short_intro]]</div>
					</div>
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	<!-- Message Modal -->
	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm message-modal">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{% blocktrans %}Message to [[ user.name ]]{% endblocktrans %}</h4>
				</div>
				<div class="modal-body">
					<div class="message-container scroll">
						<div class="messageModal-row">
							<p>{% trans "What kind of language skills are you particularly interested in?" %}</p>
							<select name="" id="messageKind" ng-model="messageKind" ng-change="messageUpdate( 0 )">
								<option value="" ng-selected="messageSelect_kind" disabled="disabled" >{% trans "Select one" %}</option>
								<option value="Alphabet/Phonics">{% trans "Alphabet/Phonics" %}</option>
								<option value="Pronunciation Correction">{% trans "Pronunciation Correction" %}</option>
								<option value="Conversation/Debate">{% trans "Conversation/Debate" %}</option>
								<option value="Listening">{% trans "Listening" %}</option>
								<option value="Reading">{% trans "Reading" %}</option>
								<option value="Writing">{% trans "Writing" %}</option>
								<option value="Vocabulary">{% trans "Vocbulary" %}</option>
							</select>
						</div>
						<div class="messageModal-row">
							<p>{% trans "How often are you planning to take lessons?" %}</p>
							<select name="" id="messageOften" ng-model="messageOften" ng-change="messageUpdate( 1 )">
								<option value="" ng-selected="messageSelect_often" disabled="disabled">{% trans "Select one" %}</option>
								<option value="Biweekly">{% trans "Biweekly" %}</option>
								<option value="Weekly">{% trans "Weekly" %}</option>
								<option value="2 Lessons a week">{% trans "2 Lessons a week" %}</option>
								<option value="3+ Lessons a week">{% trans "3+ Lessons a week" %}</option>
								<option value="I don't know">{% trans "I don't know" %}</option>
							</select>
						</div>
						<div class="messageModal-row">
							<p>{% trans "Why are you planning to take a lesson?" %}</p>
							<select name="" id="messageWhy" ng-model="messageWhy" ng-change="messageUpdate( 2 )">
								<option value="" ng-selected="messageSelect_why" disabled="disabled">{% trans "Select one" %}</option>
								<option value="Work">{% trans "Business" %}</option>
								<option value="Test">{% trans "Test" %}</option>
								<option value="Academic/School">{% trans "Academic/School" %}</option>
								<option value="Hobby">{% trans "Hobby" %}</option>
								<option value="Travel">{% trans "Travel" %}</option>
								<option value="Other">{% trans "Other" %}</option>
							</select>
						</div>
						<div class="messageModal-row">
							<p>{% trans "Personal Message (ex. Self introduction, Specific Request)" %}</p>
							<textarea name="" id="messageModel" cols="30" rows="10" style="resize: none;" ng-model="messageModel"></textarea>
						</div>
						<div style="text-align: center; margin-top: 20px;">
							<button type="button" class="btn btn-primary" ng-click="sendMessage()">{% trans "Send" %}</button>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- hideModal -->
	<div class="modal fade" id="hideModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm hide-modal">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{% trans "Hide User" %}</h4>
				</div>
				<div class="modal-body" style="text-align: center;">
					<div class="hide-container">
						<p>{% trans "Are you sure to remove the tutor from the list?" %}</p>
						<br />
						<button type="button" class="btn btn-danger" ng-click="closeHideModal()" style="margin-right: 7px;">{% trans "Cancel" %}</button>
						<button type="button" class="btn btn-primary" ng-click="sendHide()">{% trans "Yes" %}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/people/my_tutor.js' %}"></script>

{% endblock %}