{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "My Tutees" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/people/my_tutor.css' %}" />
<link rel="stylesheet" href="{% static 'css/people/my_friend.css' %}" />
<link rel="stylesheet" href="{% static 'css/people/my_tutee.css' %}" />
<link rel="stylesheet" href="{% static 'css/tutor/tutor_info.css' %}" />


<div class="tp-container" ng-controller="peopleTuteeCtrl" ng-init="init( {{ data }} )">
	<div class="tp-content">
		<div class="ptutor-left left">
			<ul class="side">
				<li class="side-menu-title">{% trans "My People" %}</li>
				<div class="side-menu-underline"></div>
				<li class="side-menu pointer"><a href="/people/tutor/">{% trans "My Tutors" %}</a></li>
				<li class="side-menu pointer"><a href="/people/friend/">{% trans "My Friends" %}</a></li>
				{% if request.session.is_tutor == 1 %}
				<li class="side-menu pointer side-active">{% trans "My Tutees" %}</li>
				{% endif %}
			</ul>
		</div>
		<div class="ptutor-right left">
			<div class="filter">
				<select name="" id="" ng-model="search.stat">
					<option value="">{% trans "All" %}</option>
					<option value="0">{% trans "Previous" %}</option>
					<option value="1">{% trans "Current" %}</option>
				</select>
				<input type="text" placeholder="Search by Name" ng-model="search.name" />
			</div>
			<div class="friend">
<!-- 				<div class="friend-header"> -->
<!-- 					<p>My Tutees</p> -->
<!-- 				</div> -->
				<div class="request-content">
					<div class="ptutor-row" ng-repeat="i in friends | filter : search" ng-class="{ 'last-content' : ( $index == requestFriends.length - 2 && requestFriends.length % 2 == 0  ) || $last }">
						<a href="/user/[[i.user]]">
						<div class="img-area left">
							<div ng-class="{'display-online' : [[i.is_login]]==1, 'display-offline' : [[i.is_login]]==0}"></div>
							<img ng-src="[[ i.photo_filename ]]" alt="user" class="user-img profile-border" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' />
						</div>
						</a>
						<a href="/user/[[i.user]]">
						<div class="user-content left">
							<div class="people-header">
								<span class="name">[[ i.name ]]</span>
								<img ng-src="[[ i.country_filename ]]" alt="nation" class="nation-img" ng-if="i.from_country_id" />
							</div>
							<div class="people-content">
								<div class="content-row" ng-if="i.native1">
									<div class="title left">
										<span>{% trans "Speaks" %}</span>
									</div>
									<div class="content left">
										<ul class="language-list gauge-style">
											<li class="left language-item" ng-if="i.native1">[[ i.native1 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /><span ng-if="i.native2" style="margin-left: 3px;">, </span></li>
											<li class="left language-item" ng-if="i.native2">[[ i.native2 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /><span ng-if="i.native3" style="margin-left: 3px;">, </span></li>
											<li class="left language-item" ng-if="i.native3">[[ i.native3 ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="" /></li>
											<li class="left language-item"><span ng-if="i.lang1">, </span></li>
											<li class="left language-item" ng-if="i.lang1">
												[[ i.lang1 ]]
												<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang1_level == 1" /> 
												<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang1_level == 2" />
												<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang1_level == 3" />
												<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang1_level == 4" />
												<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang1_level == 5" />
												<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang1_level == 6" /><span ng-if="i.lang2" style="margin-left: 3px;">, </span>
											</li>
											<li class="left language-item" ng-if="i.lang2">
												[[ i.lang2 ]]
												<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang2_level == 1" /> 
												<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang2_level == 2" />
												<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang2_level == 3" />
												<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang2_level == 4" />
												<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang2_level == 5" />
												<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang2_level == 6" /><span ng-if="i.lang3" style="margin-left: 3px;">, </span>
											</li>
											<li class="left language-item" ng-if="i.lang3">
												[[ i.lang3 ]]
												<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang3_level == 1" /> 
												<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang3_level == 2" />
												<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang3_level == 3" />
												<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang3_level == 4" />
												<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang3_level == 5" />
												<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang3_level == 6" /><span ng-if="i.lang4" style="margin-left: 3px;">, </span>
											</li>
											<li class="left language-item" ng-if="i.lang4">
												[[ i.lang4 ]]
												<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang4_level == 1" /> 
												<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang4_level == 2" />
												<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang4_level == 3" />
												<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang4_level == 4" />
												<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang4_level == 5" />
												<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang4_level == 6" /><span ng-if="i.lang5" style="margin-left: 3px;">, </span>
											</li>
											<li class="left language-item" ng-if="i.lang5">
												[[ i.lang5 ]]
												<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang5_level == 1" /> 
												<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang5_level == 2" />
												<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang5_level == 3" />
												<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang5_level == 4" />
												<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang5_level == 5" />
												<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang5_level == 6" /><span ng-if="i.lang6" style="margin-left: 3px;">, </span>
											</li>
											<li class="left language-item" ng-if="i.lang6">
												[[ i.lang6 ]]
												<img src="{% static 'img/tutor/gauge_000.png' %}" alt="" ng-if="i.lang6_level == 1" /> 
												<img src="{% static 'img/tutor/gauge_001.png' %}" alt="" ng-if="i.lang6_level == 2" />
												<img src="{% static 'img/tutor/gauge_002.png' %}" alt="" ng-if="i.lang6_level == 3" />
												<img src="{% static 'img/tutor/gauge_003.png' %}" alt="" ng-if="i.lang6_level == 4" />
												<img src="{% static 'img/tutor/gauge_004.png' %}" alt="" ng-if="i.lang6_level == 5" />
												<img src="{% static 'img/tutor/gauge_005.png' %}" alt="" ng-if="i.lang6_level == 6" />
											</li>
											<div class="clear"></div>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
								<div class="content-row">
									<div class="title left">
										<span>{% trans "Learning" %}</span>
									</div>
									<div class="content left">
										<ul class="language-list">
											<li class="left language-item" ng-if="i.lang1">
												[[ i.lang1 ]]
												<span ng-if="i.lang2" style="margin-left: 3px;">, </span>
											</li>
											<li class="left language-item" ng-if="i.lang2">
												[[ i.lang2 ]]
												<span ng-if="i.lang3" style="margin-left: 3px;">, </span>
											</li>
											<li class="left language-item" ng-if="i.lang3">
												[[ i.lang3 ]]
											</li>
											<div class="clear"></div>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
								<div class="content-row"  ng-if="i.from_country">
									<div class="title left">
										<span>{% trans "From" context "nation+city" %}</span>
									</div>
									<div class="content left">
										<ul class="language-list">
											<li class="left language-item" ng-if="i.from_city">[[ i.from_city ]]<span>, </span></li>
											<li class="left language-item" ng-if="i.from_country">[[ i.from_country ]]</li>
											<div class="clear"></div>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						</a>
						
						<div class="adding left">
							<div class="adding-btn">
								<form action="/tutorlessons/" method="post" style="display: inline-block;">
									<input type="hidden" name="tutee_name" ng-value="i.name" />
									<input type="hidden" name="tutee_id" ng-value="i.user" />
									<button class="green-btn people-btn h24 bg-green" type="submit"> {% trans "All Lessons" %}</button>							
								</form>
								<img style="width:19px; height:19px; cursor:pointer;" alt="" src="/static/img/tutor/icon_chat.png" ng-click="openMessageModal( 'detail', i.user )">
								<div class="clear"></div>
							</div>
						
							
							
						</div>
						
						<div class="clear"></div>
						
						<div class="img-area left">
							<div class="adding-btn">
								<ul>
									<li class="left" ng-if="i.stat == 0" style="margin-right: 10px;">
										<div class="lesson-stat prev f13">
											<span class="glyphicon glyphicon-menu-left" style="margin-right: 3px; top: 2px;"></span>{% trans "Previous" %}
										</div>
									</li>
									<li class="left" ng-if="i.stat == 1" style="margin-right: 10px;">
										<div class="lesson-stat curr f13">
											<span class="glyphicon glyphicon-play" style="margin-right: 3px; top: 2px;"></span>{% trans "Current" %}
										</div>
									</li>
									<!-- <li class="more left">
										<div class="dropdown">
											<button type="button" class="gray-btn more-btn dropdown-toggle" id="bookBtn" data-toggle="dropdown" aria-expanded="true" style="height: 30px;"><span class="glyphicon glyphicon-menu-down"></span></button>
											<ul class="dropdown-menu" role="menu" aria-labelledy="bookBtn">
												<li role="presentation" style="cursor: pointer"><a role="menuitem" tabindex="-1" ng-click="openModal( 'hideModal', i.fr_id )">Remove</a></li>
											</ul>
										</div>
									</li> -->
									<div class="clear"></div>
								</ul>
							</div>
						</div>
						<div class="user-content left">
						<div class="short-intro">[[i.short_intro]]</div>
						</div>
						
						<div class="clear"></div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	<!-- hideModal -->
	<div class="modal fade" id="hideModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm hide-modal">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center;">
					<div class="hide-container">
						<p>{% trans "Are you sure you want to remove the tutee from the list?" %}</p>
						<br />
						<button type="button" class="btn btn-danger" ng-click="hideModal( 'hideModal' )" style="margin-right: 7px;">{% trans "Cancel" %}</button>
						<button type="button" class="btn btn-primary" ng-click="deleteFriend( 'hideModal' )">{% trans "Yes" %}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

<script type="text/javascript" src="{% static 'js/people/my_tutee.js' %}"></script>

{% endblock %}