<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<style>
.div-menu{
	width: 152px;
	text-align: left;
	font-size: 14px;
	background-color: white;
}
.div-privacy, .div-notification, .div-editProfile, .div-myprofile{
	height: 30px;
	line-height: 30px;
}
.div-privacy:hover, .div-notification:hover, .div-editProfile:hover, .div-myprofile:hover{
	cursor: pointer;
}
.active{
	background-color: rgb(224, 239, 241);
	border-radius: 5px;
}
.active-right{
	width: 5px;
	height: 10px;
}
.img-right{
	display: none;
}
.div-text{
	display: inline-block;
	margin-left: 10px;
}
.div-img{
	width: 0;
	height: 0;
	float: right;
	margin-right: 20px;
}

.side-menu-title {
	font-size: 16px;
	font-weight: normal;
	margin: 15px 13px 15px 15px;
	color: rgb(100, 100, 100);
}
.side-menu-underline {
	height: 1px;
	background-color: rgb(100, 100, 100);
	margin-bottom: 5px;
}

</style>
<script type="text/javascript">

$(document).ready(function(){
	
	console.log( 'on ready ');
});

function goUrl(str){
	location.href=str;
}
</script>
<div class="div-menu">
	<div>
		<div class="side-menu-title">{% trans "Settings" %}</div>
		<div class="side-menu-underline"></div>
	</div>
	<div ng-class=" '{{menu.page}}' == 'privacy' ? 'div-privacy active' : 'div-privacy' " onclick="goUrl('/settings/privacy')" >
		<div class="div-text">
		{% trans "Privacy & Password" %}
		</div>
		<div class="div-img"> 
		<img ng-class=" '{{menu.page}}' == 'privacy' ? 'active-right' : 'img-right' " src="{% static 'img/mainpage/button_right.png' %}">
		</div>
	</div>
	<div ng-class=" '{{menu.page}}' == 'notification' ? 'div-notification active' : 'div-notification' " onclick="goUrl('/settings/notification')">
		<div class="div-text">
		{% trans "Notification" %}
		</div>
		<div class="div-img"> 
		<img ng-class=" '{{menu.page}}' == 'notification' ? 'active-right' : 'img-right' " src="{% static 'img/mainpage/button_right.png' %}">
		</div>
	</div>
	<div ng-class=" '{{menu.page}}' == 'myprofile' ? 'div-myprofile active' : 'div-myprofile' " onclick="goUrl('/settings/editprofile')">
		<div class="div-text">
		{% trans "My Profile" %}
		</div>
		<div class="div-img"> 
		<img ng-class=" '{{menu.page}}' == 'myprofile' ? 'active-right' : 'img-right' " src="{% static 'img/mainpage/button_right.png' %}">
		</div>
	</div>
	{% if request.session.is_tutor == 1 %}
	<div ng-class=" '{{menu.page}}' == 'withdraw' ? 'div-notification active' : 'div-notification' " onclick="goUrl('/settings/withdraw')">
		<div class="div-text">
		{% trans "Withdrawal Settings" %}
		</div>
		<div class="div-img"> 
		<img ng-class=" '{{menu.page}}' == 'withdraw' ? 'active-right' : 'img-right' " src="{% static 'img/mainpage/button_right.png' %}">
		</div>
	</div>
	{% endif %}

</div>
