{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Notification" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}


<style>
.container{
	width: 1024px !important;
	padding: 0;
	padding-top:56px !important;
}
.menu, .content{
	float: left;
	width: 180px;
}
.menu{
	width: 180px;
}

.div-menu {
	width: 180px !important;
}
.content{
	background: white;
	width: 824px;
	font-size: 12px;
	margin-left: 20px;
	padding: 0 20px;
}
.title{
	font-size: 20px !important;
	
}
.blank{
	height: 50px;
}
.div-row{
	margin: 5px 0;
	height: 25px;
	padding: 0 10px;
}
.div-title{
	height: 30px;
}
.bold-text{
	font-weight: normal;
	font-size: 16px;
}
.bold-text2{
	font-weight: normal;
	font-size: 13px;
}
.div-left-text, .div-left-check, .div-right-check{
	float: left;
	width: 20%;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 13px;
}
.div-left-text{
	width: 60%;
	text-align: left;
	line-height: 20px;
	height: 20px;
	padding-right: 50px;
}
.chk-noti{
	width: 15px;
	height: 15px;
}
/* 2016-04-22 수정...*/
.div-yellow-title{
	text-align: left;
	color: #F47F51;
}
.div-tab{
	background-color: #F0F0F0;
	border-radius: 10px;
	border-left: 2px solid #dcdcdc;
	border-right: 2px solid #dcdcdc;
	border-bottom: 2px solid #dcdcdc;
	padding: 5px;
	margin-bottom: 50px;
}
.div-underline{
	border-bottom: 1px solid #dcdcdc;
}
.noti-cancel{
	cursor: pointer;
	float: left;
	background-color: #afafaf;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: white;
	font-size: 14px;
	border-radius: 6px;
}
.noti-save{
	cursor: pointer;
	float: right;
	margin-left: 30px;
	background-color: #00b5cb;
	border-radius: 6px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.div-btn{
	width: 250px;
	margin: auto;
	height: 20px;
	text-align: center;
	color: white;
}
</style>
<script>
</script>


<div class="container" ng-app="notification" ng-controller="notificationController" ng-init="data={{data}}; init();">
	<div class="menu">
		{% include "settings/menu.html" %}
	</div>
	<div class="content">
		<div class="div-row div-title">
			<div class="div-left-text div-yellow-title title">
				{% trans "Notifications" %}
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				
			</div>
			<div class="div-left-check">
				<div class="bold-text">{% trans "On site" %}</div>
			</div>
			<div class="div-right-check">
				<div class="bold-text">{% trans "By e-mail" %}</div>
			</div>
		</div>
		<div class="div-tab">
			<div class="div-row">
				<div class="div-left-text">
					<div class="bold-text2">{% trans "Lesson notifications" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.noti_by_tellpin" disabled=true>
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng_model="data.noti_by_email" disabled=true>
				</div>
			</div>
		</div>
		<!-- 
		<div class="div-row">
			<div class="div-left-text">
				<div class="">Notify me 24 hours before the start of lesson</div>
			</div>
			<div class="div-left-check">
				ㅡ
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" ng-model="data.e_l_24hours" ng-change="saveNoti()">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">Notify me 3 hours before the start of lesson</div>
			</div>
			<div class="div-left-check">
				ㅡ
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" ng-model="data.e_l_3hours" ng-change="saveNoti()">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">Notify me 1 hours before the start of lesson</div>
			</div>
			<div class="div-left-check">
				ㅡ
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" ng-model="data.e_l_1hours" ng-change="saveNoti()">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">Notify me when my lesson request is approved</div>
			</div>
			<div class="div-left-check">
				<input class="chk-noti" type="checkbox" ng-model="data.t_l_approved" ng-change="saveNoti()">
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" ng-model="data.e_l_approved" ng-change="saveNoti()">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">Notify me when my lesson request is declined</div>
			</div>
			<div class="div-left-check">
				<input class="chk-noti" type="checkbox" checked="checked" disabled="disabled">
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" checked="checked" disabled="disabled">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">[As a Tutor] Notify me when my tutee asked for rescheduling</div>
			</div>
			<div class="div-left-check">
				<input class="chk-noti" type="checkbox" ng-model="data.t_l_ask_reschedule" ng-change="saveNoti()">
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" ng-model="data.e_l_ask_reschedule" ng-change="saveNoti()">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">Notify me when the other party reported a problem</div>
			</div>
			<div class="div-left-check">
				<input class="chk-noti" type="checkbox" checked="checked" disabled="disabled">
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" checked="checked" disabled="disabled">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">Notify me when the lesson in problem reached a conclusion</div>
			</div>
			<div class="div-left-check">
				<input class="chk-noti" type="checkbox" checked="checked" disabled="disabled">
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" checked="checked" disabled="disabled">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">[As a Tutee] Notify me when my tutor gave me a feedback</div>
			</div>
			<div class="div-left-check">
				<input class="chk-noti" type="checkbox" ng-model="data.t_l_feedback" ng-change="saveNoti()">
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" ng-model="data.e_l_feedback" ng-change="saveNoti()">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">[As a Tutor] Notify me when a tutee sent me a lesson request</div>
			</div>
			<div class="div-left-check">
				<input class="chk-noti" type="checkbox" ng-model="data.t_l_request" ng-change="saveNoti()">
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" ng-model="data.e_l_request" ng-change="saveNoti()">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">[As a Tutor] Notify me when my tutee rescheduled a lesson</div>
			</div>
			<div class="div-left-check">
				<input class="chk-noti" type="checkbox" checked="checked" disabled="disabled">
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" checked="checked" disabled="disabled">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">[As a Tutor] Notify me when my tutee confirmed the lesson</div>
			</div>
			<div class="div-left-check">
				<input class="chk-noti" type="checkbox" ng-model="data.t_l_confirmed" ng-change="saveNoti()">
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" ng-model="data.e_l_confirmed" ng-change="saveNoti()">
			</div>
		</div>
		 -->
		<div class="div-row div-title">
			<div class="div-left-text">
				<div class="bold-text">{% trans "Notifications" %} - {% trans "Language Learning Board" %}</div>
			</div>
			<div class="div-left-check">
				<!-- <input class="chk-noti" type="checkbox" id="club_tellpin_all" ng-click="all_click('club_tellpin_all');"> -->
			</div>
			<div class="div-right-check">
				<!--<input class="chk-noti" type="checkbox" id="club_email_all" ng-click="all_click('club_email_all');">-->
			</div>
		</div>
		<div class="div-tab">
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">{% trans "Comments on my post or comment" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_lb_comment">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_lb_comment">
				</div>
			</div>
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">{% trans "Upvotes my post" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_lb_upvote">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_lb_upvote" >
				</div>
			</div>
			<div class="div-row">
				<div class="div-left-text">
					<div class="">{% trans "New post by my friend or tutor" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_lb_new">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_lb_new">
				</div>
			</div>
		</div>	
		<div class="div-row div-title">
			<div class="div-left-text">
				<div class="bold-text">{% trans "Notifications" %} - {% trans "Translation & Proofreading" %}</div>
			</div>
			<div class="div-left-check">
				<!--<input class="chk-noti" type="checkbox" id="trans_tellpin_all" ng-click="all_click('trans_tellpin_all');">-->
			</div>
			<div class="div-right-check">
				<!--<input class="chk-noti" type="checkbox" id="trans_email_all" ng-click="all_click('trans_email_all');">-->
			</div>
		</div>
		<div class="div-tab">
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">{% trans "Comments on my request/answer/comment" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_tp_comment">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_tp_comment">
				</div>
			</div>
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">{% trans "Answer to my request" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_tp_answer">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_tp_answer">
				</div>
			</div>
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">{% trans "Upvotes my answer" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_tp_upvote">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_tp_upvote" >
				</div>
			</div>
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">{% trans "Answer to my pinned request" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_tp_pin">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_tp_pin">
				</div>
			</div>
			<div class="div-row">
				<div class="div-left-text">
					<div class="">{% trans "New request(s) by my friend/tutee" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_tp_new">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_tp_new">
				</div>
			</div>
		</div>
		<div class="div-row div-title">
			<div class="div-left-text">
				<div class="bold-text">{% trans "Notifications" %} -  {% trans "Language Questions" %}</div>
			</div>
			<div class="div-left-check">
				<!--<input class="chk-noti" type="checkbox" id="qa_tellpin_all" ng-click="all_click('qa_tellpin_all');">-->
			</div>
			<div class="div-right-check">
				<!--<input class="chk-noti" type="checkbox" id="qa_email_all" ng-click="all_click('qa_email_all');">-->
			</div>
		</div>
		<div class="div-tab">
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">{% trans "Comments on my request/answer/comment" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_lq_comment">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_lq_comment">
				</div>
			</div>
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">{% trans "Answer to my request" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_lq_answer">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_lq_answer">
				</div>
			</div>
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">{% trans "Upvotes my answer" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_lq_upvote">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_lq_upvote" >
				</div>
			</div>
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">{% trans "Answer to my pinned request" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_lq_pin">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_lq_pin">
				</div>
			</div>
			<div class="div-row">
				<div class="div-left-text">
					<div class="">{% trans "New request(s) by my friend/tutee" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_lq_new">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_lq_new">
				</div>
			</div>
		</div>
		<!-- 
		<div class="div-row div-title">
			<div class="div-left-text">
				<div class="bold-text">Notifications - Language Exchange</div>
			</div>
			<div class="div-left-check">
				<input class="chk-noti" type="checkbox" id="ex_tellpin_all" ng-click="all_click('ex_tellpin_all');">
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" id="ex_email_all" ng-click="all_click('ex_email_all');">
			</div>
		</div>
		<div class="div-tab">
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">There is a new friend request</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" checked="checked" disabled="disabled">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" checked="checked" disabled="disabled">
				</div>
			</div>
			<div class="div-row">
				<div class="div-left-text">
					<div class="">Approves my friend request</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_x_approve" ng-change="saveNoti()">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.e_x_approve" ng-change="saveNoti()">
				</div>
			</div>
		</div>
		-->
		<div class="div-row div-title">
			<div class="div-left-text">
				<div class="bold-text">{% trans "Newsletter Notifications" %}</div>
			</div>
			<div class="div-left-check">
				<!-- <input class="chk-noti" type="checkbox" id="news_tellpin_all" ng-click="all_click('news_tellpin_all');"> -->
			</div>
			<div class="div-right-check">
				<!-- <input class="chk-noti" type="checkbox" id="news_email_all" ng-click="all_click('news_email_all');"> -->
			</div>
		</div>
		<div class="div-tab">
			<div class="div-row div-underline">
				<div class="div-left-text">
					<div class="">{% trans "Announcements on updates, tips and how-tos" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_news_announce">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_news_announce">
				</div>
			</div>
			<div class="div-row">
				<div class="div-left-text">
					<div class="">{% trans "Weekly Newsletter" %}</div>
				</div>
				<div class="div-left-check">
					<input class="chk-noti" type="checkbox" ng-model="data.t_news_weekly">
				</div>
				<div class="div-right-check">
					<input class="chk-noti" type="checkbox" ng-model="data.m_news_weekly">
				</div>
			</div>
		</div>
		<!--
		<div class="div-row div-title">
			<div class="div-left-text">
				<div class="bold-text">Message Notifications</div>
			</div>
			<div class="div-left-check">
				ㅡ
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" id="msg_email_all" ng-click="all_click('msg_email_all');">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">Someone sent me a message</div>
			</div>
			<div class="div-left-check">
				ㅡ
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" ng-model="data.e_m_new_message" ng-change="saveNoti()">
			</div>
		</div>
		<div class="div-row">
			<div class="div-left-text">
				<div class="">Someone sent me a lesson message</div>
			</div>
			<div class="div-left-check">
				ㅡ
			</div>
			<div class="div-right-check">
				<input class="chk-noti" type="checkbox" checked="checked" disabled="disabled">
			</div>
		</div>
		 -->
		<div class="div-btn">
			<div class="noti-cancel" onclick="location.reload();">{% trans "Cancel" %}</div>
			<div class="noti-save" ng-click="saveNoti()">{% trans "Save" %}</div>
		</div>
	</div>
</div>

<script src="{% static 'js/settings/notification.js' %}"></script>

{% endblock %}