{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Privacy & Password" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/settings/withdraw.css' %}" />

<style>
.container{
	width: 1024px !important;
	padding: 0;
	padding-top:56px !important;
}
.menu, .content{
	float: left;
}
.menu{
	width: 180px;
}

.div-menu {
	width: 180px !important;
}
.content{
	background: white;
	width: 824px;
	margin-left: 20px;
	padding: 0 20px;
}
.title{
	font-size: 20px;
	color: #F47F51;
	margin-bottom: 20px;
}
.div-select{
	line-height: 20px;
}
.div-select input{
	width: 15px;
	height: 15px;
}
.blank{
	border-top: 1px solid #00b5cb;
	margin-top: 40px;
	margin-bottom: 30px;
}
.btn-img{
	padding: 5px;
}
.div-btn{
	margin-top: 20px;
	height: 20px;
	text-align: center;
	color: white;
}
.noti-cancel{
	cursor: pointer;
	float: left;
	background-color: #afafaf;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: white;
	font-size: 14px;
	border-radius: 6px;
}
.noti-save{
	cursor: pointer;
	float: right;
	margin-left: 30px;
	background-color: #00b5cb;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-radius: 6px;
}
#change_password{
	cursor: pointer;
}
/* 	for schedule */
.tutor-schedule-backdrop{
	top:0px;
	position:fixed;
	background:#353535;
	opacity:0.7;
	width:100%;
	height:100%;
	z-index:20000;
}
#video-tutor-schedule-template{
	width:400px;
	border-radius:10px;
	position:fixed;
	top: 200px;
	left:calc(50% - 200px);
	background:white;
	z-index:30000;
}
.change-password-top{
	margin: 10px 0;
}
.change-password-title{
	width: 80%;
	margin: 20px auto 10px auto;
}
.change-password-input-div{
	width: 80%;
	margin: auto;
}
.change-password-input{
	width: 100%;
	
}
.change-password-button-div{
	text-align: center;
	margin-top: 10px;
}
.change-password-button{
	border-radius: 5px;
	width: 100px;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
	
}
.change-password-top{
	text-align: right;
}
.change-password-pop-close{
	border: 0;
	background: none;
	font-size: 30px;
	opacity: 0.2;
	margin-right: 10px;
	background-image: url("/static/img/community/icon_close_hover.png");
	width: 25px;
	height: 25px;
}
.error-span{
	line-height: 20px;
	display: block;
	color: red;
}
.normal-weight{
	font-weight: normal;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 5px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 7px;
}

.snslogo{
  height: 44px;
  width: 44px;
  margin-bottom: 31px;
  margin-right: 5px;
}
.ulcustom{
  padding-left:0px;
}

</style>
<script>
</script>


<div ng-app="privacy" ng-controller="privacyController" style="width: 100%;">
<!-- change password -->
	<div class="tutor-schedule-backdrop" ng-if="introPopup" ng-click="closeChangePWPopup()"></div>
	<div id="video-tutor-schedule-template" ng-if="introPopup">
		<!-- <form id="form-change-password" action="/settings/privacy/change_password/" method="post">{% csrf_token %} -->
		<div class="change-password-top">
			<button class="change-password-pop-close" ng-click="closeChangePWPopup()"></button>
		</div>
		<div class="change-password-title">
			<span>{% trans "Enter your current password" %}</span>
		</div>
		<div class="change-password-input-div">
			<input id="change-current-password" name="change-current-password" type="password" class="change-password-input">
			<span class="error-span current-password-error"></span>	
		</div>
		<div class="change-password-title">
			<span>{% trans "Enter new password" %}</span>
		</div>
		<div class="change-password-input-div">
			<input id="change-new-password" name="change-new-password" type="password" class="change-password-input">
			<span class="error-span new-password-error"></span>
		</div>
		<div class="change-password-title">
			<span>{% trans "Enter new password again" %}</span>
		</div>
		<div class="change-password-input-div">
			<input id="change-new-password-again" name="change-new-password-again" type="password" class="change-password-input">
			<span class="error-span new-password-again-error"></span>
		</div>
		<div class="change-password-button-div">
			<button class="bg-blue change-password-button" ng-click="changePassword();">{% trans "OK" %}</button>
		</div>
		<!-- </form> -->
	</div>
	<div class="container"  ng-init="data={{data}}; init();">
		<div class="menu">
			{% include "settings/menu.html" %}
		</div>
		<div class=content>
			<div class="title">
			{% trans "Privacy" %}
			</div>
			<div class="div-select" ng-click="savePrivacy();">
				<label class="normal-weight"><input type="checkbox" ng-model="data.show_gender"> {% trans "Show my gender in my profile" %}</label>
			</div>
			<div class="div-select" ng-click="savePrivacy();">
				<label class="normal-weight"><input type="checkbox" ng-model="data.show_age"> {% trans "Show my age in my profile" %}</label>
			</div>
			<div class="div-select" ng-click="savePrivacy();">
				<label class="normal-weight"><input type="checkbox" ng-model="data.receive_message"> {% trans "Receive messages from someone who is not my tutor, tutee or friend" %}</label>
			</div>
			
			<!--
			<div class="title">
			{% trans "Connected Accounts" %}
			</div>
			<ul class="ulcustom">
				<li>
					<img class="snslogo" src="/static/img/landingpage/icon_facebook.png">
					<label class="switch">
					  <input type="checkbox" name="facebook" ng-click="snsCheck()">
					  <div class="slider round"></div>
					</label>
					<label class="normal-weight">test</label>
				</li>
				<li>
					<img class="snslogo" src="/static/img/landingpage/icon_twitter.png">
					<label class="switch">
					  <input type="checkbox">
					  <div class="slider round"></div>
					</label>
				</li>
				<li>
					<img class="snslogo" src="/static/img/landingpage/icon_google_plus.png">
					<label class="switch">
					  <input type="checkbox">
					  <div class="slider round"></div>
					</label>
				</li>
			</ul>
			<div class="div-btn">
				<!-- <div class="noti-cancel" onclick="location.reload();">Cancel</div>
				<div class="noti-save" ng-click="savePrivacy()">{% trans "Save" %}</div>
			</div>
			-->
			
			<div class="blank">
			</div>
			<div class="title">
			{% trans "Password" %}
			</div>
			<div class="f-blue" id="change_password" ng-click="showChangePWPopup(tutor.video_intro)" onclick="return false;">
			{% trans "Change Password ..." %}
			</div>
			
			
			<!--div class="title">
			Social Media accounts
			</div>
			<div class="image">
				<img class="btn-img" src="{% static 'img/mypage/button_facebook.png'%}" > Facebook connected ( ID: 000 ) <a href=""> disconnect</a>
			</div>
			<div class="image">
				<img class="btn-img" src="{% static 'img/mypage/button_twitter.png'%}" > Twitter connected ( ID: 000 ) <a href=""> disconnect</a>
			</div>
			<div class="image">
				<img class="btn-img" src="{% static 'img/mypage/button_google_plus.png'%}" > Google+ connected ( ID: 000 ) <a href=""> disconnect</a>
			</div-->
		</div>
	</div>
</div>

<script src="{% static 'js/settings/privacy.js' %}"></script>

{% endblock %}