{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Withdrawal Settings" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/settings/withdraw.css' %}" />


<div class="container" ng-controller="withdrawCtrl" ng-init="init( {{ data }} )">
	<div class="menu">
		{% include "settings/menu.html" %}
	</div>
	<div class=content>
		<div class="header-content">{% trans "Withdrawal Settings" %}</div>
		<div class="withdraw-info">
			<div>
				<div class="left elem head">{% trans "Withdrawal Method" %}</div>
				<div class="left elem head">{% trans "Account ID" %}</div>
				<div class="left elem head">{% trans "Action" %}</div>
				<div class="clear"></div>
			</div>
			<div>
				<div class="left elem">{% trans "Paypal" %}</div>
				<div class="left elem">[[ payment.paypal ]]</div>
				<div class="left elem">
					<button type="button" class="blue-btn edit-btn" ng-click="openWithdrawalModal( 'editModal' )">{% trans "Edit" %}</button>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="header-content" ng-click="showPaymentData()">{% trans "Payment Account" %}</div>
		<div class="payment-info">
			<div class="payment-row">
				<div class="left pay-half">
					{% trans "First Name" %} <br />
					<input type="text" ng-model="payment.first_name" />
				</div>
				<div class="left">
					{% trans "Last Name" %} <br />
					<input type="text" ng-model="payment.last_name" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="payment-row">
				{% trans "Street Address" %} <br />
				<input type="text" class="street-txt" ng-model="payment.street_addr" />
			</div>
			<div class="payment-row">
				<div class="left pay-half">
					{% trans "City" %} <br />
					<input type="text" ng-model="payment.city" />
				</div>
				<div class="left">
					{% trans "State / Province / Region" %} <br />
					<input type="text" ng-model="payment.state" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="payment-row">
				<div class="left pay-half">
					{% trans "Zip / Postal code" %} <br />
					<input type="text" ng-model="payment.zip" />
				</div>
				<div class="left">
					{% trans "Country / Region" %} <br />
					<select ng-model="payment.country" ng-options="nation.id as nation.country for nation in nations"></select>
				</div>
				<div class="clear"></div>
			</div>
			<div class="payment-row">
				<div class="left pay-half">
					{% trans "Phone Number" %} <br />
					<input type="text" ng-model="payment.phone" />
				</div>
				<div class="left">
					{% trans "Email Address" %} <br />
					<input type="text" ng-model="payment.email" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="payment-row btn-area">
				<button type="button" class="blue-btn save" ng-click="paymentSave()">{% trans "Save" %}</button>
			</div>
		</div>
	</div>
	
	<!-- edit Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- <div class="modal-header">
       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 30px;">&times;</span></button>
     			</div> -->
				<div class="modal-body">
					<div class="trans-row">
						<div>
							<p class="header-content">{% trans "Edit withdrawal method: Paypal" %}</p>
						</div>
					</div>
					<div class="trans-row">
						<div class="right-elem">
							<p class="trans-title">{% trans "Account ID" %}</p>
							<div class="center">
								<input type="text" ng-model="payment.paypal" />
							</div>
							<p class="trans-ex">{% trans "Example : emailid@xyz.com" %}</p>
							<span class="valid" ng-if="!payment.paypal">{% trans "Paypal Account required" %}</span>
						</div>
					</div>
					<div class="trans-row">
						<p class="trans-title">{% trans "Enter your Tellpin password" %}</p>
						<div class="center">
								<input type="password" ng-model="pw" ng-focus="checkPw = 1" />
						</div>
						<span class="valid" ng-if="checkPw == 0">{% trans "Invalid Password" %}</span>
					</div>
					<div class="trans-row" style="text-align: center;">
						<button class="gray-btn edit-modal" type="button" ng-click="hideWithdrawalModal( 'editModal' )">{% trans "Cancel" %}</button>
						<button class="blue-btn edit-modal" type="button" ng-click="submitWithdrawalPaypal()">{% trans "Submit" %}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/settings/withdraw.js' %}"></script>

{% endblock %}