{% extends "tellpin_admin/tellpin_admin.html" %}
{% load staticfiles %}
{% block content %}

<script type="text/javascript" src="/static/js/tellpin_admin/admin_home.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/tellpin_admin/admin_home.css" />

<style>

th {
	text-align: inherit !important;
}

</style>


<div id="admin_home" ng-controller="adminController">
	<ul class="tab">
	  <li><a href="javascript:void(0)" class="tablinks" ng-click="tutorApplyList($event, 'Tutor Application')">튜터 신청 관리</a></li>
	  <li><a href="javascript:void(0)" class="tablinks" ng-click="tutorModifyList($event, 'Tutor Modification')">튜터 프로필 변경 관리</a></li>
	  <li><a href="javascript:void(0)" class="tablinks" ng-click="userViolationList($event, 'User Violation')">사용자 신고 관리</a></li>
	  <li><a href="javascript:void(0)" class="tablinks" ng-click="openCity($event, 'Testtab')">강의 조회</a></li>
	  <li><a href="javascript:void(0)" class="tablinks" ng-click="claimList($event, 'Lesson Claim')">분쟁 신고 관리</a></li>
	  <li><a href="javascript:void(0)" class="tablinks" ng-click="postList($event, 'Post Claim')">게시물 신고 관리</a></li>
	  <li><a href="javascript:void(0)" class="tablinks" ng-click="transactionList($event, 'Transaction Claim')">결제 조회</a></li>
	  <li><a href="javascript:void(0)" class="tablinks" ng-click="tutorWithrawlList($event, 'paypal_withraw')">paypal withraw</a></li>
	  <li><a href="javascript:void(0)" class="tablinks" ng-click="helpList($event, 'Help Claim')">문의 사항 관리</a></li>
	</ul>
	
	<div id="Tutor Application" class="tabcontent">
		<table style="width:100%">
			<tr>
			  <th>User ID</th>
			  <th>email</th> 
			  <th>Username</th>
			</tr>
		  	
			<tr class="div-list" ng-repeat="tl in TLs">
					<td ng-click="getTutorAppDetail(tl.user_id)">[[tl.user_id]]</td>
					<td ng-click="getTutorAppDetail(tl.user_id)">[[tl.email]]</td>
					<td ng-click="getTutorAppDetail(tl.user_id)">[[tl.name]]</td>
					
			</tr>

		</table>
	  	<div class="page-bottom" ng-if="pgGroup.length != 1">
		<nav>
		  <ul class="pagination tab" orientation="horizontal">
		    <li ng-class="{ 'disabled' : page == 1 }">
		      <a ng-if="page != 1" ng-click="statFilter( page - 1, 'tutor_apply_list' );" aria-label="Previous">
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == 1" >
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
		      </a>
		    </li>
		    <li ng-repeat="pg in pgGroup" ng-class="{ 'active' : pg == page }">
		    	<a ng-click="statFilter(pg, 'tutor_apply_list')">[[ pg ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : page == last_page }">
		      <a ng-click="statFilter( page + 1, 'tutor_apply_list')" aria-label="Next" ng-if="page != last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
	</div>
	
	<div id="Tutor Modification" class="tabcontent">
		<table style="width:100%">
			<tr>
			  <th>User ID</th>
			  <th>email</th> 
			  <th>Username</th>
			</tr>
		  	
			<tr class="div-list" ng-repeat="tl in TLs">
					<td ng-click="getTutorDetail(tl.user_id)">[[tl.user_id]]</td>
					<td ng-click="getTutorDetail(tl.user_id)">[[tl.email]]</td>
					<td ng-click="getTutorDetail(tl.user_id)">[[tl.name]]</td>
					
			</tr>

		</table>
	  	<div class="page-bottom" ng-if="pgGroup.length != 1">
		<nav>
		  <ul class="pagination tab" orientation="horizontal">
		    <li ng-class="{ 'disabled' : page == 1 }">
		      <a ng-if="page != 1" ng-click="statFilter( page - 1, 'tutor_modify_list' );" aria-label="Previous">
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == 1" >
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
		      </a>
		    </li>
		    <li ng-repeat="pg in pgGroup" ng-class="{ 'active' : pg == page }">
		    	<a ng-click="statFilter(pg, 'tutor_modify_list')">[[ pg ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : page == last_page }">
		      <a ng-click="statFilter( page + 1, 'tutor_modify_list')" aria-label="Next" ng-if="page != last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
	</div>
	
	<div id="Lesson Claim" class="tabcontent">
		<table style="width:100%">
			<tr>
			  <th>Reservation ID</th>
			  <th>tutor_id</th> 
			  <th>tutee_id</th>
			  <th>강의명(course)</th>
			</tr>
		  	
			<tr class="div-list" ng-repeat="tl in TLs">
				<td ng-click="getClaimDetail(tl.reservation_id)">[[tl.reservation_id]]</td>
				<td ng-click="getClaimDetail(tl.reservation_id)">[[tl.tutor]]</td>
				<td ng-click="getClaimDetail(tl.reservation_id)">[[tl.tutee]]</td>
				<td ng-click="getClaimDetail(tl.reservation_id)">[[tl.course]]</td>	
			</tr>

		</table>
	  	<div class="page-bottom" ng-if="pgGroup.length != 1">
		<nav>
		  <ul class="pagination tab" orientation="horizontal">
		    <li ng-class="{ 'disabled' : page == 1 }">
		      <a ng-if="page != 1" ng-click="statFilter( page - 1 , 'lesson_claim_list');" aria-label="Previous">
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == 1" >
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
		      </a>
		    </li>
		    <li ng-repeat="pg in pgGroup" ng-class="{ 'active' : pg == page }">
		    	<a ng-click="statFilter(pg, 'lesson_claim_list')">[[ pg ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : page == last_page }">
		      <a ng-click="statFilter( page + 1, 'lesson_claim_list')" aria-label="Next" ng-if="page != last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
	</div>
	
	<div id="Post Claim" class="tabcontent">
		<table style="width:100%">
			<tr>
			  <th>게시물 ID</th>
			  <th>종류</th> 
			  <th>제목</th>
			</tr>
		  	
			<tr class="div-list" ng-repeat="tl in TLs">
				<td ng-click="getPostDetail(tl.post_id, tl.post_type)">[[tl.post_id]]</td>
				<td ng-click="getPostDetail(tl.post_id, tl.post_type)">[[tl.post_type]]</td>
				<td ng-click="getPostDetail(tl.post_id, tl.post_type)">[[tl.post_title]]</td>
			</tr>

		</table>
	  	<div class="page-bottom" ng-if="pgGroup.length != 1">
		<nav>
		  <ul class="pagination tab" orientation="horizontal">
		    <li ng-class="{ 'disabled' : page == 1 }">
		      <a ng-if="page != 1" ng-click="statFilter( page - 1, 'post_claim_list' );" aria-label="Previous">
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == 1" >
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
		      </a>
		    </li>
		    <li ng-repeat="pg in pgGroup" ng-class="{ 'active' : pg == page }">
		    	<a ng-click="statFilter(pg, 'post_claim_list')">[[ pg ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : page == last_page }">
		      <a ng-click="statFilter( page + 1, 'post_claim_list')" aria-label="Next" ng-if="page != last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
	</div>
	
	<div id="Transaction Claim" class="tabcontent">
		<table style="width:100%">
			<tr>
			  <th>payment ID</th>
			  <th>Description</th> 
			  <th>How much</th>
			  <th>from(Username)</th>
			  <th>to(Username)</th>
			</tr>
		  	
			<tr class="div-list" ng-repeat="tl in TLs">
				<td>[[tl.payment_id]]</td>
				<td>[[tl.description]]</td>
				<td>[[tl.amount]]</td>
				<td>[[tl.from]]</td>
				<td>[[tl.to]]</td>
			</tr>

		</table>
	  	<div class="page-bottom" ng-if="pgGroup.length != 1">
		<nav>
		  <ul class="pagination tab" orientation="horizontal">
		    <li ng-class="{ 'disabled' : page == 1 }">
		      <a ng-if="page != 1" ng-click="statFilter( page - 1, 'transaction_list' );" aria-label="Previous">
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == 1" >
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
		      </a>
		    </li>
		    <li ng-repeat="pg in pgGroup" ng-class="{ 'active' : pg == page }">
		    	<a ng-click="statFilter(pg, 'transaction_list')">[[ pg ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : page == last_page }">
		      <a ng-click="statFilter( page + 1, 'transaction_list')" aria-label="Next" ng-if="page != last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
	</div>

	<div id="Help Claim" class="tabcontent">
		<table style="width:100%">
			<tr>
			  <th>Question ID</th>
			  <th>사용자명(Username)</th> 
			  <th>Title</th>
			</tr>

			<tr class="div-list" ng-repeat="tl in TLs">
				<td ng-click="getHelpDetail(tl.qid)">[[tl.qid]]</td>
				<td ng-click="getHelpDetail(tl.qid)">[[tl.username]]</td>
				<td ng-click="getHelpDetail(tl.qid)">[[tl.title]]</td>
			</tr>

		</table>
	  	<div class="page-bottom" ng-if="pgGroup.length != 1">
		<nav>
		  <ul class="pagination tab" orientation="horizontal">
		    <li ng-class="{ 'disabled' : page == 1 }">
		      <a ng-if="page != 1" ng-click="statFilter( page - 1, 'help_list' );" aria-label="Previous">
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == 1" >
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
		      </a>
		    </li>
		    <li ng-repeat="pg in pgGroup" ng-class="{ 'active' : pg == page }">
		    	<a ng-click="statFilter(pg, 'help_list')">[[ pg ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : page == last_page }">
		      <a ng-click="statFilter( page + 1, 'help_list')" aria-label="Next" ng-if="page != last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
	</div>

	<div id="paypal_withraw" class="tabcontent">
		<table style="width:100%">
			<tr>
			  <th>User ID</th>
			  <th>Payment ID</th>
			  <th>withdrawal_pending</th>
			  <th>available_balance</th>
			  <th>pending_balance</th>
			  <th>total_balance</th>
			</tr>
		  	
			<tr class="div-list" ng-repeat="tw in TLs" ng-click="setWithraw(tw.user, tw.withdrawal_pending);">
				<td>[[tw.user]]</td>
				<td>[[tw.payment]]</td>
				<td>[[tw.withdrawal_pending]]</td>
				<td>[[tw.available_balance]]</td>
				<td>[[tw.pending_balance]]</td>
				<td>[[tw.total_balance]]</td>
			</tr>
		</table>
	  	<div class="page-bottom" ng-if="pgGroup.length != 1">
			<nav>
			  <ul class="pagination tab" orientation="horizontal">
			    <li ng-class="{ 'disabled' : page == 1 }">
			      <a ng-if="page != 1" ng-click="statFilter( page - 1, 'tutor_withraw_list' );" aria-label="Previous">
			      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
			      </a>
			      <a ng-if="page == 1" >
			      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
			      </a>
			    </li>
			    <li ng-repeat="pg in pgGroup" ng-class="{ 'active' : pg == page }">
			    	<a ng-click="statFilter(pg, 'tutor_withraw_list')">[[ pg ]]</a>
			    </li>
			    <li ng-class="{ 'disabled' : page == last_page }">
			      <a ng-click="statFilter( page + 1, 'tutor_withraw_list')" aria-label="Next" ng-if="page != last_page">
			        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
			      </a>
			      <a ng-if="page == last_page">
			        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
	</div>
	
	<div id="User Violation" class="tabcontent">
		<table style="width:100%">
			<tr>
			  <th>User ID</th>
			  <th>사용 계정 (이메일 주소)</th> 
			  <th>사용자명 (Username)</th>
			</tr>
		  	
			<tr class="div-list" ng-repeat="tl in TLs">
				<td ng-click="getViolationDetail(tl.user_id)">[[tl.user_id]]</td>
				<td ng-click="getViolationDetail(tl.user_id)">[[tl.email]]</td>
				<td ng-click="getViolationDetail(tl.user_id)">[[tl.name]]</td>
			</tr>

		</table>
	  	<div class="page-bottom" ng-if="pgGroup.length != 1">
		<nav>
		  <ul class="pagination tab" orientation="horizontal">
		    <li ng-class="{ 'disabled' : page == 1 }">
		      <a ng-if="page != 1" ng-click="statFilter( page - 1, 'user_violation' );" aria-label="Previous">
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == 1" >
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
		      </a>
		    </li>
		    <li ng-repeat="pg in pgGroup" ng-class="{ 'active' : pg == page }">
		    	<a ng-click="statFilter(pg, 'user_violation')">[[ pg ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : page == last_page }">
		      <a ng-click="statFilter( page + 1, 'user_violation')" aria-label="Next" ng-if="page != last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="page == last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
	</div>
	
	
	<div id="Testtab" class="tabcontent">
	  <h3>Test tab</h3>
	  <p>The tab is currently under development.</p>
	</div>
</div>
	
{% endblock %}