{% extends "tellpin_admin/tellpin_admin.html" %} 
{% load i18n %}
<meta charset="UTF-8">
{% load staticfiles %}
{% block content %}
<script src="{% static 'js/tellpin_admin/tellpin_admin.js' %}"></script>
<script src="{% static 'js/tellpin_admin/help_detail.js' %}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<link rel="shortcut icon" href="{% static 'img/tellpin_com_favicon.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tellpin_admin/post_detail.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" id="medium-editor-theme"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/community/languageboard_detail.css' %}" />

<!-- input[type="file"] style  -->
<link rel="stylesheet" type="text/css" href="{% static 'css/input-file.css' %}" />
<script type="text/javascript" src="{% static 'js/input-file.js' %}"></script>
<style>
.container{
	width: 1024px !important;
	padding: 0;
	padding-top:56px !important;
}
.menu, .content{
	color: black !important;
	float: left;
}
.menu{
	width: 180px;
}
.content{
	background: white;
	width: 824px;
	font-size: 13px;
	padding: 0 20px;
	margin-left: 20px;
	pointer-events: none
}
.div-menu {
	width: 180px !important;
}
.profile-template{
	background: none !important;
}
.title {
    font-size: 20px;
    color: #F47F51;
    margin-bottom: 20px;
}
/*Message*/
.message-btn {
	width: 100% !important;
}
#messageModal textarea {
	resize: none;
}
.details-message-content {
	border: 1px solid rgb( 169, 169, 169 );
	min-height: 200px;
	min-height: 290px !important;
	max-height: 770px !important;
	overflow-y: auto;
	overflow-x: hidden;
}
.left-arrow_box {
	position: relative;
	/* background: rgb( 133, 239, 198); 
	border: 4px solid rgb( 133, 239, 198);*/
	background: #ccf2ff;
	border-color: #ccf2ff;
	margin-right: 8px;
}
.left-arrow_box:after, .left-arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.left-arrow_box:after {
	border-color: rgba(133, 239, 198, 0);
	/* border-left-color: rgb( 133, 239, 198); */
	border-left-color: #ccf2ff;
	/* border-color: #ccf2ff;
	border-left-color: #ccf2ff; */
	border-width: 5px;
	margin-top: -5px;
}
.left-arrow_box:before {
	border-color: rgba(133, 239, 198, 0);
	/* border-left-color: rgb( 133, 239, 198); */
	border-left-color: #ccf2ff;
	/* border-color: #ccf2ff;
	border-left-color: #ccf2ff; */
	border-width: 8px;
	margin-top: -8px;
}
.right-arrow_box, .left-arrow_box {
	border-radius: 10px;
	display: inline-block;
	max-width: 200px;
	padding: 0 8px 0 8px;
}
.right-arrow_box {
	position: relative;
	/* background: rgb( 183, 237, 253 );
	border: 4px solid rgb( 183, 237, 253 ); */
	background: #e9e9e9;
	border: 4px solid #e9e9e9;
	margin-left: 8px;
}
.right-arrow_box:after, .right-arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.right-arrow_box:after {
	border-color: rgba(183, 237, 253, 0);
	/* border-right-color: rgb( 183, 237, 253 ); */
	border-right-color: #e9e9e9;
	border-width: 5px;
	margin-top: -5px;
}
.right-arrow_box:before {
	border-color: rgba(183, 237, 253, 0);
/* 	border-right-color: rgb( 183, 237, 253 ); */
	border-right-color: #e9e9e9;
	border-width: 8px;
	margin-top: -8px;
}
.message-time {
	display: inline-block;
	font-size: 12px;
	background-color: rgb( 240, 240, 240 );
	margin-left: -4px;
	margin-right: -4px;
	padding: 0px 4px 0px 4px;
	border-radius: 5px;
}
.message-row-left {
	text-align: right;
	margin-bottom: 10px;
}
.message-row-right {
	text-align: left;
	margin-bottom: 10px;
}

#friendModal .message-modal {
	top: 100px;
}
.messageValid {
	color: red;
	font-size: 12px;
}
.message-day {
	text-align: center;
}
.day-line {
	margin-top: -10px;
	border-top: 1px solid #e7e7e7;
}
.day-content {
	background-color: #fff;
	padding: 0px 10px 0px 10px;
}
.any-problem{
	margin-left: 380px;
	width:120px;
	color: #00b5cb;
	font-size: 14px;
	cursor: pointer;
}
.profile-img{
	width: 65px;
	height: 65px;
	border-radius: 15px;
}

.div-profile-content{
	float: left;
	height: 80px;
	border-left: 1px solid;
	margin-left: 10px;
	padding-left: 10px;
}
.no-padding-bottom{
	padding-bottom: 0px;
}
.no-padding-top{
	padding-top: 0px;
}

.lesson-msg {
    word-break: break-all;
}

.course {
	float: left;
}

.course-img {
	float: right;
	cursor: pointer;
	border-left: 1px solid #afafaf;
	padding-left: 10px;
	margin-bottom: 3px;
}
</style>

<div class="container" ng-controller="helpController" ng-init="initHelpData({{help_id}});">
	<div class="cd-title-row">
	Question from [[from]]
	</div>
	<div class="cd-title-row">
	Question about [[about]]
	</div>
	<div class="cd-title-row">
	Title: [[title]]
	</div>
	<div class="cd-title-row">
	Description: [[description]]
	</div>
	<div class="content-area">
		<div class="qd-imgfile" ng-if="fid != null">
			<img ng-src="/static/img/upload/[[filename]]">
		</div>
	</div>
	<div class="content-area">Answer</div>
	<form id="Answers">
		<input type="text" name="answer" value="Type your answer here"
			onblur="if (this.value == '') {this.value = 'Type your answer here';}"
			onfocus="if (this.value == 'Type your answer here') {this.value = '';}" />
		<input type="submit" value="Answer" ng-click="submitAnswer(qid)">
	</form>

</div>
{% endblock %}