<!DOCTYPE html>
<html class="fsvs">
<head>
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>{% trans "Home" %} | {% trans "Tellpin" %}</title>
{% load staticfiles %}
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fsvs.js' %}"></script>
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}" />
<!-- link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bundle.css' %}" /-->
<link rel="stylesheet" type="text/css" href="{% static 'css/landingpage/landingpage.css' %}" />
<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="{% static 'css/landingpage/magnific-popup.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" id="medium-editor-theme"/>
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<!-- Magnific Popup core JS file -->
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<script lang="javascript">
/*
$(document).ready( function() {
	var slider = $.fn.fsvs({
		speed : 500, 
		autoPlay : false, 
		bodyID : 'fsvs-body', 
		selector : '> .slide', 
		mouseSwipeDisance : 40, 
		afterSlide : function(){}, 
		beforeSlide : function(){}, 
		endSlide : function(){}, 
		mouseWheelEvents : true, 
		mouseWheelDelay : false, 
		scrollabelArea : 'scrollable', 
		mouseDragEvents : true,
		touchEvents : true, 
		arrowKeyEvents : true, 
		pagination : true, 
		nthClasses : false, 
		detectHash : true 
	}); 
	
 });  
*/
 $(document).ready(function(){
		
		//var rand = Math.floor((Math.random() * 3) +1 );
		//$(".landingpage").attr('background-image', '../../static/img/landingpage/bg_00'+rand+'.png');
		$(".landingpage").css("background-image", "url('/static/img/landingpage/bg_sign_in.png')");
		
	    /* $(document).magnificPopup({
			  type: 'ajax',
			  closeOnContentClick: false,
			  closeOnBgClick: false,
			  showCloseBtn: true,
			  callbacks: {
				  open: function(){
					  console.log('open test');
					  console.log('123');
					  console.log('open test2');
				  },
				  close: function(){

					  console.log('close test');
				  }
			  }
		});  */
	    
		var name = "{{user}}";
	    
		console.log(name);
		
		if ( "{{user}}" != "AnonymousUser" ){
			console.log('exist');
			//window.location.replace("/user_auth/logout/");
			//console.log('exist');
			
		}else{
			
			//console.log('not exist');
		}
		
		$(".input-search").focus(function(){
			$(".subnav").css("visibility", "visible");
		});
		
		$("#fsvs-body").click(function(evt){	
			$(".subnav").css("visibility", "hidden");
		});
		$("#left-select").click(function(evt){	
			$(".subnav").css("visibility", "hidden");
		});
		var msg = "{{message}}";
		if( msg ){
			$(".div-msg").css("display", "block");
		}else{
			$(".div-msg").css("display", "none");
		}
		console.log(msg);
		
		$("#id_email").focus();
	});

//회원가입 팝업 - 삭제 (페이지 이동으로 대체)
function open_pop(){
	$.magnificPopup.open({
		  type: 'ajax',
		  items:{
			  src:'user_auth/signup_form/'  
		  },
		  closeOnContentClick: false,
		  closeOnBgClick: false,
		  showCloseBtn: false,
		  callbacks: {
			  open: function(){
				  //console.log('open test');
				  //console.log('123');
				  //console.log('open test2');
			  },
			  close: function(){
	
				  //console.log('close test');
			  }
		  }
	});
}
function ajax_login(){
	
	var email = $("#id_email").val();
	var pwd=$('#id_pwd').val();

	if(email.length < 1){
		alert('You entered an invalid email or password.');
		return false;
	}
	
	var url=location.href;
	var passurl= url.split("/", 3);
	passurl = passurl[0]+"//"+passurl[2] + "/admin/ajax_login/";
	var postData = {
			'email' : email,
			'pwd' : pwd,
			
	}

	$("#tutor-schedule-template").css("display", "block");
	var res = false;
	$.ajax({
		type : "POST",
		url : passurl,
		data : postData,
		async: false,
		success : function(response) {
			console.log(response);
			var result=JSON.parse(response);
			if(result.success){
				console.log('success');
				$("#error_msg").html("");
				$(".div-msg").css("display", "none");
				console.log(result.message)
				res = true;
			}else{
				console.log('fail');
				$("#error_msg").text(result.message);
				$(".div-msg").css("display", "block");
				console.log(result.message)
				res =  false;
				$("#tutor-schedule-template").css("display", "none");
			}
		},error:function(request,status,error){
			console.log('error', status, error);
			$("#error_msg").text(status, error);
			$(".div-msg").css("display", "block");
			console.log(request +', '+status+', '+error);
			res =  false;
			console.log('test');
		}
	});
	console.log(res);
	return res;
}



</script>
</head>
<body>
<div id="tutor-schedule-template">
		<img src="{% static 'img/ajax_loading.gif' %}">
</div>
<div class="div-header">
	
</div>
<div class="div-header-mobile">
	
</div>
<div id="fsvs-body">
	<div class="slide">
		<div class="landingpage">
				<div class="div-center">
					<div class="div-logo">
						<a href="/"><img src="{% static 'img/mainpage/logo_tellpin_sign_in.png' %}"></a>
					</div>
					<div style="border-top: 1px solid #00b5cb; width: 250px; margin: auto; margin-top:20px;">
					</div>
					
					<div class="div-form">
					<form class="login" action="/admin/admin_home/" method="post" onsubmit="return ajax_login();">{% csrf_token %}
						{{ form.email }}
						{{ form.pwd }}
						<div class="div-msg"><span id="error_msg">{{message}}</span></div>
						<button type="submit" class="btn-login">{% trans "Sign in" %}</button>
					</form>
					</div>
					
				</div>
		</div>
		<!-- mobile -->
		<div class="landingpage-mobile">
			<div class="div-mobile-center">
				<div class="div-logo">
					<a href="#"><img src="{% static 'img/landingpage/mobile/logo_tellpin.png' %}"></a>
				</div>
			</div>
			<div class="div-mobile-bottom-text">
				{% blocktrans %}
				<div class="mobile-title">
					Foreign Language?
				</div>
				<div class="mobile-content">
					Learn from a Native speaker
				</div>
				<div class="mobile-content">
					any time and at any place.
				</div>{% endblocktrans %}
			</div>
			<div class="div-mobile-bottom">
				<div class="div-mobile-button">
						<a href="/user_auth/login_page/" class="btn mobile-start-now">{% trans "Start now" %}</a>
				</div>
			</div>
		</div>
	</div>
    <div class="slide slide-1"></div>
    <div class="slide slide-2"></div>
    <div class="slide slide-3"></div>
	<div class="slide slide-4"></div>
	<div class="slide slide-5"></div>
</div>
</body>
</html>