{% extends "tellpin_admin/tellpin_admin.html" %} 
{% load i18n %}
<meta charset="UTF-8">
{% load staticfiles %}
{% block content %}
<script src="{% static 'js/tellpin_admin/tellpin_admin.js' %}"></script>
<script src="{% static 'js/tellpin_admin/post_claim_detail.js' %}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<link rel="shortcut icon" href="{% static 'img/tellpin_com_favicon.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tellpin_admin/post_detail.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" id="medium-editor-theme"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/community/languageboard_detail.css' %}" />

<!-- input[type="file"] style  -->
<link rel="stylesheet" type="text/css" href="{% static 'css/input-file.css' %}" />
<script type="text/javascript" src="{% static 'js/input-file.js' %}"></script>
<style>
.container{
	width: 1024px !important;
	padding: 0;
	padding-top:56px !important;
}
.menu, .content{
	color: black !important;
	float: left;
}
.menu{
	width: 180px;
}
.content{
	background: white;
	width: 824px;
	font-size: 13px;
	padding: 0 20px;
	margin-left: 20px;
	pointer-events: none
}
.div-menu {
	width: 180px !important;
}
.profile-template{
	background: none !important;
}
.title {
    font-size: 20px;
    color: #F47F51;
    margin-bottom: 20px;
}
/*Message*/
.message-btn {
	width: 100% !important;
}
#messageModal textarea {
	resize: none;
}
.details-message-content {
	border: 1px solid rgb( 169, 169, 169 );
	min-height: 200px;
	min-height: 290px !important;
	max-height: 770px !important;
	overflow-y: auto;
	overflow-x: hidden;
}
.left-arrow_box {
	position: relative;
	/* background: rgb( 133, 239, 198); 
	border: 4px solid rgb( 133, 239, 198);*/
	background: #ccf2ff;
	border-color: #ccf2ff;
	margin-right: 8px;
}
.left-arrow_box:after, .left-arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.left-arrow_box:after {
	border-color: rgba(133, 239, 198, 0);
	/* border-left-color: rgb( 133, 239, 198); */
	border-left-color: #ccf2ff;
	/* border-color: #ccf2ff;
	border-left-color: #ccf2ff; */
	border-width: 5px;
	margin-top: -5px;
}
.left-arrow_box:before {
	border-color: rgba(133, 239, 198, 0);
	/* border-left-color: rgb( 133, 239, 198); */
	border-left-color: #ccf2ff;
	/* border-color: #ccf2ff;
	border-left-color: #ccf2ff; */
	border-width: 8px;
	margin-top: -8px;
}
.right-arrow_box, .left-arrow_box {
	border-radius: 10px;
	display: inline-block;
	max-width: 200px;
	padding: 0 8px 0 8px;
}
.right-arrow_box {
	position: relative;
	/* background: rgb( 183, 237, 253 );
	border: 4px solid rgb( 183, 237, 253 ); */
	background: #e9e9e9;
	border: 4px solid #e9e9e9;
	margin-left: 8px;
}
.right-arrow_box:after, .right-arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.right-arrow_box:after {
	border-color: rgba(183, 237, 253, 0);
	/* border-right-color: rgb( 183, 237, 253 ); */
	border-right-color: #e9e9e9;
	border-width: 5px;
	margin-top: -5px;
}
.right-arrow_box:before {
	border-color: rgba(183, 237, 253, 0);
/* 	border-right-color: rgb( 183, 237, 253 ); */
	border-right-color: #e9e9e9;
	border-width: 8px;
	margin-top: -8px;
}
.message-time {
	display: inline-block;
	font-size: 12px;
	background-color: rgb( 240, 240, 240 );
	margin-left: -4px;
	margin-right: -4px;
	padding: 0px 4px 0px 4px;
	border-radius: 5px;
}
.message-row-left {
	text-align: right;
	margin-bottom: 10px;
}
.message-row-right {
	text-align: left;
	margin-bottom: 10px;
}

#friendModal .message-modal {
	top: 100px;
}
.messageValid {
	color: red;
	font-size: 12px;
}
.message-day {
	text-align: center;
}
.day-line {
	margin-top: -10px;
	border-top: 1px solid #e7e7e7;
}
.day-content {
	background-color: #fff;
	padding: 0px 10px 0px 10px;
}
.any-problem{
	margin-left: 380px;
	width:120px;
	color: #00b5cb;
	font-size: 14px;
	cursor: pointer;
}
.profile-img{
	width: 65px;
	height: 65px;
	border-radius: 15px;
}

.div-profile-content{
	float: left;
	height: 80px;
	border-left: 1px solid;
	margin-left: 10px;
	padding-left: 10px;
}
.no-padding-bottom{
	padding-bottom: 0px;
}
.no-padding-top{
	padding-top: 0px;
}

.lesson-msg {
    word-break: break-all;
}

.course {
	float: left;
}

.course-img {
	float: right;
	cursor: pointer;
	border-left: 1px solid #afafaf;
	padding-left: 10px;
	margin-bottom: 3px;
}
</style>

<div class="container" ng-controller="postClaimController"
	ng-init="initPostData({{type_id}}, {{post_id}});">
	{% if type_id == "1" %}
	<div class="cd-title-row">
	Flag from [[violation.user]]
	</div>
	<div class="cd-title-row">
	Description: [[violation.contents]]
	</div>
	<div class="cd-title-row">
		<div class="cd-title">[[ post.title ]]</div>
		{% if request.session.email %} {% endif %}
		<div class="cd-lang-info"
			ng-show="post.learning_lang != post.explained_lang">[[
			languageInfo[post.learning_lang-1].lang_english ]] &nbsp;explained
			in&nbsp; [[ languageInfo[post.explained_lang - 1].lang_english ]]</div>
		<div class="cd-lang-info"
			ng-show="post.learning_lang == post.explained_lang">[[
			languageInfo[post.learning_lang-1].lang_english ]]</div>
		<div class="cd-time">[[ post.updated_time | displayTime:browser
			]]</div>
	</div>
	<div class="cd-detail-content"
		ng-bind-html="trustAsHtml(post.contents)"></div>
		<div ng-click="removelb(post.id)">Delete Post</div>
	<div class="cd-writer-info">
		<div class="cd-user-info">
			<div class="cd-user-name">
				[[ post.writer_info.name]] <img class="nation-border"
					ng-if="nationsInfo[post.writer_info.from_country_id-1].flag_filename"
					ng-src="/static/img/nations/[[ nationsInfo[post.writer_info.from_country_id-1].flag_filename ]]">
			</div>
			<div class="card-action-row">
				{% if request.session.email %}
				<div class="cd-card-flag"
					ng-show="userInfo.user != post.writer_info.user">
					<img src="{% static 'img/community/icon_warning.png' %}" />{%
					trans "Flag" %}
				</div>
				{% endif %}
			</div>
			<div class="cd-count-row">
				{% if request.session.email %}
				<div class="cd-view-count">[[ post.views ]] [[ !(post.views ==
					'0' || post.views == '1') ? 'Views' : 'View']]</div>
				<div class="cd-comment-count">[[ commentCount ]] [[
					!(commentCount == '0' || commentCount == '1') ? 'Comments' :
					'Comment']]</div>
				
				{% else %}
				<div class="cd-view-count">[[ post.views ]] [[ !(post.views ==
					'0' || post.views == '1') ? 'Views' : 'View']]</div>
				<div class="cd-comment-count">[[ commentCount ]] [[
					!(commentCount == '0' || commentCount == '1') ? 'Comments' :
					'Comment']]</div>
				{% endif %}
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="cd-comment-row">
		<div class="cd-comment" ng-repeat="comment in post.comments">
			<div class="cd-comment-main">
				<div class="cd-comment-info">
					<div class="cd-comment-header">
						<div class="cd-comment-username">[[ comment.writer_info.name
							]]</div>
						<div class="cd-comment-time">[[ comment.created_time |
							displayTime:browser ]]</div>
					</div>
					<div class="cd-comment-content"
						ng-class="comment.contents == '!delete!' ? 'deleted-comment' : '' ">[[
						comment.contents == '!delete!' ? ' This comment was deleted by
						writer.' : comment.contents ]]</div>
					<!-- button for deleting -->
					<div ng-click="deleteLBComment(post.user, comment.id)">
						Delete
					</div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="cd-sub-comment-textarea"
				ng-show="subCommentTextarea[$index]">
				<textarea class="sub-comment-textarea-[[$index]]"
					ng-model="lbSubComment[$index]" maxlength="2000"
					ng-maxlength="2000" cols="100" rows="4"></textarea>
				<div class="cd-comment-wordcount">[[ lbSubComment[$index] ==
					null ? 0 : lbSubComment[$index].length ]]/2000&nbsp;&nbsp;</div>
				<div class="cd-comment-btnrow">
					<div class="tellpin-grey-flat-button cd-comment-cancel"
						ng-click="hideSubCommentTextarea($index)">{% trans "Cancel"
						%}</div>
				</div>
			</div>
		</div>
		
	</div>
	{% elif type_id == "2" %}
	<div class="cd-title-row">
	Flag from [[violation.user]]
	</div>
	<div class="cd-title-row">
	Description: [[violation.contents]]
	</div>
	<div class="qd-main-question">
		<div class="qd-top-row">
		
		</div>
	</div>
	<div class="qd-main-question">
		<div class="qd-top-row">
			<div
				ng-class="questionInfo.question.best_answer_id == null ? 'qd-point' : 'qd-point-adopt-best' "
				id="id-point">[[ questionInfo.question.best_answer_credit ]]</div>

			<div class="qd-right-bt">
				
				<div class="qd-del-bt tellpin-grey-flat-button" 
				ng-click="deleteQuestionLQ(questionInfo.question.id, questionInfo.question.best_answer_credit)">Delete</div>
			</div>
		</div>

		<div class="qd-content-row">
			<div class="qd-content-box">
				<div class="qd-content-left">
					
					<div class="user-area">
						<div
							ng-class="questionInfo.writer_info.name.length > 10 ? 'qd-user-name-multiline' : 'qd-user-name'">[[
							questionInfo.writer_info.name ]]</div>
						<div
							ng-class="questionInfo.writer_info.name.length > 10 ? 'qd-user-country-multiline' : 'qd-user-country'">
							<img class="nation-border"
								ng-if="countryInfo[questionInfo.writer_info.from_country_id-1].flag_filename"
								ng-src="/static/img/nations/[[ nationsInfo[questionInfo.writer_info.from_country_id-1].flag_filename ]]">
						</div>
					</div>
				</div>

				<div class="qd-content-right">
					<div class="title-area">
						<div class="qd-title">[[ questionInfo.question.title ]]</div>
						<div class="qd-date">[[ questionInfo.question.created_time |
							displayTime:browser ]]</div>
					</div>
					<div class="content-area">
						<div class="qd-imgfile" ng-if="questionInfo.question.fid != null">
							<img
								ng-src="/static/img/upload/[[ questionInfo.question.filename ]]">
						</div>
						<div class="qd-content"
							ng-bind-html="trustAsHtml(questionInfo.question.contents)"></div>
					</div>


					<div class="qd-question-info">
						<div class="qd-question-info-left">
							<div class="qd-question-info-count">
								<div class="qd-answer-count" ng-click="showData()">[[
									questionInfo.answers.length ]] [[ !(questionInfo.answers.length
									== '0' || questionInfo.answers.length == '1') ? 'Answers' :
									'Answer']] · [[ questionInfo.question.view_count ]] [[
									!(questionInfo.question.view_count == '0' ||
									questionInfo.question.view_count == '1') ? 'Views' : 'View']]</div>
								{% if request.session.email %}
								<div class="qd-comment-count"
									ng-click="questionInfo.question.comments.length > 0 ? showQueComments() : '' "
									ng-class="[questionInfo.question.comments.length > 0 ? 'enable-show' : '' , questionInfo.question.comments.length > 0 && queComments ? 'showing' : '' ]">[[
									commentCount ]] [[ !(commentCount == '0' || commentCount ==
									'1') ? 'Comments' : 'Comment']]</div>
								
								{% else %}
								<div class="qd-comment-count"
									ng-click="questionInfo.question.comments.length > 0 ? showQueComments() : '' "
									ng-class="[questionInfo.question.comments.length > 0 ? 'enable-show' : '' , questionInfo.question.comments.length > 0 && queComments ? 'showing' : '' ]">[[
									commentCount ]] [[ !(commentCount == '0' || commentCount ==
									'1') ? 'Comments' : 'Comment']]</div>
								{% endif %}
							</div>
						</div>

						
					</div>

					<!-- hide comments -->
					<div class="qd-comments" ng-show="queComments">
						<div class="qd-comment-box"
							ng-repeat="comment in questionInfo.question.comments">
							<div class="qd-comment-writer-photo pop-wrap"
								ng-mouseenter="userPopover( $event, comment.writer_info.user, 'right' )"
								ng-mouseleave="hidePopover()">
							</div>
							<div class="qd-comment-info">
								<div class="qd-comment-writer-info">
									<div class="qd-comment-wirter-name">[[
										comment.writer_info.name ]]</div>
									<div class="qd-comment-date">[[ comment.created_time |
										displayTime:browser ]]</div>

								</div>
								<div class="qd-comment-content"
									ng-class="comment.contents == '!delete!' ? 'deleted-comment' : '' ">[[
									comment.contents == '!delete!' ? 'Deleted comment' : comment.contents ]]</div>
								
							</div>
							<div class="qd-right-bt tellpin-grey-flat-button" ng-click="deleteQuestionLQComment(questionInfo.question.comments[$index].user, comment.id)">Delete</div>
							<div class="clear"></div>
						</div>
					</div>
					
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<!-- Answer -->
	<div id="qd-answer"
		ng-show="questionInfo.answers.length > 0 || answerEditor">
		<div class="qd-answer-head-title">{%trans "Answer" %}</div>
		<div class="answer-content-row"
			ng-repeat="answer in questionInfo.answers"
			ng-class=" answer.id == questionInfo.question.best_answer_id ? 'best-answer' : '' ">
			<div class="qd-answer-content"
				ng-bind-html="trustAsHtml(answer.contents)"></div>
			<div class="qd-del-bt tellpin-grey-flat-button"
					ng-click="deleteLQAnswer(questionInfo.question.user, answer.user, questionInfo.question.id, answer.id)">Delete</div>
			<div class="qd-content-box">
				<div class="qd-writer-photo pop-wrap"
					ng-mouseenter="userPopover( $event, answer.writer_info.user, 'right' )"
					ng-mouseleave="hidePopover()">
					<a href="/user/[[ answer.writer_info.user ]]"><img
						ng-src="/static/img/upload/profile/[[ answer.writer_info.photo_filename ]]"
						onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;"
						class="qd-writer-img"></a>
				</div>
				<div class="qd-user-info">
					<img class="best-answer-stamp"
						ng-if="answer.id == questionInfo.question.best_answer_id"
						src="{% static 'img/community/icon_best.png' %}">
					<div class="qd-user-name-answer">[[ answer.writer_info.name
						]]</div>
					<div class="qd-user-country-answer">
						<img class="nation-border"
							ng-if="nationsInfo[answer.writer_info.from_field-1].image"
							ng-src="/static/img/nations/[[ nationsInfo[answer.writer_info.from_field-1].image ]]">
					</div>
					<div class="qd-write-dispalytime">[[ answer.created_time |
						displayTime:browser ]]</div>

				</div>
				<div class="qd-question-info">
					{% if request.session.email %}
					<div class="qd-question-info-right"
						ng-if="questionInfo.question.best_answer_id == null && questionInfo.question.user == userInfo.user">
						<div class="qd-btnset">
							<div class="qd-btn-row">
								<div class="qd-write-answer-btn tellpin-flat-button"
									ng-click="adoptAnswer(questionInfo.question.id, answer.id, questionInfo.question.best_answer_credit)">{%
									trans "Choose as best answer" %}</div>
							</div>
						</div>
					</div>
					{% endif %}
				</div>

				<div class="qd-comment-row">
					<div class="qd-comment-head">
						{% if request.session.email %}
						<div class="qd-comment-count"
							ng-click="answer.comments.length > 0 ? showAnswerComments($index) : '' "
							ng-class="answer.comments.length > 0 ? 'enable-show' : '' "
							ng-init="answer.commentCount = getAnswerCommentCount($index)">[[
							answer.commentCount ]] [[!(answer.commentCount == '0' ||
							answer.commentCount == '1') ? 'Comments' : 'Comment']]</div>

						{% else %}
						<div class="qd-comment-count"
							ng-click="answer.comments.length > 0 ? showAnswerComments($index) : '' "
							ng-class="answer.comments.length > 0 ? 'enable-show' : '' "
							ng-init="answer.commentCount = getAnswerCommentCount($index)">[[
							answer.commentCount ]] [[!(answer.commentCount == '0' ||
							answer.commentCount == '1') ? 'Comments' : 'Comment']]</div>
						{% endif %}
					</div>

					<div class="qd-comments" ng-init="answerComments[$index] = false; currentAnswerIndex = $index"
						ng-show="answerComments[$index]">
						<div class="qd-comment-box" ng-repeat="comment in answer.comments">
							<div class="qd-comment-info">
								<div class="qd-comment-writer-info">
									<div class="qd-comment-wirter-name">[[
										comment.writer_info.name ]]</div>
									<div class="qd-comment-date">[[ comment.created_time |
										displayTime:browser ]]</div>
								</div>
								<div class="qd-comment-content"
									ng-class="comment.contents == '!delete!' ? 'deleted-comment' : '' ">[[
									comment.contents == '!delete!' ? 'Deleted Comment' : comment.contents ]]</div>
								<div class="qd-right-bt tellpin-grey-flat-button" ng-click="deleteAnswerLQComment(currentAnswerIndex, $index, comment.user, comment.id)">Delete</div>
							</div>

							<div class="clear"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	{% elif type_id == "3" %}
	<div class="cd-title-row">
	Flag from [[violation.user]]
	</div>
	<div class="cd-title-row">
	Description: [[violation.contents]]
	</div>
	<div class="qd-main-question">
		
		<div class="qd-top-row">
			<div
				ng-class="questionInfo.question.best_answer_id == null ? 'qd-point' : 'qd-point-adopt-best' "
				id="id-point">[[ questionInfo.question.best_answer_credit ]]</div>

			<div class="qd-right-bt">
				
				<div class="qd-del-bt tellpin-grey-flat-button"
					ng-click="deleteQuestionTP(questionInfo.question.id, questionInfo.question.best_answer_credit)">Delete</div>
			</div>
		</div>

		<div class="qd-content-row">
			<div class="qd-content-box">
				<div class="qd-content-left">
					<div class="pop-wrap"
						ng-mouseenter="userPopover( $event, questionInfo.writer_info.user, 'right' )"
						ng-mouseleave="hidePopover()">
						<a href="/user/[[ questionInfo.writer_info.user ]]"><img
							ng-src="/static/img/upload/profile/[[ questionInfo.writer_info.photo_filename ]]"
							onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;"
							class="qd-img"></a>
					</div>
					<div class="user-area"
						ng-click="goURL([[ '/user/'+ questionInfo.writer_info.user + '/' ]])">
						<div
							ng-class="questionInfo.writer_info.name.length > 10 ? 'qd-user-name-multiline' : 'qd-user-name'">[[
							questionInfo.writer_info.name ]]</div>
						<div
							ng-class="questionInfo.writer_info.name.length > 10 ? 'qd-user-country-multiline' : 'qd-user-country'">
							<img class="nation-border"
								ng-if="nationsInfo[questionInfo.writer_info.from_country_id-1].flag_filename"
								ng-src="/static/img/nations/[[ nationsInfo[questionInfo.writer_info.from_country_id-1].flag_filename ]]">
						</div>
					</div>
				</div>

				<div class="qd-content-right">
					<div class="title-area">
						<div class="qd-title">[[ questionInfo.question.title ]]</div>
						<div class="qd-date">[[ questionInfo.question.created_time |
							displayTime:browser ]]</div>
					</div>
					<div class="content-area">
						<div class="qd-imgfile" ng-if="questionInfo.question.fid != null">
							<img
								ng-src="/static/img/upload/[[ questionInfo.question.filename ]]">
						</div>
						<div class="qd-content"
							ng-bind-html="trustAsHtml(questionInfo.question.contents)"></div>
					</div>

					<div class="qd-question-info">
						
						
						{% if request.session.email %}
						
						{% endif %}
						<!-- **	share menu -->
						
					</div>

					<div class="qd-question-info">
						<div class="qd-question-info-left">
							<div class="qd-question-info-count">
								<div class="qd-answer-count" ng-click="showData()">[[
									questionInfo.answers.length ]] [[ !(questionInfo.answers.length
									== '0' || questionInfo.answers.length == '1') ? 'Answers' :
									'Answer']] · [[ questionInfo.question.view_count ]] [[
									!(questionInfo.question.view_count == '0' ||
									questionInfo.question.view_count == '1') ? 'Views' : 'View']]</div>
								{% if request.session.email %}
								<div class="qd-comment-count"
									ng-click="questionInfo.question.comments.length > 0 ? showQueComments() : '' "
									ng-class="[questionInfo.question.comments.length > 0 ? 'enable-show' : '' , questionInfo.question.comments.length > 0 && queComments ? 'showing' : '' ]">[[
									commentCount ]] [[ !(commentCount == '0' || commentCount ==
									'1') ? 'Comments' : 'Comment']]</div>
								
								{% else %}
								<div class="qd-comment-count"
									ng-click="questionInfo.question.comments.length > 0 ? showQueComments() : '' "
									ng-class="[questionInfo.question.comments.length > 0 ? 'enable-show' : '' , questionInfo.question.comments.length > 0 && queComments ? 'showing' : '' ]">[[
									commentCount ]] [[ !(commentCount == '0' || commentCount ==
									'1') ? 'Comments' : 'Comment']]</div>
								{% endif %}
							</div>
						</div>

					</div>

					<!-- hide comments -->
					<div class="qd-comments" ng-show="queComments">
						<div class="qd-comment-box"
							ng-repeat="comment in questionInfo.question.comments">
							<div class="qd-comment-writer-photo pop-wrap"
								ng-mouseenter="userPopover( $event, comment.writer_info.user, 'right' )"
								ng-mouseleave="hidePopover()">
							</div>
							<div class="qd-comment-info">
								<div class="qd-comment-writer-info">
									<div class="qd-comment-wirter-name">[[
										comment.writer_info.name ]]</div>
									<div class="qd-comment-date">[[ comment.created_time |
										displayTime:browser ]]</div>
									
								</div>
								<div class="qd-comment-content"
									ng-class="comment.contents == '!delete!' ? 'deleted-comment' : '' ">[[
									comment.contents == '!delete!' ? 'Deleted comment' : comment.contents ]]</div>
								<div class="qd-del-bt tellpin-grey-flat-button" ng-click="deleteQuestionTPComment(questionInfo.question.comments[$index].user, comment.id)">Delete</div>
							</div>
							
							<div class="clear"></div>
						</div>
					</div>
					<div class="qd-comment-input" ng-show="commntTextarea">
						<textarea class="qd-comment-textarea" ng-model="commentContent"
							maxlength="2000" ng-maxlength="2000" cols="100" rows="4"></textarea>
						<div class="qd-comment-wordcount">[[ commentContent ?
							commentContent.length : '0' ]]/2000 &nbsp;&nbsp;</div>
						
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<!-- Answer -->
	<div class="request-answer"
		ng-if="questionInfo.answers.length == 0 && !answerEditor">
		<div>{% trans "Be the first to write an Answer!" %}</div>
	</div>
	<div id="qd-answer"
		ng-show="questionInfo.answers.length > 0 || answerEditor">
		<div class="qd-answer-head-title">{% trans "Answer" %}</div>
		<!-- Answer Editor -->
		<div id="qd-answer-editor" ng-show="answerEditor">
			<textarea ng-model="answerContent" type="text" class="form-control"
				id="answer_editor" name="content" placeholder="input content"></textarea>
		</div>

		<div class="answer-content-row"
			ng-repeat="answer in questionInfo.answers"
			ng-class=" answer.id == questionInfo.question.best_answer_id ? 'best-answer' : '' ">
			<div class="qd-answer-content"
				ng-bind-html="trustAsHtml(answer.contents)"></div>
			<div class="qd-del-bt tellpin-grey-flat-button"
					ng-click="deleteTPAnswer(questionInfo.question.user, answer.user, questionInfo.question.id, answer.id)">Delete</div>
			<div class="qd-content-box">
				<div class="qd-writer-photo pop-wrap"
					ng-mouseenter="userPopover( $event, answer.writer_info.user, 'right' )"
					ng-mouseleave="hidePopover()">
					<a href="/user/[[ answer.writer_info.user ]]"><img
						ng-src="/static/img/upload/profile/[[ answer.writer_info.photo_filename ]]"
						onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;"
						class="qd-writer-img"></a>
				</div>
				<div class="qd-user-info">
					<img class="best-answer-stamp"
						ng-if="answer.id == questionInfo.question.best_answer_id"
						src="{% static 'img/community/icon_best.png' %}">
					<div class="qd-user-name-answer">[[ answer.writer_info.name
						]]</div>
					<div class="qd-user-country-answer">
						<img class="nation-border"
							ng-if="nationsInfo[answer.writer_info.from_field-1].image"
							ng-src="/static/img/nations/[[ nationsInfo[answer.writer_info.from_field-1].image ]]">
					</div>
					<div class="qd-write-dispalytime">[[ answer.created_time |
						displayTime:browser ]]</div>
					
				</div>
				<div class="qd-comment-row">
					<div class="qd-comment-head">
						{% if request.session.email %}
						<div class="qd-comment-count"
							ng-click="answer.comments.length > 0 ? showAnswerComments($index) : '' "
							ng-class="answer.comments.length > 0 ? 'enable-show' : '' "
							ng-init="answer.commentCount = getAnswerCommentCount($index)">[[
							answer.commentCount ]] [[!(answer.commentCount == '0' ||
							answer.commentCount == '1') ? 'Comments' : 'Comment']]</div>
						
						{% else %}
						<div class="qd-comment-count"
							ng-click="answer.comments.length > 0 ? showAnswerComments($index) : '' "
							ng-class="answer.comments.length > 0 ? 'enable-show' : '' "
							ng-init="answer.commentCount = getAnswerCommentCount($index)">[[
							answer.commentCount ]] [[!(answer.commentCount == '0' ||
							answer.commentCount == '1') ? 'Comments' : 'Comment']]</div>
						{% endif %}
					</div>

					<div class="qd-comments" ng-init="answerComments[$index] = false; currentAnswerIndex = $index"
						ng-show="answerComments[$index]">
						<div class="qd-comment-box" ng-repeat="comment in answer.comments">
							<div class="qd-comment-writer-photo pop-wrap"
								ng-mouseenter="userPopover( $event, comment.writer_info.user, 'right' )"
								ng-mouseleave="hidePopover()">
								<a href="/user/[[ comment.writer_info.user ]]"><img
									ng-src="/static/img/upload/profile/[[ comment.writer_info.photo_filename ]]"
									onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;"
									class="qd-comment-img"></a>
							</div>
							<div class="qd-comment-info">
								<div class="qd-comment-writer-info">
									<div class="qd-comment-wirter-name">[[
										comment.writer_info.name ]]</div>
									<div class="qd-comment-date">[[ comment.created_time |
										displayTime:browser ]]</div>
								</div>
								<div class="qd-comment-content"
									ng-class="comment.contents == '!delete!' ? 'deleted-comment' : '' ">[[
									comment.contents == '!delete!' ? 'Deleted comment' : comment.contents ]]</div>
								<div class="qd-right-bt tellpin-grey-flat-button" ng-click="deleteAnswerTPComment(currentAnswerIndex, $index, comment.user, comment.id)">Delete</div>
							</div>
							
							<div class="clear"></div>
						</div>
					</div>
					<div class="qd-comment-input"
						ng-show="answerCommntTextarea[$index]">
						<textarea class="qd-comment-textarea"
							ng-model="answerCommentContent[$index]" maxlength="2000"
							ng-maxlength="2000" cols="100" rows="4"></textarea>
						<div class="qd-comment-wordcount">[[
							answerCommentContent[$index] ?
							answerCommentContent[$index].length : '0' ]]/2000 &nbsp;&nbsp;</div>
						<div class="qd-comment-input-btnset">
							<div class="qd-comment-cancel tellpin-grey-flat-button"
								ng-click="hideAnswerCommentTextarea($index)">{% trans
								"Cancel" %}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 	report-popup -->
	<div class="report-popup-backdrop" ng-if="reportPopup"
		ng-click="hideReportPopup()"></div>
	<div id="report-popup" ng-show="reportPopup">
		<div class="report-head">{% trans "Report a Violation" %}</div>
		<div class="qd-report-cancel" ng-click="hideReportPopup()">X</div>
		<div class="report-desc">
			If you see something on Tellpin that you believe violates our Terms
			and <a>Tellpin Community Guidelines,</a><br> please report it to
			us. We promise you to take appropriate measures immediately.<br>
			<br> Violations include :<br> 1) Privacy violation <br>
			2) Harassment <br> 3) Impersonation <br> 4) Spam <br>
			5) Malicious speech <br> 6) Posting Sexually explicit content,
			Shocking or disgusting content <br> 7) Unlawful uses or content
			(phishing, fraud, threats, copyright or trademark infringement, etc.)
			<br> 8) Intellectual property violations <br> and more. <br>
			<br> <br> Please describe in detail :<br> <br>
			<div class="report-input">
				<textarea class="report-textarea" ng-model="reportContent"
					maxlength="2000" ng-maxlength="2000" cols="62" rows="4"></textarea>
			</div>
			<div class="report-under-line"></div>
			<div class="report-footer">{% trans "Report a Problem or
				Mistake" %}</div>

			<div class="report-btnset">
				<div class="qd-report-submit  tellpin-flat-button"
					ng-click="queReport(questionInfo.question.id)">{% trans
					"Submit" %}</div>
			</div>
		</div>
	</div>
	<!-- report popup answer -->
	<div class="report-popup-backdrop" ng-if="reportAnswerPopup"
		ng-click="hideReportAnswerPopup()"></div>
	<div id="report-popup-answer" ng-show="reportAnswerPopup">
		<div class="report-head">{% trans "Report a Violation" %}</div>
		<div class="qd-report-cancel" ng-click="hideReportAnswerPopup()">X</div>

	</div>

	{% endif %}
</div>

{% endblock %}