{% load i18n %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% load staticfiles %}
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sanitize.js' %}"></script>
<script src="{% static 'js/angularjs/angular-clipboard.js' %}"></script>
<script src="{% static 'js/writing/medium-editor.js' %}"></script>
<script src="{% static 'js/angularjs/angular-medium-editor.js' %}"></script>
<script src="{% static 'js/angularjs/ng-infinite-scroll.min.js' %}"></script>
<script type="text/javascript" src="/static/js/tellpin_admin/tellpin_admin.js"></script>
<body ng-app="tellpinAdminApp">
{% block content %}
{% endblock %}
</body>
</html>