{% extends "tellpin_admin/tellpin_admin.html" %} 
{% load i18n %} 
{% load staticfiles %} 
{% block content %}
<script src="{% static 'js/tellpin_admin/tellpin_admin.js' %}"></script>
<script src="{% static 'js/tellpin_admin/tutor_app_detail.js' %}"></script>
<style>
.container {
	width: 1024px !important;
	padding: 0;
	padding-top: 56px !important;
}

.menu, .content {
	color: black !important;
	float: left;
}

.menu {
	width: 180px;
}

.content {
	background: white;
	width: 824px;
	font-size: 13px;
	padding: 0 20px;
	margin-left: 20px;
	pointer-events: none
}

.div-menu {
	width: 180px !important;
}

.profile-template {
	background: none !important;
}

.title {
	font-size: 20px;
	color: #F47F51;
	margin-bottom: 20px;
}
</style>
<div class="container" ng-controller="profileController"
	ng-init="initProfileData({{tutor_id}});">

	<div class="content">
		<div class="profile-part">
			<div class="title">{% trans "Basic information" %}</div>
			<div class="profile-row">
				<div class="profile-label" ng-click="showData()">{% trans "Profile Photo" %}*</div>
				<div class="profile-photo-content">
					<div class="profile-photo" ng-click="clickChangePhoto()">
						<img class="img-profile-photo"
							ng-src="[[ profile.photo_filepath + '/' ]][[ profile.photo_filename ]]"
							onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
					</div>
					<div class="edit-profile-photo" ng-click="clickChangePhoto()">
						<img ng-src="/static/img/user_auth/icon_edit_photo.png">
					</div>
					<div class="clear"></div>
					<input type="file" id="profile-photo"
						ng-model="profile.photo_filename"
						onchange="angular.element(this).scope().submitProfilePhoto(this.files)" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="profile-row">
				<div class="profile-label">{% trans "Full Name" %}*</div>
				<div class="profile-content">
					<input class="form-control profile-name-input" id="name"
						type="text" placeholder="Name" ng-model="profile.name"
						ng-click="hideTooltip('profile-name-tooltip')"> <img
						class="name-info-img" ng-src="{% static 'img/icon_info.png' %}"
						ng-click="clickNameInfoPopup();">
				</div>
				<div class="clear"></div>
			</div>

			<div class="profile-row">
				<div class="profile-label">{% trans "Gender" %}*</div>
				<div class="profile-content">
					<select class="form-control profile-gender-select"
						ng-model="profile.gender"
						ng-options="genderList.indexOf(gender) as gender for gender in genderList">
					</select>
				</div>
				<div class="clear"></div>
			</div>

			<div class="profile-row">
				<div class="profile-label">{% trans "Birthdate" %}*</div>
				<div class="profile-content">
					<select class="form-control profile-year-select"
						ng-model="profile.birthdate.year" ng-change="setDateList()"
						ng-options="year for year in yearList"
						ng-click="hideTooltip('profile-year-tooltip')">
						<option value="">{% trans "Year" %}</option>
					</select> <select class="form-control profile-month-select"
						ng-model="profile.birthdate.month" ng-change="setDateList()"
						ng-options="month for month in monthList"
						ng-click="hideTooltip('profile-month-tooltip')">
						<option value="">{% trans "Month" %}</option>
					</select> <select class="form-control profile-day-select"
						ng-model="profile.birthdate.day"
						ng-options="date for date in dateList"
						ng-click="hideTooltip('profile-day-tooltip')">
						<option value="">{% trans "Day" %}</option>
					</select>
				</div>
				<div class="clear"></div>
			</div>

			<div class="profile-row">
				<div class="profile-label">{% trans "From" context "nation+city" %}*</div>
				<div class="profile-content">
					<select class="form-control profile-from-select"
						ng-change="getCityInfo(profile.from_country_id, 'from')"
						ng-model="profile.from_country_id"
						ng-options="nation.id as nation.country for nation in nationsInfo">
					</select> <select class="form-control profile-from-select"
						ng-model="profile.from_city_id"
						ng-options="city.id as city.city for city in fromCity">
					</select> <img ng-if="profile.from_country_id"
						class="nations-image nation-border"
						ng-src="/static/img/nations/[[ nationsInfo[profile.from_country_id].flag_filename ]]"
						onerror="hideNationImage()">
				</div>
				<div class="clear"></div>
			</div>
			<div class="profile-row">
				<div class="profile-label">{% trans "Living in" context "nation+city" %}*</div>
				<div class="profile-content">
					<select class="form-control profile-country-select"
						ng-model="profile.livingin_country_id"
						ng-change="getCityInfo(profile.livingin_country_id, 'livingin')"
						ng-options="nation.id as nation.country for nation in nationsInfo">
					</select> <select class="form-control profile-city-select"
						ng-model="profile.livingin_city_id"
						ng-options="city.id as city.city for city in livinginCity">
					</select>
				</div>
				<div class="clear"></div>
			</div>
			<div class="profile-row">
				<div class="profile-label">{% trans "Current Time" %}</div>
				<div class="profile-content">
					<div class="profile-display-time">[[ currentTime ]]</div>
					<div
						class="tellpin-flat-button change-timezone-button h24 bg-lblue f-gray-33"
						ng-click="timezoneSelected = 1" ng-hide="timezoneSelected == 1">{% trans "Change Time Zone" %}</div>
					<select class="form-control profile-timezone-select"
						ng-blur="timezoneSelected = 0" ng-show="timezoneSelected == 1"
						ng-change="changeTimezone()" ng-model="profile.timezone_id"
						ng-options="timezone.id as timezone.utc_location for timezone in timezoneInfo">
						<option value="">{% trans "Select Timezone" %}</option>
					</select>
				</div>
				<div class="clear"></div>
			</div>

			<div class="profile-row">
				<div class="profile-label">{% trans "Currency" %}*</div>
				<div class="profile-content">
					<select class="form-control profile-currency-select"
						ng-model="profile.currency_id"
						ng-options="currency.id as currency.code for currency in currencyInfo">
					</select>
				</div>
				<div class="clear"></div>
			</div>

			<div class="profile-row">
				<div class="profile-label">{% trans "Language" %}</div>
				<div class="profile-content">
					<select class="form-control profile-gender-select"
						ng-model="profile.display_language"
						ng-options="languageList.indexOf(lang) as lang for lang in languageList">
					</select>
				</div>
				<div class="clear"></div>
			</div>

			<div class="profile-button-row">
				<div class="tellpin-flat-button save-button h26 bg-blue f13"
					ng-click="saveProfile()">{% trans "Save" %}</div>
			</div>
		</div>
		<div class="profile-part">
			<div class="title" style="float: left;">{% trans "Language Proficiency" %}</div>
			<div class="profile-pending-tag h26"
				ng-if="profile.lang_modify != null">{% trans "Pending Approval" %}</div>
			<div class="clear"></div>
			<!-- 
			<div class="profile-row">
				<div class="profile-label">Native Language*</div>

				<div class="profile-content profile-native1-select">
					<select id="native1" class="form-control language-select" ng-model="profile.native"
						ng-options="language.id as language.lang_english for language in languageInfo"
						chosen multiple="multiple" data-placeholder="Select Native language" ng-change="showNative()">
					</select>		
				</div>

				<div class="clear"></div>
			</div>
								 -->
			<div class="profile-row">
				<div class="profile-label">{% trans "Native Language" %}*</div>
				<div class="profile-content">
					<div class="profile-select-row">
						<div class="additional-row">
							<select class="form-control language-select"
								ng-model="profile.native1_id"
								ng-click="getOldLanguage('native1_id')"
								ng-change="changeLanguge('native1_id')"
								ng-options="language.id as language.lang_english for language in languageInfo">
								<!-- 									<option value="" selected="selected" disabled="disabled">Select language</option> -->
							</select>
						</div>
						<div class="profile-row-add" ng-show="profile.native2_id == null">
							<a ng-click="addNativeLanguage(2)">{% trans "+ Add" %}</a>
						</div>
					</div>
					<div class="profile-select-row" ng-if="profile.native2_id != null">
						<div class="additional-row">
							<div>
								<select class="form-control language-select" id="native2"
									ng-model="profile.native2_id"
									ng-click="getOldLanguage('native2_id')"
									ng-change="changeLanguge('native2_id')"
									ng-options="language.id as language.lang_english for language in languageInfo">
									<!-- 										<option value="" selected="selected" disabled="disabled">Select language</option> -->
								</select>
							</div>
							<div class="delete-language-button">
								<img src="{% static 'img/tutor/button_cancel.png' %}"
									ng-click="deleteNativeLanguage(2)">
							</div>
						</div>
						<div class="clear"></div>
						<div class="profile-row-add" ng-show="profile.native3_id == null">
							<a ng-click="addNativeLanguage(3)">{% trans "+ Add" %}</a>
						</div>
					</div>
					<div class="profile-select-row" ng-if="profile.native3_id != null">
						<div class="additional-row">
							<div>
								<select class="form-control language-select"
									ng-model="profile.native3_id"
									ng-click="getOldLanguage('native3_id')"
									ng-change="changeLanguge('native3_id')"
									ng-options="language.id as language.lang_english for language in languageInfo">
									<!-- 										<option value="" selected="selected" disabled="disabled">Select language</option> -->
								</select>
							</div>
							<div class="delete-language-button">
								<img src="{% static 'img/tutor/button_cancel.png' %}"
									ng-click="deleteNativeLanguage(3)">
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="profile-row">
				<div class="profile-label">{% trans "Language(s) I learn or speak" %} *</div>
				<div class="profile-content">
					<div class="profile-select-row">
						<div class="additional-row">
							<div class="personal-row-select-level profile-learning1-select">
								<select class="form-control language-select"
									ng-model="profile.lang1_id"
									ng-change="changeLanguge('lang1_id')"
									ng-click="getOldLanguage('lang1_id')"
									ng-options="language.id as language.lang_english for language in languageInfo"></select>
							</div>
							<div class="personal-row-select-level">
								<select class="form-control level-select"
									ng-model="profile.lang1_level"
									ng-change="addTeachingLanguage()"
									ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
							</div>
							<div class="">
								<input type="checkbox" class="personal-learning-checkbox"
									id="learning1_check" ng-model="profile.lang1_learning"
									ng-click="">
							</div>
						</div>
						<div class="add-button" ng-show="profile.lang2_id == null">
							<a href="" ng-click="addLearningLanguage(2)">{% trans "+ Add" %}</a>
						</div>
					</div>
					<div class="profile-select-row" ng-if="profile.lang2_id != null">
						<div class="additional-row">
							<div class="personal-row-select-level">
								<select class="form-control language-select"
									ng-model="profile.lang2_id"
									ng-change="changeLanguge('lang2_id')"
									ng-click="getOldLanguage('lang2_id')"
									ng-options="language.id as language.lang_english for language in languageInfo"></select>
							</div>
							<div class="personal-row-select-level">
								<select class="form-control level-select"
									ng-model="profile.lang2_level"
									ng-change="addTeachingLanguage()"
									ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
							</div>
							<div class="delete-language-button">
								<img src="{% static 'img/tutor/button_cancel.png' %}"
									ng-click="deleteLanguage(2)">
							</div>
							<div class="">
								<input type="checkbox" class="personal-learning-checkbox"
									id="learning2_check" ng-model="profile.lang2_learning"
									ng-click="">
							</div>
						</div>
						<div class="add-button" ng-show="profile.lang3_id == null">
							<a href="" ng-click="addLearningLanguage(3)">{% trans "+ Add" %}</a>
						</div>
					</div>
					<div class="profile-select-row" ng-if="profile.lang3_id != null">
						<div class="additional-row">
							<div class="personal-row-select-level">
								<select class="form-control language-select"
									ng-model="profile.lang3_id"
									ng-change="changeLanguge('lang3_id')"
									ng-click="getOldLanguage('lang3_id')"
									ng-options="language.id as language.lang_english for language in languageInfo"></select>
							</div>
							<div class="personal-row-select-level">
								<select class="form-control level-select"
									ng-model="profile.lang3_level"
									ng-change="addTeachingLanguage()"
									ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
							</div>
							<div class="delete-language-button">
								<img src="{% static 'img/tutor/button_cancel.png' %}"
									ng-click="deleteLanguage(3)">
							</div>
							<div class="">
								<input type="checkbox" class="personal-learning-checkbox"
									id="learning3_check" ng-model="profile.lang3_learning"
									ng-click="">
							</div>
							<div class="add-button" ng-show="profile.lang4_id == null">
								<a href="" ng-click="addLearningLanguage(4)">{% trans "+ Add" %}</a>
							</div>
						</div>
					</div>
					<div class="profile-select-row" ng-if="profile.lang4_id != null">
						<div class="additional-row">
							<div class="personal-row-select-level">
								<select class="form-control language-select"
									ng-model="profile.lang4_id"
									ng-change="changeLanguge('lang4_id')"
									ng-click="getOldLanguage('lang4_id')"
									ng-options="language.id as language.lang_english for language in languageInfo"></select>
							</div>
							<div class="personal-row-select-level">
								<select class="form-control level-select"
									ng-model="profile.lang4_level"
									ng-change="addTeachingLanguage()"
									ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
							</div>
							<div class="delete-language-button">
								<img src="{% static 'img/tutor/button_cancel.png' %}"
									ng-click="deleteLanguage(4)">
							</div>
							<div class="">
								<input type="checkbox" class="personal-learning-checkbox"
									id="learning4_check" ng-model="profile.lang4_learning"
									ng-click="">
							</div>
						</div>
						<div class="add-button" ng-show="profile.lang5_id == null">
							<a href="" ng-click="addLearningLanguage(5)">{% trans "+ Add" %}</a>
						</div>
					</div>
					<div class="profile-select-row" ng-if="profile.lang5_id != null">
						<div class="additional-row">
							<div class="personal-row-select-level">
								<select class="form-control language-select"
									ng-model="profile.lang5_id"
									ng-change="changeLanguge('lang5_id')"
									ng-click="getOldLanguage('lang5_id')"
									ng-options="language.id as language.lang_english for language in languageInfo"></select>
							</div>
							<div class="personal-row-select-level">
								<select class="form-control level-select"
									ng-model="profile.lang5_level"
									ng-change="addTeachingLanguage()"
									ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
							</div>
							<div class="delete-language-button">
								<img src="{% static 'img/tutor/button_cancel.png' %}"
									ng-click="deleteLanguage(5)">
							</div>
							<div class="">
								<input type="checkbox" class="personal-learning-checkbox"
									id="learning5_check" ng-model="profile.lang5_learning"
									ng-click="">
							</div>
						</div>
						<div class="add-button" ng-show="profile.lang6_id == null">
							<a href="" ng-click="addLearningLanguage(6)">{% trans "+ Add" %}</a>
						</div>
					</div>
					<div class="profile-select-row" ng-if="profile.lang6_id != null">
						<div class="additional-row">
							<div class="personal-row-select-level">
								<select class="form-control language-select"
									ng-model="profile.lang6_id"
									ng-change="changeLanguge('lang6_id')"
									ng-click="getOldLanguage('lang6_id')"
									ng-options="language.id as language.lang_english for language in languageInfo"></select>
							</div>
							<div class="personal-row-select-level">
								<select class="form-control level-select"
									ng-model="profile.lang6_level"
									ng-change="addTeachingLanguage()"
									ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
							</div>
							<div class="delete-language-button">
								<img src="{% static 'img/tutor/button_cancel.png' %}"
									ng-click="deleteLanguage(6)">
							</div>
							<div class="">
								<input type="checkbox" class="personal-learning-checkbox"
									id="learning6_check" ng-model="profile.lang6_learning"
									ng-click="">
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="personal-row">
				<div class="profile-label">
					{% blocktrans %}Teaching<br>Language{% endblocktrans %}
				</div>
				<div class="personal-teach-list">
					<div ng-repeat="teach in teachable"
						ng-class=" teach.state == 1 ? 'selected-tag' : 'teach-tag' "
						ng-click="selectTeachingLanguage($index)">[[ teach.lang_english ]]</div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="profile-button-row">
				<div class="tellpin-flat-button save-button h26 bg-blue f13"
					ng-if="profile.lang_modify == null" ng-click="pendingLanguage()">{% trans "Save" %}</div>
				<div class="pending-save-button h26 bg-gray f13"
					ng-if="profile.lang_modify != null">{% trans "Save" %}</div>
			</div>
		</div>
		<div class="profile-part">
			<div class="title">{% trans "Introduction at User Profile" %}</div>
			<div class="profile-row">
				<div class="profile-label-content">
					<div class="profile-label-resume">{% trans "Short Introduction" %}</div>
				</div>
				<div class="profile-text-content">
					<textarea id="short-introduction" class="userprofile-short-intro"
						kr-input name="profile_quick_intro"
						ng-model="profile.user_shortIntro" ng-trim="false" maxlength="250"
						ng-maxlength="250" cols="70" rows="6"
						ng-focus="hideTooltip( 'profile-short-tooltip' )"></textarea>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="profile-quick-intro-size">[[profile.user_shortIntro.length]]/250</div>
				<div class="clear"></div>
			</div>
			<div class="profile-row">
				<div class="profile-label-content">
					<div class="profile-label-resume">{% trans "Long Introduction" %}</div>
				</div>
				<div class="profile-text-content">
					<textarea id="long-introduction" class="userprofile-long-intro"
						kr-input name="profile_long_intro"
						ng-model="profile.user_longIntro" ng-trim="false" maxlength="2000"
						ng-maxlength="2000" cols="70" rows="15"
						ng-focus="hideTooltip( 'profile-long-tooltip' )"></textarea>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="profile-long-intro-size">[[profile.user_longIntro.length]]/2000</div>
				<div class="clear"></div>
			</div>
			<div class="profile-button-row">
				<div class="tellpin-flat-button save-button h26 bg-blue f13"
					ng-click="saveUserIntro()">{% trans "Save" %}</div>
			</div>
		</div>

		<div class="profile-part">
			<div class="title" style="float: left;">{% trans "Introduction at Tutor Profile" %}</div>
			<div class="profile-pending-tag h26"
				ng-if="profile.intro_modify != null">{% trans "Pending Approval" %}</div>
			<div class="clear"></div>
			<div class="profile-row">
				<div class="profile-label-resume">{% trans "Video Introduction" %}*</div>
				<div class="profile-text-content">
					<textarea id="video-introduction" class="profile-video-intro"
						name="profile_video_intro" ng-model="profile.video_intro"
						max_length="1000" ng-maxlength="1000" cols="70" rows="2"
						ng-focus="hideTooltip( 'profile-short-tooltip' )"></textarea>
				</div>
				<div class="clear"></div>
			</div>

			<div class="profile-row">
				<div class="profile-label-content">
					<div class="profile-label-resume">{% trans "Short Introduction" %}*</div>
				</div>
				<div class="profile-text-content">
					<textarea id="short-introduction" class="profile-short-intro"
						kr-input name="profile_quick_intro" ng-model="profile.short_intro"
						ng-trim="false" maxlength="250" ng-maxlength="250" cols="70"
						rows="6" ng-focus="hideTooltip( 'profile-short-tooltip' )"></textarea>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="profile-quick-intro-size">[[profile.short_intro.length]]/250</div>
				<div class="clear"></div>
			</div>
			<div class="profile-row">
				<div class="profile-label-content">
					<div class="profile-label-resume">{% trans "Long Introduction" %}*</div>
				</div>
				<div class="profile-text-content">
					<textarea id="long-introduction" class="profile-long-intro"
						kr-input name="profile_long_intro" ng-model="profile.long_intro"
						ng-trim="false" maxlength="2500" ng-maxlength="2500" cols="70"
						rows="15" ng-focus="hideTooltip( 'profile-long-tooltip' )"></textarea>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="profile-long-intro-size">[[profile.long_intro.length]]/2500</div>
				<div class="clear"></div>
			</div>
			<div class="profile-button-row">
				<div class="tellpin-flat-button save-button h26 bg-blue f13"
					ng-if="profile.intro_modify == null" ng-click="pendingTutorIntro()">{% trans "Save" %}</div>
				<div class="pending-save-button h26 bg-gray f13"
					ng-if="profile.intro_modify != null">{% trans "Save" %}</div>
			</div>
		</div>

		<form id="profile-form" role="form" name="profile">
			<div class="profile-part">
				<div class="profile-pending-tag h26"
					ng-if="profile.resume_modify != null">{% trans "Pending Approval" %}</div>
				<div class="clear"></div>
				<div class="work-exp-row">
					<div class="resume_label">{% trans "1. Work Experience" %}</div>
					<div class="work-exp-content">
						<div class="add-btn" ng-show="formdata.work1.info == false"
							ng-click="openWorkModal('work1')">{% trans "+ Add" %}</div>
						<div class="work_row pos-container"
							ng-show="formdata.work1.info == true">
							<div class="work_exp_year">
								<span>[[formdata.work1.start_year.val]]</span> - <span>[[formdata.work1.end_year.val]]</span>
								<div class="del_row pos-tool-edit">
									<img ng-click="editResumeData('work1')"
										src="/static/img/community/icon_write.png">
								</div>
								<div class="del_row pos-tool-del ico-x-button"
									ng-click="delResumeData('work', '1')">X</div>
							</div>
							<div class="work_exp_position">
								<span><b>[[formdata.work1.position.val]]</b></span>
							</div>
							<div class="work_exp_info">
								<span>[[formdata.work1.company.val]]</span> <span>[[formdata.work1.city.val]]</span>
								<span>[[formdata.work1.country_name]]</span>
							</div>
							<div class="work_exp_desc">
								<span>[[formdata.work1.description.val]]</span>
							</div>
						</div>
					</div>

					<div class="work-exp-content">
						<div class="add-btn"
							ng-show="formdata.work1.info == true && formdata.work2.info == false"
							ng-click="openWorkModal('work2')">{% trans "+ Add" %}</div>
						<div class="work_row pos-container"
							ng-show="formdata.work2.info == true">
							<div class="work_exp_year">
								<span>[[formdata.work2.start_year.val]]</span> - <span>[[formdata.work2.end_year.val]]</span>
								<div class="del_row pos-tool-edit">
									<img ng-click="editResumeData('work2')"
										src="/static/img/community/icon_write.png">
								</div>
								<div class="del_row pos-tool-del ico-x-button"
									ng-click="delResumeData('work', '2')">X</div>
							</div>
							<div class="work_exp_position">
								<span><b>[[formdata.work2.position.val]]</b></span>
							</div>
							<div class="work_exp_info">
								<span>[[formdata.work2.company.val]]</span> <span>[[formdata.work2.city.val]]</span>
								<span>[[formdata.work2.country_name]]</span>
							</div>
							<div class="work_exp_desc">
								<span>[[formdata.work2.description.val]]</span>
							</div>
						</div>
					</div>

					<div class="work-exp-content">
						<div class="add-btn"
							ng-show="formdata.work1.info == true && formdata.work2.info == true && formdata.work3.info == false"
							ng-click="openWorkModal('work3')">{% trans "+ Add" %}</div>
						<div class="work_row pos-container"
							ng-show="formdata.work3.info == true">
							<div class="work_exp_year">
								<span>[[formdata.work3.start_year.val]]</span> - <span>[[formdata.work3.end_year.val]]</span>
								<div class="del_row pos-tool-edit">
									<img ng-click="editResumeData('work3')"
										src="/static/img/community/icon_write.png">
								</div>
								<div class="del_row pos-tool-del ico-x-button"
									ng-click="delResumeData('work', '3')">X</div>
							</div>
							<div class="work_exp_position">
								<span><b>[[formdata.work3.position.val]]</b></span>
							</div>
							<div class="work_exp_info">
								<span>[[formdata.work3.company.val]]</span> <span>[[formdata.work3.city.val]]</span>
								<span>[[formdata.work3.country_name]]</span>
							</div>
							<div class="work_exp_desc">
								<span>[[formdata.work3.description.val]]</span>
							</div>
						</div>
					</div>
				</div>

				<div class="education">
					<div class="resume_label">{% trans "2. Education" %}</div>
					<div class="education-content">
						<div class="add-btn" ng-show="formdata.education1.info == false"
							ng-click="openEducationModal('education1')">{% trans "+ Add" %}</div>
						<div class="work_row pos-container"
							ng-show="formdata.education1.info == true">
							<div class="education_year">
								<span>[[formdata.education1.start_year.val]]</span> - <span>[[formdata.education1.end_year.val]]</span>
								<div class="del_row pos-tool-edit">
									<img ng-click="editResumeData('education1')"
										src="/static/img/community/icon_write.png">
								</div>
								<div class="del_row pos-tool-del ico-x-button"
									ng-click="delResumeData('education' , '1')">X</div>
							</div>
							<div class="education_school_location">
								<span><b>[[formdata.education1.school.val]]</span> , <span>[[formdata.education1.location_name]]</b></span>
							</div>
							<div class="education_degree_major">
								<span>[[formdata.education1.degree]]</span> <span>[[formdata.education1.major.val]]</span>
							</div>
							<div class="education_desc">
								<span>[[formdata.education1.description.val]]</span>
							</div>
						</div>
					</div>

					<div class="education-content">
						<div class="add-btn"
							ng-show="formdata.education1.info == true && formdata.education2.info == false"
							ng-click="openEducationModal('education2')">{% trans "+ Add" %}</div>
						<div class="work_row pos-container"
							ng-show="formdata.education2.info == true">
							<div class="education_year">
								<span>[[formdata.education2.start_year.val]]</span> - <span>[[formdata.education2.end_year.val]]</span>
								<div class="del_row pos-tool-edit">
									<img ng-click="editResumeData('education2')"
										src="/static/img/community/icon_write.png">
								</div>
								<div class="del_row pos-tool-del ico-x-button"
									ng-click="delResumeData('education', '2')">X</div>
							</div>
							<div class="education_school_location">
								<span><b>[[formdata.education2.school.val]]</span> , <span>[[formdata.education2.location_name]]</b></span>
							</div>
							<div class="education_degree_major">
								<span>[[formdata.education2.degree]]</span> <span>[[formdata.education2.major.val]]</span>
							</div>
							<div class="education_desc">
								<span>[[formdata.education2.description.val]]</span>
							</div>
						</div>
					</div>

					<div class="education-content">
						<div class="add-btn"
							ng-show="formdata.education1.info == true && formdata.education2.info == true && formdata.education3.info == false"
							ng-click="openEducationModal('education3')">{% trans "+ Add" %}</div>
						<div class="work_row pos-container"
							ng-show="formdata.education3.info == true">
							<div class="education_year">
								<span>[[formdata.education3.start_year.val]]</span> - <span>[[fformdata.education3.end_year.val]]</span>
								<div class="del_row pos-tool-edit">
									<img ng-click="editResumeData('education3')"
										src="/static/img/community/icon_write.png">
								</div>
								<div class="del_row pos-tool-del ico-x-button"
									ng-click="delResumeData('education', '3')">X</div>
							</div>
							<div class="education_school_location">
								<span><b>[[formdata.education3.school.val]]</span> , <span>[[formdata.education3.location_name]]</b></span>
							</div>
							<div class="education_degree_major">
								<span>[[formdata.education3.degree]]</span> <span>[[formdata.education3.major.val]]</span>
							</div>
							<div class="education_desc">
								<span>[[formdata.education3.description.val]]</span>
							</div>
						</div>
					</div>
				</div>

				<div class="certificate">
					<div class="resume_label">{% trans "3. Certificate, Language Test" %}</div>
					<div class="certificate-content">
						<div class="add-btn" ng-show="formdata.certificate1.info == false"
							ng-click="openCertificateModal('certificate1')">{% trans "+ Add" %}</div>
						<div class="work_row pos-container"
							ng-show="formdata.certificate1.info == true">
							<div class="certificate_year">
								<span>[[formdata.certificate1.year.val]]</span>
								<div class="del_row pos-tool-edit">
									<img ng-click="editResumeData('certificate1')"
										src="/static/img/community/icon_write.png">
								</div>
								<div class="del_row pos-tool-del ico-x-button"
									ng-click="delResumeData('certificate', '1')">X</div>
							</div>
							<div class="certificate_name">
								<span><b>[[formdata.certificate1.name.val]]</b></span>
							</div>
							<div class="certificate_organization">
								<span>[[formdata.certificate1.organization.val]]</span>
							</div>
							<div class="certificate_desc">
								<span>[[formdata.certificate1.description.val]]</span>
							</div>
						</div>
					</div>

					<div class="certificate-content">
						<div class="add-btn"
							ng-show="formdata.certificate1.info == true && formdata.certificate2.info == false"
							ng-click="openCertificateModal('certificate2')">{% trans "+ Add" %}</div>
						<div class="work_row pos-container"
							ng-show="formdata.certificate2.info == true">
							<div class="certificate_year">
								<span>[[formdata.certificate2.year.val]]</span>
								<div class="del_row pos-tool-edit">
									<img ng-click="editResumeData('certificate2')"
										src="/static/img/community/icon_write.png">
								</div>
								<div class="del_row pos-tool-del ico-x-button"
									ng-click="delResumeData('certificate', '2')">X</div>
							</div>
							<div class="certificate_name">
								<span><b>[[formdata.certificate2.name.val]]</b></span>
							</div>
							<div class="certificate_organization">
								<span>[[formdata.certificate2.organization.val]]</span>
							</div>
							<div class="certificate_desc">
								<span>[[formdata.certificate2.description.val]]</span>
							</div>
						</div>
					</div>

					<div class="certificate-content">
						<div class="add-btn"
							ng-show="formdata.certificate1.info == true && formdata.certificate2.info == true && formdata.certificate3.info == false"
							ng-click="openCertificateModal('certificate3')">{% trans "+ Add" %}</div>
						<div class="work_row pos-container"
							ng-show="formdata.certificate3.info == true">
							<div class="certificate_year">
								<span>[[formdata.certificate3.year.val]]</span>
								<div class="del_row pos-tool-edit">
									<img ng-click="editResumeData('certificate3')"
										src="/static/img/community/icon_write.png">
								</div>
								<div class="del_row pos-tool-del ico-x-button"
									ng-click="delResumeData('certificate', '3')">X</div>
							</div>
							<div class="certificate_name">
								<span><b>[[formdata.certificate3.name.val]]</b></span>
							</div>
							<div class="certificate_organization">
								<span>[[formdata.certificate3.organization.val]]</span>
							</div>
							<div class="certificate_desc">
								<span>[[formdata.certificate3.description.val]]</span>
							</div>
						</div>
					</div>
				</div>

				<div class="clear"></div>
				<div class="profile-button-row">
					<div class="tellpin-flat-button save-button h26 bg-blue f13"
						ng-if="profile.resume_modify == null"
						ng-click="pendingResumeTutor()">{% trans "Save" %}</div>
					<div class="pending-save-button h26 bg-gray f13"
						ng-if="profile.resume_modify != null">{% trans "Save" %}</div>
				</div>
			</div>
		</form>

		<div class="profile-part">
			<div class="title">{% trans "Communication Tool" %}</div>
			<!-- How to lesson Field -->
			<div class="profile-content">
				<!-- 
					<input type="radio"  ng-model="profile.audio_only" value="0">  {% trans "Video Available" %}
					<div class="tools-description"> {% trans "- Many students prefer live video lessons to live audio lessons." %}</div>
					<input type="radio" ng-model="profile.audio_only" value="1">  {% trans "Voice Only" %}
					<div class="tools-description"> {% trans "- Want to turn webcam off during class." %}</div>
-->
			</div>
			<div class="profile-content">
				<div class="profile-select-list">
					<div class="profile-select-row"
						ng-repeat="messenger in profile.tools">
						<div class="profile-select-tools">
							<select class="form-control" ng-model="messenger.name"
								ng-change="checkToolsValidation($index)"
								ng-click="getOldTools($index)">
								<option value="[[ tool.name ]]" ng-repeat="tool in tools"
									ng-selected="messenger.name == tool.name">[[ tool.name ]]</option>
							</select>
						</div>
						<div class="profile-select-tools-info">
							<input type="text" class="form-control"
								ng-model="messenger.account" placeholder="ID" />
						</div>
						<div class="profile-select-delete" ng-show="!$first">
							<img src="{% static 'img/tutor/button_cancel.png' %}"
								ng-click="deleteTools($index)">
						</div>
						<div class="profile-row-add"
							ng-show="$last && $index+2 < tools.length">
							<a href="" ng-click="addTools()">{% trans "+ Add" %}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="profile-button-row">
				<div class="tellpin-flat-button save-button h26 bg-blue f13"
					ng-click="saveTools()">{% trans "Save" %}</div>
			</div>
		</div>
	</div>
	<div class="content" style="pointer-events: auto;">
		<form id="Problems">
			<input type="checkbox" name="problem" value="Photo">사진 문제<br>
			<input type="checkbox" name="problem" value="LangLevel">언어 레벨
			문제<br> <input type="checkbox" name="problem" value="Intro">Introduction
			내용 문제<br> <input type="checkbox" name="problem" value="VidIntro">비디오
			Introduction 문제<br> <input type="checkbox" name="problem"
				value="Resume">Resume 문제<br> <input type="submit"
				value="Approve" ng-click="approveChanges()"> <input
				type="submit" value="Decline" ng-click="declineChanges()">
		</form>
	</div>
</div>

{% endblock %}