{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
{% block title %}{% trans "Edit Profile" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutor/editprofile.css' %}" />
<!-- 
<link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}" />
 -->


<style>

.container{
	width: 1024px;
	padding: 0;
	padding-top:56px !important;
}
.menu, .content{
	color: black !important;
	float: left;
}
.menu{
	width: 180px;
}
.content{
	background: white;
	width: 824px;
	font-size: 13px;
	padding: 0 20px;
	margin-left: 20px;
}
.div-menu {
	width: 180px !important;
}
.profile-template{
	background: none !important;
}
.title {
    font-size: 20px;
    color: #F47F51;
    margin-bottom: 20px;
}

</style>

<div class="">
	<div class="container" ng-controller="editController" ng-init="initProfileData({{data}});">
		<div class="menu">
			{% include 'settings/menu.html' %}
		</div>

		<div class="editprofile-backdrop loading" ng-if="loading"></div>
		<div id="editprofile-template" ng-if="loading">
			<img src="{% static 'img/ajax_loading.gif' %}">
		</div>

		<div class="content">
			<div class="profile-part">
				<div class="title">{% trans "Basic information" %}</div>
				<div class="profile-row">
					<div class="profile-label" ng-click="showData()">{% trans "Profile Photo" %}</div>
					<div class="profile-photo-content">
						<div class="profile-photo" ng-click="clickChangePhoto()">
							<img class="img-profile-photo" ng-src="[[ userprofile.photo_filepath + '/' ]][[ userprofile.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
						</div>
						<div class="edit-profile-photo" ng-click="clickChangePhoto()">
							<img style="width: 24px; height: 28px;" ng-src="/static/img/user_auth/icon_edit_photo.png">
						</div>
						<div class="clear"></div>
						<input type="file" id="profile-photo" ng-model="userprofile.photo_filename" onchange="angular.element(this).scope().submitProfilePhoto(this.files)"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label">{% trans "Full Name" %}*</div>
					<div class="profile-content">
						<input class="form-control profile-name-input" id="name" type="text" placeholder="Name" size="30" kr-input ng-model="userprofile.name" ng-click="hideTooltip('profile-name-tooltip')">
						<img style="width: 20px; height: 24px;" class="name-info-img" ng-src="{% static 'img/icon_info.png' %}" ng-click="clickNameInfoPopup();">
					</div>
					<div class="clear"></div>
				</div>

				<div class="profile-row">
					<div class="profile-label">{% trans "Gender" %}</div>
					<div class="profile-content">
						<select class="form-control profile-gender-select" ng-model="userprofile.gender" ng-options="genderList.indexOf(gender) as gender for gender in genderList">
						</select>
					</div>
					<div class="clear"></div>
				</div>

				<div class="profile-row">
					<div class="profile-label">{% trans "Birthdate" %}</div>
					<div class="profile-content">
						<select class="form-control profile-year-select" ng-model="userprofile.birthdate.year" ng-change="setDateList()" ng-options="year for year in yearList" ng-click="hideTooltip('profile-year-tooltip')">
							<option value="">{% trans "Year" %}</option>
						</select>
						<select class="form-control profile-month-select" ng-model="userprofile.birthdate.month" ng-change="setDateList()" ng-options="month for month in monthList" ng-click="hideTooltip('profile-month-tooltip')">
							<option value="">{% trans "Month" %}</option>
						</select>
						<select class="form-control profile-day-select" ng-model="userprofile.birthdate.day" ng-options="date for date in dateList" ng-click="hideTooltip('profile-day-tooltip')">
							<option value="">{% trans "Day" %}</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="profile-row">
					<div class="profile-label">{% trans "From" context "nation+city" %}</div>
					<div class="profile-content">
						<select class="form-control profile-from-select" ng-change="getCityInfo(userprofile.from_country_id, 'from')" ng-model="userprofile.from_country_id" ng-options="nation.id as nation.country for nation in nationsInfo">
						</select>
						<select class="form-control profile-from-select" ng-model="userprofile.from_city_id" ng-options="city.id as city.city for city in fromCity">
						</select>
						<img ng-if="userprofile.from_country_id" class="nations-image nation-border" ng-src="/static/img/nations/[[ nationsInfo[userprofile.from_country_id].flag_filename ]]" onerror="hideNationImage()">
					</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label">{% trans "Living in" context "nation+city" %}</div>
					<div class="profile-content">
						<select class="form-control profile-country-select" ng-model="userprofile.livingin_country_id" ng-change="getCityInfo(userprofile.livingin_country_id, 'livingin')" ng-options="nation.id as nation.country for nation in nationsInfo">
						</select>
						<select class="form-control profile-city-select"  ng-model="userprofile.livingin_city_id" ng-options="city.id as city.city for city in livinginCity">
						</select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label">{% trans "Current Time" %}</div>
					<div class="profile-content">
						<div class="profile-display-time">[[ currentTime ]]</div>
						<div class="tellpin-flat-button change-timezone-button h24 bg-lblue f-gray-33" ng-click="timezoneSelected = 1" ng-hide="timezoneSelected == 1">Change Time Zone</div>
						<select class="form-control profile-timezone-select" ng-blur="timezoneSelected = 0" ng-show="timezoneSelected == 1" ng-change="changeTimezone()" ng-model="userprofile.timezone_id" ng-options="timezone.id as timezone.utc_location for timezone in timezoneInfo">
							<option value="">{% trans "Select Timezone" %}</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>

				<div class="profile-row">
					<div class="profile-label">{% trans "Currency" %}</div>
					<div class="profile-content">
						<select class="form-control profile-currency-select" ng-model="userprofile.currency_id" ng-options="currency.id as currency.code for currency in currencyInfo">
						</select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label">{% trans "Language" %}</div>
					<div class="profile-content">
						<select class="form-control profile-gender-select" ng-model="userprofile.display_language" ng-options="languageList.indexOf(lang) as lang for lang in languageList">
						</select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="profile-button-row">
					<div class="tellpin-flat-button save-button h26 bg-blue f13" ng-click="saveProfile()">{% trans "Save" %}</div>
				</div>
			</div>
			<div class="profile-part">
				<div class="title">{% trans "Language Proficiency" %}</div>
<!--
				<div class="profile-row">
					<div class="profile-label">Native Language*</div>
					<div class="profile-content profile-native1-select">
					<span class="caret"></span>
						<select id="native1" class="form-control language-select" ng-model="userprofile.native"
							ng-options="language.id as language.lang_english for language in languageInfo"
							chosen multiple="multiple" data-placeholder="Select Native language" ng-change="showNative()">
						</select>
					</div>
					<div class="clear"></div>
				</div>
-->
				<div class="profile-row">
					<div class="profile-label">{% trans "Native Language" %}*</div>
					<div class="profile-content">
						<div class="profile-select-row">
							<div class="additional-row">
								<select class="form-control language-select" ng-model="userprofile.native1_id" ng-click="getOldLanguage('native1_id')" ng-change="checkLanguageValidation('native1_id')" ng-options="language.id as language.lang_english for language in languageInfo">
									
								</select>
							</div>
							<div class="profile-row-add" ng-show="userprofile.native2_id == null" >
								<a ng-click="addNativeLanguage(2)">{% trans "+ Add" %}</a>
							</div>
							<div class="clear"></div>
						</div>
						<div class="profile-select-row" ng-if="userprofile.native2_id != null">
							<div class="additional-row">
								<div>
									<select class="form-control language-select" id="native2" ng-model="userprofile.native2_id" ng-click="getOldLanguage('native2_id')" ng-change="checkLanguageValidation('native2_id')" ng-options="language.id as language.lang_english for language in languageInfo">
<!-- 										<option value="" selected="selected" disabled="disabled">Select language</option> -->
									</select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteNativeLanguage(2)">
								</div>
							</div>
							<div class="clear"></div>
							<div class="profile-row-add" ng-show="userprofile.native3_id == null">
								<a ng-click="addNativeLanguage(3)">{% trans "+ Add" %}</a>
							</div>
						</div>
						<div class="profile-select-row" ng-if="userprofile.native3_id != null">
							<div class="additional-row">
								<div>
									<select class="form-control language-select" ng-model="userprofile.native3_id" ng-click="getOldLanguage('native3_id')" ng-change="checkLanguageValidation('native3_id')" ng-options="language.id as language.lang_english for language in languageInfo">
<!-- 										<option value="" selected="selected" disabled="disabled">Select language</option> -->
									</select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteNativeLanguage(3)">
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label">{% trans "Language(s) I learn or speak" %} *</div>
					<div class="profile-content">
						<div class="profile-select-row">
							<div class="additional-row" >
								<div class="personal-row-select-level">
									<select class="form-control language-select" ng-model="userprofile.lang1_id" ng-click="getOldLanguage('lang1_id')"  ng-change="checkLanguageValidation('lang1_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="userprofile.lang1_level" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning1_check" ng-model="userprofile.lang1_learning" ng-click="">
								</div>
							</div>
							<div class="add-button" ng-show="userprofile.lang2_id == null">
								<a href="" ng-click="addLearningLanguage(2)">{% trans "+ Add" %}</a>
							</div>
						</div>
						<div class="profile-select-row" ng-if="userprofile.lang2_id != null">
							<div class="additional-row" >
								<div class="personal-row-select-level">
									<select class="form-control language-select" ng-model="userprofile.lang2_id" ng-click="getOldLanguage('lang2_id')" ng-change="checkLanguageValidation('lang2_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="userprofile.lang2_level" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLanguage(2)">
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning2_check" ng-model="userprofile.lang2_learning" ng-click="">
								</div>
							</div>
							<div class="add-button"  ng-show="userprofile.lang3_id == null">
								<a href="" ng-click="addLearningLanguage(3)">{% trans "+ Add" %}</a>
							</div>
						</div>
						<div class="profile-select-row" ng-if="userprofile.lang3_id != null">
							<div class="additional-row" >
								<div class="personal-row-select-level">
									<select class="form-control language-select" ng-model="userprofile.lang3_id" ng-click="getOldLanguage('lang3_id')" ng-change="checkLanguageValidation('lang3_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="userprofile.lang3_level" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLanguage(3)">
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning3_check" ng-model="userprofile.lang3_learning" ng-click="">
								</div>
							<div class="add-button"  ng-show="userprofile.lang4_id == null">
								<a href="" ng-click="addLearningLanguage(4)">{% trans "+ Add" %}</a>
							</div>
							</div>
						</div>
						<div class="profile-select-row" ng-if="userprofile.lang4_id != null">
							<div class="additional-row" >
								<div class="personal-row-select-level">
									<select class="form-control language-select" ng-model="userprofile.lang4_id" ng-click="getOldLanguage('lang4_id')" ng-change="checkLanguageValidation('lang4_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="userprofile.lang4_level" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLanguage(4)">
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning4_check" ng-model="userprofile.lang4_learning" ng-click="">
								</div>
							<div class="add-button"  ng-show="userprofile.lang5_id == null">
								<a href="" ng-click="addLearningLanguage(5)">{% trans "+ Add" %}</a>
							</div>
							</div>
						</div>
						<div class="profile-select-row" ng-if="userprofile.lang5_id != null">
							<div class="additional-row" >
								<div class="personal-row-select-level">
									<select class="form-control language-select" ng-model="userprofile.lang5_id" ng-click="getOldLanguage('lang5_id')" ng-change="checkLanguageValidation('lang5_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="userprofile.lang5_level" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLanguage(5)">
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning5_check" ng-model="userprofile.lang5_learning" ng-click="">
								</div>
							<div class="add-button"  ng-show="userprofile.lang6_id == null">
								<a href="" ng-click="addLearningLanguage(6)">{% trans "+ Add" %}</a>
							</div>
							</div>
						</div>
						<div class="profile-select-row" ng-if="userprofile.lang6_id != null">
							<div class="additional-row" >
								<div class="personal-row-select-level">
									<select class="form-control language-select" ng-model="userprofile.lang6_id" ng-click="getOldLanguage('lang6_id')" ng-change="checkLanguageValidation('lang6_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="userprofile.lang6_level" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLanguage(6)">
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning6_check" ng-model="userprofile.lang6_learning" ng-click="">
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="profile-button-row">
					<div class="tellpin-flat-button save-button h26 bg-blue f13" ng-click="saveLanguage()">{% trans "Save" %}</div>
				</div>
			</div>
			<div class="profile-part">
				<div class="title">{% trans "Introduction at User Profile" %}</div>
				<div class="profile-row">
					<div class="profile-label-resume">{% trans "Short Introduction" %}</div>
					<div class="profile-text-content">
						<textarea id="short-introduction" class="userprofile-short-intro"  kr-input name="profile_quick_intro" ng-model="userprofile.short_intro" ng-trim="false" maxlength="250" ng-maxlength="250" cols="70" rows="6" ng-focus="hideTooltip( 'profile-short-tooltip' )"></textarea>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="profile-quick-intro-size">[[userprofile.short_intro.length]]/250</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label-resume">{% trans "Long Introduction" %}</div>
					<div class="profile-text-content">
						<textarea id="long-introduction" class="userprofile-long-intro" kr-input name="profile_long_intro" ng-model="userprofile.long_intro" ng-trim="false" maxlength="2000" ng-maxlength="2000" cols="70" rows="15" ng-focus="hideTooltip( 'profile-long-tooltip' )"></textarea>
					</div>
					<div class="clear"></div>
					<div class="profile-long-intro-size">[[userprofile.long_intro.length]]/2000</div>					
				</div>
<!-- 
				<div class="profile-row">
					<div class="profile-label">Video Introduction</div>
					<div class="profile-content">
						<p class="admin-message">If you want to change your video introduction, send e-mail to tellpin manager.</p>
					</div>
					<div class="clear"></div>
				</div>
-->
				<div class="profile-button-row">
					<div class="tellpin-flat-button save-button h26 bg-blue f13" ng-click="saveUserIntro()">{% trans "Save" %}</div>
				</div>
			</div>

			<div class="profile-part">
				<div class="title">{% trans "Communication Tool" %}</div>
				<!-- How to lesson Field -->
<!-- 
				<div class="profile-content" ng-init="setDefaultAudio()">
					<input type="radio" ng-disabled="!userprofile.online" ng-model="userprofile.audio" value="0">  Video Available
					<div class="tools-description"> - Many students prefer live video lessons to live audio lessons.</div>
					<input type="radio" ng-disabled="!userprofile.online" ng-model="userprofile.audio" value="1">  Voice Only
					<div class="tools-description"> - want to turn webcam off during class.</div>
				</div>
 -->
				<div class="profile-content">
					<div class="profile-label-resume">{% trans "Preferred Messenger" %}</div>
					<div class="profile-select-list">
						<div class="profile-select-row" ng-repeat="messenger in userprofile.tools">
							<div class="profile-select-tools">
								<select class="form-control" ng-model="messenger.name" ng-change="checkToolsValidation($index)" ng-click="getOldTools($index)" >
									<option value="[[ tool.name ]]" ng-repeat="tool in tools" ng-selected="messenger.name == tool.name">
										[[ tool.name ]]
									</option>
								</select>
							</div>
							<div class="profile-select-tools-info">
								<input type="text" class="form-control" ng-model="messenger.account" placeholder="ID" />
							</div>
							<div class="profile-select-delete delete-icon-style" ng-show="!$first">
								<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteTools($index)">
							</div>
							<div class="profile-row-add" ng-show="$last && $index+2 < tools.length">
								<a href="" ng-click="addTools()">{% trans "+ Add" %}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="profile-button-row">
					<div class="tellpin-flat-button save-button h26 bg-blue f13" ng-click="saveTools()">{% trans "Save" %}</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div id="profile-name-tooltip" class="profile-tooltip"></div>
		<div id="profile-short-tooltip" class="profile-tooltip"></div>
		<div id="profile-long-tooltip" class="profile-tooltip"></div>
		<div id="profile-year-tooltip" class="profile-tooltip"></div>
		<div id="profile-month-tooltip" class="profile-tooltip"></div>
		<div id="profile-day-tooltip" class="profile-tooltip"></div>
		<div id="profile-native-tooltip" class="profile-tooltip"></div>
		<div id="profile-teaching-tooltip" class="profile-tooltip"></div>
		<div id="profile-level-tooltip" class="profile-tooltip"></div>
		<div class="name-popup-backdrop" ng-show="nameInfo" ng-click="clickNameInfoPopup()"></div>
		<div id="name-info" class="name-info-popup" ng-show="nameInfo">
			{% trans "Your Full Name" %} : <br>
			* {% trans "Must be between 3-50 characters in length" %} <br>
			* {% trans "Cannot contain following special characters" %} : ~ ! @ # $ % ^ & * ( ) _ - + = [ ] { } \ ; : " ' | < > ? / <br>
			* {% trans "Can have spaces between characters and should be case-sensitive" %} <br>
			* {% trans "Can use multiple languages" %} <br>
		</div>
	</div>
</div>

<script src="{% static 'js/tutor/tutee_edit_profile.js' %}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<!-- 
<script src="{% static 'js/chosen.jquery.js' %}"></script>
 -->

{% endblock %}