{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Language Tutors" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/tutor/tutor_find.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}" />

<style>

.div-image{
	margin: 0 20px;
}
.tutor-find-col-left{
	text-align: center;
	width: 160px;
	float: left;
}
.tutor-find-col-right{
	width:  614px;
	float: left;
}
.container {
	padding-top: 50px;
	min-width: 1024px;
	width: 1024px;
	min-height: 1080px;
	padding: 0px;
}
.tutor-main-select {
	width: 24%;
	height: 30px;
	margin-left: 11px;
	border-radius: 5px;
	/*border: 1px solid #bfdfff;*/
	border: 1px solid #c9c9c9;
	padding-left: 10px;
	float: left;
	font-size: 13px;
	color: #646464;
}

.tutor-main-select-div {
	width: 24%;
	height: 30px;
	margin-left: 11px;
	border-radius: 5px;
	/*border: 1px solid #bfdfff;
	border: 1px solid #c9c9c9;*/
	float: left;
	font-size: 13px;
	color: #646464;
}
.tutor-sub-select {
	width: 12%;
	height: 30px;
	float: left;
	border: none;
	font-size: 13px;
	color: #646464;
}
.tutor-sub-select-div{
	width: 130px;
	height: 30px;
	/*border-radius: 5px;
	border: 1px solid #c9c9c9;
	*/
	float: left;
}

/*drop down button*/
.dropdown-ul{
	padding: 10px;
	width: 100%;
}
.dropdown-ul input{
	margin-left: 10px;
	margin-top: 10px;
}
.dropdown-ul input[type=checkbox], .dropdown-ul input[type=radio]{
	height: 18px;
	width: 18px;
	vertical-align: bottom;
}
.dropdown-avail input{
}

.dropdown-btn{
	width: 100%;
	height: 30px;
	overflow: hidden;
	text-align: left;
	padding-right: 7px;
	font-size: 13px;
	color: #646464;
}
.caret{
	float:right;
	margin-top: 5px;
	border-top: 6px dashed;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
}
.open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-default:focus, .btn-default:focus, .btn-default:hover{
	background-color: white;
}
/*end*/

.chosen-container-single .chosen-single span {
	color: #333333;
}

.tutor-left{
	margin-left: 0;
}
.tutor-right{
	background: #00b5cb;
	margin: 1px 8px 0px 107px;
	height: 40px;
	width: 245px;
/*	background-image: url("/static/img/tutor/icon_search_white.png"); */
	background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: none;
    border-radius: 5px;
    float:right;
}
.sub-left{
	margin-left: 17px;
}
.sub-right{
}
.sub-left2{
	margin-left: 8px;
}
.sub-right2{
	margin-left: 18px;
}

.mobile-tutor-right{
	padding-top: 7px;
	margin-left: 1%;
	background: #F06061;
	margin-top:5px;
	border: none;
	height: 40px;
	width: 40px;
	background-image: url("/static/img/tutor/icon_search_white.png");
	background-repeat: no-repeat;
    background-position: center;
    float:right;
}
.mobile-tutor-right2{
	padding-top: 7px;
	margin-left: 1%;
	background: #F06061;
	height: 40px;
	width: 40px;
	background-image: url("/static/img/tutor/icon_search_white.png");
	background-repeat: no-repeat;
    background-position: center;
    float:right;
    border: none;
}
.div-row{
	height: 30px;
	margin-top: 15px;
	vertical-align: middle;
}
.div-row2{
	margin-top: 0px !important;
}
.div-row select{
	overflow: hidden;
	padding: 0 20px 0 10px !important;
}
.div-title{
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #f47f51;
	font-weight: normal;
}
.div-apply{
	left:calc(50% + 530px);
	text-align: center;
	position:fixed;
	top: 200px;
	border:1px solid #F06061;
	background:white;
	padding:14px 22px;
	width:218px;
}
.div-apply .div-right{
}
.tutor-label{
	margin-left: 30px;
}
.tutor-check{
	overflow: visible;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-top: 0px !important;
}
.tutor-search{
	border-radius: 5px;
	border: 1px solid #c9c9c9;
	margin: auto;
	width: 100%;
	height: 30px;
	background: white;
}
.tutor-search-mobile{
	border-radius: 5px;
	border: 1px solid #c9c9c9;
	margin: auto;
	width: 100%;
	height: 30px;
	background: white;
	padding: 0 10px;
}
.tutor-search-img{
	right: 0;
	position: absolute;
	margin-right: 25px;
	margin-top: 37px;
}
.tutor-search-mobile-img{
	right: 0;
	top:  124px;
	position: absolute;
	margin-right: 20px;
}
.addTutor:HOVER {
	cursor: pointer;
}
.chosen-container{
	height: 30px;
	float: left;
}
.chosen-drop{
	margin-top: 5px !important;
	border-top: 1px solid #aaa !important;
	border-radius: 4px !important;
	width: 300px !important;
}
.chosen-drop > input{
}
.chosen-single{
	padding-top: 3px !important;
	height: 30px !important;
	background: none !important;
	box-shadow: none !important;
	border-radius: 5px;
	border: none !important;
	border-bottom-right-radius: 5px !important;
}
.chosen-single > div > b{
	padding-top: 5px !important;
	background: url("/static/img/tutor/select_arrow.png") no-repeat 99% 50% !important;
	
}
.displaynone {
 	display: none; 
}
.user-box{
    width: 120px;
    height: 120px;
    border: 1px solid #DBEFF1 !important;
    border-radius: 30% !important;
}
.apply-title{
	font-size: 16px;
	color: #333333;
	display: block;
	margin-bottom: 10px;
	text-align: left;
}
.apply-content{
	font-size: 13px;
	color: #333333;
	display: block;
	text-align: left;
}
.apply-btn{
	margin-top: 10px;
	font-size: 14px;
	color: #333333;
}
.footer-page-up{
	position: fixed;
	bottom: 50px;
	right:50px;
	width:46px !important;
	height:46px !important;
	padding: 10px 13px 15px 13px;
	z-index: 1000;
	cursor: pointer;
	border-radius: 8px;
	cursor: pointer;
	background: #00b5cb;
	vertical-align: middle;
	
}

.rating-style img {
	width: 100px;
	height: 20px;
}

.icon-style img {
	width: 24px;
	height: 22px;
}
.level-style img {
	width: 19px;
	height: 15px;
}




</style>


{% if request.session.email %} 
<div ng-controller="tutorFindRootController">
{% else %} 
<div>
{% endif %} 
<div class="container" ng-controller="tutorFindController" ng-init="data={{data}};search_data=data.search_data;tutor_list=data.tutor_list;initLoading();">
	<!-- <div style="overflow:hidden;">
	<div class="tell-btn" style="float:right; margin-right: 150px;" onclick="registTutor();">강사 등록</div>
	</div> -->

	<!-- apply -->
	<div class="div-apply" ng-if="applyStatus == 0">
		<div>
			<div class="div-right">
				<span class="apply-title">{% trans "Apply to Teach" %}</span>
			</div>
			{% blocktrans %}
			<div class="div-right">
				<span class="apply-content">Earn money teaching your</span>
			</div>
			<div class="div-right">
				<span class="apply-content">native language.</span>
			</div>{% endblocktrans %}
		</div>
		<div>
			<div class="div-right">
				<a href="/tutor/apply/" class="btn btn-default apply-btn"> {% trans "Apply" %} </a>
			</div>
		</div>
	</div>
	<!-- top button -->
	<div class="footer-page-up" onclick="goTop2();">
		<img src="{%static 'img/community/icon_page_up2.png'%}">
	</div>
	<!-- schedule -->
	<div id="blanket" style="display:none;" onclick="popup('add-pop')"></div>
	<div id="add-pop" style="display:none;" class="add-pop" >
		<div class="contents"></div>
	</div>
	<!-- self introduction -->
	<div id="blanket2" style="display:none;" onclick="popup('add-pop2')"></div>
	<div id="add-pop2" style="display:none;" class="add-pop">
		<div class="contents">
		<!--iframe id="self_intro" width="100%" height="500px"
					src="https://www.youtube.com/embed/dnW1CfH2_IA" frameborder="0"
					allowfullscreen></iframe-->
		<!--img src="{% static 'img/s2.png' %}" style="width:100%" onclick="popup('add-pop2');"-->
		</div>
	</div>
	<!-- filter -->
	<div class="tutor-screen">
		<div class="tutor-top" style="background-color: white;" >
			<div class="div-row div-title" >
				<span style="margin-top: 5px;display:inline; font-weight: 600;" class="f-orange f-20">{% trans "Find your Tutor" %}</span>
				<div style="float: right; width: 250px; margin-right: 8px;margin-top:6px;">
					<div class="input-group">
				      <input type="text" id="search_name" class="form-control f-gray-af" placeholder="Username" style="border-right-width: 2px; height: 34px;">
				      <span class="input-group-btn glyphicon glyphicon-search" ng-click="searchName();">
				        <!--  button class="btn btn-default" type="button">1</button -->
				        <span class="btn btn-default glyphicon glyphicon-search" style="top:-1px; border-left-style: none; height: 34px; padding-top:5px;"> </span>
				      </span>
				    </div><!-- /input-group -->
				</div>
			</div>
			<div class="div-row" style="width: 260px;">
				<label class="f-gray-64 f12" style="font-weight:normal;"><input type="checkbox" class="tutor-check" id="native_only" ng-click="checkNativeOnly()"> {% trans "Native in teaching language only" %}</label>
			</div>
			<div class="div-row div-row2">
				<select name="" id="teaches" onchange="change_teaches()" class="tutor-main-select tutor-left f-gray-64 f13" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="Teaches language">
					<option value="all" selected="selected">{% trans "Teaches" %}</option>
					<option ng-repeat="language in search_data.language_list" value="[[language.id]]">[[language.lang_english]]</option>
				</select>
				<select name="" id="speaks" class="tutor-main-select tutor-left f-gray-64 f13" style="margin-left: 11px;" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="Speaks">
					<option value="all" selected="selected">{% trans "Speaks" %}</option>
					<option ng-repeat="language in search_data.language_list" value="[[language.id]]">[[language.lang_english]]</option>
				</select>
				<!--select name="" id="availability" class="tutor-main-select">
					<option value="" selected="selected">Availability</option>
					<option value="">Morning</option>
					<option value="">Afternoon</option>
					<option value="">Evening</option>
					<option value="">Monday</option>
					<option value="">Tuesday</option>
					<option value="">Wednesday</option>
					<option value="">Thursday</option>
					<option value="">Friday</option>
					<option value="">Saturday</option>
					<option value="">Sunday</option>
				</select-->
				<div class="dropdown tutor-main-select-div">
				  <button class="btn btn-default dropdown-toggle dropdown-btn f-gray-64 f13" style="cursor: auto;" type="button" id="dropdownMenu1" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-toggle="tooltip" data-placement="top" title="Availability">
				    {% trans "Availability" %}
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu dropdown-ul dropdown-avail" style="font-size: 13px;" aria-labelledby="dropdownMenu1">
				    <li class="title">{% trans "Time of Day" %}</li>
				    <li>
				    	<ul class="f-gray-64 f12">
				    		<li><label><input type="checkbox" id="time_0"> 00:00~05:59</label></li>
				    		<li><label><input type="checkbox" id="time_6"> 06:00~11:59</label></li>
				    		<li><label><input type="checkbox" id="time_12"> 12:00~17:59</label></li>
				    		<li><label><input type="checkbox" id="time_18"> 18:00~23:59</label></li>
				    	</ul>
				    </li>
				    <li role="separator" class="divider"></li>
				    <li class="title">{% trans "Days of the week" %}</li>
				    <li>
				    	<ul>
				    		<li class="day-label"><label style="width:33%;"><input type="checkbox" value="" id="day_mon"> {% trans "Mon" %}</label><label style="width:33%;"><input type="checkbox" value="" id="day_tue"> {% trans "Tue" %}</label><label style="width:33%;"><input type="checkbox" value="" id="day_wed"> {% trans "Wed" %}</label></li>
				    		<li class="day-label"><label style="width:33%;"><input type="checkbox" value="" id="day_thu"> {% trans "Thu" %}</label><label style="width:33%;"><input type="checkbox" value="" id="day_fri"> {% trans "Fri" %}</label><label style="width:33%;"><input type="checkbox" value="" id="day_sat"> {% trans "Sat" %}</label></li>
				    		<li class="day-label"><label style="width:33%;"><input type="checkbox" value="" id="day_sun"> {% trans "Sun" %}</label></li>
				    	</ul>
				    </li>
				  </ul>
				</div>
	<!--
				<div style="width: 235px; margin: 0px; float: left;" >
					<rzslider class="range-slider" id="hourlyrate" rz-slider-model="slider.min"	rz-slider-high="slider.max"	rz-slider-options="slider.options" style="margin:0px 0px 0px 10px;" >
					</rzslider>
				</div>
	 -->
				<select name="" id="hourlyrate" class="tutor-main-select f-gray-64 f13" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="Hourly Rate">
					<option value="all" selected="selected">{% trans "Hourly Rate" %}</option>
					<option value="1">0 ~ 100 TC</option>
					<option value="101">101 ~ 150 TC</option>
					<option value="151">151 ~ 200 TC</option>
					<option value="201">201 ~ 250 TC</option>
					<option value="251">251 TC ~</option>
				</select>
	 
			</div>
			<div class="div-row" style="height: 50px;">	
				<select name="" id="from" class="tutor-sub-select sub-right chzn-select f-gray-64 f13" onchange="angular.element(this).scope().getCityInfo( 'from' )" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="From">
					<option value="all">{% trans "From" context "nation" %}</option>
					<option ng-repeat="nation in search_data.country_list" value="[[nation.id]]">[[nation.country]]</option>
				</select>
				<select name="" id="fromcity" class="tutor-sub-select sub-right chzn-select f-gray-64 f13"  onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="From City">
					<option value="all" selected="selected">{% trans "From City" %}</option>
				</select>
				<!-- angular.element(this).scope().search_data[0].nation_info -->
				<select name="" id="livein" class="tutor-sub-select sub-left chzn-select f-gray-64 f13" onchange="angular.element(this).scope().getCityInfo( 'livein' )" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="Live in">
					<option value="all" selected="selected">{% trans "Living in" context "nation" %}</option>
					<option ng-repeat="nation in search_data.country_list" value="[[nation.id]]">[[nation.country]]</option>
				</select>
				<select name="" id="liveincity" class="tutor-sub-select sub-right chzn-select f-gray-64 f13"  onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" data-toggle="tooltip" data-placement="top" title="Live in City">
					<option value="all" selected="selected">{% trans "Living in City" %}</option>
				</select>
	<!-- 
				<div class="dropdown tutor-sub-select-div sub-left">
				  <button class="btn btn-default dropdown-toggle dropdown-btn " type="button" id="dropdownMenu1" data-toggle="dropdown" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" aria-haspopup="true" aria-expanded="true" data-toggle="tooltip" data-placement="top" title="How we meet">
				    How we meet
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu dropdown-ul dropdown-meet" aria-labelledby="dropdownMenu1">
				    <li><label><input type="checkbox" value="1" id="check_online" ng-click="online_check()"> Online</label></li>
				    <li>
				    	<ul>
				    		<li><label><input type="radio" name="online_type" value="3" id="check_audio" disabled="disabled"> Audio Only </label></li>
				    		<li><label><input type="radio" name="online_type" value="4" id="check_video" disabled="disabled"> Video Available </label></li>
				    	</ul>
				    </li>
				    <li role="separator" class="divider"></li>
				    <li><label><input type="checkbox" value="2" id="check_offline"> Offline Available</label></li>
				  </ul>
				</div>
	 -->
				<!--select name="" id="howwemeet"  class="tutor-sub-select">
					<option value=""selected="selected">How we meet</option>
				</select-->
				<div class="dropdown tutor-sub-select-div sub-right2">
				  <button class="btn btn-default dropdown-toggle dropdown-btn f-gray-64 f13" style="border: none;cursor: auto;" id="dropdownMenu1" data-toggle="dropdown" onmouseover="$(this).tooltip('show');" onmouseleave="$(this).tooltip('hide');" aria-haspopup="true" aria-expanded="true" data-toggle="tooltip" data-placement="top" title="More">
				    {% trans "more" %}
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu dropdown-ul dropdown-tag f-gray-64 f13" aria-labelledby="dropdownMenu1">
				    <li><label style="font-size:12px;"><input type="checkbox" name="" value="1" id="online_only"> {% trans "Logged in now" %} </label></li>
				    <li><label style="font-size:12px;"><input type="checkbox" name="" value="2" id="check_trial"> {% trans "Trial Available" %} </label></li>
				    <li><label style="font-size:12px;"><input type="checkbox" name="" value="3" id="check_video"> {% trans "Video Available" %} </label></li>
				  </ul>
				</div>
				<!--li role="separator" class="divider"></li-->
				<!--select name="" id="specialitytags"  class="tutor-sub-select">
					<option value="" selected="selected">Speciality Tags</option>
					<option ng-repeat="tag in search_data[0].tag_list" value="">[[tag]]
				</select-->
				<button class="tutor-right h40 bg-blue f15" ng-click="clickSearchTutor()">{% trans "Search" %}</button>
			</div>
		</div>

		<hr style="height:1px; background-color:#ccc; color:#ccc; border:none;margin:0;">

		<!-- tutor list -->
		<div class="tutor-mid" ng-repeat="tutor in tutor_list"  >
			<div class="row" id="id-tutor-content" style="margin-left: 0 !important; margin-right: 0 !important;">
				<div class="" style="float: left;width: 774px;height:250px;cursor: pointer;" ng-click="clickTutorInfo([[tutor.user]])">
					<!-- 좌측 tutor profile 영역 -->
					<!--div class="tutorinfo-profile"-->
					<div class="tutor-list">
						<!-- image 영역 -->
						<div class="tutor-find-col-left">
						<!--div class="profile-image"-->
						<div class="div-image">
							<div ng-class="tutor.is_login == 1 ? 'div-left-online' : 'div-left-offline' "></div>
							<!-- 
							<div ng-if="tutor.is_login == 1" class="div-left-online"></div>
							<div ng-if="tutor.is_login != 1" class="div-left-offline"></div>
							 -->
							<a href="tutor/[[tutor.user]]"><img onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' ng-src="[[tutor.photo_filename]]" alt="유저사진" class="tutor-image-radius user-box"></a>
						</div>
						<div class="price-div-row">
							<div class="price-pop">
								<!--span><img src="{% static 'img/tutor/intro.png' %}"></span-->
								<span><a href="#" ng-click="showIntroPopup(tutor.video_intro)" onclick="return false;" style="text-decoration: none;"><img style="width:24px; height:16px; margin-right:10px;" src="{% static 'img/tutor/intro.png' %}"> </a></span>
								<!--span><img src="{% static 'img/tutor/schedule.png' %}" ng-click=""></span-->
								{% if request.session.email %}
								<img class="" style="width:18px; height:20px; margin-right: 5px;" src="{% static 'img/tutor/schedule.png' %}" ng-click="showSchedulePopup(tutor.user)">
								{% else %}
								<img class="" style="width:18px; height:20px; margin-right: 5px;" src="{% static 'img/tutor/schedule.png' %}" onclick="goUrlAfterLogin('/tutor/')">
								{% endif %}
							</div>
						</div>
						<div class="rating-start rating-style">
							<img ng-show="tutor.ave_rating < 0.5" src="{% static 'img/tutor/icon_star_001.png'%}" class="find-star">
							<img ng-show="tutor.ave_rating >= 0.5 && tutor.ave_rating < 1" src="{% static 'img/tutor/icon_star_002.png'%}" class="find-star">
							<img ng-show="tutor.ave_rating >= 1 && tutor.ave_rating < 1.5" src="{% static 'img/tutor/icon_star_003.png'%}" class="find-star">
							<img ng-show="tutor.ave_rating >= 1.5 && tutor.ave_rating < 2" src="{% static 'img/tutor/icon_star_004.png'%}" class="find-star">
							<img ng-show="tutor.ave_rating >= 2 && tutor.ave_rating < 2.5" src="{% static 'img/tutor/icon_star_005.png'%}" class="find-star">
							<img ng-show="tutor.ave_rating >= 2.5 && tutor.ave_rating < 3" src="{% static 'img/tutor/icon_star_006.png'%}" class="find-star">
							<img ng-show="tutor.ave_rating >= 3 && tutor.ave_rating < 3.5" src="{% static 'img/tutor/icon_star_007.png'%}" class="find-star">
							<img ng-show="tutor.ave_rating >= 3.5 && tutor.ave_rating < 4" src="{% static 'img/tutor/icon_star_008.png'%}" class="find-star">
							<img ng-show="tutor.ave_rating >= 4 && tutor.ave_rating < 4.5" src="{% static 'img/tutor/icon_star_009.png'%}" class="find-star">
							<img ng-show="tutor.ave_rating >= 4.5 && tutor.ave_rating < 5" src="{% static 'img/tutor/icon_star_010.png'%}" class="find-star">
							<img ng-show="tutor.ave_rating == 5 " src="{% static 'img/tutor/icon_star_011.png'%}" class="find-star">
						</div>
						</div>
	
						<!-- image 우측 상세 영역 -->
						<div class="tutor-find-col-right" style="color: #585858;">
						<!--div class="profile-info"-->
						<div class="div-profile">
							<!--div class="profile-name"-->
							<div class="profile-top-info">
								<span class="find-profile-name">
									<span> <a href="tutor/[[tutor.user]]" class="f-bblue f15">[[ tutor.name ]]</a>
									<img ng-src="[[tutor.country_filename]]" alt="국가이미지" class="nation-image nation-border" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" data-placement="top" title="[[ tutor.from_city ? tutor.from_city + ', ' : '' ]] [[ tutor.from_country ]]">
									</span>
								</span>
								<div class="span-tool-icon icon-style" style="border-top-left-radius: 0; border-bottom-left-radius: 0; float:right;height:36px;">
									<span ng-if="tutor.skype_id != null" ><img src="{% static 'img/tutor/icon_skype.png' %}" alt="" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" data-placement="top" title="Skype" /></span>
									<span ng-if="tutor.hangout_id != null"><img src="{% static 'img/tutor/icon_hangout.png' %}" alt="" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" data-placement="top" title="Google Hangouts"  /></span>
									<span ng-if="tutor.facetime_id != null"><img src="{% static 'img/tutor/icon_facetime.png' %}" alt="" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" data-placement="top" title="Facetime"  /></span>
									<span ng-if="tutor.qq_id != null"><img src="{% static 'img/tutor/icon_QQ.png' %}" alt="" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" data-placement="top" title="QQ" /></span>
								</div>
								<div class="span-tool-icon icon-style" style="border-right: 0; padding-right: 0px; border-top-right-radius: 0; float:right; border-bottom-right-radius: 0; height: 36px; padding-right: 6px;">
									<span ng-if="tutor.audio_only==0" class="video-border"><img src="{% static 'img/tutor/video_available.png' %}" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" data-placement="top" title="Video available"></span>
									<span ng-if="tutor.audio_only==1"><img src="{% static 'img/tutor/no_video.png' %}" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" data-placement="top" title="No Video"></span>
								</div>
							</div>
	                        <!--div class="profile-teach"-->
	                        <div class="find-profile-teach">
	                            <span class="sub-title f-blue f13" id="teaches_title">{% trans "Teaches" %}</span>
	
	                            <span class="span-profile-title f-gray-33" ng-repeat="teach in tutor.teaches "><span ng-if="$index!=0" class="f-gray-33 f13" >, </span>
	                            [[ teach.language ]]
	                            </span>
	
	                        </div>
	
	                        <!--div class="profile-from"-->
	                        <div class="profile-nation">
	                            <span class="sub-title f-blue f13" id="teaches_title" style="margin-right: 29px;">{% trans "From" context "nation+city" %}</span>
	                            <span class="span-profile-title f-gray-33 f13">[[ tutor.from_country ]]</span>
	                        </div>
	
	                        <!--div class="profile-nation"-->
	                        <div class="profile-nation">
	                            <span class="sub-title f-blue f13" id="teaches_title">{% trans "Living in" context "nation+city" %}</span>
	                            <span class="span-profile-title f-gray-33" ng-if="tutor.livingin_city"><span ng-show="tutor.livingin_city" class="f-gray-33 f13">[[ tutor.livingin_city ]], </span>[[ tutor.livingin_country ]]</span>
	                        </div>
	
							<!--div class="profile-language"-->
							<div class="find-profile-language level-style">
								<span class="sub-title f-blue f13" style="margin-right: 18px;">{% trans "Speaks" %}</span>
	
								<span class="span-profile-title f-gray-33 f13" ng-repeat="speak in tutor.speaks" ng-class="speak.level == 7 ? 'is-native' : '' "><span ng-if="$index!=0">, </span>
								[[ speak.language ]]
									<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Begginer" ng-if="speak.level == 1" src="{% static 'img/tutor/gauge_000.png' %}" alt="레벨표시" tooltip />
									<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Elementary" ng-if="speak.level == 2" src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" tooltip />
									<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Pre-intermediate" ng-if="speak.level == 3" src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" tooltip />
									<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Intermediate" ng-if="speak.level == 4" src="{% static 'img/tutor/gauge_003.png' %}" alt="레벨표시" tooltip />
									<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Upper intermediate" ng-if="speak.level == 5"src="{% static 'img/tutor/gauge_004.png' %}" alt="레벨표시" tooltip />
									<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Advanced" ng-if="speak.level == 6" src="{% static 'img/tutor/gauge_005.png' %}" alt="레벨표시" tooltip />
									<img data-toggle="tooltip" onmouseover="$(this).tooltip('show')" title="Native" ng-if="speak.level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" tooltip />
								</span>
							</div>
						</div>
						<div class="divClearfix"></div>
	
						<!--div class="profile-intro"-->
						<div class="find-intro" style="word-break: break-word; word-wrap: break-word;">
							<a href="tutor/[[tutor.user]]" class="f-gray-33 f13">[[ tutor.short_intro ]]</a>
						</div>
						</div>
					</div>
				</div>
				<div class="" style="float: left;width: 250px;">
					<div class="tutor-right-side">
						<div class="follow-div-row">
							{% if request.session.email %}
							<button id="unfollow-[[tutor.user]]" ng-if="tutor.is_bookmark == 1" class="btn-follow h26 bg-orange f13" type="button" ng-click="removeBookmark(tutor.user, $index)"> {% trans "Bookmarked" %}</button>
							<button id="" ng-if="tutor.is_bookmark == 0" class="btn-unfollow h26 bg-gray f13" type="button" ng-click="setBookmark(tutor.user, $index)">{% trans "Bookmark" %}</button>
							<img style="width:19px; height:19px; cursor:pointer;" alt="" src="{% static 'img/tutor/icon_chat.png' %}" ng-click="openMessageModal( 'detail', tutor.user )">
							{% else %}
							<button id="unfollow-[[tutor.user]]" ng-if="tutor.is_bookmark == 1" class="btn-follow h26 bg-orange f13" type="button" onclick="goUrlAfterLogin('/tutor/')"> {% trans "Bookmarked" %}</button>
							<button id="" ng-if="tutor.is_bookmark == 0" class="btn-unfollow h26 bg-gray f13" type="button" onclick="goUrlAfterLogin('/tutor/')">{% trans "Bookmark" %}</button>
							<img style="width:19px; height:19px; cursor:pointer;" alt="" src="{% static 'img/tutor/icon_chat.png' %}" onclick="goUrlAfterLogin('/tutor/')">
							{% endif %}
							<div class="clear"></div>
						</div>
	
						<div class="div-price" ng-show="[[tutor.lesson_max_price]] != 0">
							<div class="price-div-row">
								<div class="trial f-gray-33 f14">{% trans "Hourly Rate" %}</div><div class="trial-price-title f-gray-33 f14">[[ tutor.lesson_min_price == tutor.lesson_max_price ? tutor.lesson_min_price : tutor.lesson_min_price + ' - ' + tutor.lesson_max_price]] TC/Hr</div>
							</div>
							<div class="price-div-row">
								<div class="trial-price f-gray-64 f13">≈ [[ tutor.lesson_min_price == tutor.lesson_max_price ? (tutor.lesson_min_price * 100|number) : (tutor.lesson_min_price * 100|number) + ' - ' + (tutor.lesson_max_price * 100|number) ]] [[tutor.price_unit]]/Hr</div>
							</div>
							<div class="price-div-row">
								<div class="trial f-gray-33 f14" ng-if="tutor.trial_price">{% trans "Trial" %}</div><div class="trial-price-title f-gray-33 f14" ng-if="tutor.trial_price">[[tutor.trial_price]] TC/30min</div>
							</div>
							<div class="price-div-row">
								<div class="trial-price f-gray-64 f13" ng-if="tutor.trial_price"> ≈ [[tutor.trial_price * 100|number ]] [[tutor.price_unit]]/Hr</div>
							</div>
							<div class="price-div-row">
							{% if request.session.email %}
								<form action="/tutor/reservation/which/" method="post">
									<input type="hidden" name="tid" ng-value="tutor.user" />
									<input type="hidden" name="accessType" ng-value="0" />
									<button class="btn-book-lesson bg-green h26 f13" type="submit" >{% trans "Book a Lesson!" %}</button>					
								</form>
							{% else %} 
									<button class="btn-book-lesson bg-green h26 f13" type="button" onclick="goUrlAfterLogin('/tutor/')">{% trans "Book a Lesson!" %}</button>		
							{% endif %}
							</div>
						</div>
						<div class="clear"></div>
					</div>
	
				</div>
	
			</div>
				<hr style="height:1px; background-color:#ccc; color:#ccc; border:none; margin:0;">
		</div>

		<div ng-if="page_info.has_next != 0" class="row" style="text-align:center;margin-top:20px; margin-left:0; margin-right: 0;">
			<a id="btn_more" class="btn btn-default" style="width: 100%;margin-top:20px;margin-bottom:20px;" ng-click="showMoreTutorList()">{% trans "Show more" %}</a>
		</div>

		<div id="tutor-schedule-template-backdrop" class="tutor-schedule-backdrop displaynone" ng-if="schedulePopup" ng-click="hideSchedulePopup()"></div>
		<div id="tutor-schedule-template" class="displaynone" ng-if="schedulePopup" >
			{% include "tutor/tutor_reservation/tutor_schedule_table.html" %}
		</div>
	
		<div class="tutor-schedule-backdrop" ng-if="introPopup" ng-click="hideIntroPopup()"></div>
		<div id="video-tutor-schedule-template" ng-if="introPopup">
			<iframe width="100%" height="500px" ng-src="[[ trustSrc( introSrc ) ]]" frameborder="0" allowfullscreen></iframe>
		</div>
<!--  
		<div class="tutor-schedule-backdrop loading" ng-if="loading"></div>
-->
		<div id="tutor-schedule-template2" ng-if="loading">
			<img src="{% static 'img/ajax_loading.gif' %}">
		</div>

	</div>

	<div class="mobile-container">
		<div class="modal fade" id="messageModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm message-modal">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">{% trans "Find your Tutor" %}</h4>
					</div>
					<div style="width: 100%; min-height: 380px;">
					<div class="col-xs-1"></div>
					<div class="modal-body col-xs-10">
						<div class="messageModal-row">
							<select name="" id="mobile_teaches" class="tutor-main-select-mobile" style="margin-bottom:0;">
								<option value="all" selected="selected">{% trans "Teaches language" %}</option>
								<option ng-repeat="language in search_data[0].language_list" value="[[language.id]]">[[language.language]]</option>
							</select>
						</div>
						<div class="messageModal-row">
							<p></p>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    {% trans "Availability" %}
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu dropdown-ul dropdown-avail" aria-labelledby="dropdownMenu1">
							    <li class="title">{% trans "Time of Day" %}</li>
							    <li>
							    	<ul>
							    		<li><label><input type="checkbox" id="mobile_time_0"> 00:00~05:59</label></li>
							    		<li><label><input type="checkbox" id="mobile_time_6"> 06:00~11:59</label></li>
							    		<li><label><input type="checkbox" id="mobile_time_12"> 12:00~17:59</label></li>
							    		<li><label><input type="checkbox" id="mobile_time_18"> 18:00~23:59</label></li>
							    	</ul>
							    </li>
							    <li role="separator" class="divider"></li>
							    <li class="title">{% trans "Days of the week" %}</li>
							    <li>
							    	<ul>
							    		<li><label><input type="checkbox" value="" id="mobile_day_mon"> {% trans "Mon" %}</label><label><input type="checkbox" value="" id="mobile_day_tue"> {% trans "Tue" %}</label><label><input type="checkbox" value="" id="mobile_day_wed"> {% trans "Wed" %}</label></li>
							    		<li><label><input type="checkbox" value="" id="mobile_day_thu"> {% trans "Thu" %}</label><label><input type="checkbox" value="" id="mobile_day_fri"> {% trans "Fri" %}</label><label><input type="checkbox" value="" id="mobile_day_sat"> {% trans "Sat" %}</label><label><input type="checkbox" value="" id="mobile_day_sun"> {% trans "Sun" %}</label></li>
							    	</ul>
							    </li>
							  </ul>
							</div>
						</div>
						<div class="messageModal-row">
							<p></p>
							<select name="" id="mobile_hourlyrate" class="tutor-main-select-mobile">
								<option value="all" selected="selected">{% trans "Hourly Rate" %}</option>
								<option value="0">0 ~ 100 TC</option>
								<option value="100">100 ~ 150 TC</option>
								<option value="150">150 ~ 200 TC</option>
								<option value="200">200 ~ 250 TC</option>
								<option value="250">250 TC ~</option>
							</select>
						</div>
						<div class="messageModal-row">
							<select name="" id="mobile_speaks" class="tutor-main-select-mobile">
								<option value="all" selected="selected">{% trans "Speaks" %}</option>
								<option ng-repeat="language in search_data[0].language_list" value="[[language.id]]">[[language.language]]</option>
							</select>
						</div>
						<div class="messageModal-row">
							<select name="" id="mobile_from" class="tutor-main-select-mobile">
								<option value="all" selected="selected">{% trans "From" context "nation+city" %}</option>
								<option ng-repeat="nation in search_data[0].nation_info" value="[[nation.nation_id]]">[[nation.nation]]</option>
							</select>
						</div>
						<div class="messageModal-row">																				   
							<select name="" id="mobile_livein" class="tutor-main-select-mobile" onchange="angular.element(this).scope().mobileChangeLiveinField()">
								<option value="all" selected="selected">{% trans "Living in" context "nation" %}</option>
								<option ng-repeat="nation in search_data[0].nation_info" value="[[nation.nation_id]]">[[nation.nation]]</option>
							</select>
						</div>
						<div class="messageModal-row">
							<select name="" id="mobile_liveincity" class="tutor-main-select-mobile" >
								<option value="all" selected="selected">{% trans "Living in City" %}</option>
							</select>
						</div>
						<!--div class="messageModal-row">
							<p></p>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    How we meet
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu dropdown-ul dropdown-meet" aria-labelledby="dropdownMenu1">
							    <li><label><input type="checkbox" value="1" id="check_online" ng-click="online_check()"> Online</label></li>
							    <li>
							    	<ul>
							    		<li><label><input type="radio" name="online_type" value="3" id="check_audio" disabled="disabled"> Audio</label></li>
							    		<li><label><input type="radio" name="online_type" value="4" id="check_video" disabled="disabled"> Video</label></li>
							    	</ul>
							    </li>
							    <li role="separator" class="divider"></li>
							    <li><label><input type="checkbox" value="2" id="check_offline"> Offline</label></li>
							  </ul>
							</div>
						</div-->
						<!--div class="messageModal-row">
							<p></p>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Speciality Tags
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu dropdown-ul dropdown-tag" aria-labelledby="dropdownMenu1">
							    <li ng-repeat="tag in search_data[0].tag_list"><label><input type="checkbox" value="[[tag.stid]]" id="sptag-[[tag.stid]]"> [[tag.stname]]</label></li>
							  </ul>
							</div>
						</div-->
						<div class="messageModal-row mobile-check-row1">
							<label class=""> {% trans "Native in teaching language only" %}<input type="checkbox" class="tutor-check"  id="mobile_native_only" ></label>
						</div>
						<div class="messageModal-row mobile-check-row2">
							<label class="">{% trans "Logged in now" %}<input type="checkbox" class="tutor-check" id="mobile_online_only"></label>
							<button class="mobile-tutor-right" ng-click="mobileSearchTutor();mobileToggleModal();"></button>
						</div>
						<div class="messageModal-row mobile-check-row3">
							<label class="">{% trans "Video Class Available" %}<input type="checkbox" class="tutor-check" id="video_avail"></label>
						</div>
						<div style="border:1px solid #e5e5e5; margin-top: 15px;">
						</div>
						<div style="margin-top: 30px;padding: 0;">
							<div class="input-group">
						      <input id="mobile_search_name" type="text" class="form-control" placeholder="Username" style="height: 40px;">
						      <span class="input-group-btn glyphicon glyphicon-search" style="top:-1px;">
						        <!--  button class="btn btn-default" type="button">1</button -->
						        <button class="mobile-tutor-right2" ng-click="mobileSearchName(); mobileToggleModal();"> </button>
						      </span>
						    </div><!-- /input-group -->
						</div>
					</div>
					<div class="col-xs-1"></div>
					</div>


					<div style="width:100%;min-height:100px;">

					</div>
					<!--div class="col-xs-2">
						<button class="mobile-tutor-right" ng-click="mobileSearchTutor();mobileToggleModal();"></button>
					</div-->
				</div>

			</div>
		</div>
		<!--div class="modal fade" id="pop_filter" tabindex="-1" role="dialog" aria-hideen="true" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="title">
						Find your Tutor
						<img src>
					</div>
					<div class="">
						<select name="" id="teaches" class="tutor-main-select-mobile">
							<option value="all" selected="selected">Teaches language</option>
							<option ng-repeat="language in search_data[0].language_list" value="[[language.id]]">[[language.language]]</option>
						</select>
					</div>
					<div>
						<div class="dropdown ">
						  <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Availability
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu dropdown-ul dropdown-avail" aria-labelledby="dropdownMenu1">
						    <li class="title">Time of Day</li>
						    <li>
						    	<ul>
						    		<li><label><input type="checkbox" id="time_0"> 00:00~05:59</label></li>
						    		<li><label><input type="checkbox" id="time_6"> 06:00~11:59</label></li>
						    		<li><label><input type="checkbox" id="time_12"> 12:00~17:59</label></li>
						    		<li><label><input type="checkbox" id="time_18"> 18:00~23:59</label></li>
						    	</ul>
						    </li>
						    <li role="separator" class="divider"></li>
						    <li class="title">Days of the week</li>
						    <li>
						    	<ul>
						    		<li><label><input type="checkbox" value="" id="day_mon"> Mon</label><label><input type="checkbox" value="" id="day_tue"> Tue</label><label><input type="checkbox" value="" id="day_wed"> Wed</label></li>
						    		<li><label><input type="checkbox" value="" id="day_thu"> Thu</label><label><input type="checkbox" value="" id="day_fri"> Fri</label><label><input type="checkbox" value="" id="day_sat"> Sat</label><label><input type="checkbox" value="" id="day_sun"> Sun</label></li>
						    	</ul>
						    </li>
						  </ul>
						</div>
					</div>
					<div>
						<select name="" id="hourlyrate" class="tutor-main-select-mobile">
							<option value="all" selected="selected">Hourly Rate</option>
							<option value="0">0 ~ 100C</option>
							<option value="100">100 ~ 150C</option>
							<option value="150">150 ~ 200C</option>
							<option value="200">200 ~ 250C</option>
							<option value="250">250C ~</option>
						</select>
					</div>
					<div>
						<select name="" id="speaks" class="tutor-sub-select-mobile">
							<option value="all" selected="selected">Speaks</option>
							<option ng-repeat="language in search_data[0].language_list" value="[[language.id]]">[[language.language]]</option>
						</select>
					</div>
					<div>
						<select name="" id="from" class="tutor-sub-select-mobile">
							<option value="all" selected="selected">From</option>
							<option ng-repeat="nation in search_data[0].nation_info" value="[[nation.nation_id]]">[[nation.nation]]</option>
						</select>
					</div>
					<div>
						<select name="" id="livein" class="tutor-sub-select-mobile" onchange="change_livein(angular.element(this).scope().search_data[0].nation_info)">
							<option value="all" selected="selected">Live in</option>
							<option ng-repeat="nation in search_data[0].nation_info" value="[[nation.nation_id]]">[[nation.nation]]</option>
						</select>
					</div>
					<div>
						<select name="" id="liveincity" class="tutor-sub-select-mobile" >
							<option value="all" selected="selected">Live in City</option>
						</select>
					</div>
					<div>
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    How we meet
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu dropdown-ul dropdown-meet" aria-labelledby="dropdownMenu1">
						    <li><label><input type="checkbox" value="1" id="check_online" ng-click="online_check()"> Online</label></li>
						    <li>
						    	<ul>
						    		<li><label><input type="radio" name="online_type" value="3" id="check_audio" disabled="disabled"> Audio</label></li>
						    		<li><label><input type="radio" name="online_type" value="4" id="check_video" disabled="disabled"> Video</label></li>
						    	</ul>
						    </li>
						    <li role="separator" class="divider"></li>
						    <li><label><input type="checkbox" value="2" id="check_offline"> Offline</label></li>
						  </ul>
			</div>
					</div>
					<div>
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Speciality Tags
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu dropdown-ul dropdown-tag" aria-labelledby="dropdownMenu1">
						    <li ng-repeat="tag in search_data[0].tag_list"><label><input type="checkbox" value="[[tag.stid]]" id="sptag-[[tag.stid]]"> [[tag.stname]]</label></li>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div-->
		<div class="tutor-top" >
			<div class="div-title div-mobile">
				<h3 style="margin-top: 15px;display:inline;">{% trans "Find your Tutor" %}</h3>
			</div>
			<div class="div-mobile" ng-click="mobileOpenFilterModal()">
				<div class="input-group">
			      <input type="text" disabled="disabled" style="background: white;" class="form-control" placeholder="I'm learning">
			      <span class="input-group-btn glyphicon glyphicon-search">
			        <!--  button class="btn btn-default" type="button">1</button -->
			        <span class="btn btn-default glyphicon glyphicon-search" style="top:-1px; border-left-style: none;"> </span>
			      </span>
			    </div><!-- /input-group -->
			</div>
			<!--
			<div class="div-row">
				<label class="">Native in teaching language only<input type="checkbox" class="tutor-check" id="native_only" ng-click="checkNativeOnly()"></label>
				<label class="tutor-label">Online only<input type="checkbox" class="tutor-check" id="online_only"></label>
			</div>
			 -->
		</div>
		<!-- mobile tutor list -->
		<div class="tutor-mid" ng-repeat="tutor in tutor_list">

			<div class="row">
				<!-- 좌측 tutor profile 영역 -->
				<!--div class="tutorinfo-profile"-->
				<div class="tutor-mobile-list" ng-click="clickTutorInfo(tutor.user)">
					<!-- image 영역 -->
					<div class="col-xs-4 mobile-left-div">
						<!--div class="profile-image"-->
						<div class="div-image">
							<div ng-if="tutor.is_login == 1" class="div-left-online"></div>
							<a href="tutor/[[tutor.user]]"><img ng-src="[[tutor.profile_photo]]" alt="유저사진" class="tutor-image-radius"></a>
						</div>
						<div class="find-profile-mobile-name">
							<a href="tutor/[[tutor.user]]">[[ tutor.name ]]</a>
						</div>
						<div class="find-profile-mobile-name">
							<img ng-src="[[tutor.nation_flag]]" alt="국가이미지" class="nation-image" >
						</div>
					</div>

					<!-- image 우측 상세 영역 -->
					<div class="col-xs-8">
					<!--div class="profile-info"-->
						<div class="div-mobile-profile">
							<!--div class="profile-name"-->
	
	
							<!--div class="profile-teach"-->
							<div class="find-profile-mobile-teach">
								<span class="sub-title">{% trans "Teaches" %}</span>
								<span ng-repeat="teach in tutor.teaches"> [[ teach.name ]] </span>
							</div>
							<!--div class="profile-language"-->
							<div class="find-profile-mobile-language">
								<span class="sub-title">{% trans "Speaks" %}</span>
								<span ng-repeat="speak in tutor.speaks"> [[ speak.name ]] </span>
									<!--img src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" /-->
	
									<!--img src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" /-->
							</div>
							<!--div class="profile-nation"-->
							<div class="profile-mobile-nation">
								<!--div class="nation-img-area">
									<img src="{% static 'img/tutor/icon_live_in.png' %}" alt="레벨표시" />
								</div-->
								<img src="{% static 'img/tutor/icon_live_in.png' %}" alt="레벨표시" />
								<span>[[ tutor.nation_live ]], [[ tutor.city_live ]]</span>
							</div>
							<div class="find-mobile-price1">
								[[ tutor.lesson_min_price ]] ~ [[ tutor.lesson_max_price ]] C/Hr
							</div>
							<div class="find-mobile-price2">
								[[ tutor.lesson_min_price ]]00 ~ [[ tutor.lesson_max_price ]]00 KRW
							</div>
						</div>
						<div class="divClearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div  ng-if="page_info.has_next != 0" class="row mobile-show-more" style="text-align:center;background:#ececec;">
		<a id="btn_more" class="btn btn-default" style="width: 100%;" ng-click="showMoreTutorList()">{% trans "Show more" %}</a>
		</div>
		<div class="tutor-schedule-backdrop loading" ng-if="loading"></div>
		<div id="tutor-schedule-template-mobile" ng-if="loading">
			<img src="{% static 'img/ajax_loading.gif' %}">
		</div>

		</div>
</div>
</div>

<script src="{% static 'js/chosen.jquery.js' %}"></script>
<script src="{% static 'js/tutor/tutor_find.js' %}"></script>

<script>
$(".chzn-select").chosen();

$(document).ready(function(){
	$("#tutor-schedule-template-backdrop").removeClass("displaynone");
	$("#tutor-schedule-template").removeClass("displaynone");
});

function goTop2(){
	window.scrollTo(0,0);
}

</script>

{% endblock %}