{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
{% block title %}{% trans "Edit Profile" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutor/editprofile.css' %}" />
<!--not used 
<link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}" />
 -->

<style>
.container{
	width: 1024px !important;
	padding: 0;
	padding-top:56px !important;
}
.menu, .content{
	color: black !important;
	float: left;
}
.menu{
	width: 180px;
}
.content{
	background: white;
	width: 824px;
	font-size: 13px;
	padding: 0 20px;
	margin-left: 20px;
}
.div-menu {
	width: 180px !important;
}
.profile-template{
	background: none !important;
}
.title {
    font-size: 20px;
    color: #F47F51;
    margin-bottom: 20px;
}

</style>

<div class="">
	<div class="container" ng-controller="editController" ng-init="initProfileData({{data}});" >
		<div class="menu">
			{% include 'settings/menu.html' %}
		</div>
		
		<div class="editprofile-backdrop loading" ng-if="loading"></div>
		<div id="editprofile-template" ng-if="loading">
			<img src="{% static 'img/ajax_loading.gif' %}">
		</div>

		<div class="content">
			<div class="profile-part">
				<div class="title">{% trans "Basic information" %}</div>
				<div class="profile-row">
					<div class="profile-label" ng-click="showData()">{% trans "Profile Photo" %}*</div>
					<div class="profile-photo-content">
						<div class="profile-photo" ng-click="clickChangePhoto()">
							<img class="img-profile-photo" ng-src="[[ profile.photo_filepath + '/' ]][[ profile.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
						</div>
						<div class="edit-profile-photo" ng-click="clickChangePhoto()">
							<img style="width: 24px; height: 28px;" ng-src="/static/img/user_auth/icon_edit_photo.png">
						</div>
						<div class="clear"></div>
						<input type="file" id="profile-photo" ng-model="profile.photo_filename" onchange="angular.element(this).scope().submitProfilePhoto(this.files)"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label">{% trans "Full Name" %}*</div>
					<div class="profile-content">
						<input class="form-control profile-name-input" id="name" type="text" placeholder="Name" ng-model="profile.name" ng-click="hideTooltip('profile-name-tooltip')">
						<img style="width: 20px; height: 24px;" class="name-info-img" ng-src="{% static 'img/icon_info.png' %}" ng-click="clickNameInfoPopup();">
					</div>
					<div class="clear"></div>
				</div>

				<div class="profile-row">
					<div class="profile-label">{% trans "Gender" %}*</div>
					<div class="profile-content">
						<select class="form-control profile-gender-select" ng-model="profile.gender" ng-options="genderList.indexOf(gender) as gender for gender in genderList">
						</select>
					</div>
					<div class="clear"></div>
				</div>

				<div class="profile-row">
					<div class="profile-label">{% trans "Birthdate" %}*</div>
					<div class="profile-content">
						<select class="form-control profile-year-select" ng-model="profile.birthdate.year" ng-change="setDateList()" ng-options="year for year in yearList" ng-click="hideTooltip('profile-year-tooltip')">
							<option value="">{% trans "Year" %}</option>
						</select>
						<select class="form-control profile-month-select" ng-model="profile.birthdate.month" ng-change="setDateList()" ng-options="month for month in monthList" ng-click="hideTooltip('profile-month-tooltip')">
							<option value="">{% trans "Month" %}</option>
						</select>
						<select class="form-control profile-day-select" ng-model="profile.birthdate.day" ng-options="date for date in dateList" ng-click="hideTooltip('profile-day-tooltip')">
							<option value="">{% trans "Day" %}</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="profile-row">
					<div class="profile-label">{% trans "From" context "nation+city" %}*</div>
					<div class="profile-content">
						<select class="form-control profile-from-select" ng-change="getCityInfo(profile.from_country_id, 'from')" ng-model="profile.from_country_id" ng-options="nation.id as nation.country for nation in nationsInfo">
						</select>
						<select class="form-control profile-from-select" ng-model="profile.from_city_id" ng-options="city.id as city.city for city in fromCity">
						</select>
						<img ng-if="profile.from_country_id" class="nations-image nation-border" ng-src="/static/img/nations/[[ nationsInfo[profile.from_country_id].flag_filename ]]" onerror="hideNationImage()">
					</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label">{% trans "Living in" context "nation+city" %}*</div>
					<div class="profile-content">
						<select class="form-control profile-country-select" ng-model="profile.livingin_country_id" ng-change="getCityInfo(profile.livingin_country_id, 'livingin')" ng-options="nation.id as nation.country for nation in nationsInfo">
						</select>
						<select class="form-control profile-city-select"  ng-model="profile.livingin_city_id" ng-options="city.id as city.city for city in livinginCity">
						</select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label">{% trans "Current Time" %}</div>
					<div class="profile-content">
						<div class="profile-display-time">[[ currentTime ]]</div>
						<div class="tellpin-flat-button change-timezone-button h24 bg-lblue f-gray-33" ng-click="timezoneSelected = 1" ng-hide="timezoneSelected == 1">Change Time Zone</div>
						<select class="form-control profile-timezone-select" ng-blur="timezoneSelected = 0" ng-show="timezoneSelected == 1" ng-change="changeTimezone()" ng-model="profile.timezone_id" ng-options="timezone.id as timezone.utc_location for timezone in timezoneInfo">
							<option value="">{% trans "Select Timezone" %}</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>

				<div class="profile-row">
					<div class="profile-label">{% trans "Currency" %}*</div>
					<div class="profile-content">
						<select class="form-control profile-currency-select" ng-model="profile.currency_id" ng-options="currency.id as currency.code for currency in currencyInfo">
						</select>
					</div>
					<div class="clear"></div>
				</div>

				<div class="profile-row">
					<div class="profile-label">{% trans "Language" %}</div>
					<div class="profile-content">
						<select class="form-control profile-gender-select" ng-model="profile.display_language" ng-options="languageList.indexOf(lang) as lang for lang in languageList">
						</select>
					</div>
					<div class="clear"></div>
				</div>

				<div class="profile-button-row">
					<div class="tellpin-flat-button save-button h26 bg-blue f13" ng-click="saveProfile()">{% trans "Save" %}</div>
				</div>
			</div>
			<div class="profile-part">
				<div class="title" style="float: left;">{% trans "Language Proficiency" %}</div>
				<div class="profile-pending-tag h26" ng-if="profile.lang_modify != null">{% trans "Pending Approval" %}</div>
				<div class="clear"></div>
									<!-- 
				<div class="profile-row">
					<div class="profile-label">Native Language*</div>

					<div class="profile-content profile-native1-select">
						<select id="native1" class="form-control language-select" ng-model="profile.native"
							ng-options="language.id as language.lang_english for language in languageInfo"
							chosen multiple="multiple" data-placeholder="Select Native language" ng-change="showNative()">
						</select>		
					</div>

					<div class="clear"></div>
				</div>
									 -->
				<div class="profile-row">
					<div class="profile-label">{% trans "Native Language" %}*</div>
					<div class="profile-content">
						<div class="profile-select-row">
							<div class="additional-row">
								<select class="form-control language-select"  ng-model="profile.native1_id" ng-click="getOldLanguage('native1_id')" ng-change="changeLanguge('native1_id')" ng-options="language.id as language.lang_english for language in languageInfo">
<!-- 									<option value="" selected="selected" disabled="disabled">Select language</option> -->
								</select>
							</div>
							<div class="profile-row-add" ng-show="profile.native2_id == null">
								<a ng-click="addNativeLanguage(2)">{% trans "+ Add" %}</a>
							</div>
						</div>
						<div class="profile-select-row" ng-if="profile.native2_id != null">
							<div class="additional-row">
								<div>
									<select class="form-control language-select" id="native2" ng-model="profile.native2_id" ng-click="getOldLanguage('native2_id')" ng-change="changeLanguge('native2_id')" ng-options="language.id as language.lang_english for language in languageInfo">
<!-- 										<option value="" selected="selected" disabled="disabled">Select language</option> -->
									</select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteNativeLanguage(2)">
								</div>
							</div>
							<div class="clear"></div>
							<div class="profile-row-add" ng-show="profile.native3_id == null">
								<a ng-click="addNativeLanguage(3)">{% trans "+ Add" %}</a>
							</div>
						</div>
						<div class="profile-select-row" ng-if="profile.native3_id != null">
							<div class="additional-row">
								<div>
									<select class="form-control language-select" ng-model="profile.native3_id" ng-click="getOldLanguage('native3_id')" ng-change="changeLanguge('native3_id')" ng-options="language.id as language.lang_english for language in languageInfo">
<!-- 										<option value="" selected="selected" disabled="disabled">Select language</option> -->
									</select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteNativeLanguage(3)">
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label">{% trans "Language(s) I learn or speak" %} *</div>
					<div class="profile-content">
						<div class="profile-select-row">
							<div class="additional-row" >
								<div class="personal-row-select-level profile-learning1-select">
									<select class="form-control language-select" ng-model="profile.lang1_id" ng-change="changeLanguge('lang1_id')" ng-click="getOldLanguage('lang1_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="profile.lang1_level" ng-change="addTeachingLanguage()" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning1_check" ng-model="profile.lang1_learning" ng-click="">
								</div>
							</div>
							<div class="add-button" ng-show="profile.lang2_id == null">
								<a href="" ng-click="addLearningLanguage(2)">{% trans "+ Add" %}</a>
							</div>
						</div>
						<div class="profile-select-row" ng-if="profile.lang2_id != null">
							<div class="additional-row" >
								<div class="personal-row-select-level">
									<select class="form-control language-select" ng-model="profile.lang2_id" ng-change="changeLanguge('lang2_id')" ng-click="getOldLanguage('lang2_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="profile.lang2_level" ng-change="addTeachingLanguage()" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLanguage(2)">
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning2_check" ng-model="profile.lang2_learning" ng-click="">
								</div>
							</div>
							<div class="add-button"  ng-show="profile.lang3_id == null">
								<a href="" ng-click="addLearningLanguage(3)">{% trans "+ Add" %}</a>
							</div>
						</div>
						<div class="profile-select-row" ng-if="profile.lang3_id != null">
							<div class="additional-row" >
								<div class="personal-row-select-level">
									<select class="form-control language-select" ng-model="profile.lang3_id" ng-change="changeLanguge('lang3_id')" ng-click="getOldLanguage('lang3_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="profile.lang3_level" ng-change="addTeachingLanguage()" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLanguage(3)">
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning3_check" ng-model="profile.lang3_learning" ng-click="">
								</div>
							<div class="add-button"  ng-show="profile.lang4_id == null">
								<a href="" ng-click="addLearningLanguage(4)">{% trans "+ Add" %}</a>
							</div>
							</div>
						</div>
						<div class="profile-select-row" ng-if="profile.lang4_id != null">
							<div class="additional-row" >
								<div class="personal-row-select-level">
									<select class="form-control language-select" ng-model="profile.lang4_id" ng-change="changeLanguge('lang4_id')" ng-click="getOldLanguage('lang4_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="profile.lang4_level" ng-change="addTeachingLanguage()" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLanguage(4)">
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning4_check" ng-model="profile.lang4_learning" ng-click="">
								</div>
							</div>
							<div class="add-button"  ng-show="profile.lang5_id == null">
								<a href="" ng-click="addLearningLanguage(5)">{% trans "+ Add" %}</a>
							</div>
						</div>
						<div class="profile-select-row" ng-if="profile.lang5_id != null">
							<div class="additional-row" >
								<div class="personal-row-select-level">
									<select class="form-control language-select" ng-model="profile.lang5_id" ng-change="changeLanguge('lang5_id')" ng-click="getOldLanguage('lang5_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="profile.lang5_level" ng-change="addTeachingLanguage()" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLanguage(5)">
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning5_check" ng-model="profile.lang5_learning" ng-click="">
								</div>
							</div>
							<div class="add-button"  ng-show="profile.lang6_id == null">
								<a href="" ng-click="addLearningLanguage(6)">{% trans "+ Add" %}</a>
							</div>
						</div>
						<div class="profile-select-row" ng-if="profile.lang6_id != null">
							<div class="additional-row" >
								<div class="personal-row-select-level">
									<select class="form-control language-select" ng-model="profile.lang6_id" ng-change="changeLanguge('lang6_id')" ng-click="getOldLanguage('lang6_id')" ng-options="language.id as language.lang_english for language in languageInfo"></select>
								</div>
								<div class="personal-row-select-level">
									<select class="form-control level-select" ng-model="profile.lang6_level" ng-change="addTeachingLanguage()" ng-options="skillLevel.id as skillLevel.level for skillLevel in skillLevelInfo"></select>
								</div>
								<div class="delete-language-button delete-icon-style">
									<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLanguage(6)">
								</div>
								<div class="">
									<input type="checkbox" class="personal-learning-checkbox" id="learning6_check" ng-model="profile.lang6_learning" ng-click="">
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="personal-row">
					<div class="profile-label">{% blocktrans %}Teaching<br>Language{% endblocktrans %}</div>
					<div class="personal-teach-list">
						<div ng-repeat="teach in teachable" ng-class=" teach.state == 1 ? 'selected-tag' : 'teach-tag' " ng-click="selectTeachingLanguage($index)">
							[[ teach.lang_english ]]
						</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="profile-button-row">
					<div class="tellpin-flat-button save-button h26 bg-blue f13" ng-if="profile.lang_modify == null" ng-click="pendingLanguage()">{% trans "Save" %}</div>
					<div class="pending-save-button h26 bg-gray f13" ng-if="profile.lang_modify != null">{% trans "Save" %}</div>
				</div>
			</div>
			<div class="profile-part">
				<div class="title">{% trans "Introduction at User Profile" %}</div>
				<div class="profile-row">
					<div class="profile-label-content">
						<div class="profile-label-resume">{% trans "Short Introduction" %}</div>
					</div>
					<div class="profile-text-content">
						<textarea id="short-introduction" class="userprofile-short-intro" kr-input name="profile_quick_intro" ng-model="profile.user_shortIntro" ng-trim="false" maxlength="250" ng-maxlength="250" cols="70" rows="6" ng-focus="hideTooltip( 'profile-short-tooltip' )"></textarea>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="profile-quick-intro-size">[[profile.user_shortIntro.length]]/250</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label-content">
						<div class="profile-label-resume">{% trans "Long Introduction" %}</div>
					</div>
					<div class="profile-text-content">
						<textarea id="long-introduction" class="userprofile-long-intro" kr-input name="profile_long_intro" ng-model="profile.user_longIntro" ng-trim="false" maxlength="2000" ng-maxlength="2000" cols="70" rows="15" ng-focus="hideTooltip( 'profile-long-tooltip' )"></textarea>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="profile-long-intro-size">[[profile.user_longIntro.length]]/2000</div>
					<div class="clear"></div>
				</div>
				<div class="profile-button-row">
					<div class="tellpin-flat-button save-button h26 bg-blue f13" ng-click="saveUserIntro()">{% trans "Save" %}</div>
				</div>
			</div>

			<div class="profile-part">
				<div class="title" style="float: left;">{% trans "Introduction at Tutor Profile" %}</div>
				<div class="profile-pending-tag h26" ng-if="profile.intro_modify != null">{% trans "Pending Approval" %}</div>
				<div class="clear"></div>
				<div class="profile-row">
					<div class="profile-label-resume">{% trans "Video Introduction" %}*</div>
					<div class="profile-text-content">
						<textarea id="video-introduction" class="profile-video-intro" name="profile_video_intro" ng-model="profile.video_intro" max_length="1000" ng-maxlength="1000" cols="70" rows="2" ng-focus="hideTooltip( 'profile-short-tooltip' )"></textarea>
					</div>
					<div class="clear"></div>
				</div>
			
				<div class="profile-row">
					<div class="profile-label-content">
						<div class="profile-label-resume">{% trans "Short Introduction" %}*</div>
					</div>
					<div class="profile-text-content">
						<textarea id="short-introduction" class="profile-short-intro" kr-input name="profile_quick_intro" ng-model="profile.short_intro" ng-trim="false" maxlength="250" ng-maxlength="250" cols="70" rows="6" ng-focus="hideTooltip( 'profile-short-tooltip' )"></textarea>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="profile-quick-intro-size">[[profile.short_intro.length]]/250</div>
					<div class="clear"></div>
				</div>
				<div class="profile-row">
					<div class="profile-label-content">
						<div class="profile-label-resume">{% trans "Long Introduction" %}*</div>
					</div>
					<div class="profile-text-content">
						<textarea id="long-introduction" class="profile-long-intro" kr-input name="profile_long_intro" ng-model="profile.long_intro" ng-trim="false" maxlength="2500" ng-maxlength="2500" cols="70" rows="15" ng-focus="hideTooltip( 'profile-long-tooltip' )"></textarea>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="profile-long-intro-size">[[profile.long_intro.length]]/2500</div>
					<div class="clear"></div>
				</div>
				<div class="profile-button-row">
					<div class="tellpin-flat-button save-button h26 bg-blue f13" ng-if="profile.intro_modify == null" ng-click="pendingTutorIntro()">{% trans "Save" %}</div>
					<div class="pending-save-button h26 bg-gray f13" ng-if="profile.intro_modify != null">{% trans "Save" %}</div>
				</div>
			</div>

			<form id="profile-form" role="form" name="profile">
				<div class="profile-part">
					<div class="profile-pending-tag h26" ng-if="profile.resume_modify != null">{% trans "Pending Approval" %}</div>
					<div class="clear"></div>
					<div class="work-exp-row">
						<div class="resume_label"> {% trans "1. Work Experience" %}</div>
						<div class="work-exp-content">
							<div class="add-btn" ng-show="formdata.work1.info == false" ng-click="openWorkModal('work1')">{% trans "+ Add" %}
							</div>
							<div class="work_row pos-container" ng-show="formdata.work1.info == true">
								<div class="work_exp_year">
									<span>[[formdata.work1.start_year.val]]</span> - <span>[[formdata.work1.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('work1')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('work', '1')">X</div>
								</div>
								<div class="work_exp_position">
									<span><b>[[formdata.work1.position.val]]</b></span>
								</div>
								<div class="work_exp_info">
									<span>[[formdata.work1.company.val]]</span> <span>[[formdata.work1.city.val]]</span> <span>[[formdata.work1.country_name]]</span>
								</div>
								<div class="work_exp_desc">
									<span>[[formdata.work1.description.val]]</span>
								</div>
							</div>
						</div>
		
						<div class="work-exp-content">
							<div class="add-btn" ng-show="formdata.work1.info == true && formdata.work2.info == false" ng-click="openWorkModal('work2')">{% trans "+ Add" %}</div>
							<div class="work_row pos-container" ng-show="formdata.work2.info == true">
								<div class="work_exp_year">
									<span>[[formdata.work2.start_year.val]]</span> - <span>[[formdata.work2.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('work2')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('work', '2')">X</div>
								</div>
								<div class="work_exp_position">
									<span><b>[[formdata.work2.position.val]]</b></span>
								</div>
								<div class="work_exp_info">
									<span>[[formdata.work2.company.val]]</span> <span>[[formdata.work2.city.val]]</span> <span>[[formdata.work2.country_name]]</span>
								</div>
								<div class="work_exp_desc">
									<span>[[formdata.work2.description.val]]</span>
								</div>
							</div>
						</div>
		
						<div class="work-exp-content">
							<div class="add-btn" ng-show="formdata.work1.info == true && formdata.work2.info == true && formdata.work3.info == false" ng-click="openWorkModal('work3')">{% trans "+ Add" %}</div>
							<div class="work_row pos-container" ng-show="formdata.work3.info == true">
								<div class="work_exp_year">
									<span>[[formdata.work3.start_year.val]]</span> - <span>[[formdata.work3.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('work3')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('work', '3')">X</div>
								</div>
								<div class="work_exp_position">
									<span><b>[[formdata.work3.position.val]]</b></span>
								</div>
								<div class="work_exp_info">
									<span>[[formdata.work3.company.val]]</span> <span>[[formdata.work3.city.val]]</span> <span>[[formdata.work3.country_name]]</span>
								</div>
								<div class="work_exp_desc">
									<span>[[formdata.work3.description.val]]</span>
								</div>
							</div>
						</div>
					</div>
	
					<div class="education">
						<div class="resume_label"> {% trans "2. Education" %}</div>
						<div class="education-content">
							<div class="add-btn" ng-show="formdata.education1.info == false" ng-click="openEducationModal('education1')">{% trans "+ Add" %}</div>
							<div class="work_row pos-container" ng-show="formdata.education1.info == true">
								<div class="education_year">
									<span>[[formdata.education1.start_year.val]]</span> - <span>[[formdata.education1.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('education1')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('education' , '1')">X</div>
								</div>
								<div class="education_school_location">
									<span><b>[[formdata.education1.school.val]]</span> , <span>[[formdata.education1.location_name]]</b></span>
								</div>
								<div class="education_degree_major">
									<span>[[formdata.education1.degree]]</span> <span>[[formdata.education1.major.val]]</span>
								</div>
								<div class="education_desc">
									<span>[[formdata.education1.description.val]]</span>
								</div>
							</div>
						</div>
	
						<div class="education-content">
							<div class="add-btn" ng-show="formdata.education1.info == true && formdata.education2.info == false" ng-click="openEducationModal('education2')">{% trans "+ Add" %}</div>
							<div class="work_row pos-container" ng-show="formdata.education2.info == true">
								<div class="education_year">
									<span>[[formdata.education2.start_year.val]]</span> - <span>[[formdata.education2.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('education2')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('education', '2')">X</div>
								</div>
								<div class="education_school_location">
									<span><b>[[formdata.education2.school.val]]</span> , <span>[[formdata.education2.location_name]]</b></span>
								</div>
								<div class="education_degree_major">
									<span>[[formdata.education2.degree]]</span> <span>[[formdata.education2.major.val]]</span>
								</div>
								<div class="education_desc">
									<span>[[formdata.education2.description.val]]</span>
								</div>
							</div>
						</div>
	
						<div class="education-content">
							<div class="add-btn" ng-show="formdata.education1.info == true && formdata.education2.info == true && formdata.education3.info == false" ng-click="openEducationModal('education3')">{% trans "+ Add" %}</div>
							<div class="work_row pos-container" ng-show="formdata.education3.info == true">
								<div class="education_year">
									<span>[[formdata.education3.start_year.val]]</span> - <span>[[fformdata.education3.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style"><img ng-click="editResumeData('education3')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('education', '3')">X</div>
								</div>
								<div class="education_school_location">
									<span><b>[[formdata.education3.school.val]]</span> , <span>[[formdata.education3.location_name]]</b></span>
								</div>
								<div class="education_degree_major">
									<span>[[formdata.education3.degree]]</span> <span>[[formdata.education3.major.val]]</span>
								</div>
								<div class="education_desc">
									<span>[[formdata.education3.description.val]]</span>
								</div>
							</div>
						</div>
					</div>
	
					<div class="certificate">
						<div class="resume_label"> {% trans "3. Certificate, Language Test" %}</div>
						<div class="certificate-content">
							<div class="add-btn" ng-show="formdata.certificate1.info == false" ng-click="openCertificateModal('certificate1')">{% trans "+ Add" %}</div>
							<div class="work_row pos-container" ng-show="formdata.certificate1.info == true">
								<div class="certificate_year">
									<span>[[formdata.certificate1.year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('certificate1')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('certificate', '1')">X</div>
								</div>
								<div class="certificate_name">
									<span><b>[[formdata.certificate1.name.val]]</b></span>
								</div>
								<div class="certificate_organization">
									<span>[[formdata.certificate1.organization.val]]</span>
								</div>
								<div class="certificate_desc">
									<span>[[formdata.certificate1.description.val]]</span>
								</div>
							</div>
						</div>
	
						<div class="certificate-content">
							<div class="add-btn" ng-show="formdata.certificate1.info == true && formdata.certificate2.info == false" ng-click="openCertificateModal('certificate2')">{% trans "+ Add" %}</div>
							<div class="work_row pos-container" ng-show="formdata.certificate2.info == true">
								<div class="certificate_year">
									<span>[[formdata.certificate2.year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('certificate2')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('certificate', '2')">X</div>
								</div>
								<div class="certificate_name">
									<span><b>[[formdata.certificate2.name.val]]</b></span>
								</div>
								<div class="certificate_organization">
									<span>[[formdata.certificate2.organization.val]]</span>
								</div>
								<div class="certificate_desc">
									<span>[[formdata.certificate2.description.val]]</span>
								</div>
							</div>
						</div>
	
						<div class="certificate-content">
							<div class="add-btn" ng-show="formdata.certificate1.info == true && formdata.certificate2.info == true && formdata.certificate3.info == false" ng-click="openCertificateModal('certificate3')">{% trans "+ Add" %}</div>
							<div class="work_row pos-container" ng-show="formdata.certificate3.info == true">
								<div class="certificate_year">
									<span>[[formdata.certificate3.year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('certificate3')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('certificate', '3')">X</div>
								</div>
								<div class="certificate_name">
									<span><b>[[formdata.certificate3.name.val]]</b></span>
								</div>
								<div class="certificate_organization">
									<span>[[formdata.certificate3.organization.val]]</span>
								</div>
								<div class="certificate_desc">
									<span>[[formdata.certificate3.description.val]]</span>
								</div>
							</div>
						</div>
					</div>
	
					<div class="clear"></div>
					<div class="profile-button-row">
	 					<div class="tellpin-flat-button save-button h26 bg-blue f13" ng-if="profile.resume_modify == null" ng-click="pendingResumeTutor()">{% trans "Save" %}</div>
						<div class="pending-save-button h26 bg-gray f13" ng-if="profile.resume_modify != null">{% trans "Save" %}</div>
					</div>
				</div>
			</form>

			<div class="profile-part">
				<div class="title">{% trans "Communication Tool" %}</div>
				<!-- How to lesson Field -->
				<div class="profile-content">
<!-- 
					<input type="radio"  ng-model="profile.audio_only" value="0">  {% trans "Video Available" %}
					<div class="tools-description"> {% trans "- Many students prefer live video lessons to live audio lessons." %}</div>
					<input type="radio" ng-model="profile.audio_only" value="1">  {% trans "Voice Only" %}
					<div class="tools-description"> {% trans "- Want to turn webcam off during class." %}</div>
-->
				</div>
				<div class="profile-content">
					<div class="profile-select-list">
						<div class="profile-select-row" ng-repeat="messenger in profile.tools">
							<div class="profile-select-tools">
								<select class="form-control" ng-model="messenger.name" ng-change="checkToolsValidation($index)" ng-click="getOldTools($index)" >
									<option value="[[ tool.name ]]" ng-repeat="tool in tools" ng-selected="messenger.name == tool.name">
										[[ tool.name ]]
									</option>
								</select>
							</div>
							<div class="profile-select-tools-info">
								<input type="text" class="form-control" ng-model="messenger.account" placeholder="ID" />
							</div>
							<div class="profile-select-delete delete-icon-style" ng-show="!$first">
								<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteTools($index)">
							</div>
							<div class="profile-row-add" ng-show="$last && $index+2 < tools.length">
								<a href="" ng-click="addTools()">{% trans "+ Add" %}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="profile-button-row">
					<div class="tellpin-flat-button save-button h26 bg-blue f13" ng-click="saveTools()">{% trans "Save" %}</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div id="profile-name-tooltip" class="profile-tooltip"></div>
		<div id="profile-short-tooltip" class="profile-tooltip"></div>
		<div id="profile-long-tooltip" class="profile-tooltip"></div>
		<div id="profile-year-tooltip" class="profile-tooltip"></div>
		<div id="profile-month-tooltip" class="profile-tooltip"></div>
		<div id="profile-day-tooltip" class="profile-tooltip"></div>
		<div id="profile-native-tooltip" class="profile-tooltip"></div>
		<div id="profile-learning-tooltip" class="profile-tooltip"></div>
		<div id="profile-teaching-tooltip" class="profile-tooltip"></div>
		<div id="profile-level-tooltip" class="profile-tooltip"></div>
		<div class="name-popup-backdrop" ng-show="nameInfo" ng-click="clickNameInfoPopup()"></div>
		<div id="name-info" class="name-info-popup" ng-show="nameInfo">
			{% trans "Your Full Name" %} : <br>
			* {% trans "Must be between 3-50 characters in length <br>
			* {% trans "Cannot contain following special characters" %} : ~ ! @ # $ % ^ & * ( ) _ - + = [ ] { } \ ; : " ' | < > ? / <br>
			* {% trans "Can have spaces between characters and should be case-sensitive" %} <br>
			* {% trans "Can use multiple languages" %} <br>
		</div>

					<!-- WorkModal -->
					<div class="modal fade" id="worktModal" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog work-modal">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"> X </button>
									<h4 class="modal-title">{% trans "Add Work Experience" %}</h4>
								</div>
								<div class="modal-body">
									<div class="modal-row form-group  ">
										<label class="modal-label-time" for="work-start-year">{% trans "Time period" %}</label>
										<select id="work-start-year" class="form-control modal-years" ng-model="work_modal.start_year" ng-change="setEndYearList(work_modal);" ng-options="start_year.name for start_year in modalYearList track by start_year.val"></select>
										<div class="to-area">{% trans "to" %}</div>
										<select class="form-control modal-years" ng-model="work_modal.end_year" ng-options="end_year.name for end_year in endYearList track by end_year.val"></select>
									</div>
									
									<div class="modal-row form-group has-feedback" id="work-company">
										<label class="modal-label-company control-label" for="modal-text-company">{% blocktrans %}Company or <br> Organization{% endblocktrans %}</label>
										<div class="">
										<input type="text" id="modal-text-company" class="form-control modal-text-company someinput" ng-model="work_modal.company.val" ng-keyup="countingText('work-company', work_modal.company, 1, 80)" maxlength="81" ng-maxlength="81" ng-trim="false" kr-input>
										<span ng-if="work_modal.company.valid" ng-click="clearText('work-company', work_modal.company)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
									</div>
									<p class="help-block-margin help-block" ng-if="work_modal.company.valid">{% trans "Please enter between 2 and 80 characters." %}</p>
									
									<div class="modal-row form-group">
										<label class="modal-label-country" for="modal-sel-country">{% trans "Country" %}</label>
										<select id="modal-sel-country" class="form-control modal-years" ng-model="work_modal.country" ng-options="nation.id as nation.country for nation in nationsInfo">
	<!-- 										<option value="">Country</option> -->
										</select>
									</div>
									
									<div class="modal-row form-group has-feedback" id="work-city">
										<label class="modal-label-city control-label" for="modal-text-city">{% trans "City" %}</label>
										<input id="modal-text-city" type="text" class="form-control modal-text-city someinput" ng-model="work_modal.city.val" ng-keyup="countingText('work-city', work_modal.city, 1, 50)" maxlength="51" ng-maxlength="51" ng-trim="false" kr-input>
										<span ng-if="work_modal.city.valid" ng-click="clearText('work-city', work_modal.city)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="work_modal.city.valid">{% trans "Please enter between 2 and 50 characters." %}</p>
									
									<div class="modal-row form-group has-feedback" id="work-position">
										<label class="modal-label-position control-label" for="modal-text-position">{% trans "Position" %}</label>
										<input id="modal-text-position" type="text" class="form-control modal-text-position someinput" ng-model="work_modal.position.val" ng-keyup="countingText('work-position', work_modal.position, 1, 50)" maxlength="51" ng-maxlength="51" ng-trim="false" kr-input>
										<span ng-if="work_modal.position.valid" ng-click="clearText('work-position', work_modal.position)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="work_modal.position.valid">{% trans "Please enter between 2 and 50 characters." %}</p>
									
									<div class="modal-row form-group has-feedback" id="work-desc">
										<label class="modal-label-desc" for="modal-text-desc">{% trans "Description" %}</label>
										<textarea class="form-control modal-text-desc" id="modal-text-desc" ng-model="work_modal.description.val" style="border: 1px solid #ccc; width: 330px;" ng-keyup="countingText('work-desc', work_modal.description, 1, 150)" maxlength="151" ng-maxlength="151" ng-trim="false" kr-input rows="7" 
										ng-mouseover="workDescPH = togglePH(false, strings.labels.modal_work_desc)" 
										ng-mouseleave="workDescPH = togglePH(true, strings.labels.modal_work_desc)" 
										placeholder="[[ workDescPH ]]"></textarea>
									    <span ng-if="work_modal.description.valid" ng-click="clearText('work-desc', work_modal.description)" class="modal-text-remove-btn modal-text-remove-btn-textarea glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="work_modal.description.valid">{% trans "Please enter between 2 and 150 characters." %}</p>
									
									<div class="modal-row form-group pos-container">
										<label class="modal-label-file control-label">{% blocktrans %}Diploma<br>Attachment<br>(optional){% endblocktrans %}</label>
										<div class="tp-upload-file">
											<input class="upload-name" value="Find File" disabled="disabled">
											<label for="write-file1">{% trans "Find File" %}</label> 
											<input class="upload-hidden" id="write-file1" type="file" onchange="angular.element(this).scope().uploadResumeFile(this.files)">
											<button type="button" class="close pos-tool-trashcan" ng-click="deleteResumeFile('work_modal', 'work_exp_file', 1);"><img src="/static/img/message/icon_delete_line_small.png"> </button>
										</div>
									</div>
									
									<div style="clear:both;"></div>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn bg-blue" ng-click="submitWorkModal();">{% trans "Submit" %}</button>
								</div>
							</div>
						</div>
					</div> <!-- work modal -->
	
	
					<!-- education Modal -->
					<div class="modal fade" id="educationModal" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog work-modal">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"> X </button>
									<h4 class="modal-title">{% trans "Add Education" %}</h4>
								</div>
								<div class="modal-body" style="height: 475px">
									<div class="modal-row form-group">
										<label class="modal-label-time" for="edu-start-year">{% trans "Time period" %}</label>
										<select id="edu-start-year" class="form-control modal-years" ng-model="education_modal.start_year" ng-change="setEndYearList(education_modal);" ng-options="start_year.name for start_year in modalYearList track by start_year.val">
										</select>
										<div class="to-area">{% trans "to" %}</div>
										<select class="form-control modal-years" ng-model="education_modal.end_year"  ng-options="end_year.name for end_year in endYearList track by end_year.val">
										</select>
									</div>
									<div class="modal-row form-group has-feedback" id="edu-school">
										<label class="modal-label-shcool control-label" for="edu-modal-text-shcool">{% trans "School" %}</label>
										<input id="edu-modal-text-shcool" type="text" class="form-control modal-text-shcool someinput" ng-model="education_modal.school.val" ng-keyup="countingText('edu-school', education_modal.school, 1, 80)" maxlength="81" ng-maxlength="81" ng-trim="false" kr-input>
										<span ng-if="education_modal.school.valid" ng-click="clearText('edu-school', education_modal.school)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="education_modal.school.valid">{% trans "Please enter between 2 and 80 characters." %}</p>
									
									<div class="modal-row form-group">
										<label class="modal-label-location control-label" for="edu-location">{% trans "Location" %}</label>
										<select id="edu-location" class="form-control modal-select-location" ng-model="education_modal.location" ng-options="nation.id as nation.country for nation in nationsInfo">
										</select>
									</div>
									<div class="modal-row form-group">
										<label class="modal-label-degree control-label" for="edu-degree">{% blocktrans %}Degree<br>(optional){% endblocktrans %}</label>
										<select id="edu-degree" class="form-control modal-select-degree" ng-model="education_modal.degree" ng-options="degree for degree in degreeList">
											<option value="">{% trans "Select one" %}</option>
										</select>
									</div>
									<div class="modal-row form-group has-feedback" id="edu-major">
										<label class="modal-label-major control-label" for="edu-modal-text-major">{% blocktrans %}Major<br>(optional){% endblocktrans %}</label>
										<input id="edu-modal-text-major" type="text" class="form-control modal-text-major someinput" ng-model="education_modal.major.val" ng-keyup="countingText('edu-major', education_modal.major, 1, 50)" maxlength="51" ng-maxlength="51" ng-trim="false" kr-input>
										<span ng-if="education_modal.major.valid" ng-click="clearText('edu-major', education_modal.major)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="education_modal.major.valid">{% trans "Please enter between 2 and 50 characters." %}</p>
									
									
									<div class="modal-row form-group has-feedback" id="edu-desc">
										<label class="modal-label-desc control-label" for="edu-modal-text-desc">{% blocktrans %}Description<br>(optional){% endblocktrans %}</label>
										<textarea class="form-control modal-text-desc" id="edu-modal-text-desc" ng-model="education_modal.description.val" style="border: 1px solid #ccc; width: 330px;" ng-keyup="countingText('edu-desc', education_modal.description, 1, 150)" maxlength="151" ng-maxlength="151" ng-trim="false" kr-input rows="7" 
										ng-mouseover="eduDescPH = togglePH(false, strings.labels.modal_education_desc)" 
										ng-mouseleave="eduDescPH = togglePH(true, strings.labels.modal_education_desc)" 
										placeholder="[[ eduDescPH ]]"></textarea>
										<span ng-if="education_modal.description.valid" ng-click="clearText('edu-desc', education_modal.description)" class="modal-text-remove-btn modal-text-remove-btn-textarea glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="education_modal.description.valid">{% trans "Please enter between 2 and 150 characters." %}</p>
									
									<div class="modal-row form-group pos-container">
										<label class="modal-label-file control-label">{% blocktrans %}Diploma<br>Attachment<br>(optional){% endblocktrans %}</label>
										<div class="tp-upload-file">
											<input class="upload-name" value="Find File" disabled="disabled">
											<label for="write-file2">{% trans "Find File" %}</label> 
											<input class="upload-hidden" id="write-file2" type="file" onchange="angular.element(this).scope().uploadResumeFile(this.files)">
											<button type="button" class="close pos-tool-trashcan" ng-click="deleteResumeFile('education_modal', 'education_file', 2);"><img src="/static/img/message/icon_delete_line_small.png"> </button>
										</div>
									</div>
								</div>
								<div style="clear:both;"></div>
								
								<div class="modal-footer">
									<button type="submit" class="btn bg-blue" ng-click="submitEducationModal();">{% trans "Submit" %}</button>
								</div>
							</div>
						</div>
					</div> <!-- education modal -->
	
					<!-- certificate Modal -->
					<div class="modal fade" id="certificateModal" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm work-modal">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"> X </button>
									<h4 class="modal-title">{% trans "Add Certificate, Language Test" %}</h4>
								</div>
								
								<div class="modal-body" style="height: 390px">
									<div class="modal-row form-group">
										<label class="modal-label-time" for="certi-start-year">{% trans "Year received" %}</label>
										<select id=certi-start-year"" class="form-control modal-certificate-years" ng-model="certificate_modal.year" ng-options="year.val for year in modalYearList track by year.name">
	<!-- 										<option value="">Year</option> -->
										</select>
									</div>
									
									<div class="modal-row form-group has-feedback" id="certi-name">
										<label class="modal-label-name control-label" for="certi-modal-text-name">{% trans "Name" %}</label>
										<input id="certi-modal-text-name" type="text" class="form-control modal-text-name someinput" ng-model="certificate_modal.name.val" ng-keyup="countingText('certi-name', certificate_modal.name, 1, 50)" maxlength="51" ng-maxlength="51" ng-trim="false" kr-input 
										ng-mouseover="certiNamePH = togglePH(false, strings.labels.modal_certificate_name)" 
										ng-mouseleave="certiNamePH = togglePH(true, strings.labels.modal_certificate_name)" 
										placeholder="[[ certiNamePH ]]">
										<span ng-if="certificate_modal.name.valid" ng-click="clearText('certi-name', certificate_modal.name)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="certificate_modal.name.valid">{% trans "Please enter between 2 and 50 characters." %}</p>
									
									<div class="modal-row form-group has-feedback" id="certi-organization">
										<label class="modal-label-organization control-label">{% blocktrans %}Organization <br>or Institution{% endblocktrans %}</label>
										<input id="certi-modal-text-organization" type="text" class="form-control modal-text-organization someinput" ng-model="certificate_modal.organization.val" ng-keyup="countingText('certi-organization', certificate_modal.organization, 1, 50)" maxlength="51" ng-maxlength="51" ng-trim="false" kr-input 
										ng-mouseover="certiOrganizationPH = togglePH(false, strings.labels.modal_certificate_organization)" 
										ng-mouseleave="certiOrganizationPH = togglePH(true, strings.labels.modal_certificate_organization)" 
										placeholder="[[ certiOrganizationPH ]]">
										<span ng-if="certificate_modal.organization.valid" ng-click="clearText('certi-organization', certificate_modal.organization)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="certificate_modal.organization.valid">{% trans "Please enter between 2 and 50 characters." %}</p>
									
									<div class="modal-row form-group has-feedback" id="certi-desc">
										<label class="modal-label-desc-certificate control-label" for="certi-modal-text-desc">{% blocktrans %}Description<br>(optional){% endblocktrans %}</label>
										<textarea class="form-control modal-text-desc" id="certi-modal-text-desc" ng-model="certificate_modal.description.val" style="border: 1px solid #ccc; width: 330px;" ng-keyup="countingText('certi-desc', certificate_modal.description, 1, 150)"  maxlength="151" ng-maxlength="151" ng-trim="false" kr-input rows="7" 
										ng-mouseover="certiDescPH = togglePH(false, strings.labels.modal_certificate_desc)" 
										ng-mouseleave="certiDescPH = togglePH(true, strings.labels.modal_certificate_desc)" 
										placeholder="[[ certiDescPH ]]"></textarea>
										<span ng-if="certificate_modal.description.valid" ng-click="clearText('certi-desc', certificate_modal.description)" class="modal-text-remove-btn modal-text-remove-btn-textarea glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="certificate_modal.description.valid">{% trans "Please enter between 2 and 150 characters." %}</p>
									
									<div class="modal-row form-group pos-container">
										<label class="modal-label-file">{% blocktrans %}Diploma<br>Attachment<br>(optional){% endblocktrans %}</label>
										<div class="tp-upload-file">
											<input class="upload-name" value="Find File" disabled="disabled">
											<label for="write-file3">{% trans "Find File" %}</label> 
											<input class="upload-hidden" id="write-file3" type="file" onchange="angular.element(this).scope().uploadResumeFile(this.files)">
											<button type="button" class="close pos-tool-trashcan" ng-click="deleteResumeFile('certificate_modal', 'certification_file', 3);"><img src="/static/img/message/icon_delete_line_small.png"> </button>
										</div>
									</div>
								</div>
								<div style="clear:both;"></div>
								
								<div class="modal-footer">
									<button type="submit" class="btn bg-blue" ng-click="submitCertificateModal();">{% trans "Submit" %}</button>
								</div>
							</div>
						</div>
					</div> <!-- certificate modal -->

	</div>
</div>


<script src="{% static 'js/tutor/tutor_edit_profile.js' %}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<!-- input[type="file"] style  -->
<link rel="stylesheet" type="text/css" href="{% static 'css/input-file.css' %}" />
<script type="text/javascript" src="{% static 'js/input-file.js' %}"></script>

{% endblock %}