{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Language Learning Board" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/community/languageboard_list.css' %}" />

<div class="lb-content" id="tellpin-lb" ng-controller="lbListController" ng-init="initLbList({{data}})" ng-click="hideShareMenu($event)">
	<div class="lb-header">
		<div class="lb-title">
			{% trans "Language Learning Board" %}
		</div>
		<div class="lb-search">
			<input type="text" placeholder="Search" ng-model="searchWord" id="search-data">
			<img ng-src="/static/img/community/icon_search.png" ng-click="searchBoards()">
		</div>
	</div>
	<div class="lb-selector">
		<div class="lan-select-label">{% trans "For learning" %}</div>
		<select class="form-control learning-select" ng-model="learning_lang" ng-change="changeLb('learning')" ng-options="lang.id as lang.lang_english for lang in languageInfoForLearning"></select>
		<div class="lan-select-label">{% trans "Explained in" %}</div>
		<select class="form-control explained-select" ng-model="explained_lang" ng-change="changeLb('explained')" ng-options="lang.id as lang.lang_english for lang in languageInfoForExplained"></select>
<!-- 		<div class="community-my-content" ng-click="goURL([['/reading/']]);" >My contents</div>  -->
	</div>
	<div class="lb-list" infinite-scroll='getMoreLb()' infinite-scroll-distance=1 infinite-scroll-disabled="scrollAction">
		<div class="lb-post-board" ng-repeat="board in boards" ng-class="$index%3 == 2 ? 'right-board' : '' ">
			<div class="board-title-row" ng-click="goURL([[ '/board/'+ board.id + '/' ]])">
				<div class="board-title">[[ board.title ]]</div>
				<div class="board-writer">{% blocktrans %}[[ languageInfo[board.learning_lang-1].lang_english ]] &nbsp;explained in&nbsp; [[ languageInfo[board.explained_lang-1].lang_english ]]{% endblocktrans %}</div>
			</div>
			<div class="board-img-row" ng-click="goURL([[ '/board/'+ board.id + '/' ]])" ng-if="board.main_img_fid != null">
				<div class="board-img"> <img ng-src="[[ board.main_img_fid.filepath ]]"> </div>
<!-- 				<div class="board-img" ng-style="{'background-image':'url([[ board.img_info.filepath ]])'}"></div>  -->
			</div>
			<div class="board-content" ng-click="goURL([[ '/board/'+ board.id + '/' ]])" ng-if="board.main_img_fid != null">[[ board.contents | getText]]</div>
			<div class="board-content-full" ng-click="goURL([[ '/board/'+ board.id + '/' ]])" ng-if="board.main_img_fid == null">[[ board.contents | getText]]</div>
			<div class="board-writer-info">
				<div class="board-writer-img pop-wrap" ng-mouseenter="userPopover( $event, board.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
					<a href="/user/[[ board.writer_info.user ]]"><img class="board-writer-photo" ng-src="/static/img/upload/profile/[[ board.writer_info.photo_filename ]]" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"'/></a>
				</div>
				<div class="board-write-row">
					<div class="board-writer-name" ng-click="goURL([[ '/user/'+ board.writer_info.user + '/' ]])">[[ board.writer_info.name ]] </div>
					<img class="board-writer-nation nation-border" ng-src="/static/img/nations/[[ countryInfo[board.writer_info.from_country_id-1].flag_filename ]]" ng-if="countryInfo[board.writer_info.from_country_id-1].flag_filename" >
					<div class="board-views">[[ board.view_count ]] {% blocktrans %}[[ !(board.view_count == '0' || board.view_count == '1') ? 'Views' : 'View']]{% endblocktrans %} - [[ board.comment_count ]] {% blocktrans %}[[ !(board.comment_count == '0' || board.comment_count == '1') ? 'Comments' : 'Comment']]{% endblocktrans %}</div>
					<div class="board-time">[[board.updated_time | displayTime:browser]]</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="board-action-row">
				{% if request.session.email %}
				<div class="board-action action-vote" ng-click=" board.writer_info.email == '{{request.session.email}}' ? '' : voteLb(board.id, $index)"><div class="board-action-name"><img ng-src="/static/img/community/icon_thumb_up.png">{% trans "Upvote" %}</div><div id="board-action-count" class="board-action-count">[[ board.vote_count > 99 ? '99+' : board.vote_count ]]</div></div>
				<div class="board-action action-pin" ng-click=" board.writer_info.email == '{{request.session.email}}' ? '' : pinLb(board.id, $index) "><div class="board-action-name"><img ng-src="/static/img/community/icon_pin.png">{% trans "Pin" %}</div><div class="board-action-count">[[ board.pin_count > 99 ? '99+' : board.pin_count ]]</div></div>
				<div id="share-button" class="board-action action-share" ng-click="showShareMenu($event, board.id)"><img ng-src="/static/img/community/icon_share.png">{% trans "Share" %}</div>
				<div class="clear"></div>
				{% else %}
				<div class="board-action action-vote" onclick="goUrlAfterLogin('/board/')"><div class="board-action-name"><img ng-src="/static/img/community/icon_thumb_up.png">{% trans "Upvote" %}</div><div id="board-action-count" class="board-action-count">[[ board.vote_count > 99 ? '99+' : board.vote_count ]]</div></div>
				<div class="board-action action-pin" onclick="goUrlAfterLogin('/board/')"><div class="board-action-name"><img ng-src="/static/img/community/icon_pin.png">{% trans "Pin" %}</div><div class="board-action-count">[[ board.pin_count > 99 ? '99+' : board.pin_count ]]</div></div>
				<div id="share-button" class="board-action action-share" ng-click="showShareMenu($event, board.id)"><img ng-src="/static/img/community/icon_share.png">{% trans "Share" %}</div>
				<div class="clear"></div>
				{% endif %}
			</div>
		</div>
		<div class="clear"></div>
	</div>
<!-- **	share menu -->
	<div id="share-tool-box" class="tool-box-bottom" ng-show="shareMenu">
		<div class="share-arrow-box">
			<img ng-src="/static/img/community/icon_facebook.png" ng-click="showSharePopup([[ 'http://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri }}' + lbURL ]], 500, 300)">
			<img ng-src="/static/img/community/icon_twitter.png" ng-click="showSharePopup([[ 'https://twitter.com/intent/tweet?url={{request.build_absolute_uri }}' + lbURL ]], 500, 450)">
			<img ng-src="/static/img/community/icon_google+.png" ng-click="showSharePopup([[ 'https://plus.google.com/share?url={{request.build_absolute_uri }}' + lbURL ]], 680, 423)">
			<img ng-src="/static/img/community/icon_pinterest.png" ng-click="showSharePopup([[ 'http://pinterest.com/pin/create/button/?url={{request.build_absolute_uri }}' + lbURL ]], 800, 500)">
			<img ng-src="/static/img/community/icon_tumblr.png" ng-click="showSharePopup([[ 'http://www.tumblr.com/share/link?url=[[ absUrl }}' + lbURL ]], 460, 500)">
			<img id="copyURL" ng-src="/static/img/community/icon_url.png" ng-click="copyURL([[ '{{request.build_absolute_uri }}' + lbURL ]])">
		</div>
	</div>
	<div class="clear"></div>
	<div class="lb-side-menu">
		<div class="lb-side-button lb-write-board" ng-click="goURL('/board/write/')"><img ng-src="/static/img/community/icon_write.png"></div>		
		<div class="lb-side-button lb-scroll-top" ng-show="scrollTopBt==true" ng-click="moveScrollTop()"><img ng-src="/static/img/community/icon_page_up.png"></div>
	</div>
</div>

<script src="{% static 'js/community/languageboard_list.js' %}"></script>

{% endblock %}
