{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Write a post" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}

<!-- medium-editor -->
<link rel="stylesheet" type="text/css" href="{% static 'css/writing/medium-editor.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/community/languageboard_write.css' %}" />


<div id="lb-write" ng-controller="lbWriteController" ng-init="initLbWrite({{data}})">
	<div class="cw-lang-selector">
		<div class="div-learning-select">
			<div class="lan-select-label">{% trans "For learning" %}</div>
			<select class="form-control learning-select" id="id-learning-select" ng-show="submit_empty_learning_select == false" ng-model="learning_lang_id" ng-change="changeLb('learning_lang_id')" ng-options="lang.id as lang.lang_english for lang in languageInfoForLearning"></select>
			<select class="form-control learning-select" id="id-learning-select" ng-show="(learning_lang_id == 0 || learning_lang_id == lanIndex + 1) && submit_empty_learning_select == true" style="border-color: red;" ng-model="learning_lang_id" ng-change="changeLb('learning_lang_id')" ng-options="lang.id as lang.lang_english for lang in languageInfoForLearning"></select>
			<div class="warnig-learning-select" ng-show="submit_empty_learning_select == true">
				{% trans "What is target language of this post?" %}
			</div>
		</div>
		<div class="div-explained-select">
			<div class="lan-select-label">{% trans "Explained in" %}</div>
			<select class="form-control explained-select" id="id-explained-select" ng-show="submit_empty_explained_select == false" ng-model="explained_lang_id" ng-change="changeLb('explained_lang_id')" ng-options="lang.id as lang.lang_english for lang in languageInfoForExplained"></select>
			<select class="form-control explained-select" id="id-explained-select" ng-show="(explained_lang_id == 0 || explained_lang_id == lanIndex + 1) && submit_empty_explained_select == true" style="border-color: red;" ng-model="explained_lang_id" ng-change="changeLb('explained_lang_id')" ng-options="lang.id as lang.lang_english for lang in languageInfoForExplained"></select>
			<div class="warnig-explained-select" ng-show="submit_empty_explained_select == true">
				{% trans "In which language is this explained?" %}
			</div>
		</div>
	</div>
	<div class="cw-title-row">
		<input type="text" id="title" class="cw-title" rows=1 placeholder="Title" ng-model="boardTitle" maxlength="100" kr-input>
	</div>
	<div class="cw-title-size">[[boardTitle.length]]/100</div>
	<div class="editor-block" ng-repeat="block in blocks">
		<div class="media-block" ng-if="block.type == 1" >
			<img id="upload-img" ng-src="[[block.src]]">
<!-- 			<div class="img-del" id="img-del" ng-click="removeImg($index);"></div>
 -->
		</div>
		<div class="media-block" ng-if="block.type == 2" >
            <iframe class="tutor-intro" width="100%" height="600px" ng-src="[[ youtubeRegex( block.src ) ]]" frameborder="0" allowfullscreen></iframe>
<!--             <div class="img-del" id="img-del" ng-click="removeVideo($index);"></div>
 -->
		</div>
		<div id="media-tool-[[$index]]" class="media-tool" ng-init="setPosition($index)" ng-show="block.type == 0">
			<div class="media-add-button" ng-click="showTools($index); showData()">
				<div class="add-tool"></div>
			</div>
			<div class="media-tools" ng-show="block.mediaTools">
				<div class="media-button" ng-click="showFilePicker($index)">
					<div class="img-tool"></div>
				</div>
				<div class="media-button" ng-click="showVidoPicker($index)">
					<div class="video-tool"></div>
				</div>
<!-- 				<div class="media-button"> -->
<!-- 					<div class="link-tool"></div> -->
<!-- 				</div> -->
			</div>
			<input id="img-tool-[[$index]]" class="img-tool-box" type="file" onchange="angular.element(this).scope().submitImgFile(this.files, angular.element(this).scope().$index)">

		</div>
		<div class="remove-block-button" ng-if="blocks.length > 1 && $index > 0" ng-click="removeBlock($index);">
			<div class="remove-tool"></div>
		</div>
		<div ng-if="modify == false" class="editor-block-[[ $index ]] angular-medium-editor medium-editor-placeholder" kr-input medium-editor bind-options="mediumBindOptions" ng-model="block.content" ng-init="block.content='<p></p>';" ng-blur="blurBlock()"></div>
		<div ng-if="modify == true" class="editor-block-[[ $index ]] angular-medium-editor medium-editor-placeholder-edit" medium-editor bind-options="mediumBindOptions" ng-model="block.content"  ng-blur="blurBlock()"></div>
		<div class="editor-under-line"></div>
 		<div class="add-block bg-gray" ng-hide="(blocks.length > 2 ) || (block.content == '<p></p>' || block.content == '') && block.type == 0 || blocks.length-1 != $index" ng-click="addBlock($index)">{% trans "Add a picture or video" %}</div>
	</div>
	<div class="cw-btn-row">
		<div class="tellpin-grey-flat-button lb-write-cancle h26 bg-gray" ng-click="goBack()">{% trans "Cancel" %}</div>
		<div class="tellpin-flat-button lb-write-submit h26 bg-blue" ng-click="modify == false ? submitPost() : updatePost()">{% trans "Submit" %}</div>
	</div>
	<div class="cw-backdrop" ng-show="videoPopup != -1"></div>
	<div id="cw-video-picker" ng-show="videoPopup != -1">
		<div class="cw-popup-header"></div>
		<div class="cw-popup-body">
			<textarea id="video-tool" rows=3 placeholder="Type of paste a URL" ng-model="videoURL"></textarea>
		</div>
		<div class="cw-popup-footer">
			<div class="cw-footer-btn">
				<div class="tellpin-grey-flat-button lb-popup-cancle h26 bg-grey" ng-click="hideVideoPopup()">{% trans "Cancel" %}</div><div class="tellpin-flat-button lb-popup-ok" ng-click="submitVideo()">{% trans "OK" %}</div>
			</div>
		</div>
	</div>
	<div class="cw-backdrop" ng-show="filePopup != -1"></div>
	<div id="cw-img-picker" ng-show="filePopup != -1">
		<div class="cw-popup-header">
			<div class="cw-pop-title">{% trans "Image upload" %}</div>
			<div class="cw-pop-del" ng-click="hidefilePopup()">X</div>
		</div>
		<div class="cw-popup-body">
			<div class="local-img" ng-click="localFilePicker(index)"></div>
			<div class="url-img" ng-click="showUrlPopup();"></div>
		</div>
		<div class="cw-popup-footer">
		</div>
	</div>
	<div class="cw-backdrop" ng-show="urlPopup != -1"></div>
	<div id="cw-img-picker" ng-show="urlPopup != -1">
		<div class="cw-popup-header">
			<div class="cw-pop-title">{% trans "Image upload" %} - {% trans "URL" %}</div>
		</div>
		<div class="cw-popup-body">
			<textarea id="img-select-tool" rows=3 placeholder="Type of paste a URL" ng-model="imgURL"></textarea>
		</div>
		<div class="cw-popup-footer">
			<div class="cw-footer-btn">
				<div class="tellpin-grey-flat-button lb-popup-cancle h26 bg-grey" ng-click="hideurlPopup()">{% trans "Cancel" %}</div><div class="tellpin-flat-button lb-popup-ok" ng-click="submitImg()">{% trans "OK" %}</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/community/languageboard_write.js' %}"></script>

{% endblock %}