{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{{ title }} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/community/languageboard_detail.css' %}" />

<div id="lb-detail" ng-controller="lbDetailController" ng-init="initLbDetail({{data}})" ng-click="hideShareMenu($event)">
	<div class="cd-title-row">
		<div class="qd-navigation"><a ng-click="goURL('/dashboard/')">{% trans "Home" %}</a> > {% trans "Community" %} > <a ng-click="goURL('/board')">{% trans "Language Learning Board" %}</a></div>
	</div>
	<div class="cd-title-row">
		<div class="cd-title">[[ post.title ]]</div>
		{% if request.session.email %}
		<div class="qd-right-bt" ng-show="userInfo.user == post.writer_info.user">
			<form id="edit-post" action="/board/editpost/" method="post">
				<input name="pid" type="hidden" value=[[post.id]]>
			</form>
			<div class="qd-edit-bt tellpin-flat-button" ng-click="editlb(post.id)">{% trans "Edit" %}</div>
			<div class="qd-del-bt tellpin-grey-flat-button" ng-click="removelb(post.id)">{% trans "Delete" %}</div>
	 		
		</div>
		{% endif %}
		<div class="cd-lang-info" ng-show="post.learning_lang != post.explained_lang">{% blocktrans %}[[ languageInfo[post.learning_lang-1].lang_english ]] &nbsp;explained in&nbsp; [[ languageInfo[post.explained_lang - 1].lang_english ]]{% endblocktrans %}</div>
		<div class="cd-lang-info" ng-show="post.learning_lang == post.explained_lang">[[ languageInfo[post.learning_lang-1].lang_english ]]</div>
		<div class="cd-time">[[ post.updated_time | displayTime:browser ]]</div>
	</div>
	<div class="cd-detail-content" ng-bind-html="trustAsHtml(post.contents)"></div>
	<div class="cd-writer-info">
		<div class="cd-user-img pop-wrap" ng-mouseenter="userPopover( $event, post.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
			<a href="/user/[[ post.writer_info.user ]]"><img ng-src="/static/img/upload/profile/[[ post.writer_info.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" class="cd-info"></a>
		</div>
		<div class="cd-user-info">
			<div class="cd-user-name" ng-click="goURL([[ '/user/'+ post.writer_info.user + '/' ]])">
				[[ post.writer_info.name]] <img class="nation-border" ng-if="nationsInfo[post.writer_info.from_country_id-1].flag_filename" ng-src="/static/img/nations/[[ nationsInfo[post.writer_info.from_country_id-1].flag_filename ]]" >
			</div>
			<div class="card-action-row">
				{% if request.session.email %}
				<div class="card-action action-vote" ng-click=" userInfo.user == post.writer_info.user ? '' : voteLb() "><div class="card-action-name"><img ng-src="/static/img/community/icon_thumb_up.png">{% trans "Upvote" %}</div><div class="card-action-count">[[ post.vote_count > 99 ? '99+' : post.vote_count ]]</div></div>
				<div class="card-action action-pin" ng-click=" userInfo.user == post.writer_info.user ? '' : pinLb() "><div class="card-action-name"><img ng-src="/static/img/community/icon_pin.png">{% trans "Pin" %}</div><div class="card-action-count">[[ post.pin_count > 99 ? '99+' : post.pin_count ]]</div></div>
				{% else %}
				<div class="card-action action-vote" ng-click="goUrlAfterLogin('/board/'+ [[post.pid]])"><div class="card-action-name"><img ng-src="/static/img/community/icon_thumb_up.png">{% trans "Upvote" %}</div><div class="card-action-count">[[ post.vote_count > 99 ? '99+' : post.vote_count ]]</div></div>
				<div class="card-action action-pin" ng-click="goUrlAfterLogin('/board/'+ [[post.pid]])"><div class="card-action-name"><img ng-src="/static/img/community/icon_pin.png">{% trans "Pin" %}</div><div class="card-action-count">[[ post.pin_count > 99 ? '99+' : post.pin_count ]]</div></div>
				{% endif %}
				<div id="share-button" class="card-action action-share" ng-click="showShareMenu()"><img ng-src="/static/img/community/icon_share.png">{% trans "Share" %}</div>
				{% if request.session.email %}
				<div class="cd-card-flag" ng-show="userInfo.user != post.writer_info.user" ng-click="showReportPopup()"><img src="{% static 'img/community/icon_warning.png' %}"/>{% trans "Flag" %}</div>
				{% endif %}
				<!-- **	share menu -->
				<div id="share-tool-box" class="tool-box-bottom" ng-show="shareMenu">
					<div class="share-arrow-box-lb">
						<img ng-src="/static/img/community/icon_facebook.png" ng-click="showSharePopup('http://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri }}', 500, 300)">
						<img ng-src="/static/img/community/icon_twitter.png" ng-click="showSharePopup('https://twitter.com/intent/tweet?url={{request.build_absolute_uri }}', 500, 450)">
						<img ng-src="/static/img/community/icon_google+.png" ng-click="showSharePopup('https://plus.google.com/share?url={{request.build_absolute_uri }}', 680, 423)">
						<img ng-src="/static/img/community/icon_pinterest.png" ng-click="showSharePopup('http://pinterest.com/pin/create/button/?url={{request.build_absolute_uri}}&media=http://www.tellpin.com/static/img/mainpage/tellpin_header_logo_title_beta.png', 800, 500)">
						<img ng-src="/static/img/community/icon_tumblr.png" ng-click="showSharePopup('http://www.tumblr.com/share/link?url={{request.build_absolute_uri }}', 460, 500)">
						<img id="copyURL" ng-src="/static/img/community/icon_url.png" ng-click="copyURL('{{request.build_absolute_uri }}')">
					</div>
				</div>
			</div>
			<div class="cd-count-row">
				{% if request.session.email %}
				<div class="cd-view-count">[[ post.views ]] {% blocktrans %}[[ !(post.views == '0' || post.views == '1') ? 'Views' : 'View']]{% endblocktrans %}</div><div class="cd-comment-count"> [[ commentCount ]] {% blocktrans %}[[ !(commentCount == '0' || commentCount == '1') ? 'Comments' : 'Comment']]{% endblocktrans %}</div><div class="cd-add-comment" ng-click="showLbCommentTextarea()" ng-class="lbCommentTextarea == 1 ? 'showing' : ''">{% trans "Add comment" %}</div>
				{% else %}
				<div class="cd-view-count">[[ post.views ]] {% blocktrans %}[[ !(post.views == '0' || post.views == '1') ? 'Views' : 'View']]{% endblocktrans %}</div><div class="cd-comment-count"> [[ commentCount ]] {% blocktrans %}[[ !(commentCount == '0' || commentCount == '1') ? 'Comments' : 'Comment']]{% endblocktrans %}</div> 
				{% endif %}
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="cd-comment-row">
		<div class="cd-comment" ng-repeat="comment in post.comments">
			<div class="cd-comment-main">
				<div class="cd-comment-img pop-wrap" ng-mouseenter="userPopover( $event, comment.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
					<a href="/user/[[ comment.writer_info.user ]]"><img ng-src="/static/img/upload/profile/[[ comment.writer_info.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" class="cd-info"></a>
				</div>
				<div class="cd-comment-info">
					<div class="cd-comment-header">
						<div class="cd-comment-username">[[ comment.writer_info.name ]]</div><div class="cd-comment-time">[[ comment.created_time | displayTime:browser ]]</div>
<!-- 
						{% if request.session.email %}
						<div class="cd-comment-del" ng-if="userInfo.user == comment.user" ng-click="deleteComment(comment.id)"></div>
						{% endif %}
-->
					</div>
					<div class="cd-comment-content" ng-class="comment.contents == '!delete!' ? 'deleted-comment' : '' ">[[ comment.contents == '!delete!' ? ' This comment was deleted by writer.' :  comment.contents ]]</div>
				</div>
				<div class="clear"></div>
			</div>
<!-- delete sub comment 
			<div class="cd-comment-btn">
				{% if request.session.email %}
				<div class="cd-comment-count"> [[ comment.sub_comments.length ]] comment</div><div class="cd-add-comment" ng-click="showSubCommentTextarea($index)" ng-class="subCommentTextarea[$index] ? 'showing' : '' ">Add a comment</div>
				{% else %}
				<div class="cd-comment-count"> [[ comment.sub_comments.length ]] comment</div>
				{% endif %} 
			</div>

			<div class="cd-sub-comment-list">
				<div class="cd-sub-comment-main" ng-repeat="subComment in comment.sub_comments">
					<div class="cd-comment-img pop-wrap" ng-mouseenter="userPopover( $event, subComment.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
						<a href="/user/[[ subComment.writer_info.user ]]"><img ng-src="/static/img/upload/profile/[[ subComment.writer_info.profile_photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" class="cd-info"></a>
					</div>
					<div class="cd-comment-info">
						<div class="cd-comment-header">
							<div class="cd-comment-username">[[ subComment.writer_info.name ]]</div><div class="cd-comment-time">[[ subComment.created_time | displayTime:browser ]]</div>
							{% if request.session.email %}
							<div class="cd-comment-del" ng-if="userInfo.user == subComment.user_id" ng-click="deleteSubComment(subComment.id, $parent.$parent.$index)"></div>
							{% endif %}
						</div>
						<div class="cd-comment-content">[[ subComment.contents ]]</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
-->
			<div class="cd-sub-comment-textarea" ng-show="subCommentTextarea[$index]">
				<textarea class="sub-comment-textarea-[[$index]]" ng-model="lbSubComment[$index]" maxlength="2000" ng-maxlength="2000" cols="100" rows="4"></textarea>
				<div class="cd-comment-wordcount">[[ lbSubComment[$index] == null ? 0 : lbSubComment[$index].length ]]/2000&nbsp;&nbsp; </div>
				<div class="cd-comment-btnrow">
					<div class="tellpin-grey-flat-button cd-comment-cancel" ng-click="hideSubCommentTextarea($index)">{% trans "Cancel" %}</div><div class="tellpin-flat-button cd-comment-post" ng-click="addSubComment($index)">{% trans "Add comment" %}</div>
				</div>
			</div>
		</div>
		<div class="cd-comment-textarea" ng-show="lbCommentTextarea">
			<textarea ng-model="lbComment" maxlength="2000" ng-maxlength="2000" cols="100" rows="4" kr-input></textarea>
			<div class="cd-comment-wordcount">[[ lbComment == null ? 0 : lbComment.length ]]/2000&nbsp;&nbsp; </div>
			<div class="cd-comment-btnrow">
				<div class="tellpin-grey-flat-button cd-comment-cancel" ng-click="hideLbCommentTextarea($index)">{% trans "Cancel" %}</div><div class="tellpin-flat-button cd-comment-post" ng-click="addLbComment($index)">{% trans "Add comment" %}</div>
			</div>
		</div>
	</div>
	<!-- 	report-popup -->
	<div class="report-popup-backdrop" ng-show="reportPopup" ng-click="hideReportPopup()"></div>
	<div id="report-popup" ng-show="reportPopup">
		<div class="report-head">{% trans "Report a Violation" %}</div>
		<div class="qd-report-cancel" ng-click="hideReportPopup()">X</div>
		<div class="report-desc">
			{% blocktrans %}If you see something on Tellpin that you believe violates our Terms and <a>Tellpin Community Guidelines,</a><br>
			please report it to us. We promise you to take appropriate measures immediately.<br><br>
			Violations include :<br>
			1) Privacy violation <br>
			2) Harassment <br>
			3) Impersonation <br>
			4) Spam <br>
			5) Malicious speech <br>
			6) Posting Sexually explicit content, Shocking or disgusting content <br>
			7) Unlawful uses or content (phishing, fraud, threats, copyright or trademark infringement, etc.) <br>
			8) Intellectual property violations <br>
			and more. <br><br><br>
			Please describe in detail :<br><br>{% endblocktrans %}
			<div class="report-input">
				<textarea class="report-textarea" ng-model="reportContent" maxlength="2000" ng-maxlength="2000" cols="62" rows="4"></textarea>
			</div>
			<div class="report-under-line"></div>
			<div class="report-footer">{% trans "Report a Problem or Mistake" %}</div>
			<div class="report-desc">
				{% blocktrans %}<br>It's not a violation, but did you find something that belongs to one of these?<br>
				Your suggestion will be reviewed and we'll handle it!<br><br>
				o The text or image is difficult to read.<br>
				o Language setting is wrong.<br>
				o The content is not helpful at all or has nothing do with language learning.{% endblocktrans %}
			</div>
			<div class="report-btnset">
				<div class="qd-report-submit  tellpin-flat-button" ng-click="lbViolation(post.id)">{% trans "Submit" %}</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/community/languageboard_detail.js' %}"></script>

{% endblock %}