{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Post a question" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/community/tp_qna_write.css' %}" />
<!-- input[type="file"] style  -->
<link rel="stylesheet" type="text/css" href="{% static 'css/input-file.css' %}" />

<div id="community-write" ng-controller="lqWriteController" ng-init="initWrite({{data}})">
	<div class="community-write-row">
		<div class="write-label">{% trans "Title" %}</div>
		<input class="form-control community-write-title" id="title" type="text" ng-model="title" maxlength="150" ng-maxlength="150">
		<div class="write-char-remaining">[[ title.length ]]/150</div>
	</div>
	<div class="community-write-row">
		<div class="write-label">{% trans "Content" %}</div>
		<div class="write-textarea">
			<textarea id="write-textarea" ng-model="writeContent" ng-trim="false" kr-input maxlength="1000" ng-maxlength="1000"  highlight-on-error></textarea>
		</div>
		<div class="write-char-remaining" ng-show="editText == true">[[maxLen]]/1000</div>
	</div>
	<div class="community-write-row">
		<div class="write-select-label">{% trans "This content is written in" %}</div>
		<select class="form-control write-written-select" ng-model="written_lang" ng-change="selectLag('written_lang')" ng-options="lang.id as lang.lang_english for lang in languageInfoForLearning"></select>
	</div>
	<div class="community-write-row">
		<div class="write-select-label">{% trans "This content is for learning" %}</div>
		<select class="form-control write-written-select" ng-model="question_lang" ng-change="selectLag('question_lang')" ng-options="lang.id as lang.lang_english for lang in languageInfoForExplained"></select>
	</div>
	<div class="community-write-row">
		<div class="write-select-label">{% trans "Upload a picture(Optional)" %}</div>
		<div class="tp-upload-file">
			<input class="upload-name" value="Find File" disabled="disabled">
			<label for="write-file">{% trans "Find File" %}</label> 
			<input class="upload-hidden" id="write-file" type="file" onchange="angular.element(this).scope().getWriteFile(this.files)">
		</div>
		<div class="file-check-alert" ng-if="fileCheck == true">{% trans "Uploaded file is not a valid image. Only JPG, JPEG, PNG and GIF files are allowed." %}</div>
	</div>
<!-- 
	<div class="community-write-row">
		<div class="write-desc">{% trans "* I'd like to give my" %}</div>
 		<select class="form-control write-point-select" ng-disabled="initPoint > 0 && modify == true" ng-change="inputCoin(best_answer_credit)" ng-model="best_answer_credit" ng-options="point for point in bestanswercreditInfo"></select>
		<div class="write-desc">{% trans "Tellpin Credits to the best answerer I choose." %} (10 TC=1 USD)</div>
		<div class="clear"></div>
		<div class="check-coin" ng-show="inputCoinCheck == false">{% trans "Available Tellpin Credits(TC)" %}: 1000 Refresh</div>
	</div>
 -->
	<div class="community-write-btnrow">
		<div class="tellpin-flat-button community-write-cancel h26 bg-gray" ng-click="goBack()">{% trans "Cancel" %}</div>
		<div class="tellpin-flat-button community-write-post h26 bg-blue" ng-click="modify == false ? post() : update()">{% trans "Post" %}</div>
	</div>
</div>

<script src="{% static 'js/community/qna_write.js' %}"></script>
<script type="text/javascript" src="{% static 'js/writing/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/input-file.js' %}"></script>

{% endblock %}