{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Language Questions" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/community/tp_qna_list.css' %}" />

<div class="list-wrapper">
	<div ng-controller="lqListController" ng-click="close($event)" ng-init="initLQ({{data}})">
		<div class="header">
			<div class="community-title">{% trans "Language Questions" %}
<!-- 				<div class="community-my-content" ng-click="goURL([['/reading/']]);">My contents</div>  -->
			</div>
			
 <!-- 
			<div class="div-nav">
				<a ng-class="tab_num==1 ? 'selected-tab' : '' " ng-click="tab_click(1);">All</a> / 
				<a ng-class="tab_num==2 ? 'selected-tab' : '' " ng-click="tab_click(2);">My Questions</a> / 
				<a ng-class="tab_num==3 ? 'selected-tab' : '' " ng-click="tab_click(3);">My Answers</a>
			</div>
 -->
			<div class="community-select-row" ng-show="tab_num==1">
				<div class="lan-select-label-qna">{% trans "Written in" %}</div>
				<select class="form-control" ng-model="writtenLang" ng-change="changeLQs('writtenLang')" ng-options="lang.id as lang.lang_english for lang in languageInfoForWritten"></select>
				<div class="lan-select-label-qna">{% trans "For learning" %}</div>
				<select class="form-control" ng-model="questionLang" ng-change="changeLQs('questionLang')" ng-options="lang.id as lang.lang_english for lang in languageInfoForQuestion"></select>
				<a href="/questions/write/"><div class="btn-write bg-blue h34">{% trans "Ask Question" %}</div></a>
			</div>
		</div>
		<div class="list" infinite-scroll='getMoreList()' infinite-scroll-distance=1 infinite-scroll-disabled="scrollAction">
			<div class="div-list" ng-repeat="lq in LQs" >
			<div class="qna-point" ng-click="goURL([[ '/questions/'+ lq.id + '/' ]])"><!--img src="{% static 'img/ex_lesson1.png' %}"-->
				<div ng-class="lq.best_answer_id == null ? 'point' : 'point-adopt-best' " >[[lq.best_answer_credit]]</div>
				<div class="qna-div-title"><span class="qna-title">[[ lq.title ]] </span></div>
			</div>
			
			
			<div class="writer-info-row">
				<div class="writer-photo pop-wrap" ng-mouseenter="userPopover( $event, lq.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
					<a href="/user/[[ lq.writer_info.user ]]"><img ng-src="/static/img/upload/profile/[[ lq.writer_info.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" class="writer-photo-img"></a>
				</div>
				<div class="writer-info" ng-click="goURL([[ '/questions/'+ lq.id + '/' ]])">
					<div class="qna-content f-gray-33">[[lq.contents | getText]]</div>
					<div class="lq-count-row f-gray-64" ng-if="lq.written_lang != lq.question_lang"><span class="trans">{% blocktrans %}Learning [[ languageInfo[lq.question_lang -1].lang_english | shortLanguage ]], &nbsp; &nbsp; Written in [[ languageInfo[lq.written_lang -1].lang_english | shortLanguage ]]{% endblocktrans %}</span>[[ lq.answer_count ]]  {% blocktrans %}[[!(lq.answer_count == '0' || lq.answer_count == '1') ? 'Answers' : 'Answer']]{% endblocktrans %} ｜ [[ lq.comment_count ]] {% blocktrans %}[[ !(lq.comment_count == '0' || lq.comment_count == '1') ? 'Comments' : 'Comment']]{% endblocktrans %} ｜ [[ lq.views ]] {% blocktrans %}[[ !(lq.views == '0' || lq.views == '1') ? 'Views' : 'View']]{% endblocktrans %}</div>
					<div class="lq-count-row f-gray-64" ng-if="lq.written_lang == lq.question_lang"><span class="trans">{% blocktrans %}Question: [[ languageInfo[lq.question_lang -1].lang_english | shortLanguage ]]{% endblocktrans %}</span>{% blocktrans %}[[ lq.answer_count ]] [[!(lq.answer_count == '0' || lq.answer_count == '1') ? 'Answers' : 'Answer']]{% endblocktrans %} ｜ [[ lq.comment_count ]] {% blocktrans %}[[ !(lq.comment_count == '0' || lq.comment_count == '1') ? 'Comments' : 'Comment']]{% endblocktrans %} ｜ [[ lq.views ]] {% blocktrans %}[[ !(lq.views == '0' || lq.views == '1') ? 'Views' : 'View']]{% endblocktrans %}</div>
					<div class="writer-name-row" ng-click="goURL([[ '/user/'+ lq.writer_info.user + '/' ]])">[[ lq.writer_info.name]] <img class="nation-border" ng-if="nationsInfo[lq.writer_info.from_country_id-1].flag_filename" ng-src="/static/img/nations/[[ nationsInfo[lq.writer_info.from_country_id-1].flag_filename ]]" ><span class="qna-time f-gray-64"> [[lq.created_time | displayTime:browser]] </span></div>
<!-- 					<div class="lq-like-pin"> -->
<!-- 						<div class="count-box">[[ lq.like_count ]]</div> -->
<!-- 						<div class="qd-vote-up" ng-click="vote($index, lq.id)" ng-class=" lq.like == 0 && lq.dislike == 0 ? 'vote-enable' : lq.like == 1 ? 'voted-up' : '' "></div> -->
<!-- 						<img class="vote-down" ng-src="/static/img/community/icon_thumb_down.png"> -->
<!-- 						<div class="bar">｜</div> -->
<!-- 						<div class="count-box">[[ lq.pin_count ]]</div> -->
<!-- 						<div class="qd-pin" ng-click="pinIt($index, lq.id)" ng-class=" lq.pin == 0 ? 'pin-enable' : 'pin-it' "></div> -->
<!-- 						<div class="bar">｜</div> -->
<!-- 						<div class="qd-question-share" id="show_pop" ng-click="share($event);"></div> -->
<!-- 					</div> -->
				</div>
				<div class="clear"></div>
			</div>
			</a>
			</div>
		</div>
		
		<div id="share" class="tool-box-bottom">
			<div class="share-arrow-box">
				<img ng-src="/static/img/community/icon_facebook.png" ng-click="showSharePopup('http://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri }}', 500, 300)">
				<img ng-src="/static/img/community/icon_twitter.png" ng-click="showSharePopup('https://twitter.com/intent/tweet?url={{request.build_absolute_uri }}', 500, 450)">
				<img ng-src="/static/img/community/icon_google+.png" ng-click="showSharePopup('https://plus.google.com/share?url={{request.build_absolute_uri }}', 680, 423)">
				<img ng-src="/static/img/community/icon_pinterest.png" ng-click="showSharePopup('http://pinterest.com/pin/create/button/?url={{request.build_absolute_uri }}', 800, 500)">
				<img ng-src="/static/img/community/icon_tumblr.png" ng-click="showSharePopup('http://www.tumblr.com/share/link?url=[[ absUrl ]]', 460, 500)">
				<img id="copyURL" ng-src="/static/img/community/icon_url.png" ng-click="copyURL('{{request.build_absolute_uri }}')">
			</div>
		</div>
		<!-- 	report-popup -->
		<div class="report-popup-backdrop" ng-if="reportPopup" ng-click="hideReportPopup()"></div>
		<div id="report-popup" ng-show="reportPopup">
			<div class="report-head">{% trans "Any Problem?" %}</div>
			<div class="report-desc">
			{% blocktrans %}We promise you to take appropriate measures immediately if you find an inappropriate content<br>which violates the <a>Tellpin Community Guidelines,</a><br><br>
			Violations include: spam (advertisements), harassment, hate speech, sexual content, political or religious discussions, intellectual property violations, threats, impersonation or misrepresentation, phishing, privacy violations, fraud, and more.<br><br>
			Please describe a problem :<br><br>{% endblocktrans %}
			<div class="report-input">
				<textarea class="report-textarea" ng-model="reportContent" maxlength="2000" ng-maxlength="2000" cols="62" rows="4"></textarea>
			</div>
			<div class="report-btnset">
				<div class="qd-report-submit  tellpin-flat-button" ng-click="queReport(questionInfo.question.qid)">{% trans "Submit" %}</div><div class="qd-report-cancel tellpin-grey-flat-button" ng-click="hideReportPopup()">{% trans "Cancel" %}</div>
			</div>
			</div>
			
		</div>
		<div class="club-side-menu">
			<div class="club-side-button club-scroll-top" ng-show="scrollTopBt==true" ng-click="moveScrollTop()"><img ng-src="/static/img/community/icon_page_up.png"></div>
		</div>
	</div>
</div>

<script src="{% static 'js/community/qna_list.js' %}"></script>

{% endblock %}
