{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{{ title }} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/community/tp_qna_detail.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/community/languageboard_detail.css' %}" />

<div id="qd" ng-controller="lqDetailController" ng-init="initQnADetail({{data}})" ng-click="hideShareMenu($event)">
	<div class="qd-main-question">
		<div class="qd-navigation">
			<div class="qd-navigation"><a ng-click="goURL('/dashboard/')">{% trans "Home" %}</a> > {% trans "Community" %} > <a ng-click="goURL('/questions/')">{% trans "Language Questions" %}</a></div>
		</div>
		<div class="qd-top-row">
			<div ng-class="questionInfo.question.best_answer_id == null ? 'qd-point' : 'qd-point-adopt-best' " id="id-point" >[[ questionInfo.question.best_answer_credit ]]</div>
			<div class="qd-trans-info" ng-if="questionInfo.question.written_lang != questionInfo.question.question_lang">{% blocktrans %}Learning [[ languageInfo[questionInfo.question.question_lang-1].lang_english | uppercase | slice:0:3 ]], &nbsp;  Written in [[ languageInfo[questionInfo.question.written_lang-1].lang_english | uppercase | slice:0:3  ]]{% endblocktrans %}</div>
			<div class="qd-trans-info" ng-if="questionInfo.question.written_lang == questionInfo.question.question_lang">{% blocktrans %}Question : [[ languageInfo[questionInfo.question.written_lang-1].lang_english | uppercase | slice:0:3  ]]{% endblocktrans %}</div>
			{% if request.session.email %}
			<div class="qd-right-bt" ng-show="userInfo.user == questionInfo.question.user">
				<form id="edit-qna" action="/questions/editqna/" method="post">
					<input name="qid" type="hidden" value=[[questionInfo.question.id]]>
				</form>
 				<div class="qd-edit-bt tellpin-flat-button" ng-show="[[questionInfo.answers.length == 0]]" ng-click="editqna(questionInfo.question.id)">{% trans "Edit" %}</div>
 				<div class="qd-del-bt tellpin-grey-flat-button" ng-show="[[questionInfo.answers.length == 0]]" ng-click="deleteqna(questionInfo.question.id, questionInfo.question.best_answer_credit)">{% trans "Delete" %}</div>
			</div>
			{% endif %}
		</div>
	<!-- <div class="qd-trans-info">Translation : [[ languageInfo[questionInfo.question.written_lang_id-1].name | uppercase | slice:0:3  ]] <> [[ languageInfo[questionInfo.question.translated_lang_id-1].name | uppercase | slice:0:3 ]]</div> -->
	<!-- <div class="qd-date">[[ questionInfo.question.created_time | displayTime:browser ]]</div> -->
		
		
		<div class="qd-content-row">
			<div class="qd-content-box">
				<div class="qd-content-left">
					<div class="pop-wrap" ng-mouseenter="userPopover( $event, questionInfo.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
						<a href="/user/[[ questionInfo.writer_info.user ]]"><img ng-src="/static/img/upload/profile/[[ questionInfo.writer_info.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" class="qd-img"></a>
					</div>
					<div class="user-area" ng-click="goURL([[ '/user/'+ questionInfo.writer_info.user + '/' ]])">
						<div ng-class="questionInfo.writer_info.name.length > 10 ? 'qd-user-name-multiline' : 'qd-user-name'">[[ questionInfo.writer_info.name ]]</div><div ng-class="questionInfo.writer_info.name.length > 10 ? 'qd-user-country-multiline' : 'qd-user-country'"><img class="nation-border" ng-if="nationsInfo[questionInfo.writer_info.from_country_id-1].flag_filename" ng-src="/static/img/nations/[[ nationsInfo[questionInfo.writer_info.from_country_id-1].flag_filename ]]" ></div>
					</div>
				</div>
				
				<div class="qd-content-right">
					<div class="title-area">
						<div class="qd-title">[[ questionInfo.question.title ]]</div>
						<div class="qd-date">[[ questionInfo.question.created_time | displayTime:browser ]]</div>
					</div>
					<div class="content-area">
						<div class="qd-imgfile" ng-if="questionInfo.question.fid != null"><img ng-src="/static/img/upload/[[ questionInfo.question.filename ]]"></div>
						<div class="qd-content" ng-bind-html="trustAsHtml(questionInfo.question.contents)"></div>
					</div>
<!-- 
					<div class="qd-question-info">
						<div class="qd-question-vote">
							<div class="qd-question-vote-count">[[ questionInfo.question.like_count ]]</div>
							<div class="qd-vote-up" ng-click="vote(questionInfo.question.id)" ng-class=" questionInfo.question.like == 0 && questionInfo.question.dislike == 0 ? 'vote-enable' : questionInfo.question.like == 1 ? 'voted-up' : '' "></div>
						</div>
						<div class="qd-question-pin">
							<div class="qd-question-pin-count">[[  questionInfo.question.pin_count ]]</div>
							<div class="qd-pin" ng-click="pinIt(questionInfo.question.id)" ng-class=" questionInfo.question.pin == 0 ? 'pin-enable' : 'pin-it' "></div>
						</div>
						<div id="share-button" class="qd-question-share" ng-click="showShareMenu()"></div>
						<div id="share-tool-box" class="tool-box-bottom" ng-show="shareMenu">
							<div class="share-arrow-box">
								<img ng-src="/static/img/community/icon_facebook.png" ng-click="showSharePopup('http://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri }}', 500, 300)">
								<img ng-src="/static/img/community/icon_twitter.png" ng-click="showSharePopup('https://twitter.com/intent/tweet?url={{request.build_absolute_uri }}', 500, 450)">
								<img ng-src="/static/img/community/icon_google+.png" ng-click="showSharePopup('https://plus.google.com/share?url={{request.build_absolute_uri }}', 680, 423)">
								<img ng-src="/static/img/community/icon_pinterest.png" ng-click="showSharePopup('http://pinterest.com/pin/create/button/?url={{request.build_absolute_uri }}', 800, 500)">
								<img ng-src="/static/img/community/icon_tumblr.png" ng-click="showSharePopup('http://www.tumblr.com/share/link?url=[[ absUrl ]]', 460, 500)">
								<img id="copyURL" ng-src="/static/img/community/icon_url.png" ng-click="copyURL('{{request.build_absolute_uri }}')">
							</div>
						</div>
						<div class="qd-report" ng-click="showReportPopup()"><img src="{% static 'img/community/icon_warning.png' %}"/>Flag</div>
					</div>
 -->
	 				<div class="qd-question-info">
	 					{% if request.session.email %}
<!-- 
						<div class="card-action action-vote" ng-click=" userInfo.user == questionInfo.question.user? '' : vote(questionInfo.question.id)"><div class="card-action-name"><img ng-src="/static/img/community/icon_thumb_up.png">{% trans "Upvote" %}</div><div class="card-action-count">[[ questionInfo.question.like_count > 99 ? '99+' : questionInfo.question.like_count ]]</div></div>
 -->
						<div class="card-action action-pin" ng-click=" userInfo.user == questionInfo.question.user? '' : pinIt(questionInfo.question.id)"><div class="card-action-name"><img ng-src="/static/img/community/icon_pin.png">{% trans "Pin" %}</div><div class="card-action-count">[[ questionInfo.question.pin_count > 99 ? '99+' : questionInfo.question.pin_count ]]</div></div>
						{% else %}
<!-- 
						<div class="card-action action-vote" ng-click="goUrlAfterLogin('/questions/'+ [[questionInfo.question.id]])"><div class="card-action-name"><img ng-src="/static/img/community/icon_thumb_up.png">{% trans "Upvote" %}</div><div class="card-action-count">[[ questionInfo.question.like_count > 99 ? '99+' : questionInfo.question.like_count ]]</div></div>
 -->
						<div class="card-action action-pin" ng-click="goUrlAfterLogin('/questions/'+ [[questionInfo.question.id]])"><div class="card-action-name"><img ng-src="/static/img/community/icon_pin.png">{% trans "Pin" %}</div><div class="card-action-count">[[ questionInfo.question.pin_count > 99 ? '99+' : questionInfo.question.pin_count ]]</div></div>
						{% endif %}
						<div id="share-button" class="card-action action-share" ng-click="showShareMenu()"><img ng-src="/static/img/community/icon_share.png">{% trans "Share" %}</div>
						{% if request.session.email %}
						<div class="cd-card-flag" ng-show="userInfo.user != questionInfo.question.user" ng-click="showReportPopup()"><img src="{% static 'img/community/icon_warning.png' %}"/>{% trans "Flag" %}</div>
						{% endif %}
						<!-- **	share menu -->
						<div id="share-tool-box" class="tool-box-bottom" ng-show="shareMenu">
							<div class="share-arrow-box">
								<img ng-src="/static/img/community/icon_facebook.png" ng-click="showSharePopup('http://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}', 500, 300)">
								<img ng-src="/static/img/community/icon_twitter.png" ng-click="showSharePopup('https://twitter.com/intent/tweet?url={{request.build_absolute_uri}}', 500, 450)">
								<img ng-src="/static/img/community/icon_google+.png" ng-click="showSharePopup('https://plus.google.com/share?url={{request.build_absolute_uri}}', 680, 423)">
								<img ng-src="/static/img/community/icon_pinterest.png" ng-click="showSharePopup('http://pinterest.com/pin/create/button/?url={{request.build_absolute_uri}}&media=http://www.tellpin.com/static/img/mainpage/tellpin_header_logo_title_beta.png', 800, 500)">
								<img ng-src="/static/img/community/icon_tumblr.png" ng-click="showSharePopup('http://www.tumblr.com/share/link?url={{request.build_absolute_uri}}', 460, 500)">
								<img id="copyURL" ng-src="/static/img/community/icon_url.png" ng-click="copyURL('{{request.build_absolute_uri }}')">
							</div>
						</div>
					</div>

					<div class="qd-question-info">
						<div class="qd-question-info-left">
							<div class="qd-question-info-count">
								<div class="qd-answer-count" ng-click="showData()">[[ questionInfo.answers.length ]] {% blocktrans %}[[ !(questionInfo.answers.length == '0' || questionInfo.answers.length == '1') ? 'Answers' : 'Answer']]{% endblocktrans %} · [[ questionInfo.question.view_count ]] {% blocktrans %}[[ !(questionInfo.question.view_count == '0' || questionInfo.question.view_count == '1') ? 'Views' : 'View']]{% endblocktrans %}</div>
								{% if request.session.email %}
								<div class="qd-comment-count" ng-click="questionInfo.question.comments.length > 0 ? showQueComments() : '' " ng-class="[questionInfo.question.comments.length > 0 ? 'enable-show' : '' , questionInfo.question.comments.length > 0 && queComments ? 'showing' : '' ]">[[ commentCount ]] {% blocktrans %}[[ !(commentCount == '0' || commentCount == '1') ? 'Comments' : 'Comment']]{% endblocktrans %}</div><div class="qd-add-comment enable-show" ng-click="showCommentTextarea()" ng-class="commntTextarea ? 'showing': '' ">{% trans "Add comment" %}</div>
							    {% else %}
							    <div class="qd-comment-count" ng-click="questionInfo.question.comments.length > 0 ? showQueComments() : '' " ng-class="[questionInfo.question.comments.length > 0 ? 'enable-show' : '' , questionInfo.question.comments.length > 0 && queComments ? 'showing' : '' ]">[[ commentCount ]] {% blocktrans %}[[ !(commentCount == '0' || commentCount == '1') ? 'Comments' : 'Comment']]{% endblocktrans %}</div>
							    {% endif %}
							</div>
						</div>

						<div class="qd-question-info-right">
							{% if request.session.email %}
							<div class="qd-write-answer-btn tellpin-flat-button h34 bg-blue" ng-show="userInfo.user != questionInfo.question.user && questionInfo.question.best_answer_id == null" ng-click="showAnswerEditor()">{% trans "Write Answer" %}</div>
							{% else %}
							<div class="qd-write-answer-btn tellpin-flat-button" ng-click="goUrlAfterLogin('/questions/'+ [[questionInfo.question.id]])">{% trans "Write Answer" %}</div>
							{% endif %}
						</div>
					</div>

					<!-- hide comments -->
					<div class="qd-comments" ng-show="queComments">
						<div class="qd-comment-box" ng-repeat="comment in questionInfo.question.comments">
							<div class="qd-comment-writer-photo pop-wrap" ng-mouseenter="userPopover( $event, comment.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
								<a href="/user/[[ comment.writer_info.user ]]"><img ng-src="/static/img/upload/profile/[[ comment.writer_info.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" class="qd-comment-img"></a>
							</div>
							<div class="qd-comment-info">
								<div class="qd-comment-writer-info">
									<div class="qd-comment-wirter-name">[[ comment.writer_info.name ]]</div>
									<div class="qd-comment-date">[[ comment.created_time | displayTime:browser ]]</div>
<!-- 
									{% if request.session.email %}
									<div class="qd-comment-del" ng-if="userInfo.user == comment.user_id" ng-click="deleteComment(comment.id)"></div>
									<div class="qd-comment-add" ng-click="showSubCommentTextarea($index)">Add a comment</div>
									{% endif %}
-->
								</div>
								<div class="qd-comment-content" ng-class="comment.contents == '!delete!' ? 'deleted-comment' : '' ">[[ comment.contents == '!delete!' ? ' This comment was deleted by writer.' :  comment.contents ]]</div>
							</div>
<!--  delete subcomment
							<div class="qd-sub-comment-list">
								<div class="qd-sub-comments" ng-repeat="subComment in comment.sub_comments">
									<div class="qd-comment-writer-photo pop-wrap" ng-mouseenter="userPopover( $event, subComment.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
										<a href="/user/[[ subComment.writer_info.user ]]"><img ng-src="/static/img/upload/profile/[[ subComment.writer_info.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" class="qd-comment-img"></a>
									</div>
									<div class="qd-comment-info">
										<div class="qd-comment-writer-info">
											<div class="qd-comment-wirter-name">[[ subComment.writer_info.name ]]</div>
											<div class="qd-comment-date">[[ subComment.created_time | displayTime:browser ]]</div>
											{% if request.session.email %}
											<div class="qd-comment-del" ng-if="userInfo.user == subComment.user_id" ng-click="deleteSubComment($parent.$parent.$index, subComment.id)"></div>
											{% endif %}
										</div>
										<div class="qd-comment-content">[[ subComment.content ]]</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>

							<div class="qd-sub-comment" ng-show="subCommentTextarea[$index]">
								<textarea class="qd-sub-textarea" ng-model="subCommentContent[$index]" maxlength="2000" ng-maxlength="2000" cols="100" rows="3"></textarea>
								<div class="qd-sub-comment-input-btnset">
									<div class="qd-comment-cancel tellpin-grey-flat-button h24" ng-click="hideSubCommentTextarea($index)">Cancel</div><div class="qd-comment-post tellpin-flat-button h24" ng-click="postSubComment($index, comment.id)">Add comment</div>
								</div>
							</div>
-->
						<div class="clear"></div>
					 	</div>
					</div>
					<div class="qd-comment-input" ng-show="commntTextarea">
						<textarea class="qd-comment-textarea" ng-model="commentContent" maxlength="2000" ng-maxlength="2000" cols="100" rows="4"></textarea>
						<div class="qd-comment-wordcount">[[ commentContent ? commentContent.length : '0' ]]/2000 &nbsp;&nbsp; </div>
						<div class="qd-comment-input-btnset">
							<div class="qd-comment-cancel tellpin-grey-flat-button h24" ng-click="hideCommentTextarea()">{%trans "Cancel" %}</div><div class="qd-comment-post tellpin-flat-button h24" ng-click="postComment(questionInfo.question.id)">{%trans "Add comment" %}</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
	<!-- Answer -->
	<div class="request-answer" ng-if="questionInfo.answers.length == 0 && !answerEditor"><div>{% trans "Be the first to write an Answer!" %}</div></div>
	<div id="qd-answer" ng-show="questionInfo.answers.length > 0 || answerEditor">
	<div class="qd-answer-head-title">{%trans "Answer" %}</div>
	<!-- Answer Editor -->
	<div id="qd-answer-editor" ng-show="answerEditor">
		<textarea ng-model="answerContent" type="text" class="form-control" id="answer_editor" name="content" placeholder="input content" ></textarea>
		<div class="answer-editor-btnset">
			<div class="qd-answer-cancel tellpin-grey-flat-button h26" ng-click="hideAnswerEditor()">{% trans "Cancel" %}</div><div class="qd-answer-post tellpin-flat-button h26" ng-click="modifyAnswer == false ? postAnswer(questionInfo.question.id) : editAnswer(questionInfo.question.id)">{% trans "Post" %}</div>
		</div>
	</div>
	
	<div class="answer-content-row" ng-repeat="answer in questionInfo.answers" ng-class=" answer.id == questionInfo.question.best_answer_id ? 'best-answer' : '' ">
		<div class="qd-answer-content" ng-bind-html="trustAsHtml(answer.contents)"></div>
		<div class="qd-content-box">
			<div class="qd-writer-photo pop-wrap" ng-mouseenter="userPopover( $event, answer.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
				<a href="/user/[[ answer.writer_info.user ]]"><img ng-src="/static/img/upload/profile/[[ answer.writer_info.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" class="qd-writer-img"></a>
			</div>
			<div class="qd-user-info">
				<img class="best-answer-stamp" ng-if="answer.id == questionInfo.question.best_answer_id" src="{% static 'img/community/icon_best.png' %}">
				<div class="qd-user-name-answer">[[ answer.writer_info.name ]]</div><div class="qd-user-country-answer"><img class="nation-border" ng-if="nationsInfo[answer.writer_info.from_country_id-1].flag_filename" ng-src="/static/img/nations/[[ nationsInfo[answer.writer_info.from_country_id-1].flag_filename ]]" ></div><div class="qd-write-dispalytime">[[ answer.created_time | displayTime:browser ]]</div>
<!-- 
				{% if request.session.email %}
				<div class="qd-answer-edit tellpin-flat-button" ng-show="userInfo.user == answer.user_id && questionInfo.answers[$index].id != questionInfo.question.best_answer_id" ng-click="modifyAnswerEditor($index, answer.id)">edit</div>
				<div class="qd-answer-del tellpin-grey-flat-button" ng-show="userInfo.user == answer.user_id && questionInfo.answers[$index].id != questionInfo.question.best_answer_id" ng-click="deleteAnswer(questionInfo.question.id, answer.id)">delete</div>
				{% endif %}
 -->
			</div>
			<div class="qd-question-info">
				{% if request.session.email %}
				<div class="card-action-answer action-vote" ng-click=" (userInfo.user == questionInfo.question.user || userInfo.user == questionInfo.answers[$index].user_id) ? '' : voteAnswer($index, questionInfo.question.id, answer.id)">
					<div class="card-action-name"><img ng-src="/static/img/community/icon_thumb_up.png">{% trans "Upvote" %}</div><div class="card-action-count">[[ answer.like_count ]]</div>	
				</div>
				<div class="cd-card-flag-answer" ng-show="userInfo.user != answer.user_id" ng-click="showReportAnswerPopup(answer.id)"><img src="{% static 'img/community/icon_warning.png' %}"/>{% trans "Flag" %}</div>
				{% else %}
				<div class="card-action-answer action-vote" ng-click=" goUrlAfterLogin('/questions/'+ [[questionInfo.question.id]]) ">
					<div class="card-action-name"><img ng-src="/static/img/community/icon_thumb_up.png">{% trans "Upvote" %}</div><div class="card-action-count">[[ answer.like_count ]]</div>
				</div>
				{% endif %}
<!-- 
				<div class="qd-question-info-left qd-answer-left">
					<div class="qd-question-vote">
						<div class="qd-question-vote-count">[[ answer.like_count ]]</div>
						<div class="qd-vote-up" ng-click="voteAnswer($index, answer.id)" ng-class=" answer.like == 0 && answer.dislike == 0 ? 'vote-enable' : answer.like == 1 ? 'voted-up' : '' "></div>
					</div>
					
				</div>
 -->
				{% if request.session.email %}
				<div class="qd-question-info-right" ng-if="questionInfo.question.best_answer_id == null && questionInfo.question.user == userInfo.user">
					<div class="qd-btnset">
						<div class="qd-btn-row">
							<div class="qd-write-answer-btn tellpin-flat-button" ng-click="adoptAnswer(questionInfo.question.id, answer.id, questionInfo.question.best_answer_credit)">{% trans "Choose as best answer" %}</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		
		<div class="qd-comment-row">
			<div class="qd-comment-head">
				{% if request.session.email %}
				<div class="qd-comment-count" ng-click="answer.comments.length > 0 ? showAnswerComments($index) : '' " ng-class="answer.comments.length > 0 ? 'enable-show' : '' " ng-init="answer.commentCount = getAnswerCommentCount($index)">[[ answer.commentCount ]] {% blocktrans %}[[!(answer.commentCount == '0' || answer.commentCount == '1') ? 'Comments' : 'Comment']]{% endblocktrans %}</div><div class="qd-add-comment enable-show" ng-click="showAnswerCommentTextarea($index, $event)">{%trans "Add comment" %}</div>
				{% else %}
				<div class="qd-comment-count" ng-click="answer.comments.length > 0 ? showAnswerComments($index) : '' " ng-class="answer.comments.length > 0 ? 'enable-show' : '' " ng-init="answer.commentCount = getAnswerCommentCount($index)">[[ answer.commentCount ]] {% blocktrans %}[[!(answer.commentCount == '0' || answer.commentCount == '1') ? 'Comments' : 'Comment']]{% endblocktrans %}</div>
				{% endif %}
			</div>
		
			<div class="qd-comments" ng-init="answerComments[$index] = false" ng-show="answerComments[$index]">
				<div class="qd-comment-box" ng-repeat="comment in answer.comments">
					<div class="qd-comment-writer-photo pop-wrap" ng-mouseenter="userPopover( $event, comment.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
						<a href="/user/[[ comment.writer_info.user ]]"><img ng-src="/static/img/upload/profile/[[ comment.writer_info.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" class="qd-comment-img"></a>
					</div>
					<div class="qd-comment-info">
						<div class="qd-comment-writer-info">
							<div class="qd-comment-wirter-name">[[ comment.writer_info.name ]]</div>
							<div class="qd-comment-date">[[ comment.created_time | displayTime:browser ]]</div>
<!-- delete sub comment 
							{% if request.session.email %}
							<div class="qd-comment-del" ng-if="userInfo.user == comment.user_id" ng-click="deleteAnswerComment($index, comment.id)"></div>
							<div class="qd-comment-add" ng-click="showAnswerSubCommentTextarea($parent.$index, $index, $event)">Add a comment</div>
							{% endif %}
-->
						</div>
						<div class="qd-comment-content"  ng-class="comment.contents == '!delete!' ? 'deleted-comment' : '' ">[[ comment.contents == '!delete!' ? ' This comment was deleted by writer.' :  comment.contents ]]</div>
					</div>
<!-- delete sub comment 
					<div class="qd-sub-comment-list">
						<div class="qd-sub-comments" ng-repeat="subComment in comment.sub_comments">
							<div class="qd-comment-writer-photo pop-wrap" ng-mouseenter="userPopover( $event, subComment.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
								<a href="/user/[[ subComment.writer_info.user ]]"><img ng-src="/static/img/upload/profile/[[ subComment.writer_info.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" class="qd-comment-img"></a>
							</div>
							<div class="qd-comment-info">
								<div class="qd-comment-writer-info">
									<div class="qd-comment-wirter-name">[[ subComment.writer_info.name ]]</div>
									<div class="qd-comment-date">[[ subComment.created_time | displayTime:browser ]]</div>
									<div class="qd-comment-del" ng-if="userInfo.user == subComment.user_id" ng-click="deleteAnswerSubComment($parent.$parent.$parent.$index, $index, subComment.id)"></div>
								</div>
								<div class="qd-comment-content">[[ subComment.content ]]</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="qd-sub-comment" ng-init="addSubList($parent.$index)" ng-show="answerSubCommentTextarea[$parent.$index][$index]">
						<textarea class="qd-sub-textarea" ng-model="answerSubCommentContent[$parent.$index][$index]" maxlength="2000" ng-maxlength="2000" cols="100" rows="3"></textarea>
						<div class="qd-sub-comment-input-btnset">
							<div class="qd-comment-cancel tellpin-grey-flat-button" ng-click="hideAnswerSubCommentTextarea($parent.$index, $index)">Cancel</div><div class="qd-comment-post tellpin-flat-button" ng-click="postAnswerSubComment($parent.$index, $index, comment.id)">Add comment</div>
						</div>
					</div>
-->
				<div class="clear"></div>
			 	</div>
			</div>
			<div class="qd-comment-input" ng-show="answerCommntTextarea[$index]">
				<textarea class="qd-comment-textarea" ng-model="answerCommentContent[$index]" maxlength="2000" ng-maxlength="2000" cols="100" rows="4"></textarea>
				<div class="qd-comment-wordcount">[[ answerCommentContent[$index] ? answerCommentContent[$index].length : '0' ]]/2000 &nbsp;&nbsp; </div>
				<div class="qd-comment-input-btnset">
					<div class="qd-comment-cancel tellpin-grey-flat-button" ng-click="hideAnswerCommentTextarea($index)">{% trans "Cancel" %}</div><div class="qd-comment-post tellpin-flat-button" ng-click="postAnswerComment($index, questionInfo.question.id, answer.id)">{%trans "Add comment" %}</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	</div>
	
<!-- 	report-popup -->
	<div class="report-popup-backdrop" ng-if="reportPopup" ng-click="hideReportPopup()"></div>
	<div id="report-popup" ng-show="reportPopup">
		<div class="report-head">{% trans "Report a Violation" %}</div>
		<div class="qd-report-cancel" ng-click="hideReportPopup()">X</div>
		<div class="report-desc">
			{% blocktrans %}If you see something on Tellpin that you believe violates our Terms and <a>Tellpin Community Guidelines,</a><br>
			please report it to us. We promise you to take appropriate measures immediately.<br><br>
			Violations include :<br>
			1) Privacy violation <br>
			2) Harassment <br>
			3) Impersonation <br>
			4) Spam <br>
			5) Malicious speech <br>
			6) Posting Sexually explicit content, Shocking or disgusting content <br>
			7) Unlawful uses or content (phishing, fraud, threats, copyright or trademark infringement, etc.) <br>
			8) Intellectual property violations <br>
			and more. <br><br><br>
			Please describe in detail :<br><br>{% endblocktrans %}
			<div class="report-input">
				<textarea class="report-textarea" ng-model="reportContent" maxlength="2000" ng-maxlength="2000" cols="62" rows="4"></textarea>
			</div>
			<div class="report-under-line"></div>
			<div class="report-footer">{% trans "Report a Problem or Mistake" %}</div>
			<div class="report-desc">
				{% blocktrans %}<br>It's not a violation, but did you find something that belongs to one of these?<br>
				Your suggestion will be reviewed we'll handle it!<br><br>
				o The text or image is difficult to read.<br>
				o Language setting is wrong.<br>
				o It is absurd to make this request for free. / Tellpin Credits are set too low for the request.{% endblocktrans %}
			</div>
			<div class="report-btnset">
				<div class="qd-report-submit  tellpin-flat-button" ng-click="qnaViolation(questionInfo.question.id)">{% trans "Submit" %}</div>
			</div>
		</div>
	</div>
	<!-- report popup answer -->
	<div class="report-popup-backdrop" ng-if="reportAnswerPopup" ng-click="hideReportAnswerPopup()"></div>
	<div id="report-popup-answer" ng-show="reportAnswerPopup">
		<div class="report-head">{% trans "Report a Violation" %}</div>
		<div class="qd-report-cancel" ng-click="hideReportAnswerPopup()">X</div>
		<div class="report-desc">
			{% blocktrans %}If you see something on Tellpin that you believe violates our Terms and <a>Tellpin Community Guidelines,</a><br>
			please report it to us. We promise you to take appropriate measures immediately.<br><br>
			Violations include :<br>
			1) Privacy violation <br>
			2) Harassment <br>
			3) Impersonation <br>
			4) Spam <br>
			5) Malicious speech <br>
			6) Posting Sexually explicit content, Shocking or disgusting content <br>
			7) Unlawful uses or content (phishing, fraud, threats, copyright or trademark infringement, etc.) <br>
			8) Intellectual property violations <br>
			and more. <br><br><br>
			Please describe in detail :<br><br>{% endblocktrans %}
			<div class="report-input">
				<textarea class="report-answer-textarea" ng-model="reportAnswerContent" maxlength="2000" ng-maxlength="2000" cols="62" rows="4"></textarea>
			</div>
			<div class="report-under-line"></div>
			<div class="report-footer">{% trans "Report a Problem or Mistake" %}</div>
			<div class="report-desc">
				{% blocktrans %}<br>It's not a violation, but did you find something that belongs to one of these?<br>
				Your suggestion will be reviewed we'll handle it!<br><br>
				o This user copied other user's answer.<br>
				o The answer is obviously wrong.<br>
				o The answer reflects only a portion of the request.{% endblocktrans %}
			</div>
			<div class="report-btnset">
				<div class="qd-report-submit  tellpin-flat-button" ng-click="qnaAnswerViolation(reportAnswerId)">{% trans "Submit" %}</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/community/qna_detail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/writing/tinymce/tinymce.min.js' %}"></script>
<script>
tinymce.init({
    selector: "textarea#answer_editor",
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
    ],
    menubar:false,
    statusbar:false,
//    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | preview",
    toolbar: "insertfile undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | preview",
});
</script>

{% endblock %}