{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Translation & Proofreading" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/community/tp_qna_list.css' %}" />


<div class="list-wrapper">
	<div ng-controller="tpListController" ng-click="close($event)" ng-init="initTP({{data}})">
		<div class="header">
			<div class="community-title">{% trans "Translation & Proofreading" %}
<!-- 				<div class="community-my-content" ng-click="goURL([['/reading/']]);" > My contents</div>  -->
			</div>
			<div class="div-nav">
				<div class="community-radio-row">
					<div class="community-radio-button" ng-click="getBoth()"><div ng-class="checkedTPRadio == 0 ? 'radio-checked' : ''"></div></div><div class="community-label">{% trans "Both" %}</div>
				</div>
				<div class="community-radio-row">
					<div class="community-radio-button" ng-click="getTranslation()"><div ng-class="checkedTPRadio == 1 ? 'radio-checked' : ''"></div></div><div class="community-label">{% trans "Translation" %}</div>
					<div class="lan-select-label-trans">{% trans "From" context "translation" %}</div>
					<select class="form-control translation-select" ng-model="fromLang" ng-change="checkedTPRadio == 1 ? getTranslation('fromLang') : getBoth('fromLang')" ng-options="lang.id as lang.lang_english for lang in languageInfoForFrom"></select>
					<div class="lan-select-label-trans-short">{% trans "To" context "translation" %}</div>
					<select class="form-control translation-select" ng-model="toLang" ng-change="checkedTPRadio == 1 ? getTranslation('toLang') : getBoth('toLang')" ng-options="lang.id as lang.lang_english for lang in languageInfoForTo"></select>
				</div>
				<div class="community-radio-row">
					<div class="community-radio-button" ng-click="getProofreading()"><div ng-class="checkedTPRadio == 2 ? 'radio-checked' : ''"></div></div><div class="community-label">{% trans "Proofreading" %}</div>
					<div class="lan-select-label-trans-short">{% trans "In" %}</div>
					<select class="form-control translation-select" ng-model="inLang" ng-change="checkedTPRadio == 2 ? getProofreading('inLang') : getBoth('inLang')" ng-options="lang.id as lang.lang_english for lang in languageInfoForIn"></select>
					<a href="/trans/write/"><div class="btn-write-trans bg-blue h34">{% trans "Ask Question" %}</div></a>
				</div>
			</div>
		</div>
		<div class="list" infinite-scroll='getMoreList()' infinite-scroll-distance=1 infinite-scroll-disabled="scrollAction">
			<div class="div-list" ng-repeat="tp in TPs">
				<div class="qna-point" ng-click="goURL([[ '/trans/'+ tp.id + '/' ]])"><!--img src="{% static 'img/ex_lesson1.png' %}"-->
					<div ng-class="tp.best_answer_id == null ? 'point' : 'point-adopt-best' " >[[tp.best_answer_credit]]</div>
					<div class="qna-div-title"><span class="qna-title">[[ tp.title ]] </span></div>
				</div>
				<div class="writer-info-row">
					<div class="writer-photo pop-wrap" ng-mouseenter="userPopover( $event, tp.writer_info.user, 'right' )" ng-mouseleave="hidePopover()">
						<a href="/user/[[ tp.writer_info.user ]]"><img ng-src="/static/img/upload/profile/[[ tp.writer_info.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" class="writer-photo-img"></a>
					</div>
					<div class="writer-info" ng-click="goURL([[ '/trans/'+ tp.id + '/' ]])">
						<div class="qna-content f-gray-33">[[ tp.contents | getText ]]</div>
						<div class="lq-count-row f-gray-64"><span class="trans">{% blocktrans %}[[ tp.type == 'T' ? 'Translation' : 'Proofreading' ]]{% endblocktrans %}: [[ languageInfo[tp.written_lang -1].lang_english | shortLanguage ]] [[ tp.type == 'T' ? ('=> '+(languageInfo[tp.translated_lang -1].lang_english | shortLanguage)) : '' ]]</span>[[ tp.answer_count ]] {% blocktrans %}[[ !(tp.answer_count == '0' || tp.answer_count == '1') ? 'Answers' : 'Answer']]{% endblocktrans %} ｜ [[ tp.comment_count ]] {% blocktrans %}[[ !(tp.comment_count == '0' || tp.comment_count == '1') ? 'Comments' : 'Comment']]{% endblocktrans %} ｜ [[ tp.view_count ]] {% blocktrans %}[[ !(tp.view_count == '0' || tp.view_count == '1') ? 'Views' : 'View']]{% endblocktrans %}</div>
						<div class="writer-name-row" ng-click="goURL([[ '/user/'+ tp.writer_info.user + '/' ]])">[[ tp.writer_info.name]] <img class="nation-border" ng-if="countryInfo[tp.writer_info.from_country_id-1].flag_filename" ng-src="/static/img/nations/[[ countryInfo[tp.writer_info.from_country_id-1].flag_filename ]]" ><span class="qna-time f-gray-64"> [[tp.created_time | displayTime:browser]] </span></div>
	<!-- 					<div class="lq-like-pin"> -->
	<!-- 						<div class="count-box">[[ lq.like_count ]]</div> -->
	<!-- 						<div class="qd-vote-up" ng-click="vote($index, lq.qid)" ng-class=" lq.like == 0 && lq.dislike == 0 ? 'vote-enable' : lq.like == 1 ? 'voted-up' : '' "></div> -->
	<!-- 						<img class="vote-down" ng-src="/static/img/community/icon_thumb_down.png"> -->
	<!-- 						<div class="bar">｜</div> -->
	<!-- 						<div class="count-box">[[ lq.pin_count ]]</div> -->
	<!-- 						<div class="qd-pin" ng-click="pinIt($index, lq.qid)" ng-class=" lq.pin == 0 ? 'pin-enable' : 'pin-it' "></div> -->
	<!-- 						<div class="bar">｜</div> -->
	<!-- 						<div class="qd-question-share" id="show_pop" ng-click="share($event);"></div> -->
	<!-- 					</div> -->
					</div>
					<div class="clear"></div>
				</div>
				</a>
			</div>
		</div>
		
		<div id="share" class="tool-box-bottom">
			<div class="share-arrow-box">
				<img ng-src="/static/img/community/icon_facebook.png" ng-click="showSharePopup('http://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri }}', 500, 300)">
				<img ng-src="/static/img/community/icon_twitter.png" ng-click="showSharePopup('https://twitter.com/intent/tweet?url={{request.build_absolute_uri }}', 500, 450)">
				<img ng-src="/static/img/community/icon_google+.png" ng-click="showSharePopup('https://plus.google.com/share?url={{request.build_absolute_uri }}', 680, 423)">
				<img ng-src="/static/img/community/icon_pinterest.png" ng-click="showSharePopup('http://pinterest.com/pin/create/button/?url={{request.build_absolute_uri }}', 800, 500)">
				<img ng-src="/static/img/community/icon_tumblr.png" ng-click="showSharePopup('http://www.tumblr.com/share/link?url=[[ absUrl ]]', 460, 500)">
				<img id="copyURL" ng-src="/static/img/community/icon_url.png" ng-click="copyURL('{{request.build_absolute_uri }}')">
			</div>
		</div>
		<!-- 	report-popup -->
		<div class="report-popup-backdrop" ng-if="reportPopup" ng-click="hideReportPopup()"></div>
		<div id="report-popup" ng-show="reportPopup">
			<div class="report-head">{% trans "Any Problem?" %}</div>
			<div class="report-desc">
			{% blocktrans %}We promise you to take appropriate measures immediately if you find an inappropriate content<br>which violates the <a>Tellpin Community Guidelines,</a><br><br>
			Violations include: spam (advertisements), harassment, hate speech, sexual content, political or religious discussions, intellectual property violations, threats, impersonation or misrepresentation, phishing, privacy violations, fraud, and more.<br><br>
			Please describe a problem :<br><br>{% endblocktrans %}
			<div class="report-input">
				<textarea class="report-textarea" ng-model="reportContent" maxlength="2000" ng-maxlength="2000" cols="62" rows="4"></textarea>
			</div>
			<div class="report-btnset">
				<div class="qd-report-submit  tellpin-flat-button" ng-click="queReport(questionInfo.question.qid)">{% trans "Submit" %}</div><div class="qd-report-cancel tellpin-grey-flat-button" ng-click="hideReportPopup()">{% trans "Cancel" %}</div>
			</div>
			</div>
			
		</div>
		<div class="club-side-menu">
			<div class="club-side-button club-scroll-top" ng-show="scrollTopBt==true" ng-click="moveScrollTop()"><img ng-src="/static/img/community/icon_page_up.png"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/community/tp_list.js' %}"></script>

<!-- 	<script src="{% static 'js/angularjs/angular-clipboard.js' %}"></script>	 -->
<!-- 
<script type="text/javascript">
	
</script>
 -->

{% endblock %}
