<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<div class="tutorinfo-profile" style="margin-bottom: 10px;">
	<div class="profile-image">
		<div class="div-left-online" ng-class="{ 'login' : tutor.is_login == 1, 'not-login' : tutor.is_login != 1 }"></div>
		<img ng-src="[[ tutor.photo_filename ]]" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' alt="유저사진" class="tutor-image-radius profile-border" />
	</div>
	<div class="profile-info" style="width: 510px;">
		<div class="profile-name">
			<span style="font-size: 20px;">
				[[ tutor.name ]]
				<img ng-src="[[ tutor.country_filename ]]" ng-if="tutor.from_country_id != null" alt="국가이미지" class="nation-image nation-border" tooltip title="[[ tutor.from_city_id ? tutor.from_city_id + ', ' : '' ]] [[ tutor.from_country_id ]]" />
			</span>			
		</div>
		<div class="profile-teach" ng-if="tutor.is_tutor == 1">
			<div class="sub-title left f13">{% trans "Teaches" %}</div>
			<div style="float: left; width: 86%;">
			<span class="content f-gray-33 f13" ng-repeat="teach in tutor.teaches track by $index">
				[[ teach.language ]]<span ng-hide="$last">, </span>
			</span>
			<button type="button" class="bg-lblue h24 f12 f-gray-33" ng-click="switchProfile()" style="margin-left: 0px;">{% trans "Switch to Tutor Profile" %}</button>
			</div>
			<div class="clear"></div>
		</div>
        <div class="profile-nation" ng-if="tutor.from_country">
            <span class="sub-title f13">{% trans "From" context "nation+city" %}</span>
            <span class="content f-gray-33 f13"> [[ tutor.from_country ]] </span>
        </div>
        <div class="profile-nation" ng-if="tutor.livingin_country">
            <span class="sub-title f13">{% trans "Living in" context "nation+city" %}</span>
            <span class="content f-gray-33 f13"><span ng-show="tutor.livingin_city">[[ tutor.livingin_city ]], </span>[[ tutor.livingin_country ]]</span>
        </div>
		<div class="profile-language mobile-none">
			<div class="sub-title left f13">{% trans "Speaks" %}</div>
			<!-- <span class="tutor-language">[[ tutor.teaches[0].name ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" /></span> -->
			<!-- <span class="tutor-language" data-toggle="tooltip" title="native" style="color: rgb(69, 99, 144); font-weight: bold;">[[ tutor.speaks[0].name ]]</span> -->
			<!-- <img data-toggle="tooltip" tooltip title="Native" ng-if="tutor.speaks[0].level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" /> , -->
			<div class="left" style="width: 87%;">
				<span ng-repeat="speak in tutor.speaks track by $index" class="tutor-language f-gray-33 f13" ng-class="{ 'native' : speak.level == 7 }">
					[[ speak.language ]]
					<img style="width: 19px; height: 15px;" data-toggle="tooltip" title="Begginer" ng-if="speak.level == 1" src="{% static 'img/tutor/gauge_000.png' %}" alt="레벨표시" tooltip />
					<img style="width: 19px; height: 15px;" data-toggle="tooltip" title="Elementary" ng-if="speak.level == 2" src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" tooltip />
					<img style="width: 19px; height: 15px;" data-toggle="tooltip" title="Pre-intermediate" ng-if="speak.level == 3" src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" tooltip />
					<img style="width: 19px; height: 15px;" data-toggle="tooltip" title="Intermediate" ng-if="speak.level == 4" src="{% static 'img/tutor/gauge_003.png' %}" alt="레벨표시" tooltip />
					<img style="width: 19px; height: 15px;" data-toggle="tooltip" title="Upper intermediate" ng-if="speak.level == 5"src="{% static 'img/tutor/gauge_004.png' %}" alt="레벨표시" tooltip />
					<img style="width: 19px; height: 15px;" data-toggle="tooltip" title="Advanced" ng-if="speak.level == 6" src="{% static 'img/tutor/gauge_005.png' %}" alt="레벨표시" tooltip />
					<img style="width: 19px; height: 15px;" data-toggle="tooltip" title="Native" ng-if="speak.level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" tooltip /><span ng-show="!$last">, </span>
				</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="profile-language mobile-row">
			<span class="sub-title f13">{% trans "Speaks" %}</span>
			<!-- <span class="tutor-language">[[ tutor.teaches[0].name ]] <img src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" /></span> -->
			<!-- <span class="tutor-language" style="color: rgb(69, 99, 144); font-weight: bold;">[[ tutor.speaks[0].name ]]</span>
			<img ng-if="tutor.speaks[0].level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" /> , -->
			<span ng-repeat="speak in tutor.speaks track by $index" class="tutor-language f13 f-gray-33" ng-class="{ 'native' : speak.level == 7 }">
				[[ speak.language ]]
				<img style="width: 19px; height: 15px;" ng-if="speak.level == 1" src="{% static 'img/tutor/gauge_000.png' %}" alt="레벨표시" />
				<img style="width: 19px; height: 15px;" ng-if="speak.level == 2" src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" />
				<img style="width: 19px; height: 15px;" ng-if="speak.level == 3" src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" />
				<img style="width: 19px; height: 15px;" ng-if="speak.level == 4" src="{% static 'img/tutor/gauge_003.png' %}" alt="레벨표시" />
				<img style="width: 19px; height: 15px;" ng-if="speak.level == 5"src="{% static 'img/tutor/gauge_004.png' %}" alt="레벨표시" />
				<img style="width: 19px; height: 15px;" ng-if="speak.level == 6" src="{% static 'img/tutor/gauge_005.png' %}" alt="레벨표시" />
				<img style="width: 19px; height: 15px;" ng-if="speak.level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" /><span ng-show="!$last">, </span>
			</span>		
		</div>
		<div class="profile-language">
			<span class="sub-title f13">{% trans "Learning" %}</span>
			<span class="content f-gray-33 f13" ng-if="speak.is_learning == 1" ng-repeat="speak in tutor.speaks track by $index">
				[[ speak.language ]]<span ng-hide="$last">, </span>
			</span>
		</div>
	</div>
	<div class="divClearfix"></div>
	<div class="mobile-row">
		<ul>
			<li class="message-area">
				<button class="message-btn" ng-click="openMessage()">{% trans "Send Message" %}</button>
			</li>
			<li class="follow-area">
				<button ng-if="tutor.is_follower == 0" id="followBtn" class="follow-btn" type="button" ng-click="setBookmark( tutor.id )" >[[ followBtntxt ]]</button>
				<!-- <button ng-if="followBtn" class="following-btn" type="button" ng-mouseleave="followunHover()" ng-click="setBookmark( tutor.id )">Following</button> -->
				<button ng-if="tutor.is_follower == 1" class="following-btn" type="button" ng-click="removeBookmark( tutor.id )"  >{% trans "Following" %}</button>
				<!-- <button class="unfollow-btn" type="button" ng-mouseleave="removeBookmarkHover()" ng-click="removeBookmark( tutor.id )">Unfollow</button> -->
			</li>
			<li class="etc-area">
				<img src="{% static 'img/tutor/schedule.png' %}" alt="" ng-click="showSchedulePopup( tutor.id )" />
			</li>
			<div class="divClearfix"></div>
		</ul>
	</div>
	<div class="profile-intro" ng-show="tutor.long_intro">
		<p ng-bind-html="[[ tutor.long_intro ]]" style="word-break: break-word; word-wrap: break-word;" class="f-gray-33 f13"></p>
	</div>
</div>