<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<div class="profile-resume">
	<div class="profile-resume-title">
		<p>{% trans "Statistics (as tutee)" %}</p>
	</div>
	<div class="static-area">
		<div class="static-head">
			<div class="head-none left-elem">&nbsp;</div>
			<div class="head-title-one left-elem">{% trans "Last month" %}</div>
			<div class="head-title-two left-elem">{% trans "All time" %}</div>
			<div class="divClearfix"></div>
		</div>
		<div class="static-body">
			<div class="body-title left-elem">{% trans "Completed lessons" %}</div>
			<div class="body-content-one left-elem">[[ statistics.confirmed_lesson.last_month || "-" ]]</div>
			<div class="body-content-two left-elem">[[ statistics.confirmed_lesson.all_time || "-" ]]</div>
			<div class="divClearfix"></div>
		</div>
		<div class="static-body">
			<div class="body-title left-elem">{% trans "Attendance" %}</div>
			<div class="body-content-one left-elem">[[ statistics.attendance.last_month || "-" ]]</div>
			<div class="body-content-two left-elem">[[ statistics.attendance.all_time || "-" ]]</div>
			<div class="divClearfix"></div>
		</div>
		<div class="static-body">
			<div class="body-title left-elem">{% trans "Disputes" %}</div>
			<div class="body-content-one left-elem">[[ statistics.disputes.last_month || "-" ]]</div>
			<div class="body-content-two left-elem">[[ statistics.disputes.all_time || "-" ]]</div>
			<div class="divClearfix"></div>
		</div>
	</div>
</div>