<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<div class="profile-resume" ng-if="all.length != 0">
	<div class="profile-resume-title">
		<p>{% trans "Community Activities" %}</p>
	</div>
	<div class="tutor-info-community-tabs">
		<div class="tutor-info-tabs-row">
		<div class="tutor-info-tab short-tab long-tab" ng-class="selectedCommunityTab == 0 ? 'selected-tab':'' " ng-click="clickTab( 0 )">{% trans "All" %}</div>
		<div class="tutor-info-tab short-tab long-tab" ng-class="selectedCommunityTab == 1 ? 'selected-tab':'' " ng-click="clickTab( 1 )">{% blocktrans %}Language Learning<br>Board{% endblocktrans %}</div>
		<div class="tutor-info-tab short-tab long-tab" ng-class="selectedCommunityTab == 2 ? 'selected-tab':'' " ng-click="clickTab( 2 )">{% blocktrans %}Translation &<br>Proofreading{% endblocktrans %}</div>
		<div class="tutor-info-tab short-tab long-tab" ng-class="selectedCommunityTab == 3 ? 'selected-tab':'' " ng-click="clickTab( 3 )">{% blocktrans %}Language<br>Questions{% endblocktrans %}</div>
		</div>
		<div class="tutor-info-tab-content">

			<div class="tutor-info-all-list" ng-show="selectedCommunityTab == 0">
				<div class="tutor-info-community-tab-row" ng-repeat="post in all" ng-click="goCommunityDetail(post.category, post.id)">
					<div class="tutor-info-community-writer-img">
						<div class="tutor-info-left-online" ng-show="post.is_login == 1"></div>
						<img class="tutor-info-suggest-le-photo" ng-src="[[ post.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
					</div>
					<div class="tutor-info-community-post-info">
						<div class="tutor-info-community-post-desc" ng-show="post.best_answer_id == null" style="line-height: 20px; height: 20px;"><div class="tutor-info-point f12" ng-show="post.category != 'Board'" style="height: 20px; border-radius: 6px; line-height: 20px; background-color: #ed5555;">[[ post.best_answer_credit ]]</div>{% blocktrans %}<span>[[ post.name ]]</span> posted on <span>[[ post.category ]]</span>{% endblocktrans %}: <span>[[ post.title ]]</span></div>
						<div class="tutor-info-community-post-desc" ng-show="post.best_answer_id != null" style="line-height: 20px; height: 20px;"><div class="tutor-info-point-adopt-best bg-gray f12" ng-show="post.category != 'Board'" style="height: 20px; border-radius: 6px; line-height: 20px;">[[ post.best_answer_credit ]]</div>{% blocktrans %}<span>[[ post.name ]]</span> posted on <span>[[ post.category ]]</span>{% endblocktrans %}: <span>[[ post.title ]]</span></div>
						<div class="tutor-info-community-post-content">[[ post.contents | getText ]]</div>
						<div class="tutor-info-community-post-count">
							<div class="tutor-info-post-answer-comment" ng-style="post.category == 'Board' ? {'width':'25%'}:''">
								<span ng-show="post.category != 'Board'">{% blocktrans %}[[ post.answer_count ]] answer<span ng-show="post.answer_count > 1">s</span>{% endblocktrans %} &nbsp;&nbsp;&nbsp;</span> {% blocktrans %}[[ post.comment_count ]] comment<span ng-show="post.comment_count > 1">s</span>{% endblocktrans %}
							</div>
							<div class="tutor-info-post-language-time" ng-style="post.category == 'Board' ? {'width':'75%'}:''">
								[[ post.written_lang_name ]]
								<span ng-show="post.type == 'T'">&nbsp;>&nbsp;[[ post.translated_lang_name ]]</span>
								<span ng-show="post.category == 'Board'">{% blocktrans %}[[ post.learning_lang_name ]]<span ng-show="(post.learning_lang_name) != (post.explained_lang_name)">&nbsp;explained in&nbsp;[[ post.explained_lang_name ]]</span>{% endblocktrans %}</span> |&nbsp;&nbsp; [[ post.updated_time | displayTime ]]
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tutor-info-all-list" ng-show="selectedCommunityTab == 1">
				<div class="tutor-info-community-tab-row" ng-repeat="lb in LBs" ng-click="goURL('/board/'+[[lb.id]])">
					<div class="tutor-info-community-writer-img">
						<div class="tutor-info-left-online" ng-show="lb.is_login == 1"></div>
						<img class="tutor-info-suggest-le-photo" ng-src="[[ lb.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
					</div>
					<div class="tutor-info-community-post-info">
						<div class="tutor-info-community-post-desc">{% blocktrans %}<span>[[ lb.name ]]</span> posted on <span>[[ lb.category ]]</span>{% endblocktrans %}: <span>[[ lb.title ]]</span></div>
						<div class="tutor-info-community-post-content">[[ lb.contents | getText ]]</div>
						<div class="tutor-info-community-post-count"><div class="tutor-info-post-answer-comment" ng-style="lb.category == 'Board' ? {'width':'25%'}:''">{% blocktrans %}[[ lb.comment_count ]] comment<span ng-show="lb.comment_count > 1">s</span>{% endblocktrans %}</div><div class="tutor-info-post-language-time" ng-style="lb.category == 'Board' ? {'width':'75%'}:''">{% blocktrans %}[[ lb.learning_lang_name ]]<span ng-show="(lb.learning_lang_name) != (lb.explained_lang_name)">&nbsp;explained in&nbsp;[[ lb.explained_lang_name ]]</span>{% endblocktrans %} |&nbsp;&nbsp; [[ lb.updated_time | displayTime ]]</div></div>
					</div>
				</div>
			</div>

			<div class="tutor-info-all-list" ng-show="selectedCommunityTab == 2">
				<div class="tutor-info-community-tab-row" ng-repeat="tp in TPs" ng-click="goURL('/trans/'+[[tp.id]])">
					<div class="tutor-info-community-writer-img">
						<div class="tutor-info-left-online" ng-show="tp.is_login == 1"></div>
						<img class="tutor-info-suggest-le-photo" ng-src="[[ tp.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
					</div>
					<div class="tutor-info-community-post-info">
						<div class="tutor-info-community-post-desc" ng-show="tp.best_answer_id == null"><div class="tutor-info-point f12">[[ tp.best_answer_credit ]]</div>{% blocktrans %}<span>[[ tp.name ]]</span> posted on <span>[[ tp.category ]]</span>{% endblocktrans %}: <span>[[ tp.title ]]</span></div>
						<div class="tutor-info-community-post-desc" ng-show="tp.best_answer_id != null"><div class="tutor-info-point-adopt-best f12">[[ tp.best_answer_credit ]]</div>{% blocktrans %}<span>[[ tp.name ]]</span> posted on <span>[[ tp.category ]]</span>{% endblocktrans %}: <span>[[ tp.title ]]</span></div>
						<div class="tutor-info-community-post-content">[[ tp.contents | getText ]]</div>
						<div class="tutor-info-community-post-count"><div class="tutor-info-post-answer-comment">{% blocktrans %}[[ tp.answer_count ]] answer<span ng-show="tp.answer_count > 1">s</span>{% endblocktrans %} &nbsp;&nbsp;&nbsp; {% blocktrans %}[[ tp.comment_count ]] comment<span ng-show="tp.comment_count > 1">s</span>{% endblocktrans %}</div><div class="tutor-info-post-language-time">[[ tp.written_lang_name ]]<span ng-show="tp.type == 'T'">&nbsp;>&nbsp;[[ tp.translated_lang_name ]]</span> |&nbsp;&nbsp; [[ tp.updated_time | displayTime ]]</div></div>
					</div>
				</div>
			</div>

			<div class="tutor-info-all-list" ng-show="selectedCommunityTab == 3">
				<div class="tutor-info-community-tab-row" ng-repeat="lq in LQs" ng-click="goURL('/questions/'+[[lq.id]])">
					<div class="tutor-info-community-writer-img">
						<div class="tutor-info-left-online" ng-show="lq.is_login == 1"></div>
						<img class="tutor-info-suggest-le-photo" ng-src="[[ lq.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
					</div>
					<div class="tutor-info-community-post-info">
						<div class="tutor-info-community-post-desc" ng-show="lq.best_answer_id == null"><div class="tutor-info-point f12">[[ lq.best_answer_credit ]]</div>{% blocktrans %}<span>[[ lq.name ]]</span> posted on <span>[[ lq.category ]]</span>{% endblocktrans %}: <span>[[ lq.title ]]</span></div>
						<div class="tutor-info-community-post-desc" ng-show="lq.best_answer_id != null"><div class="tutor-info-point-adopt-best f12">[[ lq.best_answer_credit ]]</div>{% blocktrans %}<span>[[ lq.name ]]</span> posted on <span>[[ lq.category ]]</span>{% endblocktrans %}: <span>[[ lq.title ]]</span></div>
						<div class="tutor-info-community-post-content">[[ lq.contents | getText ]]</div>
						<div class="tutor-info-community-post-count"><div class="tutor-info-post-answer-comment">{% blocktrans %}[[ lq.answer_count ]] answer<span ng-show="lq.answer_count > 1">s</span>{% endblocktrans %} &nbsp;&nbsp;&nbsp; {% blocktrans %}[[ lq.comment_count ]] comment<span ng-show="lq.comment_count > 1">s</span>{% endblocktrans %}</div><div class="tutor-info-post-language-time">[[ lq.written_lang_name ]] |&nbsp;&nbsp; [[ lq.updated_time | displayTime ]]</div></div>
					</div>
				</div>
			</div>

		<div class="tutor-info-more-button btn btn-default" ng-show="selectedCommunityTab == 0 && AllShowMore" ng-click="getMoreCommunity( allPage + 1, 'all')">{% trans "Show more" %}</div>
		<div class="tutor-info-more-button btn btn-default" ng-show="selectedCommunityTab == 1 && LBShowMore" ng-click="getMoreCommunity( lbPage + 1, 'LB')">{% trans "Show more" %}</div>
		<div class="tutor-info-more-button btn btn-default" ng-show="selectedCommunityTab == 2 && TPShowMore" ng-click="getMoreCommunity( tpPage + 1, 'TP')">{% trans "Show more" %}</div>
		<div class="tutor-info-more-button btn btn-default" ng-show="selectedCommunityTab == 3 && LQShowMore" ng-click="getMoreCommunity( lqPage + 1, 'LQ')">{% trans "Show more" %}</div>
		</div>
	</div>
	<!-- page -->
	<!-- <div class="video-bottom mobile-none">
		<nav>
		  <ul class="pagination pagination-sm">
		    <li ng-class="{ 'disabled' : !activity.has_prev }">
		      <a ng-if="activity.has_prev" ng-click="getMoreVideo( activity.page - 1 )" aria-label="Previous"><img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" /></a>
		      <a ng-if="!activity.has_prev" ><img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" /></a>
		    </li>
		    <li ng-repeat="page in activity.pageRange" ng-class="{ 'active' : activity.page == page }">
		    	<a ng-click="getMoreVideo( page )">[[ page ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : !activity.has_next }">
		      <a ng-click="getMoreVideo( videoInfo.page + 1)" aria-label="Next" ng-if="activity.has_next"><img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" /></a>
		      <a ng-if="!activity.has_next"><img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" /></a>
		    </li>
		  </ul>
		</nav>
	</div>
	 -->
	<!-- Mobile -->
	<div class="mobile-row video-area">
		<div class="video-left">
			<img src="{% static 'img/ex_lesson2.png' %}" alt="videoThumbnail" class="video-lesson" />
		</div>
		<div class="video-right">
			<div class="right-title">
				<span class="cost-type" ng-if="videoList[videoMobileIndex-1].coin == 0">{% trans "FREE" %}</span>
				<span class="cost-type" ng-if="videoList[videoMobileIndex-1].coin != 0">[[ videoList[videoMobileIndex-1].coin ]]</span>
				<strong>[[ videoList[videoMobileIndex-1].title ]]</strong>
			</div>		
			<div class="right-content">
				<div class="content-club">
					<strong>{% trans "Club" %}</strong>
					<span>{% trans "English Video Lessons" %}</span>
				</div>
				<div class="content-when">
					<span>[[ videoList[videoMobileIndex-1].updated_time ]]</span>
				</div>
				<div class="content-hits">
					<span>{% blocktrans %}[[ videoList[videoMobileIndex-1].views ]] Views{% endblocktrans %}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="mobile-row video-bottom">
		<div class="page-wrap">
			<div class="mobile-prev left-elem">
				<img ng-click="getMoreMobileVideo( videoMobileIndex - 1, 'prev' )" src="{% static 'img/tutor/text_previous.png' %}" alt="" />
			</div>
			<div class="mobile-page left-elem"> [[ videoEntryIndex ]] / [[ videoCount ]]</div>
			<div class="mobile-next left-elem">
				<img ng-click="getMoreMobileVideo( videoMobileIndex + 1, 'next' )" src="{% static 'img/tutor/text_next.png' %}" alt="" />
			</div>
			<div class="divClearfix"></div>
		</div>
	</div>
</div>

