<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<div class="profile-resume" ng-if="feedbacks.item.length != 0">
	<div class="profile-resume-title">
		<p>{% trans "Feedback" %}</p>
	</div>
	<div class="profile-rating-user">
		<div class="user-comment" ng-repeat="item in feedbacks.item">
			<div class="user-comment-img left-elem">
				<a href="/user/[[ item.tutor_id ]]"><img ng-src="[[ item.profile_photo ]]" alt="유저사진" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' /></a>
			</div>
			<div class="user-comment-info left-elem">
				<div class="comment-info-top">
					<span class="info-top-name"> [[ item.tutor_name ]] </span> 
					<span class="info-top-when"> [[ item.created_date | date : 'yyyy-MM-dd' ]] </span>
				</div>
				<div class="comment-info-middle">
					<span>[[ item.comment ]]</span><br />
					<span class="more-comment cursor-hover" ng-if="item.count > 1 && item.moreList.length == 0" ng-click="moreComment( item )">{% blocktrans %}+[[ item.count - 1 ]] more{% endblocktrans %}</span>
					<span class="more-comment cursor-hover" ng-if="item.moreList.length != 0" ng-click="toggleFlag( item )">{% trans "Close" %}</span>
				</div>
				<div ng-if="item.moreList.length != 0" ng-repeat="i in item.moreList">
					<div class="comment-info-top">
						<span class="info-top-name"> [[ i.tutor_name ]] </span> 
						<span class="info-top-when"> [[ i.created_date | date : 'yyyy-MM-dd' ]] </span>
					</div>
					<div class="comment-info-middle">
						<span>[[ i.comment ]]</span><br />
					</div>
				</div>
			</div>
			<div class="divClearfix"></div>
		</div>
	</div>
	<div class="profile-rating-page" ng-show="feedbacks.page_range.length > 1">
		<nav>
		  <ul class="pagination pagination-sm">
		    <li ng-class="{ 'disabled' : feedbacks.page == 1 }">
		      <a ng-if="feebacks.page != 1" ng-click="moreFeedback( feedbacks.page - 1)" aria-label="Previous">
		        <img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="feebacks.page == 1" >
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
		      </a>

		    </li>
		    <li ng-repeat="page in feedbacks.page_range" ng-class="{ 'active' : feedbacks.page == page }">
		    	<a ng-click="moreFeedback( page )">[[ page ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : feedbacks.page == feedbacks.last_page }">
		      <a ng-if="feedbacks.page != feedbacks.last_page" ng-click="moreFeedback( feedbacks.page + 1)" aria-label="Next">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="feedbacks.page == feedbacks.last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>

		    </li>
		  </ul>
		</nav>
	</div>
</div>