<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<div class="row">
	<div class="tutor-side" style="width: 325px;">
		<div class="side-top">
			<ul ng-if="!myPage">
				<li style="margin-right: 3px;">
					{% if request.session.email %}
					<button class="message-btn h24 bg-blue" ng-click="messageHandler( 'detail', tutor.user )" ng-disabled="myPage" style="width: 148px !important"><img style="width: 19px; height: 19px;" src="{% static 'img/icon_message.png' %}" alt=""/>{% trans "Send Message" %}</button>
					{% else %}
					<button class="message-btn h24 bg-blue" ng-click="goUrlAfterLogin('/user/'+ [[tutor.user]])" ng-disabled="myPage" style="width: 148px !important"><img style="width: 19px; height: 19px;" src="{% static 'img/icon_message.png' %}" alt=""/>{% trans "Send Message" %}</button>
					{% endif %}
				</li>
				<li>
				{% if request.session.email %}
					<button ng-show="isFriend == 0" id="followBtn" class="follow-btn h24 bg-orange" style="width: 148px !important" ng-disabled="myPage" type="button" ng-click="openFriendModal()" >{% trans "Add as Friend" %}</button>
				{% else %}
					<button ng-show="isFriend == 0" id="followBtn" class="follow-btn h24 bg-gray" style="width: 148px !important" ng-disabled="myPage" type="button" ng-click="goUrlAfterLogin('/user/'+ [[tutor.user]])" >{% trans "Add as Friend" %}</button>
				{% endif %}
					<button ng-show="isFriend == 1"class="follow-btn isFriend h24 bg-gray" disabled="disabled" style="color: #fff; width: 148px !important;">{% trans "Friend Request Sent" %}</button>
					<button ng-show="isFriend == 2"class="follow-btn isFriend h24 bg-gray" disabled="disabled" style="color: #fff; width: 148px !important;">{% trans "Request Received" %}</button>
				</li>
				<li class="etc-area">
                    {% if request.session.email %}
                    <div class="dropdown">
                        <button class="report-btn" ng-click="openReportModal( 1 )"><img style="width: 15px; height: 15px;" src="{% static 'img/tutor/icon_warning_15x15.png' %}" alt="" tooltip title="report" /></button>
                        <!-- <button class="etc dropdown-toggle" ng-disabled="myPage" type="button" id="dropdownMenu1" data-toggle="dropdown" ara-expanded="true"><span class="glyphicon glyphicon-option-vertical"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledy="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="openReportModal( 1 )">Report</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addHide( 1 )">Hide</a></li>
                        </ul> -->
                    </div>
                    {% else %}
                    <div class="dropdown">
                        <button class="report-btn" ng-click="openReportModal( 1 )"><img style="width: 15px; height: 15px;" src="{% static 'img/tutor/icon_warning_15x15.png' %}" alt="" tooltip title="report" /></button>
                        <!-- <button class="etc dropdown-toggle" ng-disabled="myPage" type="button" id="dropdownMenu1" data-toggle="dropdown" ara-expanded="true"><span class="glyphicon glyphicon-option-vertical"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledy="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="openReportModal( 1 )">Report</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addHide( 1 )">Hide</a></li>
                        </ul> -->
                    </div>
                    {% endif %}
				</li>
				<div class="divClearfix"></div>
			</ul>
			<button class="tellpin-button follow-btn" style="color: rgb(150, 150, 150); background-color: #fcfcfc; width: 325px;" ng-if="myPage" ng-click="clickEditProfile()">{% trans "Edit Profile" %}</button>
		</div>
		<div class="side-how side-trial" ng-if="!myPage && friends.length">
			<div class="side-course">
				<div class="side-how-title">
					<span class="name f13">{% trans "Friends" %} ([[ friends.length ]])</span>
					<span class="all cursor-hover f13" ng-show="friends.length > 4" ng-click="openList( 'friend' )">{% trans "view all" %}</span>
					<div class="clear"></div>
				</div>
				<div class="side-img-area">
					<div class="pop-wrap left" ng-repeat="i in friends" ng-mouseenter="userPopover( $event, i.user, 'left' )" ng-mouseleave="hidePopover()" ng-class="{ 'side-img-margin' : !$last }">
						<a href="/user/[[ i.user ]]"><img ng-src="[[ i.photo_filename ]]" alt="" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' class="popover-img profile-border"/></a>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="side-how" ng-if="!myPage && tutorList.length">
			<div class="side-how-meet">
				<div class="side-how-title"> 
					<span class="name f13">{% trans "Tutors" %} ([[ tutorList.length ]])</span>
					<span class="all cursor-hover f13" ng-show="tutorList.length > 4" ng-click="openList( 'bookmark' )">{% trans "view all" %}</span>
					<div class="clear"></div>
				</div>
				<div class="side-how-middle">
					<div class="side-img-area">
						<!-- <img ng-src="[[ i.photo_filename ]]" alt="" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' class="popover-img" ng-repeat="i in bookmarks.bookmark track by $index" custom-popover usercard="i" /> -->
						<div ng-repeat="i in tutorList track by $index" ng-mouseenter="userPopover( $event, i.user, 'left' )" ng-mouseleave="hidePopover()" class="pop-wrap left" ng-class="{ 'side-img-margin' : !$last }">
							<a href="/user/[[ i.user ]]"><img ng-src="[[ i.photo_filename ]]" alt="" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' class="popover-img profile-border" /></a>						
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="side-how side-rate" ng-if="!myPage && tuteeList.length > 0">
			<div class="side-course">
				<div class="side-how-title">
					<span class="name f13">{% trans "Tutees" %} ([[ tuteeList.length ]])</span>
					<span class="all cursor-hover f13" ng-show="tuteeList.length > 4 " ng-click="openList( 'follow' )">{% trans "view all" %}</span>
					<div class="clear"></div>
				</div>
				<div class="side-img-area">
					<div class="pop-wrap left" ng-repeat="i in tuteeList" ng-mouseenter="userPopover( $event, i.user, 'left' )" ng-mouseleave="hidePopover()" ng-class="{ 'side-img-margin' : !$last }" >
						<a href="/user/[[ i.user ]]"><img ng-src="[[ i.photo_filename ]]" alt="" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' class="popover-img profile-border" /></a>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>






