{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
{% block title %}{% trans "Apply to be a Tutor" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/tutor/tutor_registration.css" />


<div class="tr-backdrop">
	<div ng-app="registrationApp">
		<div class="container" >
		
			<div id="tr-navigation" ng-controller="navigationCtrl" ng-init="accessType=0">
			{% block navigation %}
				<div class="tr-arrow-box-start">{% trans "Personal" %}</div>
				<div class="tr-arrow-box">{% trans "Profile" %}</div>
				<div class="tr-arrow-box">{% trans "Payment Info" %}</div>
				<div class="tr-arrow-box">{% trans "Terms of service" %}</div>
				<div class="tr-arrow-box-selected">{% trans "Complete" %}</div>
			{% endblock %}
			</div>
			
			<div id="tr-content" class="complete-body">
			{% block registration %}
				<div class="LRpadding25" ng-controller="completeCtrl">
					<form id="complete-form" class="form" role="form" name="complete" action="/main/" method="POST">
						<div class="row">
							<div class="form-group">
								<h1 class="complete-title">{% trans "Thank you!" %}</h1>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-sm-12 complete-content">
									<p>{% trans "Your application has been submitted." %}</p> 
									<p>{% trans "We’ll review your application within 5 business days and contact you via email." %}</p><br /><br />
								</div>
								<div class="divClear"></div>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="col-sm-12 complete-bottom">
							<div class="display-btn-area">
								<ul class="pager">
									<li><button type="button" class="profile-continue-btn complete-btn" ng-click="go_back_to_main()">{% trans "Go back to main" %}</button></li>
								</ul>
							</div>
							<div ng-if="updateLoading" class="display-btn-area" style="padding:20px;"><img src="{% static 'img/ajax-loader.gif' %}"></div>
						</div>
						<div class="divClear"></div>
					</div>
				</div>
			{% endblock %}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/static/js/tutor/apply/complete.js"></script>
{% endblock %}