{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
{% block title %}{% trans "Apply to be a Tutor" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/tutor/tutor_registration.css" />


<div class="tr-backdrop">
	<div ng-app="registrationApp">
		<div class="container" >
		
			<div id="tr-navigation" ng-controller="navigationCtrl" ng-init="accessType=0">
			{% block navigation %}
				<div class="tr-arrow-box-start">{% trans "Personal" %}</div>
				<div class="tr-arrow-box">{% trans "Profile" %}</div>
				<div class="tr-arrow-box-selected">{% trans "Payment Info" %}</div>
				<div class="tr-arrow-box">{% trans "Terms of service" %}</div>
				<div class="tr-arrow-box">{% trans "Complete" %}</div>
			{% endblock %}
			</div>
			
			<div id="tr-content">
			{% block registration %}
				<div class="LRpadding25" ng-controller="paymentCtrl" ng-init="data={{data}}; init();">
					<form id="payment-form" class="form" role="form" name="payment" action="/tutor/apply/terms/" method="POST">
						<div class="row">
							<div class="form-group">
								<div class="col-sm-12 payment-title">
									<h3>{% trans "Payment Account" %}</h3>
									<p class="payment-text">{% trans "This field is required for cash-out through Paypal." %}</p>
									<p>{% trans "This information must correspond with your payment information of Paypal." %}</p>
									<p>{% trans "Otherwise you will encounter problems when withdrawing funds." %}</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label class="col-sm-4">{% trans "First Name" %}</label>
								<label class="col-sm-4">{% trans "Last Name" %}</label>
								<div class="divClear"></div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-sm-4">
									<input type="text" id="first_name" name="first_name" ng-model="formdata.first_name" class="form-control payment-short-txt" required />
								</div>
								<div class="col-sm-4">
									<input type="text" id="last_name" name="last_name" ng-model="formdata.last_name" class="form-control payment-short-txt" required />
								</div>
								<div class="divClear"></div>
							</div>
						</div>
						
						<div class="row">
							<div class="form-group">
								<label class="col-sm-12">{% trans "Street Address" %}</label>

								<div class="col-sm-8">
									<input type="text" id="street_addr" name="street_addr" ng-model="formdata.street_address" class="form-control payment-long-txt" required />

								</div>
								<div class="divClear"></div>
							</div>
						</div>
							
						<div class="row">
							<div class="form-group">
								<label class="col-sm-4">{% trans "City" %}</label>
								<label class="col-sm-4">{% trans "State / Province / Region" %}</label>
								<div class="divClear"></div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-sm-4">
									<input type="text" id="city" name="city" ng-model="formdata.city" class="form-control payment-short-txt" required />
								</div>
								<div class="col-sm-4">
									<input type="text" id="state" name="state" ng-model="formdata.state_province_region" class="form-control payment-short-txt" required />
								</div>
								<div class="divClear"></div>
							</div>
						</div>
						
						<div class="row">
							<div class="form-group">
								<label class="col-sm-4">{% trans "Zip / Postal code" %}</label>
								<label class="col-sm-4">{% trans "Country / Region" %}</label>
								<div class="divClear"></div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-sm-4">
									<input type="text" id="zip" name="zip" ng-model="formdata.zip_code" class="form-control payment-short-txt" required />

								</div>
								<div class="col-sm-4">
									<select class="form-control payment-short-txt" id="country" name="country" ng-model="formdata.country_region" required >
										<option ng-selected="country.id == formdata.country_region" ng-repeat="country in country_list" value="[[ country.id ]]">
											[[ country.country ]]
										</option>
									</select>
								</div>
								<div class="divClear"></div>
							</div>
						</div>
						
						<div class="row">
							<div class="form-group">
								<label class="col-sm-4">{% trans "Phone number" %}</label>
								<label class="col-sm-4">{% trans "Email Address" %}</label>
								<div class="divClear"></div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-sm-4">
									<input type="text" id="phone" name="phone" ng-model="formdata.phone" class="form-control payment-short-txt" required />
								</div>

								<div class="col-sm-4">
									<input type="text" id="email" name="email" ng-model="formdata.email" class="form-control payment-short-txt" required />
								</div>
								<div class="divClear"></div>
							</div>
						</div>
					</form>
					
					<div class="row">
						<div class="col-sm-12">
							<div class="display-btn-area">
								<ul class="pager">
									<li><button type="button" class="registration-back h26 bg-gray" ng-click="go_back();">{% trans "Back" %}</button></li>
									<li><button type="button" class="registration-continue h26 bg-blue" ng-click="checkContinue()">{% trans "Continue" %}</button></li>
								</ul>
							</div>
							<div ng-if="updateLoading" class="display-btn-area" style="padding:20px;"><img src="{% static 'img/ajax-loader.gif' %}"></div>
						</div>
					</div>
				</div>
			{% endblock %}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/static/js/tutor/apply/payment.js"></script>
{% endblock %}