{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
{% block title %}{% trans "Apply to be a Tutor" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/tutor/tutor_registration.css" />


<div class="tr-backdrop">
	<div ng-app="registrationApp">
		<div class="container" >
			<div id="tr-navigation" ng-controller="navigationCtrl" ng-init="makeInitial();">
			{% block navigation %}
				<div class="tr-arrow-box-start-selected">{% trans "Personal" %}</div>
				<div class="tr-arrow-box">{% trans "Profile" %}</div>
				<div class="tr-arrow-box">{% trans "Payment Info" %}</div>
				<div class="tr-arrow-box">{% trans "Terms of service" %}</div>
				<div class="tr-arrow-box">{% trans "Complete" %}</div>
			{% endblock %}
			</div>
		
			<div id="tr-content">
			{% block registration %}
				<div class="LRpadding25" ng-controller="personalCtrl" ng-init="init({{data}})">
					<div class="registration-label" ng-click="showData();">{% trans "Basic Information" %}</div>
					<div class="personal-profile-part">
						<!-- Profile Picture Field -->
						<div class="personal-row">
							<div class="personal-label">{% trans "Profile Photo" %}</div>
					        <div class="personal-pic">
					            <div class="personal-profile-img" ng-click="attachFile();">
					           	 <img class="img-rounded" ng-src="[[ registration.personal.photo_filepath + '/' ]][[ registration.personal.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" width="100" height="100">
					            </div>
								<div class="edit-profile-photo" ng-click="attachFile();">
									<img style="width: 24px; height: 24px;" ng-src="/static/img/user_auth/icon_edit_photo.png">
								</div>
					            <div class="personal-profile-btn">
					               <input type="file" id="filename" style="display:none" data-ng-model="registration.personal.photo_filename" onchange="angular.element(this).scope().submitPhoto(this.files)"/>
					            </div>
					         </div>
						</div>
						<!-- First Name Field -->
						<div class="personal-row">
							<div class="personal-label">{% trans "Full Name" %}</div>
							<div class="personal-input">
								<input type="text" class="form-control" data-ng-model="registration.personal.name" placeholder="Name" />
							</div>
						</div>
						<!-- From Field -->
						<div class="personal-row">
							<div class="personal-label">{% trans "From" %}</div>
							<div class="personal-select">
<!-- 
 -->
								<select class="form-control" ng-model="registration.personal.from_country_id" ng-change="getCityInfo(registration.personal.from_country_id, 'from')"  ng-options="nation.id as nation.country for nation in registration.nations">
								</select>

 <!--
	 							<select class="form-control" ng-model="registration.personal.from_country_id" ng-change="setLivein()">
								    <option ng-selected="nation.id == registration.personal.from_country_id" ng-repeat="nation in registration.nations" value="[[ nation.id ]]">
										[[ nation.name ]]
								    </option>
								</select>

 -->
							</div> 
							<div class="personal-select">
								<select class="form-control" ng-model="registration.personal.from_city_id" ng-options="city.id as city.city for city in registration.fromCity">
								</select>
<!-- 
								<select class="form-control" ng-model="registration.personal.from_city_id" ng-change="setLiveinCity()">
								    <option ng-selected="city.id == registration.personal.from_city_id" ng-repeat="city in registration.nations[ registration.personal.from_country_id - 1 ].city_list" value="[[ city.id ]]">
										[[ city.name ]]
								    </option>
								</select>
 -->
							</div>
						</div>
						<!-- Live in Field -->
						<div class="personal-row">
							<div class="personal-label">{% trans "Living in" %}</div>
							<div class="personal-select">
								<select class="form-control" ng-model="registration.personal.livingin_country_id" ng-change="getCityInfo(registration.personal.livingin_country_id, 'livingin')"  ng-options="nation.id as nation.country for nation in registration.nations">
								</select>
<!-- 
								<select class="form-control" ng-model="registration.personal.livingin_country_id">
								    <option ng-selected="nation.id == registration.personal.livingin_country_id" ng-repeat="nation in registration.nations" value="[[ nation.id ]]">
										[[ nation.name ]]
								    </option>
								</select>
 -->
							</div>
							<div class="personal-select">
								<select class="form-control" ng-model="registration.personal.livingin_city_id" ng-options="city.id as city.city for city in registration.livinginCity">
								</select>
<!-- 
								<select class="form-control" ng-model="registration.personal.livingin_country_id">
									<option ng-selected="city.id == registration.personal.livingin_country_id" ng-repeat="city in registration.nations[ registration.personal.livingin_country_id - 1 ].city_list" value="[[ city.id ]]">
										[[ city.name ]]
								    </option>
								</select>
 -->
							</div>
						</div>
						<!-- time zone -->
						<div class="personal-row">
							<div class="personal-label">{% trans "Current Time" %}</div>
							<div class="personal-content">
								<div class="personal-display-time">[[ currentTime ]]</div>
								<div class="tellpin-flat-button change-timezone-button h24 bg-lblue f-gray-33" ng-click="timezoneSelected = 1" ng-hide="timezoneSelected == 1">{% trans "Change Time Zone" %}</div>
								<select class="form-control personal-timezone-select" ng-blur="timezoneSelected = 0" ng-show="timezoneSelected == 1" ng-change="changeTimezone()" ng-model="registration.personal.timezone_id" ng-options="timezone.id as timezone.utc_location for timezone in registration.timezoneInfo">
									<option value="">{% trans "Select Timezone" %}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="registration-label">{% trans "Language Proficiency" %}</div>
					<div class="personal-profile-part">
						<div class="personal-row">
							<div class="personal-select-lang-list">
	<!-- 
										<div class="personal-header-row">
											<div class="personal-header-ispeak">I speak</div><div class="personal-header-language">Language</div><div class="personal-header-level">Level</div>
										</div>
	-->
								<div class="personal-select-native-list"> 
									<div class="personal-row-lebel">{% trans "Native language" %}</div>
									<div class="personal-content">
										<div class="personal-lang-row">
											<div class="personal-row-select-lang">
												<select class="form-control" ng-model="registration.personal.native1_id" ng-change="changeLanguge('native1_id')" ng-click="getOldLanguage('native1_id')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
											</div>
											<div class="personal-row-add" ng-show="registration.personal.native2_id == null">
												<a ng-click="addNativeLanguage(2)"><span>{% trans "+ Add" %}</span></a>
											</div>
										</div>
										<div class="personal-lang-row" ng-if="registration.personal.native2_id != null">
											<div class="personal-row-add-contents" >
												<div class="personal-row-select-level">
													<select id="select1" class="form-control" ng-model="registration.personal.native2_id" ng-change="changeLanguge('native2_id')" ng-click="getOldLanguage('native2_id')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
												</div>
												<div class="personal-row-delete  delete-icon-style">
													<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteNativeLanguage(2)">
												</div>
											</div>
											<div class="personal-row-add" ng-show="registration.personal.native3_id == null">
												<a ng-click="addNativeLanguage(3)"><span>{% trans "+ Add" %}</span></a>
											</div>
										</div>
										<div class="personal-lang-row" ng-if="registration.personal.native3_id != null">
											<div class="personal-row-add-contents" >
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.native3_id" ng-change="changeLanguge('native3_id')" ng-click="getOldLanguage('native3_id')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
												</div>
												<div class="personal-row-delete  delete-icon-style">
													<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteNativeLanguage(3)">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="personal-select-learn-list">
									<div class="personal-row-lebel">{% trans "Language(s) I learn or speak" %}</div> <div class="personal-row-checl-label">{% trans "learning" %}</div>
									<div class="personal-content-learn">
										<div class="personal-lang-row">
											<div class="personal-row-add-contents" >
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang1_id" ng-change="changeLanguge('lang1_id')" ng-click="getOldLanguage('lang1_id')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
												</div>
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang1_level" ng-change="addTeachingLanguage()" ng-options="level.id as level.level for level in registration.levels"></select>
												</div>
												<div class="">
													<input type="checkbox" class="personal-learning-checkbox" id="learning1_check" ng-model="registration.personal.lang1_learning" ng-click="">
												</div>
											</div>
											<div class="personal-row-add" ng-show="registration.personal.lang2_id == null">
												<a href="" ng-click="addLearningLanguage(2)"><span>{% trans "+ Add" %}</span></a>
											</div>
										</div>
										<div class="personal-lang-row" ng-if="registration.personal.lang2_id != null">
											<div class="personal-row-add-contents" >
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang2_id" ng-change="changeLanguge('lang2_id')" ng-click="getOldLanguage('lang2_id')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
												</div>
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang2_level" ng-change="addTeachingLanguage()" ng-options="level.id as level.level for level in registration.levels"></select>
												</div>
												<div class="personal-row-delete  delete-icon-style">
													<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLearningLanguage(2)">
												</div>
												<div class="">
													<input type="checkbox" class="personal-learning-checkbox" id="learning2_check" ng-model="registration.personal.lang2_learning" ng-click="">
												</div>
											</div>
											<div class="personal-row-add"  ng-show="registration.personal.lang3_id == null">
												<a href="" ng-click="addLearningLanguage(3)"><span>{% trans "+ Add" %}</span></a>
											</div>
										</div>
										<div class="personal-lang-row" ng-if="registration.personal.lang3_id != null">
											<div class="personal-row-add-contents" >
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang3_id" ng-change="changeLanguge('lang3_id')" ng-click="getOldLanguage('lang3_id')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
												</div>
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang3_level" ng-change="addTeachingLanguage()" ng-options="level.id as level.level for level in registration.levels"></select>
												</div>
												<div class="personal-row-delete  delete-icon-style">
													<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLearningLanguage(3)">
												</div>
												<div class="">
													<input type="checkbox" class="personal-learning-checkbox" id="learning3_check" ng-model="registration.personal.lang3_learning" ng-click="">
												</div>
											</div>
											<div class="personal-row-add"  ng-show="registration.personal.lang4_id == null">
												<a href="" ng-click="addLearningLanguage(4)"><span>{% trans "+ Add" %}</span></a>
											</div>
										</div>
										<div class="personal-lang-row" ng-if="registration.personal.lang4_id != null">
											<div class="personal-row-add-contents" >
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang4_id" ng-change="changeLanguge('lang4_id')" ng-click="getOldLanguage('lang4_id')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
												</div>
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang4_level" ng-change="addTeachingLanguage()" ng-options="level.id as level.level for level in registration.levels"></select>
												</div>
												<div class="personal-row-delete  delete-icon-style">
													<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLearningLanguage(4)">
												</div>
												<div class="">
													<input type="checkbox" class="personal-learning-checkbox" id="learning4_check" ng-model="registration.personal.lang4_learning" ng-click="">
												</div>
											</div>
											<div class="personal-row-add"  ng-show="registration.personal.lang5_id == null">
												<a href="" ng-click="addLearningLanguage(5)"><span>{% trans "+ Add" %}</span></a>
											</div>
										</div>
										<div class="personal-lang-row" ng-if="registration.personal.lang5_id != null">
											<div class="personal-row-add-contents" >
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang5_id" ng-change="changeLanguge('lang5_id')" ng-click="getOldLanguage('lang5_id')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
												</div>
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang5_level" ng-change="addTeachingLanguage()" ng-options="level.id as level.level for level in registration.levels"></select>
												</div>
												<div class="personal-row-delete  delete-icon-style">
													<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLearningLanguage(5)">
												</div>
												<div class="">
													<input type="checkbox" class="personal-learning-checkbox" id="learning5_check" ng-model="registration.personal.lang5_learning" ng-click="">
												</div>
											</div>
											<div class="personal-row-add"  ng-show="registration.personal.lang6_id == null">
												<a href="" ng-click="addLearningLanguage(6)"><span>{% trans "+ Add" %}</span></a>
											</div>
										</div>
										<div class="personal-lang-row" ng-if="registration.personal.lang6_id != null">
											<div class="personal-row-add-contents" >
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang6_id" ng-change="changeLanguge('lang6_id')" ng-click="getOldLanguage('lang6_id')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
												</div>
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang6_level" ng-change="addTeachingLanguage()" ng-options="level.id as level.level for level in registration.levels"></select>
												</div>
												<div class="personal-row-delete  delete-icon-style">
													<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteLearningLanguage(6)">
												</div>
												<div class="">
													<input type="checkbox" class="personal-learning-checkbox" id="learning6_check" ng-model="registration.personal.lang6_learning" ng-click="">
												</div>
											</div>
										</div>
									</div>
								</div>
<!-- 
								<div class="personal-select-other-list">
									<div class="personal-row-lebel">Other language I speak(optional)</div>
									<div class="personal-content">
										<div class="personal-lang-row">
											<div class="personal-row-add-contents" >
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang4_id" ng-click="getOldLanguage('other1')" ng-change="changeLanguge('other1')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
												</div>
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.other1_skill_level" ng-options="level.id as level.level for level in registration.levels"></select>
												</div>
											</div>
											<div class="personal-row-add" ng-show="registration.personal.lang5_id == null">
												<a ng-click="addOtherLanguage(2)"><div>{% trans "+ Add" %}</div></a>
											</div>
										</div>
										<div class="personal-lang-row" ng-if="registration.personal.lang5_id != null">
											<div class="personal-row-add-contents" >
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang5_id" ng-click="getOldLanguage('other2')" ng-change="changeLanguge('other2')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
												</div>
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.other2_skill_level"  ng-options="level.id as level.level for level in registration.levels"></select>
												</div>
												<div class="personal-row-delete">
													<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteOtherLanguage(2)">
												</div>
											</div>
											<div class="personal-row-add" ng-show="registration.personal.lang6_id == null">
												<a href="" ng-click="addOtherLanguage(3)"><span>{% trans "+ Add" %}</span></a>
											</div>
										</div>
										<div class="personal-lang-row" ng-if="registration.personal.lang6_id != null">
											<div class="personal-row-add-contents" >
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.lang6_id" ng-click="getOldLanguage('other3')" ng-change="changeLanguge('other3')" ng-options="language.id as language.lang_english for language in registration.languages"></select>
												</div>
												<div class="personal-row-select-level">
													<select class="form-control" ng-model="registration.personal.other3_skill_level"  ng-options="level.id as level.level for level in registration.levels"></select>
												</div>
												<div class="personal-row-delete">
													<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteOtherLanguage(3)">
												</div>
											</div>
										</div>
									</div>
								</div>
-->
							</div>
						</div>
						<!-- Teach Languages Field -->
						<div class="personal-row">
							<div class="personal-label-long">{% trans "What language will you teach?" %}</div>
							<div class="personal-teach-list">
								<div ng-repeat="teach in teachable" ng-class=" teach.state == 1 ? 'selected-tag' : 'teach-tag' " ng-click="selectTeachingLanguage($index)">
									[[ teach.lang_english ]]
								</div>
							</div>
						</div>
					</div>
					<div class="registration-label">{% trans "Communication Tools" %}</div>
					<div class="personal-profile-part">
						<!-- Messenger Account Field -->
						<div class="personal-row">
							<div class="tools-description">{% trans "The more tools you add, the more you will get exposure to potential tutees." %}</div>
							<div class="personal-select-list-row">
								<div class="personal-select-list">
									<div class="personal-select-row" ng-repeat="messenger in registration.personal.tools">
										<div class="personal-select-tools">
											<select class="form-control" ng-model="messenger.name" ng-change="checkToolsValidation($index)" ng-click="getOldTools($index)" >
												<option value="[[ tool.name ]]" ng-repeat="tool in registration.tools" ng-selected="messenger.name == tool.name">
													[[ tool.name ]]
												</option>
											</select>
										</div>
										<div class="personal-select-tools-info">
											<input type="text" class="form-control" ng-model="messenger.account" placeholder="ID" />
										</div>
										<div class="personal-select-delete  delete-icon-style" ng-show="!$first">
											<img src="{% static 'img/tutor/button_cancel.png' %}" ng-click="deleteTools($index)">
										</div>
										<div class="personal-row-add" ng-show="$last && $index+1 < registration.tools.length">
											<a href="" ng-click="addTools()"><span>{% trans "+ Add" %}</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- How to lesson Field -->
						<div class="personal-row" ng-init="setDefaultAudio()">
<!-- 									<input type="checkbox" ng-click="checkPersonalTools()" ng-model="registration.personal.online" ng-true-value="1" ng-false-value="0">Online (using Messenger)  -->
							<input type="radio" ng-disabled="!registration.personal.online" ng-model="registration.personal.audio" value="0">  {% trans "Video Available" %}
							<div class="tools-description"> {% trans "- Many students prefer live video lessons to live audio lessons." %}</div>
							<input type="radio" ng-disabled="!registration.personal.online" ng-model="registration.personal.audio" value="1">  {% trans "Voice Only" %}
							<div class="tools-description"> {% trans "- Want to turn webcam off during class." %}</div>
						</div>
					</div>
					<form id="personal-form" action="/tutor/apply/profile/" method="POST">
					</form>
					<div class="row">
						<div class="col-sm-12">
							<div class="display-btn-area">
								<ul class="pager">
<!-- 
									<li><button ng-click="go_back();" class="registration-back h26 bg-gray">{% trans "Back" %}</button></li>
-->
									<li><button ng-click="submitPersonal()" class="registration-continue h26 bg-blue">{% trans "Continue" %}</button></li>
								</ul>
							</div>
							<div ng-if="updateLoading" class="display-btn-area" style="padding:20px;"><img src="{% static 'img/ajax-loader.gif' %}"></div>
						</div>
					</div>
				</div>
			{% endblock %}
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/countries.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/angularjs/ngSelectable.js' %}"></script>
<script src="{% static 'js/angularjs/angular-route.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sortable-view.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tutor/apply/personal.js' %}"></script>

{% endblock %}