{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
{% block title %}{% trans "Apply to be a Tutor" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/ng-tags-input/ng-tags-input.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/tutor/tutor_registration.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/input-file.css' %}" />


<div class="tr-backdrop">
	<div ng-app="registrationApp">
		<div class="container" >
			
			<div id="tr-navigation" ng-controller="navigationCtrl" ng-init="accessType=0">
			{% block navigation %}
				<div class="tr-arrow-box-start">{% trans "Personal" %}</div>
				<div class="tr-arrow-box-selected">{% trans "Profile" %}</div>
				<div class="tr-arrow-box">{% trans "Payment Info" %}</div>
				<div class="tr-arrow-box">{% trans "Terms of service" %}</div>
				<div class="tr-arrow-box">{% trans "Complete" %}</div>
				<div style="clear: both;"></div>
			{% endblock %}
			</div>
			
			<div id="tr-content">
			{% block registration %}
				<div class="LRpadding25" ng-controller="profileCtrl" ng-init="data = {{data}}; init();">
					<form id="profile-form" class="form" role="form" name="profile" action="/tutor/apply/payment/" method="POST">

						<div class="profile-row">
							<div class="form-group profile-form">
								<div class="profile-tab">
									<label class="col-sm-12 regist-sub-title">
										{% trans "Video Introduction" %}
									</label>
								</div>
								<div class="profile-tab-bottom"></div>
								<div class="profile-rule-area">
									<div class="profile-rule-sub-title" style="height: 280px;">{% trans "Rule" %} </div>
									<div class="profile-rule-sub-description">
										{% blocktrans %}<p>* Introduce yourself in the language(s) you are going to teach including one(s) you can speak at Advanced(C2) ~ Native level. If you're planning to teach more than one language, make sure that you speak in all of those languages.</p>
										<p>* It is totally fine to use introduction or resume part you just wrote, but keep in mind that this is a strong proof of your SPEAKING(Not reading) fluency.</p>
										<p>* Your video must be 2 to 5 minutes long. Keep it simple!</p>
										<p>* Use a webcam, iPad, or camera phone for recording. Upload your video to a video sharing site.</p>
										<p>&nbsp; &nbsp; We recommend you to use Youtube.com or Youku.com(for Chinese)</p>
										<p>* Title the video on Youtube/Youku : <span style="color: #00B050"> "Learn [Teaching language(s)] on Tellpin with [Your username]"</span></p>
										<p>&nbsp; &nbsp; In video description, we strongly recommend you to paste your tutor profile URL so that more people can view your introduction.</p>
										<p>* This part is visible when potential tutees view your tutor profile.</p>{% endblocktrans %}
									</div>
								</div>
								<label class="col-sm-12 regist-sub-title">
									{% trans "After you upload your video file to Youtube or Youku, copy and paste your URL link." %}
								</label>
								<input class="col-sm-12 video-url" type="text" id="video_intro" name="video_intro" ng-model="formdata.video_intro" placeholder="[[ strings.labels.ex_video_intro_link ]]" required />
							</div>
							<div style="clear:both;"></div>
						</div>
						
						<div class="profile-row">
							<div class="form-group profile-form">
								<div class="profile-tab">
									<label class="col-sm-12 regist-sub-title">{% trans "Short Introduction" %}</label>
								</div>
								<div class="profile-tab-bottom"></div>
								<div class="profile-rule-area">
									<div class="profile-rule-sub-title">{% trans "Rule" %} </div>
									<div class="profile-rule-sub-description">
										{% blocktrans %}<p> * Please do not write your messenger ID or email address. That information will be removed if you do so.</p>
										<p> * This part is visible when potential tutees see a list of All tutors. (max. 250 characters)</p>{% endblocktrans %}
									</div>
								</div>
								<div class="profile-sub-label"> {% blocktrans %}Short&nbsp;&nbsp; <br> Intro.&nbsp;&nbsp;&nbsp;{% endblocktrans %}
									<div class="text-count-area"><span class="text-count">( [[ formdata.short_intro.length ]]/250 )</span></div>
								</div>
								<textarea id="quick_intro" name="short_intro" kr-input ng-model="formdata.short_intro" maxlength="250" ng-maxlength="250" cols="20" rows="5" required ng-trim="false"></textarea>
								<div role="alert">
									<span class="error" ng-show="formdata.short_intro.$error.required">{% trans "Required!" %}</span>
								</div>
								<div class="profile-ex-area">
									<div class="profile-ex-sub-title" style="height: 100px;">{% trans "Example" %} </div>
									<div class="profile-ex-sub-description">
										{% blocktrans %}<p>I am a native English speaker from the United States. I speak fluent Spanish and have learned Chinese for 3 years.</p>
										<p>I studied English Literature at ABC university. I'm working as librarian now.</p>
										<p>I've taught English for 2+ years: including 1:1 and small group.</p>
										<p>I specialize in English for IELTS and TOEIC/TOEFL preparation.</p>{% endblocktrans %}
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="profile-row">
							<div class="form-group profile-form">
								<div class="profile-tab">
									<label class="col-sm-12 regist-sub-title">{% trans "Long Introduction" %}</label>
								</div>
								<div class="profile-tab-bottom"></div>

								<div class="profile-rule-area">
									<div class="profile-rule-sub-title">{% trans "Rule" %} </div>
									<div class="profile-rule-sub-description">
										{% blocktrans %}<p> * Please do not write your messenger ID or email address. That information will be removed if you do so.</p>
										<p> * This part is visible when potential tutees see a list of All tutors. (max. 2500 characters) </p>{% endblocktrans %}
									</div>
								</div>
								<div class="profile-sub-label"> {% blocktrans %}Long <br> Intro.{% endblocktrans %}
									<div class="text-count-area"><span class="text-count">( [[ formdata.long_intro.length ]]/2500 )</span></div>
								</div>
								<textarea id="long_intro" name="long_intro" kr-input ng-model="formdata.long_intro" maxlength="2500" ng-maxlength="2500" cols="80" rows="10" required ng-trim="false" style="height: 600px;"></textarea>
								<div role="alert">
									<span class="error" ng-show="formdata.long_intro.$error.required">{% trans "Required!" %}</span>
								</div>
								<div class="profile-ex-area">
									<div class="profile-ex-sub-title" style="height: 100px;">{% trans "Tip" %} </div>
									<div class="profile-ex-sub-description">
										{% blocktrans %}<p> * Describe your Teaching Style, Specialization, Character, Interests, Career progression, etc.</p>
										<p> * How would you respond to the question, "Walk me through your resume"? </p>
										<p>&nbsp; &nbsp; Summarize your resume and touch on the things you find the most important.</p>
										<p> * Elaborate on your skills and experience with specific examples.</p>{% endblocktrans %}
									</div>
								</div>

							</div>
						</div>

						<div class="profile-row" id="resume-content">
							<div class="form-group profile-form">
								<div class="profile-tab">
									<label class="col-sm-12 regist-sub-title">{% trans "Resume (optional)" %}</label>
								</div>
								<div class="profile-tab-bottom"></div>
								<div class="profile-tip-area">
									<div class="profile-rule-sub-title">{% trans "Rule" %} </div>
									<div class="profile-rule-sub-description">
										{% blocktrans %}<p> * Files you attach here are only visible to Tellpin staff. Although Tellpin is not responsible for document authenticity verification,
										 we will compare the document to your resume and insert 'uploaded' sign as below as long as they coincide with each other.
										  The 'uploaded' signs are more likely to make a favorable impression for your potential tutees.</p>{% endblocktrans %}
									</div>
									<div class="profile-tip-area-certificate">
										<div>
											<span class="profile-tip-area-certificate-1 f-gray-64 f13">1988 ~ 1992</span>
											<span class="profile-tip-area-certificate-2 f-gray-33 f13">Baptist Bible College now Summit University</span>
											<span class="profile-tip-area-certificate-img"><img style="width: 18px; height: 18px;" src="{% static 'img/tutor/upload.png' %}" >{% trans "Diploma Uploaded" %}</span> 
										</div>
										<div class="profile-tip-area-certificate-2 f-gray-64 f13" style="margin-left: 164px">Bachelor's Elementary Education</div>
										<div>
											<span class="profile-tip-area-certificate-1 f-gray-64 f13">2015</span>
											<span class="profile-tip-area-certificate-2 f-gray-33 f13" style="margin-left: 62px">TESOL</span>
											<span class="profile-tip-area-certificate-img" style="margin-left: 20px;"><img style="width: 18px; height: 18px;" src="{% static 'img/tutor/upload.png' %}" >{% trans "Certificate Uploaded" %}</span> 
										</div>
										<div class="profile-tip-area-certificate-2 f-gray-64 f13" style="margin-left: 164px">TESOL 120hr International TEFL and TESOL Training 2015</div>
									</div>
								</div>
								
								
								
								<div class="work-exp-row">
									<div class="resume_label"> {% trans "1. Work Experience" %}</div>
									<div class="work-exp-content">
										<div class="add-btn" ng-show="formdata.work1.info == false" ng-click="openWorkModal('work1')">{% trans "+ Add" %}
<!-- 										
										<button class="etc dropdown-toggle" type="button" data-target="#worktModal" data-toggle="modal" ara-expanded="true">+Add</button>
-->
										</div>
										<div class="work_row pos-container" ng-show="formdata.work1.info == true">
											<div class="work_exp_year">
												<span>[[formdata.work1.start_year.val]]</span> - <span>[[formdata.work1.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('work1')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('work', '1')">X</div>
											</div>
											<div class="work_exp_position">
												<span><b>[[formdata.work1.position.val]]</b></span>
											</div>
											<div class="work_exp_info">
												<span>[[formdata.work1.company.val]]</span> <span>[[formdata.work1.city.val]]</span> <span>[[formdata.work1.country_name]]</span>
											</div>
											<div class="work_exp_desc">
												<span>[[formdata.work1.description.val]]</span>
											</div>
										</div>
									</div>

									<div class="work-exp-content">
										<div class="add-btn" ng-show="formdata.work1.info == true && formdata.work2.info == false" ng-click="openWorkModal('work2')">{% trans "+ Add" %}</div>
										<div class="work_row pos-container" ng-show="formdata.work2.info == true">
											<div class="work_exp_year">
												<span>[[formdata.work2.start_year.val]]</span> - <span>[[formdata.work2.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('work2')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('work', '2')">X</div>
											</div>
											<div class="work_exp_position">
												<span><b>[[formdata.work2.position.val]]</b></span>
											</div>
											<div class="work_exp_info">
												<span>[[formdata.work2.company.val]]</span> <span>[[formdata.work2.city.val]]</span> <span>[[formdata.work2.country_name]]</span>
											</div>
											<div class="work_exp_desc">
												<span>[[formdata.work2.description.val]]</span>
											</div>
										</div>
									</div>

									<div class="work-exp-content">
										<div class="add-btn" ng-show="formdata.work1.info == true && formdata.work2.info == true && formdata.work3.info == false" ng-click="openWorkModal('work3')">{% trans "+ Add" %}</div>
										<div class="work_row pos-container" ng-show="formdata.work3.info == true">
											<div class="work_exp_year">
												<span>[[formdata.work3.start_year.val]]</span> - <span>[[formdata.work3.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('work3')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('work', '3')">X</div>
											</div>
											<div class="work_exp_position">
												<span><b>[[formdata.work3.position.val]]</b></span>
											</div>
											<div class="work_exp_info">
												<span>[[formdata.work3.company.val]]</span> <span>[[formdata.work3.city.val]]</span> <span>[[formdata.work3.country_name]]</span>
											</div>
											<div class="work_exp_desc">
												<span>[[formdata.work3.description.val]]</span>
											</div>
										</div>
									</div>
								</div>

								<div class="education">
									<div class="resume_label"> {% trans "2. Education" %}</div>
									<div class="education-content">
										<div class="add-btn" ng-show="formdata.education1.info == false" ng-click="openEducationModal('education1')">{% trans "+ Add" %}</div>
										<div class="work_row pos-container" ng-show="formdata.education1.info == true">
											<div class="education_year">
												<span>[[formdata.education1.start_year.val]]</span> - <span>[[formdata.education1.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('education1')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('education' , '1')">X</div>
											</div>
											<div class="education_school_location">
												<span><b>[[formdata.education1.school.val]]</span> , <span>[[formdata.education1.location_name]]</b></span>
											</div>
											<div class="education_degree_major">
												<span>[[formdata.education1.degree]]</span> <span>[[formdata.education1.major.val]]</span>
											</div>
											<div class="education_desc">
												<span>[[formdata.education1.description.val]]</span>
											</div>
										</div>
									</div>

									<div class="education-content">
										<div class="add-btn" ng-show="formdata.education1.info == true && formdata.education2.info == false" ng-click="openEducationModal('education2')">{% trans "+ Add" %}</div>
										<div class="work_row pos-container" ng-show="formdata.education2.info == true">
											<div class="education_year">
												<span>[[formdata.education2.start_year.val]]</span> - <span>[[formdata.education2.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('education2')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('education', '2')">X</div>
											</div>
											<div class="education_school_location">
												<span><b>[[formdata.education2.school.val]]</span> , <span>[[formdata.education2.location_name]]</b></span>
											</div>
											<div class="education_degree_major">
												<span>[[formdata.education2.degree]]</span> <span>[[formdata.education2.major.val]]</span>
											</div>
											<div class="education_desc">
												<span>[[formdata.education2.description.val]]</span>
											</div>
										</div>
									</div>

									<div class="education-content">
										<div class="add-btn" ng-show="formdata.education1.info == true && formdata.education2.info == true && formdata.education3.info == false" ng-click="openEducationModal('education3')">{% trans "+ Add" %}</div>
										<div class="work_row pos-container" ng-show="formdata.education3.info == true">
											<div class="education_year">
												<span>[[formdata.education3.start_year.val]]</span> - <span>[[fformdata.education3.end_year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('education3')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('education', '3')">X</div>
											</div>
											<div class="education_school_location">
												<span><b>[[formdata.education3.school.val]]</span> , <span>[[formdata.education3.location_name]]</b></span>
											</div>
											<div class="education_degree_major">
												<span>[[formdata.education3.degree]]</span> <span>[[formdata.education3.major.val]]</span>
											</div>
											<div class="education_desc">
												<span>[[formdata.education3.description.val]]</span>
											</div>
										</div>
									</div>
								</div>
								<div class="certificate">
									<div class="resume_label"> {% trans "3. Certificate, Language Test" %}</div>
									<div class="certificate-content">
										<div class="add-btn" ng-show="formdata.certificate1.info == false" ng-click="openCertificateModal('certificate1')">{% trans "+ Add" %}</div>
										<div class="work_row pos-container" ng-show="formdata.certificate1.info == true">
											<div class="certificate_year">
												<span>[[formdata.certificate1.year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('certificate1')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('certificate', '1')">X</div>
											</div>
											<div class="certificate_name">
												<span><b>[[formdata.certificate1.name.val]]</b></span>
											</div>
											<div class="certificate_organization">
												<span>[[formdata.certificate1.organization.val]]</span>
											</div>
											<div class="certificate_desc">
												<span>[[formdata.certificate1.description.val]]</span>
											</div>
										</div>
									</div>

									<div class="certificate-content">
										<div class="add-btn" ng-show="formdata.certificate1.info == true && formdata.certificate2.info == false" ng-click="openCertificateModal('certificate2')">{% trans "+ Add" %}</div>
										<div class="work_row pos-container" ng-show="formdata.certificate2.info == true">
											<div class="certificate_year">
												<span>[[formdata.certificate2.year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('certificate2')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('certificate', '2')">X</div>
											</div>
											<div class="certificate_name">
												<span><b>[[formdata.certificate2.name.val]]</b></span>
											</div>
											<div class="certificate_organization">
												<span>[[formdata.certificate2.organization.val]]</span>
											</div>
											<div class="certificate_desc">
												<span>[[formdata.certificate2.description.val]]</span>
											</div>
										</div>
									</div>

									<div class="certificate-content">
										<div class="add-btn" ng-show="formdata.certificate1.info == true && formdata.certificate2.info == true && formdata.certificate3.info == false" ng-click="openCertificateModal('certificate3')">{% trans "+ Add" %}</div>
										<div class="work_row pos-container" ng-show="formdata.certificate3.info == true">
											<div class="certificate_year">
												<span>[[formdata.certificate3.year.val]]</span> <div class="del_row pos-tool-edit edit-icon-style" ><img ng-click="editResumeData('certificate3')" src="/static/img/community/icon_write.png"> </div> <div class="del_row pos-tool-del ico-x-button" ng-click="delResumeData('certificate', '3')">X</div>
											</div>
											<div class="certificate_name">
												<span><b>[[formdata.certificate3.name.val]]</b></span>
											</div>
											<div class="certificate_organization">
												<span>[[formdata.certificate3.organization.val]]</span>
											</div>
											<div class="certificate_desc">
												<span>[[formdata.certificate3.description.val]]</span>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						
					</form>
<!-- 
					<div class="row">
						<div class="form-group profile-form">
							<label class="col-sm-12 regist-sub-title">
								[[ strings.labels.teaching_special_tags ]]
							</label>
							
							<button class="special_tag" ng-class="{selected:tag.state}" ng-click="toggle();" ng-repeat="tag in formdata.tags">
								[[ tag.label ]]
							</button>

						</div>
					</div>
 -->
					<div class="row">
						<div class="col-sm-12 ">
							<div class="display-btn-area">
								<ul class="pager">
									<li><button ng-click="go_back();" class="registration-back h26 bg-gray">{% trans "Back" %}</button></li>
									<li><button ng-click="checkContinue();" class="registration-continue h26 bg-blue">{% trans "Continue" %}</button></li>
								</ul>
							</div>
							<div ng-if="updateLoading" class="display-btn-area" style="padding:20px;"><img src="{% static 'img/ajax-loader.gif' %}"></div>
						</div>
					</div>


					<!-- WorkModal -->
					<div class="modal fade" id="worktModal" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog work-modal">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"> X </button>
									<h4 class="modal-title">{% trans "Add Work Experience" %}</h4>
								</div>
								<div class="modal-body">
									<div class="modal-row form-group  ">
										<label class="modal-label-time" for="work-start-year">{% trans "Time period" %}</label>
										<select id="work-start-year" class="form-control modal-years" ng-model="work_modal.start_year" ng-change="setEndYearList(work_modal);" ng-options="start_year.name for start_year in yearList track by start_year.val"></select>
										<div class="to-area">{% trans "to" %}</div>
										<select class="form-control modal-years" ng-model="work_modal.end_year" ng-options="end_year.name for end_year in endYearList track by end_year.val"></select>
									</div>
									
									<div class="modal-row form-group has-feedback" id="work-company">
										<label class="modal-label-company control-label" for="modal-text-company">{% blocktrans %}Company or <br> Organization{% endblocktrans %}</label>
										<div class="">
										<input type="text" id="modal-text-company" class="form-control modal-text-company someinput" ng-model="work_modal.company.val" ng-keyup="countingText('work-company', work_modal.company, 1, 80)" maxlength="81" ng-maxlength="81" ng-trim="false" kr-input>
										<span ng-if="work_modal.company.valid" ng-click="clearText('work-company', work_modal.company)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
									</div>
									<p class="help-block-margin help-block" ng-if="work_modal.company.valid">{% trans "Please enter between 2 and 80 characters." %}</p>
									
									<div class="modal-row form-group">
										<label class="modal-label-country" for="modal-sel-country">{% trans "Country" %}</label>
										<select id="modal-sel-country" class="form-control modal-years" ng-model="work_modal.country" ng-options="nation.id as nation.country for nation in nationsInfo">
	<!-- 										<option value="">Country</option> -->
										</select>
									</div>
									
									<div class="modal-row form-group has-feedback" id="work-city">
										<label class="modal-label-city control-label" for="modal-text-city">{% trans "City" %}</label>
										<input id="modal-text-city" type="text" class="form-control modal-text-city someinput" ng-model="work_modal.city.val" ng-keyup="countingText('work-city', work_modal.city, 1, 50)" maxlength="51" ng-maxlength="51" ng-trim="false" kr-input>
										<span ng-if="work_modal.city.valid" ng-click="clearText('work-city', work_modal.city)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="work_modal.city.valid">{% trans "Please enter between 2 and 50 characters." %}</p>
									
									<div class="modal-row form-group has-feedback" id="work-position">
										<label class="modal-label-position control-label" for="modal-text-position">{% trans "Position" %}</label>
										<input id="modal-text-position" type="text" class="form-control modal-text-position someinput" ng-model="work_modal.position.val" ng-keyup="countingText('work-position', work_modal.position, 1, 50)" maxlength="51" ng-maxlength="51" ng-trim="false" kr-input>
										<span ng-if="work_modal.position.valid" ng-click="clearText('work-position', work_modal.position)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="work_modal.position.valid">{% trans "Please enter between 2 and 50 characters." %}</p>
									
									<div class="modal-row form-group has-feedback" id="work-desc">
										<label class="modal-label-desc" for="modal-text-desc">{% trans "Description" %}</label>
										<textarea class="form-control modal-text-desc" id="modal-text-desc" ng-model="work_modal.description.val" style="border: 1px solid #ccc; width: 330px;" ng-keyup="countingText('work-desc', work_modal.description, 1, 150)" maxlength="151" ng-maxlength="151" ng-trim="false" kr-input rows="7" 
										ng-mouseover="workDescPH = togglePH(false, strings.labels.modal_work_desc)" 
										ng-mouseleave="workDescPH = togglePH(true, strings.labels.modal_work_desc)" 
										placeholder="[[ workDescPH ]]"></textarea>
									    <span ng-if="work_modal.description.valid" ng-click="clearText('work-desc', work_modal.description)" class="modal-text-remove-btn modal-text-remove-btn-textarea glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="work_modal.description.valid">{% trans "Please enter between 2 and 150 characters." %}</p>
									
									<div class="modal-row form-group pos-container">
										<label class="modal-label-file control-label">{% blocktrans %}Diploma<br>Attachment<br>(optional){% endblocktrans %}</label>
										<div class="tp-upload-file">
											<input class="upload-name" value="Find File" disabled="disabled">
											<label for="write-file1">{% trans "Find File" %}</label> 
											<input class="upload-hidden" id="write-file1" type="file" onchange="angular.element(this).scope().uploadResumeFile(this.files)">
											<button type="button" class="close pos-tool-trashcan" ng-click="deleteResumeFile('work_modal', 'work_exp_file', 1);"><img style="width: 15px; height: 20px;" src="/static/img/message/icon_delete_line_small.png"> </button>
										</div>
									</div>
									
									<div style="clear:both;"></div>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn bg-blue" ng-click="submitWorkModal();">{% trans "Submit" %}</button>
								</div>
							</div>
						</div>
					</div> <!-- work modal -->
	
	
					<!-- education Modal -->
					<div class="modal fade" id="educationModal" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog work-modal">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"> X </button>
									<h4 class="modal-title">{% trans "Add Education" %}</h4>
								</div>
								<div class="modal-body" style="height: 475px">
									<div class="modal-row form-group">
										<label class="modal-label-time" for="edu-start-year">{% trans "Time period" %}</label>
										<select id="edu-start-year" class="form-control modal-years" ng-model="education_modal.start_year" ng-change="setEndYearList(education_modal);" ng-options="start_year.name for start_year in yearList track by start_year.val">
										</select>
										<div class="to-area">{% trans "to" %}</div>
										<select class="form-control modal-years" ng-model="education_modal.end_year"  ng-options="end_year.name for end_year in endYearList track by end_year.val">
										</select>
									</div>
									<div class="modal-row form-group has-feedback" id="edu-school">
										<label class="modal-label-shcool control-label" for="edu-modal-text-shcool">{% trans "School" %}</label>
										<input id="edu-modal-text-shcool" type="text" class="form-control modal-text-shcool someinput" ng-model="education_modal.school.val" ng-keyup="countingText('edu-school', education_modal.school, 1, 80)" maxlength="81" ng-maxlength="81" ng-trim="false" kr-input>
										<span ng-if="education_modal.school.valid" ng-click="clearText('edu-school', education_modal.school)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="education_modal.school.valid">{% trans "Please enter between 2 and 80 characters." %}</p>
									
									<div class="modal-row form-group">
										<label class="modal-label-location control-label" for="edu-location">{% trans "Location" %}</label>
										<select id="edu-location" class="form-control modal-select-location" ng-model="education_modal.location" ng-options="nation.id as nation.country for nation in nationsInfo">
										</select>
									</div>
									<div class="modal-row form-group">
										<label class="modal-label-degree control-label" for="edu-degree">{% blocktrans %}Degree<br>(optional){% endblocktrans %}</label>
										<select id="edu-degree" class="form-control modal-select-degree" ng-model="education_modal.degree" ng-options="degree for degree in degreeList">
											<option value="">{% trans "Select one" %}</option>
										</select>
									</div>
									<div class="modal-row form-group has-feedback" id="edu-major">
										<label class="modal-label-major control-label" for="edu-modal-text-major">{% blocktrans %}Major<br>(optional){% endblocktrans %}</label>
										<input id="edu-modal-text-major" type="text" class="form-control modal-text-major someinput" ng-model="education_modal.major.val" ng-keyup="countingText('edu-major', education_modal.major, 1, 50)" maxlength="51" ng-maxlength="51" ng-trim="false" kr-input>
										<span ng-if="education_modal.major.valid" ng-click="clearText('edu-major', education_modal.major)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="education_modal.major.valid">{% trans "Please enter between 2 and 50 characters." %}</p>
									
									
									<div class="modal-row form-group has-feedback" id="edu-desc">
										<label class="modal-label-desc control-label" for="edu-modal-text-desc">{% blocktrans %}Description<br>(optional){% endblocktrans %}</label>
										<textarea class="form-control modal-text-desc" id="edu-modal-text-desc" ng-model="education_modal.description.val" style="border: 1px solid #ccc; width: 330px;" ng-keyup="countingText('edu-desc', education_modal.description, 1, 150)" maxlength="151" ng-maxlength="151" ng-trim="false" kr-input rows="7" 
										ng-mouseover="eduDescPH = togglePH(false, strings.labels.modal_education_desc)" 
										ng-mouseleave="eduDescPH = togglePH(true, strings.labels.modal_education_desc)" 
										placeholder="[[ eduDescPH ]]"></textarea>
										<span ng-if="education_modal.description.valid" ng-click="clearText('edu-desc', education_modal.description)" class="modal-text-remove-btn modal-text-remove-btn-textarea glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="education_modal.description.valid">{% trans "Please enter between 2 and 150 characters." %}</p>
									
									<div class="modal-row form-group pos-container">
										<label class="modal-label-file control-label">{% blocktrans %}Diploma<br>Attachment<br>(optional){% endblocktrans %}</label>
										<div class="tp-upload-file">
											<input class="upload-name" value="Find File" disabled="disabled">
											<label for="write-file2">{% trans "Find File" %}</label> 
											<input class="upload-hidden" id="write-file2" type="file" onchange="angular.element(this).scope().uploadResumeFile(this.files)">
											<button type="button" class="close pos-tool-trashcan" ng-click="deleteResumeFile('education_modal', 'education_file', 2);"><img style="width: 15px; height: 20px;" src="/static/img/message/icon_delete_line_small.png"> </button>
										</div>
									</div>
								</div>
								<div style="clear:both;"></div>
								
								<div class="modal-footer">
									<button type="submit" class="btn bg-blue" ng-click="submitEducationModal();">{% trans "Submit" %}</button>
								</div>
							</div>
						</div>
					</div> <!-- education modal -->
	
					<!-- certificate Modal -->
					<div class="modal fade" id="certificateModal" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm work-modal">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"> X </button>
									<h4 class="modal-title">{% trans "Add Certificate, Language Test" %}</h4>
								</div>
								
								<div class="modal-body" style="height: 390px">
									<div class="modal-row form-group">
										<label class="modal-label-time" for="certi-start-year">{% trans "Year received" %}</label>
										<select id=certi-start-year"" class="form-control modal-certificate-years" ng-model="certificate_modal.year" ng-options="year.val for year in yearList track by year.name">
	<!-- 										<option value="">Year</option> -->
										</select>
									</div>
									
									<div class="modal-row form-group has-feedback" id="certi-name">
										<label class="modal-label-name control-label" for="certi-modal-text-name">{% trans "Name" %}</label>
										<input id="certi-modal-text-name" type="text" class="form-control modal-text-name someinput" ng-model="certificate_modal.name.val" ng-keyup="countingText('certi-name', certificate_modal.name, 1, 50)" maxlength="51" ng-maxlength="51" ng-trim="false" kr-input 
										ng-mouseover="certiNamePH = togglePH(false, strings.labels.modal_certificate_name)" 
										ng-mouseleave="certiNamePH = togglePH(true, strings.labels.modal_certificate_name)" 
										placeholder="[[ certiNamePH ]]">
										<span ng-if="certificate_modal.name.valid" ng-click="clearText('certi-name', certificate_modal.name)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="certificate_modal.name.valid">{% trans "Please enter between 2 and 50 characters." %}</p>
									
									<div class="modal-row form-group has-feedback" id="certi-organization">
										<label class="modal-label-organization control-label">{% blocktrans %}Organization <br>or Institution{% endblocktrans %}</label>
										<input id="certi-modal-text-organization" type="text" class="form-control modal-text-organization someinput" ng-model="certificate_modal.organization.val" ng-keyup="countingText('certi-organization', certificate_modal.organization, 1, 50)" maxlength="51" ng-maxlength="51" ng-trim="false" kr-input 
										ng-mouseover="certiOrganizationPH = togglePH(false, strings.labels.modal_certificate_organization)" 
										ng-mouseleave="certiOrganizationPH = togglePH(true, strings.labels.modal_certificate_organization)" 
										placeholder="[[ certiOrganizationPH ]]">
										<span ng-if="certificate_modal.organization.valid" ng-click="clearText('certi-organization', certificate_modal.organization)" class="modal-text-remove-btn glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="certificate_modal.organization.valid">{% trans "Please enter between 2 and 50 characters." %}</p>
									
									<div class="modal-row form-group has-feedback" id="certi-desc">
										<label class="modal-label-desc-certificate control-label" for="certi-modal-text-desc">{% blocktrans %}Description<br>(optional){% endblocktrans %}</label>
										<textarea class="form-control modal-text-desc" id="certi-modal-text-desc" ng-model="certificate_modal.description.val" style="border: 1px solid #ccc; width: 330px;" ng-keyup="countingText('certi-desc', certificate_modal.description, 1, 150)"  maxlength="151" ng-maxlength="151" ng-trim="false" kr-input rows="7" 
										ng-mouseover="certiDescPH = togglePH(false, strings.labels.modal_certificate_desc)" 
										ng-mouseleave="certiDescPH = togglePH(true, strings.labels.modal_certificate_desc)" 
										placeholder="[[ certiDescPH ]]"></textarea>
										<span ng-if="certificate_modal.description.valid" ng-click="clearText('certi-desc', certificate_modal.description)" class="modal-text-remove-btn modal-text-remove-btn-textarea glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
									<p class="help-block-margin help-block" ng-if="certificate_modal.description.valid">{% trans "Please enter between 2 and 150 characters." %}</p>
									
									<div class="modal-row form-group pos-container">
										<label class="modal-label-file">{% blocktrans %}Diploma<br>Attachment<br>(optional){% endblocktrans %}</label>
										<div class="tp-upload-file">
											<input class="upload-name" value="Find File" disabled="disabled">
											<label for="write-file3">{% trans "Find File" %}</label> 
											<input class="upload-hidden" id="write-file3" type="file" onchange="angular.element(this).scope().uploadResumeFile(this.files)">
											<button type="button" class="close pos-tool-trashcan" ng-click="deleteResumeFile('certificate_modal', 'certification_file', 3);"><img style="width: 15px; height: 20px;" src="/static/img/message/icon_delete_line_small.png"> </button>
										</div>
									</div>
								</div>
								<div style="clear:both;"></div>
								
								<div class="modal-footer">
									<button type="submit" class="btn bg-blue" ng-click="submitCertificateModal();">{% trans "Submit" %}</button>
								</div>
							</div>
						</div>
					</div> <!-- certificate modal -->

				</div>

			{% endblock %}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/static/js/tutor/apply/profile.js"></script>
<script type="text/javascript" src="/static/js/ng-tags-input/ng-tags-input.min.js"></script>
<script type="text/javascript" src="{% static 'js/input-file.js' %}"></script>

{% endblock %}