{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
{% block title %}{% trans "Apply to be a Tutor" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/tutor/tutor_registration.css" />


<div class="tr-backdrop">
	<div ng-app="registrationApp">
		<div class="container" >
		
			<div id="tr-navigation" ng-controller="navigationCtrl" ng-init="accessType=0">
			{% block navigation %}
				<div class="tr-arrow-box-start">{% trans "Personal" %}</div>
				<div class="tr-arrow-box">{% trans "Profile" %}</div>
				<div class="tr-arrow-box">{% trans "Payment Info" %}</div>
				<div class="tr-arrow-box-selected">{% trans "Terms of service" %}</div>
				<div class="tr-arrow-box">{% trans "Complete" %}</div>
			{% endblock %}
			</div>
			
			<div id="tr-content">
			{% block registration %}
				<div class="LRpadding25" ng-controller="termsCtrl">
					<form id="terms-form" class="form" role="form" name="terms" action="/tutor/apply/complete/" method="POST">
						<div class="row">
							<div class="form-group">
								<label class="terms-title" for="formal-agreement">
									<h3>{% trans "Agreement Terms & conditions" %}</h3>
								</label>
								<div class="col-sm-12">
									<textarea class="terms-text" readonly id="terms" ng-model="strings.labels.terms" rows="17"></textarea>
								</div>
								<div class="divClear"></div>
							</div>
						</div>
					</form>
					
					<div class="row">
						<div class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="" style="cursor: pointer; position: relative;" value="" ng-model="termCheck">
								{% blocktrans %}<span>Check here to indicate that you have read and agree to the Terms & Conditions (above) and </span>
								<a href="" ng-click="openPrivacyModal()"> Privacy policy.</a>{% endblocktrans %}
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							<div class="display-btn-area">
								<ul class="pager">
									<li><button type="button" class="registration-back h26 bg-gray" ng-click="go_back();">{% trans "Back" %}</a></li>
									<li><button type="button" class="registration-continue h26 bg-blue" ng-click="checkSubmit();">{% trans "Submit" %}</button></li>
								</ul>
							</div>
							<div ng-if="updateLoading" class="display-btn-area" style="padding:20px;"><img src="{% static 'img/ajax-loader.gif' %}"></div>
						</div>
					</div>

					<!-- privacyModal -->
					<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog terms-modal">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"> X </button>
									<h4 class="modal-title">{% trans "Privacy Modal" %}</h4>
								</div>
								<div class="modal-body">
								{% trans "Privacy policy modal" %}								
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn bg-blue" ng-click="submitPrivacyModal();">{% trans "Submit" %}</button>
								</div>
							</div>
						</div>
					</div> <!-- privacyModal -->
				</div>
			{% endblock %}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/static/js/tutor/apply/terms.js"></script>

{% endblock %}