<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<link rel="stylesheet" href="{% static 'css/message/message.css' %}" />


<div class="modal fade" id="allMessageModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-hide="type != 'list'">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<img style="width: 23px; height: 16px;" src="{% static 'img/message/icon_message.png' %}" alt="msg" class="hover-pointer" ng-click="messageType( 'write' )"/>
				<p class="message-header f20">{% trans "Messages" %}</p>
			</div>
			<div class="modal-header" ng-hide="type != 'detail'">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<button type="button" class="close header-back" ng-click="messageType( 'list' )"><span class="glyphicon glyphicon-menu-left back-text" style="font-size: 25px !important;"></span></button>
				<p class="message-header align-center detail-name text-ellip">[[ detail.name ]]</p>
			</div>
			<div class="modal-header" ng-hide="type != 'write'">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p class="message-header">
					<span style="color: rgb( 3, 116, 133 ); margin-right: 5px;" class="f20">{% trans "Messages" %}</span>
					<span style="color: rgb( 193, 193, 193 ); margin-right: 5px;" class="f20">></span> 
					<span class="f20">{% trans "New Message" %}</span>
				</p>
			</div>
			<div class="modal-body">
				<!-- 목록  -->
				<div class="message-list" ng-show="type == 'list'">
					<div ng-class="{ 'message-noti' : rvMessage.from_tutor > 0 || rvMessage.from_tutee > 0 }">
						<div class="message-noti-tutor hover-pointer" ng-show="rvMessage.from_tutor > 0"><span ng-click="goLessonList('tutee')" class="f-gray-33 f12">{% trans "New lesson message from your Tutor" %}</span></div>
						<div class="message-noti-tutee hover-pointer" ng-show="rvMessage.from_tutee > 0"><span ng-click="goLessonList('tutor')" class="f-gray-33 f12">{% trans "New lesson message from your Tutee" %}</span></div>
					</div>
					<div class="message-row" ng-repeat="i in message">
						<div class="message-img left">
							<a href="/user/[[ i.you_id ]]/"><img ng-src="[[ i.photo ]]" alt="" onerror="javascript:this.src='/static/img/user_auth/icon_person.png'" /></a>
						</div>
						<div class="message-garbage right">
							<img style="width: 12px; height: 16px;" src="{% static 'img/message/icon_delete_line_small.png' %}" alt="garbage" ng-click="clickDeleteMsgModal( i.mid, i.you_id )" style="width: auto;" />
						</div>
						<div class="left hover-pointer" ng-click="messageType( 'detail', i.you_id )" style="width: 83%; height: 45px;" >
							<div class="message-user">
								<span class="user-name text-ellip">[[ i.name ]]</span>&nbsp;
								<span style="display: inline-block; vertical-align: middle;">[[ i.created_time | displayTime:browser ]]</span>
								<span class="read" ng-if="i.read_count != 0">[[ i.read_count ]]</span>
							</div>
							<div class="modalMessage-content">
								<span class="msg-content">
									<img src="{% static 'img/message/icon_reply.png' %}" alt="from" ng-if="i.from_user_id == i.my_id" />
									[[ i.message ]]
								</span>
							</div>
						</div>	
						<div class="clear"></div>
					</div>
				</div>
				<!-- 메세지보내기 -->
				<div class="detail-message" ng-show="type == 'detail'">
					<div class="modalMessage-area" id="detailMessage">
						<div class="message-info" ng-repeat="i in detail.messageList">
							<div class="top" ng-class="{ 'my' : i.from_user_id != i.my_id }">
								<!-- <span class="user-name">[[ i.name ]]</span> -->
								
							</div>
							<!-- 받은 메세지 -->
							<div class="mid receive-msg" ng-if="i.from_user_id != i.my_id">
								<a href="/user/[[ i.from_user_id ]]" style="margin-right: 7px; display: inline-block; vertical-align: middle;"><img ng-src="[[ i.photo ]]" alt="to_user" class="user-img profile-border" onerror="javascript:this.src='/static/img/user_auth/icon_person.png'" /></a>
								<span class="modalMessage-content" ng-bind-html="i.message" style="margin-right: 41px;">
								</span><span style="font-size: 12px;" class="detail-message-time">[[ i.created_time | displayTime:browser ]]</span>
							</div>
							<!-- 보낸 메세지 -->
							<div class="mid send-msg" ng-if="i.from_user_id == i.my_id">
								<span class="my-content modalMessage-content" ng-bind-html="i.message">
								</span><span style="font-size: 12px;" class="detail-message-time">[[ i.created_time | displayTime:browser ]]</span>
								<!-- <a href="/user/[[ i.from_user_id ]]"><img ng-src="[[ i.photo ]]" alt="to_user" class="user-img" onerror="javascript:this.src='/static/img/user_auth/icon_person.png'" /></a> -->
							</div>
						</div>
					</div>
					<div class="message-input">
						<div class="text-area align-center">
							<textarea name="" id="" class="message-txt" ng-model="msg" kr-input></textarea>						
						</div>
						<div style="text-align: right;">
							<button class="blue-btn send-btn" ng-click="sendMessage()">{% trans "Send" %}</button>
						</div>
					</div>
				</div>
				<!-- 목록검색 -->
				<div class="write-message" ng-show="type == 'write'">
					<div class="message-row">
						<input type="text" class="search" ng-model="search.name" placeholder="Enter a name" />
					</div>
					<div class="message-row hover-pointer" ng-repeat="i in userList | filter : search" ng-click="messageType( 'detail', i.id )">
						<div class="message-img left">
							<a href="/user/[[ i.id ]]/"><img ng-src="[[ i.photo ]]" alt="" onerror="javascript:this.src='/static/img/user_auth/icon_person.png'" /></a>
						</div>
						<div class="left ">
							<div class="message-user">
								<span class="user-name">[[ i.name ]]</span>
							</div>
							<div class="modalMessage-content">
								<span class="msg-content" style="font-size: 12px;">
									{% blocktrans %}From [[ i.name_en ]]{% endblocktrans %}
								</span>
							</div>
						</div>	
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="messageDelete"> 
	<div class="modal-dialog" style="width: 380px; line-height: normal;top: 230px !important; cursor: default; height: 104px;">
		<div class="modal-content" style="height: 104px;">
			<div class="modal-body" style="padding: 15px !important;">
				<p class="f12 f-gray-33">{% trans "Are you sure you want to delete all messages with him/her?" %}</p>
				<div style="text-align: right; margin-top: 34px;">
					<button class="bg-gray h24 f12" type="button" ng-click="hideDelete()">{% trans "Cancel" %}</button>
					<button class="bg-blue h24 f12" type="button" ng-click="deleteMessage()">{% trans "Delete" %}</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript" src="{% static 'js/message/message.js' %}"></script>