{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<base href="/">
<title>{% block title %}{% endblock %}</title>
{% load staticfiles %}
<link rel="shortcut icon" href="{% static 'img/tellpin_com_favicon.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" id="medium-editor-theme"/>

<link rel="stylesheet" href="{% static 'css/tutor/tutor_info.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage/user_profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/exchange/exchange_user_info.css' %}" />

<!-- not used 
<link rel="stylesheet" href="{% static 'css/tutoring/jquery.simplecolorpicker.css' %}" />
<link rel="stylesheet" href="{% static 'css/tutoring/bootstrap-switch.min.css' %}" />
 -->

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sanitize.js' %}"></script>
<script src="{% static 'js/angularjs/angular-clipboard.js' %}"></script>
<script src="{% static 'js/writing/medium-editor.js' %}"></script>
<script src="{% static 'js/angularjs/angular-medium-editor.js' %}"></script>
<script src="{% static 'js/angularjs/ng-infinite-scroll.min.js' %}"></script>
<script src="{% static 'js/angularjs/ui-bootstrap-tpls-1.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap/3.3.5/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angularjs/angular.simplecolorpicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tutoring/bootstrap-switch.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angularjs/angular-toggle-switch.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tellpin_search/rzslider.min.js' %}"></script>
<script src="{% static 'js/main/tellpin.js' %}"></script>
<!-- <script>
$(function(){
	setBackgroundImage();
	$(window).resize(function(){
		setBackgroundImage();
	});
});
function setBackgroundImage(){
	var bgTop = 0;
	var bgHeight = $(".fixed-map-image").height();
	{% if request.session.level == 0 %}
		bgTop = ($(window).innerHeight() - 100 - bgHeight)/2 + 100;
	{% else %}
		bgTop = ($(window).innerHeight() - 135 - bgHeight)/2 + 135;
	{% endif %}
	$(".fixed-map-image").css("top", bgTop);
}
</script> -->
<script src="{% static "js/ws4redis.js" %}" type="text/javascript"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		var ws4redis = WS4Redis({
			uri: '{{ WEBSOCKET_URI }}foobar?subscribe-user',
			receive_message: receiveMessage,
			heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
		});
		function receiveMessage(msg) {
			console.log("receive message");
			console.log(msg);
			$('#alarm_img').attr('src', '/static/img/alarm.png');
		}
	});
</script>

<style>
.tutor-schedule-backdrop2{
	top:0px;
	left:0px;
	position:fixed;
	background:#353535;
	opacity:0.7;
	width:100%;
	height:100%;
	z-index: 10001;
	display: none;
}
#pop-profile-template2 {
	position: fixed;
	/* width: 310px;
	height: 360px; */
	min-width: 400px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px #1b1b1b;
	top: 109px;
	left:calc(50% - 155px);
	z-index: 99999;
	background: white;
	display: none;
}
.alarm-user-box{
    border: 1px solid #DBEFF1 !important;
    border-radius: 30% !important;
}
</style>
</head>

<body id="tellpin_basetemplate" ng-app="tellpinApp">
{% if request.session.email %}
<div ng-controller="rootController" ng-init="show_mail_pop=false">
{% else %}
<div>
{% endif %}
	
	{% if request.session.utc_time %}
	<div id="tellpin-header" ng-controller="headerController" ng-init="time_location('{{request.session.utc_location}}');setHeaderMenu('{{request.session.utc_time}}'); tooltip_title=settooltiptitle(); settingTopArea({{request.session.level}})">
	{% else %}
	<div id="tellpin-header" ng-controller="headerController" ng-init="time_location_nologin(); setHeaderMenu_nologin(); tooltip_title=settooltiptitle(); settingTopArea(1);">
	{% endif %}	
		<!-- kihyun 2016.04.01 -->
		<div class="tutor-schedule-backdrop2"  ng-click="hide_mail_pop2()"></div>
		<div id="pop-profile-template2" >
		{% include "mypage/send_mail_pop.html" %}
		</div>
		
		<div class="notification" >{% trans " You have not confirmed your email address. You must confirm your email to activate your account. " %}
			<span style="cursor: pointer; border-bottom: 1px solid white; padding-bottom: 2px;" ng-click="send_email_pop2();">{% trans "Didn’t receive it?" %}</span>
		</div>
		
		<div class="header-menu">
			<div class="header-top-line"></div>
			<div class="header-main-menu">
				<div class="tellpin-home" ng-click="goURL('/dashboard/')">
					<img class="logo-web" src="{% static 'img/mainpage/logo_unichal_color.png' %}">
				</div>
				<div class="tellpin-tutors tellpin-menu f16 f-gray-64" ng-click="goURL('/tutor/')">
					{% trans "TUTORS" noop %}
				</div>
				{% if request.session.email %}
				{% if request.session.is_tutor == 1 %}
				<div class="tellpin-lessons tellpin-menu f16 f-gray-64" ng-mouseover="selectedMenu = 2" ng-mouseleave="selectedMenu = -1"
						ng-class="{ 'active-header' : selectedMenu == 2 || onLessons == 1 }" >
					{% trans "LESSONS" noop %}
				</div>
				{% else %}
				<div class="tellpin-lessons tellpin-menu f16 f-gray-64" ng-click="goURL( '/tuteelessons/' )" ng-class="{ 'active-header' : selectedMenu == 2 }">
					{% trans "LESSONS" noop %}
				</div>
				{% endif %}
				{% endif %}
				<div class="tellpin-sub-menu lessons-sub-menu" ng-show="selectedMenu == 2 || onLessons == 1" ng-mouseover="onLessons = 1" ng-mouseleave="onLessons = 0">
					<div class="sub-menu-line"></div>
					<div class="sub-menu-list">
						{% if request.session.is_tutor == 1 %}
						<div class="sub-menu-item" ng-click="goURL('/tutorlessons/')">
							{% trans "As a Tutor" %}
						</div>
						{% endif %}
						<div class="sub-menu-item" ng-click="goURL('/tuteelessons/')">
							{% trans "As a Tutee" %}
						</div>
					</div>
				</div>
				<div class="tellpin-community tellpin-menu f16 f-gray-64" ng-mouseover="selectedMenu = 0" ng-mouseleave="selectedMenu = -1"
					ng-class="{ 'active-header' : selectedMenu == 0 || onCommunity == 1 }">
					{% trans "COMMUNITY" noop %}
				</div>
				<div class="tellpin-sub-menu community-sub-menu" ng-show="selectedMenu == 0 || onCommunity == 1" ng-mouseover="onCommunity = 1" ng-mouseleave="onCommunity = 0">
					<div class="sub-menu-line"></div>
					<div class="sub-menu-list">
						<div class="sub-menu-item" ng-click="goURL('/board/')">
							{% trans "Language Learning Board" %}
						</div>
						<div class="sub-menu-item" ng-click="goURL('/trans/')">
							{% trans "Translation & Proofreading" %}
						</div>
						<div class="sub-menu-item" ng-click="goURL('/questions/')">
							{% trans "Language Questions" %}
						</div>
						<div class="sub-menu-item" ng-click="goURL('/exchange/')">
							{% trans "Language Exchange" %}
						</div>
					</div>
				</div>
				
				
				<div class="tellpin-tools tellpin-menu f16 f-gray-64" ng-mouseover="selectedMenu = 1" ng-mouseleave="selectedMenu = -1" ng-class="{ 'active-header' : selectedMenu == 1 }" >
				{% trans "Tellpin Search" noop %}
				</div>
				<div class="tellpin-sub-menu tools-sub-menu" ng-show="selectedMenu == 1 || onTools == 1" ng-mouseover="onTools = 1" ng-mouseleave="onTools = 0">
					<div class="sub-menu-line"></div>
					<div class="sub-menu-list">
						<div class="sub-menu-item" ng-click="goURL('/tellpinsearch/')">
							{% trans "Intro. & Download" %}
						</div>
						<div class="sub-menu-item" ng-click="goURL('/tellpinsearch/history')">
							{% trans "Pin List" %}
						</div>
						<div class="sub-menu-item" ng-click="goURL('/tellpinsearch/settings')">
							{% trans "Settings" %}
						</div>
					</div>
				</div>
				<div class="tellpin-user-menu" ng-cloak>
				{% if request.session.email %}
					<div class="user-menu alarm-menu" ng-init="onAlarmMenu=-1" ng-mouseover="selectedMenu = 5; click_alarm_tab('lesson');click_alarm_tab('community');" ng-mouseleave="selectedMenu = -1"
							ng-class="{ 'active-user-menu' : selectedMenu == 5 || onAlarmMenu == 1 }">
						<img id="alarm_img" ng-src="[[ alarm_list.alarm_state == 1 ? 'static/img/alarm.png' : 'static/img/mainpage/icon_alarm.png' ]]">
					</div>
					<div class="user-sub-menu user-alarm-menu" ng-show="selectedMenu == 5 || onAlarmMenu == 1" ng-mouseover="onAlarmMenu = 1; " ng-mouseleave="onAlarmMenu = -1">
						<div class="user-sub-list user-sub-list-alarm">
							<div class="">
								<!-- 							Alarm                    -->
								<div class="div-alarm-top">
									<div id="alarm-tab-lesson" class="div-tab-lesson div-active" ng-click="click_alarm_tab('lesson')">{% trans "Lesson" %}<div ng-class="alarm_list.lesson_state == 1 ? 'alarm_status' : ''"></div></div>
									<div id="alarm-tab-community" class="div-tab-community" ng-click="click_alarm_tab('community')">{% trans "Community" %}<div ng-class="alarm_list.community_state == 1 ? 'alarm_status2': ''" ></div></div>
								</div>
								<!--  lesson -->
								<div communityRender class="div-alarm-list" ng-show="show_alarm == 1" >
									
									<div on-finish-render="ngRepeatFinished" class="div-alarm-row" ng-class="lessonlist.type == 6 ? 'message-pointer' : 'none-message-pointer'" ng-repeat="lessonList in alarm_lesson_list" onclick="set_noti_status(angular.element(this).scope().lessonList.noti_id)" ng-click="goURL(lessonList.redirect_url)">
										<div class="alarm-row-image ">
										<!-- <img class="alarm-img" src="{% static 'img/user_auth/icon_person.png' %}"> -->
										
										<img class="alarm-img alarm-user-box" ng-src="[[lessonList.from_user_photo]]" onerror="this.src='{% static 'img/user_auth/icon_person.png' %}'">
										</div>
										<div class="alarm-row-content">
											<div class="alarm-user-name" id="lesson_user_name_[[$index]]">[[lessonList.from_user_name]]</div>
											<div community-render-action class="alarm-user-action" id="lesson_user_name_1">[[lessonList.type_msg_text]]</div>
											<div class="alarm-user-msg">[[lessonList.lesson_name]] [[lessonList.from_date_time]]</div>
										</div>
										<div class="alarm-row-time">
											[[ lessonList.created | displayTime:browser ]]
											<span ng-class="lessonList.state == 1 ? 'alarm-none' : 'alarm-active'"></span>
										</div>
									</div>
									
								</div>
								<!-- community -->
								<div communityRender class="div-alarm-list" ng-show="show_alarm == 2 || show_alarm == -1"  >
									
									<div on-finish-render="ngRepeatFinished" class="div-alarm-row" ng-class="communityList.type == 6 ? 'message-pointer' : 'none-message-pointer'" ng-repeat="communityList in alarm_community_list" onclick="set_noti_status(angular.element(this).scope().communityList.noti_id)" ng-click="goURL(communityList.redirect_url)">
										<div class="alarm-row-image">
<!-- 										<img class="alarm-img" src="{% static 'img/user_auth/icon_person.png' %}"> -->
										<img class="alarm-img alarm-user-box" ng-src="[[communityList.from_user_photo]]" onerror="this.src='{% static 'img/user_auth/icon_person.png' %}'">
										</div>
										<div class="alarm-row-content">
											<div class="alarm-user-name" id="community_user_name_[[$index]]">[[communityList.from_user_name]]</div>
											<div community-render-action class="alarm-user-action"  id="community_user_action_[[$index]]">[[communityList.type_msg_text]]</div>
											<div class="alarm-user-msg" id="community_user_action_2">[[communityList.msg_text | getText]]</div>
										</div>
										<div class="alarm-row-time">
											[[ communityList.created | displayTime:browser ]]
											<span ng-class="communityList.state == 1 ? 'alarm-none' : 'alarm-active'"></span>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
					</div>
					<div class="user-menu" ng-controller="msgCtrl">
						<img src="{% static 'img/mainpage/icon_message.png' %}" ng-click="openMessage()" ng-show="msgCount.msgCount == 0 && msgCount.from_tutee == 0 && msgCount.from_tutor == 0" >	
						<img src="{% static 'img/mainpage/icon_new_message.png' %}" ng-click="openMessage()" ng-show="msgCount.msgCount > 0 || msgCount.from_tutee > 0 || msgCount.from_tutor > 0" >
						{% include 'message/message.html' %}
					</div>
					<div class="user-menu people-menu" ng-mouseover="openPeople()" ng-mouseleave="selectedMenu = -1">
						<img src="{% static 'img/mainpage/icon_people.png' %}">
					</div>
					<div class="user-sub-menu user-people-menu" ng-show="selectedMenu == 3 || onPeopleMenu == 1" ng-mouseover="onPeopleMenu = 1" ng-mouseleave="onPeopleMenu = 0">
						<div class="user-sub-list">
							<div class="user-sub-item" ng-click="goURL('/people/tutor/')">{% trans "My Tutors" %}</div>
							<div class="user-sub-item" ng-click="goURL( '/people/friend/' )">{% trans "My Friends" %}</div>
							{% if request.session.is_tutor == 1 %}
							<div class="user-sub-item" ng-click="goURL( '/people/tutee/' )">{% trans "My Tutees" %}</div>
							{% endif %}
						</div>
					</div>
					<div class="user-menu" ng-click="goURL('/wallet/')">
						<img src="{% static 'img/mainpage/icon_coin.png' %}">
					</div>
					<div class="my-menu" ng-mouseover="selectedMenu = 4" ng-mouseleave="selectedMenu = -1">
						<img class="tellpin-user-icon profile-border" src="/static/img/upload/profile/{{ request.session.photo }}" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"'/>
						<div class="tellpin-user-name">{{ request.session.name }}</div><div class="tellpin-caret my-menu-caret"></div>
					</div>
					<div class="user-sub-menu user-my-menu" ng-show="selectedMenu == 4 || onMyMenu == 1" ng-mouseover="onMyMenu = 1" ng-mouseleave="onMyMenu = 0">
						<div class="user-sub-list">
							<div class="user-sub-item" ng-click="goURL('/dashboard/')">{% trans "Dashboard" %}</div>
							<div class="user-sub-bar"></div>
							<div class="user-sub-item" ng-click="goURL('/mycontent/')">{% trans "My Contents" %}</div>
							<div class="user-sub-item" ng-click="goURL('/user/{{request.session.id}}/')">{% trans "My Profile" %}</div>
							<div class="user-sub-item" ng-click="goURL('/settings/privacy/')">{% trans "Settings" %}</div>
							<div class="user-sub-bar"></div>
							<div class="user-sub-item" ng-click="goURL('/help/')">{% trans "Help Center" %}</div>
							<div class="user-sub-item" ng-click="goURL('/user_auth/logout/')">{% trans "Sign Out" %}</div>
						</div>
					</div>

					<div class="user-time-zone" ng-show="0 == compareTime()">
						<img class="tellpin-time-icon" src="{% static 'img/mainpage/icon_time.png' %}">
						<div class="timezone-time">[[ currentTime ]]</div>
						<div class="clear"></div>
					</div>
						<div class="user-time-zone" ng-mouseover="selectedMenu = 6" ng-mouseleave="selectedMenu = -1">
						<div ng-show="0 != compareTime()" style="cursor:pointer;" id="tooltip-title-time-zone" >
							<img class="tellpin-time-icon" src="{% static 'img/mainpage/icon_error.png' %}">
							<div class="timezone-time">[[ currentTime ]]</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="timezone-sub-menu" ng-show="selectedMenu == 6 || onTimezone == 1" ng-mouseover="onTimezone = 1" ng-mouseleave="onTimezone = 0" >
						<div class="timezone-sub-list">
							<p>{% trans "Your system clock is not aligned with your Tellpin account." %}</p>
							<p>{% blocktrans %}Your timezone is set to "{{request.session.utc_location}}". {% endblocktrans %}</p>
							<p>{% blocktrans %}Please correct this at <a href="/settings/editprofile"><u>My Profile</u></a>{% endblocktrans %}</p> 
						</div>
					</div>
					
					{% else %}
					<div class="user-menu login-menu" ng-click="goURL('/user_auth/login_form/')" style="margin-left: 214px; margin-right: 15px;">{% trans " Sign in " %}</div>
					<div class="user-menu login-menu" ng-click="goURL('/user_auth/signup_page/')">{% trans " Sign up " %}</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
<div class="fixed-map-image"><img src="/static/img/bg_map.png"></div>
<div class="base" ng-cloak>
{% block content %}
{% endblock %}
</div>
<!-- msjang -->
<!-- userPopover  -->
<div ng-show="popFlag == 1 || hoverFlag == 1" id="popWrap" ng-mouseenter="hoverFlag = 1" ng-mouseleave="hoverFlag = 0" ng-cloak>
<div id="userPopover">
	<div ng-if="!popLoading">
	<div class="profile-info">
		<div class="profile-name" style="cursor: pointer;">
			<span>
				<span class="f13 f-bblue" id="profile-display-name" ng-click="goURL('/user/'+ [[userPop.user]] + '/')">[[ userPop.name ]]</span>
				<img ng-src="[[ userPop.country_filename ]]" ng-if="userPop.nation" alt="국가이미지" class="nation-image nation-border" />
			</span>
		</div>
	</div>
	<div class="clear"></div>
	<div>
		<div class="profile-language mobile-none">
			<div class="rating">
			<ul style="float: none;" class="icon-ul">
				<li style="margin-right: 0;" ng-show="userPop.rate">
					<img src="{% static 'img/tutor/icon_star_001.png' %}" alt="" ng-if="!userPop.rate || userPop.rate < 0.5" class="rate-img" />
					<img src="{% static 'img/tutor/icon_star_002.png' %}" alt="" ng-if="userPop.rate >= 0.5 && userPop.rate < 1.0" class="rate-img" />
					<img src="{% static 'img/tutor/icon_star_003.png' %}" alt="" ng-if="userPop.rate >= 1.0 && userPop.rate < 1.5" class="rate-img" />
					<img src="{% static 'img/tutor/icon_star_004.png' %}" alt="" ng-if="userPop.rate >= 1.5 && userPop.rate < 2.0" class="rate-img" />
					<img src="{% static 'img/tutor/icon_star_005.png' %}" alt="" ng-if="userPop.rate >= 2.0 && userPop.rate < 2.5" class="rate-img" />
					<img src="{% static 'img/tutor/icon_star_006.png' %}" alt="" ng-if="userPop.rate >= 2.5 && userPop.rate < 3.0" class="rate-img" />
					<img src="{% static 'img/tutor/icon_star_007.png' %}" alt="" ng-if="userPop.rate >= 3.0 && userPop.rate < 3.5" class="rate-img" />
					<img src="{% static 'img/tutor/icon_star_008.png' %}" alt="" ng-if="userPop.rate >= 3.5 && userPop.rate < 4.0" class="rate-img" />
					<img src="{% static 'img/tutor/icon_star_009.png' %}" alt="" ng-if="userPop.rate >= 4.0 && userPop.rate < 4.5" class="rate-img" />
					<img src="{% static 'img/tutor/icon_star_010.png' %}" alt="" ng-if="userPop.rate >= 4.5 && userPop.rate < 5.0" class="rate-img" />
					<img src="{% static 'img/tutor/icon_star_011.png' %}" alt="" ng-if="userPop.rate >= 5.0" />
				</li>
				<li ng-if="friend == 0">
					<button style="border: 0; background-color: #fff;" ng-click="openFriendModal()"><img src="{% static 'img/dashboard/add_friend.png' %}" alt="친구신청" /></button>
				</li>
				<li>
					<button style="border: 0; background-color: #fff;" ng-click="messageHandler( 'detail', userPop.id )"><img src="{% static 'img/tutor/icon_chat.png' %}" alt="메세지보내기" /></button>
				</li>
				<div class="clear"></div>
			</ul>
					
			</div>
<!-- 
			<div class="dash-text-line dash-speaks">
				<div class="dash-label" >{% trans "Speaks" %}</div>
				<span class="dash-language f12 f-gray-33" ng-repeat="i in speaksPop track by $index">
					[[ i.language ]] 
					<img data-toggle="tooltip" title="Begginer" ng-if="i.level == 1" src="{% static 'img/tutor/gauge_000.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Elementary" ng-if="i.level == 2" src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Pre-intermediate" ng-if="i.level == 3" src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Intermediate" ng-if="i.level == 4" src="{% static 'img/tutor/gauge_003.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Upper-intermediate" ng-show="i.level == 5"src="{% static 'img/tutor/gauge_004.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Advanced" ng-if="i.level == 6" src="{% static 'img/tutor/gauge_005.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Native" ng-if="i.level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" tooltip />
					[[ $last ? '' : ',' ]]
				</span>
			</div>
 -->
			<div class="sub-title left">{% trans "Speaks" %}</div>
			<ul style="width: 65%;">
				<li class="tutor-language" ng-class="{ 'native' : i.level == 7 }" ng-repeat="i in speaksPop track by $index">
					<span class="f12">[[ i.language ]]</span> 
					<img data-toggle="tooltip" title="Begginer" ng-if="i.level == 1" src="{% static 'img/tutor/gauge_000.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Elementary" ng-if="i.level == 2" src="{% static 'img/tutor/gauge_001.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Pre-intermediate" ng-if="i.level == 3" src="{% static 'img/tutor/gauge_002.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Intermediate" ng-if="i.level == 4" src="{% static 'img/tutor/gauge_003.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Upper-intermediate" ng-show="i.level == 5"src="{% static 'img/tutor/gauge_004.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Advanced" ng-if="i.level == 6" src="{% static 'img/tutor/gauge_005.png' %}" alt="레벨표시" tooltip />
					<img data-toggle="tooltip" title="Native" ng-if="i.level == 7" src="{% static 'img/tutor/gauge_005_red.png' %}" alt="레벨표시" tooltip />
					<span ng-show="!$last" style="margin-left: 0px;">,</span>
				</li>
				<div class="clear"></div>
			</ul>

			<div class="clear"></div>		
		</div>
		<div class="profile-language">
			<div class="sub-title left">{% trans "Learning" %}</div>
			<div class="left" style="width: 65%;">
				<div class="content left" ng-repeat="i in learnsPop track by $index">
					<span class="f12">[[ i.language ]]<span ng-hide="$last">,&nbsp;</span></span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="profile-language" ng-if="userPop.is_tutor == 1">
			<div class="sub-title left">{% trans "Teaches" %}</div>
			<div class="left" style="width: 60%;">
				<div class="content left" ng-repeat="i in teachPop track by $index">
					<span class="f12">[[ i.language ]]<span ng-hide="$last">,&nbsp;</span></span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
	</div>
	<div ng-if="popLoading" class="display-btn-area" style="padding:20px;"><img src="{% static 'img/ajax-loader.gif' %}"></div>
</div>
</div>
<!-- msjang -->
<!-- userPopover  -->
<!-- Friend Modal -->
	<div class="modal fade" id="friendModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog modal-sm message-modal">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{% trans "Add as Friend" %}</h4>
				</div>
				<div class="modal-body">
					<div class="message-container scroll">
						<div class="messageModal-row">
							<p>{% trans "Message" %}</p>
							<textarea name="" id="friendMessage" cols="30" rows="7" style="resize: none;" ng-model="friendMessage"></textarea>
						</div>
						<div style="text-align: center; margin-top: 20px;">
							<button type="button" style="width: 60px;" class="h26 bg-blue" ng-click="sendFriendMessage()">{% trans "Send" %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>

<script src="{% static 'js/main/header.js' %}"></script>

</html>