{% if user and not user.is_anonymous %}
  <a>{% trans "Hello" %}, {{ user.get_full_name }}!</br></br></a>
  <div>user_name: {{ user.get_username }}</div>
  <div>social_auth: {{ user.get_social_auth }}</div>
  <br>
  <a href="/logout">{% trans "Sign out" %}</a>
{% else %}
  <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">{% trans "Login with Twitter" %}</a>
  <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">{% trans "Login with Facebook" %}</a>
  <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">{% trans "Login with Google" %}</a>
  <!-- <a href="{% url 'social:begin' 'google' %}?next={{ request.path }}">Login with google</a> -->
{% endif %}