{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "My Wallet" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/wallet/account.css' %}" />


<div class="tp-container">
	<div class="tp-content" ng-controller="accountCtrl" ng-init="init( {{ data }} )">
		<div class="account-row">
			<div class="account-header">
				<p class="account-header-content">{% trans "My Wallet" %}</p>
			</div>
			<div class="account-content">
				<div class="wallet left">
					<div class="wallet-row" ng-if="tutor == 1">
						<div class="wallet-header">
							<img src="{% static 'img/wallet/icon_tutor.png' %}" alt="" />
							<span class="wallet-title f-black">{% trans "Tutor Wallet" %}</span>
							<span class="f-gray-33">{% trans "Withdrawal Pending" %} : <span class="font-sans">[[ tutorAccount.total_withdrawal || 0 ]] TC</span></span>
						</div>
						<div>
							<div class="left wallet-content">
								<p class="title">{% trans "Total Balance" %}</p>
								<span class="tc font-sans" style="padding-right : 21px;">[[ tutorAccount.total_balance || 0 ]] TC</span>
								<span class="kind font-sans" style="padding-right: 21px;">≈ [[ tutorAccount.total_balance * currency / 10 || 0 ]] [[currency_user]]</span>
							</div>
							<div class="left wallet-content">
								<p class="title">{% trans "Available Balance" %}</p>
								<span class="tc font-sans">[[ tutorAccount.total_available || 0 | number ]] TC</span>
								<span class="kind font-sans">≈ [[ tutorAccount.total_available * currency / 10 || 0 | number ]] [[currency_user]]</span>
							</div>
							<div class="left wallet-content">
								<p class="title">{% trans "Pending Income" %}</p>
								<span class="tc font-sans">[[ tutorAccount.total_pending || 0 | number ]] TC</span>
								<span class="kind font-sans">≈ [[ tutorAccount.total_pending * currency / 10 || 0 | number ]] [[currency_user]]</span>
							</div>
							<div class="left wallet-btn">
								<button type="button" class="green-btn trans-btn margin-btn h24 bg-green" ng-click="openTransferModal()" ng-disabled="tutor == 0">{% trans "Transfer Credits" %}</button><br />
								<button type="button" class="green-btn withdraw-btn h24 bg-green" ng-click="openWithdrawModal()" ng-disabled="tutor == 0">{% trans "Withdraw" %}</button>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="wallet-row">
						<div class="wallet-header">
							<img src="{% static 'img/wallet/icon_tutee.png' %}" alt="" />
							<span class="wallet-title f-black">{% trans "Tutee Wallet" %}</span>
						</div>
						<div>
							<div class="left wallet-content">
								<p class="title">{% trans "Total Balance" %}</p>
								<span class="tc font-sans" style="padding-right: 21px;">[[ tuteeAccount.total_balance || 0 | number ]] TC</span>
								<span class="kind font-sans" style="padding-right: 21px;">≈ [[ tuteeAccount.total_balance * currency / 10 || 0 | number ]] [[currency_user]]</span>
							</div>
							<div class="left wallet-content">
								<p class="title">{% trans "Available Balance" %}</p>
								<span class="tc font-sans">[[ tuteeAccount.total_available || 0 | number ]] TC</span>
								<span class="kind font-sans">≈ [[ tuteeAccount.total_available * currency / 10 || 0 | number ]] [[currency_user]]</span>
							</div>
							<div class="left wallet-content">
								<p class="title">{% trans "Purchase Pending" %}</p>
								<span class="tc font-sans">[[ tuteeAccount.total_pending || 0 | number ]] TC</span>
								<span class="kind font-sans">≈ [[ tuteeAccount.total_pending * currency / 10 || 0 | number ]] [[currency_user]]</span>
							</div>
							<div class="left wallet-btn">
								<button type="button" class="green-btn trans-btn margin-bt-5 h24 bg-green" ng-click="moveBuyCredits()">{% trans "Buy Credits" %}</button>
								<button type="button" class="green-btn withdraw-btn margin-bt-5 h24 bg-green" ng-click="buyGiftCard()">{% trans "Send a Gift Card" %}</button>
								<button type="button" class="green-btn withdraw-btn h24 bg-green" ng-click="openRedeemCodeModal()">{% trans "Redeem Code" %}</button>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="content-right left" ng-class="{ 'not-withdraw' : tutor == 0 }">
					<div class="help">
						<div class="help-head" ng-if="tutor == 1">
							<p class="help-title f-black">{% trans "Quick Links" %}</p>
							<span class="hover-pointer" ng-click="goUrl( '/settings/withdraw/' )"><img style="width:25px; height: 15px; " src="{% static 'img/dashboard/icon_withdraw.png' %}" alt="" /> {% trans "Withdrawal Settings" %}</span>						
						</div>
						<div class="help-head hover-pointer" ng-click="goUrl( '/help/' )">
							<p class="help-title f-black">{% trans "Help Center" %}</p>
							<span>· {% blocktrans %}When do I get paid as a &nbsp;&nbsp;&nbsp;tutor?{% endblocktrans %}</span><br />
							<span>· {% blocktrans %}How do I report taxes for the &nbsp;&nbsp;&nbsp;income I made here?{% endblocktrans %}</span>			
						</div>
						<div class="help-bot hover-pointer" ng-click="goUrl( '/help/' )">
							<span>{% trans "View more FAQs" %}</span>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="account-row">
			<div class="account-header">
				<p class="account-header-content f-orange">{% trans "Details" %}</p>
			</div>
			<div class="account-content">
				<div class="detail-row detail-row-date">
					<input type="text" readonly onclick="javascrpt:blur();" onfocus="javascript: blur();" placeholder="YYYY/MM/DD" ng-click="openCalendarStartDate()" class="account-date hover-pointer" uib-datepicker-popup ng-model="start" is-open="startDate" datepicker-options="startDateOptions" />
					<span class="hover-pointer cal-img" style="top: 4px; left: 105px;"><img style="width: 20px; height: 23px;" src="{% static 'img/wallet/icon_calendar.png' %}" alt="" ng-click="openCalendarStartDate()" /></span>					
					<span style="margin-right: 5px;">~</span>
					<input type="text" readonly onclick="javascrpt:blur();" onfocus="javascript: blur();" placeholder="YYYY/MM/DD" ng-click="openCalendarEndDate()" class="account-date hover-pointer" uib-datepicker-popup ng-model="end" is-open="endDate" datepicker-options="endDateOptions" />
					<span class="hover-pointer cal-img" style="top: 4px; left: 255px;"><img style="width: 20px; height: 23px;" src="{% static 'img/wallet/icon_calendar.png' %}" alt="" ng-click="openCalendarEndDate()" /></span>
					<button type="button" class="blue-btn date-search" ng-click="setSearchDate()"><span class="glyphicon glyphicon-search"></span></button>
				</div>
				<div class="detail-row">
					<ul class="date-select">
						<li class="left">
							<button class="set-date" ng-click="setDateDuration( 'one' )" ng-class="{ 'set-date-active' : setDateType == 'one' }">{% trans "Last 1 month" %}</button>
						</li>
						<li class="left">
							<button class="set-date" ng-click="setDateDuration( 'three' )" ng-class="{ 'set-date-active' : setDateType == 'three' }">{% trans "Last 3 months" %}</button>
						</li>
						<li class="left">
							<button class="set-date" ng-click="setDateDuration( 'six' )" ng-class="{ 'set-date-active' : setDateType == 'six' }">{% trans "Last 6 months" %}</button>
						</li>
						<li class="left">
							<button class="set-date" ng-click="setDateDuration( 'year' )" ng-class="{ 'set-date-active' : setDateType == 'year' }">{% trans "Last 1 year" %}</button>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="detail-row">
					<ul class="date-area">
						<li class="left">
							<div class="date-range" ng-class="{ 'active' : checkTutor == 1 && checkWithdraw == 0 }" ng-click="getWalletHistory( 1, 0 )" ng-if="tutor == 1">{% trans "Tutor Wallet Details" %}</div>
						</li>
						<li class="left">
							<div class="date-range" ng-class="{ 'active' : checkTutor == 1 && checkWithdraw == 1 }" ng-click="getWalletHistory( 1, 1 )" ng-if="tutor == 1">{% trans "Withdraw History" %}</div>
						</li>
						<li class="left">
							<div class="date-range" ng-class="{ 'active' : checkTutor == 0 && checkWithdraw == 0 }" ng-click="getWalletHistory( 0, 0 )">{% trans "Tutee Wallet Details" %}</div>
						</li>
						<li class="left">
							<div class="date-range" ng-class="{ 'active' : checkTutor == 0 && checkWithdraw == 1 }" ng-click="getWalletHistory( 0, 1 )">{% trans "Credit Purchase History" %}</div>
						</li>
						<li class="left wallet-last"></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="detail-row f-gray-33">
					<div class="account-table" ng-hide="checkWithdraw == 1">
						<div class="account-table-header">
							<div class="header-elem left header-height f-gray-33">{% trans "Payment ID" %}</div>
							<div class="header-elem left header-height f-gray-33">{% trans "Date" %}</div>
							<div class="header-elem left header-height f-gray-33" style="width: 39%;">{% trans "Description" %}</div>
							<div class="header-elem left f-gray-33">{% blocktrans %}ΔAvailable<br />Balance (TC){% endblocktrans %}</div>
							<div class="header-elem left f-gray-33" ng-if="checkTutor == 1">{% blocktrans %}ΔPending<br />Income (TC){% endblocktrans %}</div>
							<div class="header-elem left f-gray-33" ng-if="checkTutor == 0">{% blocktrans %}ΔPurchase<br />Pending (TC){% endblocktrans %}</div>
							<div class="header-elem left header-height f-gray-33">{% trans "Total Balance" %}</div>
							<div class="header-elem left header-height f-gray-33">{% trans "More info." %}</div>
							<div class="clear"></div>
						</div>
						<div class="account-table-row" ng-repeat="i in history.item track by $index">
							<div class="account-table-elem left">[[ i.teac_id ]]</div>
							<div class="account-table-elem left">[[ i.created_date | date : 'yyyy-MM-dd' ]]</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 1">{% trans "Bought Credits" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 2">{% trans "Bought a Lesson Package" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 3">{% trans "Bought a Lesson" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 5">{% trans "Confirmed a Lesson" %} </div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 6">{% trans "Lesson Credits Returned from the tutor" %} </div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 7">{% trans "Got refund for a Lesson Package" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 8">{% trans "Got refund for a Lesson" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 12">{% trans "Transferred Credits to the tutor" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 13">{% trans "Gave a Gift" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 14">{% trans "Redeemed a Gift Card Code" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 15">{% trans "Credits refunded" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 16">{% trans "Redeemed a Coupon Code" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 17">{% trans "Used credits for making a request" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 18">{% trans "Transferred Credits to the Best Answerer" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 19">{% trans "Best Answer was not chosen" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 20">{% trans "Chosen as the Best Answerer" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 0 && i.type == 21">{% trans "Request was deleted" %}</div>

							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 4">{% trans "Approved a Lesson" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 5">{% trans "Confirmed a Lesson" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 6">{% trans "Return Lesson Credits to the tutee" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 7">{% trans "Gave refund for a Lesson Package" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 8">{% trans "Gave refund for a Lesson" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 9">{% trans "Withdrawal pending" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 10">{% trans "Canceled Withdrawal" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 11">{% trans "Credits I cashed out" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 12">{% trans "Transferred Credits from the tutee" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 13">{% trans "Gave a Gift" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 14">{% trans "Redeemed a Gift Card Code" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 15">{% trans "Credits refunded" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 16">{% trans "Redeemed a Coupon Code" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 17">{% trans "Used credits for making a request" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 18">{% trans "Transferred Credits to the Best Answerer" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 19">{% trans "Best Answer was not chosen" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 20">{% trans "Chosen as the Best Answerer" %}</div>
							<div class="account-table-elem left account-desc" ng-if="checkTutor == 1 && i.type == 21">{% trans "Request was deleted" %}</div>

							<div class="account-table-elem left font-sans">[[ i.a_change | number ]]</div>
							<div class="account-table-elem left font-sans">[[ i.p_change | number ]]</div>
							<div class="account-table-elem left font-sans">[[ i.total_balance | number ]]</div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 1"><a ng-click="openReceipt( i.teac_id )">{% trans "View Receipt" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 2"><a ng-click="openReserveModal( i.more_id, i.teac_id, 'tutee', 'Bought' )">{% trans "View Lesson" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 3"><a ng-click="openReserveModal( i.more_id, i.teac_id, 'tutee', 'Bought' )">{% trans "View Lesson" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 5"><a ng-click="openReserveModal( i.more_id, i.teac_id, 'tutee', 'Confirmed' )">{% trans "View Lesson" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 7"><a ng-click="openReserveModal( i.more_id, i.teac_id, 'tutee', 'Refunded', i.a_change )">{% trans "View Lesson" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 8"><a ng-click="openReserveModal( i.more_id, i.teac_id, 'tutee', 'Refunded', i.a_change )">{% trans "View Lesson" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 13"><a ng-click="openGiftModal( i.teac_id, i.type )">{% trans "View Gift" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 14"><a ng-click="openGiftModal( i.teac_id, i.type )">{% trans "View Gift" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 16"><a ng-click="openGiftModal( i.teac_id, i.type )">{% trans "View Gift" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 17"><a ng-click="openCommunityPost( i.more_id, i.more_type )">{% trans "View Post" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 18"><a ng-click="openCommunityPost( i.more_id, i.more_type )">{% trans "View Post" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 20"><a ng-click="openCommunityPost( i.more_id, i.more_type )">{% trans "View Post" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 0 && i.type == 19"><a ng-click="openCommunityPost( i.more_id, i.more_type )">{% trans "View Post" %}</a></div>

							<div class="account-table-elem left" ng-if="checkTutor == 1 && i.type == 4"><a ng-click="openReserveModal( i.more_id, i.teac_id, 'tutor', 'Approved' )">{% trans "View Lesson" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 1 && i.type == 5"><a ng-click="openReserveModal( i.more_id, i.teac_id, 'tutor', 'Confirmed' )">{% trans "View Lesson" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 1 && i.type == 6"><a ng-click="openReserveModal( i.more_id, i.teac_id, 'tutor', 'Refunded', i.a_change )">{% trans "View Lesson" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 1 && i.type == 8"><a ng-click="openReserveModal( i.more_id, i.teac_id, 'tutor', 'Unscheduled' )">{% trans "View Lesson" %}</a></div>
							<div class="account-table-elem left" ng-if="checkTutor == 1 && i.type == 9">&nbsp;</div>
							<div class="account-table-elem left" ng-if="checkTutor == 1 && i.type == 10">&nbsp;</div>
							<div class="account-table-elem left" ng-if="checkTutor == 1 && i.type == 11">&nbsp;</div>
							<div class="account-table-elem left" ng-if="checkTutor == 1 && i.type == 12">&nbsp;</div>
							
							<div class="clear"></div>
						</div>
					</div>
					<div class="account-table" ng-if="checkWithdraw == 1 && checkTutor == 1">
						<div class="account-table-header">
							<div class="header-elem left">{% trans "Payment ID" %}</div>
							<div class="header-elem left">{% trans "Date" %}</div>
							<div class="header-elem left" style="width: 25%;">{% trans "Withdrawal method" %}</div>
							<div class="header-elem left more-elem">{% trans "Amount" %}(TC)</div>
							<div class="header-elem left">{% trans "Status" %}</div>
							<div class="header-elem left">{% trans "More info." %}</div>
							<div class="clear"></div>
						</div>
						<div class="account-table-row" ng-repeat="i in history.item track by $index">
							<div class="account-table-elem left">[[ i.teac_id ]]</div>
							<div class="account-table-elem left">[[ i.created_date ]]</div>
							<div class="account-table-elem left" style="width: 25%;">{% trans "Paypal" %}([[ i.more_id ]])</div>
							<div class="account-table-elem left more-elem font-sans">[[ i.a_change | number ]]</div>
							<div class="account-table-elem left">
								<span ng-if="i.type == 5 && i.withdraw_status == 1">{% trans "Pending" %}</span>
								<span ng-if="i.type == 6 && i.withdraw_status == 2">{% trans "Completed" %}</span>
								<span ng-if="i.type == 7 && i.withdraw_status == 3">{% trans "Cancel" %}</span>
								<span ng-if="i.type == 5 && i.withdraw_status == 3">{% trans "Cancel" %}</span>
							</div>
							<div class="account-table-elem left" ng-if="i.withdraw_status == 1"><a ng-click="editWithdraw( i )">{% trans "Edit" %}</a>&nbsp;&nbsp;<a ng-click="cancelWithdraw( i.teac_id, i.a_change, i.more_id )">{% trans "Cancel" %}</a></div>
							<div class="account-table-elem left" ng-if="i.withdraw_status != 1">&nbsp;</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="account-table" ng-if="checkWithdraw == 1 && checkTutor == 0">
						<div class="account-table-header">
							<div class="header-elem left">{% trans "Payment ID" %}</div>
							<div class="header-elem left">{% trans "Date" %}</div>
							<div class="header-elem left" style="width: 25%;">{% trans "Payment Method" %}</div>
							<div class="header-elem left purchase-elem">{% trans "Amount" %}(TC)</div>
							<div class="header-elem left">{% trans "More info." %}</div>
							<div class="clear"></div>
						</div>
						<div class="account-table-row" ng-repeat="i in history.item track by $index">
							<div class="account-table-elem left">[[ i.teac_id ]]</div>
							<div class="account-table-elem left">[[ i.created_date ]]</div>
							<div class="account-table-elem left" style="width: 25%;">{% blocktrans %}[[ i.payment_method == 1 ? 'Paypal' : 'Credit card' ]]{% endblocktrans %}</div>
							<div class="account-table-elem left purchase-elem font-sans">[[ i.a_change | number ]]</div>
							<div class="account-table-elem left"><a ng-click="openReceipt( i.teac_id )">{% trans "View Receipt" %}</a></div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<!-- Paging -->
				<div class="detail-row" ng-show="history.page_range.length > 1">
					<nav class="paging">
						<ul class="pagination">
							<li ng-if="history.page != 1">
						      <a aria-label="Previous" ng-click="getCustomSearchDate( history.page - 1)">
						        <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
						      </a>
						    </li>
						    <li ng-repeat="i in history.page_range track by $index" ng-class="{ 'active' : i == history.page }">
						    	<a ng-click="getCustomSearchDate( i )" ng-if="history.page != i" >[[ i ]]</a>
						    	<a ng-if="history.page == i" >[[ i ]]</a>
						    </li>
						    <li ng-if="history.endPage != history.page">
						      <a ng-click="getCustomSearchDate( history.page + 1)" aria-label="Next">
						        <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
						      </a>
						    </li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Withdraw Modal -->
		<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" style="top: 100px;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      				</div>
					<div class="modal-body">
						<div class="trans-row">
							<div>
								<p class="account-header-content">{% trans "Withdraw Tellpin Credits" %}</p>
							</div>
							<div class="right-elem">
								<p class="trans-ex">{% trans "The minimum amount you can withdraw is 400 TC. You can save processing fee by withdrawing larger sum at a time. " %}<br /><br />
								{% trans "Tellpin processes withdrawal requests on every 15th and end date(mostly 30th or 31st) of each month. We use Universal Coordinated Time to calculate the date. For instance, if you submit a withdrawal request using Paypal on Jan 17, Tellpin will process this request on Jan 31. You will receive the funds on early February. (Learn more)" %}</p>
							</div>
						</div>
						<div class="trans-row">
							<div class="right-elem">
								<p class="trans-ex">[{% trans "Tutor Wallet" %}]</p>
								<p class="trans-ex">{% trans "Total Balance" %} : <span class="font-sans">[[ tutorAccount.total_balance ]] TC</span></p>
								<p class="trans-ex">{% trans "Available Balance" %} : <span class="font-sans">[[ tutorAccount.total_available ]] TC</span></p>
							</div>
						</div>
						<div class="trans-row">
							<span class="trans-txt">{% trans "Amount to withdraw" %} : </span><input type="number" ng-model="withdrawCredit" />&nbsp;&nbsp;TC&nbsp;&nbsp;
							<span class="valid">{% blocktrans %}TC <span ng-if="tutorAccount.total_available > 400 && withdrawCredit > tutorAccount.total_available">between 400 and [[ tutorAccount.total_available ]]</span>{% endblocktrans %}
							<span ng-if="tutorAccount.total_available < 400">{% trans "more than 400 TC" %}</span></span>
						</div>
						<div class="trans-row">
						<label class="radio" style="padding-left: 21px;">
							<input type="radio" ng-value="tutorAccount.paypal" ng-model="paypal" />
							<span>{% trans "Account ID" %} : [[ tutorAccount.paypal ]]</span>
						</label>
						</div>
						<div class="trans-row">
							<span class="trans-ex">{% trans "Enter Tellpin password again" %}</span> <input type="password" ng-model="pw" ng-focus="checkPw = 1" />&nbsp;&nbsp;
							<span class="valid" ng-if="checkPw == 0">{% trans "Invalid Password" %}</span>
						</div>
						<div class="trans-row">
							<input type="checkbox" class="trans-check" style="float: left; margin-right: 10px;" ng-model="withdrawChecked" />
							<div>{% trans "By entering my Tellpin password and checking this box, I confirm that the information above is accurate. I also understand that it is my responsibility to fulfill my tax responsibilities as a citizen of the country I belong to." %}</div>
						</div>
						<div class="trans-row" style="text-align: center;">
							<button class="blue-btn" type="button" ng-click="sendWithdraw()" ng-disabled="!withdrawChecked || withdrawCredit < 4 || withdrawCredit > tutorAccount.total_available ">{% trans "Process" %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Transfer Modal -->
		<div class="modal fade" id="transferModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" style="top: 100px;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      				</div>
					<div class="modal-body">
						<div class="trans-row">
							<div>
								<p class="account-header-content">{% trans "Transfer to Tutee Wallet" %}</p>
							</div>
							<div class="right-elem">
								<p class="trans-ex">{% blocktrans %}Transfering TC is for tutors who want to use their credits not only to give lessons but take lessons as well.
								   Once you transfer credits to Tutee Wallet, you cannot transfer them back to your Tutor Wallet.
								   If you want to withdraw Tellpin Credits into cash, click 'Withdraw Credits' button.{% endblocktrans %}</p>
							</div>
						</div>
						<div class="trans-row">
							<div class="right-elem">
								<p class="trans-ex">[{% trans "Tutor Wallet" %}]</p>
								<p class="trans-ex">{% trans "Total Balance" %} : <span class="font-sans">[[ tutorAccount.total_balance ]] TC</span></p>
								<p class="trans-ex">{% trans "Available Balance" %} : <span class="font-sans">[[ tutorAccount.total_available ]] TC</span></p>
							</div>
						</div>
						<div class="trans-row">
							<span class="trans-txt">{% trans "Amount to transfer" %} : </span><input type="number" ng-model="transferCredit" />&nbsp;&nbsp;TC&nbsp;&nbsp;
							<span class="valid" ng-if="transferCredit < 1 || transferCredit > tutorAccount.total_available">{% blocktrans %}TC between 1 and [[ tutorAccount.total_available ]]{% endblocktrans %}</span>
						</div>
						<div class="trans-row">
							<span class="trans-ex">{% trans "Enter Tellpin password again" %}</span> <input type="password" ng-model="pw" ng-focus="checkPw = 1" />
							<span class="valid" ng-if="checkPw == 0">{% trans "Invalid Password" %}</span>
						</div>
						<div class="trans-row">
							<input type="checkbox" class="trans-check" ng-model="transChecked" />
							<span>{% trans "By entering my Tellpin password, I confirm that I want to transfer Tellpin Credits from my tutor wallet to my tutee wallet." %}</span>
						</div>
						<div class="trans-row" style="text-align: center;">
							<button class="blue-btn" type="button" ng-click="transCredits()" ng-disabled="!transChecked || transferCredit < 1 || transferCredit > tutorAccount.total_available">{% trans "Process" %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Receipt Modal -->
		<div class="modal fade" id="receiptModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" style="top: 100px;">
			<div class="modal-dialog" style="width: 800px;">
				<div class="modal-content">
					<div class="modal-body">
						<div class="rec-row">
							<div class="left">
								<div class="img-area">
									<img src="{% static 'img/mainpage/tellpin_header_logo_title.png' %}" alt="tellpinLogo" />
								</div>
								<div class="address">
									{% blocktrans %}<span>Unichal Inc. #1104, SJ Techono Ville, 278, Beotkkot-ro,</span><br />
									<span>Geumcheon-gu, Seoul, South Korea, 08511</span><br />
									<span>payment@tellpin.com</span>{% endblocktrans %}
								</div>
							</div>
							<div class="left invoice" style="text-align: right; padding-left: 20px;">
								<span>{% trans "Invoice Date" %} : [[ receipt.receipt.created_date | date : 'yyyy-MM-dd, HH:mm:ss' ]]</span><br />
								<span>{% trans "Invoice #" %} : [[ receipt.receipt.teac_id]]</span><br />
								<span>{% trans "Customer ID" %} : [[ receipt.receipt.name]]</span>
							</div>
							<div class="clear"></div>
						</div>
						<div class="rec-row">
							<div class="left">
								<span>{% trans "Bill to" %} :</span><br />
								<textarea name="" id="" ng-model="$parent.bill" ng-if="billEdit == 0"></textarea>
								<p style="text-align: right;"  ng-if="billEdit == 0"><button type="button" class="blue-btn" ng-click="$parent.billEdit = 1">{% trans "Save" %}</button></p>
								<span ng-if="billEdit == 1">[[ $parent.bill ]]</span>
							</div>
							<div class="left invoice">
								<p class="total-amount">{% trans "Total" %} : <span class="font-sans">[[ (receipt.buy.usd + receipt.buy.paypal_fee) * currency | number ]] [[currency_user]]</span></p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="rec-row">
							<div class="account-table">
								<div class="account-table-header">
									<div class="header-elem left">{% trans "Item" %}</div>
									<div class="header-elem left">{% trans "Quantity" %}</div>
									<div class="header-elem left">{% trans "Unit Price" %}</div>
									<div class="header-elem left" ng-if="isTutor == 0">{% trans "Amount" %}</div>
									<div class="clear"></div>
								</div>
								<div class="account-table-row">
									<div class="account-table-elem left">{% trans "Tellpin Credits" %}</div>
									<div class="account-table-elem left font-sans">[[ receipt.buy.tc | number ]]</div>
									<div class="account-table-elem left font-sans">0.10  * currency [[currency_user]]</div>
									<div class="account-table-elem left font-sans">[[ receipt.buy.usd * currency | number ]] [[currency_user]]</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="rec-row static">
							<span>{% trans "Sub Total" %} : <span class="font-sans">[[ receipt.buy.usd * currency | number : 2 ]] [[currency_user]]</span></span><br />
							<span>{% trans "Processing Fee" %} : <span class="font-sans">[[ receipt.buy.paypal_fee * currency ]] [[currency_user]]</span></span><br />
							<span>{% trans "Sales Tax" %} : 0</span><br />
							<span class="total-usd" ng-class="{ 'total-usd-print' : billEdit == 1 }">{% trans "Total" %} : <span class="font-sans">[[ (receipt.buy.usd + receipt.buy.paypal_fee) * currency | number ]] [[currency_user]]</span></span>
							<button type="button" class="blue-btn print-none" ng-click="closeReceiptModal()">{% trans "Close" %}</button>
							<button type="button" class="blue-btn print-none" ng-click="printReceipt()" ng-if="billEdit == 1">{% trans "Print" %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- lesson Modal -->
		<div class="modal fade" id="lessonModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" style="top: 100px;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 style="color: rgb( 245, 136, 93 )">{% trans "Payment ID" %} : [[ lesson.payment_id ]]</h4>
      				</div>
					<div class="modal-body">
						<div class="lesson-table">
							<div class="lesson-table-header">
								<div class="lesson-elem-first left">{% trans "Time" %}</div>
								<div class="lesson-elem-second left">[[ lesson.start_time  ]] ~ [[ lesson.end_time ]]</div>
								<div class="clear"></div>
							</div>
							<div class="lesson-table-header">
								<div class="lesson-elem-first left">{% trans "Lesson ID" %}</div>
								<div class="lesson-elem-second left">[[ lesson.lesson_id ]]</div>
								<div class="clear"></div>
							</div>
							<div class="lesson-table-header">
								<div class="lesson-elem-first left">{% trans "Lesson name" %}</div>
								<div class="lesson-elem-second left">[[ lesson.lesson_name ]]</div>
								<div class="clear"></div>
							</div>
							<div class="lesson-table-header">
								<div class="lesson-elem-first left">{% trans "Single" %} / {% trans "Package" %}</div>
								<div class="lesson-elem-second left">
									<span ng-if="lesson.lesson_is_bundle == 1">{% trans "Package" %} [[ lesson.rv_orders ]]/[[ lesson.bundle_times ]]</span>
									<span ng-if="lesson.lesson_is_bundle == 0">{% trans "Single" %}</span>
								</div>
								<div class="clear"></div>
							</div>
							<div class="lesson-table-header">
								<div class="lesson-elem-first left">{% trans "Tutor" %}</div>
								<div class="lesson-elem-second left">[[ lesson.tutor_name ]]</div>
								<div class="clear"></div>
							</div>
							<div class="lesson-table-header">
								<div class="lesson-elem-first left">{% trans "Tutee" %}</div>
								<div class="lesson-elem-second left">[[ lesson.tutee_name ]]</div>
								<div class="clear"></div>
							</div>
							<div class="lesson-table-header">
								<div class="lesson-elem-first left">{% trans "Status" %}</div>
								<div class="lesson-elem-second left">[[ lessonStatus ]]
									<span ng-if="lessonStatus == 'Refunded' ">(Tutor gets [[ tutorRefund ]]TC, Tutee gets [[ tuteeRefund ]]TC)</span>
								</div>
								<div class="clear"></div>
							</div>
							<div class="lesson-table-header">
								<div class="lesson-elem-first left">{% trans "Lesson amount" %}</div>
								<div class="lesson-elem-second left font-sans">[[ lesson.lesson_credit ]] TC</div>
								<div class="clear"></div>
							</div>			
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- gift Modal -->
		<div class="modal fade" id="giftModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" style="top: 100px;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 style="color: rgb( 245, 136, 93 )">{% trans "Payment #" %} : P[[ teac_id ]]</h4>
      				</div>
					<div class="modal-body">
						<div class="gift-table">
							<div class="gift-table-header">
								<div class="gift-elem-first left">{% trans "Time" %}</div>
								<div class="gift-elem-second left">[[ gift.buy_time ]]</div>
								<div class="clear"></div>
							</div>
							<div class="gift-table-header">
								<div class="gift-elem-first left">{% trans "Recipient's Name" %}</div>
								<div class="gift-elem-second left">[[ gift.status == 1 ? gift.receiver_name : '' ]]</div>
								<div class="clear"></div>
							</div>
							<div class="gift-table-header">
								<div class="gift-elem-first left">{% trans "Code" %}</div>
								<div class="gift-elem-second left">[[ gift.gift_code ]]</div>
								<div class="clear"></div>
							</div>
							<div class="gift-table-header" ng-if="type == 13">
								<div class="gift-elem-first left">{% trans "Status" %}</div>
								<div class="gift-elem-second left">[[ gift.status == 1 ? 'Redeemed' : 'Not redeemed' ]]</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Code Modal -->
		<div class="modal fade" id="codeModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" style="top: 100px;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      				</div>
					<div class="modal-body">
						<div class="account-header-content gift-right">{% trans "Redeem Code" %}</div>
						<div class="gift-right align-center">
							<input type="text" ng-model="giftCode" placeholder="Enter code" id="gift" style="margin-bottom: 0;" ng-focus="giftValid = false" /><br />
							<span class="err" ng-if="giftValid">{% trans "Invalid!" %}</span>
						</div>
						<div class="align-center gift-right">
							<button class="blue-btn code-btn" type="button" ng-click="checkCode()">{% trans "Redeem" %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<script type="text/javascript" src="{% static 'js/wallet/account.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angularjs/ui-bootstrap-tpls-1.2.1.min.js' %}"></script>

{% endblock %}