{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Buy Credits" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/wallet/account.css' %}" />


<div class="tp-container">
	<div class="tp-content" ng-controller="buyCtrl" ng-init="init( {{ data }} )">
		<div class="account-row">
			<div class="account-header">
				<p class="account-header-content" ng-click="showCredit()">{% trans "Buy Credits" %}</p>
			</div>
			<div class="account-content align-center">
				<div class="account-table credits-table" style="width: 90%;">
					<div class="account-table-header">
						<div class="header-elem left price-first">&nbsp;<br />&nbsp;</div>
						<div class="header-elem left second">{% blocktrans %}Tellpin <br /> Credits{% endblocktrans %}</div>
						<div class="header-elem left third">{% blocktrans %}In USD <br /> ≈ In [[currency_user]]{% endblocktrans %}</div>
						<div class="header-elem left third">
							<div class="child-header-elem">{% trans "Processing Fee" %}</div>
							<div class="left half">{% trans "Credit Card" %}</div>
							<div class="left half">{% trans "PayPal" %}</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="account-table-row" ng-repeat="i in creditList track by $index">
						<div class="account-table-elem left price-first table-lineheight">
							<input type="radio" name="creditList" ng-model="$parent.credit" ng-value="i" ng-click="totalFunds()" />
						</div>
						<div class="account-table-elem left table-lineheight">[[ i.tc | number ]]</div>
						<div class="account-table-elem left">
							[[ i.usd ]] USD<br />
							<span>≈ [[ i.usd * currency | number ]] [[currency_user]]</span>
						</div>
						<div class="account-table-elem left price-elem">
							[[ i.creditcard_fee ]] USD<br />
							<span>≈ [[ i.creditcard_fee * currency | number ]] [[currency_user]]</span>
						</div>
						<div class="account-table-elem left price-elem">
							[[ i.paypal_fee ]] USD<br />
							<span>≈ [[ i.paypal_fee * currency | number ]] [[currency_user]]</span>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="account-row">
			<div class="account-header">
				<p class="account-header-content">{% trans "Payment method" %}</p>
			</div>
			<div class="account-content content-padding">
				<div class="radio">
					<label>
						<input type="radio" name="paymethodList" ng-model="payType" ng-click="totalFunds()" value="paypal" />
						{% trans "PayPal" %}
					</label>
				</div>
<!-- 
				<div class="radio">
					<label>
						<input type="radio" name="paymethodList" ng-model="payType" ng-click="totalFunds()" value="credit" />
						{% trans "Credit Card" %}
					</label>
				</div>
 -->
			</div>
		</div>
		<div class="account-row">
			<div class="account-header">
				<p class="account-header-content">{% trans "Total Funds" %}</p>
			</div>
			
			<div class="account-content content-padding">
				<p class="total-content">[[ totalFund || '' ]] USD</p>
				<p class="total-sub">≈ [[ totalFund * currency || '' | number : 2 ]] [[currency_user]]</p>
			</div>
		</div>
		<div class="account-row align-center">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" ng-submit="submit()">
				<input type="hidden" name="cmd" value="_xclick" />
				<input type="hidden" name="business" value="[[ validSeller ]]" />
				<input type="hidden" name="amount" value="[[ validtotalFund ]]" />
				<input type="hidden" name="item_name" value="[[ validItem ]]" />
				<input type="hidden" name="charset" value="UTF-8" />
				<button class="blue-btn buy-btn" type="submit" ng-disabled="!payType || !credit">{% trans "Process" %}</button>
			</form>

{#            test site#}
{#           <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" ng-submit="submit()">#}
{#				<input type="hidden" name="cmd" value="_xclick" />#}
{#				<input type="hidden" name="business" value="[[ validSeller ]]" />#}
{#				<input type="hidden" name="amount" value="[[ validtotalFund ]]" />#}
{#				<input type="hidden" name="item_name" value="[[ validItem ]]" />#}
{#				<input type="hidden" name="charset" value="UTF-8" />#}
{#				<button class="blue-btn buy-btn" type="submit" ng-disabled="!payType || !credit">{% trans "Process" %}</button>#}
{#			</form>#}
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/wallet/buy_credits.js' %}"></script>

{% endblock %}