{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Buy Credits" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/wallet/buy_coin.css' %}" />

<div class="container" ng-app="buyCoinApp" ng-controller="buyCoinController">

	<div class="wrapper">
		<div class="div-row">
			<div class="title-left div-box">{% trans "Current Balance" %} [[coin_history[0].available_balance]]C</div>
		</div>
		<div class="div-row">
			<div class="title-left">{% trans "1) How Many Tellpin Credits do you want to buy?" %}</div>
		</div>
		<div class="div-row">
			<div class="title-left">
				<select id="id_coin" onchange="change_coin()">
					<option value="50" selected="selected"> 50C = 5USD</option>
					<option value="100"> 100C = 10USD</option>
					<option value="150"> 150C = 15USD</option>
					<option value="1000"> 1000C = 100USD</option>
				</select>
			</div>
		</div>
		<div class="div-row div-multi-row">
			<div class="title-left">
				{% blocktrans %}<div class="div-content">I you buy a larger amount of Tellpin Credits at once, you can reduce the processing fee which will be</div> 
				<div class="div-content">deducted by payment partners (e.g., Credit/Debit card, Paypal) </div>
				<div class="div-content"><a>See processing fee</a></div>{% endblocktrans %}  
			</div>
		</div>
		<div class="div-row">
			<div class="title-left">{% trans "2) How will you pay?" %}</div>
		</div>
		<div class="div-row div-pay">
			<div class="title-left ">
				<div class="div-row">
					<div class="title">{% trans "Name on card" %}</div>
					<div class="div-input"><input type="text" class="input"></div>
				</div>
				<div class="div-row">
					<div class="title">{% trans "Credit card number" %}</div>
					<div class="div-input"><input type="text" class="input"></div>
				</div>
				<div class="div-row">
					<div class="title">
						<div class="col-xs-5">{% trans "Month" %}</div>
						<div class="col-xs-1"></div>
						<div class="col-xs-3">{% trans "Year" %}</div>
						<div class="col-xs-1"></div>
						<div class="col-xs-2">{% trans "CVC" %}</div>
					</div>
					<div class="div-input">
						<div class="col-xs-5"><input type="text" style="width: 100%;"></div>
						<div class="col-xs-1"></div>
						<div class="col-xs-3"><input type="text" style="width: 100%;"></div>
						<div class="col-xs-1"></div>
						<div class="col-xs-2"><input type="text" style="width: 100%;"></div>
					</div>
				</div>
				<div class="div-row div-checkout">
					<a class="btn btn-default btn-checkout">{% trans "Complete Secure Checkout" %}</a>
				</div>
				<div class="div-row div-checkout">
					<a class="btn btn-default col-xs-2">Visa</a>
					<a class="btn btn-default col-xs-2">card</a>
					<a class="btn btn-default col-xs-2">BC</a>
					<a class="btn btn-default col-xs-2">Card</a>
					<a class="btn btn-default col-xs-2">MS</a>
					<a class="btn btn-default col-xs-2">Card</a>
				</div>
				<div class="div-row div-checkout">
					{% trans "or" %}
				</div>
				<div class="div-row div-checkout">
					<a class="btn btn-default btn-checkout">{% trans "Complete Secure Checkout" %}</a>
				</div>
			</div>
		</div>
		<div class="div-row">
			<div class="title-left">{% trans "3) Confirm your order" %}</div>
		</div>
		<div class="div-row div-confirm">
			<div class="title-left ">
				<div class="div-row">
					<div class="title">{% trans "Previous Balance" %}</div>
					<div class="content" id="prev_coin">[[coin_history[0].available_balance]]</div>
				</div>
				<div class="div-row">
					<div class="title">{% trans "Purchasing Tellpin Credits" %}</div>
					<div class="content" id="buy_coin"></div>
				</div>
				<div class="div-row">
					<div class="title">{% trans "Balance after purchase" %}</div>
					<div class="content" id="after_coin"></div>
				</div>
				<div class="div-row">
					<div class="title"></div>
					<div class="content"></div>
				</div>
				<div class="div-row">
					<div class="title">{% trans "Purchasing Amount" %}</div>
					<div class="content" id="purchase_amount"></div>
				</div>
				<div class="div-row">
					<div class="title">{% trans "Processing Fee" %}</div>
					<div class="content" id="fee">0.34 USD</div>
				</div>
				<div class="div-row">
					<div class="title">{% trans "Total Amount" %}</div>
					<div class="content" id="total_amount"></div>
				</div>
				
				<div class="div-row">
					<div class="title">{% trans "Payment method" %}</div>
					<div class="content">{% trans "Credit Card / Paypal" %}</div>
				</div>
			</div>
		</div>
		<div class="div-row">
			<div class="title-left"><a class="btn btn-default btn-confirm" ng-click="buy_coin()">{% trans "Done" %}</a></div>
		</div>
		<div>
			<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="4VAWCPUP9MUF6">
				<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div>
		
	</div>
	
</div>

<script src="{% static 'js/wallet/buy_coin.js' %}"></script>

{% endblock %}