{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "My Wallet" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/wallet/coin.css' %}" />

<div class="container" ng-app="coinApp" ng-controller="coinController">
	
	<div class="wrapper">
		<div class="col-xs-3 div-left-col">
			<div class="title-left">{% trans "My Tellpin Credits" %}</div>
			<div class="title-div div-multi-btn">
				<div><a href="/wallet/buy_coin_page/" class="btn btn-default btn-buy-coins">{% trans "Buy Tellpin Credits" %}</a></div>
				<div><a class="btn btn-default btn-send-gift">{% trans "Send a Gift" %}</a></div>
				<div><a class="btn btn-default btn-redeem-code">{% trans "Redeem a Gift" %}</a></div>
			</div>
		</div>
		<div class="col-xs-9 div-right-col">
			<div class="title-left"></div>
			<div class="div-multi-row">
				<div class="col-xs-6">
					<div class="div-row outer-top"></div>
					<div class="div-row outer-left bg-g">{% trans "Total Balance" %}</div>
					<div class="div-row outer-left">{% trans "Available Balance" %}</div>
					<div class="div-row-multi bg-g">
						<div class="col-xs-6 left outer-bottom outer-left multi-line">{% trans "Pending" %}</div>
						<div class="col-xs-6 right outer-bottom">
							<div class="inner-div inner-top">{% trans "Purchase" %}</div>
							<div class="inner-div inner-bottom">{% trans "Sale" %}</div>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="div-row outer-top">{% trans "Tellpin Credits" %}</div>
					<div class="div-row bg-g">[[balance_history.total_balance]]</div>
					<div class="div-row">[[balance_history.available_balance]]</div>
					<div class="div-row bg-g">[[balance_history.purchase_pending]]</div>
					<div class="div-row outer-bottom bg-g">[[balance_history.sale_pending]]</div>
				</div>
				<div class="col-xs-3">
					<div class="div-row outer-top">{% trans "In USD" %}</div>
					<div class="div-row outer-right bg-g bg-g">[[balance_history.total_balance / 10]] USD</div>
					<div class="div-row outer-right">[[balance_history.available_balance / 10]] USD</div>
					<div class="div-row outer-right bg-g">[[balance_history.purchase_pending / 10]] USD</div>
					<div class="div-row outer-bottom outer-right bg-g">[[balance_history.sale_pending /10]] USD</div>
				</div>
			</div>
			<div class="div-table">
				<div class="header">
					<div class="col-xs-2 bg-g outer-left">{% trans "Payment #" %}</div>
					<div class="col-xs-3 bg-g">{% trans "Time" %}</div>
					<div class="col-xs-2 bg-g">{% trans "Description" %}</div>
					<div class="col-xs-1 bg-g">{% trans "Change" %}</div>
					<div class="col-xs-2 bg-g">{% trans "Available Balance" %}</div>
					<div class="col-xs-2 bg-g outer-right">{% trans "Action" %}</div>
				</div>
				<div class="content" ng-repeat="item in coin_history | orderBy: ordering">
					<div class="col-xs-2 outer-left outer-bottom">[[item.payment_id]]</div>
					<div class="col-xs-3 outer-bottom">[[item.created_time]]</div>
					<div class="col-xs-2 outer-bottom">[[item.type_name]]</div>
					<div class="col-xs-1 outer-bottom">[[item.coin]]</div>
					<div class="col-xs-2 outer-bottom">[[item.available_balance]]</div>
					<div class="col-xs-2 outer-right outer-bottom"><a class="btn">[[item.action]]</a></div>
				</div>
			</div>
		</div>
	</div>	
	<div class="mobile-wrapper">
		<div class="div-right-col">
		
			<div class="title-div div-multi-btn">
				<div><a href="/wallet/buy_coin_page/" class="btn btn-default btn-buy-coins">{% trans "Buy Tellpin Credits" %}</a></div>
				<div><a class="btn btn-default btn-send-gift">{% trans "Send a Gift" %}</a></div>
				<div><a class="btn btn-default btn-redeem-code">{% trans "Redeem a Gift" %}</a></div>
			</div>
			<div class="title-left"></div>
			<div class="div-multi-row">
				<div class="col-xs-6">
					<div class="div-row outer-top"></div>
					<div class="div-row outer-left bg-g">{% trans "Total Balance" %}</div>
					<div class="div-row outer-left">{% trans "Available Balance" %}</div>
					<div class="div-row-multi bg-g">
						<div class="col-xs-6 left outer-bottom outer-left multi-line">{% trans "Pending" %}</div>
						<div class="col-xs-6 right outer-bottom">
							<div class="inner-div inner-top">{% trans "Purchase" %}</div>
							<div class="inner-div inner-bottom">{% trans "Sale" %}</div>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="div-row outer-top">{% trans "Tellpin Credits" %}</div>
					<div class="div-row bg-g">[[balance_history.total_balance]]</div>
					<div class="div-row">[[balance_history.available_balance]]</div>
					<div class="div-row bg-g">[[balance_history.purchase_pending]]</div>
					<div class="div-row outer-bottom bg-g">[[balance_history.sale_pending]]</div>
				</div>
				<div class="col-xs-3">
					<div class="div-row outer-top">{% trans "In KRW" %}</div>
					<div class="div-row outer-right bg-g bg-g">[[balance_history.total_balance / 10]] USD</div>
					<div class="div-row outer-right">[[balance_history.available_balance / 10]] USD</div>
					<div class="div-row outer-right bg-g">[[balance_history.purchase_pending / 10]] USD</div>
					<div class="div-row outer-bottom outer-right bg-g">[[balance_history.sale_pending /10]] USD</div>
				</div>
			</div>
			<div class="div-table">
				<h2>History</h2>
				<div class="header">
					<div class="col-xs-4 bg-g">{% trans "Time" %}</div>
					<div class="col-xs-4 bg-g">{% trans "Description" %}</div>
					<div class="col-xs-2 bg-g">{% trans "Change" %}</div>
					<div class="col-xs-2 bg-g">{% trans "Balance" %}</div>
				</div>
				<div class="content" ng-repeat="item in coin_history | orderBy: ordering">
					<div class="col-xs-4 outer-bottom">[[item.created_time | slice]]</div>
					<div class="col-xs-4 outer-bottom">[[item.type_name]]</div>
					<div class="col-xs-2 outer-bottom">[[item.coin]]</div>
					<div class="col-xs-2 outer-bottom">[[item.available_balance]]</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/wallet/coin.js' %}"></script>


			

{% endblock %}