<style>
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
</style>

<!-- <table style="width: 542px; height: 345px; position: relative; background-image: url('/static/img/wallet/tellpin_search_coin_gift_card.png');">
	<tr>
		<td style="position: relative; z-index: 2; padding-top: 63px; padding-left: 27px;">
			<p style="font-size: 22px; margin-bottom: 16px; color: #fff;">To Amy</p>
			<p style="margin-bottom: 20px; margin-left: 31px; color: #fff;">Thanks for being my student for a long time!</p>
			<p style="text-align: right;margin-right: 63px;margin-bottom: 10px; color: #fff;">From Meiho</p>
			<p style="font-size: 30px; margin-bottom: 20px; margin-left: 5px; color: #fff;">500 Tellpin Credits</p>
			<p style="margin-left: 31px; margin-bottom: 23px; color: #fff;">Gift Code : A1B2 2CDS ESD2 DSG3</p>
			<p style="margin-left: 35px;">
				Gift Cards may be redeemed for Tellpin Credits. <br />
				If you want to redeem this code, click <a href="/wallet/tutee_account/gift/">here.</a>
			</p>
		</td>
	</tr>
</table> -->

<center style="background-color: rgb( 238, 238, 238 );">
<table style="width: 550px; font-size: 13px; background-color: #fff; padding: 20px; border: 2px solid rgb( 213, 213, 213 );">
	<tr>
		<td colspan="2" style="padding-bottom: 15px; border-bottom: 1px solid #dcdcdc;">
			<img src="/static/img/mainpage/tellpin_header_logo_title_beta.png" alt="logo" style="width: 120px;" width="120" />
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding-top: 15px; padding-bottom: 15px;">
			Sang A sent you a Tellpin Gift card for '몇TC' Tellpin Credits (TC)! <br />
			{% blocktrans %}Tellpin Credits are fixed to the US Dollar: 10 TC = 1 USD. With these, you can receive <br />
			1-on-1 online language lessons from native speakers at <a href="http://www.tellpin.com">tellpin.com</a>{% endblocktrans %}
		</td>
	</tr>
	<tr>
		<td style="width: 80px;">
			<img src="/static/img/upload/profile/1458174878855&&10T012936219_Avatar.jpg" alt="user_photo" style="width: 80px; height: 80px; border-radius: 20px;" width="80" height="80"/>
		</td>
		<td style="vertical-align: middle; padding-left: 15px;">
			<span style="font-weight: bold; font-size: 16px;">Sang A</span>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding-top: 15px;">
			Dear. unichal <br /><br />
			Hi, nice to meet you
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding-top: 15px; padding-bottom: 10px;">
			<img src="/static/img/wallet/giftcard.png" alt="giftcard" />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<span style="font-weight: bold; margin-left: 10px;">500 TC</span>
			<span style="background-color: rgb( 48, 102, 109 ); color: #fff; border: 1px solid rgb( 48, 102, 109 ); display: inline-block; padding: 3px 5px; margin-left: 13px;">CODE</span><span style="border: 1px solid rgb( 48, 102, 109 ); display: inline-block; padding: 3px 5px;">ABCD EFGH IJKL MNOP</span>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding-top: 15px;">
			{% blocktrans %}You must be logged in to a Tellpin account to redeem this card. <br />
			Please enter the Redeem Code <a href="">here.</a> If you have any problems or questions, <br />
			please contact support@tellpin.com{% endblocktrans %}
		</td>
	</tr>
</table>
</center>

<br />
<br />
<br />

<center style="background-color: rgb( 238, 238, 238 );">
<table style="width: 550px; font-size: 13px; background-color: #fff; padding: 20px; border: 2px solid rgb( 213, 213, 213 );">
	<tr>
		<td colspan="2" style="padding-bottom: 15px; border-bottom: 1px solid #dcdcdc;">
			<img src="/static/img/mainpage/tellpin_header_logo_title_beta.png" alt="logo" style="width: 120px;" width="120" />
		</td>
	</tr>
	<tr>
		<td style="padding-top: 15px; padding-bottom: 15px;">
			''준사람 username' sent you a Tellpin Gift card for '몇TC' Tellpin Credits (TC)! <br />
			{% blocktrans %}Tellpin Credits are fixed to the US Dollar: 10 TC = 1 USD. With these, you can receive <br />
			1-on-1 online language lessons from native speakers at <a href="http://www.tellpin.com">tellpin.com</a>{% endblocktrans %}
		</td>
	</tr>
	<tr>
		<td>
			<span>{% trans "Gift Card code for reference" %} : XXXX-AAAA-BBBB-CCCC</span><br />
			<span>{% trans "Recipient" %}: 받는이</span><br />
			<span>{% trans "Transaction #" %}: '결제코드'</span><br />
			<span>{% trans "Amount" %} : USD 몇달러</span><br />
		</td>
	</tr>
	<tr>
		<td style="padding-top: 15px;">
			{% trans "If you have any questions with the order, please contact support@tellpin.com" %}
		</td>
	</tr>
</table>
</center>



<br /><br /><br />







