{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Gift Card" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/wallet/account.css' %}" />
<link rel="stylesheet" href="{% static 'css/wallet/gift.css' %}" />
<script type="text/javascript" src="{% static 'js/wallet/gift.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angularjs/ui-bootstrap-tpls-1.2.1.min.js' %}"></script>

<div class="tp-container">
	<div class="tp-content" ng-app="giftApp" ng-controller="giftCtrl" ng-init="init( {{ data }} )">
<!-- 
		<div class="account-row">
			<div class="account-header" ng-click="showObj()">
				<p class="account-header-content">{% trans "Redeem a Gift Card" %}</p>
			</div>
			<div class="account-content" style="width: 30%;">
				<p>{% blocktrans %}If you have received a Gift Card, click <span class="receive-text" ng-click="openCode()">here</span>{% endblocktrans %}</p>
				<p class="align-center">{% trans "or" %}</p>
			</div>
		</div>
 -->
		<div class="account-row">
			<div class="account-header">
				<p class="account-header-content">{% trans "Buy a Gift Card" %}</p>
			</div>
			<div class="account-content">
				<div class="left left-gift">
					<div class="account-table credits-table">
						<div class="account-table-header">
							<div class="price-first header-elem left">&nbsp;<br />&nbsp;</div>
							<div class="header-elem left second">{% blocktrans %}Tellpin <br /> Credits{% endblocktrans %}</div>
							<div class="header-elem left third">{% blocktrans %}In USD <br /> ≈ In [[currency_user]]{% endblocktrans %}</div>
							<div class="clear"></div>
						</div>
						<div class="account-table-row" ng-repeat="i in creditList track by $index">
							<div class="account-table-elem left price-first table-lineheight">
								<input type="radio" name="creditList" ng-model="giftCard.tc" ng-value="i.tc" ng-click="totalFunds()" />
							</div>
							<div class="account-table-elem left table-lineheight">[[ i.tc ]]</div>
							<div class="account-table-elem left">
								{% blocktrans %}[[ i.usd ]] USD<br />
								<span>≈ [[ i.usd * currency | number ]] [[currency_user]]</span>{% endblocktrans %}
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>

				<div class="left right-gift">
					<div class="gift-right">
						<label class="radio-inline"><input type="radio" name="giftMethod" ng-model="giftCard.type" ng-value="2" /> {% trans "Send by e-mail" %}</label>
						<input type="text" class="receiver f12" ng-model="giftCard.to_email" ng-disabled="giftCard.type == 1" placeholder="recipient’s e-mail address" />					
					</div>
					<div class="gift-right">
						{% trans "Message to recipient" %}
					</div>
					<div class="gift-right">
						<span class="option-text">{% trans "To" context "gift" %}</span><input type="text" ng-model="giftCard.to_name" />
					</div>
					<div class="gift-right text-area">
						<textarea name="" id="" cols="70" rows="10" class="gift-message" ng-model="giftCard.content"></textarea>
					</div>
					<div class="gift-right">
						<span class="option-text">{% trans "From" context "gift" %}</span><input type="text" ng-model="giftCard.from_name" />
					</div>
					<div class="gift-right align-right">
						<button class="blue-btn gift-btn" type="button" ng-click="openPw()">{% trans "Process" %}</button>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
		<!-- PW Modal -->
		<div class="modal fade" id="pwModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" style="top: 100px;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      				</div>
					<div class="modal-body">
						<div class="account-header-content gift-right" style="font-size: 14px; padding-left: 27px;">
							{% blocktrans %}Are you sure you want to <br />
							send a [[ giftCard.tc ]] Tellpin Credits’ <br />
							worth of gift? <br /><br />
							
							Please enter your password{% endblocktrans %}
						</div>
						<div class="gift-right align-center">
							<input type="password" ng-model="pw" />
						</div>
						<div class="align-center gift-right">
							<button class="blue-btn code-btn" type="button" ng-click="sendGift()">{% trans "OK" %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}