{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Credit Card" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/wallet/account.css' %}" />
<script type="text/javascript" src="{% static 'js/wallet/pay_creditcard.js' %}"></script>
<style>

.form-row {
	margin: 10px 10px;
}
.exp-date {
	float: left;
}

input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

input.ng-valid.ng-dirty {
  background-color: #78FA89;
}

ul {
 margin:0;
}
.div-credit {
	margin-left: 30px;
}

</style>

<div class="tp-container">
	<div class="div-credit" ng-controller="CreditCtrl">
		<form novalidate name="paymentForm">
		<div class="form-row">
			<div class="form-label">{%trans "Name of the Card" %}</div>
			<input type="text" name="cardName" placeholder="Name" ng-model="ccinfo.name" required data-ng-minlength="5" maxlength="19">
		    <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
				<li ng-show="paymentForm.creditCard.$error.minlength">{%trans "Credit card must be 5-19 digits." %}</li>
				<li ng-show="paymentForm.creditCard.$error.required">{%trans "Credit card Name required." %}</li>
		    </ul>
		</div>
		<div class="form-row">
			<div class="form-label">{%trans "Credit Card Number" %}</div>
			<input type="text" name="creditCard" ng-model="ccinfo.number" mask-input required data-ng-pattern="/^[0-9]+$/" data-ng-minlength="15" maxlength="19" placeholder="Card Number" ><br/>
		    <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
				<li ng-show="paymentForm.creditCard.$error.minlength">{%trans "Credit card must be 15-19 digits." %}</li>
				<li ng-show="paymentForm.creditCard.$error.pattern">{%trans "Credit card must consist of only numbers." %}</li>
				<li ng-show="paymentForm.creditCard.$error.invalid">{%trans "Credit card must be a valid Amex, Visa, Discover, or Master Card." %}</li>
				<li ng-show="paymentForm.creditCard.$error.required">{%trans "Credit card required." %}</li>
		    </ul>
		    <span>[[ ccinfo.number | validate]]</span>
		</div>
		<div class="form-row">
			<div class="form-label">{%trans "Security Code" %}</div>
		    <input type="text" name="securityCode" ng-model="ccinfo.securityCode" placeholder="CCV" required data-ng-pattern="/^[0-9]+$/" data-ng-minlength="3" maxlength="4"><br/>
		    <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
				<li ng-show="paymentForm.securityCode.$error.pattern">{%trans "Security code must contain only numbers." %}</li>
				<li ng-show="paymentForm.securityCode.$error.minlength">{%trans "Security code must be 3-4 digits." %}</li>
				<li ng-show="paymentForm.securityCode.$error.required">{%trans "Security code required." %}</li>
		    </ul>
	    </div>
		<div class="form-row">
			<div class="form-label">{%trans "Expiration Date" %}</div>
			<div class="date">
				<div class="exp-date">
					<select ng-model="ccinfo.month" name="month" data-card-expiration required>
						<option disabled selected value="">{%trans "Month" %}</option>
						<option ng-repeat="month in months">[[$index+1]] - [[month]]</li>
				    </select>
				    <br/>
				    <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
						<li ng-show="paymentForm.month.$error.required">{%trans "Expiration month required." %}</li>
				    </ul>
				</div>
				<div class="exp-date" style="margin-left: 15px;">
				    <select ng-model="ccinfo.year" name="year" required>
						<option disabled selected value="">{%trans "Year" %}</option>
						<option ng-repeat="year in [] | range:currentYear:currentYear+13">[[year]]</li>
				    </select>
				    <br/>
				    <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
						<li ng-show="paymentForm.year.$error.required">{%trans "Expiration year required." %}</li>
						<li ng-show="paymentForm.month.$error.invalid">{%trans "Provided expiration date is invalid." %}</li>
				    </ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>

		<div class="form-row">
	    	<button ng-click="paymentForm.submitAttempt=true;submit(ccinfo)" type="submit">{%trans "Submit" %}</button>
		</div>

	</div>
</div>

{% endblock %}