{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Pin List" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tellpin_search/set_page.css' %}" />
<!-- not unsed file 
<link rel="stylesheet" type="text/css" href="{% static 'css/tellpin_search/rzslider.min.css' %}" />
 -->
<style>
	.check-dash {
		background: url("{% static 'img/tellpin_search/dash.png'%}") !important;
	}
</style>


<div class="wrap" style="width: 1240px; font-size: 14px;">
	<div class="search-header">
		
			<!-- Search History -->
			<div  ng-controller="pinListCtrl" class="tab-pane search-tab" id="search-history" ng-init="init( {{ data }} )">

				<!-- deleteModal -->
				<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm delete-modal">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">{% trans "Delete" %}</h4>
							</div>
							<div class="modal-body" style="text-align: center;">
								<div class="delete-container">
									<p>{% trans "Do you want to delete the selected item(s)?" %}</p>
									<br />
									<button type="button" class="btn btn-danger"
										ng-click="openDeleteConfirmModal(0)" style="margin-right: 7px;">{% trans "Cancel" %}</button>
									<button type="button" class="btn btn-primary"
										ng-click="log_delete()">{% trans "Delete" %}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- RenameModal -->
				<div class="modal fade" id="renameModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm rename-modal">
						<div class="modal-content" style="width: 420px; ">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">{% trans "Rename Pin List" %}</h4>
							</div>
							<div class="modal-body" style="text-align: center;">
								<div class="rename-container">
									<p>{% trans "Enter new name for Pin List" %}</p>
									<br />
									<textarea name="" cols="45" rows="1" maxlength="12" style="resize: none; overflow: auto; height: 30px; width: 332px;" ng-model="renameTxt" id="renameFlag" kr-input></textarea>
									<span style="margin-left: 298px;">[[renameTxt.length]]/12</span>
									<div style="text-align: center; margin-top: 20px;">
										<button type="button" class="btn btn-danger" ng-click="openModifyPinNameModal(0)">{% trans "Cancel" %}</button>
										<button type="button" class="btn btn-primary" ng-click="setPinName()">{% trans "OK" %}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				<div class="search-player" style="height: 669px;">
					<div class="player-header">
						<span ng-click="checkSlider()">{% trans "Auto Search Player" %}</span>
					</div>
					<div class="player-content">
						<p class="player-text" ng-click="displayStep()">{% trans "Play List" %}</p>
						<select name="" id="sel_pin" class="player-select hover-pointer" ng-model="selectedPlayMenu" ng-change="changeMenu()">
							<option value="">{% trans "All" %}</option>
							<option value="1">[[pinName1]]</option>
							<option value="2">[[pinName2]]</option>
							<option value="3">[[pinName3]]</option>
						</select>
						<br />
						<p class="player-text">
							{% trans "Play Items" %} 
							<span>
								<img style="width: 16px; height: 16px;" id="search-help" src="{% static 'img/tellpin_search/icon_help.png' %}" ng-mouseover="showHelpBox(1)" ng-mouseleave="showHelpBox(0)"/>
								<span class="search-help-box">{% blocktrans %}ㆍSelect 'All' if you want to play all the items in the play list you picked.<br>
								ㆍIf you want to play a particular range of items, enter the number of the item you want to play at the start at 'From' & enter the number of the item you want to play at the end at 'To'. {% endblocktrans %}
								</span>
							</span>
							<span class="invalid">{% trans "Invalid!" %}</span>
						</p>
						<div class="player-items">
							<input type="radio" name="range" id="all" ng-checked="rangeFlag1" ng-click="changeRange(1)"/><label for="all"><span class="player-text">{% trans "All" %}</span></label> <br />
							<div>
								<label><input type="radio" name="range" id="from" ng-checked="rangeFlag2" ng-click="changeRange(2)"/><span class="player-text" style="display: inline-block; width: 43px;">{% trans "From" context "pin_list" %} :</span></label><input type="text" ng-model="playFrom" ng-blur="checkFromToValue(1)" onkeyPress="InpuOnlyNumber(this);" />
							</div>
							<div style="padding-left: 18px;">
								<label><span class="player-totxt" style="display: inline-block; width: 43px; text-align: right;">{% trans "To" context "pin_list" %} :</span></label><input type="text" ng-model="playTo" ng-blur="checkFromToValue(2)" onkeyPress="InpuOnlyNumber(this);" />
							</div>
						</div>
						
						<p class="player-text">{% trans "Input Language" %}</p>
						<select name="" id="" class="player-select hover-pointer" ng-model="selectedLanguage" ng-options="lang.language1 for lang in myLanguageList" ng-change="changeMyLanguage(selectedLanguage)"></select>
						<p></p>
						
						<p class="player-text">{% trans "Dictionary Category" %}</p>
						<select name="" id="" class="player-select hover-pointer" ng-model="selectedDictionary" ng-options="dic.category_name for dic in myDictionaryList" ng-change="changeMyDictionary(selectedDictionary)"></select>
						<p></p>
						
						<p class="player-text">{% trans "Website to use" %}</p>
						<select name="" id="" class="player-select hover-pointer" ng-model="selectedSite" ng-options="site.site_name for site in mySiteList"></select>
						<p></p>
						
						<div class="clearfix"></div>
						<div class="image-area">
							<img src="{% static 'img/tellpin_search/button_play_mint.png' %}" alt="" class="player-image" ng-mouseenter="$parent.playHover = 0" ng-if="playHover == 1" />
							<img src="{% static 'img/tellpin_search/button_play_hover.png' %}" alt="" class="player-image" ng-click="searchPlayerStart()" ng-if="playHover == 0" ng-mouseleave="$parent.playHover = 1"/>
							<img src="{% static 'img/tellpin_search/button_pause_mint.png' %}" alt="" class="player-image" ng-mouseenter="$parent.pauseHover = 0" ng-if="pauseHover == 1" />
							<img src="{% static 'img/tellpin_search/button_pause_hover.png' %}" alt="" class="player-image" ng-click="searchPlayerPause()" ng-if="pauseHover == 0" ng-mouseleave="$parent.pauseHover = 1"/>
							<img src="{% static 'img/tellpin_search/button_stop_mint.png' %}" alt="" class="player-image" ng-if="stopHover == 1" ng-mouseenter="$parent.stopHover = 0" />
							<img src="{% static 'img/tellpin_search/button_stop_hover.png' %}" alt="" class="player-image" ng-click="searchPlayerStop()" ng-if="stopHover == 0" ng-mouseleave="$parent.stopHover = 1"/>
							<img src="{% static 'img/tellpin_search/button_repeat_normal.png' %}" alt="" class="player-image" ng-if="repeatHover == 1" ng-click="searchPlayerRepeat()" />
							<img id="repeatButton" src="{% static 'img/tellpin_search/button_repeat_pressed.png' %}" alt="" class="player-image"  ng-if="repeatHover == 0" />
							<img src="{% static 'img/tellpin_search/button_repeat_mint.png' %}" alt="" class="player-image" ng-if="repeatHover == 2" ng-click="searchPlayerRepeat()" />
						</div>
						 
						<p class="player-text" style="margin-bottom: 0;">{% trans "Interval time" %}</p>
						<!-- <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider> -->
						<div style="margin-top: 5px; position: relative;">
							<span class="f13">{% trans "Slow" %}</span><span class="f13" style="float: right;" >{% trans "Fast" %}</span>
							<input type="range" min="3000" max="10000" step="1" style="padding: 0; height: 29px;" ng-model="playerSpeed" />
							<span class="range-step" ng-class="{'active-step' : playerSpeed == 1 }"></span>
							<span class="range-step" ng-class="{'active-step' : playerSpeed == 2 }" style="left: 50px"></span>
							<span class="range-step" ng-class="{'active-step' : playerSpeed == 3 }" style="left: 100px;"></span>
							<span class="range-step" ng-class="{'active-step' : playerSpeed == 4 }" style="left: 150px"></span>
						</div>
						<!-- <div class="radio-speed">
							<input type="radio" name="interval" class="hover-pointer" ng-model="playInterval" value="3000"/>
							<input type="radio" name="interval" class="hover-pointer" ng-model="playInterval" value="5000"/>
							<input type="radio" name="interval" class="hover-pointer" ng-model="playInterval" value="7000"/>
							<input type="radio" name="interval" class="hover-pointer" ng-model="playInterval" value="10000"/>
						</div> -->
						<!-- <p class="player-text bottom-txt-left">Fast</p>
						<p class="player-text bottom-txt-right">Slow</p> -->
						<div class="clearfix"></div>
					</div>
				</div>
				
				<!-- allHistory -->
				<div class="all-area">
					<div class="all-title">{% trans "Search History" %}</div>
					<div class="all-header">
						<img style="width: 20px; height: 20px;" class="dash-image hover-pointer" src="{% static 'img/tellpin_search/dash.jpg' %}" alt="" ng-if="!checkAllSelection('all', 'if' )" ng-click="allCancelSelect('all')" />
						<input type="checkbox" class="hover-pointer" ng-click="allWordSelect('all')" ng-checked="checkAllSelection('all', 'check' )" ng-if="checkAllSelection('all', 'if' )" />
						<span>{% trans "All" %} ([[ allHistory.length ]])</span>
						<span class="all-image-area">
							<img style="width: 16px; height: 22px;" class="all-image" src="{% static 'img/tellpin_search/icon_delete_normal.png'%}" alt="" ng-show="allSelectedIndex.length == 0" />
							<img style="width: 16px; height: 22px;" class="all-image hover-pointer" src="{% static 'img/tellpin_search/icon_delete.png'%}" alt="" ng-show="allSelectedIndex.length > 0" ng-click="openDeleteConfirmModal(1)"/>
							<img style="width: 23px; height: 26px;" class="all-image" src="{% static 'img/tellpin_search/icon_txt_normal.png'%}" alt="" ng-show="allSelectedIndex.length == 0" />
							<img style="width: 23px; height: 26px;" class="all-image hover-pointer" src="{% static 'img/tellpin_search/icon_txt.png'%}" alt="" ng-show="allSelectedIndex.length > 0" ng-click="makeTxt('all')" />
						</span>
						<div class="clear"></div>
					</div>
					<div class="all-content" when-scrolled="getMoreHistory( 1 )">
						<div class="row-bottom" ng-repeat="all in allHistory" ng-class="{'ui-selected' : allSelectedIndex.indexOf($index)>=0 }">
							
							<div class="row-select">
								<input type="checkbox" class="set-checkbox hover-pointer" ng-checked="allSelectedIndex.indexOf($index)>=0" ng-click="toggleSelection('all', $index)" />
							</div>
							<div class="row-num">
								[[ $index + 1 ]]
							</div>
							<div class="row-content">
								[[ all.word ]]
							</div>
							<div class="clear"></div>
								
						</div>
					</div>
				</div>
				
				<!-- pinHistory1 -->
				<div class="all-area">
					<div class="all-title"><span class="pin_title">[[pinName1]]</span><span style="margin-left: 5px;"><img style="width: 16px; height: 16px;" src="{% static 'img/tellpin_search/button_write_normal.png' %}" class="hover-pointer pin-write" ng-click="openModifyPinNameModal(1)"/></span></div>
					<div class="all-header">
						<img style="width: 20px; height: 20px;" class="dash-image hover-pointer" src="{% static 'img/tellpin_search/dash.jpg' %}" alt="" ng-if="!checkAllSelection('pin1', 'if' )" ng-click="allCancelSelect('pin1')" />
						<input type="checkbox" class="hover-pointer"  ng-click="allWordSelect('pin1')" ng-checked="checkAllSelection('pin1', 'check' )" ng-if="checkAllSelection('pin1', 'if' )" ng-disabled="allSelectedIndex.length > 0" />
						<span>{% trans "All" %} ([[ pinHistory1.length ]])</span>
						<span class="all-image-area">
							<img style="width: 16px; height: 22px;" class="all-image" src="{% static 'img/tellpin_search/icon_delete_normal.png'%}" alt="" ng-show="pinSelectedIndex1.length == 0"; />
							<img style="width: 16px; height: 22px;" class="all-image hover-pointer" src="{% static 'img/tellpin_search/icon_delete.png'%}" alt="" ng-show="pinSelectedIndex1.length > 0" ng-click="openDeleteConfirmModal(2)"/>
							<img style="width: 23px; height: 26px;" class="all-image" src="{% static 'img/tellpin_search/icon_txt_normal.png'%}" alt="" ng-show="pinSelectedIndex1.length == 0"; />
							<img style="width: 23px; height: 26px;" class="all-image hover-pointer" src="{% static 'img/tellpin_search/icon_txt.png'%}" alt="" ng-show="pinSelectedIndex1.length > 0" ng-click="makeTxt('pin1')" />
						</span>
					</div>
						
					<div class="all-content"  when-scrolled="getMoreHistory( 2 )">
						
						
						<div class="row-bottom" ng-repeat="pin1 in pinHistory1 track by $index" sv-element="opts" ng-class="{'ui-selected' : pinSelectedIndex1.indexOf($index)>=0 }">
							
							<div class="row-select">
								<input type="checkbox" class="set-checkbox hover-pointer" ng-checked="pinSelectedIndex1.indexOf($index)>=0" ng-click="toggleSelection('pin1', $index)"/>
							</div>
							<div class="row-num" sv-handle>
								[[ $index + 1 ]]
							</div>
							<div class="row-content" sv-handle>
								[[ pin1.word ]]
							</div>
							<div class="clearfix"></div>
								
						</div>
					</div>
					<!-- paste -->
						<div class="cover-all-content"></div>
						<img style="width: 46px; height: 52px;" class="paste-btn hover-pointer" src="{% static 'img/tellpin_search/button_copy.png'%}" alt="" ng-click="copyWord(1)" />
				</div>

				<!-- pinHistory2 -->
				<div class="all-area">
					<div class="all-title"><span class="pin_title">[[pinName2]]</span><span style="margin-left: 5px;"><img style="width: 16px; height: 16px;" src="{% static 'img/tellpin_search/button_write_normal.png' %}" class="hover-pointer pin-write" ng-click="openModifyPinNameModal(2)"/></span></div>
					<div class="all-header">
						<img style="width: 20px; height: 20px;" class="dash-image hover-pointer" src="{% static 'img/tellpin_search/dash.jpg' %}" alt="" ng-if="!checkAllSelection('pin2', 'if' )" ng-click="allCancelSelect('pin2')" />
						<input type="checkbox" class="hover-pointer"  ng-click="allWordSelect('pin2')" ng-checked="checkAllSelection('pin2', 'check' )" ng-if="checkAllSelection('pin2', 'if' )" ng-disabled="allSelectedIndex.length > 0" />
						<span sys>{% trans "All" %} ([[ pinHistory2.length ]])</span>
						<span class="all-image-area">
							<img style="width: 16px; height: 22px;" class="all-image" src="{% static 'img/tellpin_search/icon_delete_normal.png'%}" alt="" ng-show="pinSelectedIndex2.length == 0"; />
							<img style="width: 16px; height: 22px;" class="all-image hover-pointer" src="{% static 'img/tellpin_search/icon_delete.png'%}" alt="" ng-show="pinSelectedIndex2.length > 0" ng-click="openDeleteConfirmModal(3)"/>
							<img style="width: 23px; height: 26px;" class="all-image" src="{% static 'img/tellpin_search/icon_txt_normal.png'%}" alt="" ng-show="pinSelectedIndex2.length == 0"; />
							<img style="width: 23px; height: 26px;" class="all-image hover-pointer" src="{% static 'img/tellpin_search/icon_txt.png'%}" alt="" ng-show="pinSelectedIndex2.length > 0" ng-click="makeTxt('pin2')" />
						</span>
					</div>
					<div class="all-content"  when-scrolled="getMoreHistory( 3 )">
						<!-- paste -->
						<div class="cover-all-content"></div>
						<img style="width: 46px; height: 52px;" class="paste-btn hover-pointer" src="{% static 'img/tellpin_search/button_copy.png'%}" alt="" ng-click="copyWord(2)" />
						
						<div class="row-bottom" ng-repeat="pin2 in pinHistory2" sv-element="opts" ng-class="{'ui-selected' : pinSelectedIndex2.indexOf($index)>=0 }">
							
							<div class="row-select">
								<input type="checkbox" class="set-checkbox hover-pointer" ng-checked="pinSelectedIndex2.indexOf($index)>=0" ng-click="toggleSelection('pin2', $index)" />
							</div>
							<div class="row-num" sv-handle>
								[[ $index + 1 ]]
							</div>
							<div class="row-content" sv-handle>
								[[ pin2.word ]]
							</div>
							<div class="clearfix"></div>
								
						</div>
					</div>
				</div>
				
				<!-- pinHistory3 -->
				<div class="all-area">
					<div class="all-title"><span class="pin_title">[[pinName3]]</span><span style="margin-left: 5px;"><img style="width: 16px; height: 16px;" src="{% static 'img/tellpin_search/button_write_normal.png' %}" class="hover-pointer pin-write" ng-click="openModifyPinNameModal(3)"/></span></div>
					<div class="all-header">
						<img class="dash-image hover-pointer" src="{% static 'img/tellpin_search/dash.jpg' %}" alt="" ng-if="!checkAllSelection('pin3', 'if' )" ng-click="allCancelSelect('pin3')" />
						<input type="checkbox" class="hover-pointer" ng-click="allWordSelect('pin3')" ng-checked="checkAllSelection('pin3', 'check' )" ng-if="checkAllSelection('pin3', 'if' )" ng-disabled="allSelectedIndex.length > 0" />
						<span sys>{% trans "All" %} ([[ pinHistory3.length ]])</span>
						<span class="all-image-area">
							<img style="width: 16px; height: 22px;" class="all-image" src="{% static 'img/tellpin_search/icon_delete_normal.png'%}" alt="" ng-show="pinSelectedIndex3.length == 0"; />
							<img style="width: 16px; height: 22px;" class="all-image hover-pointer" src="{% static 'img/tellpin_search/icon_delete.png'%}" alt="" ng-show="pinSelectedIndex3.length > 0" ng-click="openDeleteConfirmModal(4)"/>
							<img style="width: 23px; height: 26px;" class="all-image" src="{% static 'img/tellpin_search/icon_txt_normal.png'%}" alt="" ng-show="pinSelectedIndex3.length == 0"; />
							<img style="width: 23px; height: 26px;" class="all-image hover-pointer" src="{% static 'img/tellpin_search/icon_txt.png'%}" alt="" ng-show="pinSelectedIndex3.length > 0" ng-click="makeTxt('pin3')" />
						</span>
					</div>
					<div class="all-content" when-scrolled="getMoreHistory( 4 )">
						<!-- paste -->
						<div class="cover-all-content"></div>
						<img style="width: 46px; height: 52px;" class="paste-btn hover-pointer" src="{% static 'img/tellpin_search/button_copy.png'%}" alt="" ng-click="copyWord(3)" />
						
						<div class="row-bottom" ng-repeat="pin3 in pinHistory3" sv-element="opts" ng-class="{'ui-selected' : pinSelectedIndex3.indexOf($index)>=0 }">
							
							<div class="row-select">
								<input type="checkbox" class="set-checkbox hover-pointer" ng-checked="pinSelectedIndex3.indexOf($index)>=0" ng-click="toggleSelection('pin3', $index)" />
							</div>
							<div class="row-num" sv-handle>
								[[ $index + 1 ]]
							</div>
							<div class="row-content" sv-handle>
								[[ pin3.word ]]
							</div>
							<div class="clearfix"></div>
								
						</div>
					</div>
				</div>

				
				<!-- <div class="all-image-area">

					<img class="all-image" src="{% static 'img/tellpin_search/l-garbage.jpg'%}" alt="" ng-show="allSelection.length == 0"; /><img class="all-image" src="{% static 'img/tellpin_search/garbage.jpg'%}" alt="" ng-show="allSelection.length > 0" ng-click="log_delete()"/> <br />
					<img class="all-image" src="{% static 'img/tellpin_search/l-totxt.jpg'%}" alt="" ng-show="allSelection.length == 0"; /><img class="all-image" src="{% static 'img/tellpin_search/totxt.jpg'%}" alt="" ng-show="allSelection.length > 0" ng-click="makeTxt(allSelection, $index)" /> <br /><br />
					<img class="right-image" src="{% static 'img/tellpin_search/right.png' %}" alt="" ng-click="movePinned()" />
				</div> -->
				
				
				<!-- <div class="all-image-area">
					<img class="all-image" src="{% static 'img/tellpin_search/l-garbage.jpg'%}" alt="" ng-show="pinSelection.length == 0" /><img class="all-image" src="{% static 'img/tellpin_search/garbage.jpg'%}" alt="" ng-show="pinSelection.length > 0" ng-click="pin_delete()"/> <br />
					<img class="all-image" src="{% static 'img/tellpin_search/l-totxt.jpg'%}" alt="" ng-show="pinSelection.length == 0" /><img class="all-image" src="{% static 'img/tellpin_search/totxt.jpg'%}" alt="" ng-show="pinSelection.length > 0" ng-click="makeTxt(pinSelection, $index)" />
				</div> -->
				<div class="clear"></div>
			</div> 

	</div>
</div>

<script type="text/javascript" src="{% static 'js/countries.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angularjs/ngSelectable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angularjs/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angularjs/angular-sanitize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angularjs/angular-sortable-view.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tellpin_search/set_page.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tellpin_search/FileSaver.min.js' %}"></script>

{% endblock %}