{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Tellpin Search" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tellpin_search/search_player.css' %}" />

<style>

</style>

<div class="tools-search-player-content">

<div class="tools-search-player-backdrop introPopup" onclick="end_video()"></div>
<div id="video-tellpin-search" class="introPopup">
<video id="i-player" width="100%" src="/static/img/landingpage/Landing_Page_2016_04_12.mp4" frameborder="" allowfullscreen></video>
</div>

<div class="tools-search-player-container">

<div ng-controller="tellpinSearchDecCtrl">
	<div class="search_dec">
		<div class="title">
			<h4>{% trans "Get simultaneous search results to maximize your comprehension!" %}</h4>
		</div>
		<div class="dec_search">
			<span>
				<img style="width: 240px; height: 60px;" alt="" src="/static/img/tellpin_search/logo_tellpin_search_small.png">
			</span>
			<span class="img_download">
				<a href="http://115.68.0.188/TellpinSearch/Tellpin Search_Setup.exe"><img style="width: 212px; height: 65px;" alt="" src="/static/img/tellpin_search/button_download.png"></a>
			</span>

			<div class="dec_text">
				<span>
					<div>{% trans "Tellpin Search is a web-search tool for Windows® that enables you to get simultaneous results from maximum of three search engines of your choice with one click." %}</div>
					<div>{% blocktrans %}All your search history is automatically saved at <a href="/tellpinsearch/history/"><u>Search History</u></a>, but you can pin particular word/phrase you just searched for review.{% endblocktrans %}</div>
					<div>{% trans "Customize up to three <span>Pin List</span> according to learning language or themes(ex. English/Chinese word/News). You can review the entire/partial" %}</div>
					<div>{% trans "Pin List by using <span>Auto Search Player</span> or just click each word you pinned to help you remind the meaning of it." %}</div>
				</span>
			</div>
			
		</div>
	</div>
	<div class="update_area" style="margin-bottom: 50px;">
		<div class="sub_title">		
			<h4> {% trans "Updates" %} </h4>
			<div class="orange_underline">	</div>
		</div>
		<div class="codec_area">
            <div class="update-list" ng-click="clickPlayer( 'searchUpdate1' )">
                 2017/02/03
            </div>
            <div ng-if="searchUpdate1">
            	<ol>{% trans "- Beta Test release" %}</ol>
            </div>
        </div>
		
		
	</div>

 	<div class="img_search" onclick="play_video()">
 		<div class="img-video"></div>
 	</div>

	<div class="search_dec">
		<div class="title">
			<h4>{% trans "Keep up with the speed of the words flashing by!" %}</h4>
		</div>
		<div class="dec_search">
			<span>
				<img style="width: 240px; height: 60px;" alt="" src="/static/img/tellpin_search/logo_tellpin_player_small.png">
			</span>

			<span class="img_download">
				<a href="http://115.68.0.188/TellpinPlayer/Tellpin Player_Setup.exe"><img style="width: 212px; height: 65px;" alt="" src="/static/img/tellpin_search/button_download.png"></a>
			</span>

			<div class="dec_text">
				<span>
					<div>{% trans "Tellpin Player is a media player for Windows® specialized for learning a language with your favorite multimedia contents." %}</div>
					<div>{% trans "Tellpin Player supports all the most popular video and audio file formats without any ads." %}</div>
					<div>{% trans "While watching a video, you can instantly look up any word or phrase in subtitles together with Tellpin Search." %}</div>
					<div>{% trans "You can also move each piece of subtitle back and forth with a left/right arrow key." %}</div>
				</span>
			</div>
		</div>
	</div>
	<div class="feature_area">
		<div class="sub_touch">
			<p class="touch_icon"> <img style="width: 77px; height: 77px;" alt="" src="/static/img/tellpin_search/icon_one_touch.png" align="left"> </p>
			<div class="dec_touch">
				<div><h4>{% trans "1) One-touch search" %}</h4></div>
				<div>{% trans "You can look up a word in subtitles instantly while watching a video." %}</div>
				<div>{% trans "Locate your mouse pointer at the word you want to look up, and just click ‘Ctrl’ key." %}</div>
				<div>{% trans "Tellpin Search will give you simultaneous results from multiple search engines." %}</div>
			</div>
		</div>

		<div class="sub_repeat">
			<p class="repeat_icon"> <img style="width: 77px; height: 77px;" alt="" src="/static/img/tellpin_search/icon_repeat.png" align="left"> </p>
			<div class="dec_repeat">
				<div><h4>{% trans "2)	Back-and-forth subtitle repeat" %}</h4></div>
				<div>{% trans "Sometimes it is hard to understand every subtitle you hear." %}</div>
				<div>{% trans "You can move each piece of subtitle back and forth with a left/right arrow key." %}</div>
			</div>
		</div>
	</div>
	<div class="update_area">
		<div class="sub_title">		
			<h4> {% trans "Updates" %} </h4>
			<div class="orange_underline">	</div>
		</div>
		
		<div class="codec_area">
             <div class="update-list" ng-click="clickPlayer( 'playerUpdate1' )">
                        2016/05/04
             </div>
             <div ng-if="playerUpdate1">
                 <ol>{% trans "- Beta Test release" %}</ol>
             </div>
        </div>

	</div>
	<div class="empty_space">
	</div>

</div>
</div>
</div>

<script type="text/javascript" src="{% static 'js/tellpin_search/search_player.js' %}"></script>

{% endblock %}