{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Tellpin Search Settings" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tellpin_search/set_page.css' %}" />
<link rel="stylesheet" href="{% static 'css/wallet/account.css' %}" />
<style>
	.check-dash {
		background: url("{% static 'img/tellpin_search/dash.png'%}") !important;
	}
</style>

<!-- 
<script src="{% static 'js/countries.js' %}"></script>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script src="{% static 'js/angularjs/ngSelectable.js' %}"></script>
<script src="{% static 'js/angularjs/angular-route.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sanitize.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sortable-view.js' %}"></script>
<script src="{% static 'js/bootstrap/3.3.5/bootstrap.min.js' %}"></script>
 -->
<script src="{% static 'js/tellpin_search/set_page.js' %}"></script>

<div class="wrap">
	<div class="search-header">
		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Setting -->
			<div id="setting" ng-controller="settingCtrl">
				<div class="search-tab" ng-init="init( {{ data }} )">
					<!-- Category & Site Tap -->
					<div class="setting-header">
						<div style="margin-left: 25px; margin-bottom: 20px;">
							<span class="f14 f-gray-33" style="margin-right: 10px;">{% trans "Input language" %}</span> 
							<select class="f14 f-gray-33" name="" id="" ng-model="selectLanguage" ng-options="lang.id as lang.name disable when lang.disabled for lang in languageList" ng-change="changeLanguage( selectLanguage )">
							</select>
							<span class="f14 hover-pointer f-gray-33" ng-click="openModal( 'resetModal' )" style="text-decoration: underline; margin-left: 52%;">{% trans "Reset all" %}</span>
							<!--a href="#"><span class="glyphicon glyphicon-cog top-image" aria-hidden="true"></span></a-->
						</div>
						<div class="setting-content">
							<div class="content-header left" style="margin-right: 15px;">
								<div class="content-subject left-top-radius right-top-radius f14 f-orange">
									{% trans "Categories" %}
									<span style="margin-left: 160px;">
										<button type="button" class="bg-blue h24 set-btn" style="line-height: normal;" ng-click="openModal( 'categoryModal' )">{% trans "Add New" %}</button>
										&nbsp;
										<button type="button" class="bg-green h24 set-btn" style="line-height: normal;" ng-click="openModal( 'categoryRestoreModal' )">{% trans "Restore" %}</button>
									</span>
								</div>
								<div class="list-content list-first">
									<div class="list-row" ng-repeat="category in dictList">
										<label class="checkbox-inline"><input type="radio" ng-model="selectCategory" name="category" ng-value="category.category_id" ng-click="getSiteList( category.category_id )" /><span class="f-gray-33">[[ category.category_name ]]</span></label>
										<div class="list-col-right">
											<button type="button" class="delete-btn" ng-click="removeCategory( category )"><span class="glyphicon glyphicon-remove"></span></button>
										</div>
										<div class="clear"></div>
									</div>
									<div class="list-row" style="margin-right: 10px;" ng-if="dictList.length > 0">
										<hr />
									</div>
									<div class="list-row" ng-repeat="category in noDictList">
										<label class="checkbox-inline"><input type="radio" ng-model="selectCategory" name="category" ng-value="category.category_id" ng-click="getSiteList( category.category_id )" /><span class="f-gray-33">[[ category.category_name ]]</span></label>
										<div class="list-col-right">
											<button type="button" class="delete-btn" ng-click="removeCategory( category )"><span class="glyphicon glyphicon-remove"></span></button>
										</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="left-bottom-radius right-bottom-radius">&nbsp;</div>
								<div style="clear: both;"></div>
							</div>
							<div class="content-header left">
								<div class="content-subject left-top-radius right-top-radius f14 f-orange">
									{% trans "Sites" %}
									<span style="margin-left: 45%;">
										<button type="button" class="bg-blue h24 set-btn" style="line-height: normal;" ng-click="openModal( 'siteModal' )">{% trans "Add New" %}</button>
										&nbsp;
										<button type="button" class="bg-green h24 set-btn" style="line-height: normal;" ng-click="openModal( 'siteRestoreModal' )">{% trans "Restore" %}</button>
									</span>
								</div>
								<div class="list-content list-first">
									<div class="list-row" ng-repeat="site in siteList">
										<span class="f-gray-33">[[ site.site_name ]]</span>
										<div class="list-col-right">
											<button type="button" class="delete-btn" ng-click="removeSite( site )"><span class="glyphicon glyphicon-remove"></span></button>
										</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="left-bottom-radius right-bottom-radius">&nbsp;</div>
							</div>
							<div class="clear"></div>
						</div>
						
					</div>
					<!-- Display Tab -->
				</div>
				
				<!-- CreateCategoryModal -->
				<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="top: 150px;">
						<div class="modal-content">
							<!-- <div class="modal-header">
			       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 30px !important;">&times;</span></button>
			     			</div> -->
							<div class="modal-body">
								<div class="trans-row" style="padding-top: 15px;">
									<div>
										<p class="f-gray-33 f12">{% trans "Input language" %} : [[ selectLanguageName ]]</p>
										<p class="f-gray-33 f12">{% trans "Type in the name of a new category" %}</p>
									</div>
								</div>
								<div class="trans-row">
									<div class="right-elem f-gray-33 f12">
										{% trans "Name" %} : <input type="text" ng-model="customCategoryName" id="customCategory" class="f-gray-33 f12"/>
									</div>
								</div>
								<div class="trans-row" style="text-align: right; margin-bottom: 0;">
									<button class="gray-btn h24 bg-gray" type="button" ng-click="hideModal( 'categoryModal' )">{% trans "Cancel" %}</button>
									<button class="blue-btn h24 bg-blue" type="button" ng-click="addCategory()">{% trans "Add" %}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- RestoreCategoryModal -->
				<div class="modal fade" id="categoryRestoreModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="top: 150px;">
						<div class="modal-content">
							<!-- <div class="modal-header">
			       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 30px !important;">&times;</span></button>
			     			</div> -->
							<div class="modal-body">
								<div class="trans-row" style="padding-top: 15px;">
									<div>
										<p class="f-gray-33 f12">{% trans "Input language" %} : [[ selectLanguageName ]]</p>
										<p class="f-gray-33 f12">{% trans "Select categories you want to restore among previously deleted ones as below." %}</p>
									</div>
								</div>
								<div class="trans-row">
									<div class="right-elem f-gray-33 f12">
										<div style="margin-bottom: 5px;" ng-repeat="category in restoreCategoryList">
											<label class="checkbox-inline"><input type="checkbox" ng-click="insertRestoreCategory( category.category_id )" name="restoreCategory" ng-value="category.category_id" /><span class="f-gray-33">[[ category.category_name ]]</span></label>
										</div>
									</div>
								</div>
								<div class="trans-row" style="text-align: right; margin-bottom: 0;">
									<button class="gray-btn h24 bg-gray" type="button" ng-click="hideModal( 'categoryRestoreModal' )">{% trans "Cancel" %}</button>
									<button class="blue-btn h24 bg-blue" type="button" ng-click="restoreCategory()">{% trans "Restore" %}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- CreateSiteModal -->
				<div class="modal fade" id="siteModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="top: 150px;">
						<div class="modal-content">
							<!-- <div class="modal-header">
			       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			     			</div> -->
							<div class="modal-body">
								<div class="trans-row">
									<div>
										<p class="f-gray-33 f12">{% trans "Input language" %} : [[ selectLanguageName ]]</p>
										<p class="f-gray-33 f12">{% trans "Category" %} : [[ selectMyCategoryName ]]</p>
										<p class="account-header-content f-gray-33 f12">{% trans "Add a site" %}</p>
									</div>
								</div>
								<div class="trans-row">
									{% blocktrans %}<p class="f-gray-33 f12">1. Open the site you want to add in a new window.</p>
									<p class="f-gray-33 f12">2. Use it to search for the term TEST(in capital letters).</p>
									<p class="f-gray-33 f12">3. Copy the content of your <span>browser's address</span> bar into the URL field below.</p>
									<p class="f-gray-33 f12">4. Specify a name for the site and assign a category.</p>{% endblocktrans %}
								</div>
								<div class="trans-row">
									<div class="right-elem f-gray-33 f12">
										<span class="site-name f-gray-33 f12">{% trans "Name" %} : </span><input type="text" ng-model="customSiteName" class="site-txt" id="customSite" /><br />
										{% trans "Category" %} : <select name="" id="" class="category-select f-gray-33 f12" ng-model="selectMyCategory" ng-options="ct.category_id as ct.category_name for ct in categoryList" ng-change="customChangeCategory( selectMyCategory )"></select><br />
										<span class="url-name f-gray-33 f12">{% trans "URL" %} : </span>
										<input type="text" ng-model="customSiteUrl" class="url-txt f-gray-33 f12" />
									</div>
								</div>
								<div class="trans-row" style="text-align: right; margin-bottom: 0;">
									<button class="gray-btn h24 bg-gray" type="button" ng-click="hideModal( 'siteModal' )">{% trans "Cancel" %}</button>
									<button class="blue-btn h24 bg-blue" type="button" ng-click="addSite()">{% trans "Add" %}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- RestoreSiteModal -->
				<div class="modal fade" id="siteRestoreModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="top: 150px;">
						<div class="modal-content">
							<!-- <div class="modal-header">
			       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			     			</div> -->
							<div class="modal-body">
								<div class="trans-row">
									<div>
										<p class="f-gray-33 f12">{% trans "Input language" %} : [[ selectLanguageName ]]</p>
										<p class="f-gray-33 f12">{% trans "Category" %} : [[ selectRestoreCategoryName ]]</p>
										<p class="account-header-content f-gray-33 f12">{% trans "Add a site" %}</p>
									</div>
								</div>
								<div class="trans-row">
									<div class="right-elem f-gray-33 f12">
										<div style="margin-bottom: 5px;" ng-repeat="site in restoreSiteList">
											<label class="checkbox-inline"><input type="checkbox" ng-click="insertRestoreSite( site.site_id )" name="restoreCategory" ng-value="site.site_id" /><span class="f-gray-33">[[ site.site_name ]]</span></label>
										</div>
									</div>
								</div>
								<div class="trans-row" style="text-align: right; margin-bottom: 0;">
									<button class="gray-btn h24 bg-gray" type="button" ng-click="hideModal( 'siteRestoreModal' )">{% trans "Cancel" %}</button>
									<button class="blue-btn h24 bg-blue" type="button" ng-click="restoreSite()">{% trans "Add" %}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- ResetModal -->
				<div class="modal fade" id="resetModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="top: 150px;">
						<div class="modal-content">
							<!-- <div class="modal-header">
			       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			     			</div> -->
							<div class="modal-body">
								<div class="trans-row">
									<div>
										<p class="f-gray-33 f12">{% trans "Be careful!" %} <br /><br />
											{% trans "This will set all the categories and their sites back to default." %} <br />
											&nbsp;&nbsp;{% blocktrans %}- Any category or site you’ve added so far will be hidden. <br />
											&nbsp;&nbsp;- Any category or site you’ve deleted from the default settings so <br />
											&nbsp;&nbsp;&nbsp;&nbsp;far will be brought back.{% endblocktrans %}
										</p>
									</div>
								</div>
								<div class="trans-row" style="text-align: right; margin-bottom: 0;">
									<button class="gray-btn h24 bg-gray" type="button" ng-click="hideModal( 'resetModal' )">{% trans "Cancel" %}</button>
									<button class="blue-btn h24 bg-blue" type="button" ng-click="resetLanguage()">{% trans "Reset all" %}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- Need Help -->
		</div>
	</div>
</div>

{% endblock %}