{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Tellpin Search Settings" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tellpin_search/set_page_back.css' %}" />
<link rel="stylesheet" href="{% static 'css/wallet/account.css' %}" />
<style>
	.check-dash {
		background: url("{% static 'img/tellpin_search/dash.png'%}") !important;
	}
</style>

<script src="{% static 'js/countries.js' %}"></script>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script src="{% static 'js/angularjs/ngSelectable.js' %}"></script>
<script src="{% static 'js/angularjs/angular-route.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sanitize.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sortable-view.js' %}"></script>
<script src="{% static 'js/bootstrap/3.3.5/bootstrap.min.js' %}"></script>
<script src="{% static 'js/tellpin_search/set_page_back.js' %}"></script>

<div class="wrap">
	<div class="search-header">
		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Setting -->
			<div id="setting" ng-controller="settingCtrl">
				<div class="search-tab" ng-init="init()">
					<div class="display-wrap">
						<div class="display-title">{% trans "Language Setting" %}</div>
						<!-- Native -->
						<div class="display-content left">
							<div class="display-bot">
								<div class="language-type left">{% trans "Native Language" %}</div>
								<div class="primary left">{% trans "Primary" %}</div>
								<div class="clear"></div>
							</div>
							<div class="display-bot" ng-repeat="i in native">
								<div class="language-type left">
									<button class="none-btn" ng-click="removeLanguage( 'native', $index )"><span class="glyphicon glyphicon-remove"></span></button>
									<select name="" id="" ng-model="native[$index].language_id" ng-options="lang.id as lang.language1 for lang in languageList" ng-change="changeLanguage( native[$index], [[ native[$index].language_id ]] )"></select>
								</div>
								<div class="primary left">
									<input type="radio" name="nativePrimary" ng-value="1" ng-model="native[$index].primary" />
								</div>
								<div class="clear"></div>
							</div>
							<div class="add-another hover-pointer" ng-click="addLanguage( 'native' )">{% trans "+Add another language" %}</div>
						</div>
						<!-- Learning -->
						<div class="display-content left">
							<div class="display-bot">
								<div class="language-type left">{% trans "Learning Language" %}</div>
								<div class="primary left">{% trans "Primary" %}</div>
								<div class="clear"></div>
							</div>
							<div class="display-bot" ng-repeat="i in learn">
								<div class="language-type left">
									<button class="none-btn" ng-click="removeLanguage( 'learn', $index )"><span class="glyphicon glyphicon-remove"></span></button>
									<select name="" id="" ng-model="learn[$index].language_id" ng-options="lang.id as lang.language1 for lang in languageList" ng-change="changeLanguage( learn[$index], [[ learn[$index].language_id ]] )"></select>
								</div>
								<div class="primary left">
									<input type="radio" name="learnPrimary" ng-value="1" ng-model="learn[$index].learn_primary" />
								</div>
								<div class="clear"></div>
							</div>
							<div class="add-another hover-pointer" ng-click="addLanguage( 'learn' )">{% trans "+Add another language" %}</div>
						</div>
						<!-- Other -->
						<div class="display-content left" style="width: 28%;">
							<div class="display-bot">
								<div class="">{% trans "Other language I can speak" %}</div>
							</div>
							<div class="display-bot" ng-repeat="i in other">
								<div class="">
									<button class="none-btn" ng-click="removeLanguage( 'other', $index )"><span class="glyphicon glyphicon-remove"></span></button>
									<select name="" id="" ng-model="other[$index].language_id"  ng-options="lang.id as lang.language1 for lang in languageList" ng-change="changeLanguage( other[$index], [[ other[$index].language_id ]] )"></select>
								</div>
							</div>
							<div class="add-another hover-pointer" ng-click="addLanguage( 'other' )">{% trans "+Add another language" %}</div>
						</div>
						<div class="display-footer left">
							<div class="display-btn-area">
								<button type="button" class="red-btn setting-btn" ng-click="display_save();">{% trans "Save" %}</button><br />
								<button type="button" class="gray-btn setting-btn" ng-click="resetLanguage();">{% trans "Cancel" %}</button>
							</div>
							<div ng-if="updateLoading" class="display-btn-area" style="padding:20px;"><img src="{% static 'img/ajax-loader.gif' %}"></div>
						</div>
						<div class="clear"></div>
					</div>
				
					<!-- Category & Site Tap -->
					<div class="setting-header">
						<div class="display-title left" style="margin-left: 25px;">{% trans "Categories & Sites" %}</div>
						<div class="left" style="margin-left: 25px;">
							<span>{% trans "Input language" %}</span> 
							<select name="" id="" ng-model="myLang" ng-options="lang.language1 for lang in learnLang track by lang.id" ng-change="changeMenu( myLang )">
							</select>
							<!--a href="#"><span class="glyphicon glyphicon-cog top-image" aria-hidden="true"></span></a-->
						</div>
						<div class="clear"></div>
						<div class="setting-content">
							<div class="content-header">
								<div class="content-subject left-top-radius">
									{% trans "All Categories" %}
									<span class="glyphicon glyphicon-share-alt hover-pointer copy-btn" ng-click="moveMyCategory()"></span>
								</div>
								<div class="content-subject right-top-radius">{% trans "Show categories below only" %}</div>
								<div class="content-subject left-top-radius">
									{% trans "Site Recommendations" %}
									<span class="glyphicon glyphicon-share-alt hover-pointer copy-btn" style="margin-left: 19px;" ng-click="moveMySite()"></span>
								</div>
								<div class="content-subject right-top-radius" style="margin-right: 0;">
									{% trans "Show websites below only" %}
								</div>
								<div style="clear: both;"></div>
							</div>
							<!-- <div class="content-sort">
								<ul>
									<li>
										<span>Sort by</span>
										<select name="" id="" ng-model="allCategorySortOption" ng-options="sort.name for sort in alphabetSort" ng-change="allCategorySort( allCategorySortOption )"></select>
									</li>
									<li>
										<span>Sort by</span>
										<select name="" id="" ng-model="myCategorySortOption" ng-options="sort.name for sort in alphabetSort" ng-change="myCategorySort( myCategorySortOption )"></select>
									</li>
									<li>
										<span>Sort by</span>
										<select name="" id="" ng-model="recSitesSortOption" ng-options="sort.name for sort in alphabetSort" ng-change="recSitesSort( recSitesSortOption )"></select>
									</li>
									<li>
										<span>Sort by</span>
										<select name="" id="" ng-model="mySiteSortOption" ng-options="sort.name for sort in alphabetSort" ng-change="mySiteSort( mySiteSortOption )"></select>
									</li>
									<div style="clear: both;"></div>
								</ul>
							</div> -->
							<!-- All Category -->
							<div class="list-content list-first">
								<div class="list-row" ng-repeat="category in dictionaryList">
									<label class="checkbox-inline"><input type="checkbox" ng-model="selectAllCategory" ng-value="category" ng-checked="selectAllCategory.indexOf( category.category_id ) > -1" ng-click="toggleSelection( category )" /><span>[[ category.category_name ]]</span></label>
								</div>
								<div class="list-row" style="margin-right: 10px;">
									<hr />
								</div>
								<div class="list-row" ng-repeat="category in allCategory">
									<label class="checkbox-inline"><input type="checkbox" ng-model="selectAllCategory" ng-value="category" ng-checked="selectAllCategory.indexOf( category.category_id ) > -1" ng-click="toggleSelection( category )" /><span>[[ category.category_name ]]</span></label>
								</div>
							</div>
							<div class="list-content list-second">
								<div class="list-row" ng-repeat="category in myCategory">
									<label class="checkbox-inline" style="padding-left: 10px;">
										<input type="radio" name="myCategory" ng-model="selectMyCategory" ng-value="category.category_id" ng-click="getRecSites( selectMyCategory, $index )" /><span>[[ category.category_name ]]</span>
									</label>
									<div class="list-col-right">
										<button type="button" class="delete-btn" ng-click="removeCategory( $index )"><span class="glyphicon glyphicon-remove"></span></button>
									</div>
									<div style="clear: both;"></div>
								</div>
							</div>
							<div class="list-content list-first">
								<div class="list-row" ng-repeat="site in recSites">
									<label class="checkbox-inline"><input type="checkbox" ng-value="site.site_id" ng-checked="selectSiteCategory.indexOf( site.site_id ) > -1" ng-click="toggleSiteSelection( site )"  /><span>[[ site.site_name ]]</span></label>
								</div>
							</div>
							<div class="list-content list-second" style="margin-right: 0;">
								<div class="list-row" ng-repeat="site in mySite">
									<label class="checkbox-inline"><span>[[ site.site_name ]]</span></label>
									<div class="list-col-right">
										<button type="button" class="delete-btn" ng-click="removeSite( $index )"><span class="glyphicon glyphicon-remove"></span></button>
									</div>
									<div style="clear: both;"></div>
								</div>
							</div>
							<div style="clear: both;"></div>
							<div class="left-bottom-radius left">&nbsp;</div>
							<div class="right-bottom-radius left">&nbsp;</div>
							<div class="left-bottom-radius left">&nbsp;</div>
							<div class="right-bottom-radius left" style="margin-right: 0;">&nbsp;</div>
							<div class="clear"></div>
						</div>
						<div class="setting-footer">
							<div class="move-button">
								<img src="{% static 'img/tellpin_search/button_add_mint.png' %}" class="hover-pointer" alt="" style="margin-left: 446px;" ng-click="openModal( 'categoryModal' )" />
								<img src="{% static 'img/tellpin_search/button_add_mint.png' %}" class="hover-pointer" alt="" style="margin-left: 474px;" ng-click="openModal( 'siteModal' )" />
							</div>
							<div ng-if="categoryUpdate" class="display-btn-area" style="padding:10px; padding-bottom: 0; text-align: center;"><img src="{% static 'img/ajax-loader.gif' %}"></div>
							<div class="save-initial">
								<button type="button" class="gray-btn setting-btn" ng-click="makeInitial()" style="width: auto; padding: 1px 20px;">{% trans "Reset to defaults" %}</button>
								<button type="button" class="red-btn setting-btn" ng-click="saveCategory()" style="margin-bottom: 0;">{% trans "Save" %}</button>
							</div>
						</div>
					</div>
					<!-- Display Tab -->
				</div>
				
				<!-- CreateCategoryModal -->
				<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
			       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			     				</div>
							<div class="modal-body">
								<div class="trans-row">
									<div>
										<p class="account-header-content">{% trans "Type in the name of a new category" %}</p>
									</div>
								</div>
								<div class="trans-row">
									<div class="right-elem">
										{% trans "Name" %} : <input type="text" ng-model="customCategoryName" id="customCategory" />
									</div>
								</div>
								<div class="trans-row" style="text-align: right;">
									<button class="gray-btn" type="button" ng-click="hideModal( 'categoryModal' )">{% trans "Cancel" %}</button>
									<button class="blue-btn" type="button" ng-click="addCategory()">{% trans "OK" %}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- CreateSiteModal -->
				<div class="modal fade" id="siteModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
			       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			     				</div>
							<div class="modal-body">
								<div class="trans-row">
									<div>
										<p class="account-header-content">{% trans "Add a site" %}</p>
									</div>
								</div>
								<div class="trans-row">
									{% blocktrans %}<p>1. Open the site you want to add in a new window.</p>
									<p>2. Use it to search for the term TEST(in capital letters).</p>
									<p>3. Copy the content of your <span>browser's address</span> bar into the URL field below.</p>
									<p>4. Specify a name for the site and assign a category.</p>{% endblocktrans %}
								</div>
								<div class="trans-row">
									<div class="right-elem">
										<span class="site-name">{% trans "Name" %} : </span><input type="text" ng-model="customSiteName" class="site-txt" id="customSite" /><br />
										{% trans "Category" %} : <select name="" id="" class="category-select" ng-model="selectMyCategory" ng-options="ct.category_id as ct.category_name for ct in myCategory"></select><br />
										<span class="url-name">{% trans "URL" %} : </span>
										<input type="text" ng-model="customSiteUrl" class="url-txt" />
									</div>
								</div>
								<div class="trans-row" style="text-align: right;">
									<button class="blue-btn" type="button" ng-click="addSite()">{% trans "Submit" %}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Need Help -->
		</div>
	</div>
</div>

{% endblock %}