<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'css/tutoring/reservation_list.css' %}" />
<!--	not used 
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 -->
	
		<!-- Modal Confirm-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">{% trans "Please confirm that the lesson went well and leave a feedback." %}</h4>
		      </div>
		      <div class="modal-body">
		        <div class="ratings">
		        {% trans "Ratings" %}
		        <img class="star1" ng-click="clickRatings(1)" src="{%static 'img/tutor/icon_star_full.png'%}">
		        <img class="star2" ng-click="clickRatings(2)" src="{%static 'img/tutor/icon_star_full.png'%}">
		        <img class="star3" ng-click="clickRatings(3)" src="{%static 'img/tutor/icon_star_full.png'%}">
		        <img class="star4" ng-click="clickRatings(4)" src="{%static 'img/tutor/icon_star_full.png'%}">
		        <img class="star5" ng-click="clickRatings(5)" src="{%static 'img/tutor/icon_star_full.png'%}">
		        </div>
		        <div>
		        	<textarea id="confirm_comment" class="confirm-area" maxlength="400" ng-keydown="checkLengthConfirmModal();" ng-keyup="checkLengthConfirmModal();"  placeholder="How was your lesson?"></textarea>
		        </div>
		        <div class="txt-len">
		        	0 / 400 {% trans "characters" %}
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" ng-click="clickBtnAction('Confirm', 1)">{% trans "Confirm" %}</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Modal Feedback -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">{% trans "Please leave a feedback for your tutee." %}</h4>
		      </div>
		      <div class="modal-body">
		        <div>
		        	<textarea id="feedback_comment" class="confirm-area2" maxlength="400" ng-keydown="checkLengthFeedbackModal();" ng-keyup="checkLengthFeedbackModal();">{% trans "Ex) He is fluent at Korean. It was surprising to see somebody who is very good at Korean. I tried to use complicated words to enrich his vocabulary. I hope it was helpful to him. I enjoyed our conversation. I look forward to our next sessions" %}</textarea>
		        </div>
		        <div class="txt-len2">
		        	0 / 400 {% trans "characters" %}
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" ng-click="clickBtnAction('Leave a feedback', 1)">{% trans "Confirm" %}</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="row" style="padding: 20px 20px;">
			<form role="form">
				<div class="form-group top-status" style="width: 100%; height: 40px;">
					<!--label for="sel1" style="height: 20px; display: block;">Lesson Status</label> 
					<select class="form-control" id="sel1" ng-model="selected_stat" ng-init="selected_stat='All'" ng-change="statFilter(1);">
					    <option>All</option>
					    <option>Not scheduled</option>
						<option>Requested</option>
						<option ng-if="display==1">Upcoming</option>
						<option ng-if="display==2">Need Confirmation</option>
						<option>Confirmed</option>
						<option>Declined</option>
						<option>Canceled</option>
					</select-->
					<select class="form-control" style="height: 40px; float: left; width:200px;" id="sel1" ng-model="selected_stat" ng-change="statFilter(1); _search_type='stat' ">
						<option value="All">{% trans "All" %}</option>
					    <option value="Action required">{% trans "Action Required" %}</option>
					    <option value="Waiting for action" >{% trans "Waiting for Action" %}</option>
					    <option value="No Action needed">{% trans "No Action Needed" %}</option>
					    <option value="None">{% trans "None" %}</option>
					    <option>--------------------------</option>
						<option value="Requested">{% trans "Requested" %}</option>
						<option value="Approved/Upcoming">{% trans "Approved/Upcoming" %}</option>
						<option value="Problem reported">{% trans "Problem reported" %}</option>
						<option value="In dispute">{% trans "In dispute" %}</option>
						<option value="In progress">{% trans "In progress" %}</option>
						<option value="Need confirmation">{% trans "Need confirmation" %}</option>
						<!--option>Rescheduled / Requested</option-->
						<option>{% trans "Confirmed" %}</option>
						<option>{% trans "Canceled" %}</option>
						<option>{% trans "Refunded" %}</option>
						<option>{% trans "Expired" %}</option>
						<option value="New Message">{% trans "New Message" %}</option>
					</select>
					<div class="input-group" style="height: 40px; float: right; width:200px;">
				      <input type="text" id="search_name" class="form-control" placeholder="Username" style="border-right-width: 2px; height: 40px;">
				      <span class="input-group-btn glyphicon glyphicon-search" ng-click="searchName(); _search_type='name'">
				        <!--  button class="btn btn-default" type="button">1</button -->
				        <span class="btn btn-default glyphicon glyphicon-search" style="padding-top:10px; top:-1px; height: 40px; border-left-style: none;"> </span>
				      </span>
				    </div><!-- /input-group -->
				</div>
				<div style="clear: both;"></div>
			</form>
		</div>
		<div class="lesson-status-row" style="">
			<table class="table table-responsive table-bordered table-hover" style=" border: none; overflow: hidden;">
				<thead class="thead-default rv-tb-head">
					<!-- <tr style="height:25px;">
						<th ng-click="fieldFilter('lesson_number')" style="cursor: pointer; text-align: center;">Reservation#</th>
						<th ng-click="fieldFilter('lesson_title')" style="cursor: pointer; min-width:105px; max-width:186px;text-align: center;">Lesson name</th>
						<th style="text-align: center;">Order</th>
						<th class="text-center" ng-click="fieldFilter('date')" style="cursor: pointer; text-align: center;">Date</th>
						<th class="text-center" ng-click="fieldFilter('time')" style="cursor: pointer; text-align: center;">Time</th>
						<th class="text-center" ng-click="fieldFilter('duration')" style="cursor: pointer; text-align: center;">Duration</th>
						<th ng-click="fieldFilter('name')" style="cursor: pointer; text-align: center;" ng-if="display==1">Tutee</th>
						<th ng-click="fieldFilter('name')" style="cursor: pointer; text-align: center;" ng-if="display==2">Tutor</th>
						<th ng-click="fieldFilter('status')" style="cursor: pointer; min-width:96px; text-align: center;">Status</th>
						<th style="min-width:96px; text-align: center;">Status Type</th>
						<th style="text-align: center;">Action</th>
					</tr> -->
				</thead>
				<tbody>
					<tr ng-repeat="item in rv_list | orderBy: ordering" ng-switch on="item.status" style="font-size: 11px; height:98px !important; text-align: center; ">
					
						<td style="width: 50%; line-height: 25px; border:none; vertical-align: middle; cursor:pointer;" class="rv-list" ng-click="goUrl(''+[[btn_display == 1 ? '/tutorlessons/lesson/'+item.rvid : '/tuteelessons/lesson/'+item.rvid ]])">
						<!-- <a href="[[btn_display == 1 ? '/tutorlessons/lesson/'+item.rvid : '/tuteelessons/lesson/'+item.rvid ]]" style="text-decoration: none;"> -->
							<table>
								<tr><td style="text-align: left; font-size: 12px; color: #333333;">[[item.date_time]] <span class="btn-message" ng-if="item.new_message" ng-click="clickMessage(item.rvid)"></span></td></tr>
								<tr><td style="text-align: left; font-size: 12px; color: #333333;">[[item.lesson_title]] <span ng-if="item.orders != 1" class="bundle-block" style="font-size: 12px;">{% trans "Package" %}</span><span ng-if="item.orders != 1" style=" font-size: 12px;">[[item.order]]/[[item.orders]]</span></td></tr>
								<tr><td style="text-align: left; font-size: 12px; color: #333333;">#[[item.lesson_number]]</td></tr>
							</table>
						<!-- </a> -->
						</td>
						
						
						<td style="width: 20%; vertical-align:middle; text-align: left; line-height: 25px; border:none; overflow: hidden; cursor:pointer;" class="rv-list" ng-click="goUrl(''+[[btn_display == 1 ? '/user/'+item.tutee_id : '/tutor/'+item.tutor_id ]])">
						<!-- <a href="[[btn_display == 1 ? '/user/'+item.tutee_id : '/user/'+item.tutor_id ]]" style="text-decoration: none;"> -->
							<table>
								<tr>
									<td style="text-align: left;" rowspan="2">
										<img style="width:50px;height:50px;border-radius:15px;" ng-if="btn_display == 2" ng-src=[[item.tutor_image]] onerror='javascript:this.src="/static/img/user_auth/icon_person.png"'>
										<img style="width:50px;height:50px;border-radius:15px;" ng-if="btn_display == 1" ng-src=[[item.tutee_image]] onerror='javascript:this.src="/static/img/user_auth/icon_person.png"'>
									</td>
									<td>
										<span class="" ng-if="btn_display == 2" style="margin-left: 10px; font-size:13px; color: #037485;">[[item.name]]</span>
										<span class="" ng-if="btn_display == 1" style="margin-left: 10px; font-size:13px; color: #037485;">[[item.name]]</span>
									</td>
								</tr>
								<tr>
									<td style="text-align: left; vertical-align: middle;">
										<span class="span-inline-block" ng-if="btn_display == 2" style="margin-left: 10px; color: #333333;">{% trans "Tutor" %}</span>
										<span class="span-inline-block" ng-if="btn_display == 1" style="margin-left: 10px; color: #333333;">{% trans "Tutee" %}</span>
									</td>
								</tr>
							</table>
						<!-- </a> -->
						</td>
						<td style="width: 30%; vertical-align:middle; border:none; line-height:20px; overflow: hidden; cursor:pointer;" class="rv-list" align="right" ng-click="goUrl(''+[[btn_display == 1 ? '/tutorlessons/lesson/'+item.rvid : '/tuteelessons/lesson/'+item.rvid ]])">
							<!-- <a href="[[btn_display == 1 ? '/tutorlessons/lesson/'+item.rvid : '/tuteelessons/lesson/'+item.rvid ]]" style="text-decoration: none;"> -->
							<table style="">
								<tr >
									<td ng-if="btn_display == 1">
									<span ng-class="item.status_type == 'Action required' ? 'green-action-block' : 'grey-action-block' ">
										[[ item.status_type]]
									</span>
									</td>
									<td ng-if="btn_display == 2">
									<span ng-class="item.status_type == 'Action required' ? 'green-action-block' : 'grey-action-block' ">
										[[ item.status_type]]
									</span>
									</td>
								</tr>
								<tr >
									<td>
										<span ng-class="item.status == 'Requested' ? 'green-status' : item.status == 'Confirmed' || item.status == 'Canceled' || item.status == 'Refunded' || item.status == 'Expired' ? 'orange-status' : 'grey-status' ">[[item.status]]</span>
									</td>
								</tr>
							</table>
							<!-- </a> -->
						</td>
						
						
						<!-- <td class="ver-mid" ng-if="btn_display == 1"><a href="/tutorlessons/lesson/[[item.rvid]]">[[item.lesson_number]]</a></td>
						<td class="ver-mid" ng-if="btn_display == 2"><a href="/tuteelessons/lesson/[[item.rvid]]">[[item.lesson_number]]</a></td>
						<td class="ver-mid table-row-lname" >[[item.lesson_title]]</td>
						<td class="ver-mid text-center" ng-if="item.orders != 1">[[item.order]] / [[item.orders]]</td>
						<td class="ver-mid text-center" ng-if="item.orders == 1">S</td>
						<td class="ver-mid text-center" ng-if="item.date">[[item.date]]</td>
						<td class="ver-mid text-center" ng-if="!item.date">-</td>
						<td class="ver-mid text-center" ng-if="item.time">[[item.time]]</td>
						<td class="ver-mid text-center" ng-if="!item.time">-</td>
						<td class="ver-mid text-center" >[[item.duration]]</td>
						<td class="ver-mid" ng-if="btn_display == 2">[[item.name]]br>([[item.tutor_id_format]]) </td>
						<td class="ver-mid" ng-if="btn_display == 1">[[item.name]]br>([[item.tutee_id_format]]) </td>
						<td class="ver-mid">[[item.status]]</td>
						<td class="ver-mid" ng-if="btn_display==1">
							[[ item.status == "Not scheduled" ? 'Waiting for action' : '']]
							[[ item.status == "Requested" ? 'Action Required' : '']]
							[[ item.status == "Need Confirmation" ? 'Waiting for action' : '']]
							[[ item.status == "Declined" ? 'No Action needed' : '']]
							[[ item.status == "Unscheduled" ? 'No Action needed' : '']]
							[[ item.status == "Confirmed" ? item.action1 == "Leave a feedback" ? 'Action Required':'No Action needed':'']]
							[[ item.status == "In Problem" ? 'Action Required' : '']]
							[[ item.status == "Refunded" ? 'No Action needed' : '']]
							[[ item.status == "Rescheduled" ? 'Action Required' : '']]
							[[ item.status == "Approved / Upcoming" ? 'No Action needed' : '']]
							<button class="btn-approve" ng-if="item.new_message" ng-click="clickMessage(item.rvid)">  
									[[ item.new_message ]]
							</button>	
						</td>
						<td class="ver-mid" ng-if="btn_display == 2">
							[[ item.status == "Not scheduled" ? 'Action Required' : '']]
							[[ item.status == "Requested" ? 'Waiting for action' : '']]
							[[ item.status == "Need Confirmation" ? 'Action Required' : '']]
							[[ item.status == "Declined" ? 'No Action needed' : '']]
							[[ item.status == "Unscheduled" ? 'Action Required' : '']]
							[[ item.status == "Confirmed" ? 'No Action needed' : '']]
							[[ item.status == "In Problem" ? 'Action Required' : '']]
							[[ item.status == "Refunded" ? 'No Action needed' : '']]
							[[ item.status == "Rescheduled" ? 'Waiting for action' : '']]
							[[ item.status == "Approved / Upcoming" ? 'No Action needed' : '']]
							<button class="btn-approve" ng-if="item.new_message" ng-click="clickMessage(item.rvid)">  
									[[ item.new_message ]]
							</button>	
						</td> 
						<td class="ver-mid">
							<div class="div-approve" ng-if="item.action1 && btn_display == 1">
								<button class="btn-approve" ng-click="clickBtnAction(item.action1, null, item);" >  
									[[ item.action1 ]]
								</button>
							</div>
							<div class="div-decline" ng-if="item.action2  && btn_display == 1">
								<button class="btn-approve" ng-click="clickBtnAction(item.action2, null, item);">  
									[[ item.action2 ]]
								</button>
							</div>
							<div class="div-approve" ng-if="item.action1 && btn_display == 2">
								<button class="btn-approve" ng-click="clickBtnAction(item.action1, null, item);" >  
									[[ item.action1 ]]
								</button>
							</div>
							<div class="div-decline" ng-if="item.action2  && btn_display == 2">
								<button class="btn-approve" ng-click="clickBtnAction(item.action2, null, item);">  
									[[ item.action2 ]]
								</button>
							</div>
						</td-->
						
						<!--
						<td class="ver-mid"
							ng-switch-when="Requested" ng-if="btn_display == 1">
							<button class="btn btn-info btn-width" ng-click="commitResev('Approve', item.rvid)">Approve</button>
							<div style="padding:3px;"></div>
							<button class="btn btn-warning btn-width" ng-click="commitResev('Decline', item.rvid)">Decline</button>
						</td>
						<td class="ver-mid" ng-switch-when="Not scheduled" ng-if="btn_display == 1"></td>
						<td class="ver-mid" ng-switch-when="Not scheduled" ng-if="btn_display == 2">
							<button class="btn btn-info btn-width" ng-click="commitResev('Not scheduled', item.rvid)">Schedule</button></td>
						<td class="ver-mid" ng-switch-when="Requested" ng-if="btn_display == 2"></td>
						<td class="ver-mid" ng-switch-when="Need Confirmation" ng-if="btn_display == 2">
							<button class="btn btn-info btn-width" ng-click="commitResev('Confirm', item.rvid)">Confirm</button>
							<div style="padding:3px;"></div>
							<button class="btn btn-warning btn-width" ng-click="commitResev('Cancel', item.rvid)">Cancel</button></td>
						 -->
					</tr>
					<tr style="">
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="page-bottom" ng-if="rv_data.pgGroup.length != 1">
		<nav>
		  <ul class="pagination pagination-sm">
		    <li ng-class="{ 'disabled' : rv_data.page == 1 }">
		      <a ng-if="rv_data.page != 1" ng-click="statFilter( rv_data.page - 1 );" aria-label="Previous">
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="rv_data.page == 1" >
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
		      </a>
		    </li>
		    <li ng-repeat="page in rv_data.pgGroup" ng-class="{ 'active' : rv_data.page == page }">
		    	<a ng-click="statFilter(page); _search_type='stat'">[[ page ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : rv_data.page == rv_data.last_page }">
		      <a ng-click="statFilter( rv_data.page + 1)" aria-label="Next" ng-if="rv_data.page != rv_data.last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="rv_data.page == rv_data.last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>

		<div class="mobile-row">
			<form role="form">
				<div class="form-group mobile-divide">
					<select class="form-control" id="sel1" ng-model="selected_stat2" ng-init="selected_stat2='All'" ng-change="statFilter(1); _search_type='stat'">
						<option>{% trans "All" %}</option>
					    <option>{% trans "None" %}</option>
					    <option>{% trans "Requested" %}</option>
						<option>{% trans "Approved/Upcoming" %}</option>
						<option>{% trans "Problem reported" %}</option>
						<option>{% trans "In dispute" %}</option>
						<option>{% trans "In progress" %}</option>
						<option ng-if="display==2">{% trans "Need confirmation" %}</option>
						<option>{% trans "Confirmed" %}</option>
						<option>{% trans "Canceled" %}</option>
						<option>{% trans "Refunded" %}</option>
						<option>{% trans "Expired" %}</option>
					</select>
				</div>
			</form>
		</div>
		<div class="mobile-row row-table" ng-switch on="item.status" ng-repeat="item in rv_list | orderBy: ordering">
			
			<table class="table table-responsive table-bordered table-hover">
				<tr><td colspan="4">
				[[ item.lesson_number ]]
				</td></tr>
				<tr>
					<td class="col-xs-2 col-left">{% trans "Lesson name" %}</td><td class="col-xs-4 col-right">[[item.lesson_title]]</td>
					<td ng-if="display==1" class="col-xs-2 col-left">{% trans "Tutee" %}</td>
					<td ng-if="display==2" class="col-xs-2 col-left">{% trans "Tutor" %}</td><td class="col-xs-4 col-right">[[item.name]]</td>
				</tr>
				<tr>
					<td class="col-xs-2 col-left">{% trans "Order" %}</td><td class="col-xs-4 col-right" ng-if="item.orders == 1">S</td><td class="col-xs-4 col-right" ng-if="item.orders != 1">[[item.order]] / [[item.orders]]</td>	
					<td class="col-xs-2 col-left">{% trans "Status" %}</td><td class="col-xs-4 col-right">[[item.status]]</td>
				</tr>
				<tr>
					<td class="col-xs-2 col-left">{% trans "Date" %}</td><td class="col-xs-4 col-right" ng-if="item.date">[[item.date]]</td><td class="col-xs-4 col-right" ng-if="!item.date">-</td>
					<td class="col-xs-2 col-left">{% trans "Time" %}</td><td class="col-xs-4 col-right" ng-if="item.date">[[item.time]]</td><td class="col-xs-4 col-right" ng-if="!item.time">-</td>
				</tr>
				<tr>
					<td class="col-xs-2 col-left">{% trans "Duration" %}</td><td class="col-xs-4 col-right">[[item.duration]]</td>
					<td class="col-xs-2 col-left">{% trans "Action" %}</td>
					<td class="col-xs-4 col-right"
						ng-switch-when="Requested" ng-if="btn_display == 1">
						<button class="btn btn-info btn-width" ng-click="commitResev('Approve', item.rvid)">{% trans "Approve" %}</button>
						<button class="btn btn-warning btn-width" ng-click="commitResev('Decline', item.rvid)">{% trans "Decline" %}</button>
					</td>
					<td class="col-xs-4 col-right" ng-switch-when="Not scheduled" ng-if="btn_display == 1"></td>
					<td class="col-xs-4 col-right" ng-switch-when="Not scheduled" ng-if="btn_display == 2">
						<button class="btn btn-info btn-width">{% trans "Schedule" %}</button></td>
					<td class="col-xs-4 col-right" ng-switch-when="Requested" ng-if="btn_display == 2"></td>
					<td class="col-xs-4 col-right" ng-switch-when="Need Confirmation" ng-if="btn_display == 2">
						<button class="btn btn-info btn-width" ng-click="commitResev('Confirm', item.rvid)">{% trans "Confirm" %}</button>
						<button class="btn btn-warning btn-width" ng-click="commitResev('Cancel', item.rvid)">{% trans "Cancel" %}</button></td>
					<td ng-switch-default></td>
				</tr>
			</table>
			
			<div id="confirm_dialog" title="confirmation">
				<div class="dialog-content">{% trans "Please enter your password again for confirmation." %}</div>
				<div>{% trans "You cannot reverse your decision after this confirmation." %}</div>
				<div class="input-password">{% trans "password" %}:<input id="dialog_pwd" type="password"></div>
				<div class="error-text"></div>
			</div>
		</div>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>