<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'css/tutoring/reservation_list.css' %}" />
<!-- not used 
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 -->

		<div class="row" style="padding: 20px 20px;">
			<form role="form">
				<div class="form-group top-status" style="width: 100%; height: 40px;">
					<select class="form-control" style="height: 40px; float: left; width:200px;" id="sel1" ng-model="selected_stat" ng-change="statFilter(1); _search_type='stat' ">
						<option value="All">{% trans "All" %}</option>
					    <option value="In progress">{% trans "In progress" %}</option>
					    <option value="Completed" >{% trans "Completed" %}</option>
					    <option value="Refunded">{% trans "Refunded" %}</option>
					    <option value="Expired">{% trans "Expired" %}</option>
					</select>
					<div class="input-group" style="height: 40px; float: right; width:200px;">
				      <input type="text" id="search_name" class="form-control" placeholder="Username" style="border-right-width: 2px; height: 40px;">
				      <span class="input-group-btn glyphicon glyphicon-search" ng-click="searchName(); _search_type='name'">
				        <!--  button class="btn btn-default" type="button">1</button -->
				        <span class="btn btn-default glyphicon glyphicon-search" style="padding-top:10px; top:-1px; height: 40px; border-left-style: none;"> </span>
				      </span>
				    </div><!-- /input-group -->
				</div>
				<div style="clear: both;"></div>
			</form>
		</div>
		<div class="lesson-status-row" style="">
			<table class="table table-responsive table-bordered table-hover" style=" border: none; overflow: hidden;">
				<thead class="thead-default rv-tb-head">
				</thead>
				<tbody>
					<tr ng-repeat="item in rv_list | orderBy: ordering" ng-switch on="item.status" style="font-size: 11px; height:98px !important; text-align: center; ">
					
						<td style="width: 50%; line-height: 25px; border:none; vertical-align: middle; cursor:pointer;" class="rv-list" ng-click="goUrl(''+[[btn_display == 15 ? '/tutorlessons/package/'+item.pkg_id : '/tuteelessons/package/'+item.pkg_id ]])">
						<!-- <a href="[[btn_display == 1 ? '/tutorlessons/lesson/'+item.pkg_id : '/tuteelessons/lesson/'+item.pkg_id ]]" style="text-decoration: none;"> -->
							<table>
								<tr><td style="text-align: left; font-size: 14px; color: #333333; font-weight: 600;">[[item.package_title]]</td></tr>
								<tr><td style="text-align: left; font-size: 12px; color: #333333;">Not Scheduled: [[item.status.Not_scheduled]] &nbsp;&nbsp;&nbsp; Requested: [[item.status.Requested]] &nbsp;&nbsp;&nbsp; Scheduled: [[item.status.Scheduled]] </td></tr>
								<tr><td style="text-align: left; font-size: 12px; color: #333333;">[[item.package_number]] &nbsp;&nbsp;&nbsp; [[item.orders]] Lessons  &nbsp;&nbsp;&nbsp; <span style="color: #000000; font-weight: 600;"> Expiration date : [[item.exp_data]] </span></td></tr>
							</table>
						<!-- </a> -->
						</td>
						
						
						<td style="width: 20%; vertical-align:middle; text-align: left; line-height: 25px; border:none; overflow: hidden; cursor:pointer;" class="rv-list" ng-click="goUrl(''+[[btn_display == 15 ? '/user/'+item.tutee_id : '/tutor/'+item.tutor_id ]])">
						<!-- <a href="[[btn_display == 1 ? '/user/'+item.tutee_id : '/user/'+item.tutor_id ]]" style="text-decoration: none;"> -->
							<table>
								<tr>
									<td style="text-align: left;" rowspan="2">
										<img style="width:50px;height:50px;border-radius:15px;" ng-if="btn_display == 16" ng-src="item.tutor_image" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"'>
										<img style="width:50px;height:50px;border-radius:15px;" ng-if="btn_display == 15" ng-src="item.tutee_image" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"'>
									</td>
									<td>
										<span class="" ng-if="btn_display == 16" style="margin-left: 10px; font-size:13px; color: #037485;">[[item.name]]</span>
										<span class="" ng-if="btn_display == 15" style="margin-left: 10px; font-size:13px; color: #037485;">[[item.name]]</span>
									</td>
								</tr>
								<tr>
									<td style="text-align: left; vertical-align: middle;">
										<span class="span-inline-block" ng-if="btn_display == 16" style="margin-left: 11px; color: #333333;">{% trans "Tutor" %}</span>
										<span class="span-inline-block" ng-if="btn_display == 15" style="margin-left: 11px; color: #333333;">{% trans "Tutee" %}</span>
									</td>
								</tr>
							</table>
						<!-- </a> -->
						</td>
						<td style="width: 30%; vertical-align:middle; border:none; line-height:20px; overflow: hidden; cursor:pointer;" class="rv-list" align="right" ng-click="goUrl(''+[[btn_display == 15 ? '/tutorlessons/package/'+item.pkg_id : '/tuteelessons/package/'+item.pkg_id ]])">
							<!-- <a href="[[btn_display == 1 ? '/tutorlessons/lesson/'+item.pkg_id : '/tuteelessons/lesson/'+item.pkg_id ]]" style="text-decoration: none;"> -->
							<table style="">
								<tr >
									<td>
										<span ng-class="item.pkg_status == 'In progress' ? 'orange-status' : item.pkg_status == 'Completed' ? 'blue-status' : item.pkg_status == 'Refunded' ? 'green-status' : 'grey-status' ">[[item.pkg_status]]</span>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="page-bottom" ng-if="rv_data.pgGroup.length != 1">
		<nav>
		  <ul class="pagination pagination-sm">
		    <li ng-class="{ 'disabled' : rv_data.page == 1 }">
		      <a ng-if="rv_data.page != 1" ng-click="statFilter( rv_data.page - 1 );" aria-label="Previous">
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="rv_data.page == 1" >
		      	<img src="{% static 'img/tutor/chevron_l.png' %}" class="page-prev" alt="" />		    
		      </a>
		    </li>
		    <li ng-repeat="page in rv_data.pgGroup" ng-class="{ 'active' : rv_data.page == page }">
		    	<a ng-click="statFilter(page); _search_type='stat'">[[ page ]]</a>
		    </li>
		    <li ng-class="{ 'disabled' : rv_data.page == rv_data.last_page }">
		      <a ng-click="statFilter( rv_data.page + 1)" aria-label="Next" ng-if="rv_data.page != rv_data.last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		      <a ng-if="rv_data.page == rv_data.last_page">
		        <img src="{% static 'img/tutor/chevron_r.png' %}" class="page-prev" alt="" />
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>