{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Lesson Problem" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}


<script>

</script>
<style>

.go-lesson-bt {
	float: right;
	padding: 5px;
	margin-right: 20px;
	border: 1px solid #00b5cb;
	cursor: pointer;
}
.details-wrapper{
	margin: auto;
	width: 1024px;
	height: 1200px;
	margin-top: 100px;
}
.div-row{
	padding: 10px;
	min-height: 100px;
	background: white;
	margin-top: 10px;
}
.div-row > div{
	margin-top: 10px;
}
.location{
	clear: both;
	margin-bottom: 20px;
	height: 40px;
	font-size: 13px;
	padding: 5px;
	padding-top: 15px;
}
.title{
	float:left;
	padding: 5px;
	font-size: 24px;
	margin: 10px 0;
	font-weight: 600;
}
.sub-title{
	font-size: 17px;
	font-weight: 600;
}
.under-line{
	border-bottom: 1px solid;
}
.message{
	height: 173px;
}
.time{
	color: red;
}
.txt-area{
	width: 100%;
	height: 150px;
}
.table{
	display: table;
	text-align: center;
}
.table-th{
	background: #F0F0F0;
	line-height: 30px;
}
.table-row{
	display: table-row;
	margin: auto;
}
.table-col{
	display: table-cell;
	border: 1px solid #999999;
	height: 16px;
}
.table-middle{
	line-height: 30px;
	vertical-align: middle;
}
.div-accept{
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #999999;
}
.div-accept-left{
	float: left;
	padding-left: 80px;
	width: 200px;
	height: 100px;
}
.div-accept-right{
}
.div-decline{
	width: 100%;
	height: 100px;
}
.div-decline-left{
	float: left;
	width: 200px;
	height: 100px;
	padding-left: 80px;
}
.div-decline-right{
}
.btn-accept, .btn-decline{
	border: none;
	width: 100px;
	height: 30px;
	color: white;
}
.btn-accept{
	background-color: #f0787a;
}
.btn-decline{
	background-color: #999999;
}
.history-content{
	padding-left: 20px;
	text-align: left;
}
.div-graph{
	line-height: 65px;
}
.user-image{
	width: 50px;
	border-radius: 50%;
}
.name{
	margin-left: 20px;
	font-weight: 900;
}
.date{
	margin-left: 20px;
	color: #999999;
}
/*Modal*/
.ratings > img{
	cursor: pointer;
}
.star1{
	margin-left: 10px;
}
.confirm-area{
	margin-top: 20px;
	width: 100%;
	height: 150px;
}
#myModal, #myModal2{
	z-index: 100500;
	top: calc( 50% - 200px );
}
.fade{
	z-index: 100400;
}
.modal-footer{
	text-align: center;
}
.txt-len{
	text-align: right;
}
.detail-image{
	width: 300px;
	height: 300px;
}
.status-row {
	border: 1px solid #999999;
	padding: 10px 20px;
}
.status-id {
	float: left;
}
.status-name-orange {
	background-color: #f47f51;
	padding: 0px 20px;
	margin-left: 20px;
	color: #ffffff;
}
.div-profile-img {
	float: left;
	margin-right: 10px;
}
.profile-img{
	width: 65px;
	height: 65px;
	border-radius: 15px;
}
.problem-list-blue {
	width: 700px;
	padding: 10px 0px 10px 15px;
	border: 1px solid #00b5cb;
	border-radius: 10px;
}
.problem-list-grey {
	width: 700px;
	padding: 10px 0px 10px 15px;
	border: 1px solid #999999;
	border-radius: 10px;
}
.div-action-button{
	float: left;
	padding: 15px;
}
.blue-button {
	width: 150px;
	background-color: #00b5cb;
	color: white;
	border: none;
	border-radius: 3px;
}
.grey-button {
	width: 150px;
	background-color: #afafaf;
	color: white;
	border: none;
	border-radius: 3px;
}






</style>

<div class="details-wrapper" ng-app="problems_list" ng-controller="problems_listCtrl" ng-init="data={{data}};init();">
	<div class="location" ng-if="list.is_tutor==1">
		{% trans "Lessons" %} > {% trans "As a Tutor" %} > <span class="location-hover"><a href="/tutorlessons/">{% trans "Lesson Status" %}</a></span> > <span class="location-hover"><a href="/tutorlessons/lesson/[[ list.rvid ]]/">[[ list.reservation_number ]]</a></span>
	</div>
	<div class="location" ng-if="list.is_tutor==0">
		{% trans "Lessons" %} > {% trans "As a Tutee" %} > <span class="location-hover"><a href="/tuteelessons/">{% trans "Lesson Status" %}</a></span> > <span class="location-hover"><a href="/tuteelessons/lesson/[[ list.rvid ]]/">[[ list.reservation_number ]]</a></span>
	</div>
	
	<div class="title">
		{% trans "Lesson Problem" %}
	</div>
	<span class="go-lesson-bt f-blue" ng-click="goBack();">{% blocktrans %} Go back to<br>Lesson Detail {% endblocktrans %}</span>
	<div class="col-md-12" style="padding: 0 5px;">
		<div class="div-row">
			<div class="sub-title">{% trans "Status" %}</div>
			<div class="status-row">
				<div class="status-id">Lesson ID : [[list.reservation_number]]</div>
				<span class="status-name-orange">[[list.status_name]]</span>
				<!--  tutor  -->
				<div ng-if="list.is_tutor==1">
					<div ng-bind-html="[[statusString]] | nl2p"></div>
				</div>
				<!--  tutee -->
				<div ng-if="list.is_tutor==0">
					<div ng-bind-html="[[statusString]] | nl2p"></div>
				</div>

				<div class="div-action">
					<div class="div-action-button" ng-if="list.action1 && list.is_tutor==1">
						<button ng-class="list.status == 2 || (list.status == 3 && list.status_type == 'Waiting for action') || (list.status == 4 && list.status_type == 'Waiting for action') ? 'btn-approve grey-button' : 'btn-approve blue-button' " ng-click="clickBtnAction(list.action1)" >  
							[[ list.action1 ]]
						</button>
					</div>
					<div class="div-action-button" ng-if="list.action2  && list.is_tutor==1">
						<button class="btn-approve grey-button" ng-click="clickBtnAction(list.action2)">  
							[[ list.action2 ]]
						</button>
					</div>
					<div class="div-action-button" ng-if="list.action1 && list.is_tutor==0">
						<button ng-class="(list.status == 3 && list.status_type == 'Action required') || (list.status == 4 && list.status_type == 'Action required') || list.status == 6 ? 'btn-approve blue-button' : 'btn-approve grey-button' " ng-click="clickBtnAction(list.action1)" ng-if="list.action1 && list.status ==1 && delta > 0">  
							[[ list.action1 ]]
						</button>
					</div>
					<div class="div-action-button" ng-if="list.action2  && list.is_tutor==0">
						<button class="btn-approve grey-button" ng-click="clickBtnAction(list.action2)">  
							[[ list.action2 ]]
						</button>
					</div>
				</div>
 			</div>
		</div>

		<div class="div-row">
			<div class="sub-title">{% trans "Problem Report" %}</div>
			<div ng-class="$index == 0 ? 'problem-list-blue' : 'problem-list-grey' " ng-repeat="problem in problems track by $index">
				<div class="problem-title" ng-if="list.tutor_id == problem.reportor && problems.length == $index + 1">Tutor [[problem.reportor_name]] has stated that there was a problem.</div>
				<div class="problem-title" ng-if="list.tutor_id != problem.reportor && problems.length == $index + 1">Tutee [[problem.reportor_name]] has stated that there was a problem</div>
				<div class="problem-title" ng-if="list.tutor_id == problem.reportor && problems.length > $index + 1">Tutor [[problem.reportor_name]] declined the tutee's request.</div>
				<div class="problem-title" ng-if="list.tutor_id != problem.reportor && problems.length > $index + 1">Tutee [[problem.reportor_name]] declined the tutor's request</div>
				<div class="div-profile-img"  >
					<img class="profile-img user-none-boxing" src="/static/img/upload/profile/[[problem.reportor_image]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" >
				</div>
				<div class="f-bblue">{% trans "Problem" %}: <span class="f-black">[[problem.claim_text]]</span> </div>
				<div class="f-bblue">{% trans "Request" %}: <span class="f-black">[[problem.resolve_type]]</span></div>
				<div class="f-bblue">{% trans "Comment" %}: <span class="f-black">[[problem.claim_detail]]</span></div>
				<div>
					<img class="detail-image" ng-if="problem.problem_image" src="/static/img/upload/problem/[[problem_image]]">
				</div>
			</div>
		</div>

	</div>
	
</div>

<script src="{% static 'js/tutoring/tutoring_details_problem_list.js' %}"></script>

{% endblock %}
