{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}
	{% if title == 1 %}
		{% trans "Tutor" %} : {% trans "Package Details" %} | {% trans "Tellpin" %}
	{% else %}
		{% trans "Tutee" %} : {% trans "Package Details" %} | {% trans "Tellpin" %}
	{% endif %}
{% endblock %}
{% load staticfiles %}
{% block content %}


<script>

</script>
<style>
.base{
/*	background: #F0F0F0;*/
}
.details-wrapper{
	margin: auto;
	width: 1024px;
	min-height: 1500px;
	margin-top: 100px;
	background: white;
}
.div-row{
	padding: 10px;
	min-height: 100px;
	background: white;
}
.div-row2{
	padding: 10px;
    background: white;
    margin-top: 10px;
}
.div-row3{
	padding: 10px;
	background: white;
	margin-top: 10px;
	height: 200px;
}
.div-row > div{
	margin-top: 10px;
}
.status-row {
	border: 3px solid #999999;
	border-radius: 10px;
	padding: 10px 20px;
}
.status-id {
	float: left;
}

.status-name-green {
	background-color: #aadf1f;
	padding: 3px 10px;
	margin-left: 20px;
	color: #ffffff;
	border-radius: 3px;
}
.status-name-orange {
	background-color: #f47f51;
	padding: 3px 10px;
	margin-left: 20px;
	color: #ffffff;
	border-radius: 3px;
}
.status-name-blue {
	background-color: #00b5cb;
	padding: 3px 10px;
	margin-left: 20px;
	color: #ffffff;
	border-radius: 3px;
}
.status-name-grey {
	background-color: #afafaf;
	padding: 3px 10px;
	margin-left: 20px;
	color: #ffffff;
	border-radius: 3px;
}
.location{
	clear: both;
	margin-bottom: 20px;
	height: 40px;
	font-size: 13px;
	padding: 5px;
	padding-top: 15px;
}
.location-hover{
}
.location-hover:hover{
	cursor: pointer;
}
.title{
	padding: 5px;
	font-size: 24px;
	margin: 10px 0;
	font-weight: 600;
}
.sub-title{
	font-size: 17px;
	font-weight: 600;
}
.under-line{
	border-bottom: 1px solid;
}
.message{
	min-height: 220px;
	max-height: 770px;
}
.send-message{
	height: 150px;
}
.btn-send-message{
	margin-top: 5px;
	float: right;
}
.time{
	color: red;
}
.txt-area{
	width: 100%;
	height: 100px;
}
.table{
	display: table;
	text-align: center;
}
.table-th{
	background: #F0F0F0;
	line-height: 30px;
}
.table-row{
	display: table-row;
	margin: auto;
}
.table-col{
	display: table-cell;
	border: 1px solid #999999;
	height: 16px;
}
.table-middle{
	line-height: 30px;
	vertical-align: middle;
}
.div-approve{
	padding: 5px;
	border-bottom: thin solid #afafaf;
}
.div-decline{
	padding: 5px;
}

.blue-button {
	background-color: #00b5cb;
	width: 70%;
	color: white;
	border: none;
}

.grey-button {
	background-color: #afafaf;
	width: 70%;
	color: white;
	border: none;
}

.history-time, .history-graph, .history-content{
	border: none;
}
.history-time{
	width: 20%;
}
.history-graph{
	width: 10%;
	background-image: url("/static/img/graph_icon.png");
	background-repeat: no-repeat;
	background-position: center;
	
}
.history-content{
	padding-left: 20px;
	text-align: left;
}
.div-graph{
	line-height: 65px;
}

/*Modal*/
.ratings > img{
	cursor: pointer;
}
.star1{
	margin-left: 10px;
}
.confirm-area{
	margin-top: 20px;
	width: 100%;
	height: 150px;
}
.confirm-area2{
	margin-top: 20px;
	width: 100%;
	height: 150px;
}
#myModal, #myModal2{
	z-index: 100500;
	top: calc( 50% - 200px );
}
.fade{
	z-index: 100400;
}
.modal-footer{
	text-align: center;
}
.txt-len{
	text-align: right;
}
.txt-len2{
	text-align: right;
}
/*Message*/
.message-btn {
	width: 100% !important;
}
#messageModal textarea {
	resize: none;
}
.details-message-content {
	border: 1px solid rgb( 169, 169, 169 );
	min-height: 200px;
	min-height: 290px !important;
	max-height: 770px !important;
	overflow-y: auto;
	overflow-x: hidden;
}
.left-arrow_box {
	position: relative;
	/* background: rgb( 133, 239, 198); 
	border: 4px solid rgb( 133, 239, 198);*/
	background: #ccf2ff;
	border-color: #ccf2ff;
	margin-right: 8px;
}
.left-arrow_box:after, .left-arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.left-arrow_box:after {
	border-color: rgba(133, 239, 198, 0);
	/* border-left-color: rgb( 133, 239, 198); */
	border-left-color: #ccf2ff;
	/* border-color: #ccf2ff;
	border-left-color: #ccf2ff; */
	border-width: 5px;
	margin-top: -5px;
}
.left-arrow_box:before {
	border-color: rgba(133, 239, 198, 0);
	/* border-left-color: rgb( 133, 239, 198); */
	border-left-color: #ccf2ff;
	/* border-color: #ccf2ff;
	border-left-color: #ccf2ff; */
	border-width: 8px;
	margin-top: -8px;
}
.right-arrow_box, .left-arrow_box {
	border-radius: 10px;
	display: inline-block;
	max-width: 200px;
	padding: 0 8px 0 8px;
}
.right-arrow_box {
	position: relative;
	/* background: rgb( 183, 237, 253 );
	border: 4px solid rgb( 183, 237, 253 ); */
	background: #e9e9e9;
	border: 4px solid #e9e9e9;
	margin-left: 8px;
}
.right-arrow_box:after, .right-arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.right-arrow_box:after {
	border-color: rgba(183, 237, 253, 0);
	/* border-right-color: rgb( 183, 237, 253 ); */
	border-right-color: #e9e9e9;
	border-width: 5px;
	margin-top: -5px;
}
.right-arrow_box:before {
	border-color: rgba(183, 237, 253, 0);
/* 	border-right-color: rgb( 183, 237, 253 ); */
	border-right-color: #e9e9e9;
	border-width: 8px;
	margin-top: -8px;
}
.message-time {
	display: inline-block;
	font-size: 12px;
	background-color: rgb( 240, 240, 240 );
	margin-left: -4px;
	margin-right: -4px;
	padding: 0px 4px 0px 4px;
	border-radius: 5px;
}
.message-row-left {
	text-align: right;
	margin-bottom: 10px;
}
.message-row-right {
	text-align: left;
	margin-bottom: 10px;
}

#friendModal .message-modal {
	top: 100px;
}
.messageValid {
	color: red;
	font-size: 12px;
}
.message-day {
	text-align: center;
}
.day-line {
	margin-top: -10px;
	border-top: 1px solid #e7e7e7;
}
.day-content {
	background-color: #fff;
	padding: 0px 10px 0px 10px;
}
.any-problem{
	float: right;
	margin-right: 10px;
	background-color: #999999;
	width:120px;
	color: white;
	border: none;
	outline: none;
	font-size: 14px;
}
.profile-img{
	width: 65px;
	height: 65px;
	border-radius: 15px;
}

.div-profile-content{
	float: left;
	height: 80px;
	border-left: 1px solid;
	margin-left: 10px;
	padding-left: 10px;
}
.no-padding-bottom{
	padding-bottom: 0px;
}
.no-padding-top{
	padding-top: 0px;
}

.lesson-msg {
    word-break: break-all;
}

.course {
	float: left;
}

.course-img {
	float: right;
	cursor: pointer;
	border-left: 1px solid #afafaf;
	padding-left: 10px;
	margin-bottom: 3px;
}
.div-profile-img {
	float: left;
	margin-right: 10px;
}
.div-profile-username {
	float: right;
	margin-top: 10px;
	font-size: 16px;
	color: #037485;
}
.course-title {
	font-size: 23px;
}

.course-pkg {
	width: 70px;
	height: 20px;
	float: left;
	margin: 0px 10px 0px 185px;
	background-color: #037485;
	padding: 3px 0px 0px 14px;
	color: #ffffff;
	font-size: 11px;
}

.lesson-type {
	float: left;
	margin-right: 20px;
}

.lesson-date {
	float: left;
	margin-right: 20px;
	text-align: center;
}

.lesson-duration {
	float: left;
	text-align: center;
	margin-right: 15px;
}

.lesson-price {
	float: left;
	text-align: center;
	margin-right: 15px;
	border-right: 1px solid #afafaf;
	padding-right: 10px;
}

.lesson-orders {
	float: left;
	text-align: center;
	margin-right: 15px;
}

.messenger {
	float: left;
	text-align: center;
	margin-right: 20px;
}
.messenger img {
	width: 24px;
	height: 24px;
}
.messenger-id {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
}
.style-underline {
	border-bottom: 1px solid #afafaf;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.pkg-list {
	border-top: 1px solid #afafaf;
}

.weight-600 {
	font-weight: 600
}

.lesson_order {
	float: left;
	margin-right: 20px;
	padding: 20px;
}

.lesson_status {
	float: right;
	margin: 20px 20px 0px 0px;
}

.start_date {
	margin-top: 20px;
	padding-bottom: 10px;
}

.lesson-comment {
	float: left;
	margin-right: 10px;
	padding-top: 20px;
}
.bt-schedule {
	float: left;
	width: 130px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	margin-top: 15px;
}

.bt-refund {
	float: right;
	color: #037485;
	cursor: pointer;
}

.current-balance {
	margin-bottom: 10px;
}

.after-balance {
	margin-top: 5px;
	margin-bottom: 10px;
}

.desc-balance {
	margin-top: 5px;
	margin-bottom: 20px;
}

.password-input {
	float: left;
	margin-right: 10px;
}
.error-span{
	height: 30px;
	line-height: 20px;
	display: block;
	color: red;
}

.forgot-pw {
	color: #037485;
	cursor: pointer;
	margin: 7px 0px 0px 5px;
}
</style>

<div class="details-wrapper" ng-controller="pkgdetailsCtrl" ng-init="init( {{data}} );">
	
	<div class="location" ng-if="list.is_tutor==1">
		{% trans "As a Tutor" %} > <span class="location-hover"><a href="/tutorlessons/package/">{% trans "Package List" %}</a></span> > <span>[[ list.package_id ]]</a></span>
	</div>
	<div class="location" ng-if="list.is_tutor==0">
		{% trans "As a Tutee" %} > <span class="location-hover"><a href="/tuteelessons/package/">{% trans "Package List" %}</a></span> > <span>[[ list.package_id ]]</a></span>
	</div>
	<div class="title">
		{% trans "Package Detail" %}
	</div>
	<div>
		<div class="col-md-8" style="padding: 0 5px;">
			<div class="div-row">
				<span style="font-size: 13px; color: #646464;">{% trans "Package Id" %}</span> : <span style="font-size: 13px; color: #333333; font-weight: 600;">[[ list.package_id ]]</span>
				<span ng-class=" list.pkg_status == 'In progress' ? 'status-name-orange' : list.pkg_status == 'Completed' ? 'status-name-blue' : list.pkg_status == 'Refunded' ? 'status-name-green' : 'status-name-grey' ">[[list.pkg_status]]</span>
				<div class="status-row">
					<!--  tutor  -->
					<div ng-if="list.is_tutor==1">
					{% blocktrans %}[[ list.pkg_status_string ]]{% endblocktrans %}
					</div>
					<!--  tutee -->
					<div ng-if="list.is_tutor==0">
					{% blocktrans %}[[ list.pkg_status_string ]]{% endblocktrans %}
					</div>
				</div>
			</div>
			<div class="div-row">
				<div class="sub-title">
				{% trans "Info" %}
				</div>
				<div class="status-row">
					<div class="info-course style-underline" >
						<div class="course">
							<div class="f13 f-gray-64">{% trans "course" %}</div>
							<div class="course-title">[[list.lesson_name]]</div>
						</div>
						<div class="course-img" ng-if="list.is_tutor==1" ng-click="goURL('/user/' + [[list.tutee_id]])">
							<div class="div-profile-img"  >
								<img class="profile-img user-none-boxing" src="[[list.tutee_img]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" >
							</div>
							<div class="div-profile-username">
								[[list.tutee_name]]
							</div>
							<div class="f13 f-gray-64">{% trans "tutee" %}</div>
						</div>
						<div class="course-img" ng-if="list.is_tutor==0" ng-click="goURL('/tutor/' + [[list.tutor_id]])">
							<div class="div-profile-img">
								<img class="profile-img user-none-boxing" src="[[list.tutor_img]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" >
							</div>
							<div class="div-profile-username">
								[[list.tutor_name]]
							</div>
							<div class="f-gray-64 f13">{% trans "tutor" %}</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="info-lesson">
						<div class="lesson-duration">
							<div class="f16 weight-600">[[list.duration]]</div>
							<div class="f13 f-gray-64">{% trans "mins/lesson" %}</div>
						</div>
						<div class="lesson-orders">
							<div class="f16 weight-600">[[list.orders]]</div>
							<div class="f13 f-gray-64">{% trans "Lessons" %}</div>
						</div>
						<div class="lesson-price">
							<div class="f16 weight-600">[[list.pkg_price]] TC</div>
							<div class="f13 f-gray-64">{% trans "Package price" %}</div>
						</div>
						<div class="messenger">
							<div>
								<img ng-if="list.tool_id == 1" src="/static/img/tutor/icon_skype.png" >
								<img ng-if="list.tool_id == 2" src="/static/img/tutor/icon_hangout.png" >
								<img ng-if="list.tool_id == 3" src="/static/img/tutor/icon_facetime.png" >
								<img ng-if="list.tool_id == 4" src="/static/img/tutor/icon_QQ.png" >
							</div>
							<div class="f13 f-gray-64">[[list.tool_name]]</div>
						</div>
						<div class="messenger">
							<div class="messenger-id f16 f-black weight-600">[[list.tutor_tool_id]]</div>
							<div class="messenger-id f13 f-gray-64">{% trans "Tutor's account" %}</div>
						</div>
						<div class="messenger">
							<div class="f16 f-black weight-600">[[list.tutee_tool_id]]</div>
							<div class="f13 f-gray-64">{% trans "Tutee's account" %}</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="div-row f16 weight-600">
				<span>{% trans "Schedule" %} : [[list.status.Scheduled]]</span> &nbsp;&nbsp;  <span>{% trans "Requested" %} : [[list.status.Requested]]</span> &nbsp;&nbsp; <span>{% trans "Not Scheduled" %} : [[list.status.Not_scheduled]]</span>
			</div>
			<div class="div-row">
				<div class="pkg-list" ng-repeat="pkg in list.pkg_list">
					<div class="lesson_order f16 weight-600">[[pkg.order]]</div><div class="lesson_status">[[pkg.lesson_status]]</div>
					<div class="start_date" ng-if="pkg.start_date">[[pkg.start_date]]</div>
					<div class="lesson-comment" ng-if="pkg.pkg_comment">[[pkg.pkg_comment]]</div><div class="bt-schedule blue-button" ng-if="pkg.reserve_schedule == 1 && list.is_tutor == 0" ng-click="clickBtnAction('Schedule', pkg.lesson_id );" >{% trans "Schedule Lesson" %}</div>
					<div class="lesson_id" ng-if="list.is_tutor == 1 && pkg.reservation_number" ng-click="goURL('/tutorlessons/lesson/'+[[pkg.lesson_id]])">{% trans "Lesson ID" %} : <span style="cursor: pointer; color: #037485; text-decoration: underline;">[[pkg.reservation_number]]</span></div>
					<div class="lesson_id" ng-if="list.is_tutor == 0 && pkg.reservation_number" ng-click="goURL('/tuteelessons/lesson/'+[[pkg.lesson_id]])">{% trans "Lesson ID" %} : <span style="cursor: pointer; color: #037485; text-decoration: underline;">[[pkg.reservation_number]]</span></div>
					<div class="clear"></div>
					<div ng-if="$index == list.orders -1" style="border-top: 1px solid #afafaf;"></div>
					
				</div>
			</div>
			<div class="div-row">
				<div class="bt-refund" ng-click="openModal( 'refund' );">{% trans "Issue a refund" %} &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 16px; height: 16px;" ng-click="goURL('/help/')" src="/static/img/tellpin_search/icon_help.png" ></div>
			</div>
<!-- 
			<div class="div-row">
				<div class="sub-title">
				{% trans "Feedback" %}
				</div>
				<div>
				{% trans "Tutor" %} : [[ list.feedback ]] <span class="f-gray-64">[[ list.feedback_date ]]</span>
				</div>
				<div>
				{% trans "Tutee" %} : <img ng-if="list.feedback2 != '-'" ng-src="[[ list.feedback2_rate == 0 ? '/static/img/tutor/icon_star_001.png' : list.feedback2_rate == 1 ? '/static/img/tutor/icon_star_003.png' : list.feedback2_rate == 2 ? '/static/img/tutor/icon_star_005.png' : list.feedback2_rate == 3 ? '/static/img/tutor/icon_star_007.png' : list.feedback2_rate == 4 ? '/static/img/tutor/icon_star_009.png' : list.feedback2_rate == 5 ? 'static/img/tutor/icon_star_011.png' : '' ]]">
				[[ list.feedback2 ]] <span class="f-gray-64">[[list.feedback2 != '-' ? list.feedback2_date : '']]</span>
				</div>
			</div>
 -->
			<div class="div-row ">
				<div class="sub-title">
				{% trans "History" %}
				</div>
				<div class="table div-graph">
					<div class="table-row" ng-repeat="his in list.pkg_histories">
						<div class="table-col history-time">
						[[ his.reg_date ]]
						</div>
						<div class="table-col history-graph">
						
						</div>
						<div class="table-col history-content">
						[[ his.comment ]]
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4" style="padding: 0 5px;">
			<div class="div-row2 no-padding-bottom">
				<div class="sub-title">{% trans "Message" %}</div>
			</div>
			<div class="">
				<div class="message-container scroll">
					<div class="messageModal-row div-row message no-padding-top">
						<div class="details-message-content" id="message" scroll="message">

							<div ng-repeat="i in message">
								<div class="message-day">
									<span class="day-content">[[ i.day ]]</span>
									<hr class="day-line" />
								</div>
								<div ng-repeat="j in i.message" id="message-row">
									<div class="message-row-left" ng-if="j.type == 'send'">
										<div class="message-time">
											[[ j.time ]]
										</div>
										<div class="left-arrow_box lesson-msg" style="text-align: left;">
											[[ j.message ]]
										</div>
									</div>
									<div class="message-row-right" ng-if="j.type == 'receive'">
										<div class="right-arrow_box lesson-msg" style="text-align: left;>
											[[ j.message ]]
										</div>
										<div class="message-time">
											[[ j.time ]]
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="messageModal-row div-row send-message" style="padding-top: 0;">
						<textarea class="txt-area" ng-model="messageModel" placeholder="Write a lesson message" style="resize: none;"></textarea>
						<span class="messageValid" ng-show="messageModel.length > messageLength">{% trans "Your message is over the 250 character limit" %}</span>
						<button type="button" class="btn btn-primary btn-send-message bg-blue" ng-click="sendMessage()">{% trans "Send" %}</button>
					</div>
					<!-- <div style="text-align: center; margin-top: 20px;">
						<button type="button" class="btn btn-primary" ng-click="sendMessage()">Send</button>					
					</div> -->
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal Confirm-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">{% trans "Please confirm that the lesson went well and leave a feedback." %}</h4>
	      </div>
	      <div class="modal-body">
	        <div class="ratings">
	        {% trans "Ratings" %} 
	        <img class="star1" ng-click="clickRatings(1)" src="{%static 'img/tutor/icon_star_full.png'%}">
	        <img class="star2" ng-click="clickRatings(2)" src="{%static 'img/tutor/icon_star_full.png'%}">
	        <img class="star3" ng-click="clickRatings(3)" src="{%static 'img/tutor/icon_star_full.png'%}">
	        <img class="star4" ng-click="clickRatings(4)" src="{%static 'img/tutor/icon_star_full.png'%}">
	        <img class="star5" ng-click="clickRatings(5)" src="{%static 'img/tutor/icon_star_full.png'%}">
	        </div>
	        <div>
	        	<textarea id="confirm_comment" class="confirm-area" maxlength="400" ng-keydown="checkLengthConfirmModal();" ng-keyup="checkLengthConfirmModal();"  placeholder="How was your lesson?"></textarea>
	        </div>
	        <div class="txt-len">
	        	0 / 400 {% trans "characters" %}
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" ng-click="clickBtnAction('Confirm', 1)">{% trans "Confirm" %}</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Modal Feedback -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">{% trans "Please leave a feedback for your tutee." %}</h4>
	      </div>
	      <div class="modal-body">
	        <div>
	        	<textarea id="feedback_comment" class="confirm-area2" maxlength="400" ng-keydown="checkLengthFeedbackModal();" ng-keyup="checkLengthFeedbackModal();">{% trans "Ex) He is fluent at Korean. It was surprising to see somebody who is very good at Korean. I tried to use complicated words to enrich his vocabulary. I hope it was helpful to him. I enjoyed our conversation. I look forward to our next sessions" %}</textarea>
	        </div>
	        <div class="txt-len2">
	        	0 / 400 {% trans "characters" %}
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" ng-click="clickBtnAction('Leave a feedback', 1)">{% trans "Confirm" %}</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal Refund -->
	<div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">{% trans "Issue a refund" %}</h4>
	      </div>
	      <div class="modal-body">
	        <div class="current-balance">
	        	<span style="font-weight: 600;">{% trans "Current" %}<br><br></span>
	        	{% trans "Available balance" %} : [[list.available_balance]] TC<br>
	        	{% trans "Pending income" %} : [[list.pending_balance]] TC<br>
	        	{% trans "Total balance" %} : [[list.total_balance]] TC
	        </div>
	        <div class="after-balance">
	        	<span style="font-weight: 600">{% trans "After refund" %}<br><br></span>
	        	{% trans "Available balance" %} : [[list.available_balance + list.pkg_price]] TC<br>
	        	{% trans "Pending income" %} : [[list.pending_balance - list.pkg_price]]  TC<br>
	        	{% trans "Total balance" %} : [[list.total_balance + list.pkg_price]] TC
	        </div>
	        <div class="desc-balance">
	        	{% trans "There'll be some changes in your tutor wallet ad above." %}<br>
	        	{% trans "Are you sure you want to issue a refund to your tutee?" %}<br>
	        	{% trans "If so, please re-enter your Tellpin password again for confirmation." %}<br>
	        	{% blocktrans %}Once you press "Issue a refund" button, you cannot undo the action.{% endblocktrans %}
	        </div>
	        <div class="password">
				<input class="password-input" id="password" name="password" type="password"></span><span class="error-span current-password-error"></span>
	        	<div class="forgot-pw">{% trans "Forgot?" %}</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn" ng-click="closeModal();">{% trans "Cancel" %}</button>
	        <button type="button" class="btn bg-blue" ng-click="checkPassword()">{% trans "Issue a refund" %}</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>

<script src="{% static 'js/tutoring/tutoring_pkg_details.js' %}"></script>

{% endblock %}
