{% load i18n %}
<meta charset="UTF-8" />
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/tutoring/tutoring_menu.css' %}" />


<nav class="navbar navbar-default sidebar" style="width: 152px;" role="navigation" ng-init="display={{display}}">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			{% if is_tutor %}
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">{% trans "Toggle navigation" %}</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<div>
					<div class="side-menu-title">{% trans "As a Tutor" %}</div>
					<!-- <div class="side-menu-underline"></div> -->
				</div>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ng-class="{ 'active' : display==1}" ng-click="menu(0, $event)"><a href="/tutorlessons/">{% trans "Lesson List" %}</a></li>
					<li ng-class="{ 'active' : display==15}" ng-click="menu(5, $event)"><a href="/tutorlessons/package/">{% trans "Package List" %}</a></li>
					<li ng-class="{ 'active' : display==12}" ng-click="menu(1, $event)"><a href="/tutorlessons/schedule/">{% trans "Schedule" %}</a></li>
					<li ng-class="{ 'active' : display==13}" ng-click="menu(2, $event)"><a href="/tutorlessons/courses/">{% trans "My Courses" %}</a></li>
					<!-- <li ng-class="{ 'active' : display==15}" ng-click="menu(4, $event)"><a href="/settings/editprofile/">My Profile</a></li> -->
				</ul>
			</div>
			{% endif %}
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-sidebar-navbar-collapse-2">
					<span class="sr-only">{% trans "Toggle navigation" %}</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<div>
					<div class="side-menu-title">{% trans "As a Tutee" %}</div>
					<!-- <div class="side-menu-underline"></div> -->
				</div>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-2">
				<ul class="nav navbar-nav" style="width:100%">
					<li style="" ng-class="{ 'active' : display==2}" ng-click="menu(6, $event)"><a href="/tuteelessons/">{% trans "Lesson List" %}</a></li>
					<li style="" ng-class="{ 'active' : display==16}" ng-click="menu(7, $event)"><a href="/tuteelessons/package/">{% trans "Package List" %}</a></li>
					{% if is_tutor == 0 %}
					<!-- <li style="" ng-class="{ 'active' : display==15}" ng-click="menu(4, $event)"><a href="/settings/editprofile/">My Profile</a></li> -->
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<div class="mobile-menu" ng-init="display={{display}}">
		<!-- Single button -->
		<div class="btn-group">
		  <button type="button" class="btn btn-default dropdown-toggle mobile-top-select" data-toggle="dropdown" aria-expanded="false">
		  	{% if is_tutor %}
		  	<span ng-if="display == 1"> {% trans "Tutor" %} > {% trans "Lesson Status" %} </span>
		  	<span ng-if="display == 12"> {% trans "Tutor" %} > {% trans "Schedule" %} </span>
		  	<span ng-if="display == 13"> {% trans "Tutor" %} > {% trans "My Lessons" %} </span>
		  	<span ng-if="display == 14"> {% trans "Tutor" %} > {% trans "Problem" %} </span>
		  	<!-- <span ng-if="display == 15"> Tutor > My Profile </span> -->
		  	{% endif %}
		  	<span ng-if="display == 2"> {% trans "Tutee" %} > {% trans "Lesson Status" %} </span>
		  	<!-- <span ng-if="display == 21"> Tutee > Problem </span> -->
		  	<span class="caret right-arrow"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		  {% if is_tutor %}
			<li ng-class="{ 'active' : display==1}" ng-click="menu(0, $event)"><a href="/tutorlessons/">{% trans "Lesson Status" %}</a></li>
			<li ng-class="{ 'active' : display==12}" ng-click="menu(1, $event)"><a href="/tutorlessons/schedule/">{% trans "Schedule" %}</a></li>
			<li ng-class="{ 'active' : display==13}" ng-click="menu(2, $event)"><a href="/tutorlessons/courses/">{% trans "My Lessons" %}</a></li>
			<li ng-class="{ 'active' : display==14}" ng-click="menu(3, $event)"><a >{% trans "Problem" %}</a></li>
			<li ng-class="{ 'active' : display==15}" ng-click="menu(4, $event)"><a >{% trans "Mode" %}</a></li>
		    <li class="divider"></li>
		  {% endif %}
					<li ng-class="{ 'active' : display==2}" ng-click="menu(6, $event)"><a href="/tuteelessons/">{% trans "Lesson Status" %}</a></li>
					<li ng-class="{ 'active' : display==21}" ng-click="menu(7, $event)"><a >{% trans "Problem" %}</a></li>
		  </ul>
		</div>
	</div>
	<div style="clear: both;"></div>
