{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}
	{% if display == 1 %}
		{% trans "Tutor" %} : {% trans "Package List" %} | {% trans "Tellpin" %}
	{% else %}
		{% trans "Tutee" %} : {% trans "Package List" %} | {% trans "Tellpin" %}
	{% endif %}
{% endblock %}
{% load staticfiles %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/tutoring/tutor_schedule.css' %}" />


<style>
</style>

<div class="tutoring-container" ng-controller="tutoringPkgCtrl"  ng-init="init( {{ is_tutor }}, {{ display }},  {{ data }} )">

<div class="tutor-schedule-content">
<div class="tutor-schedule-container">
	<div class="col-xs-2" style="padding-left: 0;">
	{% include 'tutoring/tutoring_menu.html' %}
	</div>
	
	<div class="col-xs-10" style="padding: 20px 20px 20px 20px; background-color: white;">
		<!-- Content Here -->
		{% include 'tutoring/reservation_pgk_list.html' %}

	</div>
	<div style="clear: both;"></div>
</div>
<div class="tutor-schedule-mobile">
	<div class="div-row">
	{% include 'tutoring/tutoring_menu.html' %}
	</div>
	
	<div class="div-row">
		{% include 'tutoring/reservation_pgk_list.html' %}
	</div>
</div>
</div>

</div>

<script type="text/javascript" src="{% static 'js/tutoring/tutoring_pkg.js' %}"></script>

{% endblock %}

