{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}
	{% if title == 1 %}
		{% trans "Tutor" %} : {% trans "Lesson Details" %} | {% trans "Tellpin" %}
	{% else %}
		{% trans "Tutee" %} : {% trans "Lesson Details" %} | {% trans "Tellpin" %}
	{% endif %}
{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/tutor/tutor_reservation.css' %}" />

<script>

</script>
<style>
.base{
/*	background: #F0F0F0;*/
}
.details-wrapper{
	margin: auto;
	width: 1024px;
	min-height: 1500px;
	margin-top: 100px;
	background: white;
}
.div-row{
	padding: 10px;
	min-height: 100px;
	background: white;
}
.div-row2{
	padding: 10px;
    background: white;
    margin-top: 10px;
}
.div-row3{
	padding: 10px;
	background: white;
	margin-top: 10px;
	height: 200px;
}
.div-row > div{
	margin-top: 10px;
}
.status-row {
	border: 3px solid #999999;
	border-radius: 10px;
	padding: 10px 20px;
}
.status-id {
	float: left;
}

.status-name-green {
	background-color: #aadf1f;
	padding: 0px 20px;
	margin-left: 20px;
	color: #ffffff;
}
.status-name-orange {
	background-color: #f47f51;
	padding: 0px 20px;
	margin-left: 20px;
	color: #ffffff;
}
.status-name-blue {
	background-color: #00b5cb;
	padding: 0px 20px;
	margin-left: 20px;
	color: #ffffff;
}
.status-name-grey {
	background-color: #afafaf;
	padding: 0px 20px;
	margin-left: 20px;
	color: #ffffff;
}
.location{
	clear: both;
	margin-bottom: 20px;
	height: 40px;
	font-size: 13px;
	padding: 5px;
	padding-top: 15px;
}
.location-hover{
}
.location-hover:hover{
	cursor: pointer;
}
.title{
	padding: 5px;
	font-size: 24px;
	margin: 10px 0;
	font-weight: 600;
}
.sub-title{
	font-size: 17px;
	font-weight: 600;
}
.under-line{
	border-bottom: 1px solid;
}
.message{
	min-height: 220px;
	max-height: 770px;
}
.send-message{
	height: 150px;
}
.btn-send-message{
	margin-top: 5px;
	float: right;
}
.txt-area{
	width: 100%;
	height: 100px;
}
.table{
	display: table;
	text-align: center;
}
.table-th{
	background: #F0F0F0;
	line-height: 30px;
}
.table-row{
	display: table-row;
	margin: auto;
}
.table-col{
	display: table-cell;
	border: 1px solid #999999;
	height: 16px;
}
.table-middle{
	line-height: 30px;
	vertical-align: middle;
}

.statusStr {
	margin-top: 10px;
}
.div-action {
	height: 30px;
	margin: 5px 0px 10px 0px;
}
.div-action-button{
	float: left;
	padding: 15px;
}

.blue-button {
	width: 150px;
	background-color: #00b5cb;
	color: white;
	border: none;
	border-radius: 3px;
}

.grey-button {
	width: 150px;
	background-color: #afafaf;
	color: white;
	border: none;
	border-radius: 3px;
}

.history-time, .history-graph, .history-content{
	border: none;
}
.history-time{
	width: 20%;
}
.history-graph{
	width: 10%;
	background-image: url("/static/img/graph_icon.png");
	background-repeat: no-repeat;
	background-position: center;
	
}
.history-content{
	padding-left: 20px;
	text-align: left;
}
.div-graph{
	line-height: 65px;
}

/*Modal*/
.ratings > img{
	cursor: pointer;
}
.star1{
	margin-left: 10px;
}
.confirm-area{
	margin-top: 20px;
	width: 100%;
	height: 150px;
}
.confirm-area2{
	margin-top: 10px;
	width: 100%;
	height: 150px;
}
#modalConfirm, #modalFeedback{
	z-index: 100500;
	top: calc( 50% - 200px );
}
.fade{
	z-index: 100400;
}
.modal-footer{
	text-align: center;
}
.txt-len{
	text-align: right;
}
.txt-len2{
	text-align: right;
}
/*Message*/
.message-btn {
	width: 100% !important;
}
#messageModal textarea {
	resize: none;
}
.details-message-content {
	border: 1px solid rgb( 169, 169, 169 );
	min-height: 200px;
	min-height: 290px !important;
	max-height: 770px !important;
	overflow-y: auto;
	overflow-x: hidden;
}
.left-arrow_box {
	position: relative;
	/* background: rgb( 133, 239, 198); 
	border: 4px solid rgb( 133, 239, 198);*/
	background: #ccf2ff;
	border-color: #ccf2ff;
	margin-right: 8px;
}
.left-arrow_box:after, .left-arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.left-arrow_box:after {
	border-color: rgba(133, 239, 198, 0);
	/* border-left-color: rgb( 133, 239, 198); */
	border-left-color: #ccf2ff;
	/* border-color: #ccf2ff;
	border-left-color: #ccf2ff; */
	border-width: 5px;
	margin-top: -5px;
}
.left-arrow_box:before {
	border-color: rgba(133, 239, 198, 0);
	/* border-left-color: rgb( 133, 239, 198); */
	border-left-color: #ccf2ff;
	/* border-color: #ccf2ff;
	border-left-color: #ccf2ff; */
	border-width: 8px;
	margin-top: -8px;
}
.right-arrow_box, .left-arrow_box {
	border-radius: 10px;
	display: inline-block;
	max-width: 200px;
	padding: 0 8px 0 8px;
}
.right-arrow_box {
	position: relative;
	/* background: rgb( 183, 237, 253 );
	border: 4px solid rgb( 183, 237, 253 ); */
	background: #e9e9e9;
	border: 4px solid #e9e9e9;
	margin-left: 8px;
}
.right-arrow_box:after, .right-arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.right-arrow_box:after {
	border-color: rgba(183, 237, 253, 0);
	/* border-right-color: rgb( 183, 237, 253 ); */
	border-right-color: #e9e9e9;
	border-width: 5px;
	margin-top: -5px;
}
.right-arrow_box:before {
	border-color: rgba(183, 237, 253, 0);
/* 	border-right-color: rgb( 183, 237, 253 ); */
	border-right-color: #e9e9e9;
	border-width: 8px;
	margin-top: -8px;
}
.message-time {
	display: inline-block;
	font-size: 12px;
	background-color: rgb( 240, 240, 240 );
	margin-left: -4px;
	margin-right: -4px;
	padding: 0px 4px 0px 4px;
	border-radius: 5px;
}
.message-row-left {
	text-align: right;
	margin-bottom: 10px;
}
.message-row-right {
	text-align: left;
	margin-bottom: 10px;
}

#friendModal .message-modal {
	top: 100px;
}
.messageValid {
	color: red;
	font-size: 12px;
}
.message-day {
	text-align: center;
}
.day-line {
	margin-top: -10px;
	border-top: 1px solid #e7e7e7;
}
.day-content {
	background-color: #fff;
	padding: 0px 10px 0px 10px;
}
.any-problem{
	margin-left: 380px;
	width:120px;
	color: #00b5cb;
	font-size: 14px;
	cursor: pointer;
}
.profile-img{
	width: 65px;
	height: 65px;
	border-radius: 15px;
}

.div-profile-content{
	float: left;
	height: 80px;
	border-left: 1px solid;
	margin-left: 10px;
	padding-left: 10px;
}
.no-padding-bottom{
	padding-bottom: 0px;
}
.no-padding-top{
	padding-top: 0px;
}

.lesson-msg {
    word-break: break-all;
}

.course {
	float: left;
}

.course-img {
	float: right;
	cursor: pointer;
	border-left: 1px solid #afafaf;
	padding-left: 10px;
	margin-bottom: 3px;
}
.div-profile-img {
	float: left;
	margin-right: 10px;
}
.div-profile-username {
	float: right;
	margin-top: 10px;
	font-size: 16px;
	color: #037485;
}
.course-title {
	font-size: 23px;
}

.course-pkg {
	width: 70px;
	height: 20px;
	float: left;
	margin: 0px 10px 0px 180px;
	background-color: #037485;
	padding: 3px 0px 0px 14px;
	color: #ffffff;
	font-size: 11px;
}

.lesson-type {
	float: left;
	margin-right: 20px;
}

.lesson-date {
	float: left;
	margin-right: 20px;
	text-align: center;
}

.lesson-duration {
	float: left;
	margin-right: 20px;
	text-align: center;
}

.lesson-price {
	float: left;
	text-align: center;
}

.expiration-date {
	float: left;
	text-align: center;
	margin-right: 40px;
}

.messenger {
	float: left;
	text-align: center;
	margin-right: 20px;
}
.messenger img {
	width: 24px;
	height: 24px;
}

.messenger-id {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
}
.style-underline {
	border-bottom: 1px solid #afafaf;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.modal-select {
	border: 1px solid #000000;
	margin-bottom: 5px;
	padding: 5px 0px 5px 5px;
}

.modal-desc {
	margin-bottom: 30px;
}

.modal-change-date {
	color: red;
	font-size: 17px;
	margin-bottom: 30px;
}
.modal-request-date {
	width: 300px;
	float: left;
	color: red;
}
.modal-reschedule {
	float: left;
	font-size: 12px;
}

.modal-dialog-calendar {
	margin-left: 250px;
	margin-top: 15px;
	background-color: white;
}

.modal-content-calendar {
	width:800px;
	height: 966px;
	padding-left:30px;
	padding-right:30px;
	border-radius:10px;
	position:fixed;
	left:calc(50% - 400px);
	background:white;
	overflow-y: auto;
	z-index:30000;
}

.schedule-table {
	width: 100%;
	margin-top: 0 !important;
}
.schedule-table thead th{
	float:left;
}
.schedule-table tbody{
	float:left;
	width:calc(100% + 5px);
	max-height: 722px;
	overflow-y:auto;
	overflow-x:hidden;
}

.schedule-table tbody td{
	text-align:center;
	height:15px;
	border-bottom: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
}
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.bigfontsize {
    font-size: 40px;
    line-height: 0.5em;
}
.schedule-desc-title {
	text-align:center;
	margin-top:10px;
}

.modal-footer-bt {
	text-align: center;
}
.select-date {
	margin-bottom: 5px;
}
.change-bt {
	text-align: center;
	margin-top: 10px;
}

.change-bt > button {
	width: 130px;
	margin-left: 5px;
	margin-right: 5px;
}

</style>

<div class="details-wrapper" ng-controller="detailsCtrl" ng-init="data={{data}};init();">

	<div class="location" ng-if="list.is_tutor==1">
		{% trans "As a Tutor" %} > <span class="location-hover"><a href="/tutorlessons/">{% trans "Lesson List" %}</a></span> > <span>[[ list.reservation_number ]]</span>
	</div>
	<div class="location" ng-if="list.is_tutor==0">
		{% trans "As a Tutee" %} > <span class="location-hover"><a href="/tuteelessons/">{% trans "Lesson List" %}</a></span> > <span>[[ list.reservation_number ]]</span>
	</div>
	<div class="title" ng-if="list.is_tutor==0">
		{% trans "Lesson Details" %}<span ng-if="list.between_72_hours" class="any-problem" ng-click="anyProblem(list)">{% trans "Report a problem" %}</span>
	</div>
	<div class="title" ng-if="list.is_tutor==1">
		{% trans "Lesson Details" %}<span ng-if="(list.status == 6 || list.status == 3 || list.status == 9) && list.between_72_hours" class="any-problem" ng-click="anyProblem(list)">{% trans "Report a problem" %}</span>
	</div>
	<div>
	<div class="col-md-8" style="padding: 0 5px;">
		<div class="div-row">
			<div class="sub-title">{% trans "Status" %}</div>
			<div class="status-row">
				<div class="status-id">{% trans "Lesson ID" %} : [[list.reservation_number]]</div>
				<span ng-class=" list.status_name == 'Requested' ? 'status-name-green' : list.status_name == 'Confirmed' || list.status_name == 'Refunded' || list.status_name == 'Expired' ? 'status-name-grey' : 'status-name-orange' ">[[list.status_name]]</span>
				<!--  tutor  -->
				<div class="statusStr" ng-if="list.is_tutor==1">
 					<div ng-bind-html="[[list.status_string]] | nl2p"></div>
				</div>
				<!--  tutee -->
				<div class="statusStr" ng-if="list.is_tutor==0">
 					<div ng-bind-html="[[list.status_string]] | nl2p"></div>
				</div>

				<div class="div-action">
					<div class="div-action-button" ng-if="list.action1 && list.is_tutor==1">
						<button ng-class="list.status == 2 || (list.status == 3 && list.status_type == 'Waiting for action') || (list.status == 4 && list.status_type == 'Waiting for action') ? 'btn-approve grey-button' : 'btn-approve blue-button' " ng-click="clickBtnAction(list.action1)" >  
							[[ list.action1 ]]
						</button>
					</div>
					<div class="div-action-button" ng-if="list.action2  && list.is_tutor==1">
						<button class="btn-approve grey-button" ng-click="clickBtnAction(list.action2)">  
							[[ list.action2 ]]
						</button>
					</div>
					<div class="div-action-button" ng-if="list.action3  && list.is_tutor==1">
						<button class="btn-approve grey-button" ng-click="clickBtnAction(list.action3)">  
							[[ list.action3 ]]
						</button>
					</div>
					<div class="div-action-button" ng-if="list.action1 && list.is_tutor==0">
						<button ng-class="(list.status == 3 && list.status_type == 'Action required') || (list.status == 4 && list.status_type == 'Action required') || list.status == 6 ? 'btn-approve blue-button' : 'btn-approve grey-button' " ng-click="clickBtnAction(list.action1)">  
							[[ list.action1 ]]
						</button>
					</div>
					<div class="div-action-button" ng-if="list.action2  && list.is_tutor==0">
						<button class="btn-approve grey-button" ng-click="clickBtnAction(list.action2)">  
							[[ list.action2 ]]
						</button>
					</div>
				</div>
 			</div>
		</div>

		<div class="div-row">
			<div class="sub-title">
			{% trans "Info" %}
			</div>
			<div class="status-row">
				<div class="info-course style-underline" >
					<div class="course">
						<div class="f13 f-gray-64">{% trans "course" %}</div>
						<div class="course-title">[[list.lesson_name]]</div>
					</div>
					<span class="course-pkg" ng-if="list.orders > 1">{% trans "Package" %}</span><span ng-if="list.orders > 1" style="margin-right: 2px;">[[list.order]]/[[list.orders]]</span>
					<div class="course-img" ng-if="list.is_tutor==1" ng-click="goURL('/user/' + [[list.tutee_id]])">
						<div class="div-profile-img"  >
							<img class="profile-img user-none-boxing" src="[[list.tutee_img]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" >
						</div>
						<div class="div-profile-username">
							[[list.tutee_name]]
						</div>
						<div class="f13 f-gray-64">{% trans "tutee" %}</div>
					</div>
					<div class="course-img" ng-if="list.is_tutor==0" ng-click="goURL('/tutor/' + [[list.tutor_id]])">
						<div class="div-profile-img">
							<img class="profile-img user-none-boxing" src="[[list.tutor_img]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" >
						</div>
						<div class="div-profile-username">
							[[list.tutor_name]]
						</div>
						<div class="f-gray-64 f13">{% trans "tutor" %}</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="info-lesson style-underline">
					<div class="lesson-type f16 f-gray-33" ng-if="list.order == list.orders && lesson_name != 'Trial Lesson' ">{% blocktrans %}single <br> lesson{% endblocktrans %}</div>
					<div class="lesson-type f16 f-gray-33" ng-if="list.order == list.orders && lesson_name == 'Trial Lesson' ">{% blocktrans %}Trial <br> lesson{% endblocktrans %}</div>
					<div class="lesson-type f20 f-bblue" ng-if="list.orders > 1 ">[[list.package_id]]
						<div class="f13 f-gray-64" ng-if="list.orders > 1 " style="text-align: center;">{% trans "Package ID" %}</div>
					</div>
					<div class="lesson-date">
						<div class="f20" ng-if="list.date != null">[[list.date]] ([[list.day]]), [[list.from_time]]</div>
						<div class="f13 f-gray-64">{% trans "Lesson's start time" %} (UTC [[list.utc_time]])</div>
					</div>
					<div class="lesson-duration">
						<div class="f16">[[list.duration]] {% trans "minutes" %}</div>
						<div class="f13 f-gray-64">{% trans "Duration" %}</div>
					</div>
					<div class="lesson-price">
						<div class="f16">[[list.price]] TC</div>
						<div class="f13 f-gray-64">{% trans "Price" %}</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="info-tools">
					<div class="expiration-date">
						<div class="f13 f-gray-64">{% trans "Expiration Time" %} (UTC [[list.utc_time]])</div>
						<div class="f16 f-black">[[list.expired]]</div>
					</div>
					<div class="messenger">
						<div>
							<img ng-if="list.tool_id == 1" src="/static/img/tutor/icon_skype.png" >
							<img ng-if="list.tool_id == 2" src="/static/img/tutor/icon_hangout.png" >
							<img ng-if="list.tool_id == 3" src="/static/img/tutor/icon_facetime.png" >
							<img ng-if="list.tool_id == 4" src="/static/img/tutor/icon_QQ.png" >
						</div>
						<div class="f13 f-gray-64">[[list.tool_name]]</div>
					</div>
					<div class="messenger">
						<div class="messenger-id f16 f-black">[[list.tutor_tool_id]]</div>
						<div class="messenger-id f13 f-gray-64">{% trans "Tutor's account" %}</div>
					</div>
					<div class="messenger">
						<div class="f16 f-black">[[list.tutee_tool_id]]</div>
						<div class="f13 f-gray-64">{% trans "Tutee's account" %}</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="div-row">
			<div class="sub-title">
			{% trans "Feedback" %}
			</div>
			<div>
			{% trans "Tutor" %} : [[ list.tutor_feedback ]] <span class="f-gray-64">[[ list.feedback_tutor_id ]]</span> <span class="f-gray-64">[[ list.feedback_date ]]</span>
			</div>
			<div>
			{% trans "Tutee" %} : <img ng-if="list.feedback_tutee_id != '-'" ng-src="[[ list.feedback2_rate == 0 ? '/static/img/tutor/icon_star_001.png' : list.feedback2_rate == 1 ? '/static/img/tutor/icon_star_003.png' : list.feedback2_rate == 2 ? '/static/img/tutor/icon_star_005.png' : list.feedback2_rate == 3 ? '/static/img/tutor/icon_star_007.png' : list.feedback2_rate == 4 ? '/static/img/tutor/icon_star_009.png' : list.feedback2_rate == 5 ? 'static/img/tutor/icon_star_011.png' : '' ]]">
			[[ list.feedback_tutee_id ]] <span class="f-gray-64">[[list.feedback_tutee_id != '-' ? list.feedback2_date : '']]</span>
			</div>
		</div>
		<div class="div-row">
			<div class="sub-title">
			{% trans "Status History" %}
			</div>
			<div class="table div-graph">
				<div class="table-row" ng-repeat="his in list.histories">
					<div class="table-col history-time">
					[[ his.reg_date ]]
					</div>
					<div class="table-col history-graph">
					
					</div>
					<div class="table-col history-content">
					[[ his.comment ]]
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4" style="padding: 0 5px;">
		<!--div class="div-row message">
			<div class="sub-title under-line">
			Messages with user name
			</div>
		</div>
		<div class="div-row message">
			<textarea class="txt-area" placeholder="Write a message"></textarea>
		</div-->
		<div class="div-row2 no-padding-bottom">
			<div class="sub-title">{% trans "Message" %}</div>
		</div>
		<div class="">
			<div class="message-container scroll">
				<div class="messageModal-row div-row message no-padding-top">
					<div class="details-message-content" id="message" scroll="message">
<!-- message area -->
						<div ng-repeat="i in message">
							<div class="message-day">
								<span class="day-content">[[ i.day ]]</span>
								<hr class="day-line" />
							</div>
							<div ng-repeat="j in i.message" id="message-row">
								<div class="message-row-left" ng-if="j.type == 'send'">
									<div class="message-time">
										[[ j.time ]]
									</div>
									<div class="left-arrow_box lesson-msg" style="text-align: left;">
										[[ j.message ]]
									</div>
								</div>
								<div class="message-row-right" ng-if="j.type == 'receive'">
									<div class="right-arrow_box lesson-msg" style="text-align: left;">
										[[ j.message ]]
									</div>
									<div class="message-time">
										[[ j.time ]]
									</div>
								</div>
							</div>
						</div>
 <!-- message area end-->
					</div>
				</div>
				<div class="messageModal-row div-row send-message" style="padding-top: 0;">
					<textarea class="txt-area" ng-model="messageModel" placeholder="Write a lesson message" style="resize: none;"></textarea>
					<span class="messageValid" ng-show="messageModel.length > messageLength">{% trans "Your message is over the 250 character limit" %}</span>
					<button type="button" class="btn btn-primary btn-send-message bg-blue" ng-click="sendMessage()">{% trans "Send" %}</button>
				</div>
				<!-- <div style="text-align: center; margin-top: 20px;">
					<button type="button" class="btn btn-primary" ng-click="sendMessage()">Send</button>					
				</div> -->
			</div>
		</div>
	</div>
	</div>

	<!-- Modal Confirm-->
	<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">{% trans "Please confirm that the lesson went well and leave a feedback." %}</h4>
	      </div>
	      <div class="modal-body">
	        <div class="ratings">
		        {% trans "Ratings" %} 
		        <img class="star1" ng-click="clickRatings(1)" src="{%static 'img/tutor/icon_star_full.png'%}">
		        <img class="star2" ng-click="clickRatings(2)" src="{%static 'img/tutor/icon_star_full.png'%}">
		        <img class="star3" ng-click="clickRatings(3)" src="{%static 'img/tutor/icon_star_full.png'%}">
		        <img class="star4" ng-click="clickRatings(4)" src="{%static 'img/tutor/icon_star_full.png'%}">
		        <img class="star5" ng-click="clickRatings(5)" src="{%static 'img/tutor/icon_star_full.png'%}">
	        </div>
	        <div>
	        	<textarea id="confirm_comment" class="confirm-area" maxlength="400" ng-keydown="checkLengthConfirmModal();" ng-keyup="checkLengthConfirmModal();"  placeholder="How was your lesson?"></textarea>
	        </div>
	        <div class="txt-len">
	        	0 / 400 {% trans "characters" %}
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" ng-click="clickBtnAction('Confirm', 1)">{% trans "Confirm" %}</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal Feedback -->
	<div class="modal fade" id="modalFeedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">{% trans "Please leave a feedback for your tutee." %}</h4>
	      </div>
	      <div class="modal-body">
	        <div>
	        	<textarea id="feedback_comment" class="confirm-area2" maxlength="400" ng-keydown="checkTextLengthModal();" ng-keyup="checkTextLengthModal();" placeholder= "Ex) He is fluent at Korean. It was surprising to see somebody who is very good at Korean. I tried to use complicated words to enrich his vocabulary. I hope it was helpful to him. I enjoyed our conversation. I look forward to our next sessions"></textarea>
	        </div>
	        <div class="txt-len2">
	        	0 / 400 {% trans "characters" %}
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn bg-blue" ng-click="clickBtnAction('Leave Feedback', 1)">{% trans "Confirm" %}</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal Problem Statement -->
	<div class="modal fade" id="modalProblemState" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">{% trans "Please leave a message." %}</h4>
	      </div>
	      <div class="modal-body">
	        <div>
	        	<textarea id="problem_message" class="confirm-area2" maxlength="400" ng-keydown="checkTextLengthModal();" ng-keyup="checkTextLengthModal();" placeholder= "Please leave a message."></textarea>
	        </div>
	        <div class="txt-len2">
	        	0 / 400 {% trans "characters" %}
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn bg-blue" ng-click="clickBtnAction('Make statement', 1)">{% trans "Confirm" %}</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- modal decline -->
	<div class="modal fade" id="modalDecline" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      </div>
	      <div class="modal-body">
	        <div class="desc-balance">
	        	{% trans "If you 'decline' this request, the lesson will be canceled and 100% of the lesson fee will be refunded to the tutee instantly." %}<br><br>
	        	{% trans "If you just want to change the date/time, have a conversation with your tutee as soon as possible in Lesson Messages to get an agreement on the new date/time." %}<br><br>
	        	{% blocktrans %}As long as there are more than 24 hour until the lesson begins, your tutee can reschedule(Change date/time) this lesson. Right after you reach an
	        	agreement on the new date/time, ask your tutee to click 'change date/Time' button so that you can approve the rescheduled request to have a lesson together.{% endblocktrans %}
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn" ng-click="closeDecline()">{% trans "Cancel" %}</button>
	        <button type="button" class="btn bg-blue" ng-click="clickBtnAction('Decline', 1)">{% trans "Decline" %}</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal Request to change -->
	<div class="modal fade" id="modalRequestChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" ng-click="closeRequestChange();">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">{% trans "Request to change" %}</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="modal-select">
	      		<div ng-if="!(list.is_tutor==0 && list.orders == 1 && list.order == 1)">{% trans "Change date/time" %}</div>
	      		<select ng-if="list.is_tutor==0 && list.orders == 1 && list.order == 1" style="width: 100%; height: 100%; border: none;" ng-model="request_options" ng-change="change_select();">
	      			<option value="">{% trans "Change date/time" %}</option>
	      			<option value="1">{% trans "Cancel the lesson" %}</option>
	      		</select>
	      	</div>
	      	<div class="modal-desc" ng-if="list.is_tutor==1">{% blocktrans %}If you can't attend the upcoming lesson, write a message to the tutee about the reason and the new date/time you'd like to suggest. 
	      	You need the tutee's approval for the change to take effect.{% endblocktrans %}
	      	</div>
	      	<div class="modal-desc" ng-if="list.is_tutor==0 && request_options!=1">{% blocktrans %}If you can't attend the upcoming lesson, write a message to the tutor about the reason and select the new date/time you'd like to suggest.
	      	 You need the tutor's approval for the change to take effect.{% endblocktrans %}
	      	</div>
	      	<div class="modal-desc" ng-if="list.is_tutor==0 && request_options==1">{% blocktrans %}If you can't possibly attend the lesson and need to cancel it, write a message to the tutor about the reason for the cancel.
	      	 You need the tutor's approval for the change to take effect.{% endblocktrans %}
	      	</div>
	      	<div class="modal-change-date">
	      		<div class="modal-request-date" ng-if="requestdate">{% trans "Change to " %}[[request_date]]</div>
	      		<button type="button" class="btn bg-blue" ng-if="request_options!=1" style="float: right;" ng-click="openChangeDateModal(list.tutor_id, list.rvid ); initCurrentTime('{{request.session.utc_time}}');">{% trans "Reschedule" %}</button>
	      		<div class="modal-reschedule" ng-if="!(request_options == 1 || requestdate)">{% trans "Click on 'Reschedule' and select the new date/time" %}</div>
	      		<div class="clear"></div>
	      	</div>
	      	
	      	<span>{% trans "Write the lesson message here" %}</span>
	        <div>
	        	<textarea id="change_message" class="confirm-area2" maxlength="400" ng-keydown="checkTextLengthModal();" ng-keyup="checkTextLengthModal();"></textarea>
	        </div>
<!-- 
	        <div class="txt-len2">
	        	0 / 400 {% trans "characters" %}
	        </div>
 -->
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn bg-gray" ng-click="closeRequestChange();">{% trans "Close" %}</button>
	        <button type="button" class="btn bg-blue" ng-if="request_options!=1" ng-click="clickBtnAction('Request to change', 1)">{% trans "Request" %}</button>
	        <button type="button" class="btn bg-blue" ng-if="request_options==1" ng-click="clickBtnAction('Canceled', 1)">{% trans "Canceled" %}</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="modalChangeDate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog-calendar">
			<div class="modal-content-calendar">
				<div class="modal-header">
					<button type="button" class="close bigfontsize" data-dismiss="modal" ng-click="closeChangeDateModal();">&times;</button>
					<div class="schedule-desc-title">{% trans "All times listed are in your local timezone" %}</div>
				</div>
				<div class="modal-body">
					<div class="schedule-date-info">
						<div class="schedule-prev-btn" ng-click="schedule.week_list.indexOf(scheduleInfo.today) == -1 ? getPrevWeek(list.tutor_id) : '' "><span ng-show="schedule.week_list.indexOf(scheduleInfo.today) == -1">< {% trans "Prev" %}</span></div>
						<div class="schedule-week-info" ng-if="schedulePopup">[[ schedule.week_list | scheduleHeaderFiler]]</div>
						<div class="schedule-next-btn" ng-click="getNextWeek(list.tutor_id)">{% trans "Next" %} ></div>
					</div>
			
					<table id="tr-shchedule" class="schedule-table" ng-mouseover="hoverIn()">
						<thead>
							<tr>
								<th>UTC {{request.session.utc_time}}</th>
								<th ng-repeat="date in schedule.week_list">[[ schedule.dow_list[$index] | capitalize ]] [[ date | scheduleDateFilter:$index ]]</th>
							</tr>
						</thead>
						<tbody ng-init="getTbodyHeight()" >
							<tr ng-repeat-start="t in [].constructor(24) track by $index" >
								<td class="time" rowspan=2 ng-if="$index == 0" ng-style="{'width':'93px'}">12:00 AM</td>
								<td class="time" rowspan=2 ng-if="($index != 0) && ($index != 12) && $index < 12" ng-style="{'width':'93px'}">[[ $index%12 ]]:00 AM</td>
								<td class="time" rowspan=2 ng-if="$index != 0 && $index != 12 && $index > 12" ng-style="{'width':'93px'}">[[ $index%12 ]]:00 PM</td>
								<td class="time" rowspan=2 ng-if="$index == 12">12:00 PM</td>
								<td ng-style="{'width':'93px'}" ng-repeat="weekDay in weekList" ng-init="area[2*$parent.$index][weekDay].value = initAreaValue(weekDay, 2*$parent.$index) ; area[2*$parent.$index][weekDay].state = initAreaState(weekDay, 2*$parent.$index)" ng-class="[area[2*$parent.$index][weekDay].state == 1 ? 'available-td' : area[2*$parent.$index][weekDay].state == 2 ? 'selected-td' : area[2*$parent.$index][weekDay].state == 3 ? 'reserved-td' : '', area[2*$parent.$index][weekDay].isHover == 1 ? 'selected-hover-td' : '' ] " ng-click="area[2*$parent.$index][weekDay].state == 1 ? selectArea(2*$parent.$index, weekDay) : area[2*$parent.$index][weekDay].state == 2 ? selectArea(2*$parent.$index, weekDay) : '' " ng-mouseover="checkAvailableTime(2*$parent.$index, weekDay)" ng-mouseleave="resetIsHover(2*$parent.$index, weekDay)"></td>
							</tr>
							<tr ng-repeat-end>
								<td ng-repeat="weekDay in weekList" ng-init="area[2*$parent.$index+1][weekDay].value = initAreaValue(weekDay, 2*$parent.$index+1) ; area[2*$parent.$index+1][weekDay].state = initAreaState(weekDay, 2*$parent.$index+1)" ng-class="[area[2*$parent.$index+1][weekDay].state == 1 ? 'available-td' : area[2*$parent.$index+1][weekDay].state == 2 ? 'selected-td' : area[2*$parent.$index+1][weekDay].state == 3 ? 'reserved-td' : '', area[2*$parent.$index+1][weekDay].isHover == 1 ? 'selected-hover-td' : '' ] " ng-click="area[2*$parent.$index+1][weekDay].state == 1 ? selectArea(2*$parent.$index+1, weekDay) : area[2*$parent.$index+1][weekDay].state == 2 ? selectArea(2*$parent.$index+1, weekDay) : '' " ng-mouseover="checkAvailableTime(2*$parent.$index+1, weekDay)" ng-mouseleave="resetIsHover(2*$parent.$index+1, weekDay)"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer-bt  change-bt">
					<div class="select-date">{% trans "Change to" %} [[selectDate.date]] : [[selectDate.startTime]] ~ [[selectDate.endTime]]</div>
					<button type="button" class="btn bg-gray" ng-click="closeChangeDateModal();">{% trans "Cancel" %}</button>
					<button type="button" class="btn bg-blue" ng-click="changeDate(1);">{% trans "Change" %}</button>
				</div>
			</div>
		</div>
	</div>

</div>

<script src="{% static 'js/tutoring/tutoring_details.js' %}"></script>

{% endblock %}
