{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% trans "Lesson Problem" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}


<script>

</script>
<style>

.details-wrapper{
	margin: auto;
	width: 1024px;
	height: 1200px;
	margin-top: 100px;
}
.div-row{
	padding: 10px;
	min-height: 100px;
	background: white;
	margin-top: 10px;
}
.div-row > div{
	margin-top: 10px;
}
.location{
	clear: both;
	margin-bottom: 20px;
	height: 40px;
	font-size: 13px;
	padding: 5px;
	padding-top: 15px;
}
.title{
	float: left;
	padding: 5px;
	font-size: 24px;
	margin: 10px 0;
	font-weight: 600;
}
.go-lesson-bt {
	float: right;
	padding: 5px;
	margin-right: 20px;
	border: 1px solid #00b5cb;
	cursor: pointer;
}
.sub-title{
	font-size: 17px;
	font-weight: 600;
}
.under-line{
	border-bottom: 1px solid;
}
.message{
	height: 173px;
}
.time{
	color: red;
}
.txt-area{
	width: 100%;
	height: 150px;
}
.table{
	display: table;
	text-align: center;
}
.table-th{
	background: #F0F0F0;
	line-height: 30px;
}
.table-row{
	display: table-row;
	margin: auto;
}
.table-col{
	display: table-cell;
	border: 1px solid #999999;
	height: 16px;
}
.table-middle{
	line-height: 30px;
	vertical-align: middle;
}
.div-approve{
	padding: 5px;
	line-height: 16px;
	border-bottom: 1px solid #999999;
}
.div-decline{
	padding: 5px;
	line-height: 16px;
}
.div-approve > button, .div-decline > button{
	width: 70%;
	color: white;
	border: none;
}
.history-time, .history-graph, .history-content{
	border: none;
}
.history-time{
	width: 15%;
}
.history-graph{
	width: 10%;
	background-image: url("/static/img/graph_icon.png");
	background-repeat: no-repeat;
	background-position: center;
	
}
.history-content{
	padding-left: 20px;
	text-align: left;
}
.div-graph{
	line-height: 65px;
}

/*Modal*/
.ratings > img{
	cursor: pointer;
}
.star1{
	margin-left: 10px;
}
.confirm-area{
	width: 100%;
	height: 150px;
}
#myModal, #myModal2{
	z-index: 100500;
	top: calc( 50% - 200px );
}
.fade{
	z-index: 100400;
}
.modal-footer{
	text-align: center;
}
.txt-len{
	text-align: right;
}
.profile-btn-gray{
	width: 80px;
    height: 20px;
    line-height: 20px;
    float: left;
    color: white;
    background: linear-gradient(#AEAEAE, #969696);
    text-align: center;
    border-radius: 5px;
    border-bottom: #838383;
    /*
    -webkit-box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.7);
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.7);
    */
}
.profile-btn-gray:hover{
	cursor:pointer;
}
.profile-btn-gray:active{
	background: linear-gradient(#969696, #AEAEAE);
	padding-left:1px;0
}
.file-name{
	float: left;
	margin-left: 5px;
	max-width: 190px;
	overflow: hidden;
}
.party-agree{
	color: blue;
	margin-left: 20px;
	display: none;
}
.min-max{
	color: blue;
	margin-left: 20px;
}
.delete-file{
	float: right; 
	margin-top:5px; 
	cursor: pointer;
}
.btn-cancel{
	color: white;
	background-color: #969696;
}
.status-row {
	border: 1px solid #999999;
	padding: 10px 20px;
}
.status-id {
	float: left;
}
.status-name-orange {
	background-color: #f47f51;
	padding: 0px 20px;
	margin-left: 20px;
	color: #ffffff;
}
</style>

<div class="details-wrapper" ng-app="details_problem" ng-controller="problemCtrl" ng-init="data={{data}};init();">
	<!-- <div class="location" ng-if="list.is_tutor==1">
		Tutoring > Tutor > Lesson Status > [[ list.reservation_number ]]
	</div>
	<div class="location" ng-if="list.is_tutor==0">
		Tutoring > Tutee > Lesson Status > [[ list.reservation_number ]]
	</div> -->
	
	<div class="location" ng-if="list.is_tutor==1">
		{% trans "Lessons" %} > {% trans "As a Tutor" %} > <span class="location-hover"><a href="/tutorlessons/">{% trans "Lesson Status" %}</a></span> > <span class="location-hover"><a href="/tutorlessons/lesson/[[ list.rvid ]]/">[[ list.reservation_number ]]</a></span>
	</div>
	<div class="location" ng-if="list.is_tutor==0">
		{% trans "Lessons" %} > {% trans "As a Tutee" %} > <span class="location-hover"><a href="/tuteelessons/">{% trans "Lesson Status" %}</a></span> > <span class="location-hover"><a href="/tuteelessons/lesson/[[ list.rvid ]]/">[[ list.reservation_number ]]</a></span>
	</div>
	<div class="title">
		{% trans "Lesson Problem" %}
	</div>
	<span class="go-lesson-bt f-blue" ng-click="goBack();">{% blocktrans %} Go back to<br>Lesson Detail {% endblocktrans %}</span>
	<div class="col-md-12" style="padding: 0 5px;">
		<div class="div-row">
			<div class="sub-title">{% trans "Status" %}</div>
			<div class="status-row">
				<div class="status-id">Lesson ID : [[list.reservation_number]]</div>
				<span class="status-name-orange">[[list.status_name]]</span>
				<!--  tutor  -->
				<div ng-if="list.is_tutor==1">
					<div ng-bind-html="[[statusString]] | nl2p"></div>
				</div>
				<!--  tutee -->
				<div ng-if="list.is_tutor==0">
					<div ng-bind-html="[[statusString]] | nl2p"></div>
				</div>
<!-- 
				<div class="div-action">
					<div class="div-action-button" ng-if="list.action1 && list.is_tutor==1">
						<button ng-class="list.status == 2 || (list.status == 3 && list.status_type == 'Waiting for action') || (list.status == 4 && list.status_type == 'Waiting for action') ? 'btn-approve grey-button' : 'btn-approve blue-button' " ng-click="clickBtnAction(list.action1)" >  
							[[ list.action1 ]]
						</button>
					</div>
					<div class="div-action-button" ng-if="list.action2  && list.is_tutor==1">
						<button class="btn-approve grey-button" ng-click="clickBtnAction(list.action2)">  
							[[ list.action2 ]]
						</button>
					</div>
					<div class="div-action-button" ng-if="list.action3  && list.is_tutor==1">
						<button class="btn-approve grey-button" ng-click="clickBtnAction(list.action3)">  
							[[ list.action3 ]]
						</button>
					</div>
					<div class="div-action-button" ng-if="list.action1 && list.is_tutor==0">
						<button ng-class="(list.status == 3 && list.status_type == 'Action required') || (list.status == 4 && list.status_type == 'Action required') || list.status == 6 ? 'btn-approve blue-button' : 'btn-approve grey-button' " ng-click="clickBtnAction(list.action1)" ng-if="list.action1 && list.status ==1 && delta > 0">  
							[[ list.action1 ]]
						</button>
					</div>
					<div class="div-action-button" ng-if="list.action2  && list.is_tutor==0">
						<button class="btn-approve grey-button" ng-click="clickBtnAction(list.action2)">  
							[[ list.action2 ]]
						</button>
					</div>
				</div>
 -->
 			</div>
		</div>
		<div class="div-row">
			<div class="sub-title">{% trans "What is the problem?" %}</div>
			<div>
				<select id="what_problem" style="width: 200px;" ng-model="problem" ng-change="changeProblem();">
					<option value="" >{% trans "Select one" %}</option>
					<option value=1 >{% trans "Tutor was absent" %}</option>
					<option value=2 >{% trans "Tutee was absent" %}</option>
					<option value=3 >{% trans "Other" %}</option>
				</select>
			</div>
<!-- 
			<div ng-if="list.is_tutor==0">
				<select id="what_problem" ng-if="list.between_24_hours">
					<option value=0 disabled="disabled">{% trans "Select one" %}</option>
					<option value=1 disabled="disabled">{% trans "The tutor was absent" %}</option>
					<option value=2 disabled="disabled">{% trans "The tutor left early or was late." %}</option>
					<option value=3 disabled="disabled">{% trans "A technical failure occurred on tutor's computer." %}</option>
					<option value=4 disabled="disabled">{% trans "[Tutee only, From -24 hours from the start of the lesson]I want to cancel the lesson." %}</option>
					<option value=5 disabled="disabled">{% trans "Other" %}</option>
				</select>
				<select id="what_problem" ng-if="list.between_72_hours">
					<option value=0 disabled="disabled">{% trans "Select one" %}</option>
					<option value=1 disabled="disabled">{% trans "The tutor was absent" %}</option>
					<option value=2 disabled="disabled">{% trans "The tutor left early or was late." %}</option>
					<option value=3 disabled="disabled">{% trans "A technical failure occurred on tutor's computer." %}</option>
					<option value=4 disabled="disabled">{% trans "Other" %}</option>
				</select>
			</div>
			<div ng-if="list.is_tutor==1">
				<select id="what_problem">
					<option value=0>{% trans "Select one" %}</option>
					<option value=1>{% trans "The tutee was absent" %}</option>
					<option value=2>{% trans "The tutee left early or was late." %}</option>
					<option value=3>{% trans "A technical failure occurred on tutee's computer." %}</option>
					<option value=4>{% trans "Other" %}</option>
				</select>
			</div>
 -->
		</div>
		<div class="div-row">
			<div class="sub-title">
				{% trans "[Optional] Give more details if necessary." %}
			</div>
			<div>
				<div>
					<textarea id="details" class="confirm-area" maxlength="1000" ng-keydown="checklength();" ng-keyup="checklength();"></textarea>
				</div>
				<div class="txt-len">0 / 1000 {% trans "characters" %}</div>
			</div>
		</div>
		<div class="div-row">
			<div class="sub-title">
				{% trans "[Optional] Upload image from your computer." %}
			</div>
			<div style="border: 1px solid #999999;width: 300px;padding: 3px;height: 28px;">
				 <input type="file" id="filename" name="attfile" style="display:none" onchange="angular.element(this).scope().submitPersonalFile(this.files)"/>
		         <div class="profile-btn-gray" ng-click="attachFile();">{% trans "Choose File" %}</div>
				 <div class="file-name" >[[ file_name ]]</div>
				 <img src="/static/img/tutor/button_cancel.png" class="delete-file" ng-click="deleteFile();">
			</div>
		</div>
		<div class="div-row">
			<div class="sub-title">
			{% trans "How do you want to resolve the problem?" %} 
			</div>
			<div>
				<select id="resolve" ng-if="!(problem == 2 || problem == 3)">
					<option value=0>{% trans "Select one" %}</option>
					<option value=4>{% trans "Return all Tellpin Credits of the lesson fee to the tutee" %}</option>
					<option value=5>{% trans "Reschedule the lesson" %}</option>
				</select>
				<select id="resolve" ng-if="problem == 2">
					<option value=0>{% trans "Select one" %}</option>
					<option value=6>{% trans "Transfer all Tellpin Credits of the lesson fee to the tutor" %}</option>
					<option value=5>{% trans "Reschedule the lesson" %}</option>
				</select>
				<select id="resolve" ng-if="problem == 3" onchange="howOptionList();">
					<option value=0>{% trans "Select one" %}</option>
					<option value=7>{% trans "Return partial Tellpin Credits of the lesson fee to the tutee" %}</option>
					<option value=8>{% trans "Return all Tellpin Credits of the lesson fee to the tutee" %}</option>
					<option value=9>{% trans "Transfer all Tellpin Credits of the lesson fee to the tutor" %}</option>
					<option value=5>{% trans "Reschedule the lesson" %}</option>
				</select>
<!-- 
				<span class="party-agree">{% trans "This will need the other party’s agreement." %}</span>
 -->
			</div>
		</div>
 
		<div class="div-row" id="amount-coin" style="display: none;">
			<div class="sub-title">
			{% trans "Enter the amount" %}
			</div>
			<div>
				<input id="amount" type="number" ng-blur="checkValidCoin();" onmouseup="changeCoin(angular.element(this).scope().list.max_coin);" onkeyup="changeCoin(angular.element(this).scope().list.max_coin);"> {% blocktrans %}Coin(s) <span class="min-max">From Min. 1 Coin to Max. <span style="color: red;">[[list.max_coin]]</span> Coins </span>{% endblocktrans %}
			</div>
		</div>

		<div style="text-align: center;margin-top:20px;">
		<button class="btn bg-gray" ng-click="goBack();">{% trans "Cancel" %}</button>
		<button class="btn bg-blue" ng-click="clickSubmitProblem()">{% trans "Submit" %}</button>
		</div>
	</div>

</div>

<script src="{% static 'js/tutoring/tutoring_details_problem.js' %}"></script>

{% endblock %}
