{% extends "help_center/help_center.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Tellpin - Help Center" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/help_center/help_center_list.css' %}" />

<div class="help-center-list" ng-controller="helpCenterSubController" ng-init="initTopicList({{data}})">
	<div class="help-navigation-row">
		<a class="help-center-a" ng-click="goURL('/help/')">{% trans "Help Center" %}</a> > 
		<a class="help-center-a" ng-click="goURL('/help/pna/')">{% trans "Profile & Account" %}</a> > [[ subTopicName ]]
	</div>
	<div class="topic-list-content">
		<div class="sub-topic-row">
			<div class="sub-topic-title">
					[[ subTopicName ]]
			</div>
			<div class="sub-topic-list">
				<div class="topic-faq-list">
					<div class="topic-faq-row" ng-repeat="faq in subTopicList">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + faq.ml_id + '/' ]])">[[faq.title]]</a></div>			
				</div>
			</div>
		</div>
	</div>

</div>

<script src="{% static 'js/help_center/help_center_list.js' %}"></script>

{% endblock %}