{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<base href="/">
<title>{% block title %}{% trans "Tellpin - Help Center" %}{% endblock %}</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/help_center/help_center.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" id="medium-editor-theme"/>

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script src="{% static 'js/help_center/help_center.js' %}"></script>
</head>

<style>

.slide5-bottom-tellpin-row {
	height: 140px;
	width: 100%;
	color: white;
	text-align: center;
	background-color: #183245;
	padding-top: 5px;
 }

.slide5-div-row {
	clear: both;
	margin: auto;
	width: 300px;
	height: 30px;
	margin-top: 10px;
 }

.slide5-row2{
	width: 400px;
	margin-top:10px;
}

.slide5-row3, .slide5-row4{
	margin-top:10px;
}

.slide5-row4 > img{
	margin-left: 20px;
}

.slide5-inner-row{
	float: left;
	margin-left: 10px;
}
.slide5-inner-row2{
	float: left;
	margin-left: 40px;
}
.slide5-inner-row3{
	margin-left: 25px;
}

</style>


<body class="help-content" ng-app="helpCenterApp" ng-controller="helpCenterController">
	<div id="help-center-header">
		<div class="help-center-wrap">
			<div class="tellpin-logo" ng-click="goURL('/')">
				<img class="profile-photo" ng-src="/static/img/help_center/tellpin_logo_white.png">
			</div>
			<div class="help-center-logo" ng-click="goURL('/help/')">
				{% trans "Help Center" %}
			</div>
			<div class="header-user-menu">
			{% if request.session.name %}
				<div class="header-user-info" ng-mouseover="showHelpMenu()" ng-mouseleave="helpMenu=false">
					<div class="user-photo">
						<img class="tellpin-user-icon profile-border" ng-src="/static/img/upload/profile/{{ request.session.photo }}" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"'/>
					</div>
					<div class="user-name">
						{{ request.session.name }}
					</div>
					<div class="tellpin-caret help-center-caret"></div>
				</div>
			{% endif %}
				<div class="help-menu" ng-show="helpMenu || onMenu" ng-mouseover="onMenu=true" ng-mouseleave="onMenu=false">
					<div class="help-menu-item"><a class="help-center-a" ng-click="goURL('/help/qna/')">{% trans "My Questions" %}</a></div>
					<div class="help-menu-item"><a class="help-center-a" ng-click="goURL('/user_auth/logout/')">{% trans "Sign Out" %}</a></div>
				</div>
				<div class="go-to-tellpin" ng-click="goURL('/')">
					{% blocktrans %}Go to<br>Tellpin.com{% endblocktrans %}
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<!-- 	<div class="help-center-lang"><a class="help-center-a" ng-click="changeML(1)">English</a>&nbsp&nbsp&nbsp<a class="help-center-a" ng-click="changeML(2)">Korean</a></div> -->
	<div class="help-center-lang"></div>
	<div class="help-center-body">
		{% block body %}
		<div class="help-center-search">
			<div class="help-qna-icon"><img ng-src="/static/img/help_center/icon_qna.png"></div>
			<form id="search-faq" action="/help/search/" method="post">
				<input name="searchWord" type="hidden" value="[[searchWord]]">
			</form>
			<div class="help-search-input"><input type="text" ng-model="searchWord" id="search-data-faq"><div class="help-search-button"><img ng-src="/static/img/help_center/button_search_help_center.png" ng-click="searchFaq()"></div></div>
		</div>
		{% block content %}
		<div class="top-content-row" ng-init="initHelpCenter({{data}})">
			<div class="title-label">{% trans "Top Questions" %}</div>
			<div class="top-questions">
				<div class="top-questions-list">
					<div class="top-question-row" ng-repeat="question in topQuestions">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + question.ml_id + '/' ]])">[[ question.title ]]</a></div>
				</div>
			</div>
			<div class="contact-us">
				<div class="contact-up-title">{% trans "Contact Us" %}</div>
				<div class="contact-us-content">
					<div>
					{% if request.session.name %}
						<img class="submit-a-qeustion-hover" ng-src="/static/img/help_center/button_Submit_a_question.png" ng-click="goURL('/help/qna/write/')">
					{% else %}
						<img class="submit-a-qeustion" ng-src="/static/img/help_center/button_Submit_a_question.png">
					{% endif %}
					</div>
					<div class="help-center-phone">
					or<br>
					Call +822-3397-0084
<!-- 					<a class="help-center-a">Call +82-3397-0084</a> -->
					</div>
				</div>
			</div>
		</div>
		<div class="topics">
			<div class="topics-head-title">{% trans "Topics" %}</div>
			<div class="topics-row">
				<div class="topic-content topic-content-left">
					<div class="topic-title-row">
						<div class="topic-title-icon"><img ng-src="/static/img/help_center/icon_guide.png"></div>
						<div class="topic-title">
							{% trans "Guide & Announcements" %} <span>([[ gnas.length ]])</span>
						</div>
						<div class="topic-view-all" ng-click="goURL('/help/gna/')">{% trans "view all" %}</div>
					</div>
					<div class="topic-content-list">
						<div class="topic-content-row" ng-repeat="gna in gnas" ng-if="$index < 5">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + gna.ml_id + '/' ]])">[[ gna.title ]]</a></div>
					</div>
				</div>
				
				
				<div class="topic-content">
					<div class="topic-title-row">
						<div class="topic-title-icon"><img ng-src="/static/img/help_center/icon_profile.png"></div>
						<div class="topic-title">
							{% trans "Profile & Account" %} <span>([[ pnas.length ]])</span>
						</div>
						<div class="topic-view-all" ng-click="goURL('/help/pna/')">{% trans "view all" %}</div>
					</div>
					<div class="topic-content-list">
						<div class="topic-content-row" ng-repeat="pna in pnas" ng-if="$index < 5">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + pna.ml_id + '/' ]])">[[ pna.title ]]</a></div>
					</div>
				</div>
			</div>
			
			<div class="topics-row">
				<div class="topic-content topic-content-left">
					<div class="topic-title-row">
						<div class="topic-title-icon"><img ng-src="/static/img/help_center/icon_tutor.png"></div>
						<div class="topic-title">
							{% trans "For (Wannabe) Tutors" %} <span>([[ forTutors.length ]])</span>
						</div>
						<div class="topic-view-all" ng-click="goURL('/help/tutor/')">{% trans "view all" %}</div>
					</div>
					<div class="topic-content-list">
						<div class="topic-content-row" ng-repeat="forTutor in forTutors" ng-if="$index < 5">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + forTutor.ml_id + '/' ]])">[[ forTutor.title ]]</a></div>
					</div>
				</div>
				
				<div class="topic-content">
					<div class="topic-title-row">
						<div class="topic-title-icon"><img ng-src="/static/img/help_center/icon_tutee.png"></div>
						<div class="topic-title">
							{% trans "For Tutees" %} <span>([[ forTutees.length ]])</span>
						</div>
						<div class="topic-view-all" ng-click="goURL('/help/tutee/')">{% trans "view all" %}</div>
					</div>
					<div class="topic-content-list">
						<div class="topic-content-row" ng-repeat="forTutee in forTutees" ng-if="$index < 5">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + forTutee.ml_id + '/' ]])">[[ forTutee.title ]]</a></div>
					</div>
				</div>
			</div>
			
			<div class="topics-row">
				<div class="topic-content topic-content-left">
					<div class="topic-title-row">
						<div class="topic-title-icon"><img ng-src="/static/img/help_center/icon_tellpin_player_48x48.png"></div>
						<div class="topic-title">
							{% trans "Tellpin Player" context "help" %} <span>([[ tps.length ]])</span>
						</div>
						<div class="topic-view-all" ng-click="goURL('/help/tellpinplayer/')">{% trans "view all" %}</div>
					</div>
					<div class="topic-content-list">
						<div class="topic-content-row" ng-repeat="tp in tps" ng-if="$index < 5">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + tp.ml_id + '/' ]])">[[ tp.title ]]</a></div>
					</div>
				</div>
				
				
				<div class="topic-content">
					<div class="topic-title-row">
						<div class="topic-title-icon"><img ng-src="/static/img/help_center/icon_tellpin_search_48x48.png"></div>
						<div class="topic-title">
							{% trans "Tellpin Search" context "help" %} <span>([[ tss.length ]])</span>
						</div>
						<div class="topic-view-all" ng-click="goURL('/help/tellpinsearch/')">{% trans "view all" %}</div>
					</div>
					<div class="topic-content-list">
						<div class="topic-content-row" ng-repeat="ts in tss" ng-if="$index < 5">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + ts.ml_id + '/' ]])">[[ ts.title ]]</a></div>
					</div>
				</div>
			</div>
			
			<div class="topics-row">
				<div class="topic-content topic-content-left">
					<div class="topic-title-row">
						<div class="topic-title-icon"><img ng-src="/static/img/help_center/icon_community.png"></div>
						<div class="topic-title">
							{% trans "Community" context "help" %} <span>([[ communities.length ]])</span>
						</div>
						<div class="topic-view-all" ng-click="goURL('/help/community/')">{% trans "view all" %}</div>
					</div>
					<div class="topic-content-list">
						<div class="topic-content-row" ng-repeat="community in communities" ng-if="$index < 5">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + community.ml_id + '/' ]])">[[ community.title ]]</a></div>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
	{% endblock %}
	</div>

   	<div class="slide5-bottom-tellpin-row" style="position: absolute; top: 1324px;">
   		<div class="slide5-div-row slide5-row2">
   			<div class="slide5-inner-row">{% trans "About" %}</div>
   			<div class="slide5-inner-row2">{% trans "Help" %}</div>
   			<div class="slide5-inner-row2">{% trans "Privacy" %}</div>
   			<div class="slide5-inner-row2">{% trans "Terms" %}</div>
   			<div class="slide5-inner-row2">{% trans "Contact" %}</div>
   		</div>
   		<div class="slide5-div-row slide5-row3">
   			<div class="slide5-inner-row slide5-inner-row3">{% trans "@ 2017 Tellpin" %}</div>
   			<div class="slide5-inner-row slide5-inner-row3">{% trans "All rights reserved" %}</div>
   		</div>
<!-- 
   		<div class="slide5-div-row slide5-row4 under-logo-img">
    		<img src="{%static 'img/landingpage/logo_facebook_landing_page.png'%}">
    		<img src="{%static 'img/landingpage/logo_pinterest_landing_page.png'%}">
    		<img src="{%static 'img/landingpage/logo_google_plus_landing_page.png'%}">
   		</div>
 -->
   	</div>

</body>


<script src="{% static 'js/angularjs/angular-sanitize.js' %}"></script>
<script src="{% static 'js/angularjs/angular-clipboard.js' %}"></script>
<script src="{% static 'js/angularjs/ng-infinite-scroll.min.js' %}"></script>
<script src="{% static 'js/bootstrap/3.3.5/bootstrap.min.js' %}"></script>


</html>