{% extends "help_center/help_center.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Tellpin - Help Center" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/help_center/help_center_list.css' %}" />

<div class="help-center-list" ng-controller="helpCenterDetailController" ng-init="initTopicDetail({{data}})">
	<div class="help-navigation-row">
		<a class="help-center-a" ng-click="goURL('/help/')">{% trans "Help Center" %}</a> > 
		<a class="help-center-a" ng-click="goURL([[ '/help/'+ faq.topic_url + '/' ]])">[[ faq.topic_name ]]</a> [[ faq.sub_topic_id != null ? ' > ' : '' ]]
		<a class="help-center-a" ng-show="faq.sub_topic_id != null" ng-click="goURL([[ '/help/faq/'+ faq.sub_topic_url + '/' ]])">[[ faq.sub_topic_name ]]</a> 
	</div>
	<div class="help-detail-content">
		<div class="detail-title-row">
			<div class="help-detail-title">[[ faq.title ]]</div><div class="help-detail-time">[[ faq.created_time | displayTime:browser ]]</div>
		</div>
		<div class="help-detail-html" ng-bind-html="trustAsHtml(faq.contents)"></div>
	</div>

</div>

<script src="{% static 'js/help_center/help_center_list.js' %}"></script>

{% endblock %}