{% extends "help_center/help_center.html" %}
{% load i18n %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Tellpin - Help Center" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/help_center/help_center_list.css' %}" />

<div class="help-center-list" ng-controller="helpCenterListController" ng-init="initTopicList({{data}})">
	<div class="help-navigation-row">
		<a class="help-center-a" ng-click="goURL('/help/')">{% trans "Help Center" %}</a> > [[ topicName ]]
	</div>
	<div class="topic-list-content">
		<div class="topic-title-row">
			<div class="topic-title-row">
				<div class="topic-title-icon">
					<img ng-src="/static/img/help_center/icon_guide.png" ng-if="topicName == 'Guide & Announcements'">
					<img ng-src="/static/img/help_center/icon_profile.png" ng-if="topicName == 'Profile & Account'">
					<img ng-src="/static/img/help_center/icon_tutor.png" ng-if="topicName == 'For (Wannabe)Tutors'">
					<img ng-src="/static/img/help_center/icon_tutee.png" ng-if="topicName == 'For Tutees'">
					<img ng-src="/static/img/help_center/icon_tellpin_player.png" ng-if="topicName == 'Tellpin Player'">
					<img ng-src="/static/img/help_center/icon_tellpin_search.png" ng-if="topicName == 'Tellpin Search'">
					<img ng-src="/static/img/help_center/icon_community.png" ng-if="topicName == 'Community'">
				</div>
				<div class="topic-title-name">
					[[ topicName ]] <span>([[ topicList.length ]])</span>
				</div>
			</div>
		</div>
		<div class="sub-topic-row" ng-if="topicName == 'Profile & Account'">
			<div class="sub-topic-list">
				<div class="sub-topic-name" ng-click="goURL('/help/faq/myprofile/')">{% trans "My Profile" %}</div>
				<div class="topic-faq-list">
					<div class="topic-faq-row" ng-repeat="faq in topicList" ng-if="faq.sub_topic_id == 1">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + faq.ml_id + '/' ]])">[[faq.title]]</a></div>			
				</div>
			</div>
			<div class="sub-topic-list">
				<div class="sub-topic-name" ng-click="goURL('/help/faq/password/')">{% trans "Password" %}</div>
				<div class="topic-faq-list">
					<div class="topic-faq-row" ng-repeat="faq in topicList" ng-if="faq.sub_topic_id == 2">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + faq.ml_id + '/' ]])">[[faq.title]]</a></div>			
				</div>
			</div>
		</div>
		<div class="sub-topic-row" ng-if="topicName == 'Profile & Account'">
			<div class="sub-topic-list">
				<div class="sub-topic-name" ng-click="goURL('/help/faq/privacy/')">{% trans "Privacy" %}</div>
				<div class="topic-faq-list">
					<div class="topic-faq-row" ng-repeat="faq in topicList" ng-if="faq.sub_topic_id == 3">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + faq.ml_id + '/' ]])">[[faq.title]]</a></div>			
				</div>
			</div>
		</div>
		<div class="sub-topic-row" ng-if="topicName != 'Profile & Account'">
			<div class="sub-topic-list">
				<div class="topic-faq-list">
					<div class="topic-faq-row" ng-repeat="faq in topicList">ㆍ <a class="help-center-a" ng-click="goURL([[ '/help/faq/' + faq.ml_id + '/' ]])">[[faq.title]]</a></div>			
				</div>
			</div>
		</div>
	</div>

</div>

<script src="{% static 'js/help_center/help_center_list.js' %}"></script>

{% endblock %}