{% extends "help_center/help_center.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Tellpin - Help Center" %}{% endblock %}
{% load staticfiles %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/help_center/help_center_qna.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/input-file.css' %}" />

<div class="my_questions" ng-controller="myQuestionWriteController" ng-init="initWrite({{data}})">
	<div class="my-question-navigation">
		<a class="help-center-a" ng-click="goURL('/help/')">{% trans "Help Center" %}</a> > <span ng-hide="refID || qnaID">{% trans "Submit a Question" %}</span>
		<a class="help-center-a" ng-click="goURL('/help/qna/')" ng-show="refID || qnaID">{% trans "My Questions" %} </a> <span ng-show="refID || qnaID"> > </span>
		<a class="help-center-a" ng-click="goURL([[ '/help/qna/' + qna.qna_ref_id + '/' ]])" ng-show="qnaID">[[ qnaID ]]</a>
		<a class="help-center-a" ng-click="goURL([[ '/help/qna/' + refID + '/' ]])" ng-show="refID">[[ refID ]]</a> <span ng-show="refID"> > {% trans "Follow-Up Question" %}</span>
	</div>
	<div class="qna-write-form">
		<div class="qna-write-row" ng-hide="refID || (qna.qna_ref_id != qnaID)">
			<div class="qna-write-label">{% trans "Question Category" %}</div>
			<select class="form-control select-category" ng-model="category" ng-options="category.id as category.name for category in categoryList"></select>
		</div>
		<div class="qna-write-row" ng-hide="refID || (qna.qna_ref_id != qnaID)">
			<div class="qna-write-label">{% trans "Title" %}</div>
			<input type="text" class="form-control qna-write-title" ng-model="title">
		</div>
		<div class="qna-write-row">
			<div class="qna-write-label">{% trans "Description" %}</div>
			<textarea id="qna-write-textarea"></textarea>
		</div>
		<div class="qna-write-row" style="font-size: 13px;">
			{% blocktrans %}ㆍIf you want to refer to another <b>user</b>, please include his/her <b>User Profile URL</b> [ex. http://www.tellpin.com/user/12345680/].<br />
			ㆍIf you want to refer to a <b>tutor</b>, please include his/her <b>Tutor Profile URL</b> [ex. http://www.tellpin.com/tutor/12345680/].<br />
			ㆍIf you want to refer to a <b>lesson</b>, please include its <b>lesson ID</b> <br />
			  &nbsp;&nbsp;&nbsp;[ex. L1234567910] or <b>URL of the lesson detail page</b> [ex. http://www.tellpin.com/tuteelessons/lesson/l1234567910/].<br />
			ㆍIf you want to refer to a <b>package</b>, please include its <b>URL</b> [ex. http://www.tellpin.com/trans/12345701/].{% endblocktrans %}
		</div>
		<div class="qna-write-row">
			<div class="float-left-label">{% trans "Attachment" %}</div>
			<div class="tp-upload-file" ng-show="!attach || attach == undefined">
				<input class="upload-name" value="Find File" disabled="disabled">
				<label for="attach">{% trans "Find File" %}</label> 
				<input class="upload-hidden" id="attach" type="file" onchange="angular.element(this).scope().getWriteFile(this.files)">
			</div>
			<span ng-if="!attach || attach == undefined">{% trans "The maximum file upload size is 10.00MB." %}</span>
			<div ng-if="attach && attach != undefined"><a href="[[attach.filepath]]" target="_blank" onclick="changeBlue(this)"><img style="width: 16px; height: 16px;" src="{% static 'img/help_center/icon_attachment.png' %}">[[attach.filename]]</a>
			<img src="{% static 'img/tutor/button_wastebasket.png' %}" style="width: 14px; height: 14px; margin-left: 30px; cursor:pointer;"ng-click="deleteAttachFile(qnaID)"></div>
			
		</div>
		<div class="qna-write-btn">
			<div class="tellpin-grey-flat-button qna-write-cancel" ng-click="goURL('/help/')">{% trans "Cancel" %}</div>
			<div class="tellpin-flat-button qna-write-submit" ng-click="submitQna()" ng-if="!qnaID">{% trans "Submit" %}</div>
			<div class="tellpin-flat-button qna-write-submit" ng-click="updateQna()" ng-if="qnaID">{% trans "Submit" %}</div>
		</div>
	</div>
</div>

<script src="{% static 'js/help_center/help_center_write.js' %}"></script>
<script type="text/javascript" src="{% static 'js/writing/tinymce/tinymce.min.js' %}"></script>

<!-- input[type="file"] style  -->

<script type="text/javascript" src="{% static 'js/input-file.js' %}"></script>

<script>
tinymce.init({
    selector: "textarea#qna-write-textarea",
    plugins: [
        "advlist autolink lists link charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime table contextmenu paste"
    ],
    menubar:false,
    statusbar:false,
//    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link"
    toolbar: "insertfile undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | preview",
});

</script>

{% endblock %}