{% extends "help_center/help_center.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Tellpin - Help Center" %}{% endblock %}
{% load staticfiles %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/help_center/help_center_qna.css' %}" />
<script src="{% static 'js/help_center/help_center_qna.js' %}"></script>
<div class="my_questions" ng-controller="myQuestionDetailController" ng-init="initMyQuestion({{data}})">
	<div class="my-question-navigation">
		<a class="help-center-a" ng-click="goURL('/help/')">{% trans "Help Center" %}</a> > 
		<a class="help-center-a" ng-click="goURL('/help/qna/')">{% trans "My Questions" %}</a> > [[ myQuestion[0].qna_id ]]
	</div>
	<div class="qna_detial_list">
		<div class="my_question_title" >[[ myQuestion[0].title ]]</div>
		<div class="qna-detail_row"  ng-repeat="qna in myQuestion">
			<div class="qna-writer-img"><img ng-src="[[qna.writer_photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;"></div>
			<div class="qna-contents">
				<div class="category-row" ng-if="$index == 0"> {% trans "Category" %} : [[ categoryList[qna.cate_id].name ]]</div>
				<div class="qna-content" ng-bind-html="qna.contents"></div>
				<div class="qna-writer-info">
					<div class="writer-name">[[ qna.writer_name ]]</div>
					<div class="date">[[ qna.created_time | slice:0:16 ]]</div>
					<div style="float:left;" ng-if="qna.attach_file && qna.attach_file != undefined"><a href="[[qna.attach_file.filepath]]" target="_blank" onclick="changeBlue(this)"><img style="width: 16px; height: 16px;" src="{% static 'img/help_center/icon_attachment.png' %}">[[qna.attach_file.filename | sliceAttachName]]</a></div>
					<div class="button-row" ng-show="userID == qna.user_id">
						<form id="edit-qna-[[$index]]" action="/help/qna/edit/" method="post">
							<input name="qna_id" type="hidden" value=[[qna.qna_id]]>
						</form>
						<div class="tellpin-grey-flat-button qna-delete" ng-click="deleteQna(qna.qna_id)">{% trans "Delete" %}</div><div class="tellpin-flat-button qna-edit" ng-click="editQna($index)">{% trans "Edit" %}</div>
					</div>
				</div>
			</div>
		</div>
		<form id="follow-up-question" action="/help/qna/write/followup/" method="post">
			<input name="ref_id" type="hidden" value=[[myQuestion[0].qna_id]]>
		</form>
		<div class="ask-question">{% blocktrans %}Want to <a class="help-center-a" ng-click="followUpQuetion()">ask a follow-up question?</a>{% endblocktrans %}</div>
	</div>
</div>
{% endblock %}