{% extends "help_center/help_center.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Tellpin - Help Center" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/help_center/help_center_list.css' %}" />

<div class="help-center-list" ng-controller="helpCenterSearchController" ng-init="initSearch({{data}})">
	<div class="help-navigation-row">
		<a class="help-center-a" ng-click="goURL('/help/')">{% trans "Help Center" %}</a> > {% trans "Search Result" %}
	</div>
	<div class="search-list">
		<div class="result-count">[[faqs.length]] {% blocktrans %}Search Results for "[[ searchWord ]]"{% endblocktrans %}</div>
		<div class="search-row" ng-repeat="faq in faqs">
			<div class="search-faq-title"><a class="help-center-a" ng-click="goURL([[ '/help/faq/' + faq.ml_id + '/' ]])">[[ faq.title ]]</a></div>
			<div class="search-faq-topic">
				<a class="help-center-a" ng-click="goURL([[ '/help/'+ topicList[faq.topic_id-1].url + '/' ]])">[[ topicList[faq.topic_id-1].name ]]</a>[[faq.topic_id == 2 ? ' > ' : '' ]] 
				<a class="help-center-a" ng-click="goURL([[ '/help/faq/' + subTopicList[faq.sub_topic_id-1].url + '/' ]])">[[ subTopicList[faq.sub_topic_id-1].name ]]</a>
			</div>
			<div class="search-faq-content" ng-bind-html="faq.contents"></div>
		</div>
	</div>
</div>

<script src="{% static 'js/help_center/help_center_list.js' %}"></script>

{% endblock %}