{% extends "help_center/help_center.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Tellpin - Help Center" %}{% endblock %}
{% load staticfiles %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/help_center/help_center_qna.css' %}" />
<script src="{% static 'js/help_center/help_center_qna.js' %}"></script>
<div class="my_questions" ng-controller="myQuestionListController" ng-init="initMyQuestions({{data}})">
	<div class="my-question-navigation">
		<a class="help-center-a" ng-click="goURL('/help/')">{% trans "Help Center" %}</a> > {% trans "My Questions" %}
	</div>
	<div class="qna-status-bar">
	<div class="status-label">{% trans "Status" %}</div> <select class="form-control learning-select" ng-model="status" ng-change="changeQna()" ng-options="status.id as status.name for status in statusList"></select>
	</div>
	<div class="qna-table">
	<table id="my_questions_table">
	<thead><th class="qid">{% trans "Question ID" %}</th><th class="title">{% trans "Title" %}</th><th class="submitted">{% trans "Submitted" %}</th><th class="answered">{% trans "Answered" %}</th><th class="status">{% trans "Status" %}</th></thead>
	<tbody>
		<tr ng-repeat="question in myQuestions">
			<td>[[ question.qna_id]]</td>
			<td class="text-align-left"><a class="help-center-a" ng-click="goURL([[ '/help/qna/' + question.qna_id + '/' ]])">[[ question.title ]]</a></td>
			<td class="qna-table-date">[[ question.created_time | slice:0:10]]</td>
			<td class="qna-table-date">[[ question.created_time]]</td>
			<td>[[ statusList[question.status].name ]]</td>
		</tr>
	</tbody>
	</table>
	</div>
</div>
{% endblock %}