{% extends "base_template.html" %}
{% load i18n %}

<meta charset="UTF-8">

{% block title %}{% trans "Dashboard" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/dashboard/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/css/chosen.css" />

<style>
.tutor-schedule-backdrop{
	top:0px;
	left:0px;
	position:fixed;
	background:#353535;
	opacity:0.7;
	width:100%;
	height:100%;
	z-index: 10001;
}
#pop-profile-template {
		position: fixed;
		/* width: 310px;
		height: 360px; */
		min-width: 400px;
		border-radius: 10px;
		box-shadow: 0px 5px 10px #1b1b1b;
		top: 74px;
		left:calc(50% - 155px);
		z-index: 10002;
		background: white;
}
</style>

<div class="tutor-schedule-backdrop introPopup" onclick="end_video()"></div>
<div id="video-tutor-schedule-template" class="introPopup">
	<div class="player-close" onclick="end_video()"><img src="/static/img/community/icon_close_normal.png"></div>
	<video id="i-player" width="100%" src="/static/img/landingpage/Landing_Page_2016_04_12.mp4" frameborder="" allowfullscreen></video>
	<div class="player-content">
	<p>From Silicon Valley season 1 : episode #1 (HBO)</p>
	<p>Clicked Words : Cradle / Perpetrate / Ignorance / Dubious / Intangible</p>
	<div class="player-btn"><a href="/tellpinsearch/"><img src="/static/img/dashboard/button_about_tellpin_search.png"></a></div>
	</div>
</div>	

<div id="dashboard" ng-controller="dashboardController" ng-init="initDashboard({{language}});">
	
	<!-- kihyun 2016.04.01 -->
	<div class="tutor-schedule-backdrop" ng-if="{{request.session.level}} == 0 || {{request.session.level}} == 2"></div>
	<div id="pop-profile-template" ng-if="{{ request.session.level }} == 0 || {{request.session.level}} == 2">
	{% include "mypage/user_profile.html" %}
	</div>
	
	<div class="tutor-schedule-backdrop loading" ng-if="loading"></div>
	<div id="tutor-schedule-template2" ng-if="loading">
		<img src="{% static 'img/ajax_loading.gif' %}">
	</div>

	<div class="dash-left">
		<div class="dash-part dash-user-info">
			<div class="dash-row">
			<div class="dash-user-photo">
				<img src="/static/img/upload/profile/{{ request.session.photo }}" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" ng-if="[[profile.is_tutor]] == 1" ng-click="goURL('/settings/editprofile/')">
				<img src="/static/img/upload/profile/{{ request.session.photo }}" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" ng-if="[[profile.is_tutor]] == 0" ng-click="goURL('/settings/editprofile/')">
			</div>
			<div class="dash-user-profile">
			<div class="dash-user-name">{{ request.session.name }}</div>
			<div class="dash-user-livein " ng-show="!(profile.livingin_country_id == null || profile.livingin_country_id == 0)"><span class="dash-label">{% trans "Living in" context "nation+city" %}</span><span class="f12 f-gray-33">[[ profile.livingin_city ]] <span ng-if="profile.livingin_city != null">,</span> [[ profile.livingin_country ]]</span></div>
			</div>
			<div class="dash-edit-profile">
				<img src="static/img/dashboard/button_settings.png" ng-if="[[profile.is_tutor]] == 1" ng-click="goURL('/settings/editprofile/')">
				<img src="static/img/dashboard/button_settings.png" ng-if="[[profile.is_tutor]] == 0" ng-click="goURL('/settings/editprofile/')">
			</div>
			</div>
			
			<div class="dash-row">
			<div class="dash-text-line dash-speaks">
				<div class="dash-label" ng-click="showData();">{% trans "Speaks" %}</div>
				<span class="dash-language f12 f-gray-33" ng-repeat="speak in profile.speaks">
					[[ speak.language ]] <img class="dash-level-img" ng-src="/static/img/tutor/[[ skillImages[speak.level -1] ]]" ng-if="speak.level != null">[[ $last ? '' : ',' ]]
				</span>
			</div>
			<div class="dash-text-line dash-learning">
				<div class="dash-label">{% trans "Learning" %}</div>
				<span class="dash-language f12 f-gray-33" ng-repeat="learning in profile.learns">
					[[ learning.language ]][[ $last ? '' : ',' ]]
				</span>
			</div>
			<div class="dash-text-line dash-teaches" ng-show="teaches.length != 0">
				<div class="dash-label">{% trans "Teaches" %}</div>
				<span class="dash-language f12 f-gray-33" ng-repeat="teach in profile.teaches">
					[[ teach.language ]][[ $last ? '' : ',' ]]
				</span>
			</div>
			<div class="dash-text-line dash-teaches" ng-show="applyStatus == 0">
				<div class="tellpin-flat-button apply-tutor-button h24" ng-click="goURL('/tutor/apply/')">{% trans "Apply to be a Tutor!" %}</div>
			</div>
			<div class="dash-text-line dash-teaches" ng-show="applyStatus == 2">
				<div class="tellpin-flat-button apply-tutor-button h24">{% trans "Applied" %}</div>
			</div>
			</div>

			<div class="dash-row dash-last-row">
			<div class="dash-coin-img" ng-click="goURL( '/wallet/buy_credits/' )">
				<img src="static/img/dashboard/icon_tellpin_credits.png">
			</div>
			<div class="dash-coin-info" ng-click="goURL( '/wallet/' )" ng-if="[[profile.is_tutor]] == 1">
				<div class="dash-coin-row">
					<div class="dash-tutor-coin" ng-click="goURL( '/wallet/' )"><div class="tutors">{% trans "Tutor's" %}</div><div class="dash-tc coin-number">[[ profile.available_balance | number ]] TC</div></div>
<!-- 					<img class="dash-credits" src="static/img/dashboard/icon_credits.png" ng-click="goURL( '/wallet/buy_credits/' )"> -->
				</div>
				<div class="dash-coin-row">
					<div class="dash-tutee-coin" ng-click="goURL( '/wallet/' )"><div class="tutees">{% trans "Tutee's" %}</div><div class="dash-tc coin-number">[[ profile.tuteeTC | number ]] TC</div></div>
<!-- 					<img class="dash-withdraw" src="static/img/dashboard/icon_withdraw.png"> -->
				</div>
			</div>
			<div class="dash-coin-info" ng-click="goURL( '/wallet/' )" ng-if="[[profile.is_tutor]] == 0">
				<div class="dash-coin-row">
					<div class="dash-tutee-coin-tutee" ng-click="goURL( '/wallet/' )"><div class="tutees">{% trans "Tutee's" %}</div><div class="dash-tc-tutee coin-number">[[ profile.tuteeTC | number ]] TC</div></div>
				</div>
			</div>
			<div class="dash-coin-buttons">
			
			</div>
			</div>
		</div>

		<div class="dash-part dash-suggest">
			<div class="suggest-title f-orange">{% trans "May We Suggest ..." %}</div>
			<div class="dash-title f-orange" ng-init="">{% trans "Tutor" %} <img class="dash-refresh" ng-src="/static/img/dashboard/button_f5.png" ng-click="getSuggestTutor()"></div>
			<div class="suggest-tutor-list">
<!-- 			<div class="suggest-tutor-row" ng-repeat="tutor in suggestTutor" ng-click="goURL('/tutor/'+[[tutor.user]])"> -->
				<div class="suggest-tutor-row" ng-repeat="tutor in suggestTutor">
					<div class="suggest-tutor-img">
						<div class="dash-left-online" ng-show="tutor.is_login == 1"></div>
						<div class="pop-wrap" ng-mouseenter="userPopover( $event, tutor.user, 'right' )" ng-mouseleave="hidePopover()">
							<img class="suggest-tutor-photo" ng-src="/static/img/upload/profile/[[ tutor.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" ng-click="goURL('/tutor/'+[[tutor.user]])">
						</div>
					</div>
					<div class="suggest-tutor-info">
						<div class="suggest-tutor-name">
							<div class="tutors-name f13 f-bblue" ng-click="goURL('/tutor/' + tutor.user + '/')">[[ tutor.name ]]</div>
							<img class="dash-from-img nation-border" ng-src="/static/img/nations/[[ nationsInfo[tutor.from_country_id-1].flag_filename ]]" ng-if="nationsInfo[tutor.from_country_id-1].flag_filename">
							<!-- 별점 삭제 -->
	<!-- 					<img class="dash-rating-img" ng-src="/static/img/tutor/[[ ratingImages[ (tutor.total_rating/0.5 | number:0) ] ]]">  -->	
						</div>
						<div class="suggest-teaches-row">
							<div class="dash-label">{% trans "Teaches" %}</div>
							<span class="dash-language f12 f-gray-33" ng-repeat="tutorTeaching in tutor.teachesList">
								[[ tutorTeaching.language ]][[ $last ? '' : ',' ]]
							</span>
						</div>
						<div class="suggest-speaks-row">
							<div class="dash-label">{% trans "Speaks" %}</div>
							<span class="dash-language f12 f-gray-33" ng-repeat="tutorSpeak in tutor.speaksList">
								[[ tutorSpeak.language ]][[ $last ? '' : ',' ]]
							</span>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<div class="dash-title f-orange">{% trans "Language Exchange" %} <img class="dash-refresh" ng-src="/static/img/dashboard/button_f5.png" ng-click="getSuggestLE()"></div>
			<div class="suggest-le-list">
				<div class="suggest-tutor-row" ng-repeat="le in suggestLE">
					<div class="suggest-tutor-img">
						<div class="dash-left-online" ng-show="le.is_login == 1"></div>
						<div class="pop-wrap" ng-mouseenter="userPopover( $event, le.user, 'right' )"  ng-mouseleave="hidePopover()">
							<img class="suggest-tutor-photo" ng-src="/static/img/upload/profile/[[ le.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" ng-click="goURL('/user/'+[[le.user]])">
						</div>
					</div>
					<div class="suggest-tutor-info">
						<div class="suggest-tutor-name">
							<div class="tutors-name f13 f-bblue" ng-click="goURL('/user/' + le.user + '/')">[[ le.name ]]</div>
							<img class="dash-from-img nation-border" ng-src="/static/img/nations/[[ nationsInfo[le.from_country_id-1].flag_filename ]]" ng-if="nationsInfo[le.from_country_id-1].flag_filename">
						</div>
						<div class="suggest-teaches-row">
							<div class="dash-label">{% trans "Learning" %}</div>
							<span class="dash-language f12 f-gray-33" ng-repeat="leLearning in le.learningList">
								[[ leLearning.language ]][[ $last ? '' : ',' ]]
							</span>
						</div>
						<div class="suggest-speaks-row">
							<div class="dash-label">{% trans "Speaks" %}</div>
							<span class="dash-language f12 f-gray-33" ng-repeat="leSpeak in le.speaksList">
								[[ leSpeak.language ]][[ $last ? '' : ',' ]]
							</span>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

<!-- 
			<div class="dash-title f-orange">Language Exchange <img class="dash-refresh" ng-src="/static/img/dashboard/button_f5.png" ng-click="getSuggestLE()"></div>
			<div class="suggest-le-list">

				<div class="suggest-le-row" ng-repeat="le in suggestLE">
				 	<div class="suggest-le-img">
					 	<div class="img-template">
					 	<div class="dash-left-online" ng-show="le.is_login == 1"></div>
					 	<div class="pop-wrap" ng-mouseenter="userPopover( $event, le.user, 'right' )" ng-mouseleave="hidePopover()" style="float: none;">
					 		<img class="suggest-le-photo" ng-src="/static/img/upload/profile/[[ le.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;" ng-click="goURL('/user/'+[[le.user]])">
					 	</div>
				 		</div>
				 	</div>
					<div class="suggest-le-name"><div class="le-name f13 f-bblue">[[ le.name ]]</div> <img class="le-from-img nation-border" ng-src="/static/img/nations/[[ nationsInfo[le.from_country_id-1].flag_filename ]]" ng-if="nationsInfo[le.from_country_id-1].flag_filename"></div>
					<div class="suggest-le-learning">
						<div class="dash-label">Learning</div>
						<div class="le-learning-list">
							<div class="le-learning f12 f-gray-33" ng-repeat="leLearning in le.learningList">[[ languageInfo[leLearning.id - 1].lang_english ]][[ $last ? '' : ',' ]]</div>
						</div>
					</div>
					<div class="suggest-le-speaks">
						<div class="dash-label">Speaks</div>
						<div class="le-learning-list">
							<div class="le-learning f12 f-gray-33" ng-repeat="leSpeak in le.speaksList">[[ languageInfo[leSpeak.id - 1].lang_english ]][[ $last ? '' : ',' ]]</div>
						</div>
					</div>
				</div>
			<div class="clear"></div>
			</div>
		</div>
		
 -->		
		<div class="dash-part dash-faq">
			<div class="faq-title f-orange">{% trans "FAQ" %}<div ng-click="goURL('/help/')">{% trans "more" %}</div></div>
			<div class="faq-list">
				<div class="faq-row f12" ng-repeat="faq in FAQs">· <a class="f-gray-33" ng-click="goURL([[ '/help/faq/' + faq.ml_id + '/' ]])">[[ faq.title ]]</a></div>
			</div>
		</div>
	</div>
	
	<div class="dash-right">
		<div class="dash-right-top">
			<div class="dash-as-tabs">
				<div class="dash-tabs-row">
				<div ng-show="profile.is_tutor == 1" class="dash-tab middle-tab" ng-class="selectedAsTab == 0 ? 'selected-tab':'' " ng-click="selectedAsTab = 0">{% trans "As a Tutor" %}</div>
				<div class="dash-tab middle-tab" ng-class="selectedAsTab == 1 ? 'selected-tab':'' " ng-click="selectedAsTab = 1">{% trans "As a Tutee" %}</div>
				<div class="dash-last-tab"></div>
				</div>
				<div class="dash-tab-content">
				<div class="as-title f-orange f14">{% trans "Lesson Status" %}
					<div ng-show="selectedAsTab == 0 && tutorReservationNum != 0" ng-click="goURL('/tutorlessons/')">{% trans "view all" %}</div>
					<div ng-show="selectedAsTab == 1 && tuteeReservationNum != 0" ng-click="goURL('/tuteelessons/')">{% trans "view all" %}</div>
				</div>
				<div class="as-count-boxes">
					<div class="as-count-row">
						<div class="as-count-box count-box-left" ng-click="goLessonList('Action required')">
							<div class="as-count">[[ selectedAsTab == 0 ? reservationInfo.tutor.action_required : reservationInfo.tutee.action_required ]]</div>
							<div class="as-state">{% trans "Action Required" %}</div>
						</div>
						<div class="as-count-box" ng-click="goLessonList('Waiting for action')">
							<div class="as-count">[[ selectedAsTab == 0 ? reservationInfo.tutor.waiting_for_action : reservationInfo.tutee.waiting_for_action ]]</div>
							<div class="as-state">{% trans "Waiting for Action" %}</div>
						</div>
					</div>
					<div class="as-count-row">
						<div class="as-count-box count-box-left" ng-click="goLessonList('Not scheduled')">
							<div class="as-count">[[ selectedAsTab == 0 ? reservationInfo.tutor.not_scheduled : reservationInfo.tutee.not_scheduled ]]</div>
							<div class="as-state">{% trans "Not scheduled" %}</div>
						</div>
						<div class="as-count-box" ng-click="goLessonList('In Problem')">
						<!-- <a href="[[ selectedAsTab == 0 ? '/tutorlessons/' : '/tuteelessons/' ]]" style="text-decoration: none;"></a> -->
							<div class="as-count">[[ selectedAsTab == 0 ? reservationInfo.tutor.in_problem : reservationInfo.tutee.approved_upcoming ]]</div>
							<div class="as-state">[[ selectedAsTab == 0 ? 'In Problem' : 'In Problem' ]]</div>
						</div>
					</div>
				</div>
				<div class="upcoming-title f-orange f14">{% trans "Upcoming Lessons with ..." %}
					<div ng-show="selectedAsTab == 0 && reservationInfo.tutor.upcoming_lessons.length > 2" ng-click="goURL('/tutorlessons')">{% trans "more" %}</div>
					<div ng-show="selectedAsTab == 1 && reservationInfo.tutee.upcoming_lessons.length > 2" ng-click="goURL('/tuteelessons')">{% trans "more" %}</div>
				</div>
					<div class="upcoming-lessons-list" ng-show="selectedAsTab == 0">
						<div class="upcoming-lesson-row" ng-repeat="lessonInfo in reservationInfo.tutor.upcoming_lessons">
							<div class="upcoming-lesson-img" ng-click="goURL('/tutorlessons/lesson/'+[[lessonInfo.lesson_id]])">
								<div class="dash-left-online" ng-show="le.is_login == 1"></div>
								<img class="suggest-le-photo" ng-src="/static/img/upload/profile/[[ lessonInfo.tutee_photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
							</div>
							<div class="upcoming-lesson-info" ng-click="goURL('/tutorlessons/lesson/'+[[lessonInfo.lesson_id]])">
								<div class="upcoming-name-row">
									[[ lessonInfo.tutee_name ]] <img class="upcoming-from-img nation-border" ng-src="/static/img/nations/[[ nationsInfo[lessonInfo.tutee_from-1].flag_filename ]]" ng-if="nationsInfo[lessonInfo.tutee_from-1].flag_filename">
								</div>
								<div class="upcoming-lesson-title">[[ lessonInfo.lesson_title ]]</div>
								<div class="upcoming-lesson-time f-oragne">[[ lessonInfo.rv_date_time ]]</div>
							</div>
							<div class="upcoming-chat-button" ng-click="sendMessage( 'detail', lessonInfo.tutee_id )">
								<img class="dash-chat" ng-src="/static/img/dashboard/button_chat.png">
							</div>
						</div>
					</div>
					<div class="upcoming-lessons-list" ng-show="selectedAsTab == 1">
						<div class="upcoming-lesson-row" ng-repeat="lessonInfo in reservationInfo.tutee.upcoming_lessons">
							<div class="upcoming-lesson-img" ng-click="goURL('/tuteelessons/lesson/'+[[lessonInfo.lesson_id]])">
								<div class="dash-left-online" ng-show="le.is_login == 1"></div>
								<img class="suggest-le-photo" ng-src="/static/img/upload/profile/[[ lessonInfo.tutor_photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
							</div>
							<div class="upcoming-lesson-info" ng-click="goURL('/tuteelessons/lesson/'+[[lessonInfo.lesson_id]])">
								<div class="upcoming-name-row">
									[[ lessonInfo.tutor_name ]] <img class="upcoming-from-img nation-border" ng-src="/static/img/nations/[[ nationsInfo[lessonInfo.tutor_from-1].flag_filename ]]" ng-if="nationsInfo[lessonInfo.tutor_from-1].flag_filename">
								</div>
								<div class="upcoming-lesson-title">[[ lessonInfo.lesson_title ]]</div>
								<div class="upcoming-lesson-time f-oragne">[[ lessonInfo.rv_date_time ]]</div>
							</div>
							<div class="upcoming-chat-button" ng-click="sendMessage( 'detail', lessonInfo.tutor_id )">
								<img class="dash-chat" ng-src="/static/img/dashboard/button_chat.png">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dash-my-tabs">
				<div class="dash-tabs-row">
				<div class="dash-tab short-tab" ng-class="selectedMyTab == 0 ? 'selected-tab':'' " ng-click="selectedMyTab = 0">{% trans "Friends" %}</div>
				<div class="dash-tab short-tab" ng-class="selectedMyTab == 1 ? 'selected-tab':'' " ng-click="selectedMyTab = 1">{% trans "Tutors" %}</div>
				<div class="dash-tab short-tab" ng-class="selectedMyTab == 2 ? 'selected-tab':'' " ng-click="selectedMyTab = 2" ng-show="profile.is_tutor == 1">{% trans "Tutees" %}</div>
				<div class="dash-last-tab" ng-style="profile.is_tutor == 0 ? {'width':'104px'}:''"></div>
				</div>
				<div class="dash-tab-content">
					<div class="my-friends-list" ng-show="selectedMyTab == 0">
						<div class="my-tab-row" ng-repeat="friend in myFriends" ng-click="goURL('/user/'+[[friend.user]])">
							<div class="my-tab-photo">
								<div class="dash-left-online" ng-show="friend.is_login == 1"></div>
								<img class="suggest-le-photo" ng-src="/static/img/upload/profile/[[ friend.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
							</div>
							<div class="my-tab-info">
								<div class="my-name-row">
									<div class="my-tab-name">[[ friend.name ]]</div><img class="my-from-img nation-border" ng-src="/static/img/nations/[[ nationsInfo[friend.from_country_id-1].flag_filename ]]" ng-if="nationsInfo[friend.from_country_id-1].flag_filename">
								</div>
								<div class="my-learning-row">
									<div class="dash-label">{% trans "Learning" %}</div>
									<span class="my-learning f12 f-gray-33" ng-repeat="learning in friend.learningList">[[ learning.language ]][[ $last ? '' : ', ' ]]</span>
								</div>
							</div>
							<div class="my-chat-button">
								<img class="dash-chat" ng-src="/static/img/dashboard/button_chat.png" ng-click="sendMessage( 'detail', friend.user )">
							</div>
						</div>
					</div>
					
					<div class="my-tutors-list" ng-show="selectedMyTab == 1">
						<div class="my-tab-row" ng-repeat="tutor in myTutors" ng-click="goURL('/tutor/'+[[tutor.user]])">
							<div class="my-tab-photo">
								<div class="dash-left-online" ng-show="tutor.is_login == 1"></div>
								<img class="suggest-le-photo" ng-src="/static/img/upload/profile/[[ tutor.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
							</div>
							<div class="my-tab-info">
								<div class="my-name-row"><div class="my-tab-name">[[ tutor.name ]]</div><img class="my-from-img nation-border" ng-src="/static/img/nations/[[ nationsInfo[tutor.from_country_id-1].flag_filename ]]" ng-if="nationsInfo[tutor.from_country_id-1].flag_filename"></div>
								<div class="my-learning-row">
									<div class="dash-label">{% trans "Teaches" %}</div>
									<span class="my-learning f12 f-gray-33" ng-repeat="teaching in tutor.teachesList">[[ teaching.language ]][[ $last ? '' : ', ' ]]</span>
								</div>
							</div>
							<div class="my-chat-button">
								<img class="dash-chat" ng-src="/static/img/dashboard/button_chat.png" ng-click="sendMessage( 'detail', tutor.user )">
							</div>
						</div>
					</div>
					
					<div class="my-tutee-list" ng-show="selectedMyTab == 2">
						<div class="my-tab-row" ng-repeat="tutee in myTutees" ng-click="goURL('/user/'+[[tutee.user]])">
							<div class="my-tab-photo">
								<div class="dash-left-online" ng-show="tutee.is_login == 1"></div>
								<img class="suggest-le-photo" ng-src="/static/img/upload/profile/[[ tutee.photo_filename ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
							</div>
							<div class="my-tab-info">
								<div class="my-name-row"><div class="my-tab-name">[[ tutee.name ]]</div><img class="my-from-img nation-border" ng-src="/static/img/nations/[[ nationsInfo[tutee.from_country_id-1].flag_filename ]]" ng-if="nationsInfo[tutee.from_country_id-1].flag_filename"></div>
								<div class="my-learning-row">
									<div class="dash-label">{% trans "Learning" %}</div>
									<span class="my-learning f12 f-gray-33" ng-repeat="learning in tutee.learningList">[[ learning.language ]][[ $last ? '' : ', ' ]]</span>
								</div>
							</div>
							<div class="my-chat-button">
								<img class="dash-chat" ng-src="/static/img/dashboard/button_chat.png" ng-click="sendMessage( 'detail', tutee.user )">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dash-part dash-search-image" onclick="play_video()">
				<img ng-src="/static/img/dashboard/tellpinsearch.png">
			</div>
			<div class="dash-part dash-search-button">
				<div class="dash-search-button-left" ng-click="tellpinSearchNext('left')"><img ng-src="/static/img/mainpage/button_left.png"></div>
				<div class="dash-search-button-center f12 f-gray-64" ng-click="searchWord()">[[selectedHistory.word]]</div>
				<div class="dash-search-button-right" ng-click="tellpinSearchNext('right')"><img ng-src="/static/img/mainpage/button_right.png"></div>
			</div>
		</div>
		
		<div class="dash-right-bottom">
			<div class="dash-community-tabs">
				<div class="dash-tabs-row">
				<div class="dash-tab short-tab long-tab" ng-class="selectedCommunityTab == 0 ? 'selected-tab':'' " ng-click="selectedCommunityTab = 0">{% trans "All" %}</div>
				<div class="dash-tab short-tab long-tab" ng-class="selectedCommunityTab == 1 ? 'selected-tab':'' " ng-click="selectedCommunityTab = 1">{% blocktrans %}Language Learning<br>Board{% endblocktrans %}</div>
				<div class="dash-tab short-tab long-tab" ng-class="selectedCommunityTab == 2 ? 'selected-tab':'' " ng-click="selectedCommunityTab = 2">{% blocktrans %}Translation &<br>Proofreading{% endblocktrans %}</div>
				<div class="dash-tab short-tab long-tab" ng-class="selectedCommunityTab == 3 ? 'selected-tab':'' " ng-click="selectedCommunityTab = 3">{% blocktrans %}Language<br>Questions{% endblocktrans %}</div>
				<div class="dash-last-tab"></div>
				</div>
				<div class="dash-tab-content">
				<div class="as-title f-orange f14" ng-show="selectedCommunityTab == 0">{% trans "Recent Posts on Community" %}</div>
				<div class="as-title f-orange f14" ng-show="selectedCommunityTab != 0">{% trans "Recent Posts" %}</div>
					<div class="community-all-list" ng-show="selectedCommunityTab == 0">
						<div class="community-tab-row" ng-repeat="post in all" ng-click="goCommunityDetail(post.category, post.id)">
							<div class="community-writer-img" ng-click="goURL('/user/'+[[post.user]])">
								<div class="dash-left-online" ng-show="post.is_login == 1"></div>
								<img class="suggest-le-photo" ng-src="[[ post.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
							</div>
							<div class="community-post-info">
								<div class="community-post-desc"><div ng-class="post.best_answer_id == null ? 'dash-point' : 'dash-point-adopt-best' " ng-show="post.category != 'Board'">[[ post.best_answer_credit ]] </div>{% blocktrans %}<span ng-click="goURL('/user/'+[[post.user]])"> [[ post.name ]]</span> posted on <span>[[ post.category ]]</span>{% endblocktrans %}: <span>[[ post.title ]]</span></div>
								<div class="community-post-content">[[ post.contents | getText ]]</div>
								<div class="community-post-count f12 f-gray-64">
									<div class="post-answer-comment" ng-style="post.category == 'Board' ? {'width':'25%'}:''">
										<span ng-show="post.category != 'Board'">{% blocktrans %}[[ post.answer_count ]] answer<span ng-show="post.answer_count > 1">s</span>{% endblocktrans %} &nbsp;&nbsp;&nbsp;</span> {% blocktrans %}[[ post.comment_count ]] comment<span ng-show="post.comment_count > 1">s</span>{% endblocktrans %}
									</div>
									<div class="post-language-time f12 f-gray-64" ng-style="post.category == 'Board' ? {'width':'75%'}:''">
										{% blocktrans %}<span ng-show="post.category == 'Question' && post.translated_lang_id != post.written_lang_id"> Learning [[ languageInfo[post.translated_lang_id - 1].lang_english ]], Written in</span>
										[[ post.written_lang_name ]]{% endblocktrans %}
										<span ng-show="post.type == 'T'">&nbsp;>&nbsp;[[ post.translated_lang_name ]]</span>
										<span ng-show="post.category == 'Board'">{% blocktrans %}[[ post.learning_lang_name ]]<span ng-show="(post.learning_lang_name) != (post.explained_lang_name)">&nbsp;explained in&nbsp;[[ post.explained_lang_name ]]</span>{% endblocktrans %}</span>
										 |&nbsp;&nbsp; [[ post.updated_time | displayTime ]]
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="community-lc-list" ng-show="selectedCommunityTab == 1">
						<div class="community-tab-row" ng-repeat="lb in LBs" ng-click="goURL('/board/'+[[lb.id]])">
							<div class="community-writer-img" ng-click="goURL('/user/'+[[lb.user]])">
								<div class="dash-left-online" ng-show="lb.is_login == 1"></div>
								<img class="suggest-le-photo" ng-src="[[ lb.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
							</div>
							<div class="community-post-info">
								<div class="community-post-desc">{% blocktrans %}<span ng-click="goURL('/user/'+[[lb.user]])">[[ lb.name ]]</span> posted on <span>[[ lb.category ]]</span>{% endblocktrans %}: <span>[[ lb.title ]]</span></div>
								<div class="community-post-content">[[ lb.contents | getText ]]</div>
								<div class="community-post-count f12 f-gray-64"><div class="post-answer-comment" ng-style="lb.category == 'Board' ? {'width':'25%'}:''">{% blocktrans %}[[ lb.comment_count ]] comment<span ng-show="lb.comment_count > 1">s</span>{% endblocktrans %}</div><div class="post-language-time f12 f-gray-64" ng-style="lb.category == 'Board' ? {'width':'75%'}:''">{% blocktrans %}[[ lb.learning_lang_name ]]<span ng-show="(lb.learning_lang_name) != (lb.explained_lang_name)">&nbsp;explained in&nbsp;[[ lb.explained_lang_name ]]</span>{% endblocktrans %} |&nbsp;&nbsp; [[ lb.updated_time | displayTime ]]</div></div>
							</div>
						</div>
					</div>
					<div class="community-tp-list" ng-show="selectedCommunityTab == 2">
						<div class="community-tab-row" ng-repeat="tp in TPs" ng-click="goURL('/trans/'+[[tp.id]])">
							<div class="community-writer-img" ng-click="goURL('/user/'+[[tp.user]])">
								<div class="dash-left-online" ng-show="tp.is_login == 1"></div>
								<img class="suggest-le-photo" ng-src="[[ tp.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
							</div>
							<div class="community-post-info">
								<div class="community-post-desc"><div ng-class="tp.best_answer_id == null ? 'dash-point' : 'dash-point-adopt-best' ">[[ tp.best_answer_credit ]]</div>{% blocktrans %}<span ng-click="goURL('/user/'+[[tp.user]])">[[ tp.name ]]</span> posted on <span>[[ tp.category ]]</span>{% endblocktrans %}: <span>[[ tp.title ]]</span></div>
								<div class="community-post-content">[[ tp.contents | getText ]]</div>
								<div class="community-post-count f12 f-gray-64"><div class="post-answer-comment">{% blocktrans %}[[ tp.answer_count ]] answer<span ng-show="tp.answer_count > 1">s</span>{% endblocktrans %} &nbsp;&nbsp;&nbsp; {% blocktrans %}[[ tp.comment_count ]] comment<span ng-show="tp.comment_count > 1">s</span>{% endblocktrans %}</div><div class="post-language-time f12 f-gray-64">[[ tp.written_lang_name ]]<span ng-show="tp.type == 'T' ">&nbsp;>&nbsp;[[ tp.translated_lang_name ]]</span> |&nbsp;&nbsp; [[ tp.updated_time | displayTime ]]</div></div>
							</div>
						</div>
					</div>
					<div class="community-lq-list" ng-show="selectedCommunityTab == 3">
						<div class="community-tab-row" ng-repeat="lq in LQs" ng-click="goURL('/questions/'+[[lq.id]])">
							<div class="community-writer-img" ng-click="goURL('/user/'+[[lq.user]])">
								<div class="dash-left-online" ng-show="lq.is_login == 1"></div>
								<img class="suggest-le-photo" ng-src="[[ lq.photo ]]" onerror="javascript:this.src=&quot;/static/img/user_auth/icon_person.png&quot;">
							</div>
							<div class="community-post-info">
								<div class="community-post-desc"><div ng-class="lq.best_answer_id == null ? 'dash-point' : 'dash-point-adopt-best' ">[[ lq.best_answer_credit ]]</div>{% blocktrans %}<span ng-click="goURL('/user/'+[[lq.user]])">[[ lq.name ]]</span> posted on <span>[[ lq.category ]]</span>{% endblocktrans %}: <span>[[ lq.title ]]</span></div>
								<div class="community-post-content">[[ lq.contents | getText ]]</div>
								<div class="community-post-count f12 f-gray-64"><div class="post-answer-comment">{% blocktrans %}[[ lq.answer_count ]] answer<span ng-show="lq.answer_count > 1">s</span>{% endblocktrans %} &nbsp;&nbsp;&nbsp; {% blocktrans %}[[ lq.comment_count ]] comment<span ng-show="lq.comment_count > 1">s</span>{% endblocktrans %}</div>
									<div class="post-language-time f12 f-gray-64">
										{% blocktrans %}<span ng-show="lq.translated_lang_id != lq.written_lang_id">
											Learning [[ lq.question_lang_name ]], Written in 
										</span>
										[[ lq.written_lang_name ]]{% endblocktrans %}&nbsp;|&nbsp;&nbsp; [[ lq.updated_time | displayTime ]]
									</div>
								</div>
							</div>
						</div>
					</div>
				<!-- <div class="dash-more-button btn btn-default" ng-show="selectedCommunityTab == 0 && allShowMore">Show more</div>
				<div class="dash-more-button btn btn-default" ng-show="selectedCommunityTab == 1 && LBShowMore">Show more</div>
				<div class="dash-more-button btn btn-default" ng-show="selectedCommunityTab == 2 && PTShowMore">Show more</div>
				<div class="dash-more-button btn btn-default" ng-show="selectedCommunityTab == 3 && LQShowMore">Show more</div> -->
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/static/js/dashboard/dashboard.js"></script>

{% endblock %}