<meta charset="UTF-8" />
{% load staticfiles %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'css/tutor/tutor_reservation.css' %}" />
<style>
.schedule-table thead th{
	float:left;
}
.schedule-table tbody{
	float:left;
	width:calc(100% + 5px);
	max-height: 722px;
	overflow-y:auto;
	overflow-x:hidden;
}

.schedule-table tbody td{
	text-align:center;
	height:15px;
	border-bottom: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
}
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.bigfontsize {
    font-size: 40px;
    line-height: 0.5em;
}
#tutor-schedule-template {
	max-height: 900px;

}
</style>
<script type="text/javascript">
$(document).ready(function(){
   $(window).resize(function() {
        $('.schedule-table tbody').css('height', $("#tutor-schedule-template").height() - 175);
   });
   
   $("#tutor-schedule-template-backdrop").removeClass("displaynone");
   $("#tutor-schedule-template").removeClass("displaynone");
  
});


</script>
<div class="tr-schedule-template">
			<div id="schedule-template" ng-controller="scheduleController" ng-init="schedule = scheduleInfo.schedule; reserved = scheduleInfo.reserved; setWeekday(); setReservedTime(); initCurrentTime('{{request.session.utc_time}}');">
				<button type="button" class="close bigfontsize" data-dismiss="modal" ng-click="hideSchedulePopup()">&times;</button>
				<div class="schedule-desc" ng-click="showData()">{% trans "All times listed are in your local timezone" %}</div>
				<div class="schedule-date-info">
					<div class="schedule-prev-btn" ng-click="schedule.week_list.indexOf(scheduleInfo.today) == -1 ? getPrevWeek(tutor.user) : '' "><span ng-show="schedule.week_list.indexOf(scheduleInfo.today) == -1">< {% trans "Prev" %}</span></div>
					<div class="schedule-week-info">[[ schedule.week_list | scheduleHeaderFiler]]</div>
					<div class="schedule-next-btn" ng-click="getNextWeek(tutor.user)">{% trans "Next" %} ></div>
				</div>
				<table id="tr-shchedule" class="schedule-table" ng-mouseover="hoverIn()">
					<thead>
						<tr>
							<th>UTC {{request.session.utc_time}}</th>
							<th ng-repeat="date in schedule.week_list">[[ schedule.dow_list[$index] | capitalize ]] [[ date | scheduleDateFilter:$index ]]</th>
						</tr>
					</thead>
					<tbody ng-init="getTbodyHeight()" >
						<tr ng-repeat-start="t in [].constructor(24) track by $index" >
							<td class="time" rowspan=2 ng-if="$index == 0" ng-style="{'width':'93px'}">12:00 AM</td>
							<td class="time" rowspan=2 ng-if="($index != 0) && ($index != 12) && $index < 12" ng-style="{'width':'93px'}">[[ $index%12 ]]:00 AM</td>
							<td class="time" rowspan=2 ng-if="$index != 0 && $index != 12 && $index > 12" ng-style="{'width':'93px'}">[[ $index%12 ]]:00 PM</td>
							<td class="time" rowspan=2 ng-if="$index == 12">12:00 PM</td>
							<td  ng-style="{'width':'93px'}" ng-repeat="weekDay in weekList" ng-init="area[2*$parent.$index][weekDay].value = initAreaValue(weekDay, 2*$parent.$index) ; area[2*$parent.$index][weekDay].state = initAreaState(weekDay, 2*$parent.$index)" ng-class="[area[2*$parent.$index][weekDay].state == 1 ? 'available-td' : area[2*$parent.$index][weekDay].state == 2 ? 'selected-td' : area[2*$parent.$index][weekDay].state == 3 ? 'reserved-td' : '', area[2*$parent.$index][weekDay].isHover == 1 ? 'selected-hover-td' : '' ] " ng-click="area[2*$parent.$index][weekDay].state == 1 ? goToReservation() : area[2*$parent.$index][weekDay].state == 2 ? selectArea(2*$parent.$index, weekDay) : '' " ng-mouseover="checkAvailableTime(2*$parent.$index, weekDay)" ng-mouseleave="resetIsHover(2*$parent.$index, weekDay)"></td>
						</tr>
						<tr ng-repeat-end>
							<td ng-style="{'width':'93px'}" ng-repeat="weekDay in weekList" ng-init="area[2*$parent.$index+1][weekDay].value = initAreaValue(weekDay, 2*$parent.$index+1) ; area[2*$parent.$index+1][weekDay].state = initAreaState(weekDay, 2*$parent.$index+1)" ng-class="[area[2*$parent.$index+1][weekDay].state == 1 ? 'available-td' : area[2*$parent.$index+1][weekDay].state == 2 ? 'selected-td' : area[2*$parent.$index+1][weekDay].state == 3 ? 'reserved-td' : '', area[2*$parent.$index+1][weekDay].isHover == 1 ? 'selected-hover-td' : '' ] " ng-click="area[2*$parent.$index+1][weekDay].state == 1 ? goToReservation() : area[2*$parent.$index+1][weekDay].state == 2 ? selectArea(2*$parent.$index+1, weekDay) : '' " ng-mouseover="checkAvailableTime(2*$parent.$index+1, weekDay)" ng-mouseleave="resetIsHover(2*$parent.$index+1, weekDay)"></td>
						</tr>
					</tbody>
				</table>
				<div class="tr-desc" ng-if=" reservation.lesson.type == 0">{% trans "Are you sure to make an appointment at this time?" %}</div>
				<div class="tr-desc" ng-if=" reservation.lesson.type == 0">[[ dateString ]]</div>
			</div>
</div>