{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% blocktrans %}Tutor {{ title }}{% endblocktrans %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutor/tutor_reservation.css' %}" />
<link rel="stylesheet" href="{% static 'css/tutoring/tutor_lesson_add.css' %}" />
<link rel="stylesheet" href="{% static 'css/tutor/tutor_info.css' %}" />


<style>
.filter {
	width: 324px;
	height: 180px;
	background-color: #7f7f7f !important;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
/*	z-index: -1;    */
}
.lesson-img {
	width: 324px;
	height: 180px;
	position: absolute;
	top: 0;
	left: 0;
/*	z-index: -1;    */
	}

</style>

<div class="tr-backdrop">
<div id="tr" ng-app="trApp">
	<div id="tr-navigation" ng-controller="navigationController" ng-init="accessType = initAccessType('{{ request.session.reservation.accessType }}', {{data}}.access_type)">
	{% block navigation %}
		<div class="pc-box tr-arrow-box-start-selected" ng-show=" accessType == 0 ">{% trans "Which Lesson" %}</div><div class="mobile-box tr-mobile-box-start-selected" ng-show=" accessType == 0 "></div>
		<div class="pc-box tr-arrow-box" ng-show=" accessType == 1 || accessType == 0">{% trans "Duration & Times" %}</div><div class="mobile-box tr-mobile-box" ng-show=" accessType == 1 || accessType == 0"></div>
		<div class="pc-box tr-arrow-box">{% trans "How we meet" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box">{% trans "When we meet" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box">{% trans "Confirm" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box">{% trans "Complete" %}</div><div class="mobile-box tr-mobile-box"></div>
	{% endblock %}
	</div>
	
	<div id="tr-content">
	{% block resevation %}
	<div id="which-content" ng-controller="whichController" ng-init="init({{data}});">
		<form id="which-form" action="/tutor/reservation/dt/" method="POST" >
			<div class="tr-lesson" style="background-color: white;">
				<div class="tr-tutor-img"><img ng-src="[[reservation.tutor.photo_filename]]" onerror="javascript:this.src='/static/img/user_auth/icon_person.png'"></div>
				<div class="tr-lesson-info">
					<div class="tr-tutor-name">{% blocktrans %}Lesson with [[ reservation.tutor.name ]]{% endblocktrans %}</div>
					<div class="tr-lesson-title">[[ selectedLesson.course_name ]]</div>
				</div>
			</div>
			<div class="tr-label">{% trans "Choose a course" %}</div>
			<div class="tr-lesson-list" ng-init="setInitValue();">
				<div class="tr-lesson-row" ng-repeat="ls in reservation.course" ng-click="selectLesson(ls)" ng-class="selectedLesson.id == ls.id ? 'selected-lesson' : 'ls' ">
			
	<!-- 				<div style="position:relative" class="tr-lesson-left lesson-common hover-pointer" ng-style="{'background-image': 'url([[ls.display_color]])'}"> -->
	<!--                     <div class="clear"></div> -->
	<!-- 					<img ng-src="[[ ls.display_color ]]" alt="" class="lesson-img" /> -->
	<!-- 					<div class="filter"></div> -->
						
	<!-- 					<div class="tr-lesson-left-head"> -->
	<!-- 						<div class="tr-lesson-left-title">[[ ls.course_name ]]</div><div class="tr-bundle" ng-if="ls.bundle == 9 || ls.bundle == 2 || ls.bundle == 3">Bundle</div> -->
	<!-- 					</div> -->
	<!-- 					<div class="tr-lesson-left-desc"> -->
	<!-- 					[[ ls.language ]]<br> -->
	<!-- 					For Upper [[ ls.to_level ]] ~ [[ ls.from_level ]]<br> -->
	<!-- 					<div class="tr-resson-price"> -->
	<!--                     <div class="tr-online-icon" ng-show="ls.has_online == 1">Online</div> -->
	<!-- 					<div class="tr-online-price" ng-show="ls.has_online == 1">[[ ls.online_60m_1times_cost ]] C/Hr</div><div class="tr-offline-icon" ng-show="ls.has_offline == 1">Offline</div><div class="tr-offline-price" ng-show="ls.has_offline == 1">[[ ls.offline_60m_1times_cost ]] C/Hr</div></div> -->
	<!-- 					</div> -->
	<!-- 				</div> -->
	
					<div class="tr-lesson-left">
						<div class="lesson-title" >
							<p class="title-left" >[[ ls.course_name ]]</p>
							<div class="divClearfix"></div>
						</div>
						<div class="lesson-language">
							<span>[[ ls.language ]]</span>
						</div>
						<div class="lesson-range">
							<span>{% blocktrans %}For [[ ls.from_level ]]  <span ng-if="ls.from_level != ls.to_level">~ [[ ls.to_level ]]</span>{% endblocktrans %}</span>
						</div>
						<br />
						<div class="lesson-cost">
							<p> [[ ls.sg_60min_price ]]TC / 60{% trans "mins" %}</p>
							<div class="lesson-bundle-percent">
							</div>
						</div>
						<div class="clear"></div>
						<img ng-src="[[ ls.filepath ]]" alt="" class="lesson-img" />
						<div class="filter"></div>
					</div>					
					<div class="tr-lesson-right">
					[[ ls.course_desc ]]
					</div>
				</div>
			</div>

			<div class="tr-btn-center tr-btn-row">
<!-- 			<div class="tellpin-gray-button tr-back" ng-click="goBack()">Back</div> -->
				<div class="tellpin-flat-button h24 bg-blue tr-continue" ng-click="submitWhich()">{% trans "Continue" %}</div>
			</div>
		</form>
	</div>
	{% endblock %}
	</div>
</div>
</div>

<script src="{% static 'js/tutor/tutor_reservation.js' %}"></script>

{% endblock %}