{% extends "tutor/tutor_reservation/tutor_reservation_which.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% blocktrans %}Tutor {{ title }}{% endblocktrans %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block navigation %}
		<div class="pc-box tr-arrow-box-start" ng-show=" accessType == 0 ">{% trans "Which Lesson" %}</div><div class="mobile-box tr-mobile-box-start" ng-show=" accessType == 0 "></div>
		<div class="pc-box tr-arrow-box" ng-show=" accessType == 1 || accessType == 0">{% trans "Duration & Times" %}</div><div class="mobile-box tr-mobile-box" ng-show=" accessType == 1 || accessType == 0"></div>
		<div class="pc-box tr-arrow-box">{% trans "How we meet" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box">{% trans "When we meet" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box-selected">{% trans "Confirm" %}</div><div class="mobile-box tr-mobile-box-selected"></div>
		<div class="pc-box tr-arrow-box">{% trans "Complete" %}</div><div class="mobile-box tr-mobile-box"></div>
{% endblock %}
{% block resevation %}
<div id="confirm-content" ng-controller="confirmController" ng-init="initConfirm({{data}}); duration = {{ request.session.reservation.duration }}; bundle = {{ request.session.reservation.bundle }}; accessType = {{ request.session.reservation.accessType }}; " style="background-color: white;">
	<div class="tr-lesson">
		<div class="tr-tutor-img"><img ng-src="[[reservation.tutor.photo_filename]]" onerror="javascript:this.src='/static/img/user_auth/icon_person.png'"></div>
		<div class="tr-lesson-info">
			<div class="tr-tutor-name">{% blocktrans %}Lesson with [[ reservation.tutor.name ]]{% endblocktrans %}</div>
			<div class="tr-lesson-title">[[ reservation.course.course_name ]]</div>
			<div class="tr-lesson-bundle-info">
<!-- 			<span ng-if="{{ request.session.reservation.online_type }} == 1">Online</span> -->
<!-- 			<span ng-if="{{ request.session.reservation.online_type }} == 2">Offline</span> -->
				[[ duration ]] {% trans "min" %} X 
			<span ng-if="accessType == 3" ng-init="orders = {{ request.session.reservation.orders }}">[[ orders ]]</span>
			<span ng-if="accessType != 3">[[ bundle ]]</span> {% trans "Time(s)" %}
			</div>
		</div>
	</div>
	<div class="tr-label">{% trans "Appointment Time" %}</div>
	<div class="tr-appointment-lesson-list" ng-init="rvTime = initRvTime('{{ request.session.reservation.rv_time }}')">
		<table class="tr-tb" id="reserved-lesson-table">
			<tr>
				<th class="index"></th><th class="date">{% trans "Date" %}</th><th class="times">{% trans "Time" %}</th>
			</tr>
			<tr ng-repeat="rv in rvTime">
				<td ng-if="{{ request.session.reservation.accessType }} != 3">[[ $index+1 ]]</td>
				<td ng-if="{{ request.session.reservation.accessType }} == 3" ng-init="orders = {{ request.session.reservation.orders }}">[[ orders ]]/[[ bundle ]]</td>
				<td>[[ rv.date ]]</td><td>[[ rv.startTime ]]~[[ rv.endTime ]]</td>
			</tr>
		</table>
	</div>
	<div class="tr-desc">
		{% trans "Please confirm your purchase information and enter your password." %}
	</div>
	<div class="tr-cost" ng-if="accessType !=3">
		<div class="tr-cost-row">
			<div class="tr-cost-label">{% trans "Available Balance" %}</div><div class="tr-cost-coint"> [[ reservation.coin | number ]]TC</div>
		</div>
		<div class="tr-cost-row">
			<div class="tr-cost-label">{% trans "Total Cost" %}</div><div class="tr-cost-coint" ng-init="getTotalPrice(duration, bundle)"> [[ totalPrice | number]]TC</div>
		</div>
		<div class="grey-underline"></div>
		<div class="tr-cost-row">
			<div class="tr-cost-label">{% trans "Remaining Balance" %}</div><div class="tr-cost-coint"> [[ reservation.coin - totalPrice  | number]]TC</div>
		</div>
	</div>
	<div class="tr-desc">
		{% blocktrans %}By entering Tellpin password, you are confirming your contract to purchase an order.<br>
		You are also indicating that you have read, understood, and agree to our <span class="blue-span">Terms of Service</span> and <span class="blue-span">Privacy Policy</span>.{% endblocktrans %}
	</div>
	<form id="confirm-form" action="/tutor/reservation/complete/" method="POST">
		<div class="tr-password-check-row">
			<div class="tr-password-input"><input id="password-input" class="form-control" type="password" name="password" ng-model="reservation.password" placeholder="Password" onfocus="this.placeholder = ''" ></div><div class="tr-password-help-message" ng-if="reservation.isSuccess == 0">[[ reservation.message]]</div>
		</div>
	</form>
	<div class="tr-btn-center tr-btn-row">
			<div class="tellpin-flat-button h24 bg-gray tr-back" ng-click="goBack()">{% trans "Back" %}</div><div class="tellpin-flat-button h24 bg-blue tr-continue" ng-click="submitConfirm()">{% trans "Continue" %}</div>
	</div>
</div>
{% endblock %}