{% extends "tutor/tutor_reservation/tutor_reservation_which.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% blocktrans %}Tutor {{ title }}{% endblocktrans %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block navigation %}
		<div class="tr-arrow-box-start" ng-show=" accessType == 0 ">{% trans "Which Lesson" %}</div><div class="mobile-box tr-mobile-box-start" ng-show=" accessType == 0 "></div>
		<div class="tr-arrow-box" ng-show=" accessType == 1 || accessType == 0">{% trans "Duration & Times" %}</div><div class="mobile-box tr-mobile-box" ng-show=" accessType == 1 || accessType == 0"></div>
		<div class="tr-arrow-box">{% trans "How we meet" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="tr-arrow-box">{% trans "When we meet" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="tr-arrow-box">{% trans "Confirm" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="tr-arrow-box-selected">{% trans "Complete" %}</div><div class="mobile-box tr-mobile-box-selected"></div>
{% endblock %}
{% block resevation %}
<div id="complete-content" ng-controller="completeController" ng-init="accessType = {{data}}.access_type" style="background-color: white;">
	<div class="tr-header-text" ng-click="showData()">
		{% trans "You have successfully booked your lesson!" %}
	</div>
	<div class="complete-desc">
		<div class="tr-desc">
			{% trans "We’ll inform the tutor of your appointment right away." %}
		</div>
		<div class="tr-desc">
			{% trans "The tutor has to approve or decline your appointment within 48 hours from now(before the lesson's start time if the start time is less than 48 hours away from now)." %}<br>
			{% trans "Once the tutor makes a decision, we'll notify you of this instantly." %}<br>
			{% trans "If the tutor doesn't do anything within 48 hours(before the lesson's start time if the start time is less than 48 hours away from now) or declines to give a lesson, your appointment will be automatically canceled and Tellpin credits will be returned 100% instantly." %}<br> 
			{% trans "Of course, any tutee can't book a lesson at your scheduled time till the tutor makes a decision or the lesson is canceled." %}
		</div>
		<div class="tr-desc">
			{% trans "If you want to change the date/time of the lesson or cancel the request, you can do so only when there are more than 24 hours left before the lesson starts." %}<br>
			{% trans "If you want to cancel the lesson request within 24 hours of the lesson's start time, you need to reach an agreement on cancelation with your tutor on Lesson Message first. If you send us an email to help@tellpin.com with Lesson Detail page's URL, Tellpin staff will proceed the cancelation." %}
		</div>
		<div class="tr-desc">
			{% trans "Your Tellpin credits are now held safely by Tellpin." %}<br>
			{% trans "Only after you confirm that 'the lesson is complete' will Tellpin then transfer the Tellpin credits to the tutor." %}
		</div>
	</div>
	<div class="tr-btn-center tr-btn-row-done">
			<div class="tellpin-flat-button h24 bg-blue tr-continue" ng-click="goNext('/tuteelessons/')">{% trans "Done" %}</div>
	</div>

</div>
{% endblock %}