{% extends "tutor/tutor_reservation/tutor_reservation_which.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% blocktrans %}Tutor {{ title }}{% endblocktrans %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block navigation %}
		<div class="pc-box tr-arrow-box-start" ng-show=" accessType == 0 ">{% trans "Which Lesson" %}</div><div class="mobile-box tr-mobile-box-start" ng-show=" accessType == 0 "></div>
		<div class="pc-box tr-arrow-box" ng-show=" accessType == 1 || accessType == 0">{% trans "Duration & Times" %}</div><div class="mobile-box tr-mobile-box" ng-show=" accessType == 1 || accessType == 0"></div>
		<div class="pc-box tr-arrow-box">{% trans "How we meet" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box-selected">{% trans "When we meet" %}</div><div class="mobile-box tr-mobile-box-selected"></div>
		<div class="pc-box tr-arrow-box">{% trans "Confirm" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box">{% trans "Complete" %}</div><div class="mobile-box tr-mobile-box"></div>
{% endblock %}
{% block resevation %}
<script>
$(document).ready(function() {
	
	$(".tr-schedule-template table tbody tr").hover(function() {
		$(this).prev().find(".time").css("background", "#ececec");
		
	}, function() {
		$(this).prev().find(".time").css("background", "none");
	});
});

</script>
<div id="when-content" ng-controller="whenController" ng-init = "initWhen({{data}}); " style="background-color: white;">
<form id="when-form" action="/tutor/reservation/confirm/" method="POST">
		<div class="tr-lesson" ng-if="reservation.course != null">
			<div class="tr-tutor-img"><img ng-src="[[reservation.tutor.photo_filename]]" onerror="javascript:this.src='/static/img/user_auth/icon_person.png'"></div>
			<div class="tr-lesson-info">
				<div class="tr-tutor-name">{% blocktrans %}Lesson with [[ reservation.tutor.name ]]{% endblocktrans %}</div>
				<div class="tr-lesson-title">[[ reservation.course.course_name ]]</div>
				<div class="tr-lesson-bundle-info">
<!-- 				<span ng-if="{{ request.session.reservation.online_type }} == 1">Online</span> -->
<!-- 				<span ng-if="{{ request.session.reservation.online_type }} == 2">Offline</span> -->
				{{ request.session.reservation.duration }} {% trans "min" %} X 
				<span ng-if="{{request.session.reservation.accessType}} == 3">{{ request.session.reservation.orders }}</span>
				<span ng-if="{{request.session.reservation.accessType}} != 3">{{ request.session.reservation.bundle }}</span> {% trans "Time(s)" %}</div>
			</div>
		</div>
		<div class="tr-desc" ng-if="reservation.course != null">
			{% trans "Click on your available time(light green blocks) in the Schedule below." %}<br>
			<span class="mobile-hide-span">{% blocktrans %}You can schedule each lesson at least 24 hours in advance. As long as there are more than 24 hours until the lesson begins, <br>
			you can 'Reschedule(Change date/time)' or 'Unschedule(Change the lesson to 'Not Scheduled' status)' each lesson. <br>
			 Therefore, we advise you to schedule upcoming first few lessons now and next lessons later.{% endblocktrans %}</span>
		</div>
		<div ng-if="reservation.course != null" class="tr-selected-lesson-list" ng-controller="selectedListController" ng-init="bundle={{ request.session.reservation.bundle }};">
			<div class="tr-help-message">
			{% blocktrans %}You appointed [[ selectedList.length ]] lesson(s) among {{ request.session.reservation.bundle }} lesson(s) now.{% endblocktrans %}
			</div>
			<table class="tr-tb" id="appointed-lesson-table">
				<tr>
					<th class="index"></th><th class="date">{% trans "Date" %}</th><th class="times">{% trans "Time" %}</th><th class="delete">{% trans "Delete" %}</th>
				</tr>
				<tr ng-repeat="item in selectedList">
					<td>[[ $index+1 ]]</td><td>[[ item.date | selectedTableFilter ]]</td><td>[[ item.startTime ]]~[[ item.endTime ]]</td><td><div class="at-delete" ng-click="deleteReservation($index)">x</div></td>
				</tr>
			</table>
		</div>
		<div class="tr-trial-desc" ng-if="reservation.course == null">
			{% trans "Click on your available time(light green blocks) in the Schedule below." %}
		</div>
		<div class="tr-schedule-template">
			<div id="schedule-template" ng-controller="scheduleController" ng-init="bundle={{request.session.reservation.bundle}}; duration = {{request.session.reservation.duration}}; accessType = {{request.session.reservation.accessType}}; schedule = {{ data }}.schedule; reserved={{ data }}.reserved; setWeekday(); setReservedTime(); initCurrentTime('{{request.session.utc_time}}'); rv_time={{ data }}.rv_time; setSelectTime();">
				<div class="schedule-desc">{% trans "All times listed are in your local timezone" %}</div> 
				<div class="schedule-date-info">
					<div class="schedule-prev-btn" ng-click="schedule.week_list.indexOf(reservation.today) == -1 ? getPrevWeek() : '' "><span ng-show="schedule.week_list.indexOf(reservation.today) == -1">< {% trans "Prev" %}</span></div>
					<div class="schedule-week-info">[[ schedule.week_list | scheduleHeaderFiler]]</div>
					<div class="schedule-next-btn" ng-click="getNextWeek()">{% trans "Next" %} ></div>
				</div>
				<table id="tr-shchedule" class="schedule-table">
					<thead>
						<tr>
							<th>UTC {{request.session.utc_time}}</th>
							<th ng-repeat="date in schedule.week_list">[[ schedule.dow_list[$index] | capitalize ]] [[ date | scheduleDateFilter:$index ]]</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="t in [].constructor(24) track by $index">
							<td class="time" rowspan=2 ng-if="$index == 0">12:00 AM</td>
							<td class="time" rowspan=2 ng-if="($index != 0) && ($index != 12) && $index < 12">[[ $index%12 ]]:00 AM</td>
							<td class="time" rowspan=2 ng-if="$index != 0 && $index != 12 && $index > 12">[[ $index%12 ]]:00 PM</td>
							<td class="time" rowspan=2 ng-if="$index == 12">12:00 PM</td>
							<td ng-repeat="weekDay in weekList" ng-init="area[2*$parent.$index][weekDay].value = initAreaValue(weekDay, 2*$parent.$index) ; area[2*$parent.$index][weekDay].state = initAreaState(weekDay, 2*$parent.$index)" ng-class="[area[2*$parent.$index][weekDay].state == 1 ? 'available-td' : area[2*$parent.$index][weekDay].state == 2 ? 'selected-td' : area[2*$parent.$index][weekDay].state == 3 ? 'reserved-td' : '', area[2*$parent.$index][weekDay].isHover == 1 ? 'selected-hover-td' : '' ] " ng-click=" area[2*$parent.$index][weekDay].state == 1 ? selectArea(2*$parent.$index, weekDay) : area[2*$parent.$index][weekDay].state == 2 ? selectArea(2*$parent.$index, weekDay) : '' " ng-mouseover="checkAvailableTime(2*$parent.$index, weekDay)" ng-mouseleave="resetIsHover(2*$parent.$index, weekDay)"></td>
						</tr>
						<tr ng-repeat-end>
							<td ng-repeat="weekDay in weekList" ng-init="area[2*$parent.$index+1][weekDay].value = initAreaValue(weekDay, 2*$parent.$index+1) ; area[2*$parent.$index+1][weekDay].state = initAreaState(weekDay, 2*$parent.$index+1)" ng-class="[area[2*$parent.$index+1][weekDay].state == 1 ? 'available-td' : area[2*$parent.$index+1][weekDay].state == 2 ? 'selected-td' : area[2*$parent.$index+1][weekDay].state == 3 ? 'reserved-td' : '', area[2*$parent.$index+1][weekDay].isHover == 1 ? 'selected-hover-td' : '' ] " ng-click=" area[2*$parent.$index+1][weekDay].state == 1 ? selectArea(2*$parent.$index+1, weekDay) : area[2*$parent.$index+1][weekDay].state == 2 ? selectArea(2*$parent.$index+1, weekDay) : '' " ng-mouseover="checkAvailableTime(2*$parent.$index+1, weekDay)" ng-mouseleave="resetIsHover(2*$parent.$index+1, weekDay)"></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td>UTC {{request.session.utc_time}}</td>
							<td ng-repeat="date in schedule.week_list">[[ schedule.dow_list[$index] | capitalize ]] [[ date | scheduleDateFilter:$index ]]</td>
						</tr>
					</tfoot>
				</table>
				<div class="tr-trial-desc" ng-if="reservation.course == null">{% trans "Are you sure to make an appointment at this time?" %}</div>
				<div class="tr-trial-desc" ng-if="reservation.course == null">[[ dateString ]]</div>
			</div>
		</div>
</form>
		<div class="tr-btn-center tr-btn-row">
			<div class="tellpin-flat-button h24 bg-gray tr-back" ng-click="goBack()">{% trans "Back" %}</div><div class="tellpin-flat-button h24 bg-blue tr-continue" ng-click="submitWhen()">{% trans "Continue" %}</div>
		</div>
</div>
{% endblock %}