{% extends "tutor/tutor_reservation/tutor_reservation_which.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% blocktrans %}Tutor {{ title }}{% endblocktrans %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block navigation %}
		<div class="pc-box tr-arrow-box-start" ng-show=" accessType == 0 ">{% trans "Which Lesson" %}</div><div class="mobile-box tr-mobile-box-start" ng-show=" accessType == 0 "></div>
		<div class="pc-box tr-arrow-box" ng-show=" accessType == 1 || accessType == 0">{% trans "Duration & Times" %}</div><div class="mobile-box tr-mobile-box" ng-show=" accessType == 1 || accessType == 0"></div>
		<div class="pc-box tr-arrow-box-selected">{% trans "How we meet" %}</div><div class="mobile-box tr-mobile-box-selected"></div>
		<div class="pc-box tr-arrow-box">{% trans "When we meet" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box">{% trans "Confirm" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box">{% trans "Complete" %}</div><div class="mobile-box tr-mobile-box"></div>
{% endblock %}
{% block resevation %}
<div id="how-content" ng-controller="howController" ng-init="initHow({{data}});" style="background-color: white;">
	<div id="tr-how-online" ng-if=" reservation.purchase == true">
	<form id="how-online" action="/tutor/reservation/when/" method="post">
		<div class="tr-label" ng-click="showData()">{% trans "Choose which tool you want to use." %}</div>
		<div class="tr-tool-select">
			<div class="tool-select-box">
				<select class="form-control" name="tool" id="tools-id">
					<option value="0">{% trans "select tool" %}</option>
					<option ng-if="reservation.tools[0].skype == 1" value="1">{% trans "Skype" %}</option>
					<option ng-if="reservation.tools[1].facetime == 1" value="3">{% trans "FaceTime" %}</option>
					<option ng-if="reservation.tools[2].hangout == 1" value="2">{% trans "HangOut" %}</option>
					<option ng-if="reservation.tools[3].qq == 1" value="4">{% trans "QQ" %}</option>
				</select>
			</div>
			<div class="tool-input-id"><input id="tool-info-input" name="tool_info" class="form-control" type="text" placeholder="ID" ng-model="reservation.r_tool_info"></div>
		</div>
		<div class="tr-label"> 
			 {% trans "Send a message to your tutor how you'd like to customise the lesson(s) to suit your needs." %}<br>
			 {% trans "You can also introduce yourself or describe your language proficiency." %}<br>
			 {% trans "If you want to share your own material(script for presentation, resume, essay,etc) for lesson, you can do so later by adding your tutor's ID on Messenger(Skype, etc.)" %}
		 </div>
		<textarea id="optional-textarea" name="message" placeholder="Optional" ng-model="reservation.message"></textarea>
	</form>
	</div>
<!--
offline 
	<form id="how-offline" action="/tutor/reservation/when/" method="post">
	<div id="tr-how-offline" ng-if="reservation.purchase == true && onlineType == 2">
		<div class="tr-label" ng-click="showData()">{% trans "Tutor's Comment" %}</div>
		<div class="tutor-comment">
		[[ reservation.tools.comment ]]
		</div>
		<div class="tr-label">{% trans "Based on the tutor's comment, send a detailed message to the tutor on location." %}</div>
		<textarea id="tutee-detail-textarea" name="message" placeholder="Ex) 강남역 10번 출구 나오자마자에 있는 엔제리너스 2층에서 하기로해요. 제 카톡 아이디는 ~~~니 도착하면 연락주세요"></textarea>
	</div>
	</form>
 -->
	<div class="tr-btn-center tr-btn-row" ng-click="showData()">
		<div class="tellpin-flat-button h24 bg-gray tr-back" ng-if="{{request.session.reservation.accessType}} != 3" ng-click="goBack()">{% trans "Back" %}</div>
		<div class="tellpin-flat-button h24 bg-blue tr-continue" ng-click="submitHow()">{% trans "Continue" %}</div>
	</div>
</div>
{% endblock %}