{% extends "tutor/tutor_reservation/tutor_reservation_which.html" %}
{% load i18n %}
<meta charset="UTF-8" />
{% block title %}{% blocktrans %}Tutor {{ title }}{% endblocktrans %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block navigation %}
		<div class="pc-box tr-arrow-box-start" ng-show=" accessType == 0 ">{% trans "Which Lesson" %}</div><div class="mobile-box tr-mobile-box-start" ng-show=" accessType == 0 "></div>
		<div class="pc-box tr-arrow-box-selected" ng-show=" accessType == 1 || accessType == 0">{% trans "Duration & Times" %}</div><div class="mobile-box tr-mobile-box-selected" ng-show=" accessType == 1 || accessType == 0"></div>
		<div class="pc-box tr-arrow-box">{% trans "How we meet" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box">{% trans "When we meet" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box">{% trans "Confirm" %}</div><div class="mobile-box tr-mobile-box"></div>
		<div class="pc-box tr-arrow-box">{% trans "Complete" %}</div><div class="mobile-box tr-mobile-box"></div>
{% endblock %}
{% block resevation %}

<link rel="stylesheet" type="text/css" href="{% static 'css/wallet/buy_coin.css' %}" />

<div id="dt-content" ng-controller="dtController" ng-init="initDT({{data}});">

<form id="dt-form" action="/tutor/reservation/how/" method="POST" style="background-color: white;">
	<div class="tr-lesson">
		<div class="tr-tutor-img"><img ng-src="[[reservation.tutor.photo_filename]]" onerror="javascript:this.src='/static/img/user_auth/icon_person.png'"></div>
		<div class="tr-lesson-info">
			<div class="tr-tutor-name">{% blocktrans %}Lesson with [[ reservation.tutor.name ]]{% endblocktrans %}</div>
			<div class="tr-lesson-title">[[ reservation.course.course_name ]]</div>
			<div class="tr-lesson-bundle-info">
<!-- 				<span ng-if="onlineType == 1">Online</span> -->
<!-- 				<span ng-if="onlineType == 2">Offline</span> -->
				[[ duration ]] {% trans "min" %} X [[ bundle ]] {% trans "Time(s)" %}
			</div>
		</div>
	</div>
	<div class="tr-label" ng-click="showData()">{% trans "Choose one duration & times set." %}</div>
	<div class="tr-table-list">
		<div class="tr-table-row" ng-init="setOnlineBundleRowSpan()">
			<div class="tr-table">
				<table class="tr-tb" id="dt-table">
					<tr>
						<th class="th-duration">{% blocktrans %}Duration<br>(minutes){% endblocktrans %}</th>
						<th class="th-time">{% trans "Time(s)" %}</th>
						<th class="th-coin">{% trans "Tellpin Credits" %}</th>
						<th class="th-usd">[[currency_user]]</th>
						<th class="th-save">{% trans "Save" %}</th>
						<th class="th-radiobtn"></th>
					</tr>
					<tr ng-if="reservation.course.course_has_30min == 1">
						<td rowspan="[[ pkg_30min_times ]]">30</td><td>1</td><td>[[reservation.course.sg_30min_price]]</td><td>[[reservation.course.sg_30min_price * currency / 10 || 0 | number]]</td><td>-</td><td><div class="tr-radio" ng-click="selectBundle(30, 1, reservation.course.sg_30min_price)" ng-class="duration == 30 && bundle == 1 ? 'tr-selected-radio' : '' "></div></td>
					</tr>
					<tr ng-if="reservation.course.course_has_30min == 1 && reservation.course.pkg_30min_times != 0">
						<td>[[reservation.course.pkg_30min_times]]</td><td>[[reservation.course.pkg_30min_price]]</td><td>[[reservation.course.pkg_30min_price * currency / 10 || 0 | number]]</td><td>[[( ((reservation.course.sg_30min_price * pkg_30min_times)- (reservation.course.pkg_30min_price * pkg_30min_times)) / (reservation.course.sg_30min_price * reservation.course.pkg_30min_times) ) * 100 | number:2]]%</td><td><div class="tr-radio" ng-click="selectBundle(30, reservation.course.pkg_30min_times, reservation.course.pkg_30min_price)" ng-class="duration == 30 && bundle == reservation.course.pkg_30min_times ? 'tr-selected-radio' : '' "></div></td>
					</tr>
					<tr ng-if="reservation.course.course_has_60min == 1">
						<td rowspan="[[ pkg_60min_times ]]">60</td><td>1</td><td>[[reservation.course.sg_60min_price]]</td><td>[[reservation.course.sg_60min_price * currency / 10 || 0 | number]]</td><td>-</td><td><div class="tr-radio" ng-click="selectBundle(60, 1, reservation.course.sg_60min_price)" ng-class="duration == 60 && bundle == 1 ? 'tr-selected-radio' : '' "></div></td>
					</tr>
					<tr ng-if="reservation.course.course_has_60min == 1 && reservation.course.pkg_60min_times != 0">
						<td>[[reservation.course.pkg_60min_times]]</td><td>[[reservation.course.pkg_60min_price]]</td><td>[[reservation.course.pkg_60min_price * currency / 10 || 0 | number]]</td><td>[[( ((reservation.course.sg_60min_price * pkg_60min_times)- (reservation.course.pkg_60min_price * pkg_60min_times)) / (reservation.course.sg_60min_price * reservation.course.pkg_60min_times) ) * 100 | number:2]]%</td><td><div class="tr-radio" ng-click="selectBundle(60, reservation.course.pkg_60min_times, reservation.course.pkg_60min_price)" ng-class="duration == 60 && bundle == reservation.course.pkg_60min_times ? 'tr-selected-radio' : '' "></div></td>
					</tr>
					<tr ng-if="reservation.course.course_has_90min == 1">
						<td rowspan="[[ pkg_90min_times ]]">90</td><td>1</td><td>[[reservation.course.sg_90min_price]]</td><td>[[reservation.course.sg_90min_price * currency / 10 || 0 | number]]</td><td>-</td><td><div class="tr-radio" ng-click="selectBundle(90, 1, reservation.course.sg_90min_price)" ng-class="duration == 90 && bundle == 1 ? 'tr-selected-radio' : '' "></div></td>
					</tr>
					<tr ng-if="reservation.course.course_has_90min == 1 && reservation.course.pkg_90min_times != 0">
						<td>[[reservation.course.pkg_90min_times]]</td><td>[[reservation.course.pkg_90min_price]]</td><td>[[reservation.course.pkg_90min_price * currency / 10 || 0 | number]]</td><td>[[( ((reservation.course.sg_90min_price * pkg_90min_times)- (reservation.course.pkg_90min_price * pkg_90min_times)) / (reservation.course.sg_90min_price * reservation.course.pkg_90min_times) ) * 100 | number:2]]%</td><td><div class="tr-radio" ng-click="selectBundle(90, reservation.course.pkg_90min_times, reservation.course.pkg_90min_price)" ng-class="duration == 90 && bundle == reservation.course.pkg_90min_times ? 'tr-selected-radio' : '' "></div></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="tr-btn-center tr-btn-row">
		<div class="tellpin-flat-button h24 bg-gray tr-back" ng-click="goBack()">{% trans "Back" %}</div><div class="tellpin-flat-button h24 bg-blue tr-continue" ng-click="clickContinue()">{% trans "Continue" %}</div>
	</div>
</form>



<!-- kihyun -->
<div class="modal fade" id="checkBalance" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm hide-modal pay-wrapper">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Buy Tellpin Credits!" %}</h4>
			</div>
			<div class="modal-body pay-container">
				<div class="container">
					<div class="wrapper">
						<div class="div-row">
							<div class="title-left div-box">{% trans "Current Balance" %} [[coin_history[0].available_balance]]TC</div>
							<div class="divClearfix"></div>
						</div>
						<div class="div-row">
							<div class="title-left">{% trans "1) How Many Tellpin Credits do you want to buy?" %}</div><div class="divClearfix"></div>
						</div>
						<div class="div-row">
							<div class="title-left">
								<select id="id_coin" onchange="change_coin()">
									<option value="50" selected="selected"> 50TC = 5USD</option>
									<option value="100"> 100TC = 10USD</option>
									<option value="150"> 150TC = 15USD</option>
									<option value="1000"> 1000TC = 100USD</option>
								</select>
							</div>
							<div class="divClearfix"></div>
						</div>
						<div class="div-row div-multi-row">
							<div class="title-left">
								{% blocktrans %}<div class="div-content">If you buy a larger amount of Tellpin Credits at once, you can reduce the processing fee which will be</div> 
								<div class="div-content">deducted by payment partners (e.g., Credit/Debit card, Paypal) </div>
								<div class="div-content"><a>See processing fee</a></div>{% endblocktrans %}  
							</div>
							<div class="divClearfix"></div>
						</div>
						<div class="div-row">
							<div class="title-left">{% trans "2) How will you pay?" %}</div>
							<div class="divClearfix"></div>
						</div>
						<div class="div-row div-pay">
							<div class="title-left ">
								<div class="div-row">
									<div class="title">{% trans "Name on card" %}</div>
									<div class="div-input"><input type="text" class="input"></div>
								</div>
								<div class="div-row">
									<div class="title">{% trans "Credit card number" %}</div>
									<div class="div-input"><input type="text" class="input"></div>
								</div>
								<div class="div-row">
									<div class="title">
										<div class="col-xs-5">{% trans "Month" %}</div>
										<div class="col-xs-1"></div>
										<div class="col-xs-3">{% trans "Year" %}</div>
										<div class="col-xs-1"></div>
										<div class="col-xs-2">{% trans "CVC" %}</div>
										<div class="divClearfix"></div>
									</div>
									<div class="div-input">
										<div class="col-xs-5"><input type="text" style="width: 100%;"></div>
										<div class="col-xs-1"></div>
										<div class="col-xs-3"><input type="text" style="width: 100%;"></div>
										<div class="col-xs-1"></div>
										<div class="col-xs-2"><input type="text" style="width: 100%;"></div>
										<div class="divClearfix"></div>
									</div>
								</div>
								<div class="div-row div-checkout">
									<a class="btn btn-default btn-checkout">{% trans "Complete Secure Checkout" %}</a>
								</div>
								<div class="div-row div-checkout">
									<a class="btn btn-default col-xs-2">Visa</a>
									<a class="btn btn-default col-xs-2">card</a>
									<a class="btn btn-default col-xs-2">BC</a>
									<a class="btn btn-default col-xs-2">Card</a>
									<a class="btn btn-default col-xs-2">MS</a>
									<a class="btn btn-default col-xs-2">Card</a>
									<div class="divClearfix"></div>
								</div>
								<div class="div-row div-checkout">
									{% trans "or" %}
								</div>
								<div class="div-row div-checkout">
									<a class="btn btn-default btn-checkout">{% trans "Complete Secure Checkout" %}</a>
								</div>
							</div>
							<div class="divClearfix"></div>
						</div>
						<div class="div-row">
							<div class="title-left">{% trans "3) Confirm your order" %}</div>
							<div class="divClearfix"></div>
						</div>
						<div class="div-row div-confirm">
							<div class="title-left ">
								<div class="div-row">
									<div class="title">{% trans "Previous Balance" %}</div>
									<div class="content" id="prev_coin">[[coin_history[0].available_balance]]</div>
									<div class="divClearfix"></div>
								</div>
								<div class="div-row">
									<div class="title">{% trans "Purchasing Tellpin Credits" %}</div>
									<div class="content" id="buy_coin"></div>
									<div class="divClearfix"></div>
								</div>
								<div class="div-row">
									<div class="title">{% trans "Balance after purchase" %}</div>
									<div class="content" id="after_coin"></div>
									<div class="divClearfix"></div>
								</div>
								<div class="div-row">
									<div class="title"></div>
									<div class="content"></div>
									<div class="divClearfix"></div>
								</div>
								<div class="div-row">
									<div class="title">{% trans "Purchasing Amount" %}</div>
									<div class="content" id="purchase_amount"></div>
									<div class="divClearfix"></div>
								</div>
								<div class="div-row">
									<div class="title">{% trans "Processing Fee" %}</div>
									<div class="content" id="fee">0.34 USD</div>
									<div class="divClearfix"></div>
								</div>
								<div class="div-row">
									<div class="title">{% trans "Total Amount" %}</div>
									<div class="content" id="total_amount"></div>
									<div class="divClearfix"></div>
								</div>
								
								<div class="div-row">
									<div class="title">{% trans "Payment method" %}</div>
									<div class="content">{% trans "Credit Card / Paypal" %}</div>
									<div class="divClearfix"></div>
								</div>
							</div>
							<div class="divClearfix"></div>
						</div>
						<div class="div-row">
							<div class="title-left"><a class="btn btn-default btn-confirm" ng-click="openBuyCoinModal()">{% trans "Done" %}</a></div><div class="divClearfix"></div>
						</div>
					</div>
				</div>
				
				
				
			</div>
			<!--div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="addHide( 0 )">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="sendHide()">Yes</button>
			</div-->
		</div>
	</div>
</div>

</div>

<script src="{% static 'js/wallet/buy_coin.js' %}"></script>

{% endblock %}