{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Tutor" %} : {% trans "My Courses" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/tutoring/angular-toggle-switch-bootstrap-3.css' %}" />
<link rel="stylesheet" href="{% static 'css/tutor/tutor_info.css' %}" />
<link rel="stylesheet" href="{% static 'css/tutoring/tutor_mylesson.css' %}" />
<link rel="stylesheet" href="{% static 'css/tutoring/tutor_schedule.css' %}" />

<div class="tutor-schedule-content">
<div class="tutor-schedule-container" ng-controller="myLessonCtrl">
	<div class="col-xs-2 mylesson-side">
		{% include 'tutoring/tutoring_menu.html' %}
	</div>
	<div class="col-xs-10 mylesson-content" ng-app="myLessonApp" ng-controller="myLessonCtrl" ng-init="init( {{ data }} )">
		<div class="mobile-show mobile-trial-top">
			<div class="trial-wrap-1">
				<p>{% blocktrans %}I'd like to offer a 30-min trial <toggle-switch ng-model="has_trial"></toggle-switch> at a price of [[ displayTrial ]] TC.{% endblocktrans %}</p>
			</div>
	    	<div class="trial-wrap-2">
	    		<span class="edit-icon hover-pointer" ng-click="trialMobileModal()"><span class="glyphicon glyphicon-pencil mobile-pencil"></span></span>
	    	</div>
	    	<div class="clear"></div>
		</div>
		<div class="mylesson-title-wrap">
			<div class="profile-resume-title">
				<h3 class="mylesson-title">{% trans "My Courses" %}</h3>
			</div>
		</div>
		<div class="trial-area mobile-none">
		    <p class="f13">
		    	{% blocktrans %}I'd like to offer a 30-min trial <toggle-switch ng-model="has_trial"></toggle-switch> at a price of [[ displayTrial ]] TC.{% endblocktrans %}
		    	<span class="edit-icon hover-pointer" ng-click="trialModal()"><span class="glyphicon glyphicon-pencil"></span></span>
		    </p>
		</div>
		<div class="lesson-area">
			<div class="lesson-left lesson-common" ng-repeat="course in course" ng-mouseenter="lessonHover( 'on', $index )" ng-mouseleave="lessonHover( 'off', $index )" ng-style="{ 'background-image' : lesson.display_color + '9' }" >
				<div class="lesson-title">
					<p class="title-left">[[ course.course_name ]]</p>
					<p class="title-right" ng-if="bundleCheck( course )">{% trans "Package" %}</p>
					<div class="divClearfix"></div>
				</div>
				<div class="lesson-wrap left-elem">
					<div class="lesson-language">
						<span>[[ course.language ]]</span>
					</div>
					<div class="lesson-range">
						<span>For [[ course.from_level ]] <span ng-if="course.from_level != course.to_level">~ [[ course.to_level ]]</span></span>
					</div>
					<br />
					<div class="lesson-cost">
						<p> [[ course.sg_60min_price ]]TC / 60{% trans "mins" %}</p>
					</div>
				</div>
				<div class="lesson-edit right-elem mobile-none" ng-show="lessonHoverToggle[$index]">
					<form action="/tutorlessons/lesson/" method="post">
					{% csrf_token %}
						<input type="hidden" name="course_id" ng-value="course.id" />
						<button type="submit" class="edit-icon hover-pointer" style="margin-bottom: 10px;"><span class="glyphicon glyphicon-pencil"></span></button><br />
					</form>
						<button class="edit-icon edit-nomargin hover-pointer" ng-click="removeModal( course.id )"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
				<div class="lesson-edit right-elem mobile-show">
					<form action="/tutorlessons/lesson/" method="post">
					{% csrf_token %}
						<input type="hidden" name="course_id" ng-value="course.id" />
						<button type="submit" class="edit-icon hover-pointer" style="margin-bottom: 10px;"><span class="glyphicon glyphicon-pencil"></span></button><br />
					</form>
						<button class="edit-icon edit-nomargin hover-pointer" ng-click="removeModal( course.id )"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
				<div class="clear"></div>
				<img ng-src="[[ course.filepath ]]" alt="" class="lesson-img" />
				<div class="filter"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="mylesson-add-area" ng-if="course.length < 6">
				<span class="mylesson-add-btn hover-pointer f13" ng-click="addLesson()"><span class="glyphicon glyphicon-plus-sign add-icon"></span>{% trans "Add a new course" %}</span>
			</div>
		<div class="mobile-show mobile-trial"  ng-click="addLesson()">
			<span class="mylesson-add-btn hover-pointer"><span class="glyphicon glyphicon-plus-sign add-icon"></span>{% trans "Add a new course" %}</span>
		</div>
		<!-- Trial lesson modal -->
		<div class="modal fade" id="trialModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm trial-modal">
				<div class="modal-content">
					<div class="modal-header" style="padding-top: 0; padding-bottom: 0;">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h3>{% trans "Trial Lesson" %}</h3>
					</div>
					<div class="modal-body">
						<div class="trial-container">
							{% blocktrans %}<p>I'd like to offer 30-min trial<!--  <toggle-switch ng-model="has_trial"></toggle-switch> --></p>
							<p>at a price of <input type="number" ng-model="trial_price" min="10" max="700" style="width: 50px;"/> Tellpin Credits.</p>
							<p class="mobile-trial-desc f13"> * We advise you to assign a cheaper rate than that of regular lessons. 
								(Min 10 TC, Max 700 TC, Recommended price : 30~70 TC)
								     
								30-min trial helps your potential tutees and you to know each other 
								better having a regular class.
								Some tutees might want to get a 30-min class to have a rough idea of 
								your teaching style whereas others can use the time for introducing 
								themselves, explaining their goals and reasons for taking the lesson, 
								etc. as a warm-up.
							</p>{% endblocktrans %}
							<div style="text-align: center; margin-bottom: 20px;"><button type="button" class="btn btn-primary" ng-click="changeTrial()" style="width: 30%; margin-top: 20px;">{% trans "Save" %}</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Trial mobile modal -->
		<div class="modal fade" id="trialMobileModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm trial-modal">
				<div class="modal-content">
					<div class="modal-body">
						<div class="trial-title">
							<p>{% trans "Enter your price from Min 10 TC to Max 700 TC (Recommended price : 30~70 TC)" %}</p>
						</div>
						<div class="trial-body"><input type="number" class="mobile-trial-input" ng-model="trial_price" min="10" max="100" />&nbsp;&nbsp;TC</div>
						<div class="trial-footer">
							<button type="button" class="btn btn-danger" ng-click="closeTrialMobile()">{% trans "Cancel" %}</button>
							<button type="button" ng-click="changeTrial( isTutor )" class="btn btn-primary">{% trans "Submit" %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Delete lesson modal -->
		<div class="modal fade" id="lessonDeleteModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm" style="top: 180px;">
				<div class="modal-content" style="width: 400px; ">
					<div class="modal-header" style="border-bottom: 0;">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p style="font-size: 16px; margin-bottom: 20px;">{% trans "Are you sure you want to delete the course?" %}</p>
						<div style="text-align: center;">
						<button type="button" class="btn btn-danger" ng-click="removeModalClose()">{% trans "Cancel" %}</button>
						<button type="button" class="btn btn-primary" ng-click="deleteLesson()">{% trans "Delete" %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<script type="text/javascript" src="{% static 'js/masonry/masonry.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tutoring/tutoring.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tutoring/tutor_mylesson.js' %}"></script>

{% endblock %}