{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "Tutor" %} : {% trans "My Courses" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/tutoring/tutor_lesson_add.css' %}" />
<link rel="stylesheet" href="{% static 'css/tutoring/tutor_mylesson.css' %}" />
<link rel="stylesheet" href="{% static 'css/tutoring/tutor_schedule.css' %}" />

<div class="tutor-schedule-content">
	<div class="tutor-schedule-container" ng-controller="newLessonCtrl">
		<div class="col-xs-2 mylesson-side">
			{% include 'tutoring/tutoring_menu.html' %}
		</div>
		<div class="col-xs-10 lesson-add"  ng-init="init( {{ data }} ); ">
			<div class="add-lesson-title">
				<h3>{% trans "My Courses" %}</h3>
			</div>
			
			<div class="add-lesson-content">
				<div class="add-lesson-row row-a">
					<strong>{% trans "What language do you want to teach?" %}</strong>
					<select class="lesson-select mobile-none" name="" id="" ng-model="course.course_lang" ng-options="speak.id as speak.language for speak in speakList" style="display: inline-block;" >
						<option value="" disabled="disabled">{% trans "Select language" %}</option>
						<!-- <option ng-value="speak.id" ng-repeat="speak in speakList" ng-model="lesson.language" ng-selected="lesson.language == speak.id">[[ speak.language ]]</option> -->
					</select>
					<select class="lesson-select mobile-show" name="" id="" ng-model="course.course_lang" ng-options="speak.id as speak.language for speak in speakList" >
						<!-- <option ng-value="speak.id" ng-repeat="speak in speakList" ng-model="lesson.language" ng-selected="lesson.language == speak.id">[[ speak.language ]]</option> -->
					</select>
				</div>
				<div class="add-lesson-row row-b">
					<strong>{% trans "Course name" %} :</strong>
					<input type="text" ng-model="course.course_name" ng-blur="checkLength( 'name' )" /><br />
					<span class="err" ng-if="nameValid || course.course_name.length > 25" style="margin-left: 104px;">{% trans "Please use between 5 and 25 characters." %}</span>
				</div>
				<div class="add-lesson-row row-c">
					<strong class="lesson-a">{% trans "Description" %} :</strong>
					<textarea name="" id="" cols="30" rows="10" ng-model="course.course_desc" ng-blur="checkLength( 'desc' )"></textarea><br />
					<span class="err" style="margin-left: 108px;" ng-if="descValid || ( course.course_desc.length > 1000 )">{% trans "Please use between 10 and 1000 characters." %}</span>
				</div>
				<div class="add-lesson-row row-d">
					<strong>{% trans "Expected Tutee's language level" %} : </strong>
						<span>{% trans "From" context "level" %}</span>
					<select class="mobile-none" name="" id="" ng-model="course.course_level_from" ng-options="from.id as from.level_name for from in fromList">
<!--  						<option value="" disabled="disabled">From</option>	-->
					</select>
					<span> &nbsp;{% trans "To" context "level" %}</span>
					<select class="mobile-none" name="" id="" ng-model="course.course_level_to" ng-options="to.id as to.level_name for to in toList">
<!-- 						<option value="" disabled="disabled">To</option>	 -->
					</select>
					<div class="mobile-row-d mobile-show">
						<div class="mobile-row-first">
							<span>{% trans "From" context "level" %}</span>						
							<select name="" id="" ng-model="course.course_level_from" ng-options="from.id as from.level_name for from in fromList">
							</select>
						</div>
						<div class="mobile-row-second">
							<span>{% trans "To" context "level" %}</span>
							<select name="" id="" ng-model="course.course_level_to" ng-options="to.id as to.level_name for to in toList">
							</select>											
						</div>
					</div>
				</div>

				<div class="add-lesson-row row-e">
					<table id="table" border="1">
						<tr>
							<td colspan="2" rowspan="2" class="duration">{% trans "Duration" %}<br>&nbsp;&nbsp;({% trans "mins" %})</td>
							<td colspan="2" id="single" class="single">{% trans "Single" %}</td>
							<td colspan="5">{% trans "Package" %}</td>
						</tr>
						<tr>
							<td class="singleTC">{% trans "Price" %}<br>(TC)</td>
							<td class="singleUSD">{% trans "Price" %}<br>([[currency_user]])</td>
							<td >{% trans "Time(s)" %}</td>
							<td >{% trans "Price per Lesson" %}<br>(TC)</td>
							<td >{% trans "Total Price" %}<br>(TC)</td>
							<td >{% trans "Total Price" %}<br>([[currency_user]])</td>
							<td >{% trans "Discount" %}<br>&nbsp;&nbsp;&nbsp;&nbsp;(%)</td>
						</tr>

						<tr>
						<td nowrap="nowrap"><input type="checkbox" ng-model="course.course_has_30min" ng-click="checkHasCourse( '30' )"></td>
							<td>30</td>
							<td nowrap="nowrap">
								<div class="form-inline">
									<input class="form-control sg_30_price" type="text" maxlenth="3" style="width:50px" ng-model="course.sg_30min_price" ng-disabled="course.course_has_30min == 0" ondragenter="return false" disabled="disabled" ng-click="hideTooltip('sg_30min_price-tooltip')"/>
								</div>
							</td>
							<td nowrap="nowrap">
								<div>
								[[course.sg_30min_price * currency / 10 | number]]
<!-- 									<input class="form-control" type="text" maxlenth="3" ng-model="course.sg_30min_price / 10"  ondragenter="return false" disabled="disabled"/>	 -->
								</div>
								
							</td>
							<td>
								<select class="form-control" ng-model="course.pkg_30min_times" ng-disabled="course.course_has_30min == 0" disabled="disabled" ng-change="changeTime('30')" ng-options="pkg_time.id as pkg_time.name for pkg_time in packageTimeList"></select>
							</td>
							<td>
								<div class="form-inline">
									<input class="form-control pkg_30_price" type="number" maxlenth="3" style="width:50px" ng-model="course.pkg_30min_price" min="0" ng-disabled="course.pkg_30min_times == 0" ng-click="hideTooltip('pkg_30min_price-tooltip')"/>
								</div>
							</td>
							<td nowrap="nowrap"> [[course.pkg_30min_price * course.pkg_30min_times]] </td>
							<td nowrap="nowrap"> [[course.pkg_30min_price * course.pkg_30min_times * currency / 10 | number]] </td>
							<td nowrap="nowrap"> [[( (((course.sg_30min_price * course.pkg_30min_times) - (course.pkg_30min_price * course.pkg_30min_times)) / (course.sg_30min_price * course.pkg_30min_times)) * 100 ) | number : 2 ]] </td>
						</tr>
						<td nowrap="nowrap"><input type="checkbox" ng-model="course.course_has_60min" ng-checked="course.course_has_60min==1" disabled="disabled" ng-click=""></td>
							<td>60</td>
							<td nowrap="nowrap">
								<div class="form-inline">
									<input class="form-control sg_60_price" type="text" maxlenth="3" style="width:50px" ng-model="course.sg_60min_price" ng-disabled="course.course_has_60min == 0" ondragenter="return false" disabled="disabled" ng-click="hideTooltip('sg_60min_price-tooltip')"/>
								</div>
							</td>
							<td nowrap="nowrap">
								<div>[[course.sg_60min_price * currency / 10 | number]]</div>
							</td>
							<td>
								<select class="form-control" ng-model="course.pkg_60min_times" ng-disabled="course.course_has_60min == 0" disabled="disabled" ng-change="changeTime('60')" ng-options="pkg_time.id as pkg_time.name for pkg_time in packageTimeList"></select>
							</td>
							<td>
								<div class="form-inline">
									<input class="form-control pkg_60_price" type="number" maxlenth="3" style="width:50px" ng-model="course.pkg_60min_price" min="0" ng-disabled="course.pkg_60min_times == 0" ng-click="hideTooltip('pkg_60min_price-tooltip')"/>
								</div>
							</td>
							<td nowrap="nowrap"> [[course.pkg_60min_price * course.pkg_60min_times]] </td>
							<td nowrap="nowrap"> [[course.pkg_60min_price * course.pkg_60min_times * currency / 10 | number]] </td>
							<td nowrap="nowrap"> [[( (((course.sg_60min_price * course.pkg_60min_times) - (course.pkg_60min_price * course.pkg_60min_times)) / (course.sg_60min_price * course.pkg_60min_times)) * 100 ) | number : 2 ]] </td>
						</tr>
						<td nowrap="nowrap"><input type="checkbox" ng-model="course.course_has_90min" ng-click="checkHasCourse( '90' )"></td>
							<td>90</td>
							<td nowrap="nowrap">
								<div class="form-inline">
									<input class="form-control sg_90_price" type="text" maxlenth="3" style="width:50px" ng-model="course.sg_90min_price" ng-disabled="course.course_has_90min == 0" ondragenter="return false" disabled="disabled" ng-click="hideTooltip('sg_90min_price-tooltip')"/>
								</div>
							</td>
							<td nowrap="nowrap">
								<div>
								[[course.sg_90min_price * currency / 10 | number]]</div>
							</td>
							<td>
								<select class="form-control" ng-model="course.pkg_90min_times" ng-disabled="course.course_has_90min == 0" disabled="disabled" ng-change="changeTime('90')" ng-options="pkg_time.id as pkg_time.name for pkg_time in packageTimeList"></select>
							</td>
							<td>
								<div class="form-inline">
									<input class="form-control pkg_90_price" type="number" maxlenth="3" style="width:50px" ng-model="course.pkg_90min_price" min="0" ng-disabled="course.pkg_90min_times == 0" ng-click="hideTooltip('pkg_90min_price-tooltip')"/>
								</div>
							</td>
							<td nowrap="nowrap"> [[course.pkg_90min_price * course.pkg_90min_times]] </td>
							<td nowrap="nowrap"> [[course.pkg_90min_price * course.pkg_90min_times * currency / 10 | number]] </td>
							<td nowrap="nowrap"> [[( (((course.sg_90min_price * course.pkg_90min_times) - (course.pkg_90min_price * course.pkg_90min_times)) / (course.sg_90min_price * course.pkg_90min_times)) * 100 ) | number : 2 ]] </td>
						</tr>
<!-- 
						<tr class="tableRow disabled">
							<td nowrap="nowrap"><input type="checkbox" ng-model="course.course_has_30min" ng-click="checkHasCourse( '30' )"></td>
							<td nowrap="nowrap">30</td>
							<td nowrap="nowrap"><input  type="number" ng-model="course.sg_30min_price" min="0" ng-disabled="course.course_has_30min == 0"/></td>
							<td nowrap="nowrap">[[course.sg_30min_price / 10]]</td>
							<td nowrap="nowrap"><select class="select30 disabled" ng-model="course.pkg_30min_times" ng-disabled="course.course_has_30min == 0" disabled="disabled" ng-options="pkg_time.id as pkg_time.name for pkg_time in packageTimeList"></select></td>
							<td ng-disabled="course.pkg_30min_times==0"><input type="number" ng-model="course.pkg_30min_price" min="0" ng-disabled="course.course_has_30min == 0"/></td>
							<td nowrap="nowrap"> [[course.pkg_30min_price * course.pkg_30min_times]] </td>
							<td nowrap="nowrap"> [[course.pkg_30min_price * course.pkg_30min_times / 10]] </td>
							<td nowrap="nowrap"> [[( (((course.sg_30min_price * course.pkg_30min_times) - (course.pkg_30min_price * course.pkg_30min_times)) / (course.sg_30min_price * course.pkg_30min_times)) * 100 ) | number : 2 ]] </td>
						</tr>
						<tr class="tableRow disabled">
							<td><input type="checkbox" ng-model="course.course_has_60min" ng-checked="course.course_has_60min==1" disabled="disabled"></td>
							<td>60</td>
							<td ><input type="number" ng-model="course.sg_60min_price" min="0" ng-disabled="course.course_has_60min == 0"/></td>
							<td >[[course.sg_60min_price / 10]]</td>
							<td><select class="select60 disabled" ng-model="course.pkg_60min_times" ng-disabled="course.pkg_60min_times == 'N/a'" ng-options="pkg_time.id as pkg_time.name for pkg_time in packageTimeList"></select></td>
							<td ng-disabled="course.pkg_60min_times==0"><input type="number" ng-model="course.pkg_60min_price" min="0" ng-disabled="course.course_has_60min == 0"/></td>
							<td> [[course.pkg_60min_price * course.pkg_60min_times]] </td>
							<td> [[course.pkg_60min_price * course.pkg_60min_times / 10]] </td>
							<td> [[( (((course.sg_60min_price * course.pkg_60min_times) - (course.pkg_60min_price * course.pkg_60min_times)) / (course.sg_60min_price * course.pkg_60min_times)) * 100 ) | number : 2 ]] </td>
						</tr>
						<tr class="tableRow disabled">
							<td><input type="checkbox" ng-model="course.course_has_90min" ng-click="checkHasCourse('90')"></td>
							<td>90</td>
							<td ><input type="number" ng-model="course.sg_90min_price" min="0" ng-disabled="course.course_has_90min == 0"/></td>
							<td >[[course.sg_90min_price / 10]]</td>
							<td><select class="select90 disabled" ng-model="course.pkg_90min_times" ng-disabled="course.course_has_90min == 0" disabled="disabled" ng-options="pkg_time.id as pkg_time.name for pkg_time in packageTimeList"></select></td>
							<td ng-disabled="course.pkg_90min_times==0"><input type="number" ng-model="course.pkg_90min_price" min="0" ng-disabled="course.course_has_90min == 0"/></td>
							<td> [[course.pkg_90min_price * course.pkg_90min_times]] </td>
							<td> [[course.pkg_90min_price * course.pkg_90min_times / 10]] </td>
							<td> [[( (((course.sg_90min_price * course.pkg_90min_times) - (course.pkg_90min_price * course.pkg_90min_times)) / (course.sg_90min_price * course.pkg_90min_times)) * 100 ) | number : 2 ]] </td>
						</tr>
 -->
					</table>
				</div>
				<div class="row-h">
					<div class="row-h-title">
						<strong>{% trans "Choose background picture that best describes your course." %}</strong><br />
						<!-- <simplecolorpicker scp-inline="false" scp-picker="true" scp-colors="EventColors" scp-color="selectedColor"></simplecolorpicker> -->
						<br />				
					</div>
					<div class="row-h-ex">
						<div class="left-elem ex-course">{% trans "Preview" %}</div>
						<div class="lesson-area left-elem">
							<div class="lesson-left lesson-common" ng-style="">
								<div class="lesson-title">
									<p class="title-left" id="lessonTitle">[[ course.course_name ]]</p>
									<p class="title-right" ng-if="course.duration30.pkg_time > 0 || course.duration60.pkg_time > 0 || course.duration90.pkg_time > 0">{% trans "Package" %}</p>
									<div class="clear"></div>
								</div>
								<div class="lesson-wrap left-elem">
									<div class="lesson-language">
										<span ng-repeat="i in speakList" ng-if="i.id == course.course_lang">[[ i.language ]]</span>
									</div>
									<div class="lesson-range">
										<span><span ng-repeat="i in fromList" ng-if="i.id == course.course_level_from">For [[ i.level_name ]]</span><span ng-repeat="i in toList" ng-if="i.id == course.course_level_to && course.course_level_from != course.course_level_to"> ~ [[ i.level_name ]]</span></span>
									</div>
									<div class="lesson-cost">
										<span>[[ course.sg_60min_price ]] TC / 60 {% trans "mins" %}</span>
									</div>
								</div>
								<div class="lesson-edit right-elem" ng-if="lessonHoverToggle[$index]">
									<p class="edit-icon hover-pointer"><span class="glyphicon glyphicon-pencil"></span></p>
									<p class="edit-nomargin hover-pointer"><span class="glyphicon glyphicon-trash"></span></p>
								</div>
								<div class="clear"></div>
								<img ng-src="[[ setImg.filepath ]]" alt="" class="lesson-img" />
								<div class="filter"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<!-- <div class="row-i">
					<p>i. I'd like to offer 30-min trial <label class="checkbox-inline"><input type="checkbox" class="trial-checkbox" /><span>&nbsp;</span></label>at a price of <input type="text" class="trial-text" />C.</p>
					<p>* We advise you to assign a cheaper rate than that of regular lessons. (Min 10C, Max 200C)</p>
	    			<p>30-min trial helps your potential tutees and you to know each other better having a regular class.</p>
	     			<p>Some tutees might want to get a 30-min class to have a rough idea of your teaching style</p>
	     			<p>whereas others can use the time for introducing themselves, explaining their goals and reasons</p> 
	     			<p>for taking the lesson, etc. as a warm-up.</p>
				</div> -->
				<div class="row-i">
					<div class="back-head">
						<div class="back-tab left-elem" ng-class="{ 'active-back-tab' : tabType == 1 }" ng-click="getCourseImg( 1 )">{% trans "Business" %}</div>
						<div class="back-tab left-elem" ng-class="{ 'active-back-tab' : tabType == 2 }" ng-click="getCourseImg( 2 )">{% trans "National flags" %}</div>
						<div class="back-tab left-elem" ng-class="{ 'active-back-tab' : tabType == 3 }" ng-click="getCourseImg( 3 )">{% trans "People" %}</div>
						<div class="back-tab left-elem" ng-class="{ 'active-back-tab' : tabType == 4 }" ng-click="getCourseImg( 4 )">{% trans "Scenery" %}</div>
						<div class="back-tab left-elem" ng-class="{ 'active-back-tab' : tabType == 5 }" ng-click="getCourseImg( 5 )">{% trans "Themes" %}</div>
						<div class="clear"></div>
					</div>
					<div class="back-img">
						<img ng-repeat="i in courseImg track by $index" ng-src="[[ i.filepath ]]" alt="" class="back-img-elem hover-pointer" ng-click="selectImg( i )" />
					</div>
				</div>
				<div class="row-btn">
					<button class="profile-back-btn h26 bg-gray f13" type="button" ng-click="lessonBack()">{% trans "Cancel" %}</button>
					<button class="profile-continue-btn h26 bg-blue f13" type="button" ng-click="saveLesson()">{% trans "Save" %}</button>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div id="sg_30min_price-tooltip" class="course-tooltip"></div>
		<div id="pkg_30min_price-tooltip" class="course-tooltip"></div>
		<div id="sg_60min_price-tooltip" class="course-tooltip"></div>
		<div id="pkg_60min_price-tooltip" class="course-tooltip"></div>
		<div id="profile-month-tooltip" class="course-tooltip"></div>
		<div id="sg_90min_price-tooltip" class="course-tooltip"></div>
		<div id="pkg_90min_price-tooltip" class="course-tooltip"></div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/tutoring/tutor_lesson_add.js' %}"></script>

{% endblock %}