{% extends "base_template.html" %}
{% load i18n %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% block title %}{% trans "My Contents" %} | {% trans "Tellpin" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/people/my_tutor.css' %}" />
<link rel="stylesheet" href="{% static 'css/tutor/tutor_info.css' %}" />
<link rel="stylesheet" href="{% static 'css/mycontent/mycontent.css' %}" />


<div class="tp-container" style="padding-top: 41px;" ng-controller="mycontentCtrl" ng-init="init( {{ data }} )">
	<div class="tp-content">
		<div class="mycontent-left left">
			<ul class="side">
				<li class="side-menu-title">{% trans "By Content Type" %}</li>
				<div class="side-menu-underline"></div>
				<li class="side-menu pointer top-menu" ng-class="{ 'side-active' : type == 'lbAll' }" ng-click="getMyContentList( 'lbAll' )">{% trans "Language Learning Board" %}</a></li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'lbAdd' }" ng-click="getMyContentList( 'lbAdd' )">{% blocktrans %}[[ lb.add == 0 ? '0' : lb.add ]] Post<span ng-if="lb.add > 1">s</span> I added{% endblocktrans %}</a></li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'lbComment' }" ng-click="getMyContentList( 'lbComment' )">{% blocktrans %}[[ lb.comment == 0 ? '' : lb.comment ]] Comment<span ng-if="lb.comment > 1">s</span>{% endblocktrans %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'lbVote' }" ng-click="getMyContentList( 'lbVote' )">{% blocktrans %}[[ lb.vote == 0 ? '0' : lb.vote ]] Post<span ng-if="lb.vote > 1">s</span> I upvoted{% endblocktrans %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'lbPin' }" ng-click="getMyContentList( 'lbPin' )">{% blocktrans %}[[ lb.pin == 0 ? '0' : lb.pin ]] Post<span ng-if="lb.pin > 1">s</span> I pinned{% endblocktrans %}</li>
				<li class="side-menu pointer top-menu" ng-class="{ 'side-active' : type == 'tpAll' }" ng-click="getMyContentList( 'tpAll' )">{% trans "Translation & Proofreading" %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'tpQuestion' }" ng-click="getMyContentList( 'tpQuestion' )">{% blocktrans %}[[ tp.question == 0 ? '0' : tp.question ]] Request<span ng-if="tp.question > 1">s</span> I made{% endblocktrans %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'tpAnswer' }" ng-click="getMyContentList( 'tpAnswer' )">{% blocktrans %}[[ tp.answer == 0 ? '0' : tp.answer ]] Answer<span ng-if="tp.answer > 1">s</span> I added{% endblocktrans %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'tpComment' }" ng-click="getMyContentList( 'tpComment' )">{% blocktrans %}[[ tp.comment == 0 ? '' : tp.comment ]] Post<span ng-if="tp.comment > 1">s</span> I commented on{% endblocktrans %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'tpVote' }" ng-click="getMyContentList( 'tpVote' )">{% blocktrans %}[[ tp.vote == 0 ? '0' : tp.vote ]] Answer<span ng-if="tp.vote > 1">s</span> I upvoted{% endblocktrans %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'tpPin' }" ng-click="getMyContentList( 'tpPin' )">{% blocktrans %}[[ tp.pin == 0 ? '0' : tp.pin ]] Question<span ng-if="tp.pin > 1">s</span> I pinned{% endblocktrans %}</li>
				<li class="side-menu pointer top-menu" ng-class="{ 'side-active' : type == 'lqAll' }" ng-click="getMyContentList( 'lqAll' )">{% trans "Language Questions" %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'lqQuestion' }" ng-click="getMyContentList( 'lqQuestion' )">{% blocktrans %}[[ lq.question == 0 ? '0' : lq.question ]] Question<span ng-if="lq.question > 1">s</span> I added{% endblocktrans %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'lqAnswer' }" ng-click="getMyContentList( 'lqAnswer' )">{% blocktrans %}[[ lq.answer == 0 ? '0' : lq.answer ]] Answer<span ng-if="lq.answer > 1">s</span> I added{% endblocktrans %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'lqComment' }" ng-click="getMyContentList( 'lqComment' )">{% blocktrans %}[[ lq.comment == 0 ? '' : lq.comment ]] Post<span ng-if="lq.comment > 1">s</span> I commented on{% endblocktrans %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'lqVote' }" ng-click="getMyContentList( 'lqVote' )">{% blocktrans %}[[ lq.vote == 0 ? '0' : lq.vote ]] Answer<span ng-if="lq.vote > 1">s</span> I upvoted{% endblocktrans %}</li>
				<li class="side-menu pointer sub-menu" ng-class="{ 'side-active' : type == 'lqPin' }" ng-click="getMyContentList( 'lqPin' )">{% blocktrans %}[[ lq.pin == 0 ? '0' : lq.pin ]] Question<span ng-if="lq.pin > 1">s</span> I pinned{% endblocktrans %}</li>
			</ul>
		</div>
		<div class="mycontent-right left">
			<div class="community-all-list">
				<div class="empty-row" ng-show="item.list.length == 0">{% trans "No Content Found" %}</div>
				<div class="community-tab-row" ng-repeat="i in item.list" ng-click="moveUrl( i )">
					<div class="activity">
						<span ng-if="i.TYPE == 'post'">{% trans "Added" %}</span>
						<span ng-if="i.TYPE == 'vote'">{% trans "Upvoted" %}</span>
						<span ng-if="i.TYPE == 'pin'">{% trans "Pinned" %}</span>
						<span ng-if="i.kind == 'question'">{% trans "Asked" %}</span>
						<span ng-if="i.kind == 'answer'">{% trans "Answered" %}</span>
						<span ng-if="i.kind == 'comment'">{% trans "Commented" %}</span>
						<span ng-if="i.TYPE == 'comment'">{% trans "Commented" %}</span>
						<span ng-if="i.kind == 'vote'">{% trans "Upvoted" %}</span>
						<span ng-if="i.kind == 'pin'">{% trans "Pinned" %}</span>
						<span>[[ i.writeDay | date : 'MMM. d' : 'utc' ]]</span>
					</div>
					<div class="community-writer-img">
						<img ng-src="[[ i.profile_photo ]]" alt="" class="suggest-le-photo" onerror='javascript:this.src="/static/img/user_auth/icon_person.png"' />
					</div>
					<div class="community-post-info">
						<div class="community-post-desc">
							<span class="point" ng-if="!(type == 'lbAll' || type == 'lbAdd' || type == 'lbComment' || type == 'lbVote' || type == 'lbPin') && (i.bestanswer == null)" >[[ i.point ]]</span>
							<span class="point-bestanswer" ng-if="!(type == 'lbAll' || type == 'lbAdd' || type == 'lbVote' || type == 'lbPin' || i.bestanswer == null)" >[[ i.point ]]</span>
							{% blocktrans %}<span>[[ i.name ]]</span>
							<span class="normal" ng-if="type == 'lbAll' || type == 'lbComment' || type == 'lbAdd' || type == 'lbVote' || type == 'lbPin'">posted on a</span>
							<span class="normal" ng-if="type == 'tpAll' || type == 'tpQuestion' || type == 'tpAnswer' || type == 'tpComment' || type == 'tpVote' || type == 'tpPin'">asked for</span>
							<span class="normal" ng-if="type == 'lqAll' || type == 'lqQuestion' || type == 'lqAnswer' || type == 'lqComment' || type == 'lqVote' || type == 'lqPin'">asked a</span>
							<span ng-if="type == 'lbAll' || type == 'lbAdd' || type == 'lbVote' || type == 'lbPin'">Board</span>
							<span ng-if="( type == 'tpAll' || type == 'tpQuestion' || type == 'tpAnswer' || type == 'tpComment' || type == 'tpVote' || type == 'tpPin' ) && i.type == 'P'">Proofreading</span>
							<span ng-if="( type == 'tpAll' || type == 'tpQuestion' || type == 'tpAnswer' || type == 'tpComment' || type == 'tpVote' || type == 'tpPin' ) && i.type == 'T'">Translation</span>
							<span ng-if="type == 'lqAll' || type == 'lqQuestion' || type == 'lqAnswer' || type == 'lqComment' || type == 'lqVote' || type == 'lqPin'">Question</span>{% endblocktrans %}
							:
							<span>[[ i.title ]]</span>
						</div>
						<div class="community-post-content">
							[[ i.content | getText ]]
						</div>
						<div class="community-post-count">
							<div class="post-answer-comment">
								<span ng-if="!(type == 'lbAll' || type == 'lbAdd' || type == 'lbComment' || type == 'lbVote' || type == 'lbPin')">{% blocktrans %}[[ i.answer_count ]]&nbsp;Answer<span ng-if="i.answer_count > 1">s</span>{% endblocktrans %}</span>&nbsp;&nbsp;&nbsp;{% blocktrans %}[[ i.comment_count]]&nbsp;Comment<span ng-if="i.comment_count > 1">s</span>{% endblocktrans %}
							</div>
							<div class="post-language-time">
								<span ng-if="type == 'lbAll' || type == 'lbAdd' || type == 'lbVote' || type == 'lbPin'">{% blocktrans %}[[ i.learning ]]<span>&nbsp;explained in &nbsp;[[ i.explained ]]&nbsp;</span>{% endblocktrans %}</span>	
								<span>[[ i.written ]]</span>
								<span ng-if="( i.written != i.translated ) && i.translated">&nbsp;&gt;&nbsp;[[ i.translated]]</span>
								|&nbsp;&nbsp; [[ i.utc_zero | displayTime : browser ]]							
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="dash-more-button btn btn-default" ng-if="item.has_next == 1" ng-click="showMore( item.page + 1 )">{% trans "Show more" %}</div>
		</div>
		<div class="clear"></div>
	</div>

	
</div>

<script type="text/javascript" src="{% static 'js/mycontent/mycontent.js' %}"></script>

{% endblock %}